<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.user_profile {
  height: 300px;
  overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">
<div class="w3-container w3-content" style="max-width:1400px;margin-top:60px">
<div class="col-md-12 col-sm-12">
<div class="row">

<div class="col-md-3 col-sm-3">
<div class="user_profile w3-panel w3-card w3-responsive">
<h5 class=""><b></b></h5>
</br>
<%if @user.business_type == 'Retail store'%>
<i><%=image_tag "Paper.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Agriculture,Animal,Food & Beverages'%>
<i><%=image_tag "Agriculture.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Apparel, Textile & Leather'%>
<i><%=image_tag "Apparel.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Fashion Accessories & wear'%>
<i><%=image_tag "FashionAccessories.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Cosmetic & Beauty'%>
<i><%=image_tag "Cosmetic.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Sports & Fitness'%>
<i><%=image_tag "Sports.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Automobiles & Transportations'%>
<i><%=image_tag "Automobiles.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Computer & Telecommunication'%>
<i><%=image_tag "Computer.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Electronics'%>
<i><%=image_tag "Electronics.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Electrical'%>
<i><%=image_tag "Electrical.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Education service business'%>
<i><%=image_tag "College.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Buildings & Construction'%>
<i><%=image_tag "Furniture.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'School, College & University'%>
<i><%=image_tag "College.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Hospital & Medical'%>
<i><%=image_tag "Hospital.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Household & Kitchen'%>
<i><%=image_tag "Household.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Hotel/Touism/Paying guest'%>
<i><%=image_tag "Furniture.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Machinery & Industrial parts'%>
<i><%=image_tag "Machinery.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Manufacturer'%>
<i><%=image_tag "Machinery.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Valuable Jewelry, Gem & Metal'%>
<i><%=image_tag "ValuableJewelry.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Wholesaler/Distributor'%>
<i><%=image_tag "Businessservices.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Bags, Rubber & Plastics'%>
<i><%=image_tag "Bags.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Energy, Environments & Power'%>
<i><%=image_tag "Energy.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Exporter/Importer'%>
<i><%=image_tag "Businessservices.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Paper & Packing material'%>
<i><%=image_tag "Paper.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Printing, publishing & Hardware'%>
<i><%=image_tag "Printing.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Security, Alarm & Safety'%>
<i><%=image_tag "Security.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Laboratory & Measuring instruments'%>
<i><%=image_tag "Laboratory.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Pipes, Tubes & Fitting'%>
<i><%=image_tag "Pipes.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Handicrafts, Toys, Gifts & Crafts'%>
<i><%=image_tag "Toys.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Furniture & Furnishings'%>
<i><%=image_tag "Furniture.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Games, Movies & Entertainment'%>
<i><%=image_tag "Games.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%elsif @user.business_type == 'Business services & Freelancer'%>
<i><%=image_tag "Businessservices.png",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%else%>
<i><%=image_tag "",class: "img-responsive",:size => "60x40",style: "width:40%" %></i>
<%end%>
<h3 class=""><b><%=@user.fullname.first(20).capitalize%></b></h3>
<h4 class=""><%=@user.business_type%></h4>
<h5 class=""><%=@user.country.first(25).capitalize%></h5>
<h5 class=""><%=@user.email.first(30).capitalize%></h5>
<h5 class=""><%=@user.mobile_number.first(20).capitalize%></h5>
</div>
</div>


<div class="col-md-9 col-sm-9">
<div class="user_profile w3-panel w3-card w3-responsive">
<div class="w3-container w3-padding">
<h4 class="w3-text-teal"><b>Business Information</b></h4>
<%if @user.profiles.length == 0%>
<% if user_signed_in? %>
<% if current_user.id == @user.id%>
<h5 class=""><%=link_to"Add Business Information.",new_profile_path,class: "w3-teal w3-btn w3-border w3-hover-blue-grey"%></h5>
<p class="w3-text-red">Enhance your company's visibility by adding business information for better buyer understanding.</p>
<%end%>
<%end%>
<%end%>

<%@user.profiles.limit(1).each do |data| %>
<p><b>Product : </b><%=data.product_name%></p>
<p><b>Company : </b><%=data.company_name%></p>
<p><b>Minimun Order : </b><%=data.minimun_order%></p>
<p><b>Target Country : </b><%=data.target_country%></p>
<p><b>Company Info : </b><%=data.about_company%></p>
<% if current_user == data.user %>

<div class="d-flex align-items-center justify-content-start">
  <%= link_to "Edit",edit_profile_path(user_id: @user.id, profile_id: data.id), class: "w3-teal w3-btn mr-3"%>
  <%= button_to "Delete", profile_path(data), method: :delete,class: "w3-teal w3-btn", data: { confirm: 'Are you sure?' } %>
</div>
<%end%>
<%end%>
</div>
</div>
</div>

</div>
</div>


<% if user_signed_in? %>
<% if current_user.id == @user.id%>
<div class="col-md-12 col-sm-12 w3-light-grey">
<div class="w3-row">
<div class="w3-panel w3-card w3-responsive">
<h5 class="w3-text-teal"><b>Message sent as an Inquiry</b></h5>


<%if @user.connect_buyers.length == 0%>
<p class="">In Free Account: You Can Connect with Two Buyers</p>
<p><%=link_to"Connect Buyer",exportleads_path,class: "w3-btn w3-teal w3-button w3-border w3-hover-blue-grey"%></p>
<%elsif @user.connect_buyers.length >= 2%>
<p class="w3-text-red">Free Account:You Can Connect With Two Buyers. Unlock Unlimited Access.</p>
<p><%=link_to"Contact Us",new_home_path,class: "w3-btn w3-teal w3-button w3-border w3-hover-blue-grey"%></p>
<%end%>


<%@user.connect_buyers.limit(2).each do |buyer|%>
  <div class="col-md-4 col-sm-4">
    <div class="w3-panel w3-card w3-responsive">
      <div class="w3-container w3-padding">
        <p><%=buyer.name%></p>
        <p><%=buyer.email%></p>
        <p><%=buyer.country%></p>
        <p><%=buyer.Phone_number%></p>
        <p><%=buyer.product_detail%></p>
        <p><%=buyer.message%></p>
        <% if current_user == buyer.user %>
        <div class="d-flex align-items-center justify-content-start">
          <%= link_to "Edit", edit_connect_buyer_path(user_id: current_user.id, buyer_id: buyer.id), class: "w3-teal w3-btn mr-3"%>
          <%= button_to "Delete", connect_buyer_path(buyer), method: :delete, class: "w3-teal w3-btn", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
  <%end%>
<%end%>
</div>
</div>
</div>
<%end%>
<%end%>

</div>





</body>
</html>

