<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body>
<div class="sign-up-fluid w3-container w3-content" style="max-width:1400px;margin-top:60px"> 

<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
<div class="w3-panel w3-card w3-white">

<h2 class="w3-text-teal">Edit <%= resource_name.to_s.humanize %></h2>
</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { data: { turbo: false} }, html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="field">
    <b><%= f.label :name,"Name",class: "signin-text" %> : </b><br /> 
    <%= f.text_field :fullname,autofocus: true,placeholder: "Full Name", :maxlength=>"40",class: "form-control" %>
  </div></br>

    <div class="field"> 
    <b><%= f.label :country,"Country",class: "signin-text" %> : </b><br />
    <%= f.text_field :country, placeholder: "Your Country", :maxlength=>"20",class: "form-control"  %>
  </div></br>

  <div class="field">
 <b> <%= f.label :Business_Type,class: "signin-text" %> : </b><br />
    <%= f.select :business_type,[["Select One", " "],
['Retail store'],
['Agriculture,Animal,Food & Beverages'], 
['Apparel, Textile & Leather'], 
['Fashion Accessories & wear'],
['Cosmetic & Beauty'], 
['Sports & Fitness'], 
['Automobiles & Transportations'], 
['Computer & Telecommunication'], 
['Electronics'], 
['Electrical'],
['Education service business'],  
['Buildings & Construction'], 
['School, College & University'],
['Hospital & Medical'], 
['Household & Kitchen'], 
['Hotel/Touism/Paying guest'], 
['Machinery & Industrial parts'],
['Manufacturer'],
['Valuable Jewelry, Gem & Metal'],
['Wholesaler/Distributor'], 
['Bags, Rubber & Plastics'], 
['Energy, Environments & Power'], 
['Exporter/Importer'],
['Paper & Packing material'], 
['Printing, publishing & Hardware'],
['Security, Alarm & Safety'], 
['Laboratory & Measuring instruments'], 
['Pipes, Tubes & Fitting'], 
['Handicrafts, Toys, Gifts & Crafts'], 
['Furniture & Furnishings'], 
['Games, Movies & Entertainment'], 
['Business services & Freelancer']],{},class: "form form-group form-control"%>
  </div>

   <div class="field">
    <b><%= f.label :Mobile_Number,class: "signin-text" %> : </b><br />
    <%= f.text_field :mobile_number,:size=>"55",:maxlength=>"30",class: "form-control",placeholder: "Mobile_Number" %>
  </div></br>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:maxlength=>"40",class: "form-control"  %>
  </div>
</br>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",:maxlength=>"40",class: "form-control"  %>
    <% if @minimum_password_length %>
      
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
</br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:maxlength=>"40",class: "form-control"  %>
  </div>
</br>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password",:maxlength=>"40",class: "form-control"  %>
  </div>
</br>
  <div class="actions">
    <%= f.submit "Update",class: "w3-teal w3-btn" %>
  </div>
<% end %>
</br>
<b><p>Account deletion process : All your data will be permanently removed from our database, Cannot be recovered.</h3></b>
</br>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "w3-red w3-btn"  %></p>
</br>
<b><%= link_to "Back", :back %></b>
</br>
</div>

</div>
</div>

</body>
</html>