<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("apple-min.jpg"),:size => "100x100" %>
         
           <h4>Apple Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $75.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 4.8 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The apple crop is subject to various risks, including weather events such as frost, hail, and drought, as well as pest and disease outbreaks. These risks can have a significant impact on production levels and can affect the quality and availability of apples in the market.
Potential export opportunities for apples vary by country and region. For example, China is the largest producer and exporter of apples, with a significant share of its exports going to neighboring countries such as Vietnam, Indonesia, and the Philippines. Chile, on the other hand, exports a significant portion of its apples to the USA and Europe. The growth of the apple export market is also influenced by factors such as trade agreements, tariffs, and market conditions
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Apple Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 13.7%</td></tr>
<tr><td>USA </td><td> 10.6%</td></tr>
<tr><td>Germany </td><td> 7.3%</td></tr>
<tr><td>UK</td><td> 5.4%</td></tr>
<tr><td>Russia </td><td> 4.9%</td></tr>
<tr><td>Netherlands </td><td> 4.5%</td></tr>
<tr><td>India </td><td> 4.2%</td></tr>
<tr><td>Canada </td><td> 3.7%</td></tr>
<tr><td>France </td><td> 3.6%</td></tr>
<tr><td>Indonesia </td><td> 2.8%</td></tr>
<tr><td>Vietnam </td><td> 2.6%</td></tr>
<tr><td>Hong Kong </td><td> 2.6%</td></tr>
<tr><td>Poland </td><td> 2.3%</td></tr>
<tr><td>Mexico </td><td> 2.2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2.0%</td></tr>
<tr><td>Italy </td><td> 1.9%</td></tr>
<tr><td>Spain </td><td> 1.8%</td></tr>
<tr><td>Philippines </td><td> 1.7%</td></tr>
<tr><td>Bangladesh </td><td> 1.6%</td></tr>
<tr><td>Thailand </td><td> 1.5%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Apple Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 30.5%</td></tr>
<tr><td>USA </td><td> 8.7%</td></tr>
<tr><td>Chile </td><td> 7.6%</td></tr>
<tr><td>Italy </td><td> 7.3%</td></tr>
<tr><td>France </td><td> 6.0%</td></tr>
<tr><td>New Zealand </td><td> 4.6%</td></tr>
<tr><td>Poland </td><td> 3.9%</td></tr>
<tr><td>South Africa </td><td> 3.7%</td></tr>
<tr><td>Argentina </td><td> 3.6%</td></tr>
<tr><td>Belgium </td><td> 2.6%</td></tr>
<tr><td>Australia </td><td> 2.5%</td></tr>
<tr><td>Netherlands </td><td> 2.2%</td></tr>
<tr><td>Spain </td><td> 2.1%</td></tr>
<tr><td>UK</td><td> 2.0%</td></tr>
<tr><td>Germany </td><td> 1.9%</td></tr>
<tr><td>Canada </td><td> 1.8%</td></tr>
<tr><td>Turkey </td><td> 1.6%</td></tr>
<tr><td>Serbia </td><td> 1.5%</td></tr>
<tr><td>Brazil </td><td> 1.3%</td></tr>
<tr><td>Greece </td><td> 1.2%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Apple Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.26/kg </td><td> $0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.44/kg </td><td> $0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.48/kg </td><td> $0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $0.50/kg </td><td> $0.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.55/kg </td><td> $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.56/kg </td><td> $0.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $0.56/kg </td><td> $0.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.59/kg </td><td> $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.60/kg </td><td> $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $0.61/kg </td><td> $0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.62/kg </td><td> $0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.64/kg </td><td> $0.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $0.64/kg </td><td> $0.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $0.67/kg </td><td> $0.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $0.68/kg </td><td> $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $0.72/kg </td><td> $0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.74/kg </td><td> $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $0.74/kg </td><td> $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.79/kg </td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $0.79/kg </td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Apple Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>UAE </td><td> $3.75/kg </td><td> $1.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $3.20/kg </td><td> $1.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $2.80/kg </td><td> $1.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $2.58/kg </td><td> $1.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $2.46/kg </td><td> $1.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $2.43/kg </td><td> $1.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $2.40/kg </td><td> $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $2.39/kg </td><td> $1.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $2.21/kg </td><td> $1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.17/kg </td><td> $0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $2.16/kg </td><td> $0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $2.13/kg </td><td> $0.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.06/kg </td><td> $0.94/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $2.04/kg </td><td> $0.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $2.02/kg </td><td> $0.92/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $1.96/kg </td><td> $0.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.94/kg </td><td> $0.88/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $1.90/kg </td><td> $0.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.86/kg </td><td> $0.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $1.84/kg </td><td> $0.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>



</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Apple Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 45.8%</td></tr>
<tr><td>USA </td><td> 4.4%</td></tr>
<tr><td>Poland </td><td> 4.2%</td></tr>
<tr><td>Turkey </td><td> 3.5%</td></tr>
<tr><td>India </td><td> 3.4%</td></tr>
<tr><td>Italy </td><td> 3.4%</td></tr>
<tr><td>Iran </td><td> 2.8%</td></tr>
<tr><td>Russia </td><td> 2.6%</td></tr>
<tr><td>Chile </td><td> 2.5%</td></tr>
<tr><td>France </td><td> 2.3%</td></tr>
<tr><td>Ukraine </td><td> 2.3%</td></tr>
<tr><td>Argentina </td><td> 2.2%</td></tr>
<tr><td>South Africa </td><td> 1.8%</td></tr>
<tr><td>Brazil </td><td> 1.8%</td></tr>
<tr><td>Spain </td><td> 1.7%</td></tr>
<tr><td>Romania </td><td> 1.7%</td></tr>
<tr><td>Egypt </td><td> 1.7%</td></tr>
<tr><td>Uzbekistan </td><td> 1.6%</td></tr>
<tr><td>Germany </td><td> 1.5%</td></tr>
<tr><td>Serbia </td><td> 1.5%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Apple Crop Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>China </td><td> Aug to Nov</td></tr>
<tr><td>USA </td><td> Aug to Nov</td></tr>
<tr><td>Poland </td><td> Aug to Oct</td></tr>
<tr><td>Turkey </td><td> July to Nov</td></tr>
<tr><td>India </td><td> June to Dec</td></tr>
<tr><td>Italy </td><td> Sep to Nov</td></tr>
<tr><td>Iran </td><td> Sep to Dec</td></tr>
<tr><td>Russia </td><td> Aug to Nov</td></tr>
<tr><td>France </td><td> Aug to Oct</td></tr>
<tr><td>Ukraine </td><td> Aug to Nov</td></tr>
<tr><td>Chile </td><td> Oct to May</td></tr>
<tr><td>Argentina </td><td> Feb to May</td></tr>
<tr><td>South Africa </td><td> January to June</td></tr>
<tr><td>Germany </td><td> Aug to Oct</td></tr>
<tr><td>Canada </td><td> Aug to Oct</td></tr>
<tr><td>Brazil </td><td> Dec to Feb</td></tr>
<tr><td>New Zealand </td><td> Feb to May</td></tr>
<tr><td>Australia </td><td> Feb to May</td></tr>
<tr><td>Spain </td><td> Sep to Nov</td></tr>
<tr><td>UK</td><td> Sep to Nov</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Apple Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 46.5%</td></tr>
<tr><td>USA </td><td> 7.5%</td></tr>
<tr><td>Turkey </td><td> 5.5%</td></tr>
<tr><td>Poland </td><td> 3.5%</td></tr>
<tr><td>Italy </td><td> 3.3%</td></tr>
<tr><td>Iran </td><td> 3%</td></tr>
<tr><td>France </td><td> 2.5%</td></tr>
<tr><td>India </td><td> 2.2%</td></tr>
<tr><td>Russia </td><td> 1.7%</td></tr>
<tr><td>Ukraine </td><td> 1.6%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>UK</td><td> 1.3%</td></tr>
<tr><td>Egypt </td><td> 1.2%</td></tr>
<tr><td>Brazil </td><td> 1.1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Uzbekistan </td><td> 0.9%</td></tr>
<tr><td>Chile </td><td> 0.8%</td></tr>
<tr><td>Argentina </td><td> 0.8%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Apple Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 0.2%</td></tr>
<tr><td>Ethiopia </td><td> 0.2%</td></tr>
<tr><td>Bangladesh </td><td> 0.2%</td></tr>
<tr><td>Pakistan </td><td> 0.3%</td></tr>
<tr><td>Indonesia </td><td> 0.3%</td></tr>
<tr><td>Philippines </td><td> 0.3%</td></tr>
<tr><td>Thailand </td><td> 0.3%</td></tr>
<tr><td>Congo </td><td> 0.3%</td></tr>
<tr><td>Vietnam </td><td> 0.3%</td></tr>
<tr><td>Tanzania </td><td> 0.3%</td></tr>
<tr><td>Kenya </td><td> 0.3%</td></tr>
<tr><td>Uganda </td><td> 0.3%</td></tr>
<tr><td>Myanmar </td><td> 0.4%</td></tr>
<tr><td>Ghana </td><td> 0.4%</td></tr>
<tr><td>South Sudan </td><td> 0.4%</td></tr>
<tr><td>Mozambique </td><td> 0.4%</td></tr>
<tr><td>Madagascar </td><td> 0.4%</td></tr>
<tr><td>Angola </td><td> 0.4%</td></tr>
<tr><td>Cameroon </td><td> 0.5%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Apple Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 41.5%</td></tr>
<tr><td>USA </td><td> 14.5%</td></tr>
<tr><td>European Union </td><td> 12.5%</td></tr>
<tr><td>Turkey </td><td> 3.6%</td></tr>
<tr><td>India </td><td> 3.3%</td></tr>
<tr><td>Russia </td><td> 2.3%</td></tr>
<tr><td>Iran </td><td> 2.2%</td></tr>
<tr><td>Brazil </td><td> 1.6%</td></tr>
<tr><td>Japan </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1.3%</td></tr>
<tr><td>Ukraine </td><td> 1.2%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.9%</td></tr>
<tr><td>South Korea </td><td> 0.8%</td></tr>
<tr><td>Thailand </td><td> 0.8%</td></tr>
<tr><td>Philippines </td><td> 0.7%</td></tr>
<tr><td>Algeria </td><td> 0.7%</td></tr>
<tr><td>Australia </td><td> 0.7%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Apple Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company Inc. </td><td> USA</td></tr>
<tr><td>Chiquita Brands International Inc. </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce Co. </td><td> USA</td></tr>
<tr><td>Total Produce PLC </td><td> Ireland</td></tr>
<tr><td>Fyffes PLC </td><td> Ireland</td></tr>
<tr><td>Dalian Tianbao Green Foods</td><td> China</td></tr>
<tr><td>Beijing Jingxiang Agr </td><td> China</td></tr>
<tr><td>Aeon Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Walmart Inc. </td><td> USA</td></tr>
<tr><td>Tesco PLC </td><td> UK</td></tr>
<tr><td>Sainsbury's Supermarkets</td><td> UK</td></tr>
<tr><td>Carrefour SA </td><td> France</td></tr>
<tr><td>The Co-operative Group Ltd. </td><td> UK</td></tr>
<tr><td>Woolworths Group ltd </td><td> Australia</td></tr>
<tr><td>Metro AG </td><td> Germany</td></tr>
<tr><td>Rewe Group </td><td> Germany</td></tr>
<tr><td>Migros Genossenschafts Bund </td><td> Switzerland</td></tr>
<tr><td>Ahold Delhaize </td><td> Netherlands</td></tr>
<tr><td>Edeka Zentrale AG & Co</td><td> Germany</td></tr>
<tr><td>Aldi Einkauf GmbH & Co </td><td> Germany</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Apple Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company Inc. </td><td> USA</td><tr>
<tr><td>Chiquita Brands International Inc. </td><td> USA</td><tr>
<tr><td>Del Monte Fresh Produce Co. </td><td> USA</td><tr>
<tr><td>Total Produce PLC </td><td> Ireland</td><tr>
<tr><td>Fyffes PLC </td><td> Ireland</td><tr>
<tr><td>AGRICOM IMPEX SRL </td><td> Romania</td><tr>
<tr><td>Yantai Kaiping Fruit Co. Ltd. </td><td> China</td><tr>
<tr><td>BEIJING JUHEXUAN FRUIT AND VEGETABLE CO., LTD. </td><td> China</td><tr>
<tr><td>Shenzhen Yuanxing Fruit Co., Ltd. </td><td> China</td><tr>
<tr><td>Shaanxi Qifeng Fruit Industry Co. Ltd. </td><td> China</td><tr>
<tr><td>Jining Fuyuan Fruits And Vegetables Co. Ltd. </td><td> China</td><tr>
<tr><td>Beijing Sanyuan Foods Co. Ltd. </td><td> China</td><tr>
<tr><td>PICO </td><td> Poland</td><tr>
<tr><td>Chelan Fresh Marketing </td><td> USA</td><tr>
<tr><td>CMI Orchards </td><td> USA</td><tr>
<tr><td>Domex Superfresh Growers </td><td> USA</td><tr>
<tr><td>Columbia Fruit Packers </td><td> USA</td><tr>
<tr><td>Wenatchee Valley Fruit Growers Association </td><td> USA</td><tr>
<tr><td>Stemilt Growers LLC </td><td> USA</td><tr>
<tr><td>Seald Sweet International </td><td> USA</td><tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Apple Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand for organic apples: Consumers are increasingly seeking out organic fruits, including apples, due to health and environmental concerns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growth of high-density orchards: High-density planting systems allow for more efficient use of space and resources, resulting in higher yields and lower costs.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of apple exports: Many apple-producing countries are looking to expand their export markets, particularly in Asia and the Middle East.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of new apple varieties: Breeders are continually working to develop new apple varieties with improved flavor, texture, and disease resistance.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Implementation of precision agriculture techniques: Precision agriculture technologies, such as GPS mapping and drones, are being used to optimize orchard management practices and improve crop yields.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increase in cider production: The popularity of hard cider has led to an increase in the production of cider-specific apple varieties and the expansion of cider orchards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of natural pest management methods: Many apple growers are moving away from traditional pesticide use and implementing natural pest management techniques, such as pheromone traps and biological controls.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of sustainable growing practices: Apple growers are increasingly adopting sustainable growing practices to reduce environmental impact and improve the long-term health of their orchards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Integration of technology in post-harvest handling: New technologies are being used in post-harvest handling, such as controlled atmosphere storage and computerized sorting systems, to improve apple quality and shelf life.</div>


</div>
<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of "ugly" apples: Ugly or misshapen apples are gaining popularity, as they are often sold at a lower price point and are increasingly used in value-added products, such as juice and applesauce.</div>
</div>

</div>



</body>
</html>

