<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("apricot-min.jpg"),:size => "100x100" %>
         
           <h4>Apricot Fruit Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $9.7 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 0.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.5 million hectares</p>
        </div>
        </div>
     </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Apricot fruit crops can be subject to several risks, including weather-related risks such as frost, hail, and drought, as well as pest and disease outbreaks that can damage or destroy the crops. These risks can result in lower yields or complete crop failure, leading to financial losses for farmers and potentially higher prices for consumers.
However, despite these risks, apricot fruit crops can have significant strategic value in terms of their potential export opportunities. Apricots are a popular fruit in many countries, and demand for high-quality, fresh apricots is increasing in markets around the world. This presents a significant opportunity for farmers and exporters who can successfully produce and market their apricot crops.
According to recent statistics, projected to grow at a CAGR of 5.2% from 2021 to 2028.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Apricot Fruit Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 10.5%</td></tr>
<tr><td>Germany </td><td> 8.3%</td></tr>
<tr><td>USA </td><td> 7.9%</td></tr>
<tr><td>UK </td><td> 7.4%</td></tr>
<tr><td>France </td><td> 6.5%</td></tr>
<tr><td>Italy </td><td> 6.1%</td></tr>
<tr><td>Netherlands </td><td> 5.6%</td></tr>
<tr><td>China </td><td> 3.8%</td></tr>
<tr><td>Canada </td><td> 2.7%</td></tr>
<tr><td>Spain </td><td> 2.6%</td></tr>
<tr><td>Belgium </td><td> 2.5%</td></tr>
<tr><td>Switzerland </td><td> 2.2%</td></tr>
<tr><td>Japan </td><td> 2.1%</td></tr>
<tr><td>Austria </td><td> 1.9%</td></tr>
<tr><td>Poland </td><td> 1.8%</td></tr>
<tr><td>Australia </td><td> 1.6%</td></tr>
<tr><td>Czech Republic </td><td> 1.5%</td></tr>
<tr><td>Sweden </td><td> 1.3%</td></tr>
<tr><td>Denmark </td><td> 1.2%</td></tr>
<tr><td>Norway </td><td> 1.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Apricot Fruit Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 24.4%</td></tr>
<tr><td>Iran </td><td> 14.4%</td></tr>
<tr><td>Uzbekistan </td><td> 11.2%</td></tr>
<tr><td>Pakistan </td><td> 5.5%</td></tr>
<tr><td>Spain </td><td> 4.7%</td></tr>
<tr><td>Greece </td><td> 4.5%</td></tr>
<tr><td>Italy </td><td> 4.4%</td></tr>
<tr><td>Afghanistan </td><td> 4.1%</td></tr>
<tr><td>France </td><td> 3.4%</td></tr>
<tr><td>India </td><td> 2.9%</td></tr>
<tr><td>USA </td><td> 2.8%</td></tr>
<tr><td>Kyrgyzstan </td><td> 2.2%</td></tr>
<tr><td>Chile </td><td> 1.9%</td></tr>
<tr><td>Morocco </td><td> 1.6%</td></tr>
<tr><td>Armenia </td><td> 1.6%</td></tr>
<tr><td>Georgia </td><td> 1.5%</td></tr>
<tr><td>Algeria </td><td> 1.3%</td></tr>
<tr><td>Azerbaijan </td><td> 1.3%</td></tr>
<tr><td>Mexico </td><td> 1.1%</td></tr>
<tr><td>Lebanon </td><td> 1.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Apricot Fruit Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Uzbekistan</td><td> $0.77/kg </td><td> $0.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran</td><td> $0.81/kg </td><td> $0.37/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $0.85/kg </td><td> $0.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Afghanistan</td><td> $0.89/kg </td><td> $0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $0.92/kg </td><td> $0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria</td><td> $0.94/kg </td><td> $0.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia</td><td> $0.96/kg </td><td> $0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $1.00/kg </td><td> $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td><td> $1.01/kg </td><td> $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $1.03/kg </td><td> $0.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $1.06/kg </td><td> $0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $1.07/kg </td><td> $0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco</td><td> $1.08/kg </td><td> $0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td> $1.11/kg </td><td> $0.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $1.14/kg </td><td> $0.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $1.15/kg </td><td> $0.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile</td><td> $1.16/kg </td><td> $0.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $1.18/kg </td><td> $0.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td><td> $1.20/kg </td><td> $0.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa</td><td> $1.23/kg </td><td> $0.56/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Apricot Fruit Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $4.62/kg </td><td> $2.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $4.29/kg </td><td> $1.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia</td><td> $3.62/kg </td><td> $1.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE</td><td> $3.61/kg </td><td> $1.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar</td><td> $3.43/kg </td><td> $1.56/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait</td><td> $3.23/kg </td><td> $1.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman</td><td> $3.19/kg </td><td> $1.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore</td><td> $3.08/kg </td><td> $1.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain</td><td> $2.95/kg </td><td> $1.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong</td><td> $2.93/kg </td><td> $1.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Macao</td><td> $2.88/kg </td><td> $1.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia</td><td> $2.83/kg </td><td> $1.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan</td><td> $2.79/kg </td><td> $1.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brunei</td><td> $2.77/kg </td><td> $1.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Jordan</td><td> $2.73/kg </td><td> $1.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Israel</td><td> $2.70/kg </td><td> $1.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cyprus</td><td> $2.68/kg </td><td> $1.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Lebanon</td><td> $2.62/kg </td><td> $1.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malta</td><td> $2.60/kg </td><td> $1.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td><td> $2.58/kg </td><td> $1.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Apricot Fruit Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 21.6%</td></tr>
<tr><td>Iran </td><td> 13.8%</td></tr>
<tr><td>Uzbekistan </td><td> 10.3%</td></tr>
<tr><td>Algeria </td><td> 8.6%</td></tr>
<tr><td>Italy </td><td> 6.5%</td></tr>
<tr><td>Pakistan </td><td> 6.2%</td></tr>
<tr><td>Spain </td><td> 5.8%</td></tr>
<tr><td>Greece </td><td> 3.9%</td></tr>
<tr><td>France </td><td> 3.7%</td></tr>
<tr><td>China </td><td> 3.6%</td></tr>
<tr><td>Syria </td><td> 2.9%</td></tr>
<tr><td>USA </td><td> 2.5%</td></tr>
<tr><td>India </td><td> 2.2%</td></tr>
<tr><td>Morocco </td><td> 1.9%</td></tr>
<tr><td>Romania </td><td> 1.4%</td></tr>
<tr><td>Tunisia </td><td> 1.4%</td></tr>
<tr><td>Chile </td><td> 1.4%</td></tr>
<tr><td>Kyrgyzstan </td><td> 1.3%</td></tr>
<tr><td>Afghanistan </td><td> 1.3%</td></tr>
<tr><td>Azerbaijan </td><td> 1.2%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Apricot Fruit Crop Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    

<tr><td>Turkey </td><td> June to August</td></tr>
<tr><td>Iran </td><td> June to July</td></tr>
<tr><td>Uzbekistan </td><td> June to August</td></tr>
<tr><td>Algeria </td><td> May to June</td></tr>
<tr><td>Italy </td><td> May to August</td></tr>
<tr><td>Pakistan </td><td> May to July</td></tr>
<tr><td>Spain </td><td> June to August</td></tr>
<tr><td>Greece </td><td> June to August</td></tr>
<tr><td>France </td><td> June to July</td></tr>
<tr><td>China </td><td> May to August</td></tr>
<tr><td>Syria </td><td> May to June</td></tr>
<tr><td>USA </td><td> May to August</td></tr>
<tr><td>India </td><td> April to June</td></tr>
<tr><td>Morocco </td><td> May to June</td></tr>
<tr><td>Romania </td><td> June to August</td></tr>
<tr><td>Tunisia </td><td> June to July</td></tr>
<tr><td>Chile </td><td> November to January</td></tr>
<tr><td>Kyrgyzstan </td><td> June to August</td></tr>
<tr><td>Afghanistan </td><td> June to July</td></tr>
<tr><td>Azerbaijan </td><td> June to July</td></tr>


</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Apricot Fruit Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 22%</td></tr>
<tr><td>Iran </td><td> 13%</td></tr>
<tr><td>Uzbekistan </td><td> 12%</td></tr>
<tr><td>Italy </td><td> 8%</td></tr>
<tr><td>Spain </td><td> 7%</td></tr>
<tr><td>Greece </td><td> 6%</td></tr>
<tr><td>Algeria </td><td> 4%</td></tr>
<tr><td>China </td><td> 3%</td></tr>
<tr><td>Morocco </td><td> 3%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Azerbaijan </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Armenia </td><td> 1%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Apricot Fruit Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 0.6%</td></tr>
<tr><td>Japan </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.3%</td></tr>
<tr><td>New Zealand </td><td> 0.3%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.2%</td></tr>
<tr><td>Bulgaria </td><td> 0.2%</td></tr>
<tr><td>Hungary </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Austria </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Czech Republic </td><td> 0.1%</td></tr>
<tr><td>Germany </td><td> 0.1%</td></tr>
<tr><td>Netherlands </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>Portugal </td><td> 0.1%</td></tr>
<tr><td>Slovakia </td><td> 0.1%</td></tr>
<tr><td>Switzerland </td><td> 0.1%</td></tr>
<tr><td>Ukraine </td><td> 0.1%</td></tr>
<tr><td>UK </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Apricot Fruit Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 23%</td></tr>
<tr><td>Iran </td><td> 11%</td></tr>
<tr><td>Uzbekistan </td><td> 9%</td></tr>
<tr><td>Italy </td><td> 7%</td></tr>
<tr><td>Spain </td><td> 6%</td></tr>
<tr><td>Algeria </td><td> 5%</td></tr>
<tr><td>Greece </td><td> 5%</td></tr>
<tr><td>Syria </td><td> 4%</td></tr>
<tr><td>China </td><td> 3%</td></tr>
<tr><td>Morocco </td><td> 3%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Germany </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Jordan </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Apricot Fruit Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Chiquita Brands International </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>Wonderful Citrus </td><td> USA</td></tr>
<tr><td>Sunkist Growers </td><td> USA</td></tr>
<tr><td>Grimmway Farms </td><td> USA</td></tr>
<tr><td>Capespan </td><td> South Africa</td></tr>
<tr><td>Dalmaza </td><td> Lebanon</td></tr>
<tr><td>Jaffa Orri </td><td> Israel</td></tr>
<tr><td>Societe Des Vergers De La Plaine De Crau </td><td> France</td></tr>
<tr><td>SIS Natural </td><td> Turkey</td></tr>
<tr><td>Santa Maria Fruits </td><td> Spain</td></tr>
<tr><td>Fyffes </td><td> Ireland</td></tr>
<tr><td>Itaueira Farms </td><td> Brazil</td></tr>
<tr><td>Yıldız Tarım </td><td> Turkey</td></tr>
<tr><td>Peaches and Dreams </td><td> USA</td></tr>
<tr><td>Delassus Group </td><td> France</td></tr>
<tr><td>Pacific Coast Fruit Products </td><td> USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Apricot Fruit Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Chelmer Foods Limited </td><td> UK</td></tr>
<tr><td>Alfafruit </td><td> Greece</td></tr>
<tr><td>Isik Tarim </td><td> Turkey</td></tr>
<tr><td>Tierra Farm </td><td> USA</td></tr>
<tr><td>The Waterman Company </td><td> USA</td></tr>
<tr><td>Ferrero Trading Lux SA </td><td> Switzerland</td></tr>
<tr><td>Pampas Food Inc. </td><td> USA</td></tr>
<tr><td>Agroton Public Limited </td><td> Cyprus</td></tr>
<tr><td>Döhler GmbH </td><td> Germany</td></tr>
<tr><td>Alara Agri </td><td> Turkey</td></tr>
<tr><td>Agricultural Marketing Co. </td><td> Jordan</td></tr>
<tr><td>Iberchem </td><td> Spain</td></tr>
<tr><td>Fine Fruits Club </td><td> <tr><td>Belgium</td></tr>
<tr><td>Opal Fruits </td><td>Pty</td></tr> Ltd. </td><td> South Africa</td></tr>
<tr><td>Fruit Farm Group </td><td> Egypt</td></tr>
<tr><td>Amara Foods </td><td> Turkey</td></tr>
<tr><td>Eastern Foodchem Co., Ltd. </td><td> China</td></tr>
<tr><td>Arta Fruit </td><td> Greece</td></tr>
<tr><td>Ulima Agro </td><td> Peru</td></tr>
<tr><td>Adamex Sp. z o.o. </td><td> Poland</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Apricot Fruit Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for dried apricots: Dried apricots are a popular snack and ingredient in many dishes, leading to an increase in demand for this product.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of new apricot varieties: Breeders are working on developing new apricot varieties with improved yield, taste, and disease resistance.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of apricot production in new regions: Apricot production is expanding to new regions such as Central Asia and North Africa, increasing the availability of this fruit globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic apricots: Like with other crops, consumers are increasingly interested in organic produce, leading to a rise in organic apricot production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Integration of technology in apricot cultivation: Precision agriculture techniques are being used to optimize apricot orchard management practices and improve crop yields.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on sustainable growing practices: There is a growing interest among apricot growers to adopt sustainable growing practices to reduce environmental impact and improve the long-term health of their orchards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of value-added apricot products: Apricot kernels are being used in cosmetics and other products, while apricot pulp is being used as a natural sweetener.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of natural pest management techniques: Like with other crops, many apricot growers are moving away from traditional pesticide use and implementing natural pest management techniques.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Investment in post-harvest handling technologies: Technologies like temperature-controlled storage and computerized sorting systems are being used to improve apricot quality and shelf life.</div>


</div>

<div class="w3-container w3-col m16  w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of apricot-based beverages: Apricot juice and nectar are becoming increasingly popular, particularly in countries where apricot production is high, such as Turkey and Iran.</div>
</div>

</div>

</body>
</html>

