<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("blackcurrant-min.jpg"),:size => "100x100" %>
         
           <h4>Black Currant fruit Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $543 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 100,000 million hectares</p>
        </div>
        </div>
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Black currant crops can also be at risk due to various factors such as pests and diseases, adverse weather conditions, and market fluctuations. However, the strategic value of black currant crops lies in their potential export opportunities.

Black currants are a source of vitamin C, antioxidants, and other nutrients, making them a popular fruit for use in various products such as jams, jellies, and juices. While black currants are not as widely produced or consumed as bananas, they are still a significant crop in some countries. For example, in Europe, black currants are used to produce the popular drink Ribena.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Black Currant fruit Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Germany </td><td> 19.2%</td></tr>
<tr><td>France </td><td> 15.4%</td></tr>
<tr><td>United States </td><td> 12.7%</td></tr>
<tr><td>Netherlands </td><td> 7.3%</td></tr>
<tr><td>United Kingdom </td><td> 6.9%</td></tr>
<tr><td>Belgium </td><td> 4.8%</td></tr>
<tr><td>Canada </td><td> 3.6%</td></tr>
<tr><td>Sweden </td><td> 3.3%</td></tr>
<tr><td>Poland </td><td> 2.9%</td></tr>
<tr><td>Denmark </td><td> 2.7%</td></tr>
<tr><td>Czech Republic </td><td> 2.6%</td></tr>
<tr><td>Finland </td><td> 2.5%</td></tr>
<tr><td>Switzerland </td><td> 1.8%</td></tr>
<tr><td>Norway </td><td> 1.6%</td></tr>
<tr><td>Italy </td><td> 1.5%</td></tr>
<tr><td>Spain </td><td> 1.4%</td></tr>
<tr><td>Australia </td><td> 1.1%</td></tr>
<tr><td>Russia </td><td> 0.9%</td></tr>
<tr><td>Japan </td><td> 0.9%</td></tr>
<tr><td>China </td><td> 0.8%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Black Currant fruit Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Poland </td><td> 30.9%</td></tr>
<tr><td>Belarus </td><td> 19.8%</td></tr>
<tr><td>Netherlands </td><td> 12.4%</td></tr>
<tr><td>Denmark </td><td> 8.4%</td></tr>
<tr><td>Latvia </td><td> 4.4%</td></tr>
<tr><td>Germany </td><td> 3.3%</td></tr>
<tr><td>Lithuania </td><td> 2.6%</td></tr>
<tr><td>Belgium </td><td> 2.1%</td></tr>
<tr><td>United Kingdom </td><td> 1.8%</td></tr>
<tr><td>Czech Republic </td><td> 1.4%</td></tr>
<tr><td>Estonia </td><td> 1.4%</td></tr>
<tr><td>Sweden </td><td> 1.4%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Italy </td><td> 0.7%</td></tr>
<tr><td>Russia </td><td> 0.7%</td></tr>
<tr><td>Romania </td><td> 0.6%</td></tr>
<tr><td>United States </td><td> 0.6%</td></tr>
<tr><td>Hungary </td><td> 0.5%</td></tr>
<tr><td>Finland </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Black Currant fruit Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Japan</td><td> $8.84/kg </td><td> $4.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $7.91/kg </td><td> $3.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $7.39/kg </td><td> $3.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $6.33/kg </td><td> $2.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $5.57/kg </td><td> $2.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $5.51/kg </td><td> $2.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $5.35/kg </td><td> $2.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $5.28/kg </td><td> $2.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $5.14/kg </td><td> $2.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $5.11/kg </td><td> $2.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $4.83/kg </td><td> $2.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $4.80/kg </td><td> $2.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $4.67/kg </td><td> $2.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal</td><td> $4.59/kg </td><td> $2.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td><td> $4.56/kg </td><td> $2.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $4.45/kg </td><td> $2.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td><td> $4.39/kg </td><td> $1.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td> $4.37/kg </td><td> $1.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $4.17/kg </td><td> $1.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $4.06/kg </td><td> $1.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>




</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Black Currant fruit Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $8.84/kg </td><td> $4.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $7.91/kg </td><td> $3.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $7.39/kg </td><td> $3.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $6.33/kg </td><td> $2.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $5.57/kg </td><td> $2.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $5.51/kg </td><td> $2.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $5.35/kg </td><td> $2.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $5.28/kg </td><td> $2.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $5.14/kg </td><td> $2.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $5.11/kg </td><td> $2.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $4.83/kg </td><td> $2.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $4.80/kg </td><td> $2.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $4.67/kg </td><td> $2.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal</td><td> $4.59/kg </td><td> $2.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td><td> $4.56/kg </td><td> $2.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $4.45/kg </td><td> $2.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td><td> $4.39/kg </td><td> $1.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td> $4.37/kg </td><td> $1.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $4.17/kg </td><td> $1.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $4.06/kg </td><td> $1.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Black Currant fruit Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 39.2%</td></tr>
<tr><td>Poland </td><td> 24.7%</td></tr>
<tr><td>Belarus </td><td> 9.4%</td></tr>
<tr><td>Ukraine </td><td> 4.9%</td></tr>
<tr><td>New Zealand </td><td> 4.4%</td></tr>
<tr><td>Latvia </td><td> 3.6%</td></tr>
<tr><td>Lithuania </td><td> 3.1%</td></tr>
<tr><td>United Kingdom </td><td> 2.3%</td></tr>
<tr><td>Denmark </td><td> 1.6%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Estonia </td><td> 1.1%</td></tr>
<tr><td>Germany </td><td> 0.8%</td></tr>
<tr><td>Czech Republic </td><td> 0.7%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
<tr><td>Finland </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Romania </td><td> 0.4%</td></tr>
<tr><td>Belgium </td><td> 0.4%</td></tr>
<tr><td>Canada </td><td> 0.4%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Black Currant fruit Crop Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Poland </td><td> June to August</td></tr>
<tr><td>New Zealand </td><td> November to March</td></tr>
<tr><td>Latvia </td><td> June to August</td></tr>
<tr><td>Estonia </td><td> June to August</td></tr>
<tr><td>Lithuania </td><td> June to August</td></tr>
<tr><td>Russia </td><td> July to August</td></tr>
<tr><td>Ukraine </td><td> July to August</td></tr>
<tr><td>United Kingdom </td><td> June to August</td></tr>
<tr><td>Belarus </td><td> July to August</td></tr>
<tr><td>Sweden </td><td> July to August</td></tr>
<tr><td>Finland </td><td> July to August</td></tr>
<tr><td>Denmark </td><td> July to August</td></tr>
<tr><td>Norway </td><td> July to August</td></tr>
<tr><td>Germany </td><td> June to August</td></tr>
<tr><td>Czech Republic </td><td> June to August</td></tr>
<tr><td>Austria </td><td> June to August</td></tr>
<tr><td>Switzerland </td><td> June to August</td></tr>
<tr><td>France </td><td> June to August</td></tr>
<tr><td>Italy </td><td> June to August</td></tr>
<tr><td>Spain </td><td> June to August</td></tr>


</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Black Currant fruit Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Poland </td><td>25%</td></tr>
<tr><td>Russia </td><td>23%</td></tr>
<tr><td>Ukraine </td><td>15%</td></tr>
<tr><td>Belarus </td><td>9%</td></tr>
<tr><td>United Kingdom </td><td>6%</td></tr>
<tr><td>France </td><td>5%</td></tr>
<tr><td>Germany </td><td>4%</td></tr>
<tr><td>Canada </td><td>2%</td></tr>
<tr><td>Latvia </td><td>2%</td></tr>
<tr><td>Czech Republic </td><td>2%</td></tr>
<tr><td>Romania </td><td>1%</td></tr>
<tr><td>Bulgaria </td><td>1%</td></tr>
<tr><td>Lithuania </td><td>1%</td></tr>
<tr><td>Hungary </td><td>1%</td></tr>
<tr><td>Slovakia </td><td>1%</td></tr>
<tr><td>Estonia </td><td>1%</td></tr>
<tr><td>Sweden </td><td>1%</td></tr>
<tr><td>Finland </td><td>1%</td></tr>
<tr><td>Norway </td><td>1%</td></tr>
<tr><td>Denmark </td><td>1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Black Currant fruit Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Austria </td><td>0.3%</td></tr>
<tr><td>Switzerland </td><td>0.3%</td></tr>
<tr><td>Belgium </td><td>0.2%</td></tr>
<tr><td>Netherlands </td><td>0.2%</td></tr>
<tr><td>Italy </td><td>0.2%</td></tr>
<tr><td>Spain </td><td>0.2%</td></tr>
<tr><td>Portugal </td><td>0.1%</td></tr>
<tr><td>Greece </td><td>0.1%</td></tr>
<tr><td>Ireland </td><td>0.1%</td></tr>
<tr><td>Croatia </td><td>0.1%</td></tr>
<tr><td>Serbia </td><td>0.1%</td></tr>
<tr><td>Slovenia </td><td>0.1%</td></tr>
<tr><td>Bosnia and Herzegovina </td><td>0.1%</td></tr>
<tr><td>Albania </td><td>0.1%</td></tr>
<tr><td>North Macedonia </td><td>0.1%</td></tr>
<tr><td>Moldova </td><td>0.1%</td></tr>
<tr><td>Georgia </td><td>0.1%</td></tr>
<tr><td>Armenia </td><td>0.1%</td></tr>
<tr><td>Azerbaijan </td><td>0.1%</td></tr>
<tr><td>Kazakhstan </td><td>0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Black Currant fruit Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td>23%</td></tr>
<tr><td>Poland </td><td>19%</td></tr>
<tr><td>Ukraine </td><td>9%</td></tr>
<tr><td>Belarus </td><td>6%</td></tr>
<tr><td>United Kingdom </td><td>6%</td></tr>
<tr><td>Germany </td><td>4%</td></tr>
<tr><td>France </td><td>3%</td></tr>
<tr><td>Sweden </td><td>3%</td></tr>
<tr><td>Finland </td><td>2%</td></tr>
<tr><td>Czech Republic </td><td>2%</td></tr>
<tr><td>Romania </td><td>2%</td></tr>
<tr><td>Norway </td><td>2%</td></tr>
<tr><td>Denmark </td><td>2%</td></tr>
<tr><td>Slovakia </td><td>2%</td></tr>
<tr><td>Canada </td><td>2%</td></tr>
<tr><td>Estonia </td><td>2%</td></tr>
<tr><td>Latvia </td><td>2%</td></tr>
<tr><td>Hungary </td><td>2%</td></tr>
<tr><td>Bulgaria </td><td>1%</td></tr>
<tr><td>Lithuania </td><td>1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Black Currant fruit Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dohler GmbH </td><td>Germany</td></tr>
<tr><td>Agrana Beteiligungs AG </td><td>Austria</td></tr>
<tr><td>Darbo AG </td><td>Austria</td></tr>
<tr><td>SVZ International BV </td><td>Netherlands</td></tr>
<tr><td>Berrifine A/S </td><td>Denmark</td></tr>
<tr><td>Fruit d'Or </td><td>Canada</td></tr>
<tr><td>Del Monte Pacific Limited </td><td>Philippines</td></tr>
<tr><td>Diana Food </td><td>France</td></tr>
<tr><td>Bio Planète </td><td>France</td></tr>
<tr><td>Batory Industries </td><td>USA</td></tr>
<tr><td>Mariani Nut Company </td><td>USA</td></tr>
<tr><td>Red River Foods </td><td>USA</td></tr>
<tr><td>Deli Nature </td><td>Belgium</td></tr>
<tr><td>Jacek Chocolate Couture </td><td>Poland</td></tr>
<tr><td>The Berry Company Limited </td><td>UK</td></tr>
<tr><td>Symrise AG </td><td>Germany</td></tr>
<tr><td>NRS International </td><td>Netherlands</td></tr>
<tr><td>Puratos NV </td><td>Belgium</td></tr>
<tr><td>Evershing International Trading Co. </td><td>Taiwan</td></tr>
<tr><td>Carmit Candy Industries Ltd. </td><td>Israel</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Black Currant fruit Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Berry Gardens Ltd </td><td>UK</td></tr>
<tr><td>Jaguacy Brasil </td><td>Brazil</td></tr>
<tr><td>Lapaco </td><td>Canada</td></tr>
<tr><td>Frutex SA </td><td>Argentina</td></tr>
<tr><td>Montague Fresh </td><td>Australia</td></tr>
<tr><td>Plant & Food Research </td><td>New Zealand</td></tr>
<tr><td>Taura Natural Ingredients Ltd </td><td>UK</td></tr>
<tr><td>MOLDA AGROINVEST SRL </td><td>Moldova</td></tr>
<tr><td>Elgin Fruit Juices </td><td>South Africa</td></tr>
<tr><td>Daedong Korea Ginseng Co., Ltd </td><td>South Korea</td></tr>
<tr><td>Tropico </td><td>Peru</td></tr>
<tr><td>Mazafati Dates </td><td>Iran</td></tr>
<tr><td>Richfruit Group </td><td>China</td></tr>
<tr><td>Jab Dried Fruit Products </td><td>South Africa</td></tr>
<tr><td>Farm Fresh Nuts </td><td>USA</td></tr>
<tr><td>Galil Foods </td><td>Israel</td></tr>
<tr><td>Al Dahra ACX Global </td><td>UAE</td></tr>
<tr><td>Agro Industrial Supplies </td><td>Kenya</td></tr>
<tr><td>Asahi Foods Co. Ltd. </td><td>Japan</td></tr>
<tr><td>Fruitierra SAS </td><td>Colombia</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Black Currant fruit Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand for natural food products has led to a growing interest in blackcurrants, which are rich in antioxidants, vitamins, and other health-promoting compounds.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting blackcurrant cultivation, with changes in temperature and rainfall patterns leading to shifts in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New breeding techniques, such as gene editing and marker-assisted selection, are being used to develop blackcurrant varieties with improved traits, such as disease resistance and fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision farming technologies, such as soil sensors and automated irrigation systems, are being used to optimize crop management and reduce water and fertilizer use.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased awareness of the environmental impact of farming is leading to the adoption of sustainable practices, such as reduced pesticide use and organic farming methods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing technologies, such as freeze-drying and vacuum concentration, are being used to preserve the nutritional value and flavor of blackcurrants in food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Blackcurrants are being used in a wider range of products, such as juices, jams, and supplements, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Consumer demand for natural and plant-based products is driving innovation in the blackcurrant industry, with new product development and marketing strategies being developed.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in blackcurrant cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>

</div>
<div class="w3-container w3-col m16  w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">Blackcurrant farming is providing opportunities for diversification and economic growth in rural areas, with the development of new products and markets, and the creation of new jobs in the sector.</div>
</div>

</div>

</body>
</html>

