<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("custard_apple-min.jpg"),:size => "100x100" %>
         
           <h4>Custard Apple</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 134,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Custard apples are a sweet and creamy fruit with a unique flavor. They are consumed fresh and used in various products such as ice cream, smoothies, and desserts. While not as widely produced or consumed as some other fruits, custard apples are still an important crop in some countries.

The potential for export opportunities for custard apples can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, India is a significant market for custard apples, and countries such as Australia and South Africa have become major exporters to the Indian market. In addition, the presence of trade agreements such as the India-ASEAN Free Trade Area can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>   

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Custard Apple Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 12%</td></tr>
<tr><td>Netherlands </td><td> 10%</td></tr>
<tr><td>UK </td><td> 9%</td></tr>
<tr><td>UAE </td><td> 8%</td></tr>
<tr><td>Saudi Arabia </td><td> 6%</td></tr>
<tr><td>Germany </td><td> 5%</td></tr>
<tr><td>France </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Switzerland </td><td> 2%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Custard Apple Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 62%</td></tr>
<tr><td>Thailand </td><td> 12%</td></tr>
<tr><td>Vietnam </td><td> 7%</td></tr>
<tr><td>Indonesia </td><td> 5%</td></tr>
<tr><td>Philippines </td><td> 3%</td></tr>
<tr><td>Peru </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Sri Lanka </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Custard Apple Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India</td><td> $1.34/kg </td><td> $0.61/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador</td><td> $1.51/kg </td><td> $0.69/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $1.58/kg </td><td> $0.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam</td><td> $1.63/kg </td><td> $0.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $1.70/kg </td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines</td><td> $1.87/kg </td><td> $0.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia</td><td> $1.92/kg </td><td> $0.87/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $2.06/kg </td><td> $0.94/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $2.13/kg </td><td> $0.97/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $2.16/kg </td><td> $0.98/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $2.27/kg </td><td> $1.03/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia</td><td> $2.32/kg </td><td> $1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Dominican Republic</td><td> $2.35/kg </td><td> $1.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua</td><td> $2.37/kg </td><td> $1.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras</td><td> $2.40/kg </td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala</td><td> $2.48/kg </td><td> $1.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica</td><td> $2.54/kg </td><td> $1.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $2.67/kg </td><td> $1.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Jamaica</td><td> $2.73/kg </td><td> $1.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Haiti</td><td> $2.79/kg </td><td> $1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Custard Apple price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA</td><td> $12.26/kg </td><td> $5.57/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $10.85/kg </td><td> $4.93/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $9.72/kg </td><td> $4.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $9.27/kg </td><td> $4.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $9.22/kg </td><td> $4.19/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $8.71/kg </td><td> $3.96/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $8.57/kg </td><td> $3.89/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $8.44/kg </td><td> $3.83/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $8.20/kg </td><td> $3.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $8.06/kg </td><td> $3.66/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $7.75/kg </td><td> $3.52/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td><td> $7.59/kg </td><td> $3.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $7.45/kg </td><td> $3.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $7.31/kg </td><td> $3.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td> $7.18/kg </td><td> $3.26/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td> $7.04/kg </td><td> $3.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td> $6.90/kg </td><td> $3.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td><td> $6.76/kg </td><td> $3.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td> $6.63/kg </td><td> $3.01/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $6.49/kg </td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Custard Apple growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 56%</td></tr>
<tr><td>Brazil </td><td> 20%</td></tr>
<tr><td>Peru </td><td> 6%</td></tr>
<tr><td>Mexico </td><td> 5%</td></tr>
<tr><td>Thailand </td><td> 3%</td></tr>
<tr><td>Ecuador </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Colombia </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Venezuela </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 1%</td></tr>
<tr><td>Cuba </td><td> 1%</td></tr>
<tr><td>Haiti </td><td> 1%</td></tr>
<tr><td>Sri Lanka </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Jamaica </td><td> 1%</td></tr>
<tr><td>Puerto Rico </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Custard Apple Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    

<tr><td>India </td><td> May to Sep</td></tr>
<tr><td>Australia </td><td> Sep to Feb</td></tr>
<tr><td>Brazil </td><td> Sep to Jan</td></tr>
<tr><td>Thailand </td><td> Jun-Aug and Nov-Jan</td></tr>
<tr><td>Indonesia </td><td> Year-round</td></tr>
<tr><td>Philippines </td><td> Aug to Dec</td></tr>
<tr><td>Mexico </td><td> May to Oct</td></tr>
<tr><td>Colombia </td><td> Mar to Aug</td></tr>
<tr><td>Peru </td><td> May to Aug</td></tr>
<tr><td>Malaysia </td><td> Year-round</td></tr>
<tr><td>Vietnam </td><td> Jun to Oct</td></tr>
<tr><td>Ecuador </td><td> Nov to Mar</td></tr>
<tr><td>Dominican Republic </td><td> May to Sep</td></tr>
<tr><td>USA Florida</td><td> Jun to Nov</td></tr>
<tr><td>Venezuela </td><td> May to Aug</td></tr>
<tr><td>China </td><td> Jun to Oct</td></tr>
<tr><td>Puerto Rico </td><td> Year-round</td></tr>
<tr><td>Cambodia </td><td> Jun-Aug and Nov-Jan</td></tr>
<tr><td>Sri Lanka </td><td> Year-round</td></tr>
<tr><td>Haiti </td><td> May-July and Nov-Jan</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Custard Apple</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 65%</td></tr>
<tr><td>Australia </td><td> 8%</td></tr>
<tr><td>Bangladesh </td><td> 4%</td></tr>
<tr><td>Sri Lanka </td><td> 3%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Myanmar </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 0.5%</td></tr>
<tr><td>USA </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Israel </td><td> 0.5%</td></tr>
<tr><td>Kenya </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Custard Apple<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>France </td><td> 1.5%</td></tr>
<tr><td>Germany </td><td> 1.5%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 0.8%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Canada </td><td> 0.5%</td></tr>
<tr><td>Belgium </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.5%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.5%</td></tr>
<tr><td>UAE </td><td> 0.5%</td></tr>
<tr><td>Kuwait </td><td> 0.5%</td></tr>
<tr><td>Qatar </td><td> 0.5%</td></tr>
<tr><td>Oman </td><td> 0.5%</td></tr>
<tr><td>Bahrain </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.3%</td></tr>
<tr><td>Norway </td><td> 0.3%</td></tr>
<tr><td>Denmark </td><td> 0.3%</td></tr>
<tr><td>Switzerland </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Custard Apple Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 80%</td></tr>
<tr><td>Bangladesh </td><td> 3%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>Sri Lanka </td><td> 1.5%</td></tr>
<tr><td>Indonesia </td><td> 1.5%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 0.5%</td></tr>
<tr><td>USA </td><td> 0.5%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
<tr><td>Vietnam </td><td> 0.5%</td></tr>
<tr><td>Myanmar </td><td> 0.5%</td></tr>
<tr><td>Nepal </td><td> 0.5%</td></tr>
<tr><td>China </td><td> 0.5%</td></tr>
<tr><td>Egypt </td><td> 0.3%</td></tr>
<tr><td>UK </td><td> 0.3%</td></tr>
<tr><td>Germany </td><td> 0.3%</td></tr>
<tr><td>France </td><td> 0.3%</td></tr>
<tr><td>Canada </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Custard Apple Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Del Monte Fresh Produce N.A.</td><td>USA</td></tr>
<tr><td>Total Produce </td><td>Ireland</td></tr>
<tr><td>Chiquita Brands </td><td>USA</td></tr>
<tr><td>Dole Food Company, Inc. </td><td>USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td>USA</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Capespan </td><td>South Africa</td></tr>
<tr><td>Fyffes </td><td>Ireland</td></tr>
<tr><td>Dizon Fruit Trees, Inc. </td><td>Philippines</td></tr>
<tr><td>Suri Agro Fresh Pvt. Ltd. </td><td>India</td></tr>
<tr><td>Daltex </td><td>Egypt</td></tr>
<tr><td>ARRAKIS </td><td>France</td></tr>
<tr><td>BerryWorld </td><td>UK</td></tr>
<tr><td>Ayco Farms Inc. </td><td>USA</td></tr>
<tr><td>Vanguard International </td><td>Canada</td></tr>
<tr><td>Nature's Pride BV </td><td>Netherlands</td></tr>
<tr><td>Syngenta </td><td>Switzerland</td></tr>
<tr><td>AM FRESH </td><td>UK</td></tr>
<tr><td>Montague </td><td>Australia</td></tr>
<tr><td>INOQ </td><td>Germany</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Custard Apple Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Del Monte Fresh Produce N.A., Inc. </td><td>USA</td></tr>
<tr><td>Total Produce </td><td>Ireland</td></tr>
<tr><td>Chiquita Brands International </td><td>USA</td></tr>
<tr><td>Dole Food Company, Inc. </td><td>USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td>USA</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Capespan </td><td>South Africa</td></tr>
<tr><td>Fyffes </td><td>Ireland</td></tr>
<tr><td>Suri Agro Fresh Pvt. Ltd. </td><td>India</td></tr>
<tr><td>Daltex </td><td>Egypt</td></tr>
<tr><td>ARRAKIS </td><td>France</td></tr>
<tr><td>BerryWorld </td><td>UK</td></tr>
<tr><td>Ayco Farms Inc. </td><td>USA</td></tr>
<tr><td>Vanguard International </td><td>Canada</td></tr>
<tr><td>Nature's Pride BV </td><td>Netherlands</td></tr>
<tr><td>Syngenta </td><td>Switzerland</td></tr>
<tr><td>AM FRESH </td><td>UK</td></tr>
<tr><td>Montague </td><td>Australia</td></tr>
<tr><td>INOQ </td><td>Germany</td></tr>
<tr><td>Don Limon GmbH </td><td>Germany</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Custard Apple Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for custard apples, which are rich in fiber, vitamins, and minerals, is increasing as consumers become more health-conscious.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new custard apple varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Custard apples are being used in a wider range of products, such as smoothies, ice cream, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as canning and dehydration, are helping to create new product opportunities for custard apple-based products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of custard apples, which are high in antioxidants, vitamin C, and potassium.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting custard apple cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in custard apple cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>


</div>
<div class="w3-container w3-col m16  w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">The development of new custard apple products and markets, such as custard apple juice and custard apple-flavored snacks, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>

</div>

</div>

</body>
</html>

