<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("date-min.jpg"),:size => "100x100" %>
         
           <h4>Date</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $9.2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.9%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.2 million hectares</p>
        </div>
        </div>
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Date fruits are highly valued for their sweet taste and nutritional properties. They are consumed fresh and used in various products such as date syrup and desserts. Date palm cultivation is an important industry in many countries, including Saudi Arabia, Iran, and Egypt.

The potential for export opportunities for date fruits can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the  is a significant market for date fruits, and countries such as Saudi Arabia and Iran are major producers and exporters. In addition, the presence of trade agreements such as the Gulf Cooperation Council (GCC) can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Date Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td>14.6%</td></tr>
<tr><td>India </td><td>10.6%</td></tr>
<tr><td> </td><td>9.3%</td></tr>
<tr><td>Pakistan </td><td>6.5%</td></tr>
<tr><td>United Kingdom </td><td>5.3%</td></tr>
<tr><td>Germany </td><td>3.9%</td></tr>
<tr><td>France </td><td>3.5%</td></tr>
<tr><td>Canada </td><td>3.2%</td></tr>
<tr><td>Bangladesh </td><td>2.7%</td></tr>
<tr><td>Netherlands </td><td>2.2%</td></tr>
<tr><td>Saudi Arabia </td><td>2.2%</td></tr>
<tr><td>Italy </td><td>2.1%</td></tr>
<tr><td>Malaysia </td><td>2.0%</td></tr>
<tr><td>Spain </td><td>1.9%</td></tr>
<tr><td>Japan </td><td>1.7%</td></tr>
<tr><td>Belgium </td><td>1.7%</td></tr>
<tr><td>Switzerland </td><td>1.6%</td></tr>
<tr><td>China </td><td>1.5%</td></tr>
<tr><td>South Korea </td><td>1.5%</td></tr>
<tr><td>Kuwait </td><td>1.3%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Date Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iran </td><td>28.8%</td></tr>
<tr><td>Saudi Arabia </td><td>18.5%</td></tr>
<tr><td> </td><td>11.8%</td></tr>
<tr><td>Tunisia </td><td>5.3%</td></tr>
<tr><td>Pakistan </td><td>5.2%</td></tr>
<tr><td>Algeria </td><td>3.5%</td></tr>
<tr><td>Egypt </td><td>3.1%</td></tr>
<tr><td>Jordan </td><td>2.9%</td></tr>
<tr><td>Iraq </td><td>2.8%</td></tr>
<tr><td>Morocco </td><td>2.3%</td></tr>
<tr><td>United States </td><td>2.0%</td></tr>
<tr><td>Oman </td><td>1.6%</td></tr>
<tr><td>Libya </td><td>1.6%</td></tr>
<tr><td>Turkey </td><td>1.4%</td></tr>
<tr><td>Italy </td><td>1.2%</td></tr>
<tr><td>Canada </td><td>1.0%</td></tr>
<tr><td>France </td><td>0.9%</td></tr>
<tr><td>Spain </td><td>0.9%</td></tr>
<tr><td>Germany </td><td>0.8%</td></tr>
<tr><td>Netherlands </td><td>0.7%</td></tr>

</table>
</div>
</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Date Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Sudan </td><td> $0.69/kg </td><td> $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $1.09/kg </td><td> $0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $1.28/kg </td><td> $0.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $1.31/kg </td><td> $0.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $1.43/kg </td><td> $0.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $1.52/kg </td><td> $0.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $1.58/kg </td><td> $0.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $1.61/kg </td><td> $0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $1.63/kg </td><td> $0.74/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iraq </td><td> $1.79/kg </td><td> $0.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Jordan </td><td> $1.84/kg </td><td> $0.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Yemen </td><td> $1.92/kg </td><td> $0.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $2.12/kg </td><td> $0.96/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $2.28/kg </td><td> $1.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $2.28/kg </td><td> $1.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $2.32/kg </td><td> $1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $2.34/kg </td><td> $1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.40/kg </td><td> $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $2.45/kg </td><td> $1.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $2.52/kg </td><td> $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Date price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States </td><td> $14.89/kg </td><td> $6.76/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $12.75/kg </td><td> $5.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $10.94/kg </td><td> $4.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $9.66/kg </td><td> $4.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $8.87/kg </td><td> $4.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $8.70/kg </td><td> $3.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $8.51/kg </td><td> $3.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $8.17/kg </td><td> $3.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $8.03/kg </td><td> $3.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $7.97/kg </td><td> $3.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $7.90/kg </td><td> $3.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $7.53/kg </td><td> $3.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $7.22/kg </td><td> $3.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $6.96/kg </td><td> $3.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $6.61/kg </td><td> $3.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $6.58/kg </td><td> $2.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $6.37/kg </td><td> $2.90/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $6.25/kg </td><td> $2.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $5.80/kg </td><td> $2.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $5.65/kg </td><td> $2.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Date growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Egypt </td><td> 17.1%</td></tr>
<tr><td>Iran </td><td> 16.4%</td></tr>
<tr><td>Saudi Arabia </td><td> 14.4%</td></tr>
<tr><td>Algeria </td><td> 6.1%</td></tr>
<tr><td>Iraq </td><td> 5.8%</td></tr>
<tr><td>UAE </td><td> 4.8%</td></tr>
<tr><td>Pakistan </td><td> 4.1%</td></tr>
<tr><td>Tunisia </td><td> 3.6%</td></tr>
<tr><td>Oman </td><td> 3.4%</td></tr>
<tr><td>Libya </td><td> 2.8%</td></tr>
<tr><td>Morocco </td><td> 2.7%</td></tr>
<tr><td>Sudan </td><td> 2.6%</td></tr>
<tr><td>Yemen </td><td> 2.1%</td></tr>
<tr><td>Israel </td><td> 1.5%</td></tr>
<tr><td>Jordan </td><td> 1.3%</td></tr>
<tr><td>United States </td><td> 1.1%</td></tr>
<tr><td>Mexico </td><td> 0.8%</td></tr>
<tr><td>China </td><td> 0.7%</td></tr>
<tr><td>India </td><td> 0.6%</td></tr>
<tr><td>Afghanistan </td><td> 0.4%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Date Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>UAE </td><td> Jan to Mar</td></tr>
<tr><td>Saudi Arabia </td><td> Apr to Sep</td></tr>
<tr><td>Iraq </td><td> June to Oct</td></tr>
<tr><td>Tunisia </td><td> Oct to Jan</td></tr>
<tr><td>Oman </td><td> May to Oct</td></tr>
<tr><td>Egypt </td><td> Aug to Dec</td></tr>
<tr><td>Algeria </td><td> Sep to Nov</td></tr>
<tr><td>Morocco </td><td> Aug to Oct</td></tr>
<tr><td>Pakistan </td><td> Aug to Nov</td></tr>
<tr><td>Iran </td><td> Sep to Nov</td></tr>
<tr><td>Yemen </td><td> June to Aug</td></tr>
<tr><td>Jordan </td><td> Aug to Oct</td></tr>
<tr><td>United States </td><td> Aug to Oct</td></tr>
<tr><td>Libya </td><td> Sep to Nov</td></tr>
<tr><td>Israel </td><td> Aug to Oct</td></tr>
<tr><td>Bangladesh </td><td> Oct to Dec</td></tr>
<tr><td>India </td><td> Sep to Dec</td></tr>
<tr><td>Turkey </td><td> Aug to Nov</td></tr>
<tr><td>Syria </td><td> Sep to Oct</td></tr>
<tr><td>Sudan </td><td> Aug to Nov</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Date</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>Egypt </td><td> 17%</td></tr>
<tr><td>Iran </td><td> 15%</td></tr>
<tr><td>Algeria </td><td> 10%</td></tr>
<tr><td>Saudi Arabia </td><td> 9%</td></tr>
<tr><td>Iraq </td><td> 8%</td></tr>
<tr><td>Pakistan </td><td> 6%</td></tr>
<tr><td> UAE</td><td> 5%</td></tr>
<tr><td>Sudan </td><td> 4%</td></tr>
<tr><td>Oman </td><td> 3%</td></tr>
<tr><td>Tunisia </td><td> 2%</td></tr>
<tr><td>Morocco </td><td> 2%</td></tr>
<tr><td>Libya </td><td> 2%</td></tr>
<tr><td>Yemen </td><td> 1%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Jordan </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Date<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 4%</td></tr>
<tr><td>South Africa </td><td> 3%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Iraq </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Date Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Egypt </td><td> 20%</td></tr>
<tr><td>Iran </td><td> 18%</td></tr>
<tr><td>Algeria </td><td> 11%</td></tr>
<tr><td>Saudi Arabia </td><td> 9%</td></tr>
<tr><td>Iraq </td><td> 6%</td></tr>
<tr><td>Pakistan </td><td> 5%</td></tr>
<tr><td>UAE </td><td> 4%</td></tr>
<tr><td>Sudan </td><td> 3%</td></tr>
<tr><td>Tunisia </td><td> 2%</td></tr>
<tr><td>Morocco </td><td> 2%</td></tr>
<tr><td>Libya </td><td> 2%</td></tr>
<tr><td>Yemen </td><td> 1%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Jordan </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>
<tr><td>Oman </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Date Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Al Shahabi Trading Co. </td><td> UAE</td></tr>
<tr><td>Sultana Trading Company </td><td> USA</td></tr>
<tr><td>Lulu Hypermarket </td><td> Oman</td></tr>
<tr><td>Tamara Dates Company </td><td> Saudi Arabia</td></tr>
<tr><td>Basateen Foods KSA </td><td> Kuwait</td></tr>
<tr><td>Dabbagh Dates Factory </td><td> Bahrain</td></tr>
<tr><td>Nutraj </td><td> India</td></tr>
<tr><td>Barhi Dates </td><td> Australia</td></tr>
<tr><td>Yalda Trading </td><td> Canada</td></tr>
<tr><td>Zetouna Foods </td><td> USA</td></tr>
<tr><td>Delgetco </td><td> Iran</td></tr>
<tr><td>Lalljee Sons </td><td> Pakistan</td></tr>
<tr><td>Dates Valley </td><td> Egypt</td></tr>
<tr><td>Sebco </td><td> South Africa</td></tr>
<tr><td>Kizad </td><td> UAE</td></tr>
<tr><td>Al Watania Dates </td><td> Qatar</td></tr>
<tr><td>Kuwait Agriculture Company </td><td> Kuwait</td></tr>
<tr><td>Al-Khaleej Dates Factory </td><td> Oman</td></tr>
<tr><td>Royal Dates Company </td><td> UAE</td></tr>
<tr><td>Azzawiya </td><td> Libya</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Date Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Bateel International </td><td> UAE</td></tr>
<tr><td>Al Foah Company </td><td> UAE</td></tr>
<tr><td>Kudrat Overseas Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Hadiklaim </td><td> Israel</td></tr>
<tr><td>Desert Farms </td><td> USA</td></tr>
<tr><td>Bahrani Dates Factory </td><td> Bahrain</td></tr>
<tr><td>Shams Dates </td><td> Saudi Arabia</td></tr>
<tr><td>Ajwa Dates </td><td> Pakistan</td></tr>
<tr><td>Tamrah </td><td> UAE</td></tr>
<tr><td>Al Barakah Dates Factory </td><td> Saudi Arabia</td></tr>
<tr><td>Emirates Dates </td><td> UAE</td></tr>
<tr><td>Emirates Dates Factory </td><td> UAE</td></tr>
<tr><td>AL-Fakher Dates Factory LLC </td><td> UAE</td></tr>
<tr><td>Arabi Oasis Dates Factory </td><td> UAE</td></tr>
<tr><td>Al Madina Dates </td><td> UAE</td></tr>
<tr><td>Dabbas Dates </td><td> Jordan</td></tr>
<tr><td>Global Farm Limited </td><td> Bangladesh</td></tr>
<tr><td>Qasr Al Melouk </td><td> UAE</td></tr>
<tr><td>Ain Al Fayda Dates Factory </td><td> UAE</td></tr>
<tr><td>Al Kabeer Group </td><td> UAE</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Date Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for dates, which are rich in fiber, vitamins, and minerals, is increasing as consumers become more health-conscious.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new date varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Dates are being used in a wider range of products, such as energy bars, snacks, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as date syrup and date powder, are helping to create new product opportunities for dates.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of dates, which are high in antioxidants, fiber, and potassium.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting date cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in date cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>


</div>



<div class="w3-container w3-col m16  w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new date products and markets, such as date-based beverages and date paste, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>

</div>

</body>
</html>


