<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("gooseberry-min.jpg"),:size => "100x100" %>
         
           <h4>Gooseberry Fruit</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $4 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 198,790  hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Gooseberry crops can be at risk due to various factors such as pests and diseases, adverse weather conditions, and market fluctuations. However, the strategic value of gooseberry cultivation lies in its potential export opportunities.However, it should be noted that gooseberry cultivation is often part of a diverse fruit crop production system and provides an opportunity for farmers to expand their income streams.

In conclusion, while gooseberry cultivation may face various risks, its potential for export opportunities makes it a valuable crop for some countries. With the right conditions and market access, gooseberry exports can provide significant revenue and contribute to the economic development of these countries.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Gooseberry Fruit Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 17%</td></tr>
<tr><td>Netherlands </td><td> 15%</td></tr>
<tr><td>United Kingdom </td><td> 12%</td></tr>
<tr><td>Canada </td><td> 8%</td></tr>
<tr><td>Germany </td><td> 7%</td></tr>
<tr><td>Belgium </td><td> 6%</td></tr>
<tr><td>France </td><td> 5%</td></tr>
<tr><td>Russia </td><td> 4%</td></tr>
<tr><td>Australia </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Gooseberry Fruit Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Chile </td><td> 38%</td></tr>
<tr><td>South Africa </td><td> 12%</td></tr>
<tr><td>Netherlands </td><td> 8%</td></tr>
<tr><td>Peru </td><td> 6%</td></tr>
<tr><td>Mexico </td><td> 5%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>Morocco </td><td> 3%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>Kenya </td><td> 2%</td></tr>
<tr><td>Ecuador </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Colombia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Gooseberry Fruit Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.75/kg</td><td>  $0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $1.10/kg</td><td>  $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $1.20/kg</td><td>  $0.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $1.50/kg</td><td>  $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $1.60/kg</td><td>  $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $1.80/kg</td><td>  $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.85/kg</td><td>  $0.84/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $2.00/kg</td><td>  $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $2.10/kg</td><td>  $0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.15/kg</td><td>  $0.98/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $2.20/kg</td><td>  $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $2.25/kg</td><td>  $1.02/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $2.30/kg</td><td>  $1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $2.35/kg</td><td>  $1.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $2.40/kg</td><td>  $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $2.45/kg</td><td>  $1.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $2.50/kg</td><td>  $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $2.55/kg</td><td>  $1.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $2.60/kg</td><td>  $1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $2.65/kg</td><td>  $1.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Gooseberry Fruit price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $12.50/kg</td><td>  $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $11.20/kg</td><td>  $5.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $8.50/kg</td><td>  $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $7.70/kg</td><td>  $3.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $7.20/kg</td><td>  $3.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $7.10/kg</td><td>  $3.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $6.90/kg</td><td>  $3.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $6.70/kg</td><td>  $3.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $6.50/kg</td><td>  $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $6.20/kg</td><td>  $2.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $6.00/kg</td><td>  $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $5.90/kg</td><td>  $2.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $5.80/kg</td><td>  $2.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $5.60/kg</td><td>  $2.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $5.40/kg</td><td>  $2.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $5.20/kg</td><td>  $2.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $4.90/kg</td><td>  $2.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $4.80/kg</td><td>  $2.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $4.60/kg</td><td>  $2.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $4.40/kg</td><td>  $2.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Gooseberry Fruit growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Chile </td><td> 33%</td></tr>
<tr><td>South Africa </td><td> 17%</td></tr>
<tr><td>Colombia </td><td> 7%</td></tr>
<tr><td>Peru </td><td> 7%</td></tr>
<tr><td>Mexico </td><td> 4%</td></tr>
<tr><td>Ecuador </td><td> 4%</td></tr>
<tr><td>United States </td><td> 4%</td></tr>
<tr><td>Kenya </td><td> 3%</td></tr>
<tr><td>Argentina </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Gooseberry Fruit Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>India </td><td> April to June</td></tr>
<tr><td>Mexico </td><td> May to July</td></tr>
<tr><td>Chile </td><td> November to January</td></tr>
<tr><td>Peru </td><td> October to February</td></tr>
<tr><td>Colombia </td><td> October to January</td></tr>
<tr><td>South Africa </td><td> November to February</td></tr>
<tr><td>Ecuador </td><td> October to February</td></tr>
<tr><td>Kenya </td><td> November to January</td></tr>
<tr><td>Thailand </td><td> March to June</td></tr>
<tr><td>Brazil </td><td> October to December</td></tr>
<tr><td>Guatemala </td><td> March to June</td></tr>
<tr><td>Indonesia </td><td> April to August</td></tr>
<tr><td>Philippines </td><td> March to June</td></tr>
<tr><td>Zimbabwe </td><td> October to December</td></tr>
<tr><td>Egypt </td><td> March to May</td></tr>
<tr><td>Tanzania </td><td> October to December</td></tr>
<tr><td>Uganda </td><td> October to December</td></tr>
<tr><td>Costa Rica </td><td> January to March</td></tr>
<tr><td>Honduras </td><td> March to May</td></tr>
<tr><td>Madagascar </td><td> October to December</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Gooseberry Fruit</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 39%</td></tr>
<tr><td>Peru </td><td> 16%</td></tr>
<tr><td>Colombia </td><td> 11%</td></tr>
<tr><td>South Africa </td><td> 8%</td></tr>
<tr><td>Chile </td><td> 6%</td></tr>
<tr><td>Ecuador </td><td> 4%</td></tr>
<tr><td>Mexico </td><td> 3%</td></tr>
<tr><td>Kenya </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Gooseberry Fruit<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Philippines </td><td> 30%</td></tr>
<tr><td>Tanzania </td><td> 22%</td></tr>
<tr><td>Uganda </td><td> 12%</td></tr>
<tr><td>Zimbabwe </td><td> 8%</td></tr>
<tr><td>Rwanda </td><td> 4%</td></tr>
<tr><td>Malawi </td><td> 3%</td></tr>
<tr><td>Madagascar </td><td> 2%</td></tr>
<tr><td>Vietnam </td><td> 2%</td></tr>
<tr><td>Bangladesh </td><td> 2%</td></tr>
<tr><td>Myanmar </td><td> 1%</td></tr>
<tr><td>Cameroon </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>Ghana </td><td> 1%</td></tr>
<tr><td>Ivory Coast </td><td> 1%</td></tr>
<tr><td>Benin </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Nigeria </td><td> 1%</td></tr>
<tr><td>Togo </td><td> 1%</td></tr>
<tr><td>Senegal </td><td> 1%</td></tr>
<tr><td>Sierra Leone </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Gooseberry Fruit Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 60%</td></tr>
<tr><td>Peru </td><td> 9%</td></tr>
<tr><td>Colombia </td><td> 7%</td></tr>
<tr><td>Chile </td><td> 5%</td></tr>
<tr><td>South Africa </td><td> 3%</td></tr>
<tr><td>Ecuador </td><td> 2%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Kenya </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Gooseberry Fruit Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Driscoll's </td><td>USA</td></tr>
<tr><td>Total Berry </td><td>Spain</td></tr>
<tr><td>Berry Gardens Ltd </td><td>UK</td></tr>
<tr><td>BerryWorld Group Ltd </td><td>UK</td></tr>
<tr><td>Berryhill Foods Inc. </td><td>Canada</td></tr>
<tr><td>MBO Mellow Berry Overseas </td><td>India</td></tr>
<tr><td>Mountain Berry Farms </td><td>Canada</td></tr>
<tr><td>Naturipe Farms </td><td>USA</td></tr>
<tr><td>Hortex </td><td>Poland</td></tr>
<tr><td>Matilda Fruit </td><td>Australia</td></tr>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>T&G Global Limited </td><td>New Zealand</td></tr>
<tr><td>Al Shams Agro Group </td><td>Egypt</td></tr>
<tr><td>JMB Exporters </td><td>India</td></tr>
<tr><td>Bakhresa Group </td><td>Tanzania</td></tr>
<tr><td>PICO Agriculture </td><td>Chile</td></tr>
<tr><td>AG Thames Holdings Ltd </td><td>UK</td></tr>
<tr><td>Ardo Group </td><td>Belgium</td></tr>
<tr><td>Berrico Food Company </td><td>Netherlands</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Gooseberry Fruit Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Sun Belle Inc. </td><td>USA</td></tr>
<tr><td>Berryworld America </td><td>USA</td></tr>
<tr><td>SanLucar Fruit </td><td>Spain</td></tr>
<tr><td>Exportadora Rio Blanco </td><td>Chile</td></tr>
<tr><td>Sweetberry </td><td>South Africa</td></tr>
<tr><td>World Wide Fruit Ltd </td><td>UK</td></tr>
<tr><td>Driscoll's of Europe </td><td>Netherlands</td></tr>
<tr><td>Frutas Esther </td><td>Peru</td></tr>
<tr><td>Gourmet Trading </td><td>USA</td></tr>
<tr><td>Zerrillo Frutta </td><td>Italy</td></tr>
<tr><td>Blue Whale Exim </td><td>India</td></tr>
<tr><td>Mawana Foods Private Limited </td><td>India</td></tr>
<tr><td>Manbulloo Limited </td><td>Australia</td></tr>
<tr><td>Montagu Dried Fruit & Nuts </td><td>South Africa</td></tr>
<tr><td>Berry Fresh </td><td>Australia</td></tr>
<tr><td>Asuncion Export </td><td>Peru</td></tr>
<tr><td>Canet International </td><td>France</td></tr>
<tr><td>Berries Paradise </td><td>Mexico</td></tr>
<tr><td>Keystone Fruit Marketing Inc. </td><td>USA</td></tr>
<tr><td>Fresh Options Meatshop </td><td>Philippines</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Gooseberry Fruit Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for gooseberries, which are rich in vitamin C and other nutrients, is increasing as consumers become more health-conscious.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new gooseberry varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gooseberries are being used in a wider range of products, such as jams, jellies, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as freeze-drying and canning, are helping to extend the shelf life of gooseberries and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of gooseberries, which are high in antioxidants, fiber, and other nutrients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting gooseberry cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in gooseberry cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>
</div>

<div class="w3-container w3-col m16  w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new gooseberry products and markets, such as gooseberry wine and gooseberry-based snacks, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>

</div>

</body>
</html>


