<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("grape-min.jpg"),:size => "100x100" %>
         
           <h4>Grape Fruit</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $84 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 7.2 million hectares</p>
        </div>
        </div>
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Grapes are highly valued for their sweet taste and are used in various products such as wine, juice, and raisins. Grape cultivation is an important industry in many countries, including Italy, Spain, and Chile.

The potential for export opportunities for grapes can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the European Union is a significant market for grapes, and countries such as Italy and Spain are major producers and exporters. In addition, the presence of trade agreements such as the Chile-European Union Free Trade Agreement can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Grape Fruit Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 11.9%</td></tr>
<tr><td>Germany </td><td> 7.6%</td></tr>
<tr><td>United Kingdom </td><td> 6.8%</td></tr>
<tr><td>China </td><td> 5.9%</td></tr>
<tr><td>Canada </td><td> 5.7%</td></tr>
<tr><td>Netherlands </td><td> 5.5%</td></tr>
<tr><td>France </td><td> 5.3%</td></tr>
<tr><td>Russia </td><td> 4.9%</td></tr>
<tr><td>Japan </td><td> 4.6%</td></tr>
<tr><td>Belgium </td><td> 3.8%</td></tr>
<tr><td>South Korea </td><td> 2.7%</td></tr>
<tr><td>Spain </td><td> 2.5%</td></tr>
<tr><td>Italy </td><td> 2.2%</td></tr>
<tr><td>Australia </td><td> 2.1%</td></tr>
<tr><td>Switzerland </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 1.9%</td></tr>
<tr><td>Hong Kong </td><td> 1.8%</td></tr>
<tr><td>Taiwan </td><td> 1.6%</td></tr>
<tr><td>Singapore </td><td> 1.5%</td></tr>
<tr><td>Sweden </td><td> 1.3%</td></tr>


</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Grape Fruit Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Italy </td><td> 15.9%</td></tr>
<tr><td>Spain </td><td> 14.2%</td></tr>
<tr><td>Chile </td><td> 8.8%</td></tr>
<tr><td>United States </td><td> 8.6%</td></tr>
<tr><td>France </td><td> 7.2%</td></tr>
<tr><td>Australia </td><td> 6.7%</td></tr>
<tr><td>South Africa </td><td> 4.6%</td></tr>
<tr><td>Turkey </td><td> 3.5%</td></tr>
<tr><td>China </td><td> 3.3%</td></tr>
<tr><td>Argentina </td><td> 3.1%</td></tr>
<tr><td>Germany </td><td> 2.7%</td></tr>
<tr><td>Greece </td><td> 2.3%</td></tr>
<tr><td>Portugal </td><td> 1.7%</td></tr>
<tr><td>Mexico </td><td> 1.6%</td></tr>
<tr><td>India </td><td> 1.4%</td></tr>
<tr><td>Peru </td><td> 1.4%</td></tr>
<tr><td>Brazil </td><td> 1.3%</td></tr>
<tr><td>Netherlands </td><td> 1.2%</td></tr>
<tr><td>Hungary </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Grape Fruit Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey</td><td> $0.59/kg</td><td>  $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $0.65/kg</td><td>  $0.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $0.74/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $0.80/kg</td><td>  $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile</td><td> $0.87/kg</td><td>  $0.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $0.92/kg</td><td>  $0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa</td><td> $0.98/kg</td><td>  $0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $1.02/kg</td><td>  $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td><td> $1.03/kg</td><td>  $0.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $1.06/kg</td><td>  $0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $1.12/kg</td><td>  $0.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td><td> $1.20/kg</td><td>  $0.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal</td><td> $1.25/kg</td><td>  $0.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $1.29/kg</td><td>  $0.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $1.35/kg</td><td>  $0.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $1.43/kg</td><td>  $0.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $1.45/kg</td><td>  $0.66/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $1.52/kg</td><td>  $0.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $1.57/kg</td><td>  $0.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $1.59/kg</td><td>  $0.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Grape Fruit price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $5.77/kg</td><td>  $2.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE</td><td> $5.09/kg</td><td>  $2.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore</td><td> $4.68/kg</td><td>  $2.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar</td><td> $4.42/kg</td><td>  $2.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong</td><td> $4.12/kg</td><td>  $1.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait</td><td> $4.02/kg</td><td>  $1.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain</td><td> $3.89/kg</td><td>  $1.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $3.85/kg</td><td>  $1.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td> $3.77/kg</td><td>  $1.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td> $3.73/kg</td><td>  $1.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td> $3.67/kg</td><td>  $1.67/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $3.64/kg</td><td>  $1.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $3.60/kg</td><td>  $1.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td><td> $3.57/kg</td><td>  $1.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td> $3.55/kg</td><td>  $1.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $3.49/kg</td><td>  $1.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $3.48/kg</td><td>  $1.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $3.46/kg</td><td>  $1.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $3.38/kg</td><td>  $1.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $3.35/kg</td><td>  $1.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Grape Fruit growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 16.2%</td></tr>
<tr><td>Italy </td><td> 8.3%</td></tr>
<tr><td>United States </td><td> 7.9%</td></tr>
<tr><td>Spain </td><td> 7.7%</td></tr>
<tr><td>Turkey </td><td> 6.7%</td></tr>
<tr><td>Iran </td><td> 5.2%</td></tr>
<tr><td>France </td><td> 4.9%</td></tr>
<tr><td>Chile </td><td> 4.8%</td></tr>
<tr><td>Argentina </td><td> 4.2%</td></tr>
<tr><td>India </td><td> 2.9%</td></tr>
<tr><td>South Africa </td><td> 2.7%</td></tr>
<tr><td>Australia </td><td> 2.7%</td></tr>
<tr><td>Russia </td><td> 2.6%</td></tr>
<tr><td>Brazil </td><td> 2.5%</td></tr>
<tr><td>Greece </td><td> 2.1%</td></tr>
<tr><td>Mexico </td><td> 2.1%</td></tr>
<tr><td>Romania </td><td> 1.6%</td></tr>
<tr><td>Uzbekistan </td><td> 1.5%</td></tr>
<tr><td>Peru </td><td> 1.5%</td></tr>
<tr><td>Pakistan </td><td> 1.4%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Grape Fruit Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Argentina </td><td> Dec to March</td></tr>
<tr><td>Australia </td><td> January to April</td></tr>
<tr><td>Brazil </td><td> Dec to Feb</td></tr>
<tr><td>Chile </td><td> Feb to May</td></tr>
<tr><td>China </td><td> May to Sep</td></tr>
<tr><td>France </td><td> Aug to Oct</td></tr>
<tr><td>Germany </td><td> Sep to Oct</td></tr>
<tr><td>Greece </td><td> Aug to Oct</td></tr>
<tr><td>India </td><td> Nov to Feb</td></tr>
<tr><td>Italy </td><td> Sep to Oct</td></tr>
<tr><td>Mexico </td><td> July to Oct</td></tr>
<tr><td>Peru </td><td> Nov to April</td></tr>
<tr><td>Portugal </td><td> Aug to Oct</td></tr>
<tr><td>Romania </td><td> Aug to Oct</td></tr>
<tr><td>South Africa </td><td> Dec to Feb</td></tr>
<tr><td>Spain </td><td> Aug to Oct</td></tr>
<tr><td>Turkey </td><td> Aug to Oct</td></tr>
<tr><td>United States </td><td> June to Sep</td></tr>
<tr><td>Uzbekistan </td><td> Aug to Oct</td></tr>
<tr><td>Iran </td><td> Sep to Nov</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Grape Fruit</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Italy </td><td> 18.5%</td></tr>
<tr><td>Spain </td><td> 16.8%</td></tr>
<tr><td>France </td><td> 14.5%</td></tr>
<tr><td>United States </td><td> 8.3%</td></tr>
<tr><td>China </td><td> 6.9%</td></tr>
<tr><td>Turkey </td><td> 3.5%</td></tr>
<tr><td>Iran </td><td> 3.2%</td></tr>
<tr><td>Chile </td><td> 2.6%</td></tr>
<tr><td>Argentina </td><td> 2.2%</td></tr>
<tr><td>South Africa </td><td> 1.9%</td></tr>
<tr><td>India </td><td> 1.6%</td></tr>
<tr><td>Greece </td><td> 1.5%</td></tr>
<tr><td>Australia </td><td> 1.3%</td></tr>
<tr><td>Peru </td><td> 1.2%</td></tr>
<tr><td>Brazil </td><td> 1.2%</td></tr>
<tr><td>Portugal </td><td> 1.1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 0.8%</td></tr>
<tr><td>Uzbekistan </td><td> 0.7%</td></tr>
<tr><td>Egypt </td><td> 0.6%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Grape Fruit<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Indonesia </td><td> 0.5%</td></tr>
<tr><td>Pakistan </td><td> 0.4%</td></tr>
<tr><td>Bulgaria </td><td> 0.4%</td></tr>
<tr><td>Thailand </td><td> 0.4%</td></tr>
<tr><td>Tunisia </td><td> 0.4%</td></tr>
<tr><td>Algeria </td><td> 0.4%</td></tr>
<tr><td>Syria </td><td> 0.3%</td></tr>
<tr><td>Morocco </td><td> 0.3%</td></tr>
<tr><td>Lebanon </td><td> 0.3%</td></tr>
<tr><td>Moldova </td><td> 0.3%</td></tr>
<tr><td>Cyprus </td><td> 0.2%</td></tr>
<tr><td>Hungary </td><td> 0.2%</td></tr>
<tr><td>Georgia </td><td> 0.2%</td></tr>
<tr><td>Serbia </td><td> 0.2%</td></tr>
<tr><td>Montenegro </td><td> 0.2%</td></tr>
<tr><td>Bosnia and Herzegovina </td><td> 0.1%</td></tr>
<tr><td>North Macedonia </td><td> 0.1%</td></tr>
<tr><td>Croatia </td><td> 0.1%</td></tr>
<tr><td>Slovenia </td><td> 0.1%</td></tr>
<tr><td>Slovakia </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Grape Fruit Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 38.6%</td></tr>
<tr><td>United States </td><td> 10.8%</td></tr>
<tr><td>Italy </td><td> 8.3%</td></tr>
<tr><td>France </td><td> 6.8%</td></tr>
<tr><td>Germany </td><td> 3.7%</td></tr>
<tr><td>Russia </td><td> 3.3%</td></tr>
<tr><td>Spain </td><td> 2.8%</td></tr>
<tr><td>United Kingdom </td><td> 2.2%</td></tr>
<tr><td>Canada </td><td> 2.1%</td></tr>
<tr><td>Argentina </td><td> 1.6%</td></tr>
<tr><td>South Africa </td><td> 1.4%</td></tr>
<tr><td>Japan </td><td> 1.4%</td></tr>
<tr><td>Mexico </td><td> 1.2%</td></tr>
<tr><td>Brazil </td><td> 1.2%</td></tr>
<tr><td>Ukraine </td><td> 1.1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 0.9%</td></tr>
<tr><td>Poland </td><td> 0.9%</td></tr>
<tr><td>Netherlands </td><td> 0.8%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Grape Fruit Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Total Produce </td><td>Ireland</td></tr>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>Chiquita Brands International </td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Wonderful Citrus </td><td>USA</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Eurogroup </td><td>Italy</td></tr>
<tr><td>Fyffes </td><td>Ireland</td></tr>
<tr><td>Sun World International </td><td>USA</td></tr>
<tr><td>Sunkist Growers </td><td>USA</td></tr>
<tr><td>AMC Group </td><td>Chile</td></tr>
<tr><td>The Giumarra Companies </td><td>USA</td></tr>
<tr><td>Capespan </td><td>South Africa</td></tr>
<tr><td>Vanguard International </td><td>Canada</td></tr>
<tr><td>Camposol </td><td>Peru</td></tr>
<tr><td>Fresh Del Monte Produce </td><td>USA</td></tr>
<tr><td>Costa Group </td><td>Australia</td></tr>
<tr><td>T&G Global </td><td>New Zealand</td></tr>
<tr><td>G’s Group </td><td>UK</td></tr>
<tr><td>Seald Sweet International </td><td>USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Grape Fruit Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>Chiquita Brands International </td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Wonderful Citrus </td><td>USA</td></tr>
<tr><td>Eurogroup </td><td>Italy</td></tr>
<tr><td>Fyffes </td><td>Ireland</td></tr>
<tr><td>Sun World International </td><td>USA</td></tr>
<tr><td>Sunkist Growers </td><td>USA</td></tr>
<tr><td>The Giumarra Companies </td><td>USA</td></tr>
<tr><td>Capespan </td><td>South Africa</td></tr>
<tr><td>Vanguard International </td><td>Canada</td></tr>
<tr><td>Camposol </td><td>Peru</td></tr>
<tr><td>Fresh Del Monte Produce </td><td>USA</td></tr>
<tr><td>Costa Group </td><td>Australia</td></tr>
<tr><td>T&G Global </td><td>New Zealand</td></tr>
<tr><td>G’s Group </td><td>UK</td></tr>
<tr><td>Seald Sweet International </td><td>USA</td></tr>
<tr><td>FruitOne </td><td>South Africa</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Driscoll's </td><td>USA</td></tr>

</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Grape Fruit Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for grapes, which are a versatile and healthy fruit, is increasing globally as more consumers seek out healthy and convenient snack options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new grape varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Grapes are being used in a wider range of products, such as juices, wines, and dried fruits, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as cold storage and modified atmosphere packaging, are helping to extend the shelf life of grapes and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of grapes, which are high in antioxidants, vitamins, and minerals.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting grape cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>

</div>

<div class="w3-container w3-col m16  w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in grape cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new grape products and markets, such as grape seed oil and grape-based snacks, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>

</div>

</body>
</html>


