<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("jackfruit-min.jpg"),:size => "100x100" %>
         
           <h4>JackFruit Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $4.2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 2.2 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Jackfruit is a large, tropical fruit with a unique flavor and texture. It is consumed fresh and used in various products such as chips, ice cream, and curry. Jackfruit cultivation is an important industry in some countries, including India, Bangladesh, and Thailand.

The potential for export opportunities for jackfruit can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the United States is a significant market for jackfruit, and countries such as Thailand and India are major producers and exporters. In addition, the presence of trade agreements such as the ASEAN-India Free Trade Area can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top JackFruit Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Vietnam </td><td> 27.4%</td></tr>
<tr><td>India </td><td> 18.8%</td></tr>
<tr><td>Bangladesh </td><td> 7.6%</td></tr>
<tr><td>Thailand </td><td> 7.2%</td></tr>
<tr><td>United Arab Emirates </td><td> 5.2%</td></tr>
<tr><td>Nepal </td><td> 3.7%</td></tr>
<tr><td>Malaysia </td><td> 3.5%</td></tr>
<tr><td>Saudi Arabia </td><td> 3.2%</td></tr>
<tr><td>United States </td><td> 2.3%</td></tr>
<tr><td>Japan </td><td> 1.9%</td></tr>
<tr><td>Kuwait </td><td> 1.9%</td></tr>
<tr><td>Qatar </td><td> 1.7%</td></tr>
<tr><td>United Kingdom </td><td> 1.6%</td></tr>
<tr><td>Singapore </td><td> 1.4%</td></tr>
<tr><td>Netherlands </td><td> 1.2%</td></tr>
<tr><td>Oman </td><td> 0.9%</td></tr>
<tr><td>Germany </td><td> 0.9%</td></tr>
<tr><td>Hong Kong </td><td> 0.8%</td></tr>
<tr><td>France </td><td> 0.7%</td></tr>
<tr><td>Canada </td><td> 0.6%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top JackFruit Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Thailand </td><td> 34.3%</td></tr>
<tr><td>Vietnam </td><td> 20.9%</td></tr>
<tr><td>Philippines </td><td> 9.9%</td></tr>
<tr><td>Indonesia </td><td> 7.1%</td></tr>
<tr><td>Bangladesh </td><td> 4.4%</td></tr>
<tr><td>Sri Lanka </td><td> 4.2%</td></tr>
<tr><td>United States </td><td> 2.5%</td></tr>
<tr><td>Malaysia </td><td> 2.2%</td></tr>
<tr><td>Singapore </td><td> 1.6%</td></tr>
<tr><td>Japan </td><td> 1.4%</td></tr>
<tr><td>United Arab Emirates </td><td> 1.3%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.2%</td></tr>
<tr><td>Hong Kong </td><td> 1.0%</td></tr>
<tr><td>Kuwait </td><td> 0.9%</td></tr>
<tr><td>South Korea </td><td> 0.8%</td></tr>
<tr><td>China </td><td> 0.7%</td></tr>
<tr><td>Netherlands </td><td> 0.6%</td></tr>
<tr><td>Canada </td><td> 0.6%</td></tr>
<tr><td>United Kingdom </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable JackFruit Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.46/kg</td><td>  $0.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.76/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.81/kg</td><td>  $0.37/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.88/kg</td><td>  $0.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.90/kg</td><td>  $0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.94/kg</td><td>  $0.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $1.10/kg</td><td>  $0.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td> $1.26/kg</td><td>  $0.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia </td><td> $1.32/kg</td><td>  $0.60/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $1.35/kg</td><td>  $0.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td> $1.35/kg</td><td>  $0.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Laos </td><td> $1.36/kg</td><td>  $0.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $1.44/kg</td><td>  $0.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brunei </td><td> $1.64/kg</td><td>  $0.74/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $1.70/kg</td><td>  $0.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $1.75/kg</td><td>  $0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $1.79/kg</td><td>  $0.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $1.89/kg</td><td>  $0.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $1.91/kg</td><td>  $0.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cameroon </td><td> $1.94/kg</td><td>  $0.88/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased JackFruit Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States </td><td> $9.43/kg</td><td>  $4.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $7.21/kg</td><td>  $3.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $5.61/kg</td><td>  $2.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $5.19/kg</td><td>  $2.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $4.92/kg</td><td>  $2.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.72/kg</td><td>  $2.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $4.66/kg</td><td>  $2.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.55/kg</td><td>  $2.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $4.49/kg</td><td>  $2.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $4.48/kg</td><td>  $2.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $4.24/kg</td><td>  $1.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $3.95/kg</td><td>  $1.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $3.74/kg</td><td>  $1.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $3.53/kg</td><td>  $1.60/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $3.48/kg</td><td>  $1.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $3.39/kg</td><td>  $1.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $3.37/kg</td><td>  $1.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $3.32/kg</td><td>  $1.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $3.20/kg</td><td>  $1.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $3.12/kg</td><td>  $1.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost JackFruit Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 43%</td></tr>
<tr><td>Bangladesh </td><td> 16%</td></tr>
<tr><td>Thailand </td><td> 13%</td></tr>
<tr><td>Indonesia </td><td> 7%</td></tr>
<tr><td>Philippines </td><td> 5%</td></tr>
<tr><td>Vietnam </td><td> 4%</td></tr>
<tr><td>Brazil </td><td> 2%</td></tr>
<tr><td>Sri Lanka </td><td> 2%</td></tr>
<tr><td>Nepal </td><td> 2%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Cambodia </td><td> 1%</td></tr>
<tr><td>Myanmar </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>
<tr><td>Kenya </td><td> 0.5%</td></tr>
<tr><td>Tanzania </td><td> 0.5%</td></tr>
<tr><td>Papua New Guinea </td><td> 0.5%</td></tr>
<tr><td>Laos </td><td> 0.5%</td></tr>
<tr><td>Ghana </td><td> 0.5%</td></tr>
<tr><td>Nigeria </td><td> 0.5%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh JackFruit Crop Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Bangladesh</td><td> April to Sep</td></tr>
<tr><td>Thailand</td><td> April to August</td></tr>
<tr><td>Indonesia</td><td> Sep to Nov</td></tr>
<tr><td>India</td><td> May to Sep</td></tr>
<tr><td>Malaysia</td><td> October to Feb</td></tr>
<tr><td>Philippines</td><td> June to August</td></tr>
<tr><td>Sri Lanka</td><td> July to October</td></tr>
<tr><td>Vietnam</td><td> April to June</td></tr>
<tr><td>Cambodia</td><td> June to August</td></tr>
<tr><td>Myanmar</td><td> April to July</td></tr>
<tr><td>Nepal</td><td> May to August</td></tr>
<tr><td>Brazil</td><td> January to March</td></tr>
<tr><td>China</td><td> June to August</td></tr>
<tr><td>Laos</td><td> May to July</td></tr>
<tr><td>Papua New Guinea</td><td> Dec to Feb</td></tr>
<tr><td>Taiwan</td><td> April to August</td></tr>
<tr><td>Ghana</td><td> July to Nov</td></tr>
<tr><td>Cameroon</td><td> April to July</td></tr>
<tr><td>Nigeria</td><td> April to June</td></tr>
<tr><td>Uganda</td><td> Feb to May</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for JackFruit Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 20%</td></tr>
<tr><td>India </td><td> 17%</td></tr>
<tr><td>Thailand </td><td> 12%</td></tr>
<tr><td>Indonesia </td><td> 11%</td></tr>
<tr><td>Philippines </td><td> 10%</td></tr>
<tr><td>Vietnam </td><td> 9%</td></tr>
<tr><td>Malaysia </td><td> 6%</td></tr>
<tr><td>Sri Lanka </td><td> 4%</td></tr>
<tr><td>Nepal </td><td> 3%</td></tr>
<tr><td>Myanmar </td><td> 2%</td></tr>
<tr><td>Brazil </td><td> 2%</td></tr>
<tr><td>Cambodia </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Laos </td><td> 1%</td></tr>
<tr><td>Papua New Guinea </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Ghana </td><td> 1%</td></tr>
<tr><td>Cameroon </td><td> 1%</td></tr>
<tr><td>Nigeria </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for JackFruit Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 0.8%</td></tr>
<tr><td>Colombia </td><td> 0.7%</td></tr>
<tr><td>Ecuador </td><td> 0.6%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Guatemala </td><td> 0.4%</td></tr>
<tr><td>Dominican Republic </td><td> 0.4%</td></tr>
<tr><td>Venezuela </td><td> 0.3%</td></tr>
<tr><td>Costa Rica </td><td> 0.3%</td></tr>
<tr><td>Haiti </td><td> 0.3%</td></tr>
<tr><td>Panama </td><td> 0.2%</td></tr>
<tr><td>El Salvador </td><td> 0.2%</td></tr>
<tr><td>Honduras </td><td> 0.2%</td></tr>
<tr><td>Nicaragua </td><td> 0.1%</td></tr>
<tr><td>Puerto Rico </td><td> 0.1%</td></tr>
<tr><td>Jamaica </td><td> 0.1%</td></tr>
<tr><td>Cuba </td><td> 0.1%</td></tr>
<tr><td>Trinidad and Tobago </td><td> 0.1%</td></tr>
<tr><td>Belize </td><td> 0.1%</td></tr>
<tr><td>Guyana </td><td> 0.1%</td></tr>
<tr><td>Suriname </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top JackFruit Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 50%</td></tr>
<tr><td>Bangladesh </td><td> 25%</td></tr>
<tr><td>Thailand </td><td> 10%</td></tr>
<tr><td>Indonesia </td><td> 5%</td></tr>
<tr><td>Philippines </td><td> 3%</td></tr>
<tr><td>Vietnam </td><td> 2%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Sri Lanka </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>Myanmar </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
<tr><td>Cambodia </td><td> 0.5%</td></tr>
<tr><td>China </td><td> 0.3%</td></tr>
<tr><td>Laos </td><td> 0.3%</td></tr>
<tr><td>Papua New Guinea </td><td> 0.2%</td></tr>
<tr><td>Taiwan </td><td> 0.2%</td></tr>
<tr><td>Ghana </td><td> 0.1%</td></tr>
<tr><td>Cameroon </td><td> 0.1%</td></tr>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Uganda </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">JackFruit Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Jetro </td><td>Japan</td></tr>
<tr><td>Fruit Link Co. </td><td>Saudi Arabia</td></tr>
<tr><td>Fair Exports India </td><td>India</td></tr>
<tr><td>The Fresh Connection </td><td>USA</td></tr>
<tr><td>Bespoke Exim Private Limited </td><td>India</td></tr>
<tr><td>Advanced Global Trading </td><td>UAE</td></tr>
<tr><td>Ditsa Foods </td><td>India</td></tr>
<tr><td>Lao All Natural Co., Ltd. </td><td>Laos</td></tr>
<tr><td>Tropical Food Manufacturing </td><td>Thailand</td></tr>
<tr><td>S.S. International </td><td>India</td></tr>
<tr><td>PT Zona Buah </td><td>Indonesia</td></tr>
<tr><td>Riz Global Foods & Feeds </td><td>India</td></tr>
<tr><td>Unique Flavors International </td><td>USA</td></tr>
<tr><td>Cevvanti Export Private Limited </td><td>India</td></tr>
<tr><td>Luba Fresh </td><td>UAE</td></tr>
<tr><td>N. R. International </td><td>India</td></tr>
<tr><td>Selena Export Private Limited </td><td>India</td></tr>
<tr><td>K-Town International </td><td>USA</td></tr>
<tr><td>Rvcoms </td><td>India</td></tr>
<tr><td>Mega Natural Products Pvt.</td><td>India</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">JackFruit Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Viet Delta Industrial Co., Ltd. </td><td>Vietnam</td></tr>
<tr><td>Parivar Spices and Food Products </td><td>India</td></tr>
<tr><td>Ongban Ventures </td><td>Nigeria</td></tr>
<tr><td>Thanh Long Import Export Joint Stock</td><td>Vietnam</td></tr>
<tr><td>M.A.N Exporters </td><td>India</td></tr>
<tr><td>MK Import and Export </td><td>India</td></tr>
<tr><td>DMS Import Export Co., Ltd. </td><td>Vietnam</td></tr>
<tr><td>Ashapura Exports </td><td>India</td></tr>
<tr><td>Agristo BV </td><td>Netherlands</td></tr>
<tr><td>Urban Exports </td><td>India</td></tr>
<tr><td>Ekona Tropical Fruits </td><td>Cameroon</td></tr>
<tr><td>Jajoo Agro Pvt. Ltd. </td><td>India</td></tr>
<tr><td>Yummy Foods </td><td>India</td></tr>
<tr><td>Green Rootz </td><td>India</td></tr>
<tr><td>Bhavya International </td><td>India</td></tr>
<tr><td>Edlyn Foods Pty Ltd. </td><td>Australia</td></tr>
<tr><td>Sun Impex FZE </td><td>UAE</td></tr>
<tr><td>Bao Minh Agriculture Joint Stock</td><td>Vietnam</td></tr>
<tr><td>Oz Export BV </td><td>Netherlands</td></tr>
<tr><td>Hien Vuong Co., Ltd. </td><td>Vietnam</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>JackFruit Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for jackfruit, which is a versatile and nutritious fruit, is increasing globally as more consumers seek out plant-based and meat alternatives.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new jackfruit varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Jackfruit is being used in a wider range of products, such as vegan meat substitutes, snacks, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as canning and dehydration, are helping to extend the shelf life of jackfruit and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of jackfruit, which is high in fiber, vitamin C, and other nutrients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting jackfruit cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in jackfruit cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>

</div>
<div class="w3-container w3-col m16  w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">The development of new jackfruit products and markets, such as jackfruit-based burgers and jackfruit chips, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>


</div>


</body>
</html>


