<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("kiwi-min.jpg"),:size => "100x100" %>
         
           <h4>KiwiFruit</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $7.2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 9%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 231,000  hectares</p>
        </div>
        </div>
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Kiwi crops can be at risk due to various factors such as pests and diseases, adverse weather conditions, and market fluctuations. However, the strategic value of kiwi cultivation lies in its potential export opportunities.
The potential for export opportunities for kiwi can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the European Union is a significant market for kiwi, and countries such as Italy and New Zealand are major producers and exporters. In addition, the presence of trade agreements such as the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top KiwiFruit Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td>25.6%</td></tr>
<tr><td>Italy </td><td>10.2%</td></tr>
<tr><td>Hong Kong </td><td>9.9%</td></tr>
<tr><td>South Korea </td><td>8.5%</td></tr>
<tr><td>Germany </td><td>6.9%</td></tr>
<tr><td>France </td><td>5.9%</td></tr>
<tr><td>United States </td><td>5.8%</td></tr>
<tr><td>Netherlands </td><td>4.2%</td></tr>
<tr><td>Spain </td><td>2.8%</td></tr>
<tr><td>Belgium </td><td>1.6%</td></tr>
<tr><td>Canada </td><td>1.3%</td></tr>
<tr><td>Russia </td><td>1.1%</td></tr>
<tr><td>United Kingdom </td><td>1.0%</td></tr>
<tr><td>Singapore </td><td>0.8%</td></tr>
<tr><td>Malaysia </td><td>0.7%</td></tr>
<tr><td>Switzerland </td><td>0.7%</td></tr>
<tr><td>Australia </td><td>0.6%</td></tr>
<tr><td>Japan </td><td>0.5%</td></tr>
<tr><td>UAE </td><td>0.5%</td></tr>
<tr><td>Austria </td><td>0.4%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top KiwiFruit Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td>50.7%</td></tr>
<tr><td>Italy </td><td>10.7%</td></tr>
<tr><td>New Zealand </td><td>8.5%</td></tr>
<tr><td>Iran </td><td>3.3%</td></tr>
<tr><td>Greece </td><td>3.0%</td></tr>
<tr><td>Chile </td><td>2.8%</td></tr>
<tr><td>France </td><td>2.5%</td></tr>
<tr><td>Turkey </td><td>2.2%</td></tr>
<tr><td>South Korea </td><td>1.5%</td></tr>
<tr><td>Japan </td><td>1.4%</td></tr>
<tr><td>Spain </td><td>1.2%</td></tr>
<tr><td>Portugal </td><td>1.2%</td></tr>
<tr><td>United States </td><td>1.1%</td></tr>
<tr><td>Brazil </td><td>0.9%</td></tr>
<tr><td>Australia </td><td>0.8%</td></tr>
<tr><td>Argentina </td><td>0.6%</td></tr>
<tr><td>Israel </td><td>0.6%</td></tr>
<tr><td>Taiwan </td><td>0.5%</td></tr>
<tr><td>Mexico </td><td>0.4%</td></tr>
<tr><td>Peru </td><td>0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable KiwiFruit Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Greece </td><td> $1.02/kg</td><td> $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Italy </td><td> $1.06/kg</td><td> $0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Turkey </td><td> $1.12/kg</td><td> $0.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Spain </td><td> $1.15/kg</td><td> $0.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>France </td><td> $1.26/kg</td><td> $0.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Chile </td><td> $1.34/kg</td><td> $0.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>China </td><td> $1.40/kg</td><td> $0.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>New Zealand </td><td> $1.55/kg</td><td> $0.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>United States </td><td> $1.73/kg</td><td> $0.78/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>South Africa </td><td> $1.75/kg</td><td> $0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Australia </td><td> $1.79/kg</td><td> $0.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Peru </td><td> $1.80/kg</td><td> $0.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Mexico </td><td> $1.88/kg</td><td> $0.85/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Argentina </td><td> $2.04/kg</td><td> $0.92/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Brazil </td><td> $2.24/kg</td><td> $1.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Iran </td><td> $2.28/kg</td><td> $1.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Portugal </td><td> $2.33/kg</td><td> $1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Israel </td><td> $2.38/kg</td><td> $1.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>South Korea </td><td> $2.45/kg</td><td> $1.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Japan </td><td> $2.66/kg</td><td> $1.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased KiwiFruit price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $10.63/kg</td><td> $4.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Singapore </td><td> $7.63/kg</td><td> $3.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Hong Kong </td><td> $7.25/kg</td><td> $3.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>UAE </td><td> $6.45/kg</td><td> $2.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Bahrain </td><td> $5.31/kg</td><td> $2.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Qatar </td><td> $4.58/kg</td><td> $2.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Canada </td><td> $3.78/kg</td><td> $1.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Norway </td><td> $3.72/kg</td><td> $1.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Sweden </td><td> $3.64/kg</td><td> $1.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Switzerland </td><td> $3.49/kg</td><td> $1.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Denmark </td><td> $3.47/kg</td><td> $1.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Netherlands </td><td> $3.33/kg</td><td> $1.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Germany </td><td> $3.16/kg</td><td> $1.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Belgium </td><td> $3.15/kg</td><td> $1.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>United Kingdom </td><td> $3.09/kg</td><td> $1.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>France </td><td> $2.99/kg</td><td> $1.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Taiwan </td><td> $2.98/kg</td><td> $1.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>China </td><td> $2.82/kg</td><td> $1.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Italy </td><td> $2.76/kg</td><td> $1.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Spain </td><td> $2.51/kg</td><td> $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>

</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost KiwiFruit growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td>50.7%</td></tr>
<tr><td>Italy </td><td>10.7%</td></tr>
<tr><td>New Zealand </td><td>8.5%</td></tr>
<tr><td>Iran </td><td>3.3%</td></tr>
<tr><td>Greece </td><td>3.0%</td></tr>
<tr><td>Chile </td><td>2.8%</td></tr>
<tr><td>France </td><td>2.5%</td></tr>
<tr><td>Turkey </td><td>2.2%</td></tr>
<tr><td>South Korea </td><td>1.5%</td></tr>
<tr><td>Japan </td><td>1.4%</td></tr>
<tr><td>Spain </td><td>1.2%</td></tr>
<tr><td>Portugal </td><td>1.2%</td></tr>
<tr><td>United States </td><td>1.1%</td></tr>
<tr><td>Brazil </td><td>0.9%</td></tr>
<tr><td>Australia </td><td>0.8%</td></tr>
<tr><td>Argentina </td><td>0.6%</td></tr>
<tr><td>Israel </td><td>0.6%</td></tr>
<tr><td>Taiwan </td><td>0.5%</td></tr>
<tr><td>Mexico </td><td>0.4%</td></tr>
<tr><td>Peru </td><td>0.4%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh KiwiFruit Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Italy</td><td> October to May</td></tr>
<tr><td>New Zealand</td><td> March to June</td></tr>
<tr><td>Chile</td><td> April to October</td></tr>
<tr><td>Greece</td><td> October to March</td></tr>
<tr><td>France</td><td> November to May</td></tr>
<tr><td>China</td><td> October to March</td></tr>
<tr><td>Iran</td><td> November to May</td></tr>
<tr><td>Turkey</td><td> October to February</td></tr>
<tr><td>Spain</td><td> October to May</td></tr>
<tr><td>USA</td><td> October to May</td></tr>
<tr><td>South Korea</td><td> October to February</td></tr>
<tr><td>Japan</td><td> October to February</td></tr>
<tr><td>Portugal</td><td> October to January</td></tr>
<tr><td>Brazil</td><td> March to August</td></tr>
<tr><td>Australia</td><td> April to October</td></tr>
<tr><td>South Africa</td><td> March to June</td></tr>
<tr><td>Argentina</td><td> March to August</td></tr>
<tr><td>Peru</td><td> April to August</td></tr>
<tr><td>Mexico</td><td> November to May</td></tr>
<tr><td>Colombia</td><td> September to December</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for KiwiFruit</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 45%</td></tr>
<tr><td>Italy </td><td> 14%</td></tr>
<tr><td>New Zealand </td><td> 12%</td></tr>
<tr><td>Iran </td><td> 8%</td></tr>
<tr><td>Greece </td><td> 5%</td></tr>
<tr><td>Chile </td><td> 3%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>India </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>
<tr><td>Egypt </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.5%</td></tr>
<tr><td>Morocco </td><td> 0.5%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for KiwiFruit<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Colombia </td><td> 6%</td></tr>
<tr><td>Ecuador </td><td> 5%</td></tr>
<tr><td>Peru </td><td> 5%</td></tr>
<tr><td>Israel </td><td> 4%</td></tr>
<tr><td>Argentina </td><td> 3%</td></tr>
<tr><td>Uruguay </td><td> 3%</td></tr>
<tr><td>Kenya </td><td> 2%</td></tr>
<tr><td>Nepal </td><td> 2%</td></tr>
<tr><td>Bolivia </td><td> 2%</td></tr>
<tr><td>Honduras </td><td> 1%</td></tr>
<tr><td>Papua New Guinea </td><td> 1%</td></tr>
<tr><td>Rwanda </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Cameroon </td><td> 1%</td></tr>
<tr><td>Democratic Republic of the Congo </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Guatemala </td><td> 1%</td></tr>
<tr><td>Malawi </td><td> 1%</td></tr>
<tr><td>Nicaragua </td><td> 1%</td></tr>
<tr><td>Nigeria </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top KiwiFruit Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 29%</td></tr>
<tr><td>Italy </td><td> 13%</td></tr>
<tr><td>South Korea </td><td> 7%</td></tr>
<tr><td>Japan </td><td> 6%</td></tr>
<tr><td>United States </td><td> 6%</td></tr>
<tr><td>Germany </td><td> 5%</td></tr>
<tr><td>France </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>United Kingdom </td><td> 3%</td></tr>
<tr><td>Russia </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Taiwan </td><td> 2%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>UAE </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">KiwiFruit Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Zespri International Limited </td><td> New Zealand</td></tr>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Maersk Line </td><td> Denmark</td></tr>
<tr><td>Chiquita Brands International </td><td> Switzerland</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Freshmax Group </td><td> Australia</td></tr>
<tr><td>Dalian Yidu Group Co. Ltd </td><td> China</td></tr>
<tr><td>Vanguard Logistics Services </td><td> USA</td></tr>
<tr><td>Eurodix S.L </td><td> Spain</td></tr>
<tr><td>Agricom Fruit </td><td> Chile</td></tr>
<tr><td>Exofruit </td><td> France</td></tr>
<tr><td>Fyffes </td><td> Ireland</td></tr>
<tr><td>Tri Union Trading Co. Ltd. </td><td> Taiwan</td></tr>
<tr><td>D. & A. Tropical Fruit </td><td> USA</td></tr>
<tr><td>Exportadora Santa Cruz </td><td> Chile</td></tr>
<tr><td>Unifrutti </td><td> Philippines</td></tr>
<tr><td>Afrifresh Group </td><td> South Africa</td></tr>
<tr><td>Golden Wing Mau Agricultural Produce. </td><td> China</td></tr>
<tr><td>Jyoti Global Foods Pvt Ltd </td><td> India</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">KiwiFruit Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Zespri International Limited </td><td> New Zealand</td></tr>
<tr><td>Sunkist Growers Inc. </td><td> USA</td></tr>
<tr><td>Chiquita Brands International </td><td> Switzerland</td></tr>
<tr><td>Capespan Group Ltd. </td><td> South Africa</td></tr>
<tr><td>SunPacific </td><td> USA</td></tr>
<tr><td>Freshmax Group </td><td> Australia</td></tr>
<tr><td>Dalian Yidu Group Co. Ltd </td><td> China</td></tr>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Eurodix S.L </td><td> Spain</td></tr>
<tr><td>T&G Global </td><td> New Zealand</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Agricom Fruit </td><td> Chile</td></tr>
<tr><td>Exofruit </td><td> France</td></tr>
<tr><td>Fyffes </td><td> Ireland</td></tr>
<tr><td>Vanguard Logistics Services </td><td> USA</td></tr>
<tr><td>Tri Union Trading Co. Ltd. </td><td> Taiwan</td></tr>
<tr><td>D. & A. Tropical Fruit </td><td> USA</td></tr>
<tr><td>Exportadora Santa Cruz </td><td> Chile</td></tr>
<tr><td>Unifrutti </td><td> Philippines</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>KiwiFruit Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new kiwifruit varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Kiwifruit is being used in a wider range of products, such as smoothies, snacks, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as vacuum packing and modified atmosphere packaging, are helping to extend the shelf life of kiwifruit and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of kiwifruit, which is high in fiber, vitamin C, and other nutrients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting kiwifruit cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in kiwifruit cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>

</div>
<div class="w3-container w3-col m16  w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for kiwifruit, which is rich in vitamin C, fiber, and antioxidants, is increasing as consumers become more health-conscious.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new kiwifruit products and markets, such as kiwifruit-based energy bars and kiwifruit juice, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>


</div>



</body>
</html>






