<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("lemon-min.jpg"),:size => "100x100" %>
         
           <h4>Lemon</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $20 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.7 million hectares</p>
        </div>
        </div>
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Lemons are a versatile citrus fruit that are highly valued for their acidic taste and aroma. They are used in various products such as juice, cooking, and cleaning agents. Lemon cultivation is an important industry in many countries, including Spain, Argentina, and the USA.

The potential for export opportunities for lemons can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the European Union is a significant market for lemons, and countries such as Spain and Argentina are major producers and exporters. In addition, the presence of trade agreements such as the USA-Mexico-Canada Agreement (USMCA) can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Lemon Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 13.1%</td></tr>
<tr><td>Netherlands </td><td> 9.6%</td></tr>
<tr><td>Russia </td><td> 7.8%</td></tr>
<tr><td>Germany </td><td> 6.5%</td></tr>
<tr><td>UK </td><td> 5.9%</td></tr>
<tr><td>France </td><td> 5.4%</td></tr>
<tr><td>China </td><td> 4.7%</td></tr>
<tr><td>Canada </td><td> 4.2%</td></tr>
<tr><td>Belgium </td><td> 3.6%</td></tr>
<tr><td>UAE </td><td> 2.8%</td></tr>
<tr><td>Saudi Arabia </td><td> 2.6%</td></tr>
<tr><td>Switzerland </td><td> 2.4%</td></tr>
<tr><td>Poland </td><td> 2.3%</td></tr>
<tr><td>Italy </td><td> 2.2%</td></tr>
<tr><td>South Korea </td><td> 1.8%</td></tr>
<tr><td>Japan </td><td> 1.6%</td></tr>
<tr><td>Spain </td><td> 1.5%</td></tr>
<tr><td>Australia </td><td> 1.4%</td></tr>
<tr><td>Czech Republic </td><td> 1.2%</td></tr>
<tr><td>Sweden </td><td> 1.1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Lemon Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 20.7%</td></tr>
<tr><td>Argentina </td><td> 16.5%</td></tr>
<tr><td>Turkey </td><td> 9.9%</td></tr>
<tr><td>South Africa </td><td> 8.1%</td></tr>
<tr><td>Mexico </td><td> 5.6%</td></tr>
<tr><td>Greece </td><td> 5.5%</td></tr>
<tr><td>Italy </td><td> 4.7%</td></tr>
<tr><td>USA </td><td> 3.2%</td></tr>
<tr><td>Chile </td><td> 2.6%</td></tr>
<tr><td>Uruguay </td><td> 2.1%</td></tr>
<tr><td>India </td><td> 1.8%</td></tr>
<tr><td>Peru </td><td> 1.6%</td></tr>
<tr><td>Brazil </td><td> 1.5%</td></tr>
<tr><td>France </td><td> 1.4%</td></tr>
<tr><td>Egypt </td><td> 1.2%</td></tr>
<tr><td>Portugal </td><td> 1.1%</td></tr>
<tr><td>Israel </td><td> 0.9%</td></tr>
<tr><td>Morocco </td><td> 0.8%</td></tr>
<tr><td>Tunisia </td><td> 0.7%</td></tr>
<tr><td>Cyprus </td><td> 0.6%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Lemon Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> $0.54/kg</td><td>  $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.59/kg</td><td>  $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.60/kg</td><td>  $0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.67/kg</td><td>  $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.72/kg</td><td>  $0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.73/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $0.79/kg</td><td>  $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.85/kg</td><td>  $0.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.88/kg</td><td>  $0.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.90/kg</td><td>  $0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $0.92/kg</td><td>  $0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $0.94/kg</td><td>  $0.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $0.95/kg</td><td>  $0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $0.97/kg</td><td>  $0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.99/kg</td><td>  $0.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $1.00/kg</td><td>  $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $1.01/kg</td><td>  $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $1.03/kg</td><td>  $0.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cyprus </td><td> $1.05/kg</td><td>  $0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $1.06/kg</td><td>  $0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Lemon price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>UAE </td><td> $3.39/kg</td><td>  $1.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $2.60/kg</td><td>  $1.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $2.50/kg</td><td>  $1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $2.31/kg</td><td>  $1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $2.22/kg</td><td>  $1.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $2.06/kg</td><td>  $0.94/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $2.00/kg</td><td>  $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $1.93/kg</td><td>  $0.88/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $1.76/kg</td><td>  $0.80/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $1.75/kg</td><td>  $0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $1.74/kg</td><td>  $0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $1.71/kg</td><td>  $0.78/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.70/kg</td><td>  $0.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $1.67/kg</td><td>  $0.76/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.65/kg</td><td>  $0.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.63/kg</td><td>  $0.74/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $1.61/kg</td><td>  $0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.59/kg</td><td>  $0.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.57/kg</td><td>  $0.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $1.55/kg</td><td>  $0.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Lemon growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 20.3%</td></tr>
<tr><td>Mexico </td><td> 13.3%</td></tr>
<tr><td>China </td><td> 9.7%</td></tr>
<tr><td>Argentina </td><td> 8.8%</td></tr>
<tr><td>Turkey </td><td> 7.1%</td></tr>
<tr><td>Spain </td><td> 5.9%</td></tr>
<tr><td>Iran </td><td> 4.6%</td></tr>
<tr><td>USA </td><td> 3.6%</td></tr>
<tr><td>Italy </td><td> 3.3%</td></tr>
<tr><td>Brazil </td><td> 3.0%</td></tr>
<tr><td>Egypt </td><td> 2.8%</td></tr>
<tr><td>Pakistan </td><td> 2.7%</td></tr>
<tr><td>Greece </td><td> 2.5%</td></tr>
<tr><td>Syria </td><td> 1.8%</td></tr>
<tr><td>Morocco </td><td> 1.4%</td></tr>
<tr><td>Peru </td><td> 1.4%</td></tr>
<tr><td>Turkey </td><td> 1.4%</td></tr>
<tr><td>Tunisia </td><td> 1.3%</td></tr>
<tr><td>Algeria </td><td> 1.3%</td></tr>
<tr><td>South Africa </td><td> 1.1%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Lemon Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Argentina</td><td> May to Sep</td></tr>
<tr><td>Brazil</td><td> Jan-Mar and Jun-Aug</td></tr>
<tr><td>China</td><td> Nov to March</td></tr>
<tr><td>Egypt</td><td> Nov to April</td></tr>
<tr><td>Greece</td><td> Nov to April</td></tr>
<tr><td>India</td><td> Feb-June and Aug-Oct</td></tr>
<tr><td>Italy</td><td> Nov to April</td></tr>
<tr><td>Mexico</td><td> Oct to June</td></tr>
<tr><td>Peru</td><td> May to Oct</td></tr>
<tr><td>Spain</td><td> Oct to April</td></tr>
<tr><td>Turkey</td><td> Sep to April</td></tr>
<tr><td>USA</td><td> Year-round</td></tr>
<tr><td>South Africa</td><td> March to Sep</td></tr>
<tr><td>Iran</td><td> Oct to Feb</td></tr>
<tr><td>Morocco</td><td> Nov to May</td></tr>
<tr><td>Australia</td><td> June to Aug</td></tr>
<tr><td>Chile</td><td> May to Oct</td></tr>
<tr><td>New Zealand</td><td> April to Sep</td></tr>
<tr><td>Syria</td><td> Nov to March</td></tr>
<tr><td>Tunisia</td><td> Nov to June</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Lemon</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India</td><td> 16%</td></tr>
<tr><td>Mexico</td><td> 7%</td></tr>
<tr><td>Argentina</td><td> 7%</td></tr>
<tr><td>Spain</td><td> 6%</td></tr>
<tr><td>Turkey</td><td> 5%</td></tr>
<tr><td>Iran</td><td> 5%</td></tr>
<tr><td>USA</td><td> 4%</td></tr>
<tr><td>Italy</td><td> 4%</td></tr>
<tr><td>Brazil</td><td> 4%</td></tr>
<tr><td>China</td><td> 4%</td></tr>
<tr><td>South Africa</td><td> 3%</td></tr>
<tr><td>Egypt</td><td> 3%</td></tr>
<tr><td>Greece</td><td> 3%</td></tr>
<tr><td>Pakistan</td><td> 2%</td></tr>
<tr><td>Morocco</td><td> 2%</td></tr>
<tr><td>Syria</td><td> 1%</td></tr>
<tr><td>Peru</td><td> 1%</td></tr>
<tr><td>Cyprus</td><td> 1%</td></tr>
<tr><td>Israel</td><td> 1%</td></tr>
<tr><td>Tunisia</td><td> 1%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Lemon<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bahrain</td><td> 1%</td></tr>
<tr><td>Belgium</td><td> 1%</td></tr>
<tr><td>Bulgaria</td><td> 1%</td></tr>
<tr><td>Colombia</td><td> 1%</td></tr>
<tr><td>Croatia</td><td> 1%</td></tr>
<tr><td>Czech Republic</td><td> 1%</td></tr>
<tr><td>Dominican Republic</td><td> 1%</td></tr>
<tr><td>France</td><td> 1%</td></tr>
<tr><td>Germany</td><td> 1%</td></tr>
<tr><td>Hungary</td><td> 1%</td></tr>
<tr><td>Iraq</td><td> 1%</td></tr>
<tr><td>Japan</td><td> 1%</td></tr>
<tr><td>Kuwait</td><td> 1%</td></tr>
<tr><td>Lebanon</td><td> 1%</td></tr>
<tr><td>Netherlands</td><td> 1%</td></tr>
<tr><td>Oman</td><td> 1%</td></tr>
<tr><td>Portugal</td><td> 1%</td></tr>
<tr><td>Romania</td><td> 1%</td></tr>
<tr><td>Saudi Arabia</td><td> 1%</td></tr>
<tr><td>UK</td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Lemon Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA</td><td> 17%</td></tr>
<tr><td>European Union</td><td> 16%</td></tr>
<tr><td>China</td><td> 14%</td></tr>
<tr><td>India</td><td> 8%</td></tr>
<tr><td>Mexico</td><td> 6%</td></tr>
<tr><td>Turkey</td><td> 5%</td></tr>
<tr><td>Argentina</td><td> 4%</td></tr>
<tr><td>Brazil</td><td> 4%</td></tr>
<tr><td>Iran</td><td> 3%</td></tr>
<tr><td>Japan</td><td> 2%</td></tr>
<tr><td>Russia</td><td> 2%</td></tr>
<tr><td>Egypt</td><td> 2%</td></tr>
<tr><td>South Africa</td><td> 2%</td></tr>
<tr><td>Indonesia</td><td> 1%</td></tr>
<tr><td>Thailand</td><td> 1%</td></tr>
<tr><td>Pakistan</td><td> 1%</td></tr>
<tr><td>Saudi Arabia</td><td> 1%</td></tr>
<tr><td>Australia</td><td> 1%</td></tr>
<tr><td>Vietnam</td><td> 1%</td></tr>
<tr><td>South Korea</td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Lemon Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>Chiquita Brands International </td><td>Switzerland</td></tr>
<tr><td>Total Produce </td><td>Ireland</td></tr>
<tr><td>Sunkist Growers </td><td>USA</td></tr>
<tr><td>Wonderful Citrus </td><td>USA</td></tr>
<tr><td>Giumarra </td><td>USA</td></tr>
<tr><td>Eurosemillas S.A. </td><td>Spain</td></tr>
<tr><td>Capespan </td><td>South Africa</td></tr>
<tr><td>Vanguard International </td><td>Canada</td></tr>
<tr><td>Fyffes </td><td>Ireland</td></tr>
<tr><td>The Greenery </td><td>Netherlands</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Zespri International </td><td>New Zealand</td></tr>
<tr><td>SanLucar Fruit </td><td>Spain</td></tr>
<tr><td>International Fruit Genetics </td><td>USA</td></tr>
<tr><td>Seald Sweet International </td><td>USA</td></tr>
<tr><td>Export Packers </td><td>Canada</td></tr>
<tr><td>Country Fresh Mushroom Co. </td><td>USA</td></tr>
<tr><td>Laparkan Trading Ltd. </td><td>Guyana</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Lemon Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Agricom International </td><td>USA</td></tr>
<tr><td>Limoneira Company </td><td>USA</td></tr>
<tr><td>Duda Farm Fresh Foods </td><td>USA</td></tr>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>Wonderful Citrus </td><td>USA</td></tr>
<tr><td>Sun Pacific </td><td>USA</td></tr>
<tr><td>The Giumarra Companies </td><td>USA</td></tr>
<tr><td>Greenyard Fresh </td><td>Belgium</td></tr>
<tr><td>Frutera del Litoral </td><td>Ecuador</td></tr>
<tr><td>Fyffes </td><td>Ireland</td></tr>
<tr><td>SanLucar Fruit </td><td>Spain</td></tr>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Sunkist Growers </td><td>USA</td></tr>
<tr><td>Gallo Tropical Fruit </td><td>USA</td></tr>
<tr><td>Vanguard International </td><td>Canada</td></tr>
<tr><td>Capespan </td><td>South Africa</td></tr>
<tr><td>Chiquita Brands International </td><td>Switzerland</td></tr>
<tr><td>Total Produce </td><td>Ireland</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Zespri International </td><td>New Zealand</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Lemon Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for lemons, which are a versatile fruit used in a variety of dishes and beverages, is increasing globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new lemon varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Lemons are being used in a wider range of products, such as teas, syrups, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as vacuum packing and modified atmosphere packaging, are helping to extend the shelf life of lemons and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of lemons, which are high in vitamin C and other antioxidants.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting lemon cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
</div>

<div class="w3-container w3-col m16  w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in lemon cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new lemon products and markets, such as lemon-based cleaning products and lemon-flavored sparkling water, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>



</div>


</body>
</html>




