<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("pineapple-min.jpg"),:size => "100x100" %>
         
           <h4>Pineapple Fruit</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.8 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.6 million hectares</p>
        </div>
        </div>
        </div>
 
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Pineapple is a tropical fruit with a sweet, juicy flesh and is consumed fresh and used in various products such as juice and desserts. Pineapple cultivation is an important industry in many countries, including Costa Rica, the Philippines, and Brazil.

The potential for export opportunities for pineapples can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the United States is a significant market for pineapples, and countries such as Costa Rica and the Philippines are major producers and exporters. In addition, the presence of trade agreements such as the Dominican Republic-Central America Free Trade Agreement (CAFTA-DR) can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Pineapple Fruit Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 20.3%</td></tr>
<tr><td>China </td><td> 12.6%</td></tr>
<tr><td>Netherlands </td><td> 11.7%</td></tr>
<tr><td>Belgium </td><td> 6.7%</td></tr>
<tr><td>Germany </td><td> 5.2%</td></tr>
<tr><td>UK </td><td> 4.5%</td></tr>
<tr><td>Spain </td><td> 4.4%</td></tr>
<tr><td>Italy </td><td> 3.9%</td></tr>
<tr><td>Canada </td><td> 3.8%</td></tr>
<tr><td>France </td><td> 3.3%</td></tr>
<tr><td>Japan </td><td> 2.7%</td></tr>
<tr><td>Poland </td><td> 2.3%</td></tr>
<tr><td>South Korea </td><td> 2.2%</td></tr>
<tr><td>Russia </td><td> 2.0%</td></tr>
<tr><td>Malaysia </td><td> 1.9%</td></tr>
<tr><td>UAE </td><td> 1.7%</td></tr>
<tr><td>Sweden </td><td> 1.6%</td></tr>
<tr><td>Switzerland </td><td> 1.5%</td></tr>
<tr><td>Hong Kong </td><td> 1.5%</td></tr>
<tr><td>Singapore </td><td> 1.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pineapple Fruit Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Costa Rica </td><td> 20.1%</td></tr>
<tr><td>Philippines </td><td> 17.3%</td></tr>
<tr><td>Netherlands </td><td> 14.8%</td></tr>
<tr><td>Ecuador </td><td> 9.7%</td></tr>
<tr><td>Belgium </td><td> 8.1%</td></tr>
<tr><td>Thailand </td><td> 7.3%</td></tr>
<tr><td>Spain </td><td> 4.2%</td></tr>
<tr><td>Honduras </td><td> 2.8%</td></tr>
<tr><td>Mexico </td><td> 2.5%</td></tr>
<tr><td>Colombia </td><td> 1.8%</td></tr>
<tr><td>Panama </td><td> 1.6%</td></tr>
<tr><td>Kenya </td><td> 1.4%</td></tr>
<tr><td>Ghana </td><td> 1.3%</td></tr>
<tr><td>South Africa </td><td> 1.2%</td></tr>
<tr><td>Ivory Coast </td><td> 1.2%</td></tr>
<tr><td>Malaysia </td><td> 1.1%</td></tr>
<tr><td>China </td><td> 1.1%</td></tr>
<tr><td>Guatemala </td><td> 1.0%</td></tr>
<tr><td>Indonesia </td><td> 0.9%</td></tr>
<tr><td>Brazil </td><td> 0.8%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Pineapple Fruit Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India</td><td> $0.30/kg</td><td>  $0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines</td><td> $0.43/kg</td><td>  $0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica</td><td> $0.52/kg</td><td>  $0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $0.54/kg</td><td>  $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador</td><td> $0.55/kg</td><td>  $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia</td><td> $0.59/kg</td><td>  $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ivory Coast</td><td> $0.61/kg</td><td>  $0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.65/kg</td><td>  $0.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya</td><td> $0.66/kg</td><td>  $0.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala</td><td> $0.68/kg</td><td>  $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Panama</td><td> $0.70/kg</td><td>  $0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras</td><td> $0.70/kg</td><td>  $0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua</td><td> $0.71/kg</td><td>  $0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $0.75/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda</td><td> $0.75/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania</td><td> $0.75/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana</td><td> $0.75/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cameroon</td><td> $0.76/kg</td><td>  $0.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar</td><td> $0.76/kg</td><td>  $0.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Dominican Republic</td><td> $0.80/kg</td><td>  $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Pineapple Fruit price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $3.33/kg</td><td>  $1.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $2.99/kg</td><td>  $1.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $2.74/kg</td><td>  $1.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE</td><td> $2.73/kg</td><td>  $1.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $2.51/kg</td><td>  $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain</td><td> $2.50/kg</td><td>  $1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait</td><td> $2.35/kg</td><td>  $1.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar</td><td> $2.23/kg</td><td>  $1.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman</td><td> $2.14/kg</td><td>  $0.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia</td><td> $2.12/kg</td><td>  $0.96/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore</td><td> $2.07/kg</td><td>  $0.94/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong</td><td> $1.97/kg</td><td>  $0.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $1.85/kg</td><td>  $0.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $1.82/kg</td><td>  $0.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $1.81/kg</td><td>  $0.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $1.80/kg</td><td>  $0.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $1.73/kg</td><td>  $0.78/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $1.66/kg</td><td>  $0.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $1.65/kg</td><td>  $0.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $1.55/kg</td><td>  $0.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Pineapple Fruit growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Costa Rica </td><td> 28.5%</td></tr>
<tr><td>Brazil </td><td> 12.1%</td></tr>
<tr><td>Philippines </td><td> 9.9%</td></tr>
<tr><td>Thailand </td><td> 9.7%</td></tr>
<tr><td>Indonesia </td><td> 7.3%</td></tr>
<tr><td>India </td><td> 5.2%</td></tr>
<tr><td>Mexico </td><td> 3.8%</td></tr>
<tr><td>China </td><td> 3.5%</td></tr>
<tr><td>Nigeria </td><td> 3.3%</td></tr>
<tr><td>Vietnam </td><td> 2.6%</td></tr>
<tr><td>Colombia </td><td> 2.2%</td></tr>
<tr><td>Peru </td><td> 2.1%</td></tr>
<tr><td>Ecuador </td><td> 1.9%</td></tr>
<tr><td>Guatemala </td><td> 1.5%</td></tr>
<tr><td>Kenya </td><td> 1.4%</td></tr>
<tr><td>South Africa </td><td> 1.4%</td></tr>
<tr><td>Ivory Coast </td><td> 1.2%</td></tr>
<tr><td>Honduras </td><td> 1.1%</td></tr>
<tr><td>Panama </td><td> 1.0%</td></tr>
<tr><td>Sri Lanka </td><td> 0.9%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Pineapple Fruit Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Costa Rica </td><td> Mar-Jun and Sep-Dec</td></tr>
<tr><td>Philippines </td><td> Nov to Feb</td></tr>
<tr><td>Brazil </td><td> Dec to Mar</td></tr>
<tr><td>Thailand </td><td> Mar-Jun and Oct-Dec</td></tr>
<tr><td>Indonesia </td><td> All year round</td></tr>
<tr><td>India </td><td> May-Jun and Aug-Sep</td></tr>
<tr><td>Ecuador </td><td> All year round</td></tr>
<tr><td>Colombia </td><td> Mar-Jun and Sep-Dec</td></tr>
<tr><td>China </td><td> May to Aug</td></tr>
<tr><td>Mexico </td><td> Apr to Aug</td></tr>
<tr><td>Kenya </td><td> Oct to Mar</td></tr>
<tr><td>Nigeria </td><td> All year round</td></tr>
<tr><td>Malaysia </td><td> All year round</td></tr>
<tr><td>Vietnam </td><td> Mar-Jun and Nov-Feb</td></tr>
<tr><td>Ivory Coast </td><td> All year round</td></tr>
<tr><td>Guatemala </td><td> Jan-Jun and Sep-Dec</td></tr>
<tr><td>Honduras </td><td> Apr-Aug and Oct-Dec</td></tr>
<tr><td>Peru </td><td> Oct-Jan and Mar-May</td></tr>
<tr><td>Panama </td><td> Mar-Jun and Sep-Dec</td></tr>
<tr><td>Dominican Republic </td><td> All year round</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Pineapple Fruit</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Philippines </td><td> 19.4%</td></tr>
<tr><td>Thailand </td><td> 17.4%</td></tr>
<tr><td>Brazil </td><td> 13.9%</td></tr>
<tr><td>Costa Rica </td><td> 9.4%</td></tr>
<tr><td>Indonesia </td><td> 6.4%</td></tr>
<tr><td>India </td><td> 4.7%</td></tr>
<tr><td>Mexico </td><td> 3.6%</td></tr>
<tr><td>China </td><td> 3.3%</td></tr>
<tr><td>Kenya </td><td> 2.2%</td></tr>
<tr><td>Nigeria </td><td> 1.9%</td></tr>
<tr><td>Ecuador </td><td> 1.6%</td></tr>
<tr><td>Colombia </td><td> 1.3%</td></tr>
<tr><td>Malaysia </td><td> 1.1%</td></tr>
<tr><td>Vietnam </td><td> 0.9%</td></tr>
<tr><td>Ivory Coast </td><td> 0.8%</td></tr>
<tr><td>Guatemala </td><td> 0.8%</td></tr>
<tr><td>Honduras </td><td> 0.6%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Panama </td><td> 0.5%</td></tr>
<tr><td>Dominican Republic </td><td> 0.5%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Pineapple Fruit<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 0.4%</td></tr>
<tr><td>South Korea </td><td> 0.3%</td></tr>
<tr><td>Taiwan </td><td> 0.3%</td></tr>
<tr><td>United States </td><td> 0.3%</td></tr>
<tr><td>Italy </td><td> 0.2%</td></tr>
<tr><td>Spain </td><td> 0.2%</td></tr>
<tr><td>France </td><td> 0.2%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Netherlands </td><td> 0.2%</td></tr>
<tr><td>UK </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.1%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>Poland </td><td> 0.1%</td></tr>
<tr><td>Australia </td><td> 0.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.1%</td></tr>
<tr><td>UAE </td><td> 0.1%</td></tr>
<tr><td>Russia </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>Turkey </td><td> 0.1%</td></tr>
<tr><td>Egypt </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pineapple Fruit Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Philippines </td><td> 27.5%</td></tr>
<tr><td>Brazil </td><td> 13.7%</td></tr>
<tr><td>Thailand </td><td> 10.4%</td></tr>
<tr><td>Indonesia </td><td> 8.4%</td></tr>
<tr><td>India </td><td> 7.3%</td></tr>
<tr><td>Nigeria </td><td> 3.9%</td></tr>
<tr><td>China </td><td> 3.6%</td></tr>
<tr><td>Mexico </td><td> 2.7%</td></tr>
<tr><td>Costa Rica </td><td> 2.6%</td></tr>
<tr><td>Colombia </td><td> 2.4%</td></tr>
<tr><td>Angola </td><td> 1.4%</td></tr>
<tr><td>Vietnam </td><td> 1.3%</td></tr>
<tr><td>Ivory Coast </td><td> 1.3%</td></tr>
<tr><td>Ecuador </td><td> 1.2%</td></tr>
<tr><td>Peru </td><td> 1.2%</td></tr>
<tr><td>Venezuela </td><td> 1.1%</td></tr>
<tr><td>Ghana </td><td> 1%</td></tr>
<tr><td>Cameroon </td><td> 0.8%</td></tr>
<tr><td>Kenya </td><td> 0.7%</td></tr>
<tr><td>Haiti </td><td> 0.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Pineapple Fruit Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company</td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce</td><td> USA</td></tr>
<tr><td>Chiquita Brands</td><td> USA</td></tr>
<tr><td>Fyffes</td><td> Ireland</td></tr>
<tr><td>Noboa</td><td> Ecuador</td></tr>
<tr><td>Tropical Fruit</td><td> USA</td></tr>
<tr><td>Frontera Produce</td><td> USA</td></tr>
<tr><td>Chestnut Hill Farms</td><td> USA</td></tr>
<tr><td>Coral Gables</td><td> USA</td></tr>
<tr><td>Turbana</td><td> USA</td></tr>
<tr><td>Lapanday Foods Corporation</td><td> Philippines</td></tr>
<tr><td>Naturipe Farms</td><td> USA</td></tr>
<tr><td>J&C Tropicals</td><td> USA</td></tr>
<tr><td>Mekong Fruit</td><td> Vietnam</td></tr>
<tr><td>Brooks Tropicals</td><td> USA</td></tr>
<tr><td>Maersk Line</td><td> Denmark</td></tr>
<tr><td>Eurofresh</td><td> USA</td></tr>
<tr><td>Costa Farms</td><td> USA</td></tr>
<tr><td>C.H. Robinson Worldwide</td><td> USA</td></tr>
<tr><td>Pacific Produce</td><td> USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Pineapple Fruit Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company</td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce</td><td> USA</td></tr>
<tr><td>Chiquita Brands</td><td> USA</td></tr>
<tr><td>Fyffes</td><td> Ireland</td></tr>
<tr><td>Golden Exotics Limited</td><td> Ghana</td></tr>
<tr><td>Maui Pineapple Company</td><td> USA</td></tr>
<tr><td>Chestnut Hill Farms</td><td> USA</td></tr>
<tr><td>Pineapples Australia Pty Ltd</td><td> Australia</td></tr>
<tr><td>Lapanday Foods Corporation</td><td> Philippines</td></tr>
<tr><td>Maui Land & Pineapple Company</td><td> USA</td></tr>
<tr><td>Mekong Fruit</td><td> Vietnam</td></tr>
<tr><td>Brooks Tropicals</td><td> USA</td></tr>
<tr><td>Naturipe Farms</td><td> USA</td></tr>
<tr><td>Turbana</td><td> USA</td></tr>
<tr><td>Frontera Produce</td><td> USA</td></tr>
<tr><td>Wm. H. Zachry Company</td><td> USA</td></tr>
<tr><td>Chumpol Food Products</td><td> Thailand</td></tr>
<tr><td>Pacific Produce</td><td> USA</td></tr>
<tr><td>Alliance Select Foods</td><td> Philippines</td></tr>
<tr><td>San Miguel Pure Foods</td><td> Philippines</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Pineapple Fruit Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new pineapple varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Pineapples are being used in a wider range of products, such as flavored drinks, snacks, and desserts, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as canning and freeze-drying, are helping to extend the shelf life of pineapples and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of pineapples, which are high in vitamin C, fiber, and other nutrients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting pineapple cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in pineapple cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>


</div>
<div class="w3-container w3-col m16  w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for pineapples, which are a tropical fruit with a sweet and tangy flavor, is increasing globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new pineapple products and markets, such as pineapple-based energy drinks and pineapple-flavored yogurt, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>

</div>

</body>
</html>

