<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("quince-min.jpg"),:size => "100x100" %>
         
           <h4>quince</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $522.5 USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.7%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 145,000 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Quince is a fruit with a tart, aromatic flesh and is commonly used in cooking and for making jams and jellies. Quince cultivation is an important industry in many countries, including Turkey, Iran, and Argentina.

The potential for export opportunities for quinces can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the European Union is a significant market for quinces, and countries such as Turkey and Iran are major producers and exporters. In addition, the presence of trade agreements such as the Mercosur-European Union Free Trade Agreement can provide a competitive advantage for exporters.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top quince Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 22%</td></tr>
<tr><td>Germany </td><td> 15%</td></tr>
<tr><td>France </td><td> 10%</td></tr>
<tr><td>Ukraine </td><td> 6%</td></tr>
<tr><td>Netherlands </td><td> 4%</td></tr>
<tr><td>USA </td><td> 4%</td></tr>
<tr><td>UK </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Poland </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Belarus </td><td> 2%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Kazakhstan </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Slovakia </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top quince Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 34%</td></tr>
<tr><td>Uzbekistan </td><td> 18%</td></tr>
<tr><td>Azerbaijan </td><td> 7%</td></tr>
<tr><td>Ukraine </td><td> 7%</td></tr>
<tr><td>Iran </td><td> 6%</td></tr>
<tr><td>China </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Georgia </td><td> 2%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Kazakhstan </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable quince Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> $0.75/kg</td><td>  $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $0.84/kg</td><td>  $0.38/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $1.01/kg</td><td>  $0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $1.16/kg</td><td>  $0.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $1.28/kg</td><td>  $0.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Azerbaijan </td><td> $1.45/kg</td><td>  $0.66/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $1.53/kg</td><td>  $0.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $1.56/kg</td><td>  $0.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $1.58/kg</td><td>  $0.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $1.61/kg</td><td>  $0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $1.68/kg</td><td>  $0.76/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $1.74/kg</td><td>  $0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.77/kg</td><td>  $0.80/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $1.82/kg</td><td>  $0.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.83/kg</td><td>  $0.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $1.91/kg</td><td>  $0.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $1.93/kg</td><td>  $0.88/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $2.01/kg</td><td>  $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica </td><td> $2.13/kg</td><td>  $0.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Dominican Republic </td><td> $2.39/kg</td><td>  $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased quince price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>UAE </td><td> $14.15/kg</td><td>  $6.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $10.94/kg</td><td>  $4.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $9.73/kg</td><td>  $4.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $8.43/kg</td><td>  $3.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $8.11/kg</td><td>  $3.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $7.72/kg</td><td>  $3.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $7.27/kg</td><td>  $3.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $7.22/kg</td><td>  $3.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $6.94/kg</td><td>  $3.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $6.70/kg</td><td>  $3.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $6.38/kg</td><td>  $2.90/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $6.20/kg</td><td>  $2.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $5.92/kg</td><td>  $2.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $5.61/kg</td><td>  $2.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $5.35/kg</td><td>  $2.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $5.20/kg</td><td>  $2.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $4.89/kg</td><td>  $2.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $4.66/kg</td><td>  $2.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $4.34/kg</td><td>  $1.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $3.73/kg</td><td>  $1.69/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost quince growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 23%</td></tr>
<tr><td>Uzbekistan </td><td> 13%</td></tr>
<tr><td>Iran </td><td> 11%</td></tr>
<tr><td>Morocco </td><td> 8%</td></tr>
<tr><td>Azerbaijan </td><td> 6%</td></tr>
<tr><td>Argentina </td><td> 5%</td></tr>
<tr><td>China </td><td> 4%</td></tr>
<tr><td>Algeria </td><td> 4%</td></tr>
<tr><td>Russia </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh quince Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Turkey </td><td> Aug to Oct</td></tr>
<tr><td>Iran </td><td> Sep to Dec</td></tr>
<tr><td>Uzbekistan </td><td> Aug to Oct</td></tr>
<tr><td>China </td><td> Oct to Dec</td></tr>
<tr><td>Azerbaijan </td><td> Sep to Oct</td></tr>
<tr><td>Russia </td><td> Aug to Sep</td></tr>
<tr><td>Ukraine </td><td> Aug to Sep</td></tr>
<tr><td>Greece </td><td> Sep to Nov</td></tr>
<tr><td>Morocco </td><td> Sep to Nov</td></tr>
<tr><td>Lebanon </td><td> Aug to Oct</td></tr>
<tr><td>Algeria </td><td> Sep to Nov</td></tr>
<tr><td>Tunisia </td><td> Sep to Nov</td></tr>
<tr><td>Syria </td><td> Aug to Sep</td></tr>
<tr><td>Spain </td><td> Sep to Oct</td></tr>
<tr><td>Italy </td><td> Sep to Nov</td></tr>
<tr><td>Afghanistan </td><td> Oct to Dec</td></tr>
<tr><td>Egypt </td><td> Sep to Nov</td></tr>
<tr><td>Pakistan </td><td> Sep to Dec</td></tr>
<tr><td>USA </td><td> Sep to Nov</td></tr>
<tr><td>Argentina </td><td> Mar to May</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for quince</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 31%</td></tr>
<tr><td>Iran </td><td> 23%</td></tr>
<tr><td>Uzbekistan </td><td> 12%</td></tr>
<tr><td>China </td><td> 10%</td></tr>
<tr><td>Azerbaijan </td><td> 4%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Ukraine </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Morocco </td><td> 2%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>
<tr><td>Algeria </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for quince<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Saudi Arabia </td><td> 0.8%</td></tr>
<tr><td>Georgia </td><td> 0.7%</td></tr>
<tr><td>Kyrgyzstan </td><td> 0.6%</td></tr>
<tr><td>Chile </td><td> 0.5%</td></tr>
<tr><td>Kazakhstan </td><td> 0.4%</td></tr>
<tr><td>South Africa </td><td> 0.3%</td></tr>
<tr><td>Israel </td><td> 0.3%</td></tr>
<tr><td>Portugal </td><td> 0.3%</td></tr>
<tr><td>France </td><td> 0.3%</td></tr>
<tr><td>Moldova </td><td> 0.2%</td></tr>
<tr><td>Romania </td><td> 0.2%</td></tr>
<tr><td>Australia </td><td> 0.2%</td></tr>
<tr><td>Uzbekistan </td><td> 0.2%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>India </td><td> 0.1%</td></tr>
<tr><td>Cyprus </td><td> 0.1%</td></tr>
<tr><td>Iraq </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Croatia </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top quince Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 33%</td></tr>
<tr><td>Iran </td><td> 24%</td></tr>
<tr><td>Uzbekistan </td><td> 8%</td></tr>
<tr><td>Azerbaijan </td><td> 5%</td></tr>
<tr><td>Russia </td><td> 3%</td></tr>
<tr><td>Ukraine </td><td> 3%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Morocco </td><td> 2%</td></tr>
<tr><td>Algeria </td><td> 2%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 0.8%</td></tr>
<tr><td>Brazil </td><td> 0.7%</td></tr>
<tr><td>Argentina </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">quince Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>AMR Handels GmbH </td><td> Germany</td></tr>
<tr><td>Eco Foods </td><td> Netherlands</td></tr>
<tr><td>AgroIndustria Guayabales S.A.S. </td><td> Colombia</td></tr>
<tr><td>Naturkost Übelhör GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>BR International </td><td> USA</td></tr>
<tr><td>Prodeca </td><td> Spain</td></tr>
<tr><td>Fruca Marketing </td><td> Belgium</td></tr>
<tr><td>Impex Prime Corp. </td><td> Canada</td></tr>
<tr><td>Tat Sun Company Limited </td><td> Hong Kong</td></tr>
<tr><td>OVN Trading Engineers B.V. </td><td> Netherlands</td></tr>
<tr><td>Elite Fresh Produce </td><td> UK</td></tr>
<tr><td>Fresh Fruits Company </td><td> UAE</td></tr>
<tr><td>Alara Agri </td><td> Turkey</td></tr>
<tr><td>Frutas Esther S.L. </td><td> Spain</td></tr>
<tr><td>Gulf Fruits LLC </td><td> UAE</td></tr>
<tr><td>Procomel </td><td> Brazil</td></tr>
<tr><td>Fruition UK Ltd. </td><td> UK</td></tr>
<tr><td>Asia Farm F&B Pte. Ltd. </td><td> Singapore</td></tr>
<tr><td>Emexfruit </td><td> Chile</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">quince Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Egypts Best for Agricultural Development Co. </td><td> Egypt</td></tr>
<tr><td>Cultivator Natural Products Pvt Ltd </td><td> India</td></tr>
<tr><td>Chinchillas Fruit Export S.A. </td><td> Peru</td></tr>
<tr><td>Agroindustria Riojana de la Patagonia SA </td><td> Argentina</td></tr>
<tr><td>BSI Exports Pvt. Ltd. </td><td> India</td></tr>
<tr><td>FRUCTOSE SAS </td><td> France</td></tr>
<tr><td>Grupo Altozano </td><td> Mexico</td></tr>
<tr><td>PICO </td><td> Chile</td></tr>
<tr><td>Exsa Imports and Exports </td><td> South Africa</td></tr>
<tr><td>Frutacor </td><td> Brazil</td></tr>
<tr><td>Unifrutti Traders Pty Ltd </td><td> South Africa</td></tr>
<tr><td>Erbifrut SRL </td><td> Italy</td></tr>
<tr><td>BGT Pomfruits </td><td> Belgium</td></tr>
<tr><td>Amigo Foods </td><td> Pakistan</td></tr>
<tr><td>Chiltern Produce Ltd. </td><td> UK</td></tr>
<tr><td>KFM Trading Ltd. </td><td> Cyprus</td></tr>
<tr><td>Mr Apple New Zealand Ltd. </td><td> New Zealand</td></tr>
<tr><td>Punica D.O.O. </td><td> Bosnia and Herzegovina</td></tr>
<tr><td>Tonus Les Dooel </td><td> North Macedonia</td></tr>
<tr><td>Yantai Reiyo Foods Co., Ltd. </td><td> China</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>quince Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">The demand for quince, which is a fragrant fruit used in cooking and baking, is increasing globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new quince varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quince is being used in a wider range of products, such as jams, jellies, and flavored drinks, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as freeze-drying and vacuum-sealing, are helping to extend the shelf life of quince and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of quince, which is high in fiber, vitamins, and other nutrients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting quince cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in quince cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new quince products and markets, such as quince-flavored honey and quince-based spirits, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>

</div>


</body>
</html>



