<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
       }
.newsdata {
height: 860px;
overflow-y: scroll;
}      
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("watermelon-min.jpg"),:size => "100x100" %>
         
           <h4>Watermelon Fruit</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $18.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 4.8 million hectares</p>
        </div>
        </div>
 
      </div>
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      <p><i></i>The potential for export opportunities for watermelons can depend on factors such as the quality of the crop, the availability of markets, and the presence of trade agreements. For example, the European Union is a significant market for watermelons, and countries such as Turkey and Iran are major producers and exporters. In addition, the presence of trade agreements such as the China-Australia Free Trade Agreement can provide a competitive advantage for exporters.

In terms of percentage, the value of potential export opportunities for watermelons can be significant. For example, in 2021, the value of watermelon exports as a percentage of total agricultural exports was 1% for China, 2% for Turkey, and 3% for Iran.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Watermelon Fruit Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 9.9%</td></tr>
<tr><td>Netherlands </td><td> 7.5%</td></tr>
<tr><td>Japan </td><td> 7.1%</td></tr>
<tr><td>Belgium </td><td> 5.6%</td></tr>
<tr><td>United Kingdom </td><td> 4.4%</td></tr>
<tr><td>Canada </td><td> 4.1%</td></tr>
<tr><td>Germany </td><td> 3.7%</td></tr>
<tr><td>France </td><td> 3.6%</td></tr>
<tr><td>China </td><td> 3.4%</td></tr>
<tr><td>South Korea </td><td> 2.8%</td></tr>
<tr><td>Russia </td><td> 2.6%</td></tr>
<tr><td>Spain </td><td> 2.5%</td></tr>
<tr><td>Italy </td><td> 2.4%</td></tr>
<tr><td>Hong Kong </td><td> 2.2%</td></tr>
<tr><td>United Arab Emirates </td><td> 2.1%</td></tr>
<tr><td>Sweden </td><td> 2.0%</td></tr>
<tr><td>Denmark </td><td> 1.9%</td></tr>
<tr><td>Norway </td><td> 1.9%</td></tr>
<tr><td>Finland </td><td> 1.8%</td></tr>
<tr><td>Switzerland </td><td> 1.7%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Watermelon Fruit Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 15.7%</td></tr>
<tr><td>Mexico </td><td> 12.2%</td></tr>
<tr><td>Turkey </td><td> 9.2%</td></tr>
<tr><td>Morocco </td><td> 7.8%</td></tr>
<tr><td>Greece </td><td> 7.3%</td></tr>
<tr><td>USA </td><td> 6.3%</td></tr>
<tr><td>Egypt </td><td> 5.9%</td></tr>
<tr><td>Iran </td><td> 4.4%</td></tr>
<tr><td>Italy </td><td> 4.1%</td></tr>
<tr><td>Ukraine </td><td> 2.9%</td></tr>
<tr><td>China </td><td> 2.9%</td></tr>
<tr><td>Brazil </td><td> 2.6%</td></tr>
<tr><td>Uzbekistan </td><td> 2.5%</td></tr>
<tr><td>Algeria </td><td> 2.0%</td></tr>
<tr><td>Tunisia </td><td> 1.6%</td></tr>
<tr><td>Serbia </td><td> 1.5%</td></tr>
<tr><td>Bulgaria </td><td> 1.4%</td></tr>
<tr><td>Jordan </td><td> 1.3%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Moldova </td><td> 1.2%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Watermelon Fruit Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Egypt</td><td>1.08/kg</td><td> 0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Iran</td><td>1.22/kg</td><td> 0.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Morocco</td><td>1.38/kg</td><td> 0.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Algeria</td><td>1.40/kg</td><td> 0.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Turkey</td><td>1.57/kg</td><td> 0.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Ukraine</td><td>1.58/kg</td><td> 0.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Russia</td><td>1.59/kg</td><td> 0.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>India</td><td>1.61/kg</td><td> 0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Pakistan</td><td>1.62/kg</td><td> 0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Uzbekistan</td><td>1.65/kg</td><td> 0.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Kazakhstan</td><td>1.69/kg</td><td> 0.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>China</td><td>1.76/kg</td><td> 0.80/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Brazil</td><td>1.87/kg</td><td> 0.85/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Spain</td><td>2.05/kg</td><td> 0.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Italy</td><td>2.11/kg</td><td> 0.96/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Mexico</td><td>2.13/kg</td><td> 0.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Greece</td><td>2.27/kg</td><td> 1.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>United States</td><td>2.35/kg</td><td> 1.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>France</td><td>2.39/kg</td><td> 1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Japan</td><td>3.27/kg</td><td> 1.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Watermelon Fruit price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td>3.27/kg</td><td> 1.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>UAE</td><td>2.90/kg</td><td> 1.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Qatar</td><td>2.81/kg</td><td> 1.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Bahrain</td><td>2.70/kg</td><td> 1.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Kuwait</td><td>2.67/kg</td><td> 1.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Saudi Arabia</td><td>2.52/kg</td><td> 1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>United Kingdom</td><td>2.42/kg</td><td> 1.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Germany</td><td>2.40/kg</td><td> 1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Belgium</td><td>2.38/kg</td><td> 1.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Netherlands</td><td>2.34/kg</td><td> 1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Switzerland</td><td>2.33/kg</td><td> 1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>France</td><td>2.31/kg</td><td> 1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Canada</td><td>2.28/kg</td><td> 1.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Greece</td><td>2.25/kg</td><td> 1.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Austria</td><td>2.23/kg</td><td> 1.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Denmark</td><td>2.21/kg</td><td> 1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Sweden</td><td>2.20/kg</td><td> 1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Norway</td><td>2.18/kg</td><td> 0.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>United States</td><td>2.16/kg</td><td> 0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>
<tr><td>Italy</td><td>2.13/kg</td><td>0.88/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td>
</tr>

</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Watermelon Fruit growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 71.8%</td></tr>
<tr><td>Turkey </td><td>  4.1%</td></tr>
<tr><td>Iran </td><td>  3.2%</td></tr>
<tr><td>Brazil </td><td>  2.8%</td></tr>
<tr><td>Egypt </td><td>  2.8%</td></tr>
<tr><td>India </td><td>  2.7%</td></tr>
<tr><td>USA </td><td>  2.0%</td></tr>
<tr><td>Uzbekistan </td><td>  1.4%</td></tr>
<tr><td>Mexico </td><td>  1.3%</td></tr>
<tr><td>Russia </td><td>  1.1%</td></tr>
<tr><td>Sudan </td><td>  1.1%</td></tr>
<tr><td>Algeria </td><td>  0.9%</td></tr>
<tr><td>Indonesia </td><td>  0.9%</td></tr>
<tr><td>Pakistan </td><td>  0.7%</td></tr>
<tr><td>Vietnam </td><td>  0.7%</td></tr>
<tr><td>Nigeria </td><td>  0.7%</td></tr>
<tr><td>Spain </td><td>  0.6%</td></tr>
<tr><td>Morocco </td><td>  0.6%</td></tr>
<tr><td>Italy </td><td>  0.6%</td></tr>
<tr><td>South Korea </td><td>  0.6%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Watermelon Fruit Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Australia</td><td> Dec to Feb</td></tr>
<tr><td>Brazil</td><td> Sep to Dec</td></tr>
<tr><td>China</td><td> May to Sep</td></tr>
<tr><td>Egypt</td><td> May to Sep</td></tr>
<tr><td>India</td><td> April to June</td></tr>
<tr><td>Iran</td><td> May to Sep</td></tr>
<tr><td>Mexico</td><td> March to August</td></tr>
<tr><td>Nigeria</td><td> March to July</td></tr>
<tr><td>Pakistan</td><td> May to August</td></tr>
<tr><td>Russia</td><td> July to August</td></tr>
<tr><td>Spain</td><td> May to October</td></tr>
<tr><td>Sudan</td><td> March to June</td></tr>
<tr><td>Turkey</td><td> May to Sep</td></tr>
<tr><td>Ukraine</td><td> July to August</td></tr>
<tr><td>United States</td><td> May to Sep</td></tr>
<tr><td>Uzbekistan</td><td> July to Sep</td></tr>
<tr><td>Vietnam</td><td> Dec to April</td></tr>
<tr><td>Italy</td><td> June to Sep</td></tr>
<tr><td>Japan</td><td> July to Sep</td></tr>
<tr><td>Korea</td><td> June to Sep</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Watermelon Fruit</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td> 64.9%</td></tr>
<tr><td>Turkey</td><td> 10.2%</td></tr>
<tr><td>Iran</td><td> 5.5%</td></tr>
<tr><td>Brazil</td><td> 3.7%</td></tr>
<tr><td>Egypt</td><td> 3.1%</td></tr>
<tr><td>Uzbekistan</td><td> 1.4%</td></tr>
<tr><td>United States</td><td> 1.2%</td></tr>
<tr><td>India</td><td> 1.2%</td></tr>
<tr><td>Mexico</td><td> 1.1%</td></tr>
<tr><td>Russia</td><td> 0.7%</td></tr>
<tr><td>Pakistan</td><td> 0.7%</td></tr>
<tr><td>Spain</td><td> 0.6%</td></tr>
<tr><td>Sudan</td><td> 0.5%</td></tr>
<tr><td>Japan</td><td> 0.3%</td></tr>
<tr><td>Italy</td><td> 0.3%</td></tr>
<tr><td>Korea</td><td> 0.3%</td></tr>
<tr><td>Ukraine</td><td> 0.3%</td></tr>
<tr><td>Vietnam</td><td> 0.2%</td></tr>
<tr><td>Algeria</td><td> 0.2%</td></tr>
<tr><td>Indonesia</td><td> 0.2%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Watermelon Fruit<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Afghanistan</td><td> 0.1%</td></tr>
<tr><td>Angola</td><td> 0.1%</td></tr>
<tr><td>Argentina</td><td> 0.1%</td></tr>
<tr><td>Azerbaijan</td><td> 0.1%</td></tr>
<tr><td>Burkina Faso</td><td> 0.1%</td></tr>
<tr><td>Cameroon</td><td> 0.1%</td></tr>
<tr><td>Congo</td><td> 0.1%</td></tr>
<tr><td>Dominican Republic</td><td> 0.1%</td></tr>
<tr><td>Ethiopia</td><td> 0.1%</td></tr>
<tr><td>France</td><td> 0.1%</td></tr>
<tr><td>Greece</td><td> 0.1%</td></tr>
<tr><td>Israel</td><td> 0.1%</td></tr>
<tr><td>Kazakhstan</td><td> 0.1%</td></tr>
<tr><td>Kenya</td><td> 0.1%</td></tr>
<tr><td>Morocco</td><td> 0.1%</td></tr>
<tr><td>Myanmar</td><td> 0.1%</td></tr>
<tr><td>Peru</td><td> 0.1%</td></tr>
<tr><td>Philippines</td><td> 0.1%</td></tr>
<tr><td>South Africa</td><td> 0.1%</td></tr>
<tr><td>Tanzania</td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Watermelon Fruit Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td> 49%</td></tr>
<tr><td>Turkey</td><td> 10%</td></tr>
<tr><td>Iran</td><td> 6%</td></tr>
<tr><td>Brazil</td><td> 3%</td></tr>
<tr><td>Egypt</td><td> 3%</td></tr>
<tr><td>Russia</td><td> 2%</td></tr>
<tr><td>India</td><td> 2%</td></tr>
<tr><td>United States</td><td> 2%</td></tr>
<tr><td>Mexico</td><td> 2%</td></tr>
<tr><td>Indonesia</td><td> 2%</td></tr>
<tr><td>Uzbekistan</td><td> 1%</td></tr>
<tr><td>Vietnam</td><td> 1%</td></tr>
<tr><td>Nigeria</td><td> 1%</td></tr>
<tr><td>Pakistan</td><td> 1%</td></tr>
<tr><td>Algeria</td><td> 1%</td></tr>
<tr><td>Japan</td><td> 1%</td></tr>
<tr><td>South Korea</td><td> 1%</td></tr>
<tr><td>Spain</td><td> 1%</td></tr>
<tr><td>Germany</td><td> 1%</td></tr>
<tr><td>Italy</td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Watermelon Fruit Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Del Monte Fresh Produce Co. </td><td>USA</td></tr>
<tr><td>Total Produce </td><td>UK</td></tr>
<tr><td>The Oppenheimer Group </td><td>Canada</td></tr>
<tr><td>Dole Deutschland GmbH </td><td>Germany</td></tr>
<tr><td>Costa Group </td><td>Australia</td></tr>
<tr><td>Carrefour </td><td>France</td></tr>
<tr><td>Lidl Stiftung & Co. KG </td><td>Germany</td></tr>
<tr><td>Metro AG </td><td>Germany</td></tr>
<tr><td>Amazon Produce Network LLC </td><td>USA</td></tr>
<tr><td>Zespri International Ltd. </td><td>New Zealand</td></tr>
<tr><td>Freshmax Group </td><td>Australia</td></tr>
<tr><td>Fresh Produce Group </td><td>Australia</td></tr>
<tr><td>Capespan Group Limited </td><td>South Africa</td></tr>
<tr><td>Elifrut SA </td><td>Chile</td></tr>
<tr><td>Exportadora Subsole S.A. </td><td>Chile</td></tr>
<tr><td>Frutas Esther S.A. </td><td>Spain</td></tr>
<tr><td>Migros Group </td><td>Switzerland</td></tr>
<tr><td>Coop Genossenschaft </td><td>Switzerland</td></tr>
<tr><td>Eurogroup Spa </td><td>Italy</td></tr>
<tr><td>Fyffes Group Ltd. </td><td>Ireland</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Watermelon Fruit Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>AgroFresh Co. </td><td> USA</td></tr>
<tr><td>The Wonderful Company LLC </td><td> USA</td></tr>
<tr><td>T&G Global Limited </td><td> New Zealand</td></tr>
<tr><td>Turbana Corporation </td><td> USA</td></tr>
<tr><td>Vanguard International </td><td> USA</td></tr>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Naturipe Farms, LLC </td><td> USA</td></tr>
<tr><td>BerryWorld Group Ltd. </td><td> UK</td></tr>
<tr><td>Berry Gardens Ltd. </td><td> UK</td></tr>
<tr><td>Total Produce PLC </td><td> Ireland</td></tr>
<tr><td>ARRAKIS INGENIERÍA Y SERVICIOS, S.L. </td><td> Spain</td></tr>
<tr><td>Los Angeles Salad Company </td><td> USA</td></tr>
<tr><td>Del Monte Pacific Limited </td><td> Philippines</td></tr>
<tr><td>SGS </td><td> Switzerland</td></tr>
<tr><td>MZANZI ANGOLA TRADING, LDA </td><td> Angola</td></tr>
<tr><td>The Greenery B.V. </td><td> Netherlands</td></tr>
<tr><td>Valley Fresh Produce, Inc. </td><td> USA</td></tr>
<tr><td>Sunkist Growers, Inc. </td><td> USA</td></tr>
<tr><td>Western Fresh Marketing Services, Inc. </td><td> USA</td></tr>
<tr><td>Fresh Produce Group </td><td> Australia</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Watermelon Fruit Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">The demand for watermelon, which is a popular fruit used in salads, smoothies, and beverages, is increasing globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in breeding and genetics are leading to the development of new watermelon varieties with improved traits, such as disease resistance, higher yield, and better fruit quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision agriculture techniques, such as remote sensing and soil analysis, are being used to optimize crop management practices, improve yield, and reduce waste.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of machine learning and AI is being explored to develop predictive models that can help growers make more informed decisions about crop management and harvesting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Watermelons are being used in a wider range of products, such as flavored water, ice cream, and candies, leading to increased demand for the fruit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New processing and preservation technologies, such as vacuum cooling and modified atmosphere packaging, are helping to extend the shelf life of watermelons and create new product opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing strategies are being developed to promote the nutritional benefits of watermelon, which is high in vitamins, antioxidants, and other nutrients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting watermelon cultivation, with changes in temperature and rainfall patterns leading to changes in growing regions and the development of new crop management strategies.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration between growers, researchers, and industry stakeholders is increasing to address challenges in watermelon cultivation, such as pest and disease control, and to improve overall crop productivity and sustainability.</div>
</div>

<div class="w3-container w3-col m16  w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">The development of new watermelon products and markets, such as watermelon juice blends and watermelon-based skin care products, is providing opportunities for economic growth and diversification in rural areas, with the creation of new jobs and businesses in the sector.</div>
</div>

</div>

</body>
</html>

