<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>

<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("Flax_fiber-min.jpg"),:size => "100x100" %>
         
           <h4>Flex Fiber</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.4 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 1.6 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Flax fiber market faces several risks, including climate change, pests and diseases, and competition from alternative fibers. Flax fiber production is heavily dependent on weather conditions, and climate change can impact Flax yields. Pests and diseases such as flax rust and Fusarium can cause significant losses for Flax fiber producers. Additionally, competition from alternative natural fibers such as hemp, jute, and sisal can impact the demand for Flax fiber.

Despite these risks, the potential for Flax fiber exports offers strategic value for producers. Flax fiber is a natural and sustainable fiber that is highly valued in industries such as textile, paper, and construction. The potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Flex Fiber Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 56%</td></tr>
<tr><td>China </td><td> 9%</td></tr>
<tr><td>Japan </td><td> 8%</td></tr>
<tr><td>South Korea </td><td> 4%</td></tr>
<tr><td>Turkey </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Taiwan </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Hong Kong </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> <1%</td></tr>
<tr><td>United Kingdom </td><td> <1%</td></tr>
<tr><td>Singapore </td><td> <1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Flex Fiber Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 55%</td></tr>
<tr><td>China </td><td> 9%</td></tr>
<tr><td>Russia </td><td> 9%</td></tr>
<tr><td>Belarus </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Ukraine </td><td> 4%</td></tr>
<tr><td>Kazakhstan </td><td> 3%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> <1%</td></tr>
<tr><td>Paraguay </td><td> <1%</td></tr>
<tr><td>Moldova </td><td> <1%</td></tr>
<tr><td>Uruguay </td><td> <1%</td></tr>
<tr><td>New Zealand </td><td> <1%</td></tr>
<tr><td>Kyrgyzstan </td><td> <1%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Flex Fiber Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> $0.50/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $0.60/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.70/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.70/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td> $0.70/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $0.80/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.80/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.90/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $1.00/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $1.10/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.10/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $1.10/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.20/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $1.20/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.20/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.30/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $1.30/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $1.30/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $1.40/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $1.40/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Flex Fiber price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
          <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $4.20/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $3.50/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $3.20/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.10/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $2.90/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $2.80/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $2.70/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $2.60/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.60/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $2.50/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $2.50/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $2.40/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $2.30/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td> $2.20/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $2.10/kg </td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Flex Fiber growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 25%</td></tr>
<tr><td>Canada </td><td> 18%</td></tr>
<tr><td>European Union </td><td> 16%</td></tr>
<tr><td>China </td><td> 11%</td></tr>
<tr><td>Kazakhstan </td><td> 7%</td></tr>
<tr><td>United States </td><td> 6%</td></tr>
<tr><td>Belarus </td><td> 3%</td></tr>
<tr><td>Ukraine </td><td> 3%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> <1%</td></tr>
<tr><td>Brazil </td><td> <1%</td></tr>
<tr><td>Uruguay </td><td> <1%</td></tr>
<tr><td>New Zealand </td><td> <1%</td></tr>
<tr><td>Kyrgyzstan </td><td> <1%</td></tr>
<tr><td>Ethiopia </td><td> <1%</td></tr>
<tr><td>South Africa </td><td> <1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Flex Fiber</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 39%</td></tr>
<tr><td>Canada </td><td> 14%</td></tr>
<tr><td>Russia </td><td> 12%</td></tr>
<tr><td>China </td><td> 6%</td></tr>
<tr><td>United States </td><td> 6%</td></tr>
<tr><td>Kazakhstan </td><td> 4%</td></tr>
<tr><td>Ukraine </td><td> 4%</td></tr>
<tr><td>Belarus </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> <1%</td></tr>
<tr><td>Brazil </td><td> <1%</td></tr>
<tr><td>Uruguay </td><td> <1%</td></tr>
<tr><td>New Zealand </td><td> <1%</td></tr>
<tr><td>Kyrgyzstan </td><td> <1%</td></tr>
<tr><td>Ethiopia </td><td> <1%</td></tr>
<tr><td>South Africa </td><td> <1%</td></tr>
</table>
</div>





<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Flex Fiber<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Eritrea </td><td> 0%</td></tr>
<tr><td>Nauru </td><td> 0%</td></tr>
<tr><td>Palau </td><td> 0%</td></tr>
<tr><td>Vatican City </td><td> 0%</td></tr>
<tr><td>Andorra </td><td> 0%</td></tr>
<tr><td>Monaco </td><td> 0%</td></tr>
<tr><td>San Marino </td><td> 0%</td></tr>
<tr><td>Liechtenstein </td><td> 0%</td></tr>
<tr><td>Marshall Islands </td><td> 0%</td></tr>
<tr><td>Tuvalu </td><td> 0%</td></tr>
<tr><td>Cook Islands </td><td> 0%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0%</td></tr>
<tr><td>Saint Vincent and the Grenadines </td><td> 0%</td></tr>
<tr><td>Dominica </td><td> 0%</td></tr>
<tr><td>Saint Lucia </td><td> 0%</td></tr>
<tr><td>Tonga </td><td> 0%</td></tr>
<tr><td>Kiribati </td><td> 0%</td></tr>
<tr><td>Federated States of Micronesia </td><td> 0%</td></tr>
<tr><td>São Tomé and Príncipe </td><td> 0%</td></tr>
<tr><td>Comoros </td><td> 0%</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Flex Fiber Used Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 51%</td></tr>
<tr><td>China </td><td> 11%</td></tr>
<tr><td>Russia </td><td> 7%</td></tr>
<tr><td>United States </td><td> 5%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Japan </td><td> 3%</td></tr>
<tr><td>South Korea </td><td> 3%</td></tr>
<tr><td>Taiwan </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> <1%</td></tr>
<tr><td>Iran </td><td> <1%</td></tr>
<tr><td>Ukraine </td><td> <1%</td></tr>
<tr><td>Indonesia </td><td> <1%</td></tr>
<tr><td>Pakistan </td><td> <1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Flex Fiber Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>European Flax and Hemp Confederation </td><td>Belgium</td></tr>
<tr><td>Swicofil AG </td><td>Switzerland</td></tr>
<tr><td>Glencore Agriculture Limited </td><td>United Kingdom</td></tr>
<tr><td>Balyfa </td><td>Denmark</td></tr>
<tr><td>Tamaura Trading Corporation </td><td>Japan</td></tr>
<tr><td>Linen of Desna </td><td>Ukraine</td></tr>
<tr><td>Interflax </td><td>France</td></tr>
<tr><td>Huzhou Goldrich Linen Textile Co., Ltd. </td><td>China</td></tr>
<tr><td>Laxmi Agro Industries </td><td>India</td></tr>
<tr><td>Jiaxing Chiyu Import & Export Co., Ltd. </td><td>China</td></tr>
<tr><td>Dongguan City Bohai Textile Co., Ltd. </td><td>China</td></tr>
<tr><td>J. De Vree & Co </td><td>Belgium</td></tr>
<tr><td>Linen Club </td><td>India</td></tr>
<tr><td>Ternopil Flax Mill </td><td>Ukraine</td></tr>
<tr><td>PT Aneka Jaya Agung </td><td>Indonesia</td></tr>
<tr><td>SCL Group </td><td>India</td></tr>
<tr><td>Qingdao Fab Mill Co., Ltd. </td><td>China</td></tr>
<tr><td>Semplerfi International Inc. </td><td>United States</td></tr>
<tr><td>Cakir Koruma Textile </td><td>Turkey</td></tr>
<tr><td>Eastern Trading Agencies </td><td>India</td></tr>

</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Flex Fiber Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Linen of Desna </td><td>Ukraine</td></tr>
<tr><td>Biolinum S.A. </td><td>Poland</td></tr>
<tr><td>Balyfa </td><td>Denmark</td></tr>
<tr><td>Tamaura Trading Corporation </td><td>Japan</td></tr>
<tr><td>Linen Club </td><td>India</td></tr>
<tr><td>Master Linens Company </td><td>India</td></tr>
<tr><td>VDS </td><td>Belarus</td></tr>
<tr><td>Flaxcomposites GmbH </td><td>Germany</td></tr>
<tr><td>Brinkhaus GmbH & Co. KG </td><td>Germany</td></tr>
<tr><td>Belda Llorens, S.L. </td><td>Spain</td></tr>
<tr><td>Textilcord </td><td>Russia</td></tr>
<tr><td>A&A Trade Group </td><td>Lithuania</td></tr>
<tr><td>Monarflex A/S </td><td>Denmark</td></tr>
<tr><td>Linificio e Canapificio Nazionale di Ermenegildo Zegna & Figli S.p.A. </td><td>Italy</td></tr>
<tr><td>UAB „LINAS AGRO“ </td><td>Lithuania</td></tr>
<tr><td>LE LIN </td><td>France</td></tr>
<tr><td>KABELO KOSICE </td><td>Slovakia</td></tr>
<tr><td>Linen Way </td><td>Canada</td></tr>
<tr><td>Huzhou Goldrich Linen Textile Co., Ltd. </td><td>China</td></tr>
<tr><td>Qingdao Fab Mill Co., Ltd. </td><td>China</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12 ">
<div class="w3-center  w3-white w3-panel"><h3>Flex Fiber Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for sustainable and eco-friendly Flax fiber products: Consumers are becoming more conscious of the environmental impact of their purchases, leading to a rise in sustainable and eco-friendly Flax fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased use of Flax fiber in the textile industry: Flax fiber, also known as linen, is becoming increasingly popular in the textile industry, leading to a rise in import and export of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New product innovations: Companies are investing in new product innovations to differentiate themselves from competitors and appeal to consumers, including Flax fiber-based products such as clothing, bedding, and packaging materials.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Flax fiber sources: Importers and exporters are diversifying their sources of Flax fiber to reduce their reliance on a single supplier or region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Online marketplaces and e-commerce platforms: The rise of online marketplaces and e-commerce platforms has made it easier for importers and exporters to connect with buyers and expand their reach.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on fair trade and ethical sourcing: Companies are investing in fair trade and ethical sourcing practices to ensure the social and economic well-being of Flax fiber farmers and communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulatory changes and trade policies: Changes in trade policies and regulations can have a significant impact on the import-export Flax fiber business, leading to shifts in supply and demand for certain types of Flax fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new Flax fiber processing technologies: New Flax fiber processing technologies are emerging, leading to the development of new Flax fiber products and production methods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on product traceability: Consumers are increasingly interested in knowing the origin and journey of their products, leading to an increased focus on product traceability in the Flax fiber import-export business.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Flax fiber is known for its health benefits, including its potential to improve digestive health and reduce inflammation, leading to increased demand for Flax fiber products.</div>
</div>

</div>

</body>
</html>

