<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("jute_fiber-min.jpg"),:size => "100x100" %>
         
           <h4>Jute Fiber</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.8 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 6.4 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Jute fiber market faces several risks, including climate change, pests and diseases, and competition from synthetic fibers. Climate change can affect the quality and yield of Jute crops, while pests and diseases such as Jute stem weevil can cause significant losses for Jute fiber producers. Additionally, competition from synthetic fibers can impact the demand for natural fibers such as Jute.

Despite these risks, the potential for Jute fiber exports offers strategic value for producers. Jute fiber is a natural and sustainable fiber that is highly valued in industries such as textile, paper, and construction. The potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers. To maximize the potential for export opportunities, producers need to focus on producing high-quality Jute fiber, building strong relationships with buyers, and developing effective marketing strategies that highlight the sustainability and eco-friendliness of their products.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Jute Fiber Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 36.8%</td></tr>
<tr><td>India </td><td> 23.1%</td></tr>
<tr><td>China </td><td> 8.8%</td></tr>
<tr><td>Vietnam </td><td> 6.2%</td></tr>
<tr><td>Pakistan </td><td> 5.1%</td></tr>
<tr><td>Turkey </td><td> 2.7%</td></tr>
<tr><td>Thailand </td><td> 2.2%</td></tr>
<tr><td>Indonesia </td><td> 1.7%</td></tr>
<tr><td>Egypt </td><td> 1.5%</td></tr>
<tr><td>United States </td><td> 1.3%</td></tr>
<tr><td>United Kingdom </td><td> 1.2%</td></tr>
<tr><td>Malaysia </td><td> 1.1%</td></tr>
<tr><td>Germany </td><td> 1.1%</td></tr>
<tr><td>Spain </td><td> 0.9%</td></tr>
<tr><td>Belgium </td><td> 0.8%</td></tr>
<tr><td>France </td><td> 0.6%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Japan </td><td> 0.4%</td></tr>
<tr><td>South Korea </td><td> 0.4%</td></tr>
<tr><td>Russia </td><td> 0.4%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Jute Fiber Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 71.2%</td></tr>
<tr><td>India </td><td> 16.2%</td></tr>
<tr><td>Nepal </td><td> 4.6%</td></tr>
<tr><td>Bhutan </td><td> 3.3%</td></tr>
<tr><td>Myanmar </td><td> 1.5%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>Turkey </td><td> 0.4%</td></tr>
<tr><td>United States </td><td> 0.2%</td></tr>
<tr><td>United Kingdom </td><td> 0.2%</td></tr>
<tr><td>Pakistan </td><td> 0.2%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Spain </td><td> 0.2%</td></tr>
<tr><td>France </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Egypt </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
<tr><td>Italy </td><td> 0.1%</td></tr>
<tr><td>Singapore </td><td> 0.1%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Jute Fiber Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td>$0.74/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td>$0.94/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td>$1.05/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td>$1.08/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td>$1.12/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td>$1.19/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td>$1.29/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td>$1.32/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia </td><td>$1.35/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td>$1.39/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td>$1.43/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td>$1.47/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar </td><td>$1.50/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td>$1.56/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td>$1.62/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td>$1.66/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td>$1.71/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td>$1.78/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td>$1.83/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td>$1.91/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Jute Fiber price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td>$4.80/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td>$3.66/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td>$3.60/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td>$3.46/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td>$3.09/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td>$2.95/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td>$2.86/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td>$2.78/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td>$2.64/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td>$2.53/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td>$2.46/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td>$2.38/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td>$2.27/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td>$2.18/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td>$2.14/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td>$2.04/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td>$1.94/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td>$1.86/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td>$1.80/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Jute Fiber growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 62.7%</td></tr>
<tr><td>India </td><td> 36.6%</td></tr>
<tr><td>Myanmar </td><td> 0.4%</td></tr>
<tr><td>Nepal </td><td> 0.1%</td></tr>
<tr><td>Bhutan </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
<tr><td>Pakistan </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> <0.1%</td></tr>
<tr><td>Philippines </td><td> <0.1%</td></tr>
<tr><td>Indonesia </td><td> <0.1%</td></tr>
<tr><td>Cambodia </td><td> <0.1%</td></tr>
<tr><td>Colombia </td><td> <0.1%</td></tr>
<tr><td>Peru </td><td> <0.1%</td></tr>
<tr><td>Laos </td><td> <0.1%</td></tr>
<tr><td>Mexico </td><td> <0.1%</td></tr>
<tr><td>Ecuador </td><td> <0.1%</td></tr>
<tr><td>Tanzania </td><td> <0.1%</td></tr>
<tr><td>Madagascar </td><td> <0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Jute Fiber</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 63.7%</td></tr>
<tr><td>India </td><td> 35.7%</td></tr>
<tr><td>Myanmar </td><td> 0.5%</td></tr>
<tr><td>Nepal </td><td> 0.1%</td></tr>
<tr><td>Bhutan </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
<tr><td>Pakistan </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> <0.1%</td></tr>
<tr><td>Philippines </td><td> <0.1%</td></tr>
<tr><td>Indonesia </td><td> <0.1%</td></tr>
<tr><td>Cambodia </td><td> <0.1%</td></tr>
<tr><td>Colombia </td><td> <0.1%</td></tr>
<tr><td>Peru </td><td> <0.1%</td></tr>
<tr><td>Laos </td><td> <0.1%</td></tr>
<tr><td>Mexico </td><td> <0.1%</td></tr>
<tr><td>Ecuador </td><td> <0.1%</td></tr>
<tr><td>Tanzania </td><td> <0.1%</td></tr>
<tr><td>Madagascar </td><td> <0.1%</td></tr>
</table>
</div>





<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Jute Fiber<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Egypt </td><td> 0.01%</td></tr>
<tr><td>United States </td><td> 0.005%</td></tr>
<tr><td>Turkey </td><td> 0.003%</td></tr>
<tr><td>Uzbekistan </td><td> 0.003%</td></tr>
<tr><td>Syria </td><td> 0.002%</td></tr>
<tr><td>Sudan </td><td> 0.002%</td></tr>
<tr><td>Russia </td><td> 0.002%</td></tr>
<tr><td>Iran </td><td> 0.002%</td></tr>
<tr><td>Kenya </td><td> 0.001%</td></tr>
<tr><td>Argentina </td><td> 0.001%</td></tr>
<tr><td>Mexico </td><td> 0.001%</td></tr>
<tr><td>Nigeria </td><td> 0.001%</td></tr>
<tr><td>Australia </td><td> 0.001%</td></tr>
<tr><td>Saudi Arabia </td><td> <0.001%</td></tr>
<tr><td>Greece </td><td> <0.001%</td></tr>
<tr><td>Iraq </td><td> <0.001%</td></tr>
<tr><td>Lebanon </td><td> <0.001%</td></tr>
<tr><td>Azerbaijan </td><td> <0.001%</td></tr>
<tr><td>Yemen </td><td> <0.001%</td></tr>
<tr><td>Chile </td><td> <0.001%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Jute Fiber Used Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 72.3%</td></tr>
<tr><td>India </td><td> 18.7%</td></tr>
<tr><td>China </td><td> 3.1%</td></tr>
<tr><td>Vietnam </td><td> 1.2%</td></tr>
<tr><td>Pakistan </td><td> 0.9%</td></tr>
<tr><td>Thailand </td><td> 0.4%</td></tr>
<tr><td>Turkey </td><td> 0.4%</td></tr>
<tr><td>Indonesia </td><td> 0.4%</td></tr>
<tr><td>Egypt </td><td> 0.4%</td></tr>
<tr><td>United States </td><td> 0.3%</td></tr>
<tr><td>United Kingdom </td><td> 0.3%</td></tr>
<tr><td>Malaysia </td><td> 0.2%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Spain </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>France </td><td> 0.1%</td></tr>
<tr><td>Netherlands </td><td> 0.1%</td></tr>
<tr><td>Japan </td><td> 0.1%</td></tr>
<tr><td>South Korea </td><td> 0.1%</td></tr>
<tr><td>Russia </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Jute Fiber Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>M.M. Jute & Textile Mills </td><td> Bangladesh</td></tr>
<tr><td>Sharif Jute Mills Ltd </td><td> Bangladesh</td></tr>
<tr><td>Akij Jute Mills Ltd </td><td> Bangladesh</td></tr>
<tr><td>Janata Jute Mills Ltd </td><td> Bangladesh</td></tr>
<tr><td>Nishat Jute Mills Ltd </td><td> Bangladesh</td></tr>
<tr><td>Lagan Engineering Company Limited </td><td> India</td></tr>
<tr><td>Bhowmick Jute Mill Machinery </td><td> India</td></tr>
<tr><td>Jupiter Jute Mills </td><td> India</td></tr>
<tr><td>Gloster Limited </td><td> India</td></tr>
<tr><td>Ganges Jute Private Limited </td><td> India</td></tr>
<tr><td>Henan Jingxin Machinery Co., Ltd. </td><td> China</td></tr>
<tr><td>Anji Qingyun Jute Textile Mill </td><td> China</td></tr>
<tr><td>Zhanjiang Hengrun Import and Export Co., Ltd. </td><td> China</td></tr>
<tr><td>PT Indo Jaya Pratama </td><td> Indonesia</td></tr>
<tr><td>PT Indo Jati Utama </td><td> Indonesia</td></tr>
<tr><td>PT Mitra Saruta Indonesia </td><td> Indonesia</td></tr>
<tr><td>Ali Enterprises </td><td> Pakistan</td></tr>
<tr><td>Almurtaza Machinery Company (Pvt.) Ltd. </td><td> Pakistan</td></tr>
<tr><td>Silver Line Group </td><td> United States</td></tr>
<tr><td>Precision Textiles International </td><td> United States</td></tr>
</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Jute Fiber Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Golden Fibre Trade Centre Ltd </td><td> Bangladesh</td></tr>
<tr><td>A.M. Wadia Group </td><td> India</td></tr>
<tr><td>Cheviot Company Limited </td><td> India</td></tr>
<tr><td>Ludlow Jute & Specialities Ltd </td><td> India</td></tr>
<tr><td>Hooghly Infrastructure Pvt. Ltd </td><td> India</td></tr>
<tr><td>Hitaishi-KK Manufacturing Co. Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Henry Textiles Inc </td><td> Canada</td></tr>
<tr><td>Specialty Exports </td><td> Canada</td></tr>
<tr><td>Huzhou Changyuan Tefa Technology Co., Ltd. </td><td> China</td></tr>
<tr><td>Yantai Estick Bamboo and Wood Products Co., Ltd. </td><td> China</td></tr>
<tr><td>Sarda Jute & Sacks International </td><td> India</td></tr>
<tr><td>Murlidhar Ratanlal Exports Ltd </td><td> India</td></tr>
<tr><td>The Golden Fibre Trade Centre Limited </td><td> Bangladesh</td></tr>
<tr><td>LMC Global Private Limited </td><td> Bangladesh</td></tr>
<tr><td>Roshawa Spinning Mills Ltd </td><td> Bangladesh</td></tr>
<tr><td>Khorshed Alam Trading </td><td> Bangladesh</td></tr>
<tr><td>Mahabir Jute Mills Ltd </td><td> Nepal</td></tr>
<tr><td>Sealand Logistics Limited </td><td> United Kingdom</td></tr>
<tr><td>Apeejay Shipping Limited </td><td> India</td></tr>
<tr><td>West Bengal Surface Transport Corporation </td><td> India</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12 ">
<div class="w3-center  w3-white w3-panel"><h3>Jute Fiber Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for sustainable and eco-friendly Jute fiber products: Consumers are becoming more conscious of the environmental impact of their purchases, leading to a rise in sustainable and eco-friendly Jute fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased use of Jute fiber in the textile industry: Jute fiber is becoming increasingly popular in the textile industry, leading to a rise in import and export of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New product innovations: Companies are investing in new product innovations to differentiate themselves from competitors and appeal to consumers, including Jute fiber-based products such as bags, rugs, and packaging materials.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Jute fiber sources: Importers and exporters are diversifying their sources of Jute fiber to reduce their reliance on a single supplier or region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Online marketplaces and e-commerce platforms: The rise of online marketplaces and e-commerce platforms has made it easier for importers and exporters to connect with buyers and expand their reach.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on fair trade and ethical sourcing: Companies are investing in fair trade and ethical sourcing practices to ensure the social and economic well-being of Jute fiber farmers and communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulatory changes and trade policies: Changes in trade policies and regulations can have a significant impact on the import-export Jute fiber business, leading to shifts in supply and demand for certain types of Jute fiber products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new Jute fiber processing technologies: New Jute fiber processing technologies are emerging, leading to the development of new Jute fiber products and production methods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on product traceability: Consumers are increasingly interested in knowing the origin and journey of their products, leading to an increased focus on product traceability in the Jute fiber import-export business.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Jute fiber is known for its health benefits, including its potential to aid digestion and lower cholesterol levels, leading to increased demand for Jute fiber products.</div>
</div>

</div>

</body>
</html>





