<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("brazil_nuts-min.jpg"),:size => "100x100" %>
         
           <h4>Brazil nuts</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $350 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 198.4 million pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>One of the main risks associated with Brazil nuts is their reliance on the Amazon rainforest ecosystem for production. Deforestation and climate change threaten the natural habitats of Brazil nut trees, which could potentially reduce the supply and increase the cost of Brazil nuts. Additionally, there is a risk of contamination of Brazil nuts with aflatoxins, which can be harmful to human health.

Despite these risks, there is significant strategic value in the potential export opportunities for Brazil nuts. Brazil nuts are a nutritious food, containing high levels of protein, healthy fats, and minerals such as selenium. They are also a popular ingredient in various food products, including snacks, baked goods, and nut butters.

Brazil nuts also have potential as an environmentally sustainable crop, as they grow naturally in the Amazon rainforest and can be harvested without the need for extensive farming practices.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Brazil nuts Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 33%</td></tr>
<tr><td>Germany </td><td> 14%</td></tr>
<tr><td>Netherlands </td><td> 13%</td></tr>
<tr><td>UK </td><td> 8%</td></tr>
<tr><td>Canada </td><td> 6%</td></tr>
<tr><td>Belgium </td><td> 5%</td></tr>
<tr><td>France </td><td> 4%</td></tr>
<tr><td>Switzerland </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Austria </td><td> 2%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Brazil nuts Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bolivia </td><td> 52%</td></tr>
<tr><td>Brazil </td><td> 33%</td></tr>
<tr><td>Peru </td><td> 8%</td></tr>
<tr><td>Colombia </td><td> 3%</td></tr>
<tr><td>Ecuador </td><td> 1.5%</td></tr>
<tr><td>Venezuela </td><td> 0.5%</td></tr>
<tr><td>Paraguay </td><td> 0.5%</td></tr>
<tr><td>Guyana </td><td> 0.3%</td></tr>
<tr><td>Suriname </td><td> 0.2%</td></tr>
<tr><td>Panama </td><td> 0.2%</td></tr>
<tr><td>Costa Rica </td><td> 0.2%</td></tr>
<tr><td>Nicaragua </td><td> 0.2%</td></tr>
<tr><td>Argentina </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>Honduras </td><td> 0.1%</td></tr>
<tr><td>El Salvador </td><td> 0.1%</td></tr>
<tr><td>Guatemala </td><td> 0.1%</td></tr>
<tr><td>Mexico </td><td> 0.1%</td></tr>
<tr><td>Dominican Republic </td><td> 0.1%</td></tr>
<tr><td>Haiti </td><td> 0.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Brazil nuts Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Bolivia </td><td> $4.63/kg,</td><td> $2.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $5.60/kg,</td><td> $2.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $6.25/kg,</td><td> $2.84/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $6.50/kg,</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $7.50/kg,</td><td> $3.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Venezuela </td><td> $8.00/kg,</td><td> $3.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Paraguay </td><td> $8.50/kg,</td><td> $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guyana </td><td> $9.00/kg,</td><td> $4.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Suriname </td><td> $10.00/kg,</td><td> $4.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Panama </td><td> $11.00/kg,</td><td> $5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica </td><td> $12.00/kg,</td><td> $5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua </td><td> $12.50/kg,</td><td> $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $13.00/kg,</td><td> $5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $14.00/kg,</td><td> $6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras </td><td> $15.00/kg,</td><td> $6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>El Salvador </td><td> $16.00/kg,</td><td> $7.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala </td><td> $16.50/kg,</td><td> $7.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $17.00/kg,</td><td> $7.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Dominican Republic </td><td> $18.00/kg,</td><td> $8.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Haiti </td><td> $19.00/kg,</td><td> $8.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Brazil nuts price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $52.00/kg,</td><td> $23.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $48.00/kg,</td><td> $21.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $45.00/kg,</td><td> $20.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $44.00/kg,</td><td> $20.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $43.00/kg,</td><td> $19.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $42.00/kg,</td><td> $19.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $41.00/kg,</td><td> $18.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $40.00/kg,</td><td> $18.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $39.00/kg,</td><td> $17.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $38.00/kg,</td><td> $17.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $37.00/kg,</td><td> $16.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $36.00/kg,</td><td> $16.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $35.00/kg,</td><td> $15.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $34.00/kg,</td><td> $15.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $33.00/kg,</td><td> $15.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $32.00/kg,</td><td> $14.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $31.00/kg,</td><td> $14.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $30.00/kg,</td><td> $13.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $29.00/kg,</td><td> $13.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $28.00/kg,</td><td> $12.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $27.00/kg,</td><td> $12.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Brazil nuts Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bolivia </td><td> 50%</td></tr>
<tr><td>Brazil </td><td> 40%</td></tr>
<tr><td>Peru </td><td> 7%</td></tr>
<tr><td>Colombia </td><td> 1.5%</td></tr>
<tr><td>Ecuador </td><td> 0.5%</td></tr>
<tr><td>Venezuela </td><td> 0.5%</td></tr>
<tr><td>Paraguay </td><td> 0.2%</td></tr>
<tr><td>Guyana </td><td> 0.1%</td></tr>
<tr><td>Suriname </td><td> 0.1%</td></tr>
<tr><td>Panama </td><td> 0.1%</td></tr>
<tr><td>Costa Rica </td><td> 0.1%</td></tr>
<tr><td>Nicaragua </td><td> 0.1%</td></tr>
<tr><td>Argentina </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>Honduras </td><td> 0.1%</td></tr>
<tr><td>El Salvador </td><td> 0.1%</td></tr>
<tr><td>Guatemala </td><td> 0.1%</td></tr>
<tr><td>Mexico </td><td> 0.1%</td></tr>
<tr><td>Dominican Republic </td><td> 0.1%</td></tr>
<tr><td>Haiti </td><td> 0.1%</td></tr>


</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Brazil nuts Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Brazil </td><td> January to April</td></tr>
<tr><td>Bolivia </td><td> November to March</td></tr>
<tr><td>Peru </td><td> September to December</td></tr>
<tr><td>Colombia </td><td> November to March</td></tr>
<tr><td>Ecuador </td><td> January to April</td></tr>
<tr><td>Venezuela </td><td> November to February</td></tr>
<tr><td>Guyana </td><td> November to January</td></tr>
<tr><td>Suriname </td><td> November to February</td></tr>
<tr><td>Panama </td><td> Year-round</td></tr>
<tr><td>Costa Rica </td><td> Year-round</td></tr>
<tr><td>Nicaragua </td><td> November to February</td></tr>
<tr><td>Argentina </td><td> November to December</td></tr>
<tr><td>Chile </td><td> Year-round</td></tr>
<tr><td>Honduras </td><td> Year-round</td></tr>
<tr><td>El Salvador </td><td> Year-round</td></tr>
<tr><td>Guatemala </td><td> Year-round</td></tr>
<tr><td>Mexico </td><td> Year-round</td></tr>
<tr><td>Dominican Republic </td><td> Year-round</td></tr>
<tr><td>Haiti </td><td> Year-round</td></tr>
<tr><td>Jamaica </td><td> Year-round</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Brazil nuts</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>Brazil </td><td> 48.8%</td></tr>
<tr><td>Bolivia </td><td> 30.2%</td></tr>
<tr><td>Peru </td><td> 11.1%</td></tr>
<tr><td>Colombia </td><td> 4.2%</td></tr>
<tr><td>Ecuador </td><td> 2.5%</td></tr>
<tr><td>Venezuela </td><td> 1.1%</td></tr>
<tr><td>Guyana </td><td> 0.7%</td></tr>
<tr><td>Suriname </td><td> 0.3%</td></tr>
<tr><td>Panama </td><td> 0.1%</td></tr>
<tr><td>Costa Rica </td><td> 0.1%</td></tr>
<tr><td>Nicaragua </td><td> 0.1%</td></tr>
<tr><td>Argentina </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> <0.1%</td></tr>
<tr><td>Honduras </td><td> <0.1%</td></tr>
<tr><td>El Salvador </td><td> <0.1%</td></tr>
<tr><td>Guatemala </td><td> <0.1%</td></tr>
<tr><td>Mexico </td><td> <0.1%</td></tr>
<tr><td>Dominican Republic </td><td> <0.1%</td></tr>
<tr><td>Haiti </td><td> <0.1%</td></tr>
<tr><td>Jamaica </td><td> <0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Brazil nuts<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Philippines </td><td> 0.0%</td></tr>
<tr><td>China </td><td> 0.0%</td></tr>
<tr><td>India </td><td> 0.0%</td></tr>
<tr><td>Nigeria </td><td> 0.0%</td></tr>
<tr><td>Indonesia </td><td> 0.0%</td></tr>
<tr><td>Pakistan </td><td> 0.0%</td></tr>
<tr><td>Bangladesh </td><td> 0.0%</td></tr>
<tr><td>Thailand </td><td> 0.0%</td></tr>
<tr><td>Vietnam </td><td> 0.0%</td></tr>
<tr><td>Myanmar </td><td> 0.0%</td></tr>
<tr><td>Malaysia </td><td> 0.0%</td></tr>
<tr><td>Cambodia </td><td> 0.0%</td></tr>
<tr><td>Laos </td><td> 0.0%</td></tr>
<tr><td>Papua New Guinea </td><td> 0.0%</td></tr>
<tr><td>Sri Lanka </td><td> 0.0%</td></tr>
<tr><td>Cameroon </td><td> 0.0%</td></tr>
<tr><td>Tanzania </td><td> 0.0%</td></tr>
<tr><td>Uganda </td><td> 0.0%</td></tr>
<tr><td>Kenya </td><td> 0.0%</td></tr>
<tr><td>Zimbabwe </td><td> 0.0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Brazil nuts Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 21.8%</td></tr>
<tr><td>Germany </td><td> 9.9%</td></tr>
<tr><td>France </td><td> 8.5%</td></tr>
<tr><td>UK </td><td> 7.5%</td></tr>
<tr><td>Japan </td><td> 6.1%</td></tr>
<tr><td>Canada </td><td> 5.5%</td></tr>
<tr><td>Italy </td><td> 4.7%</td></tr>
<tr><td>Netherlands </td><td> 3.8%</td></tr>
<tr><td>Switzerland </td><td> 3.5%</td></tr>
<tr><td>Belgium </td><td> 3.3%</td></tr>
<tr><td>Australia </td><td> 2.5%</td></tr>
<tr><td>South Korea </td><td> 2.2%</td></tr>
<tr><td>Spain </td><td> 2.0%</td></tr>
<tr><td>Russia </td><td> 1.7%</td></tr>
<tr><td>China </td><td> 1.4%</td></tr>
<tr><td>Sweden </td><td> 1.4%</td></tr>
<tr><td>Denmark </td><td> 1.2%</td></tr>
<tr><td>Austria </td><td> 1.2%</td></tr>
<tr><td>Norway </td><td> 1.1%</td></tr>
<tr><td>Taiwan </td><td> 1.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Brazil nuts Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>ADM Agri Industries Company </td><td> USA</td></tr>
<tr><td>Döhler </td><td> Germany</td></tr>
<tr><td>Dandy Foods Limited </td><td> UK</td></tr>
<tr><td>H&B Foods Inc. </td><td> USA</td></tr>
<tr><td>Delicia Foods India Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Gourmet Imports Inc. </td><td> USA</td></tr>
<tr><td>Lider Alimentos S.A. </td><td> Chile</td></tr>
<tr><td>US World Foods LLC </td><td> USA</td></tr>
<tr><td>South American Imports </td><td> USA</td></tr>
<tr><td>Panamericana de Exportaciones S.A. </td><td> Peru</td></tr>
<tr><td>Basil Commodities </td><td> USA</td></tr>
<tr><td>Southern Hemisphere Trading Co. Inc. </td><td> USA</td></tr>
<tr><td>Artesan Foods </td><td> USA</td></tr>
<tr><td>Primeval Chile S.A. </td><td> Chile</td></tr>
<tr><td>BerryWorld Group Limited </td><td> UK</td></tr>
<tr><td>Iberica Exportaciones S.A. </td><td> Spain</td></tr>
<tr><td>Brinker International </td><td> USA</td></tr>
<tr><td>AFDA SAS </td><td> France</td></tr>
<tr><td>Blue Diamond Growers </td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Brazil nuts Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>Barry Callebaut </td><td> Switzerland</td></tr>
<tr><td>Royal Nut Company </td><td> Australia</td></tr>
<tr><td>Rizhao Galaxy Nut Co., Ltd. </td><td> China</td></tr>
<tr><td>Mercantile Cargo Inc. </td><td> USA</td></tr>
<tr><td>La Flor de Oro S.A. </td><td> Peru</td></tr>
<tr><td>Bredabest B.V. </td><td> Netherlands</td></tr>
<tr><td>Intermax Trading Corp. </td><td> USA</td></tr>
<tr><td>Indigo Herbs </td><td> UK</td></tr>
<tr><td>Agroindustrial Laredo S.A. </td><td> Peru</td></tr>
<tr><td>TRIPCO Food Supplies LLC </td><td> UAE</td></tr>
<tr><td>Exportadora Pampa Trading S.A.C. </td><td> Peru</td></tr>
<tr><td>Tripple B Agro Products Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Inka Crops S.A.C. </td><td> Peru</td></tr>
<tr><td>CCL Pentas AG </td><td> Switzerland</td></tr>
<tr><td>JB Commodities BV </td><td> Netherlands</td></tr>
<tr><td>Vivian Sun Import & Export Co., Ltd. </td><td> China</td></tr>
<tr><td>Nuts in Bulk </td><td> USA</td></tr>
<tr><td>FMC Trading Company </td><td> USA</td></tr>
<tr><td>Flavica Export S.L. </td><td> Spain</td></tr>

</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Brazil nuts Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Brazil remains the largest exporter of Brazil nuts in the world, accounting for over 90% of global supply.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Brazil nuts in the USA, European Union, and Asia-Pacific region, particularly in China and Japan.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Brazil nuts as a healthy snack food, leading to an increase in consumption.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Brazil nuts due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Brazil nuts.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Brazil nuts in a variety of products, including snacks, desserts, and health supplements.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as precision agriculture and data analytics, to improve Brazil nut farming practices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Brazil nut production, including the risk of droughts and other extreme weather events.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Brazil nut market, such as Bolivia and Peru.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Brazil nut supply chain, including efforts to ensure fair labor practices and protect the rights of indigenous communities.</div>
</div>

</div>

</body>
</html>

