<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("chestnuts-min.jpg"),:size => "100x100" %>
         
           <h4>Chestnut</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 4.6 billion gallons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>One of the main risks associated with chestnuts is their susceptibility to damage and spoilage during storage and transportation. Chestnuts are also vulnerable to pests and diseases, which can impact crop yields and quality. Additionally, the global chestnut market is subject to price volatility due to factors such as supply and demand, production levels, and geopolitical tensions.
However, there is significant strategic value in the potential export opportunities for chestnuts. Chestnuts are a popular and versatile ingredient used in a wide range of food products, including baked goods, snacks, and traditional dishes. They are also a healthy and nutritious food, containing high levels of fiber, antioxidants, and vitamins.
Exporters who can cultivate a reputation for producing high-quality and sustainably-produced chestnuts may be able to capture a larger share of the global market.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Chestnut Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Italy </td><td> 23%</td></tr>
<tr><td>France </td><td> 16%</td></tr>
<tr><td>Germany </td><td> 9%</td></tr>
<tr><td>USA </td><td> 6%</td></tr>
<tr><td>UK </td><td> 6%</td></tr>
<tr><td>Netherlands </td><td> 5%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>Belgium </td><td> 3%</td></tr>
<tr><td>Switzerland </td><td> 3%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Other </td><td> 9%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Chestnut Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 57%</td></tr>
<tr><td>Italy </td><td> 14%</td></tr>
<tr><td>Turkey </td><td> 5%</td></tr>
<tr><td>Portugal </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Slovenia </td><td> 1%</td></tr>
<tr><td>Bulgaria </td><td> 1%</td></tr>
<tr><td>Other </td><td> 3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Chestnut Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> $3.10/kg </td><td> $1.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $3.20/kg </td><td> $1.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $3.70/kg </td><td> $1.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $3.80/kg </td><td> $1.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $4.10/kg </td><td> $1.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $4.50/kg </td><td> $2.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.70/kg </td><td> $2.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $5.10/kg </td><td> $2.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Serbia </td><td> $5.40/kg </td><td> $2.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $5.50/kg </td><td> $2.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria </td><td> $5.70/kg </td><td> $2.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania </td><td> $6.00/kg </td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Moldova </td><td> $6.30/kg </td><td> $2.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $6.60/kg </td><td> $2.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $7.00/kg </td><td> $3.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $7.30/kg </td><td> $3.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $7.80/kg </td><td> $3.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $8.00/kg </td><td> $3.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $8.40/kg </td><td> $3.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $8.80/kg </td><td> $3.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Chestnut price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>UAE </td><td> $33.80/kg </td><td> $15.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $32.40/kg </td><td> $14.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $32.10/kg </td><td> $14.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $31.50/kg </td><td> $14.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $30.80/kg </td><td> $13.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $29.30/kg </td><td> $13.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $27.60/kg </td><td> $12.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $24.70/kg </td><td> $11.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $24.30/kg </td><td> $11.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $23.60/kg </td><td> $10.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $23.20/kg </td><td> $10.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $22.80/kg </td><td> $10.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $22.10/kg </td><td> $10.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $21.80/kg </td><td> $9.90/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $21.60/kg </td><td> $9.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $21.50/kg </td><td> $9.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $20.90/kg </td><td> $9.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $20.20/kg </td><td> $9.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Chestnut Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 68%</td></tr>
<tr><td>South Korea </td><td> 8%</td></tr>
<tr><td>Turkey </td><td> 6%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Portugal </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Other Asia </td><td> 1%</td></tr>
<tr><td>Other Europe </td><td> 1%</td></tr>
<tr><td>Other </td><td> 1%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Chestnut Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>China </td><td> Sep to Nov</td></tr>
<tr><td>South Korea </td><td> Sep to Nov</td></tr>
<tr><td>Turkey </td><td> Sep to Nov</td></tr>
<tr><td>Italy </td><td> Oct to Nov</td></tr>
<tr><td>Spain </td><td> Oct to December</td></tr>
<tr><td>Portugal </td><td> Oct to December</td></tr>
<tr><td>France </td><td> Oct to December</td></tr>
<tr><td>Japan </td><td> Sep to Nov</td></tr>
<tr><td>USA </td><td> Sep to Nov</td></tr>
<tr><td>Greece </td><td> Sep to Oct</td></tr>
<tr><td>Iran </td><td> Sep to Nov</td></tr>
<tr><td>Romania </td><td> Sep to Oct</td></tr>
<tr><td>Chile </td><td> March to May</td></tr>
<tr><td>Argentina </td><td> March to May</td></tr>
<tr><td>New Zealand </td><td> March to May</td></tr>
<tr><td>Australia </td><td> March to May</td></tr>
<tr><td>UK </td><td> Sep to Oct</td></tr>
<tr><td>Germany </td><td> Oct to Nov</td></tr>
<tr><td>Poland </td><td> Sep to Nov</td></tr>
<tr><td>Ukraine </td><td> Sep to Oct</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Chestnut</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 38%</td></tr>
<tr><td>South Korea </td><td> 10%</td></tr>
<tr><td>Turkey </td><td> 8%</td></tr>
<tr><td>Italy </td><td> 7%</td></tr>
<tr><td>Spain </td><td> 5%</td></tr>
<tr><td>Portugal </td><td> 3%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Chestnut<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Maldives </td><td> 0%</td></tr>
<tr><td>Belize </td><td> 0%</td></tr>
<tr><td>Saint Vincent  </td><td> 0%</td></tr>
<tr><td>Tonga </td><td> 0%</td></tr>
<tr><td>Tuvalu </td><td> 0%</td></tr>
<tr><td>Vanuatu </td><td> 0%</td></tr>
<tr><td>Marshall Islands </td><td> 0%</td></tr>
<tr><td>Kiribati </td><td> 0%</td></tr>
<tr><td>Cook Islands </td><td> 0%</td></tr>
<tr><td>Nauru </td><td> 0%</td></tr>
<tr><td>Micronesia </td><td> 0%</td></tr>
<tr><td>Palau </td><td> 0%</td></tr>
<tr><td>Niue </td><td> 0%</td></tr>
<tr><td>Samoa </td><td> 0%</td></tr>
<tr><td>Somalia </td><td> 0%</td></tr>
<tr><td>Tokelau </td><td> 0%</td></tr>
<tr><td>Kiribati </td><td> 0%</td></tr>
<tr><td>Libya </td><td> 0%</td></tr>
<tr><td>Mauritania </td><td> 0%</td></tr>
<tr><td>Yemen </td><td> 0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Chestnut Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 38%</td></tr>
<tr><td>South Korea </td><td> 10%</td></tr>
<tr><td>Turkey </td><td> 8%</td></tr>
<tr><td>Italy </td><td> 7%</td></tr>
<tr><td>Spain </td><td> 5%</td></tr>
<tr><td>Portugal </td><td> 3%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Chestnut Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>The H. Brooks and Company </td><td> USA</td></tr>
<tr><td>Fresco International </td><td> UK</td></tr>
<tr><td>Jiaxing Fanyuan Foods </td><td> China</td></tr>
<tr><td>Oceanic Impex </td><td> India</td></tr>
<tr><td>Edible Nuts and Dried Fruit Company </td><td> Turkey</td></tr>
<tr><td>Cocorico Group </td><td> France</td></tr>
<tr><td>Agrisourcing </td><td> Spain</td></tr>
<tr><td>Mercato Italiano </td><td> Italy</td></tr>
<tr><td>Sanea Trading Company </td><td> Saudi Arabia</td></tr>
<tr><td>Ceylon Spice Company </td><td> Sri Lanka</td></tr>
<tr><td>Haldin Pacific Semesta </td><td> Indonesia</td></tr>
<tr><td>Betel Group </td><td> Singapore</td></tr>
<tr><td>DNM International Pty Ltd </td><td> Australia</td></tr>
<tr><td>MJM Trade </td><td> South Korea</td></tr>
<tr><td>Alkhair Trading Co. </td><td> UAE</td></tr>
<tr><td>Safa Al Madina General Trading LLC </td><td> Oman</td></tr>
<tr><td>An Nong Hu Sdn Bhd </td><td> Malaysia</td></tr>
<tr><td>Anhui Joyee Import and Export </td><td> China</td></tr>
<tr><td>Green Climate Services </td><td> Belgium</td></tr>
<tr><td>China National Chemical Corporation (ChemChina) </td><td> China</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Chestnut Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Hangzhou Choisun Food </td><td> China</td></tr>
<tr><td>Qingdao Yuanqing Weiye Import And Export </td><td> China</td></tr>
<tr><td>Hangzhou Smile Biotech </td><td> China</td></tr>
<tr><td>Green Export SAC </td><td> Peru</td></tr>
<tr><td>Dalian Daming Import And Export </td><td> China</td></tr>
<tr><td>Tair Chu Enterprise </td><td> Taiwan</td></tr>
<tr><td>Zhejiang Fuyi Import And Export </td><td> China</td></tr>
<tr><td>Xiamen Xinkangjie Import And Export </td><td> China</td></tr>
<tr><td>Dalian Perseverance Import And Export </td><td> China</td></tr>
<tr><td>Quanzhou Licheng Xintang Auto Parts Factory </td><td> China</td></tr>
<tr><td>Cachil S.A. </td><td> Chile</td></tr>
<tr><td>Foshan Bangzheng Trading </td><td> China</td></tr>
<tr><td>Dongguan Fuliter Paper Products </td><td> China</td></tr>
<tr><td>Xiamen Stoor Furniture Design </td><td> China</td></tr>
<tr><td>Foshan Sennic Furniture </td><td> China</td></tr>
<tr><td>Ningbo Chenwu Humidifying Equipment Factory </td><td> China</td></tr>
<tr><td>Foshan Nanhai Ruibang Furniture Factory </td><td> China</td></tr>
<tr><td>Foshan Shunde Huazhong Industry </td><td> China</td></tr>
<tr><td>Dongguan Jiahe Leverage Homeware </td><td> China</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Chestnut Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Chestnuts in the USA, Europe, and Asia-Pacific region, particularly in China and Japan.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Chestnuts as a healthy snack food, leading to an increase in consumption.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Chestnuts due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Chestnuts.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Chestnuts in a variety of products, including desserts, stuffing, and baked goods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as precision agriculture and data analytics, to improve Chestnut farming practices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Chestnut production, including the risk of droughts and other extreme weather events.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Chestnut market, such as Turkey and Vietnam.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on food safety and quality control in the Chestnut supply chain.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in value-added Chestnut products, such as Chestnut flour and Chestnut puree</div>
</div>

</div>

</body>
</html>

