<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("hazelnuts-min.jpg"),:size => "100x100" %>
         
           <h4>Hazelnut</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $10 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 2.4 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>One of the main risks associated with hazelnuts is their susceptibility to damage and spoilage during storage and transportation. Hazelnuts are also vulnerable to pests and diseases, which can impact crop yields and quality. Additionally, the global hazelnut market is subject to price volatility due to factors such as supply and demand, production levels, and geopolitical tensions.
However, there is significant strategic value in the potential export opportunities for hazelnuts. Hazelnuts are a popular and versatile ingredient used in a wide range of food products, including confectionery, bakery, and dairy products. They are also a healthy and nutritious food, containing high levels of protein, fiber, and healthy fats.
Exporters who can cultivate a reputation for producing high-quality and sustainably-produced hazelnuts may be able to capture a larger share of the global market.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Hazelnut Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Italy </td><td> 36.9%</td></tr>
<tr><td>Germany </td><td> 12.1%</td></tr>
<tr><td>Belgium </td><td> 10.2%</td></tr>
<tr><td>Netherlands </td><td> 8.7%</td></tr>
<tr><td>France </td><td> 7.6%</td></tr>
<tr><td>USA </td><td> 2.8%</td></tr>
<tr><td>Spain </td><td> 2.6%</td></tr>
<tr><td>UK </td><td> 2.5%</td></tr>
<tr><td>Switzerland </td><td> 2.2%</td></tr>
<tr><td>Austria </td><td> 1.6%</td></tr>
<tr><td>Canada </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.3%</td></tr>
<tr><td>China </td><td> 1.3%</td></tr>
<tr><td>Japan </td><td> 1.2%</td></tr>
<tr><td>Czech Republic </td><td> 0.9%</td></tr>
<tr><td>Hungary </td><td> 0.8%</td></tr>
<tr><td>Slovakia </td><td> 0.7%</td></tr>
<tr><td>Greece </td><td> 0.7%</td></tr>
<tr><td>Sweden </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Hazelnut Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 74.1%</td></tr>
<tr><td>Italy </td><td> 6.1%</td></tr>
<tr><td>Azerbaijan </td><td> 4.0%</td></tr>
<tr><td>Georgia </td><td> 3.6%</td></tr>
<tr><td>Iran </td><td> 3.1%</td></tr>
<tr><td>USA </td><td> 2.0%</td></tr>
<tr><td>Chile </td><td> 1.1%</td></tr>
<tr><td>Russia </td><td> 0.8%</td></tr>
<tr><td>Uzbekistan </td><td> 0.7%</td></tr>
<tr><td>Kyrgyzstan </td><td> 0.5%</td></tr>
<tr><td>Serbia </td><td> 0.4%</td></tr>
<tr><td>Armenia </td><td> 0.4%</td></tr>
<tr><td>Tunisia </td><td> 0.4%</td></tr>
<tr><td>Iraq </td><td> 0.4%</td></tr>
<tr><td>Spain </td><td> 0.4%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>
<tr><td>Afghanistan </td><td> 0.3%</td></tr>
<tr><td>Germany </td><td> 0.3%</td></tr>
<tr><td>Bulgaria </td><td> 0.3%</td></tr>
<tr><td>Netherlands </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Hazelnut Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Turkey </td><td> $2.08/kg </td><td> $0.94/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia </td><td> $3.11/kg </td><td> $1.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Azerbaijan </td><td> $3.18/kg </td><td> $1.44/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $3.20/kg </td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $3.55/kg </td><td> $1.61/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kyrgyzstan </td><td> $3.71/kg </td><td> $1.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania </td><td> $3.74/kg </td><td> $1.69/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $3.84/kg </td><td> $1.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Serbia </td><td> $3.87/kg </td><td> $1.75/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria </td><td> $3.90/kg </td><td> $1.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $3.91/kg </td><td> $1.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $3.92/kg </td><td> $1.78/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $3.97/kg </td><td> $1.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $4.01/kg </td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $4.03/kg </td><td> $1.83/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Croatia </td><td> $4.05/kg </td><td> $1.84/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.15/kg </td><td> $1.88/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bosnia and Herzegovina </td><td> $4.18/kg </td><td> $1.89/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $4.24/kg </td><td> $1.92/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $4.27/kg </td><td> $1.94/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Hazelnut price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Iceland </td><td> $35.08/kg </td><td> $15.92/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $25.81/kg </td><td> $11.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $23.80/kg </td><td> $10.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $20.98/kg </td><td> $9.51/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $20.65/kg </td><td> $9.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $20.28/kg </td><td> $9.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $19.48/kg </td><td> $8.84/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $18.51/kg </td><td> $8.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $18.29/kg </td><td> $8.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $18.14/kg </td><td> $8.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $17.36/kg </td><td> $7.88/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $17.31/kg </td><td> $7.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $16.28/kg </td><td> $7.39/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $15.57/kg </td><td> $7.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $15.41/kg </td><td> $7.01/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $14.58/kg </td><td> $6.62/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $14.38/kg </td><td> $6.53/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $14.11/kg </td><td> $6.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Luxembourg </td><td> $13.96/kg </td><td> $6.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Japan </td><td> $13.70/kg </td><td> $5.78/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Hazelnut growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 75.0%</td></tr>
<tr><td>Italy </td><td> 6.0%</td></tr>
<tr><td>Azerbaijan </td><td> 4.0%</td></tr>
<tr><td>Georgia </td><td> 3.6%</td></tr>
<tr><td>Iran </td><td> 3.1%</td></tr>
<tr><td>USA </td><td> 2.0%</td></tr>
<tr><td>Chile </td><td> 1.1%</td></tr>
<tr><td>Russia </td><td> 0.8%</td></tr>
<tr><td>Uzbekistan </td><td> 0.7%</td></tr>
<tr><td>Kyrgyzstan </td><td> 0.5%</td></tr>
<tr><td>Serbia </td><td> 0.4%</td></tr>
<tr><td>Armenia </td><td> 0.4%</td></tr>
<tr><td>Tunisia </td><td> 0.4%</td></tr>
<tr><td>Iraq </td><td> 0.4%</td></tr>
<tr><td>Spain </td><td> 0.4%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>
<tr><td>Afghanistan </td><td> 0.3%</td></tr>
<tr><td>Germany </td><td> 0.3%</td></tr>
<tr><td>Bulgaria </td><td> 0.3%</td></tr>
<tr><td>Netherlands </td><td> 0.3%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Hazelnut Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Turkey </td><td> Aug to Sep</td></tr>
<tr><td>Italy </td><td> Sep to Nov</td></tr>
<tr><td>USA </td><td> Sep to Nov</td></tr>
<tr><td>Azerbaijan </td><td> Aug to Oct</td></tr>
<tr><td>Georgia </td><td> Aug to Oct</td></tr>
<tr><td>Iran </td><td> Sep to Oct</td></tr>
<tr><td>Spain </td><td> Aug to Sep</td></tr>
<tr><td>France </td><td> Aug to Sep</td></tr>
<tr><td>Greece </td><td> Aug to Sep</td></tr>
<tr><td>Tunisia </td><td> Oct to Dec</td></tr>
<tr><td>Portugal </td><td> Aug to Sep</td></tr>
<tr><td>Croatia </td><td> Aug to Sep</td></tr>
<tr><td>Serbia </td><td> Aug to Sep</td></tr>
<tr><td>Bosnia and Herzegovina </td><td> Aug to Sep</td></tr>
<tr><td>Bulgaria </td><td> Aug to Sep</td></tr>
<tr><td>Romania </td><td> Aug to Sep</td></tr>
<tr><td>Russia </td><td> Sep to Oct</td></tr>
<tr><td>Morocco </td><td> Aug to Oct</td></tr>
<tr><td>Syria </td><td> Sep to Oct</td></tr>
<tr><td>Israel </td><td> Sep to Oct</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Hazelnut</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 78.0%</td></tr>
<tr><td>Italy </td><td> 5.3%</td></tr>
<tr><td>Azerbaijan </td><td> 3.3%</td></tr>
<tr><td>Georgia </td><td> 2.9%</td></tr>
<tr><td>USA </td><td> 2.5%</td></tr>
<tr><td>Iran </td><td> 2.2%</td></tr>
<tr><td>Spain </td><td> 1.5%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Greece </td><td> 0.8%</td></tr>
<tr><td>Tunisia </td><td> 0.7%</td></tr>
<tr><td>Portugal </td><td> 0.7%</td></tr>
<tr><td>Croatia </td><td> 0.6%</td></tr>
<tr><td>Serbia </td><td> 0.6%</td></tr>
<tr><td>Bosnia and Herzegovina </td><td> 0.5%</td></tr>
<tr><td>Bulgaria </td><td> 0.5%</td></tr>
<tr><td>Romania </td><td> 0.4%</td></tr>
<tr><td>Russia </td><td> 0.4%</td></tr>
<tr><td>Morocco </td><td> 0.3%</td></tr>
<tr><td>Syria </td><td> 0.3%</td></tr>
<tr><td>Israel </td><td> 0.3%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Hazelnut<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iceland </td><td> 0.0%</td></tr>
<tr><td>Liechtenstein </td><td> 0.0%</td></tr>
<tr><td>Monaco </td><td> 0.0%</td></tr>
<tr><td>San Marino </td><td> 0.0%</td></tr>
<tr><td>Andorra </td><td> 0.0%</td></tr>
<tr><td>Vatican City </td><td> 0.0%</td></tr>
<tr><td>Greenland </td><td> 0.0%</td></tr>
<tr><td>Faroe Islands </td><td> 0.1%</td></tr>
<tr><td>Luxembourg </td><td> 0.2%</td></tr>
<tr><td>Malta </td><td> 0.2%</td></tr>
<tr><td>Cyprus </td><td> 0.3%</td></tr>
<tr><td>Slovenia </td><td> 0.3%</td></tr>
<tr><td>Estonia </td><td> 0.3%</td></tr>
<tr><td>Latvia </td><td> 0.3%</td></tr>
<tr><td>Lithuania </td><td> 0.4%</td></tr>
<tr><td>Slovakia </td><td> 0.5%</td></tr>
<tr><td>Croatia </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.6%</td></tr>
<tr><td>Austria </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Hazelnut Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 80.0%</td></tr>
<tr><td>Italy </td><td> 4.5%</td></tr>
<tr><td>USA </td><td> 3.7%</td></tr>
<tr><td>Spain </td><td> 1.7%</td></tr>
<tr><td>France </td><td> 1.4%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>UK </td><td> 1.2%</td></tr>
<tr><td>Netherlands </td><td> 0.8%</td></tr>
<tr><td>Poland </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.6%</td></tr>
<tr><td>Austria </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Canada </td><td> 0.4%</td></tr>
<tr><td>Australia </td><td> 0.4%</td></tr>
<tr><td>Czech Republic </td><td> 0.3%</td></tr>
<tr><td>Greece </td><td> 0.3%</td></tr>
<tr><td>Sweden </td><td> 0.3%</td></tr>
<tr><td>Hungary </td><td> 0.3%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Hazelnut Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Ferrero SpA </td><td> Italy</td></tr>
<tr><td>Nestle SA </td><td> Switzerland</td></tr>
<tr><td>Barry Callebaut AG </td><td> Switzerland</td></tr>
<tr><td>Mondelez International Inc. </td><td>USA</td></tr>
<tr><td>Olam International Ltd. </td><td> Singapore</td></tr>
<tr><td>Zentis GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>Mars Inc. </td><td>USA</td></tr>
<tr><td>Lindt & Sprüngli AG </td><td> Switzerland</td></tr>
<tr><td>The Hershey Company </td><td>USA</td></tr>
<tr><td>Intersnack Group GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>Archer Daniels Midland Co. </td><td>USA</td></tr>
<tr><td>Valrhona SA </td><td> France</td></tr>
<tr><td>Batory Foods </td><td>USA</td></tr>
<tr><td>Natra SA </td><td> Spain</td></tr>
<tr><td>JB Cocoa Sdn Bhd </td><td> Malaysia</td></tr>
<tr><td>Nutella USA Inc. </td><td>USA</td></tr>
<tr><td>Unifrutti Traders Ltd. </td><td> Chile</td></tr>
<tr><td>Treehouse Foods Inc. </td><td>USA</td></tr>
<tr><td>SunOpta Inc. </td><td> Canada</td></tr>
<tr><td>Chocmod </td><td> France</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Hazelnut Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Ferrero SpA </td><td> Italy</td></tr>
<tr><td>Olam International Ltd. </td><td> Singapore</td></tr>
<tr><td>Toms Gruppen A/S </td><td> Denmark</td></tr>
<tr><td>Intersnack Group GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>Cargill Inc. </td><td>USA</td></tr>
<tr><td>Besana Group </td><td> Italy</td></tr>
<tr><td>Chocoladefabriken Lindt & Sprüngli AG </td><td> Switzerland</td></tr>
<tr><td>Karam Group </td><td> Turkey</td></tr>
<tr><td>Natra SA </td><td> Spain</td></tr>
<tr><td>Bolci Bolu Cikolata Gida Sanayi ve Ticaret A.S. </td><td> Turkey</td></tr>
<tr><td>Associated British Foods plc </td><td> UK</td></tr>
<tr><td>Zentis GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>Barry Callebaut AG </td><td> Switzerland</td></tr>
<tr><td>Cocoanect B.V. </td><td> Netherlands</td></tr>
<tr><td>Aktaşlar Hazelnuts Company </td><td> Turkey</td></tr>
<tr><td>Agroindustrial Guadalupe S.A. </td><td> Chile</td></tr>
<tr><td>Nidar AS </td><td> Norway</td></tr>
<tr><td>Zila Ltd. </td><td> Russia</td></tr>
<tr><td>Cemo Gıda Tarım Ürünleri İth. İhr. San. ve Tic. A.Ş. </td><td> Turkey</td></tr>
<tr><td>Beryozka Trading House </td><td> Russia</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Hazelnut Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: The global demand for hazelnuts is increasing, driven by the popularity of hazelnut products such as Nutella and Ferrero Rocher.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Turkey: Turkey is the largest producer and exporter of hazelnuts, accounting for over 70% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Sustainable hazelnut farming practices, such as reducing water usage and adopting regenerative agriculture methods, are becoming increasingly important to consumers, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed hazelnut products, such as hazelnut spreads and chocolate-coated hazelnuts, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as India and Southeast Asia are showing increased demand for hazelnuts, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the hazelnut market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported hazelnuts and their products in certain markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements: Trade agreements such as the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) and the Turkey-EU Customs Union can impact the import/export of hazelnuts.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Hazelnuts are known for their health benefits, such as their high levels of healthy fats and vitamin E, which can increase their popularity in certain markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Competition: Hazelnuts face competition from other nuts such as almonds and cashews, as well as other sweeteners and chocolate sources, which can impact the import/export trade.</div>
</div>

</div>

</body>
</html>

