<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("macadamia_nuts-min.jpg"),:size => "100x100" %>
         
           <h4>Macadamia Nuts</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 460 million pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>One of the main risks associated with macadamia nuts is their susceptibility to damage and spoilage during storage and transportation. Macadamia nuts are also vulnerable to pests and diseases, which can impact crop yields and quality. Additionally, the global macadamia nut market is subject to price volatility due to factors such as supply and demand, production levels, and geopolitical tensions.

However, there is significant strategic value in the potential export opportunities for macadamia nuts. Macadamia nuts are a highly valued and sought-after ingredient in a wide range of food products, including confectionery, bakery, and snack foods. They are also a healthy and nutritious food, containing high levels of healthy fats, fiber, and antioxidants.

Exporters who can cultivate a reputation for producing high-quality and sustainably-produced macadamia nuts may be able to capture a larger share of the global market. </p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Macadamia Nuts Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 31%</td></tr>
<tr><td>China </td><td> 17%</td></tr>
<tr><td>Japan </td><td> 13%</td></tr>
<tr><td>South Korea </td><td> 7%</td></tr>
<tr><td>Netherlands </td><td> 6%</td></tr>
<tr><td>Germany </td><td> 5%</td></tr>
<tr><td>Hong Kong </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Taiwan </td><td> 2%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Singapore </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>Vietnam </td><td> 0.4%</td></tr>
<tr><td>Australia </td><td> 0.4%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Macadamia Nuts Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>South Africa </td><td> 34%</td></tr>
<tr><td>Australia </td><td> 26%</td></tr>
<tr><td>Kenya </td><td> 22%</td></tr>
<tr><td>USA </td><td> 4%</td></tr>
<tr><td>Guatemala </td><td> 3%</td></tr>
<tr><td>Malawi </td><td> 2%</td></tr>
<tr><td>Mozambique </td><td> 1%</td></tr>
<tr><td>Zimbabwe </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Nicaragua </td><td> 0.5%</td></tr>
<tr><td>Tanzania </td><td> 0.4%</td></tr>
<tr><td>Mexico </td><td> 0.4%</td></tr>
<tr><td>Brazil </td><td> 0.4%</td></tr>
<tr><td>Costa Rica </td><td> 0.4%</td></tr>
<tr><td>Ecuador </td><td> 0.3%</td></tr>
<tr><td>Uganda </td><td> 0.3%</td></tr>
<tr><td>China </td><td> 0.3%</td></tr>
<tr><td>Colombia </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Macadamia Nuts Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Malawi </td><td> $5.60/kg </td><td> $2.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zimbabwe </td><td> $6.00/kg </td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mozambique </td><td> $6.60/kg </td><td> $2.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala </td><td> $7.00/kg </td><td> $3.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $7.50/kg </td><td> $3.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $7.60/kg </td><td> $3.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $8.00/kg </td><td> $3.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $8.20/kg </td><td> $3.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $8.40/kg </td><td> $3.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua </td><td> $8.50/kg </td><td> $3.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $8.80/kg </td><td> $3.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $9.10/kg </td><td> $4.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bolivia </td><td> $9.20/kg </td><td> $4.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras </td><td> $9.50/kg </td><td> $4.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica </td><td> $9.80/kg </td><td> $4.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $10.00/kg </td><td> $4.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Papua New Guinea </td><td> $10.20/kg </td><td> $4.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $10.50/kg </td><td> $4.76/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $10.80/kg </td><td> $4.90/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $11.00/kg </td><td> $4.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Macadamia Nuts price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland </td><td> $41.80/kg </td><td> $19.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $34.70/kg </td><td> $15.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $30.60/kg </td><td> $13.90/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $29.10/kg </td><td> $13.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $27.30/kg </td><td> $12.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $26.40/kg </td><td> $12.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $26.20/kg </td><td> $11.90/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $24.50/kg </td><td> $11.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $22.80/kg </td><td> $10.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $22.70/kg </td><td> $10.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $22.40/kg </td><td> $10.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $21.70/kg </td><td> $9.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $21.20/kg </td><td> $9.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $20.60/kg </td><td> $9.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $20.20/kg </td><td> $9.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $19.40/kg </td><td> $8.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $18.90/kg </td><td> $8.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $18.80/kg </td><td> $8.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $18.40/kg </td><td> $8.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Macadamia Nuts Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 30%</td></tr>
<tr><td>South Africa </td><td> 25%</td></tr>
<tr><td>Kenya </td><td> 18%</td></tr>
<tr><td>USA </td><td> 16%</td></tr>
<tr><td>Malawi </td><td> 3%</td></tr>
<tr><td>Zimbabwe </td><td> 2%</td></tr>
<tr><td>Mozambique </td><td> 2%</td></tr>
<tr><td>Guatemala </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Nicaragua </td><td> 0.5%</td></tr>
<tr><td>Tanzania </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.4%</td></tr>
<tr><td>Brazil </td><td> 0.4%</td></tr>
<tr><td>Costa Rica </td><td> 0.4%</td></tr>
<tr><td>Ecuador </td><td> 0.3%</td></tr>
<tr><td>Uganda </td><td> 0.3%</td></tr>
<tr><td>China </td><td> 0.3%</td></tr>
<tr><td>Colombia </td><td> 0.2%</td></tr>
<tr><td>New Zealand </td><td> 0.2%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Macadamia Nuts Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Australia </td><td> Mar to Aug</td></tr>
<tr><td>South Africa </td><td> Apr to Jun</td></tr>
<tr><td>Kenya </td><td> Jan to Mar-Aug to Oct</td></tr>
<tr><td>USA(Hawaii)</td><td> Oct to Dec</td></tr>
<tr><td>Guatemala </td><td> Oct to Feb</td></tr>
<tr><td>Mexico </td><td> Sep to Dec</td></tr>
<tr><td>Brazil </td><td> May to Aug</td></tr>
<tr><td>Malawi </td><td> May to Aug</td></tr>
<tr><td>Mozambique </td><td> Oct to Dec</td></tr>
<tr><td>Zimbabwe </td><td> Apr to Jun</td></tr>
<tr><td>Chile </td><td> Dec to Feb</td></tr>
<tr><td>Peru </td><td> Jun to Aug</td></tr>
<tr><td>Nicaragua </td><td> Nov to Feb</td></tr>
<tr><td>Ecuador </td><td> May to Sep</td></tr>
<tr><td>Costa Rica </td><td> Oct to Feb</td></tr>
<tr><td>Tanzania </td><td> Dec to Feb-May to July</td></tr>
<tr><td>Uganda </td><td> Nov to Dec-Mar to May</td></tr>
<tr><td>Colombia </td><td> May to Aug-Nov to Jan</td></tr>
<tr><td>China </td><td> Sep to Oct</td></tr>
<tr><td>New Zealand </td><td> Mar to May</td></tr>


</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Macadamia Nuts</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 35%</td></tr>
<tr><td>Japan </td><td> 20%</td></tr>
<tr><td>Australia </td><td> 15%</td></tr>
<tr><td>China </td><td> 10%</td></tr>
<tr><td>South Korea </td><td> 5%</td></tr>
<tr><td>Taiwan </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Germany </td><td> 1.5%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>France </td><td> 0.5%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Italy </td><td> 0.5%</td></tr>
<tr><td>Hong Kong </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>Thailand </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>New Zealand </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Macadamia Nuts<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 33%</td></tr>
<tr><td>Ghana </td><td> 18%</td></tr>
<tr><td>Mozambique </td><td> 15%</td></tr>
<tr><td>Malawi </td><td> 7%</td></tr>
<tr><td>Zimbabwe </td><td> 6%</td></tr>
<tr><td>Kenya </td><td> 5%</td></tr>
<tr><td>Guatemala </td><td> 2%</td></tr>
<tr><td>Nicaragua </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Ecuador </td><td> 1%</td></tr>
<tr><td>Bolivia </td><td> 0.5%</td></tr>
<tr><td>Colombia </td><td> 0.5%</td></tr>
<tr><td>Costa Rica </td><td> 0.5%</td></tr>
<tr><td>Honduras </td><td> 0.5%</td></tr>
<tr><td>Papua New Guinea </td><td> 0.5%</td></tr>
<tr><td>Indonesia </td><td> 0.3%</td></tr>
<tr><td>Thailand </td><td> 0.3%</td></tr>
<tr><td>Philippines </td><td> 0.2%</td></tr>
<tr><td>Vietnam </td><td> 0.2%</td></tr>
<tr><td>Cambodia </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Macadamia Nuts Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 53%</td></tr>
<tr><td>Japan </td><td> 25%</td></tr>
<tr><td>Australia </td><td> 7%</td></tr>
<tr><td>China </td><td> 6%</td></tr>
<tr><td>South Korea </td><td> 3%</td></tr>
<tr><td>Taiwan </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>France </td><td> 0.5%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Italy </td><td> 0.5%</td></tr>
<tr><td>Hong Kong </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>Thailand </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>New Zealand </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Macadamia Nuts Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Ltd. </td><td> Singapore</td></tr>
<tr><td>Golden Macadamias </td><td> South Africa</td></tr>
<tr><td>John B. Sanfilippo & Son, Inc. </td><td> USA</td></tr>
<tr><td>Nestle SA </td><td> Switzerland</td></tr>
<tr><td>Callebaut Group </td><td> Belgium</td></tr>
<tr><td>Chantler Packages Inc. </td><td> Canada</td></tr>
<tr><td>Farmers Choice </td><td> Kenya</td></tr>
<tr><td>Diamond Foods, LLC </td><td> USA</td></tr>
<tr><td>Taura Natural Ingredients Ltd. </td><td> New Zealand</td></tr>
<tr><td>Kerry Group plc </td><td> Ireland</td></tr>
<tr><td>Agrofair </td><td> Netherlands</td></tr>
<tr><td>Naturipe Farms, LLC </td><td> USA</td></tr>
<tr><td>Allen Lund Company </td><td> USA</td></tr>
<tr><td>Sunrise Commodities </td><td> USA</td></tr>
<tr><td>Hampton Farms </td><td> USA</td></tr>
<tr><td>Barry Callebaut AG </td><td> Switzerland</td></tr>
<tr><td>Archer Daniels Midland Company </td><td> USA</td></tr>
<tr><td>Theland Farm Group </td><td> China</td></tr>
<tr><td>Frito Lay, Inc. </td><td> USA</td></tr>
<tr><td>Cargill, Inc. </td><td> USA</td></tr>


</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Macadamia Nuts Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Green Farms Nut Company </td><td> South Africa</td></tr>
<tr><td>Golden Macadamias </td><td> South Africa</td></tr>
<tr><td>Macadamia Processing Company Ltd. </td><td> Kenya</td></tr>
<tr><td>Mauna Loa Macadamia Nut Corporation </td><td> USA</td></tr>
<tr><td>Hamakua Macadamia Nut Company </td><td> USA</td></tr>
<tr><td>Marquis Macadamias Pty Ltd. </td><td> Australia</td></tr>
<tr><td>Green & Gold Macadamias Pty Ltd. </td><td> Australia</td></tr>
<tr><td>MacNuts WA Pty Ltd. </td><td> Australia</td></tr>
<tr><td>Kenya Nut Company </td><td> Kenya</td></tr>
<tr><td>Kyvalley Dairy Group Pty Ltd. </td><td> Australia</td></tr>
<tr><td>Royal Macadamia (Pty) Ltd. </td><td> South Africa</td></tr>
<tr><td>RRF (Pvt) Ltd. </td><td> Zimbabwe</td></tr>
<tr><td>MWT Foods Australia Pty Ltd. </td><td> Australia</td></tr>
<tr><td>Samba Foods </td><td> Zimbabwe</td></tr>
<tr><td>Pacific Farms, Inc. </td><td> USA</td></tr>
<tr><td>Westnut Pty Ltd. </td><td> Australia</td></tr>
<tr><td>Kenylon Industries Limited </td><td> Kenya</td></tr>
<tr><td>Nature's Pride BV </td><td> Netherlands</td></tr>
<tr><td>Green Diamond International S.A. </td><td> Guatemala</td></tr>
<tr><td>China International Industry Company Limited </td><td> China</td></tr>
</table>
</div>


<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Macadamia Nuts Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Macadamia nuts in the Asia-Pacific region, particularly in China and Japan.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Macadamia nuts as a healthy snack food, leading to an increase in consumption.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of Macadamia nut production in countries such as Kenya, South Africa, and Australia.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Macadamia nuts due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Macadamia nuts.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing investment in research and development to improve Macadamia nut production and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Macadamia nuts in a variety of products, including baked goods, confectionery, and cosmetics.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as precision agriculture and data analytics, to improve Macadamia nut farming practices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Macadamia nut production, including the risk of droughts and other extreme weather events.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Macadamia nut market, such as Brazil and Colombia.</div>
</div>

</div>

</body>
</html>

