<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("pecans-min.jpg"),:size => "100x100" %>
         
           <h4>Pecan Nuts</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 485 million pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Pecan production faces risks such as weather conditions, pests, and diseases that can affect crop yields and quality. The strategic value of exporting pecans is significant for countries that produce pecans, as exports can provide employment opportunities, foreign exchange earnings, and contribute to agricultural development. The export of pecans also faces challenges such as trade barriers, high transportation costs, and changing market demand. However, the demand for pecans is expected to continue to grow due to their health benefits and versatility in various food products. The potential export opportunities for pecans depend on the quality and type of pecans produced, and countries that can produce high-quality pecans have an advantage in the global market. </p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Pecan Nuts Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Germany </td><td> 16.4%</td></tr>
<tr><td>Canada </td><td> 13.7%</td></tr>
<tr><td>United Kingdom </td><td> 13.0%</td></tr>
<tr><td>Netherlands </td><td> 8.2%</td></tr>
<tr><td>France </td><td> 7.8%</td></tr>
<tr><td>Spain </td><td> 6.3%</td></tr>
<tr><td>Italy </td><td> 5.2%</td></tr>
<tr><td>Belgium </td><td> 3.6%</td></tr>
<tr><td>China </td><td> 3.3%</td></tr>
<tr><td>Switzerland </td><td> 3.1%</td></tr>
<tr><td>Australia </td><td> 2.3%</td></tr>
<tr><td>Poland </td><td> 1.9%</td></tr>
<tr><td>Czech Republic </td><td> 1.8%</td></tr>
<tr><td>Austria </td><td> 1.8%</td></tr>
<tr><td>Sweden </td><td> 1.7%</td></tr>
<tr><td>Denmark </td><td> 1.6%</td></tr>
<tr><td>Mexico </td><td> 1.5%</td></tr>
<tr><td>Norway </td><td> 1.4%</td></tr>
<tr><td>Russia </td><td> 1.4%</td></tr>
<tr><td>Japan </td><td> 1.3%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pecan Nuts Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 83.9%</td></tr>
<tr><td>Mexico </td><td> 10.7%</td></tr>
<tr><td>South Africa </td><td> 1.3%</td></tr>
<tr><td>Israel </td><td> 0.9%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.4%</td></tr>
<tr><td>Italy </td><td> 0.2%</td></tr>
<tr><td>China </td><td> 0.2%</td></tr>
<tr><td>United Kingdom </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>France </td><td> 0.1%</td></tr>
<tr><td>Netherlands </td><td> 0.1%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>Germany </td><td> 0.1%</td></tr>
<tr><td>New Zealand </td><td> 0.1%</td></tr>
<tr><td>Hong Kong </td><td> 0.1%</td></tr>
<tr><td>Belgium </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Japan </td><td> 0.1%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Pecan Nuts Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> $4.77/kg</td><td> $2.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $6.48/kg</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $8.63/kg</td><td> $3.92/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bolivia </td><td> $8.90/kg</td><td> $4.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $9.35/kg</td><td> $4.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $10.12/kg</td><td> $4.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $10.16/kg</td><td> $4.62/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $10.19/kg</td><td> $4.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $10.29/kg</td><td> $4.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $10.48/kg</td><td> $4.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $10.65/kg</td><td> $4.84/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $11.36/kg</td><td> $5.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $11.54/kg</td><td> $5.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $12.11/kg</td><td> $5.51/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $12.50/kg</td><td> $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $12.53/kg</td><td> $5.69/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $12.63/kg</td><td> $5.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $12.82/kg</td><td> $5.83/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $13.37/kg</td><td> $6.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $13.52/kg</td><td> $6.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Pecan Nuts price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $55.10/kg</td><td> $25.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $46.12/kg</td><td> $20.96/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $42.56/kg</td><td> $19.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $39.29/kg</td><td> $17.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $36.08/kg</td><td> $16.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $34.83/kg</td><td> $15.83/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $33.85/kg</td><td> $15.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $33.28/kg</td><td> $15.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $32.90/kg</td><td> $14.94/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $32.06/kg</td><td> $14.56/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $31.92/kg</td><td> $14.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $31.84/kg</td><td> $14.47/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $31.62/kg</td><td> $14.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $31.58/kg</td><td> $14.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $31.42/kg</td><td> $14.29/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $31.23/kg</td><td> $14.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td> $30.95/kg</td><td> $14.06/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $30.90/kg</td><td> $14.03/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $30.86/kg</td><td> $14.01/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $30.77/kg</td><td> $13.97/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $29.74/kg</td><td> $13.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Pecan Nuts Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 59.4%</td></tr>
<tr><td>Mexico </td><td> 33.4%</td></tr>
<tr><td>South Africa </td><td> 2.6%</td></tr>
<tr><td>Australia </td><td> 1.0%</td></tr>
<tr><td>Peru </td><td> 0.9%</td></tr>
<tr><td>Brazil </td><td> 0.7%</td></tr>
<tr><td>Argentina </td><td> 0.6%</td></tr>
<tr><td>China </td><td> 0.5%</td></tr>
<tr><td>Bolivia </td><td> 0.4%</td></tr>
<tr><td>Israel </td><td> 0.2%</td></tr>
<tr><td>Turkey </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>Egypt </td><td> 0.1%</td></tr>
<tr><td>Tunisia </td><td> 0.1%</td></tr>
<tr><td>Greece </td><td> 0.1%</td></tr>
<tr><td>Italy </td><td> 0.1%</td></tr>
<tr><td>France </td><td> 0.1%</td></tr>
<tr><td>Portugal </td><td> 0.1%</td></tr>
<tr><td>Morocco </td><td> 0.1%</td></tr>
<tr><td>Uzbekistan </td><td> 0.1%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Pecan Nuts Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>USA </td><td> September to December</td></tr>
<tr><td>Mexico </td><td> October to February</td></tr>
<tr><td>Australia </td><td> March to July</td></tr>
<tr><td>South Africa </td><td> April to June</td></tr>
<tr><td>Brazil </td><td> March to June</td></tr>
<tr><td>Argentina </td><td> March to June</td></tr>
<tr><td>Peru </td><td> March to May</td></tr>
<tr><td>Chile </td><td> March to May</td></tr>
<tr><td>China </td><td> September to November</td></tr>
<tr><td>Iran </td><td> September to October</td></tr>
<tr><td>Greece </td><td> September to October</td></tr>
<tr><td>Spain </td><td> September to October</td></tr>
<tr><td>Italy </td><td> September to October</td></tr>
<tr><td>Portugal </td><td> September to October</td></tr>
<tr><td>Turkey </td><td> September to November</td></tr>
<tr><td>France </td><td> September to October</td></tr>
<tr><td>Tunisia </td><td> October to November</td></tr>
<tr><td>Morocco </td><td> October to November</td></tr>
<tr><td>Uzbekistan </td><td> September to October</td></tr>
<tr><td>India </td><td> February to April</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Pecan Nuts</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 90%</td></tr>
<tr><td>Mexico </td><td> 2.2%</td></tr>
<tr><td>Canada </td><td> 2.1%</td></tr>
<tr><td>United Kingdom </td><td> 1.5%</td></tr>
<tr><td>Germany </td><td> 1.3%</td></tr>
<tr><td>Japan </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.4%</td></tr>
<tr><td>France </td><td> 0.4%</td></tr>
<tr><td>Italy </td><td> 0.4%</td></tr>
<tr><td>South Korea </td><td> 0.3%</td></tr>
<tr><td>Netherlands </td><td> 0.3%</td></tr>
<tr><td>China </td><td> 0.3%</td></tr>
<tr><td>Spain </td><td> 0.3%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Poland </td><td> 0.2%</td></tr>
<tr><td>Switzerland </td><td> 0.2%</td></tr>
<tr><td>Czech Republic </td><td> 0.2%</td></tr>
<tr><td>Austria </td><td> 0.2%</td></tr>
<tr><td>Sweden </td><td> 0.2%</td></tr>
<tr><td>Denmark </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Pecan Nuts<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ethiopia </td><td> 0.01%</td></tr>
<tr><td>Ghana </td><td> 0.01%</td></tr>
<tr><td>Honduras </td><td> 0.01%</td></tr>
<tr><td>Indonesia </td><td> 0.01%</td></tr>
<tr><td>Iraq </td><td> 0.01%</td></tr>
<tr><td>Jamaica </td><td> 0.01%</td></tr>
<tr><td>Jordan </td><td> 0.01%</td></tr>
<tr><td>Kenya </td><td> 0.01%</td></tr>
<tr><td>Kuwait </td><td> 0.01%</td></tr>
<tr><td>Lebanon </td><td> 0.01%</td></tr>
<tr><td>Mauritius </td><td> 0.01%</td></tr>
<tr><td>Myanmar </td><td> 0.01%</td></tr>
<tr><td>Nicaragua </td><td> 0.01%</td></tr>
<tr><td>Nigeria </td><td> 0.01%</td></tr>
<tr><td>Pakistan </td><td> 0.01%</td></tr>
<tr><td>Panama </td><td> 0.01%</td></tr>
<tr><td>Philippines </td><td> 0.01%</td></tr>
<tr><td>Qatar </td><td> 0.01%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.01%</td></tr>
<tr><td>Sri Lanka </td><td> 0.01%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pecan Nuts Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 56.6%</td></tr>
<tr><td>China </td><td> 11.6%</td></tr>
<tr><td>Mexico </td><td> 5.9%</td></tr>
<tr><td>Canada </td><td> 4.0%</td></tr>
<tr><td>United Kingdom </td><td> 2.6%</td></tr>
<tr><td>Germany </td><td> 2.2%</td></tr>
<tr><td>Japan </td><td> 2.0%</td></tr>
<tr><td>Australia </td><td> 1.6%</td></tr>
<tr><td>France </td><td> 1.6%</td></tr>
<tr><td>Italy </td><td> 1.5%</td></tr>
<tr><td>South Korea </td><td> 1.3%</td></tr>
<tr><td>Netherlands </td><td> 1.2%</td></tr>
<tr><td>Spain </td><td> 1.0%</td></tr>
<tr><td>Belgium </td><td> 0.8%</td></tr>
<tr><td>Poland </td><td> 0.7%</td></tr>
<tr><td>Switzerland </td><td> 0.6%</td></tr>
<tr><td>Czech Republic </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
<tr><td>Denmark </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Pecan Nuts Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Ltd. </td><td> Singapore</td></tr>
<tr><td>Diamond Foods, LLC </td><td> USA</td></tr>
<tr><td>Wilmar International Limited </td><td> Singapore</td></tr>
<tr><td>Sime Darby Plantation </td><td> Malaysia</td></tr>
<tr><td>McCormick & Company, Incorporated </td><td> USA</td></tr>
<tr><td>Archer Daniels Midland Company </td><td> USA</td></tr>
<tr><td>Dreyfus Company </td><td> USA</td></tr>
<tr><td>George Weston Foods Limited </td><td> Australia</td></tr>
<tr><td>Golden Peanut and Tree Nuts </td><td> USA</td></tr>
<tr><td>Kraft Heinz Company </td><td> USA</td></tr>
<tr><td>Tyson Foods, Inc. </td><td> USA</td></tr>
<tr><td>Cargill, Inc. </td><td> USA</td></tr>
<tr><td>Kraft Foods Group, Inc. </td><td> USA</td></tr>
<tr><td>Tereos </td><td> France</td></tr>
<tr><td>Nestlé S.A. </td><td> Switzerland</td></tr>
<tr><td>Ferrero International S.A. </td><td> Italy</td></tr>
<tr><td>Bunge Limited </td><td> USA</td></tr>
<tr><td>Chocoladefabriken Lindt & Sprüngli AG </td><td> Switzerland</td></tr>
<tr><td>The Hershey Company </td><td> USA</td></tr>
<tr><td>Kellogg Company </td><td> USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Pecan Nuts Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>USA Department of Agriculture </td><td> USA</td></tr>
<tr><td>Alimentos Naturales de la Laguna </td><td> Mexico</td></tr>
<tr><td>South Georgia Pecan Company </td><td> USA</td></tr>
<tr><td>National Pecan Company </td><td> USA</td></tr>
<tr><td>John B. Sanfilippo & Son, Inc. </td><td> USA</td></tr>
<tr><td>Green Farms Nut Company </td><td> USA</td></tr>
<tr><td>Bates Nut Farm </td><td> USA</td></tr>
<tr><td>K P Nut Industries </td><td> India</td></tr>
<tr><td>Choctaw Pecan Company </td><td> USA</td></tr>
<tr><td>Golden Peanut and Tree Nuts </td><td> USA</td></tr>
<tr><td>Texas Pecan Company </td><td> USA</td></tr>
<tr><td>Millican Pecan Company </td><td> USA</td></tr>
<tr><td>R.L. Pecan </td><td> USA</td></tr>
<tr><td>Western Pecan Growers Association </td><td> USA</td></tr>
<tr><td>Young Pecan Plantation, LLC </td><td> USA</td></tr>
<tr><td>American Pecan Council </td><td> USA</td></tr>
<tr><td>Yurosek Farms </td><td> USA</td></tr>
<tr><td>Canaan Farms Pecans </td><td> USA</td></tr>
<tr><td>Berry Nutty Farm, LLC </td><td> USA</td></tr>
<tr><td>Four Courners Pecan </td><td> USA</td></tr>
</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Pecan Nuts Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: The global demand for pecans is increasing, driven by their perceived health benefits and their use in various food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">USA: The USA is the largest producer and exporter of pecans, accounting for over 80% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">China: China is the largest importer of pecans, with significant demand for pecans used in various food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Sustainable pecan farming practices, such as reducing water usage and adopting regenerative agriculture methods, are becoming increasingly important to consumers, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed pecan products, such as pecan butter and pecan pie, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as India and Southeast Asia are showing increased demand for pecans, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the pecan market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported pecans and their products in certain markets.</div>
</div>

<div class="w3-container w3-col m12 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements: Trade agreements such as the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) and the USA-Mexico-Canada Agreement (USMCA) can impact the import/export of pecans.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Pecans are known for their health benefits, such as their high levels of healthy fats and antioxidants, which can increase their popularity in certain markets.</div>
</div>

</div>

</body>
</html>

