<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("pistachios-min.jpg"),:size => "100x100" %>
         
           <h4>Pistachio Nuts</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $6.1 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 7.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 2.4 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The production of pistachio nuts is subject to several risks such as weather conditions, pests, and diseases, which can significantly affect the yield and quality of the nuts. In addition, there are concerns about the sustainability of pistachio production, particularly in regions with water scarcity. Despite these risks, the demand for pistachios is expected to grow due to the increasing awareness of the health benefits associated with consuming nuts, as well as the rising popularity of pistachios as a snack food.

In terms of export opportunities, the major importers of pistachios include China, the European Union, and the USA. However, there is significant potential for expanding export opportunities in emerging markets such as India and Southeast Asia, where there is a growing demand for healthy and nutritious snacks.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Pistachio Nuts Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 18.4%</td></tr>
<tr><td>China </td><td> 17.0%</td></tr>
<tr><td>European Union </td><td> 13.5%</td></tr>
<tr><td>Hong Kong </td><td> 8.1%</td></tr>
<tr><td>UAE </td><td> 6.3%</td></tr>
<tr><td>Vietnam </td><td> 4.5%</td></tr>
<tr><td>India </td><td> 3.6%</td></tr>
<tr><td>Canada </td><td> 3.5%</td></tr>
<tr><td>South Korea </td><td> 2.8%</td></tr>
<tr><td>Turkey </td><td> 2.6%</td></tr>
<tr><td>Australia </td><td> 2.5%</td></tr>
<tr><td>Russia </td><td> 1.9%</td></tr>
<tr><td>Taiwan </td><td> 1.6%</td></tr>
<tr><td>Japan </td><td> 1.5%</td></tr>
<tr><td>Singapore </td><td> 1.4%</td></tr>
<tr><td>Thailand </td><td> 1.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.0%</td></tr>
<tr><td>Malaysia </td><td> 0.8%</td></tr>
<tr><td>Switzerland </td><td> 0.7%</td></tr>
<tr><td>Indonesia </td><td> 0.6%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pistachio Nuts Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iran </td><td> 41.0%</td></tr>
<tr><td>USA </td><td> 15.4%</td></tr>
<tr><td>Turkey </td><td> 12.9%</td></tr>
<tr><td>European Union </td><td> 11.4%</td></tr>
<tr><td>Syria </td><td> 7.1%</td></tr>
<tr><td>China </td><td> 2.6%</td></tr>
<tr><td>Uzbekistan </td><td> 1.9%</td></tr>
<tr><td>Afghanistan </td><td> 1.1%</td></tr>
<tr><td>Pakistan </td><td> 1.0%</td></tr>
<tr><td>Lebanon </td><td> 0.7%</td></tr>
<tr><td>Tunisia </td><td> 0.6%</td></tr>
<tr><td>India </td><td> 0.5%</td></tr>
<tr><td>Egypt </td><td> 0.4%</td></tr>
<tr><td>Azerbaijan </td><td> 0.3%</td></tr>
<tr><td>Jordan </td><td> 0.3%</td></tr>
<tr><td>Iraq </td><td> 0.3%</td></tr>
<tr><td>Morocco </td><td> 0.3%</td></tr>
<tr><td>Chile </td><td> 0.2%</td></tr>
<tr><td>Kyrgyzstan </td><td> 0.2%</td></tr>
<tr><td>Algeria </td><td> 0.2%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Pistachio Nuts Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Iran </td><td> $2.44/kg </td><td> $1.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $3.57/kg </td><td> $1.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Afghanistan </td><td> $3.60/kg </td><td> $1.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $3.87/kg </td><td> $1.76/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Syria </td><td> $4.15/kg </td><td> $1.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kyrgyzstan </td><td> $4.25/kg </td><td> $1.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iraq </td><td> $4.50/kg </td><td> $2.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tajikistan </td><td> $4.65/kg </td><td> $2.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $5.00/kg </td><td> $2.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $5.31/kg </td><td> $2.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Azerbaijan </td><td> $5.53/kg </td><td> $2.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $5.75/kg </td><td> $2.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia </td><td> $6.00/kg </td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Lebanon </td><td> $6.00/kg </td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cyprus </td><td> $6.40/kg </td><td> $2.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $6.50/kg </td><td> $2.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $6.69/kg </td><td> $3.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $6.80/kg </td><td> $3.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $7.10/kg </td><td> $3.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $7.12/kg </td><td> $3.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Pistachio Nuts price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland </td><td> $53.31/kg </td><td> $24.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $50.87/kg </td><td> $23.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $47.53/kg </td><td> $21.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $43.29/kg </td><td> $19.66/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $42.22/kg </td><td> $19.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $38.87/kg </td><td> $17.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $37.31/kg </td><td> $16.94/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $34.67/kg </td><td> $15.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $31.43/kg </td><td> $14.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $31.30/kg </td><td> $14.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $28.27/kg </td><td> $12.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $27.42/kg </td><td> $12.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $26.72/kg </td><td> $12.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $25.85/kg </td><td> $11.74/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $25.33/kg </td><td> $11.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $24.58/kg </td><td> $11.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $23.15/kg </td><td> $10.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $22.44/kg </td><td> $10.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $21.52/kg </td><td> $9.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Pistachio Nuts Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iran </td><td> 55.0%</td></tr>
<tr><td>USA </td><td> 18.0%</td></tr>
<tr><td>Turkey </td><td> 7.0%</td></tr>
<tr><td>Syria </td><td> 6.0%</td></tr>
<tr><td>China </td><td> 3.0%</td></tr>
<tr><td>Greece </td><td> 2.0%</td></tr>
<tr><td>Italy </td><td> 2.0%</td></tr>
<tr><td>Afghanistan </td><td> 2.0%</td></tr>
<tr><td>Pakistan </td><td> 1.0%</td></tr>
<tr><td>Tunisia </td><td> 0.8%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>Lebanon </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Algeria </td><td> 0.4%</td></tr>
<tr><td>Uzbekistan </td><td> 0.4%</td></tr>
<tr><td>Azerbaijan </td><td> 0.3%</td></tr>
<tr><td>Morocco </td><td> 0.3%</td></tr>
<tr><td>Portugal </td><td> 0.3%</td></tr>
<tr><td>Cyprus </td><td> 0.3%</td></tr>
<tr><td>Iraq </td><td> 0.2%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Pistachio Nuts Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    

<tr><td>USA </td><td> September to October</td></tr>
<tr><td>Iran </td><td> September to October</td></tr>
<tr><td>Turkey </td><td> August to September</td></tr>
<tr><td>Syria </td><td> August to September</td></tr>
<tr><td>China </td><td> September to October</td></tr>
<tr><td>Greece </td><td> August to September</td></tr>
<tr><td>Italy </td><td> August to September</td></tr>
<tr><td>Afghanistan </td><td> September to October</td></tr>
<tr><td>Pakistan </td><td> August to September</td></tr>
<tr><td>Tunisia </td><td> September to October</td></tr>
<tr><td>Spain </td><td> August to September</td></tr>
<tr><td>Lebanon </td><td> September to October</td></tr>
<tr><td>Australia </td><td> March to April</td></tr>
<tr><td>Algeria </td><td> September to October</td></tr>
<tr><td>Uzbekistan </td><td> August to September</td></tr>
<tr><td>Azerbaijan </td><td> August to September</td></tr>
<tr><td>Morocco </td><td> September to October</td></tr>
<tr><td>Portugal </td><td> August to September</td></tr>
<tr><td>Cyprus </td><td> August to September</td></tr>
<tr><td>Iraq </td><td> September to October</td></tr>


</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Pistachio Nuts</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 28.0%</td></tr>
<tr><td>European Union </td><td> 20.0%</td></tr>
<tr><td>China </td><td> 13.0%</td></tr>
<tr><td>India </td><td> 7.0%</td></tr>
<tr><td>Turkey </td><td> 6.0%</td></tr>
<tr><td>Iran </td><td> 4.0%</td></tr>
<tr><td>Vietnam </td><td> 4.0%</td></tr>
<tr><td>Hong Kong </td><td> 3.0%</td></tr>
<tr><td>Canada </td><td> 2.0%</td></tr>
<tr><td>South Korea </td><td> 2.0%</td></tr>
<tr><td>UAE </td><td> 2.0%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.0%</td></tr>
<tr><td>Taiwan </td><td> 1.0%</td></tr>
<tr><td>Indonesia </td><td> 1.0%</td></tr>
<tr><td>Thailand </td><td> 1.0%</td></tr>
<tr><td>Malaysia </td><td> 1.0%</td></tr>
<tr><td>Japan </td><td> 1.0%</td></tr>
<tr><td>Philippines </td><td> 1.0%</td></tr>
<tr><td>Egypt </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Pistachio Nuts<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 0.2%</td></tr>
<tr><td>Brazil </td><td> 0.2%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Costa Rica </td><td> 0.1%</td></tr>
<tr><td>Dominican Republic </td><td> 0.1%</td></tr>
<tr><td>Ecuador </td><td> 0.1%</td></tr>
<tr><td>El Salvador </td><td> 0.1%</td></tr>
<tr><td>Fiji </td><td> 0.1%</td></tr>
<tr><td>Guatemala </td><td> 0.1%</td></tr>
<tr><td>Honduras </td><td> 0.1%</td></tr>
<tr><td>Jamaica </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Mexico </td><td> 0.1%</td></tr>
<tr><td>Nicaragua </td><td> 0.1%</td></tr>
<tr><td>Panama </td><td> 0.1%</td></tr>
<tr><td>Papua New Guinea </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pistachio Nuts Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 33.0%</td></tr>
<tr><td>European Union </td><td> 26.0%</td></tr>
<tr><td>China </td><td> 15.0%</td></tr>
<tr><td>India </td><td> 5.0%</td></tr>
<tr><td>Turkey </td><td> 4.0%</td></tr>
<tr><td>Iran </td><td> 4.0%</td></tr>
<tr><td>Canada </td><td> 2.0%</td></tr>
<tr><td>South Korea </td><td> 2.0%</td></tr>
<tr><td>UAE </td><td> 1.0%</td></tr>
<tr><td>Australia </td><td> 1.0%</td></tr>
<tr><td>Japan </td><td> 1.0%</td></tr>
<tr><td>Mexico </td><td> 1.0%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Hong Kong </td><td> 1.0%</td></tr>
<tr><td>Taiwan </td><td> 1.0%</td></tr>
<tr><td>Indonesia </td><td> 1.0%</td></tr>
<tr><td>Thailand </td><td> 1.0%</td></tr>
<tr><td>Malaysia </td><td> 1.0%</td></tr>
<tr><td>Philippines </td><td> 1.0%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Pistachio Nuts Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Intersnack Group GmbH & Co. KG </td><td>Germany</td></tr>
<tr><td>Frito Lay North America, Inc. </td><td>USA</td></tr>
<tr><td>Wonderful Pistachios & Almonds LLC </td><td>USA</td></tr>
<tr><td>PepsiCo, Inc. </td><td>USA</td></tr>
<tr><td>Keenan Farms, Inc. </td><td>USA</td></tr>
<tr><td>Alrifai International Co. </td><td>Lebanon</td></tr>
<tr><td>American Importing Co., Inc. </td><td>USA</td></tr>
<tr><td>Tasteful Selections, LLC </td><td>USA</td></tr>
<tr><td>Kerry Group Plc </td><td>Ireland</td></tr>
<tr><td>Atlantic Grupa d.d. </td><td>Croatia</td></tr>
<tr><td>Tyrolit Schleifmittelwerke Swarovski KG </td><td>Austria</td></tr>
<tr><td>J.M. Smucker Co. </td><td>USA</td></tr>
<tr><td>Kraft Foods Group, Inc. </td><td>USA</td></tr>
<tr><td>Sun Maid Growers of California </td><td>USA</td></tr>
<tr><td>Marks & Spencer Group Plc </td><td>UK</td></tr>
<tr><td>Costco Wholesale Corp. </td><td>USA</td></tr>
<tr><td>Snyder's Lance, Inc. </td><td>USA</td></tr>
<tr><td>The Hershey Company </td><td>USA</td></tr>
<tr><td>Nestle S.A. </td><td>Switzerland</td></tr>
<tr><td>Unilever N.V. </td><td>Netherlands</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Pistachio Nuts Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Iran Pistachio Association </td><td>Iran</td></tr>
<tr><td>Meridian Nut Growers, LLC </td><td>USA</td></tr>
<tr><td>Nichols Pistachio </td><td>USA</td></tr>
<tr><td>Setton Pistachio of Terra Bella, Inc. </td><td>USA</td></tr>
<tr><td>Primex Farms LLC </td><td>USA</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>The Wonderful Company LLC </td><td>USA</td></tr>
<tr><td>Sierra Nut House </td><td>USA</td></tr>
<tr><td>Bascom Family Farms, Inc. </td><td>USA</td></tr>
<tr><td>Dried Fruit & Nut Export </td><td>South Africa</td></tr>
<tr><td>Horizon Growers LLC </td><td>USA</td></tr>
<tr><td>Middle East Nuts & Dry Fruits LLC </td><td>UAE</td></tr>
<tr><td>Shalimar Products, Inc. </td><td>USA</td></tr>
<tr><td>Bella Viva Orchards, Inc. </td><td>USA</td></tr>
<tr><td>Sun Valley Pistachios, Inc. </td><td>USA</td></tr>
<tr><td>Goodwin & Sons Edible Nuts, Inc. </td><td>USA</td></tr>
<tr><td>The Hershey Company </td><td>USA</td></tr>
<tr><td>Diamond Foods, Inc. </td><td>USA</td></tr>
<tr><td>Chantler Packages Inc. </td><td>Canada</td></tr>
<tr><td>Select Harvests Limited </td><td>Australia</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Pistachio Nuts Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: The global demand for pistachios is increasing, driven by the popularity of pistachio products and their perceived health benefits.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">USA: The USA is the largest producer and exporter of pistachios, accounting for over 50% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">China: China is the largest importer of pistachios, with significant demand for pistachios used in various food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Sustainable pistachio farming practices, such as reducing water usage and adopting regenerative agriculture methods, are becoming increasingly important to consumers, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed pistachio products, such as pistachio butter and roasted pistachios, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as India and Southeast Asia are showing increased demand for pistachios, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the pistachio market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported pistachios and their products in certain markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements: Trade agreements such as the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) and the USA-Mexico-Canada Agreement (USMCA) can impact the import/export of pistachios.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Pistachios are known for their health benefits, such as their high levels of protein and healthy fats, which can increase their popularity in certain markets.</div>
</div>

</div>

</body>
</html>

