<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("walnuts-min.jpg"),:size => "100x100" %>
         
           <h4>Walnut</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $13.56 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 51.8 billion gallons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Walnuts have a low to moderate level of risk as a product, as there are some concerns about the environmental impact of their cultivation, but they are generally considered safe for consumption. In terms of potential export opportunities, walnuts are in high demand in countries such as China, India, and the USA, and there is potential for growth in emerging markets as well. The strategic value of exporting walnuts lies in the increasing popularity of plant-based diets and the growing awareness of the health benefits associated with nut consumption. According to a report by Research and Markets, the global market for healthy snacks, including nuts, is expected to grow at a CAGR of 5.3% from 2020 to 2025, which presents a promising opportunity for the walnut industry to expand its exports.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Walnut Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 38.0%</td></tr>
<tr><td>USA </td><td> 25.0%</td></tr>
<tr><td>China </td><td> 9.0%</td></tr>
<tr><td>Turkey </td><td> 6.0%</td></tr>
<tr><td>India </td><td> 3.0%</td></tr>
<tr><td>Japan </td><td> 3.0%</td></tr>
<tr><td>South Korea </td><td> 2.0%</td></tr>
<tr><td>Canada </td><td> 2.0%</td></tr>
<tr><td>Australia </td><td> 1.0%</td></tr>
<tr><td>UAE </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Switzerland </td><td> 1.0%</td></tr>
<tr><td>Ukraine </td><td> 1.0%</td></tr>
<tr><td>Hong Kong </td><td> 1.0%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.0%</td></tr>
<tr><td>Israel </td><td> 1.0%</td></tr>
<tr><td>Belarus </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
<tr><td>Taiwan </td><td> 0.5%</td></tr>
<tr><td>Indonesia </td><td> 0.5%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Walnut Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 30.0%</td></tr>
<tr><td>European Union </td><td> 27.0%</td></tr>
<tr><td>Chile </td><td> 9.0%</td></tr>
<tr><td>China </td><td> 8.0%</td></tr>
<tr><td>Turkey </td><td> 5.0%</td></tr>
<tr><td>India </td><td> 4.0%</td></tr>
<tr><td>Mexico </td><td> 4.0%</td></tr>
<tr><td>Ukraine </td><td> 1.0%</td></tr>
<tr><td>Iran </td><td> 1.0%</td></tr>
<tr><td>Kazakhstan </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Belarus </td><td> 1.0%</td></tr>
<tr><td>Pakistan </td><td> 1.0%</td></tr>
<tr><td>Australia </td><td> 1.0%</td></tr>
<tr><td>South Africa </td><td> 1.0%</td></tr>
<tr><td>Moldova </td><td> 1.0%</td></tr>
<tr><td>Kyrgyzstan </td><td> 1.0%</td></tr>
<tr><td>Uzbekistan </td><td> 1.0%</td></tr>
<tr><td>Afghanistan </td><td> 1.0%</td></tr>
<tr><td>New Zealand </td><td> 1.0%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Walnut Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $2.00/kg</td><td> $0.91/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $2.50/kg</td><td> $1.14/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $3.00/kg</td><td> $1.36/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $3.50/kg</td><td> $1.59/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Moldova </td><td> $3.50/kg</td><td> $1.59/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $3.80/kg</td><td> $1.73/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia </td><td> $4.00/kg</td><td> $1.81/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kyrgyzstan </td><td> $4.50/kg</td><td> $2.04/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $4.50/kg</td><td> $2.04/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria </td><td> $4.50/kg</td><td> $2.04/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $4.50/kg</td><td> $2.04/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $4.80/kg</td><td> $2.18/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $5.00/kg</td><td> $2.27/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $5.50/kg</td><td> $2.50/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $6.00/kg</td><td> $2.73/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $6.50/kg</td><td> $2.95/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $7.00/kg</td><td> $3.18/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $7.50/kg</td><td> $3.41/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $8.00/kg</td><td> $3.64/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $9.00/kg</td><td> $4.09/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Walnut price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Japan </td><td> $27.00/kg</td><td> $12.27/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $23.00/kg</td><td> $10.45/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $22.00/kg</td><td> $9.98/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $21.00/kg</td><td> $9.53/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $20.00/kg</td><td> $9.07/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $18.00/kg</td><td> $8.16/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $18.00/kg</td><td> $8.16/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $17.00/kg</td><td> $7.72/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $16.50/kg</td><td> $7.48/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $16.00/kg</td><td> $7.27/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $15.50/kg</td><td> $7.05/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $15.00/kg</td><td> $6.82/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $14.50/kg</td><td> $6.59/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $14.00/kg</td><td> $6.36/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $13.50/kg</td><td> $6.13/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $13.00/kg</td><td> $5.91/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $12.50/kg</td><td> $5.68/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $12.00/kg</td><td> $5.45/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $12.00/kg</td><td>$5.44/Poud</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Walnut growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 49.0%</td></tr>
<tr><td>USA </td><td> 22.0%</td></tr>
<tr><td>Iran </td><td> 8.0%</td></tr>
<tr><td>Turkey </td><td> 4.0%</td></tr>
<tr><td>Ukraine </td><td> 3.0%</td></tr>
<tr><td>Mexico </td><td> 3.0%</td></tr>
<tr><td>India </td><td> 3.0%</td></tr>
<tr><td>Romania </td><td> 2.0%</td></tr>
<tr><td>Chile </td><td> 2.0%</td></tr>
<tr><td>Syria </td><td> 1.0%</td></tr>
<tr><td>Serbia </td><td> 1.0%</td></tr>
<tr><td>Bulgaria </td><td> 1.0%</td></tr>
<tr><td>France </td><td> 1.0%</td></tr>
<tr><td>Italy </td><td> 1.0%</td></tr>
<tr><td>Greece </td><td> 1.0%</td></tr>
<tr><td>Uzbekistan </td><td> 1.0%</td></tr>
<tr><td>Spain </td><td> 1.0%</td></tr>
<tr><td>Pakistan </td><td> 1.0%</td></tr>
<tr><td>Azerbaijan </td><td> 1.0%</td></tr>
<tr><td>Tunisia </td><td> 1.0%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Walnut Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>China </td><td> August to October</td></tr>
<tr><td>USA </td><td> Sep to Nov</td></tr>
<tr><td>Iran </td><td> Sep to October</td></tr>
<tr><td>Turkey </td><td> Sep to October</td></tr>
<tr><td>Ukraine </td><td> Sep to October</td></tr>
<tr><td>Mexico </td><td> August to October</td></tr>
<tr><td>India </td><td> Sep to Nov</td></tr>
<tr><td>Romania </td><td> Sep to October</td></tr>
<tr><td>France </td><td> Sep to October</td></tr>
<tr><td>Italy </td><td> Sep to October</td></tr>
<tr><td>Chile </td><td> February to April</td></tr>
<tr><td>Greece </td><td> Sep to October</td></tr>
<tr><td>Spain </td><td> Sep to Nov</td></tr>
<tr><td>Syria </td><td> Sep to October</td></tr>
<tr><td>Azerbaijan </td><td> Sep to October</td></tr>
<tr><td>Serbia </td><td> Sep to October</td></tr>
<tr><td>Georgia </td><td> Sep to October</td></tr>
<tr><td>Moldova </td><td> Sep to October</td></tr>
<tr><td>Kyrgyzstan </td><td> August to October</td></tr>
<tr><td>Uzbekistan </td><td> August to October</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Walnut</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 47.0%</td></tr>
<tr><td>USA </td><td> 19.0%</td></tr>
<tr><td>Iran </td><td> 6.0%</td></tr>
<tr><td>Turkey </td><td> 6.0%</td></tr>
<tr><td>Ukraine </td><td> 3.0%</td></tr>
<tr><td>Mexico </td><td> 3.0%</td></tr>
<tr><td>India </td><td> 3.0%</td></tr>
<tr><td>Romania </td><td> 2.0%</td></tr>
<tr><td>France </td><td> 2.0%</td></tr>
<tr><td>Italy </td><td> 2.0%</td></tr>
<tr><td>Chile </td><td> 2.0%</td></tr>
<tr><td>Greece </td><td> 1.0%</td></tr>
<tr><td>Spain </td><td> 1.0%</td></tr>
<tr><td>Syria </td><td> 1.0%</td></tr>
<tr><td>Azerbaijan </td><td> 1.0%</td></tr>
<tr><td>Serbia </td><td> 1.0%</td></tr>
<tr><td>Georgia </td><td> 1.0%</td></tr>
<tr><td>Moldova </td><td> 1.0%</td></tr>
<tr><td>Kyrgyzstan </td><td> 1.0%</td></tr>
<tr><td>Uzbekistan </td><td> 1.0%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Walnut<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Argentina </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.5%</td></tr>
<tr><td>Belarus </td><td> 0.5%</td></tr>
<tr><td>Belgium </td><td> 0.5%</td></tr>
<tr><td>Bosnia and Herzegovina </td><td> 0.5%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
<tr><td>Bulgaria </td><td> 0.5%</td></tr>
<tr><td>Canada </td><td> 0.5%</td></tr>
<tr><td>Croatia </td><td> 0.5%</td></tr>
<tr><td>Cyprus </td><td> 0.5%</td></tr>
<tr><td>Czech Republic </td><td> 0.5%</td></tr>
<tr><td>Denmark </td><td> 0.5%</td></tr>
<tr><td>Germany </td><td> 0.5%</td></tr>
<tr><td>Hungary </td><td> 0.5%</td></tr>
<tr><td>Kazakhstan </td><td> 0.5%</td></tr>
<tr><td>Latvia </td><td> 0.5%</td></tr>
<tr><td>Lebanon </td><td> 0.5%</td></tr>
<tr><td>Lithuania </td><td> 0.5%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Walnut Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 28.0%</td></tr>
<tr><td>USA </td><td> 25.0%</td></tr>
<tr><td>China </td><td> 16.0%</td></tr>
<tr><td>India </td><td> 8.0%</td></tr>
<tr><td>Turkey </td><td> 5.0%</td></tr>
<tr><td>Japan </td><td> 4.0%</td></tr>
<tr><td>South Korea </td><td> 2.0%</td></tr>
<tr><td>Canada </td><td> 2.0%</td></tr>
<tr><td>Australia </td><td> 1.0%</td></tr>
<tr><td>UAE </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Switzerland </td><td> 1.0%</td></tr>
<tr><td>Ukraine </td><td> 1.0%</td></tr>
<tr><td>Hong Kong </td><td> 1.0%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.0%</td></tr>
<tr><td>Israel </td><td> 1.0%</td></tr>
<tr><td>Belarus </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
<tr><td>Taiwan </td><td> 0.5%</td></tr>
<tr><td>Indonesia </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Walnut Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>FritoLay North America, Inc. </td><td>USA</td></tr>
<tr><td>Kraft Foods Group, Inc. </td><td>USA</td></tr>
<tr><td>Ferrero International S.A. </td><td>Luxembourg</td></tr>
<tr><td>Nestle S.A. </td><td>Switzerland</td></tr>
<tr><td>Kellogg Company </td><td>USA</td></tr>
<tr><td>PepsiCo, Inc. </td><td>USA</td></tr>
<tr><td>General Mills, Inc. </td><td>USA</td></tr>
<tr><td>Grupo Bimbo, S.A.B. de C.V. </td><td>Mexico</td></tr>
<tr><td>Mars, Inc. </td><td>USA</td></tr>
<tr><td>The Hershey Company </td><td>USA</td></tr>
<tr><td>Unilever N.V. </td><td>Netherlands</td></tr>
<tr><td>Mondelez International, Inc. </td><td>USA</td></tr>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>ConAgra Brands, Inc. </td><td>USA</td></tr>
<tr><td>Wrigley Company </td><td>USA</td></tr>
<tr><td>McCain Foods Limited </td><td>Canada</td></tr>
<tr><td>Campbell Soup Company </td><td>USA</td></tr>
<tr><td>McCormick & Company, Inc. </td><td>USA</td></tr>
<tr><td>Hormel Foods Corporation </td><td>USA</td></tr>
<tr><td>Ajinomoto Co., Inc. </td><td>Japan</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Walnut Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Diamond Foods, Inc. </td><td>USA</td></tr>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Borges International Group, S.L.U. </td><td>Spain</td></tr>
<tr><td>Alpine Pacific Nut Company </td><td>USA</td></tr>
<tr><td>Kozlikovo </td><td>Russia</td></tr>
<tr><td>RPC Agrotrade LLC </td><td>Ukraine</td></tr>
<tr><td>Hebei Agrilinks Imp. & Exp. Co., Ltd. </td><td>China</td></tr>
<tr><td>Delicias S.A. </td><td>Chile</td></tr>
<tr><td>Baruvi Nuts </td><td>South Africa</td></tr>
<tr><td>Chiotellis Bros. S.A. </td><td>Greece</td></tr>
<tr><td>POMONA </td><td>Turkey</td></tr>
<tr><td>American Almond Products Co., Inc. </td><td>USA</td></tr>
<tr><td>Elif Trading Co. Ltd. </td><td>Turkey</td></tr>
<tr><td>Azienda Agricola Progetto Noci </td><td>Italy</td></tr>
<tr><td>V.P. Colombo Trading Ltd. </td><td>Cyprus</td></tr>
<tr><td>Stepanian Walnut Industries Ltd. </td><td>Armenia</td></tr>
<tr><td>Helibehr GmbH </td><td>Germany</td></tr>
<tr><td>Dashen Agronomy </td><td>Ethiopia</td></tr>
<tr><td>Saratov Walnut Company LLC </td><td>Russia</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Walnut Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: The global demand for walnuts is increasing, driven by their perceived health benefits and their use in various food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">USA: The USA is the largest producer and exporter of walnuts, accounting for over 40% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">China: China is the largest importer of walnuts, with significant demand for walnuts used in various food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Sustainable walnut farming practices, such as reducing water usage and adopting regenerative agriculture methods, are becoming increasingly important to consumers, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed walnut products, such as walnut butter and roasted walnuts, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as India and Southeast Asia are showing increased demand for walnuts, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the walnut market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported walnuts and their products in certain markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements: Trade agreements such as the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) and the USA-Mexico-Canada Agreement (USMCA) can impact the import/export of walnuts.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Walnuts are known for their health benefits, such as their high levels of healthy fats and antioxidants, which can increase their popularity in certain markets.</div>
</div>

</div>

</body>
</html>

