<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("buffalo-min.jpg"),:size => "100x100" %>
         
           <h4>Buffalo Milk</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $150.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 58 billion gallons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Buffalo milk consumption is generally considered safe when proper food safety protocols are followed during production, processing, and preparation. However, there are also risks associated with its consumption, particularly related to foodborne illnesses such as Salmonella and E. coli. In addition, there have been concerns raised about the use of antibiotics in buffalo milk production and the potential for the emergence of antibiotic-resistant bacteria.

Despite these risks, there is significant strategic value in the potential export opportunities for buffalo milk. Buffalo milk is a high-quality dairy product with a unique taste and texture, and is a popular ingredient in many traditional and cultural cuisines. There is significant demand for high-quality buffalo milk products in many different regions of the world, particularly in Asia and the Middle East.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Buffalo Milk Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 21%</td></tr>
<tr><td>Egypt </td><td> 8%</td></tr>
<tr><td>Philippines </td><td> 7%</td></tr>
<tr><td>Algeria </td><td> 6%</td></tr>
<tr><td>UAE </td><td> 4%</td></tr>
<tr><td>Malaysia </td><td> 4%</td></tr>
<tr><td>Saudi Arabia </td><td> 3%</td></tr>
<tr><td>Morocco </td><td> 3%</td></tr>
<tr><td>Iraq </td><td> 3%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Yemen </td><td> 2%</td></tr>
<tr><td>Thailand </td><td> 2%</td></tr>
<tr><td>Libya </td><td> 2%</td></tr>
<tr><td>Singapore </td><td> 2%</td></tr>
<tr><td>Jordan </td><td> 1%</td></tr>
<tr><td>Hong Kong </td><td> 1%</td></tr>
<tr><td>Kuwait </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Oman </td><td> 1%</td></tr>
<tr><td>Qatar </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Buffalo Milk Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 43%</td></tr>
<tr><td>Pakistan </td><td> 21%</td></tr>
<tr><td>Italy </td><td> 8%</td></tr>
<tr><td>Turkey </td><td> 6%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Bulgaria </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Buffalo Milk Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.48/liter</td><td> $1.81/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.51/liter</td><td> $1.92/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td> $0.60/liter</td><td> $2.27/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.62/liter</td><td> $2.35/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.68/liter</td><td> $2.58/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.75/liter</td><td> $2.83/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.78/liter</td><td> $2.96/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.82/liter</td><td> $3.11/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.89/liter</td><td> $3.37/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.93/liter</td><td> $3.52/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $0.94/liter</td><td> $3.56/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $0.96/liter</td><td> $3.64/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $0.97/liter</td><td> $3.68/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $1.02/liter</td><td> $3.87/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $1.07/liter</td><td> $4.05/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $1.09/liter</td><td> $4.14/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $1.14/liter</td><td> $4.32/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td> $1.16/liter</td><td> $4.39/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $1.17/liter</td><td> $4.43/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.23/liter</td><td> $4.65/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Buffalo Milk price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $8.13/liter</td><td> $30.78/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $4.42/liter</td><td> $16.73/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $4.29/liter</td><td> $16.24/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $3.60/liter</td><td> $13.63/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $3.52/liter</td><td> $13.30/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.43/liter</td><td> $12.99/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $3.38/liter</td><td> $12.80/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $3.35/liter</td><td> $12.68/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $3.18/liter</td><td> $12.03/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $3.10/liter</td><td> $11.74/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.94/liter</td><td> $11.13/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $2.89/liter</td><td> $10.95/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $2.84/liter</td><td> $10.74/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $2.80/liter</td><td> $10.59/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $2.78/liter</td><td> $10.51/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $2.77/liter</td><td> $10.48/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $2.72/liter</td><td> $10.29/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $2.71/liter</td><td> $10.26/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $2.63/liter</td><td> $9.96/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $2.01/liter</td><td>$8.12/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Buffalo Milk growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 55%</td></tr>
<tr><td>Pakistan </td><td> 18%</td></tr>
<tr><td>China </td><td> 8%</td></tr>
<tr><td>Egypt </td><td> 3%</td></tr>
<tr><td>Nepal </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Philippines </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Bulgaria </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Buffalo Milk</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 96%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 0.5%</td></tr>
<tr><td>Turkey </td><td> 0.3%</td></tr>
<tr><td>Philippines </td><td> 0.2%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>Algeria </td><td> 0.1%</td></tr>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Russia </td><td> 0.1%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
<tr><td>Kazakhstan </td><td> 0.1%</td></tr>
<tr><td>Ukraine </td><td> 0.1%</td></tr>
<tr><td>Belarus </td><td> 0.1%</td></tr>
<tr><td>Uzbekistan </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Buffalo Milk<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 0%</td></tr>
<tr><td>USA </td><td> 0%</td></tr>
<tr><td>Canada </td><td> 0%</td></tr>
<tr><td>UK </td><td> 0%</td></tr>
<tr><td>South Korea </td><td> 0%</td></tr>
<tr><td>France </td><td> 0%</td></tr>
<tr><td>Italy </td><td> 0%</td></tr>
<tr><td>Germany </td><td> 0%</td></tr>
<tr><td>Australia </td><td> 0%</td></tr>
<tr><td>Belgium </td><td> 0%</td></tr>
<tr><td>Switzerland </td><td> 0%</td></tr>
<tr><td>Spain </td><td> 0%</td></tr>
<tr><td>Sweden </td><td> 0%</td></tr>
<tr><td>Norway </td><td> 0%</td></tr>
<tr><td>Denmark </td><td> 0%</td></tr>
<tr><td>Netherlands </td><td> 0%</td></tr>
<tr><td>Austria </td><td> 0%</td></tr>
<tr><td>Finland </td><td> 0%</td></tr>
<tr><td>Ireland </td><td> 0%</td></tr>
<tr><td>New Zealand </td><td> 0%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Buffalo Milk Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 97%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>Nepal </td><td> 0.5%</td></tr>
<tr><td>Bangladesh </td><td> 0.5%</td></tr>
<tr><td>Egypt </td><td> 0.2%</td></tr>
<tr><td>Turkey </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>Algeria </td><td> 0.1%</td></tr>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Russia </td><td> 0.1%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
<tr><td>Kazakhstan </td><td> 0.1%</td></tr>
<tr><td>Ukraine </td><td> 0.1%</td></tr>
<tr><td>Belarus </td><td> 0.1%</td></tr>
<tr><td>Uzbekistan </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Buffalo Milk Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>Euroserum </td><td> France</td></tr>
<tr><td>Danone </td><td> France</td></tr>
<tr><td>Nestle </td><td> Switzerland</td></tr>
<tr><td>Lactalis </td><td> France</td></tr>
<tr><td>Glanbia </td><td> Ireland</td></tr>
<tr><td>Fonterra </td><td> New Zealand</td></tr>
<tr><td>FrieslandCampina </td><td> Netherlands</td></tr>
<tr><td>Arla Foods </td><td> Denmark</td></tr>
<tr><td>Parmalat </td><td> Italy</td></tr>
<tr><td>Murray Goulburn </td><td> Australia</td></tr>
<tr><td>Saputo </td><td> Canada</td></tr>
<tr><td>Dean Foods </td><td> USA</td></tr>
<tr><td>Meiji </td><td> Japan</td></tr>
<tr><td>Yili </td><td> China</td></tr>
<tr><td>Mengniu Dairy </td><td> China</td></tr>
<tr><td>Bright Dairy </td><td> China</td></tr>
<tr><td>Vinamilk </td><td> Vietnam</td></tr>
<tr><td>La Serenissima </td><td> Argentina</td></tr>
<tr><td>Almarai </td><td> Saudi Arabia</td></tr>
</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Buffalo Milk Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>AAVIN </td><td> India</td></tr>
<tr><td>ADF Foods </td><td> India</td></tr>
<tr><td>Milma </td><td> India</td></tr>
<tr><td>Al Ain Dairy </td><td> UAE</td></tr>
<tr><td>Al Faisaliah Group </td><td> Saudi Arabia</td></tr>
<tr><td>Al Rawabi Dairy </td><td> UAE</td></tr>
<tr><td>Al Safi Danone </td><td> Saudi Arabia</td></tr>
<tr><td>Almarai </td><td> Saudi Arabia</td></tr>
<tr><td>Bright Dairy </td><td> China</td></tr>
<tr><td>Fonterra </td><td> New Zealand</td></tr>
<tr><td>FrieslandCampina </td><td> Netherlands</td></tr>
<tr><td>Glanbia </td><td> Ireland</td></tr>
<tr><td>Lactalis </td><td> France</td></tr>
<tr><td>Mengniu Dairy </td><td> China</td></tr>
<tr><td>Murray Goulburn </td><td> Australia</td></tr>
<tr><td>Nestle </td><td> Switzerland</td></tr>
<tr><td>Saputo </td><td> Canada</td></tr>
<tr><td>Savencia Fromage & Dairy </td><td> France</td></tr>
<tr><td>Yili </td><td> China</td></tr>
<tr><td>Zott </td><td> Germany</td></tr>

</table>
</div>
</div>
<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Buffalo Milk Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: Global demand for buffalo milk is increasing, driven by its perceived health benefits and its use in high-value dairy products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">India: India is the largest producer and consumer of buffalo milk, accounting for over 50% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Italy: Italy is the largest importer of buffalo milk, with significant demand for buffalo mozzarella.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the buffalo milk market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as China and Southeast Asia are showing increased demand for buffalo milk, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed buffalo milk products, such as cheese and yogurt, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Buffalo milk is considered a more sustainable dairy source than cow milk, and some countries are exploring its potential as an alternative.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Competition: Buffalo milk faces competition from other dairy products such as cow milk, goat milk, and plant-based milk alternatives, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulation: The buffalo milk market is subject to strict regulations, which can affect its import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported buffalo milk and its products in certain markets.</div>
</div>

</div>

</body>
</html>

