<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("camel-min.jpg"),:size => "100x100" %>
         
           <h4>Camel Milk</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $10 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 1.05 billion gallons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Camel milk consumption is generally considered safe when proper food safety protocols are followed during production, processing, and preparation. However, there are also risks associated with its consumption, particularly related to foodborne illnesses such as Salmonella and E. coli. In addition, there have been concerns raised about the potential for camel milk to transmit infectious diseases from camels to humans.

Despite these risks, there is significant strategic value in the potential export opportunities for camel milk. Camel milk is a unique and high-quality dairy product with a distinctive taste and nutritional properties. It is often used as a traditional medicine and has been reported to have potential health benefits, including improving immune function and reducing inflammation.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Camel Milk Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>UAE </td><td> 33.6%</td></tr>
<tr><td>Saudi Arabia </td><td> 21.4%</td></tr>
<tr><td>Kuwait </td><td> 8.9%</td></tr>
<tr><td>Bahrain </td><td> 5.9%</td></tr>
<tr><td>Qatar </td><td> 5.3%</td></tr>
<tr><td>Oman </td><td> 4.7%</td></tr>
<tr><td>USA </td><td> 2.1%</td></tr>
<tr><td>France </td><td> 1.8%</td></tr>
<tr><td>UK </td><td> 1.6%</td></tr>
<tr><td>Germany </td><td> 1.5%</td></tr>
<tr><td>Japan </td><td> 1.4%</td></tr>
<tr><td>Canada </td><td> 1.2%</td></tr>
<tr><td>South Korea </td><td> 1.1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 0.9%</td></tr>
<tr><td>Netherlands </td><td> 0.8%</td></tr>
<tr><td>Spain </td><td> 0.8%</td></tr>
<tr><td>Belgium </td><td> 0.7%</td></tr>
<tr><td>Greece </td><td> 0.7%</td></tr>
<tr><td>China </td><td> 0.6%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Camel Milk Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Somalia </td><td> 28.6%</td></tr>
<tr><td>Mauritania </td><td> 20.7%</td></tr>
<tr><td>UAE </td><td> 12.8%</td></tr>
<tr><td>Sudan </td><td> 6.3%</td></tr>
<tr><td>Kenya </td><td> 5.8%</td></tr>
<tr><td>Saudi Arabia </td><td> 5.1%</td></tr>
<tr><td>Pakistan </td><td> 4.2%</td></tr>
<tr><td>Oman </td><td> 3.6%</td></tr>
<tr><td>Yemen </td><td> 2.4%</td></tr>
<tr><td>Ethiopia </td><td> 2.1%</td></tr>
<tr><td>Jordan </td><td> 1.4%</td></tr>
<tr><td>Egypt </td><td> 1.3%</td></tr>
<tr><td>Morocco </td><td> 1.1%</td></tr>
<tr><td>Tunisia </td><td> 0.7%</td></tr>
<tr><td>USA </td><td> 0.6%</td></tr>
<tr><td>Israel </td><td> 0.6%</td></tr>
<tr><td>France </td><td> 0.5%</td></tr>
<tr><td>Canada </td><td> 0.5%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Germany </td><td> 0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Camel Milk Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Somalia </td><td> $1/liter</td><td> $3.79/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sudan </td><td> $1.50/liter</td><td> $5.68/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mauritania </td><td> $2/liter</td><td> $7.57/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $2.50/liter</td><td> $9.46/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $3/liter</td><td> $11.35/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $3.50/liter</td><td> $13.24/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $4/liter</td><td> $15.14/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mali </td><td> $4.50/liter</td><td> $17.03/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $5.50/liter</td><td> $20.82/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Yemen </td><td> $6/liter</td><td> $22.72/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $6.50/liter</td><td> $24.61/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Niger </td><td> $7/liter</td><td> $26.51/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chad </td><td> $8/liter</td><td> $30.28/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $8.50/liter</td><td> $32.17/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $9/liter</td><td> $34.07/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $10/liter</td><td> $37.85/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $11/liter</td><td> $41.62/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Libya </td><td> $12/liter</td><td> $45.40/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iraq </td><td> $13/liter</td><td> $49.17/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Camel Milk price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td> $18/liter</td><td> $68.13/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $15/liter</td><td> $56.78/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $13/liter</td><td> $49.17/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $12/liter</td><td> $45.40/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $10/liter</td><td> $37.85/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $9/liter</td><td> $34.07/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $8/liter</td><td> $30.28/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $7/liter</td><td> $26.51/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $6/liter</td><td> $22.72/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $5/liter</td><td> $18.93/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $4/liter</td><td> $15.14/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $4/liter</td><td> $15.14/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $3/liter</td><td> $11.35/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $2/liter</td><td> $7.57/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">
<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Camel Milk growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Somalia </td><td> 36%</td></tr>
<tr><td>Kenya </td><td> 20%</td></tr>
<tr><td>Ethiopia </td><td> 15%</td></tr>
<tr><td>Sudan </td><td> 7%</td></tr>
<tr><td>Mauritania </td><td> 5%</td></tr>
<tr><td>Saudi Arabia </td><td> 3.5%</td></tr>
<tr><td>India </td><td> 3%</td></tr>
<tr><td>UAE </td><td> 2.5%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>Mali </td><td> 1.5%</td></tr>
<tr><td>Oman </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Niger </td><td> 1%</td></tr>
<tr><td>Yemen </td><td> 0.5%</td></tr>
<tr><td>Chad </td><td> 0.5%</td></tr>
<tr><td>Libya </td><td> 0.4%</td></tr>
<tr><td>Iran </td><td> 0.3%</td></tr>
<tr><td>Kazakhstan </td><td> 0.3%</td></tr>
<tr><td>Uzbekistan </td><td> 0.3%</td></tr>
<tr><td>Tunisia </td><td> 0.2%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Camel Milk</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>Somalia </td><td> 100%</td></tr>
<tr><td>Mauritania </td><td> 80%</td></tr>
<tr><td>Saudi Arabia </td><td> 65%</td></tr>
<tr><td>UAE </td><td> 45%</td></tr>
<tr><td>Kenya </td><td> 40%</td></tr>
<tr><td>Sudan </td><td> 35%</td></tr>
<tr><td>Ethiopia </td><td> 30%</td></tr>
<tr><td>Oman </td><td> 25%</td></tr>
<tr><td>Pakistan </td><td> 20%</td></tr>
<tr><td>Mali </td><td> 18%</td></tr>
<tr><td>Yemen </td><td> 15%</td></tr>
<tr><td>Niger </td><td> 10%</td></tr>
<tr><td>Egypt </td><td> 5%</td></tr>
<tr><td>Libya </td><td> 4%</td></tr>
<tr><td>Jordan </td><td> 4%</td></tr>
<tr><td>Kazakhstan </td><td> 3%</td></tr>
<tr><td>Uzbekistan </td><td> 3%</td></tr>
<tr><td>Iran </td><td> 3%</td></tr>
<tr><td>Iraq </td><td> 2%</td></tr>
<tr><td>Tunisia </td><td> 2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Camel Milk<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> less than 1%</td></tr>
<tr><td>UK </td><td> less than 1%</td></tr>
<tr><td>Canada </td><td> less than 1%</td></tr>
<tr><td>France </td><td> less than 1%</td></tr>
<tr><td>Germany </td><td> less than 1%</td></tr>
<tr><td>Australia </td><td> less than 1%</td></tr>
<tr><td>Belgium </td><td> less than 1%</td></tr>
<tr><td>Italy </td><td> less than 1%</td></tr>
<tr><td>Netherlands </td><td> less than 1%</td></tr>
<tr><td>Switzerland </td><td> less than 1%</td></tr>
<tr><td>Greece </td><td> less than 1%</td></tr>
<tr><td>Spain </td><td> less than 1%</td></tr>
<tr><td>Sweden </td><td> less than 1%</td></tr>
<tr><td>Norway </td><td> less than 1%</td></tr>
<tr><td>Denmark </td><td> less than 1%</td></tr>
<tr><td>Austria </td><td> less than 1%</td></tr>
<tr><td>Finland </td><td> less than 1%</td></tr>
<tr><td>New Zealand </td><td> less than 1%</td></tr>
<tr><td>Japan </td><td> less than 1%</td></tr>
<tr><td>South Korea </td><td> less than 1%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Camel Milk Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Somalia </td><td> 60%</td></tr>
<tr><td>United Arab Emirates </td><td> 12%</td></tr>
<tr><td>Sudan </td><td> 7%</td></tr>
<tr><td>Saudi Arabia </td><td> 6%</td></tr>
<tr><td>Mauritania </td><td> 3%</td></tr>
<tr><td>Oman </td><td> 2%</td></tr>
<tr><td>Niger </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Yemen </td><td> 1%</td></tr>
<tr><td>Mali </td><td> 0.7%</td></tr>
<tr><td>Kenya </td><td> 0.6%</td></tr>
<tr><td>India </td><td> 0.5%</td></tr>
<tr><td>Pakistan </td><td> 0.4%</td></tr>
<tr><td>Kazakhstan </td><td> 0.3%</td></tr>
<tr><td>Iran </td><td> 0.2%</td></tr>
<tr><td>Iraq </td><td> 0.2%</td></tr>
<tr><td>Chad </td><td> 0.1%</td></tr>
<tr><td>Bahrain </td><td> 0.1%</td></tr>
<tr><td>Libya </td><td> 0.1%</td></tr>
<tr><td>Uzbekistan </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Camel Milk Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Sisban Holding </td><td> UAE</td></tr>
<tr><td>Al Ain Farms For Livestock Production </td><td> UAE</td></tr>
<tr><td>Al Nassma </td><td> UAE</td></tr>
<tr><td>Camelicious </td><td> UAE</td></tr>
<tr><td>Emirates Industry for Camel Milk & Products </td><td> UAE</td></tr>
<tr><td>Al Safi Danone </td><td> Saudi Arabia</td></tr>
<tr><td>CCH </td><td> Saudi Arabia</td></tr>
<tr><td>Aadvik Foods </td><td> India</td></tr>
<tr><td>The Australian Camel Milk Company </td><td> Australia</td></tr>
<tr><td>QCamel </td><td> Australia</td></tr>
<tr><td>Desert Farms </td><td> USA</td></tr>
<tr><td>Vital Camel Milk </td><td> Canada</td></tr>
<tr><td>Fares Farm </td><td> Egypt</td></tr>
<tr><td>Horizon Integrated Organic Farms </td><td> Kenya</td></tr>
<tr><td>Lehmann Natur </td><td> Germany</td></tr>
<tr><td>Camilk Dairy </td><td> Mongolia</td></tr>
<tr><td>Camel Dairy Farm Smits </td><td> Netherlands</td></tr>
<tr><td>Camel Dairy Farm </td><td> Switzerland</td></tr>
<tr><td>Régilait </td><td> France</td></tr>
<tr><td>Lactalis Group </td><td> France</td></tr>
</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Camel Milk Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Sahal </td><td> Somalia</td></tr>
<tr><td>Solex </td><td> Somalia</td></tr>
<tr><td>Camel Dairy Kenya </td><td> Kenya</td></tr>
<tr><td>Nitrates Pvt Ltd </td><td> India</td></tr>
<tr><td>Aadvik Foods </td><td> India</td></tr>
<tr><td>The Australian Camel Milk Company </td><td> Australia</td></tr>
<tr><td>QCamel </td><td> Australia</td></tr>
<tr><td>Adenium Global </td><td> UAE</td></tr>
<tr><td>Gomati Impex </td><td> India</td></tr>
<tr><td>Emirates Industry for Camel Milk & Products </td><td> UAE</td></tr>
<tr><td>Aitken Spence PLC </td><td> Sri Lanka</td></tr>
<tr><td>Kombucha Camels </td><td> USA</td></tr>
<tr><td>Milk Lab </td><td> USA</td></tr>
<tr><td>Vital Camel Milk </td><td> Canada</td></tr>
<tr><td>Amaltheia Organic Dairy </td><td> Greece</td></tr>
<tr><td>Desert Farms </td><td> USA</td></tr>
<tr><td>Camelicious </td><td> UAE</td></tr>
<tr><td>Al Ain Farms For Livestock Production </td><td> UAE</td></tr>
<tr><td>The Camel Milk Cooperative </td><td> USA</td></tr>
<tr><td>The Australian Wild Camel Corporation </td><td> Australia</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Camel Milk Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: Global demand for camel milk is increasing, driven by its perceived health benefits and its use in high-value dairy products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Middle East and North Africa: The Middle East and North Africa region is the largest producer and consumer of camel milk.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Australia: Australia is the largest exporter of camel milk, with significant demand from the United Arab Emirates.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the camel milk market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as Southeast Asia and Africa are showing increased demand for camel milk, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed camel milk products, such as cheese and yogurt, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Camel milk is considered a more sustainable dairy source than cow milk, and some countries are exploring its potential as an alternative.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Competition: Camel milk faces competition from other dairy products such as cow milk, goat milk, and plant-based milk alternatives, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulation: The camel milk market is subject to strict regulations, which can affect its import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported camel milk and its products in certain markets.</div>
</div>

</div>

</body>
</html>

