<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("coffee-min.jpg"),:size => "100x100" %>
         
           <h4>Coffee</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $150 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 10.2 million metric tons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Coffee consumption is generally considered safe when consumed in moderation. However, excessive consumption can lead to negative health outcomes such as insomnia, anxiety, and gastrointestinal problems. In addition, there are also risks associated with coffee production, including environmental concerns such as deforestation and the use of harmful pesticides and chemicals.

Despite these risks, there is significant strategic value in the potential export opportunities for coffee. Coffee is a highly popular beverage consumed in many different countries and cultures around the world, and there is significant demand for high-quality coffee products. Coffee producers who can produce unique and high-quality coffee products may be able to capture a larger share of the global market for coffee.

Another factor driving the demand for coffee is its potential as a cultural and tourism product. Coffee is often closely associated with specific regions and cultural traditions, and can be a significant draw for tourists and visitors. </p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Coffee Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 20.5%</td></tr>
<tr><td>Germany </td><td> 11.1%</td></tr>
<tr><td>France </td><td> 8.8%</td></tr>
<tr><td>Italy </td><td> 8.6%</td></tr>
<tr><td>Japan </td><td> 5.5%</td></tr>
<tr><td>UK </td><td> 5.1%</td></tr>
<tr><td>Canada </td><td> 3.5%</td></tr>
<tr><td>Belgium </td><td> 3.2%</td></tr>
<tr><td>Spain </td><td> 2.9%</td></tr>
<tr><td>South Korea </td><td> 2.5%</td></tr>
<tr><td>Netherlands </td><td> 2.2%</td></tr>
<tr><td>Switzerland </td><td> 1.9%</td></tr>
<tr><td>Australia </td><td> 1.7%</td></tr>
<tr><td>Sweden </td><td> 1.4%</td></tr>
<tr><td>Austria </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.2%</td></tr>
<tr><td>Russia </td><td> 1.1%</td></tr>
<tr><td>Denmark </td><td> 1.0%</td></tr>
<tr><td>Norway </td><td> 1.0%</td></tr>
<tr><td>Greece </td><td> 0.9%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Coffee Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Brazil </td><td> 36.7%</td></tr>
<tr><td>Vietnam </td><td> 17.2%</td></tr>
<tr><td>Colombia </td><td> 7.2%</td></tr>
<tr><td>Ethiopia </td><td> 4.5%</td></tr>
<tr><td>Honduras </td><td> 3.9%</td></tr>
<tr><td>Peru </td><td> 3.4%</td></tr>
<tr><td>Uganda </td><td> 3.4%</td></tr>
<tr><td>India </td><td> 2.9%</td></tr>
<tr><td>Mexico </td><td> 2.7%</td></tr>
<tr><td>Guatemala </td><td> 2.5%</td></tr>
<tr><td>Nicaragua </td><td> 1.6%</td></tr>
<tr><td>Costa Rica </td><td> 1.3%</td></tr>
<tr><td>Ivory Coast </td><td> 1.2%</td></tr>
<tr><td>El Salvador </td><td> 1.2%</td></tr>
<tr><td>Papua New Guinea </td><td> 1.0%</td></tr>
<tr><td>Tanzania </td><td> 0.9%</td></tr>
<tr><td>Cameroon </td><td> 0.7%</td></tr>
<tr><td>Kenya </td><td> 0.7%</td></tr>
<tr><td>Honduras </td><td> 0.7%</td></tr>
<tr><td>Laos </td><td> 0.7%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Coffee Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Ethiopia </td><td> $2.00/kg </td><td> $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $2.50/kg </td><td> $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $3.00/kg </td><td> $1.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras </td><td> $3.50/kg </td><td> $1.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala </td><td> $3.75/kg </td><td> $1.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua </td><td> $4.00/kg </td><td> $1.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $4.50/kg </td><td> $2.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $4.75/kg </td><td> $2.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $5.00/kg </td><td> $2.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $5.25/kg </td><td> $2.38/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $5.50/kg </td><td> $2.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $6.00/kg </td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Papua New Guinea </td><td> $6.50/kg </td><td> $2.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras </td><td> $7.00/kg </td><td> $3.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $7.50/kg </td><td> $3.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $8.00/kg </td><td> $3.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica </td><td> $8.50/kg </td><td> $3.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $9.00/kg </td><td> $4.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $9.50/kg </td><td> $4.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>El Salvador </td><td> $10.00/kg </td><td> $4.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Coffee price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $40.00/kg </td><td> $18.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $20.00/kg </td><td> $9.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $19.00/kg </td><td> $8.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $17.00/kg </td><td> $7.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $16.00/kg </td><td> $7.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $15.00/kg </td><td> $6.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $14.00/kg </td><td> $6.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $13.00/kg </td><td> $5.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $12.00/kg </td><td> $5.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $11.00/kg </td><td> $4.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $10.00/kg </td><td> $4.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $9.00/kg </td><td> $4.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $8.50/kg </td><td> $3.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $8.00/kg </td><td> $3.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $7.50/kg </td><td> $3.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $7.00/kg </td><td> $3.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $6.50/kg </td><td> $2.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $6.00/kg </td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $5.50/kg </td><td> $2.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $5.00/kg </td><td> $2.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Coffee growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Brazil </td><td> 37.1%</td></tr>
<tr><td>Vietnam </td><td> 16.4%</td></tr>
<tr><td>Colombia </td><td> 8.3%</td></tr>
<tr><td>Indonesia </td><td> 7.1%</td></tr>
<tr><td>Ethiopia </td><td> 4.3%</td></tr>
<tr><td>Honduras </td><td> 3.6%</td></tr>
<tr><td>India </td><td> 3.5%</td></tr>
<tr><td>Uganda </td><td> 3.3%</td></tr>
<tr><td>Peru </td><td> 2.8%</td></tr>
<tr><td>Mexico </td><td> 1.6%</td></tr>
<tr><td>Guatemala </td><td> 1.5%</td></tr>
<tr><td>Nicaragua </td><td> 1.3%</td></tr>
<tr><td>Ivory Coast </td><td> 1.2%</td></tr>
<tr><td>Costa Rica </td><td> 1.0%</td></tr>
<tr><td>Papua New Guinea </td><td> 0.8%</td></tr>
<tr><td>Tanzania </td><td> 0.7%</td></tr>
<tr><td>Cameroon </td><td> 0.6%</td></tr>
<tr><td>Kenya </td><td> 0.6%</td></tr>
<tr><td>Laos </td><td> 0.5%</td></tr>
<tr><td>Thailand </td><td> 0.4%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Coffee Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Brazil </td><td> May to Sep</td></tr>
<tr><td>Colombia </td><td> Oct to Feb</td></tr>
<tr><td>Ethiopia </td><td> Oct to Feb</td></tr>
<tr><td>Vietnam </td><td> Oct to January</td></tr>
<tr><td>Honduras </td><td> Nov to Feb</td></tr>
<tr><td>Peru </td><td> May to Sep</td></tr>
<tr><td>Uganda </td><td> Oct to Feb</td></tr>
<tr><td>Mexico </td><td> Nov to Feb</td></tr>
<tr><td>Guatemala </td><td> Dec to March</td></tr>
<tr><td>Nicaragua </td><td> Nov to Feb</td></tr>
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>Costa Rica </td><td> Oct to Feb</td></tr>
<tr><td>Ivory Coast </td><td> Oct to March</td></tr>
<tr><td>Papua New Guinea </td><td> May to Sep</td></tr>
<tr><td>El Salvador </td><td> Nov to Feb</td></tr>
<tr><td>Dominican Republic </td><td> Oct to Feb</td></tr>
<tr><td>Kenya </td><td> March to July</td></tr>
<tr><td>Tanzania </td><td> May to August</td></tr>
<tr><td>Rwanda </td><td> March to July</td></tr>
<tr><td>Indonesia </td><td> May to Sep</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Coffee</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Finland </td><td> 12.5%</td></tr>
<tr><td>Norway </td><td> 9.9%</td></tr>
<tr><td>Iceland </td><td> 9%</td></tr>
<tr><td>Denmark </td><td> 8.7%</td></tr>
<tr><td>Netherlands </td><td> 8.4%</td></tr>
<tr><td>Switzerland </td><td> 7.9%</td></tr>
<tr><td>Sweden </td><td> 7.7%</td></tr>
<tr><td>Belgium </td><td> 6.6%</td></tr>
<tr><td>Luxembourg </td><td> 6.5%</td></tr>
<tr><td>Canada </td><td> 6.2%</td></tr>
<tr><td>Slovenia </td><td> 6.1%</td></tr>
<tr><td>Austria </td><td> 5.4%</td></tr>
<tr><td>Germany </td><td> 4.8%</td></tr>
<tr><td>France </td><td> 4.2%</td></tr>
<tr><td>Italy </td><td> 4.1%</td></tr>
<tr><td>Australia </td><td> 3.8%</td></tr>
<tr><td>USA </td><td> 3.1%</td></tr>
<tr><td>UK </td><td> 2.8%</td></tr>
<tr><td>Japan </td><td> 2.7%</td></tr>
<tr><td>Spain </td><td> 2.4%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Coffee<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 0.4%</td></tr>
<tr><td>India </td><td> 0.3%</td></tr>
<tr><td>Bangladesh </td><td> 0.1%</td></tr>
<tr><td>Russia </td><td> 0.1%</td></tr>
<tr><td>Turkey </td><td> 0.1%</td></tr>
<tr><td>Ukraine </td><td> 0.1%</td></tr>
<tr><td>Pakistan </td><td> 0.1%</td></tr>
<tr><td>Egypt </td><td> 0.1%</td></tr>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Mexico </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Coffee Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Finland </td><td> 12.2%</td></tr>
<tr><td>Norway </td><td> 9.4%</td></tr>
<tr><td>Iceland </td><td> 9%</td></tr>
<tr><td>Denmark </td><td> 8.7%</td></tr>
<tr><td>Netherlands </td><td> 8.4%</td></tr>
<tr><td>Switzerland </td><td> 7.9%</td></tr>
<tr><td>Sweden </td><td> 7.7%</td></tr>
<tr><td>Belgium </td><td> 6.6%</td></tr>
<tr><td>Luxembourg </td><td> 6.5%</td></tr>
<tr><td>Canada </td><td> 6.2%</td></tr>
<tr><td>Slovenia </td><td> 6.1%</td></tr>
<tr><td>Austria </td><td> 5.4%</td></tr>
<tr><td>Germany </td><td> 4.8%</td></tr>
<tr><td>France </td><td> 4.2%</td></tr>
<tr><td>Italy </td><td> 4.1%</td></tr>
<tr><td>Australia </td><td> 3.8%</td></tr>
<tr><td>USA </td><td> 3.1%</td></tr>
<tr><td>UK </td><td> 2.8%</td></tr>
<tr><td>Japan </td><td> 2.7%</td></tr>
<tr><td>Spain </td><td> 2.4%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Coffee Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Nestle </td><td>Switzerland</td></tr>
<tr><td>Starbucks </td><td>USA</td></tr>
<tr><td>Lavazza </td><td>Italy</td></tr>
<tr><td>Tchibo </td><td>Germany</td></tr>
<tr><td>Jacobs Douwe Egberts </td><td>Netherlands</td></tr>
<tr><td>Illy </td><td>Italy</td></tr>
<tr><td>Dunkin' Donuts </td><td>USA</td></tr>
<tr><td>Eight O'Clock Coffee </td><td>USA</td></tr>
<tr><td>Juan Valdez </td><td>Colombia</td></tr>
<tr><td>Tata Global Beverages </td><td>India</td></tr>
<tr><td>Strauss Group </td><td>Israel</td></tr>
<tr><td>Peet's Coffee </td><td>USA</td></tr>
<tr><td>Massimo Zanetti Beverage Group </td><td>Italy</td></tr>
<tr><td>Keurig Dr Pepper </td><td>USA</td></tr>
<tr><td>Caribou Coffee </td><td>USA</td></tr>
<tr><td>Melitta </td><td>Germany</td></tr>
<tr><td>Grupo Nutresa </td><td>Colombia</td></tr>
<tr><td>Yamamotoyama </td><td>Japan</td></tr>
<tr><td>Farmer Bros. Co. </td><td>USA</td></tr>
<tr><td>Japan Tobacco International </td><td>Switzerland</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Coffee Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Colombia Coffee Federation </td><td>Colombia</td></tr>
<tr><td>Vietnam National Coffee Corporation </td><td>Vietnam</td></tr>
<tr><td>Neumann Kaffee Gruppe </td><td>Germany</td></tr>
<tr><td>Volcafe Holdings Ltd. </td><td>Switzerland</td></tr>
<tr><td>ECOM Agroindustrial Corporation Ltd. </td><td>Switzerland</td></tr>
<tr><td>Olam International </td><td>Singapore</td></tr>
<tr><td>Mercon Coffee Group </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>ITOCHU Corporation </td><td>Japan</td></tr>
<tr><td>Sucafina </td><td>Switzerland</td></tr>
<tr><td>Expocaccer </td><td>Brazil</td></tr>
<tr><td>Exportadora de Café California </td><td>Mexico</td></tr>
<tr><td>NKG Quality Coffee </td><td>USA</td></tr>
<tr><td>Atlántica Coffee </td><td>USA</td></tr>
<tr><td>Coex Coffee International </td><td>USA</td></tr>
<tr><td>JDE Peet's </td><td>Netherlands</td></tr>
<tr><td>Indochina Coffee </td><td>Vietnam</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>InterAmerican Coffee </td><td>USA</td></tr>
<tr><td>Mitsui & Co. Ltd. </td><td>Japan</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Coffee Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: The global demand for coffee is increasing, driven by changing consumer preferences and the popularity of specialty coffee.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Brazil: Brazil is the largest producer and exporter of coffee, accounting for over 30% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Sustainable coffee production methods, such as fair trade and organic farming, are becoming increasingly important to consumers, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed coffee products, such as instant coffee and coffee pods, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as China and India are showing increased demand for coffee, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Single-origin coffee: There is growing demand for single-origin coffee, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported coffee in certain markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and taste: Meeting quality and taste preferences is critical for successful import/export trade in the coffee market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change: Climate change is impacting coffee production, and some countries are exploring the potential of climate-resistant coffee varieties.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements: Trade agreements such as the United States-Mexico-Canada Agreement (USMCA) and the European Union-Vietnam Free Trade Agreement can impact the import/export of coffee.</div>
</div>

</div>

</body>
</html>

