<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("goat-min.jpg"),:size => "100x100" %>
         
           <h4>Goat Milk</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $11 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.8%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 4.3 billion gallons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Another factor driving the demand for goat milk is its potential as a sustainable and environmentally-friendly dairy product. Goat milk production requires less land, water, and feed than cow milk production, and goats have a lower carbon footprint than cows. Producers who can promote the environmental benefits of goat milk production may be able to capture a larger share of the global market for goat milk.
In addition to these factors, there is also significant interest in the potential health benefits of goat milk, particularly for people with certain health conditions such as lactose intolerance and allergies to cow milk. Producers and exporters who can promote these health benefits and high-quality attributes may be able to capture a larger share of the global market for goat milk.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Goat Milk Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 24%</td></tr>
<tr><td>USA </td><td> 13%</td></tr>
<tr><td>UAE </td><td> 9%</td></tr>
<tr><td>Russia </td><td> 7%</td></tr>
<tr><td>Saudi Arabia </td><td> 6%</td></tr>
<tr><td>Hong Kong </td><td> 5%</td></tr>
<tr><td>Singapore </td><td> 4%</td></tr>
<tr><td>Japan </td><td> 3%</td></tr>
<tr><td>Malaysia </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Qatar </td><td> 1%</td></tr>
<tr><td>Bahrain </td><td> 1%</td></tr>
<tr><td>Oman </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Kuwait </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Goat Milk Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>New Zealand </td><td> 20%</td></tr>
<tr><td>Netherlands </td><td> 14%</td></tr>
<tr><td>Spain </td><td> 11%</td></tr>
<tr><td>France </td><td> 10%</td></tr>
<tr><td>Germany </td><td> 7%</td></tr>
<tr><td>Italy </td><td> 7%</td></tr>
<tr><td>UK </td><td> 5%</td></tr>
<tr><td>Australia </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 3%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Ireland </td><td> 2%</td></tr>
<tr><td>Denmark </td><td> 2%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>Lithuania </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Goat Milk Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.52/liter</td><td>$1.97/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.68/liter</td><td>$2.57/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sudan </td><td> $0.76/liter</td><td>$2.87/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.85/liter</td><td>$3.22/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $0.89/liter</td><td>$3.37/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mali </td><td> $0.93/liter</td><td>$3.51/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $0.95/liter</td><td>$3.60/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Somalia </td><td> $1.01/liter</td><td>$3.83/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $1.07/liter</td><td>$4.05/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $1.10/liter</td><td>$4.17/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $1.13/liter</td><td>$4.28/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Afghanistan </td><td> $1.16/liter</td><td>$4.39/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $1.18/liter</td><td>$4.47/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $1.20/liter</td><td>$4.54/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $1.22/liter</td><td>$4.62/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $1.24/liter</td><td>$4.70/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Yemen </td><td> $1.26/liter</td><td>$4.77/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Syria </td><td> $1.28/liter</td><td>$4.84/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iraq </td><td> $1.31/liter</td><td>$4.95/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $1.35/liter</td><td>$5.11/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Goat Milk price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland </td><td> $3.64/liter</td><td>$13.79/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $3.43/liter</td><td>$13.00/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $3.37/liter</td><td>$12.77/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $2.98/liter</td><td>$11.28/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $2.98/liter</td><td>$11.29/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $2.89/liter</td><td>$10.94/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $2.84/liter</td><td>$10.73/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $2.79/liter</td><td>$10.57/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.65/liter</td><td>$10.04/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $2.57/liter</td><td>$9.75/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $2.31/liter</td><td>$8.76/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $2.27/liter</td><td>$8.60/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $2.24/liter</td><td>$8.49/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $2.18/liter</td><td>$8.26/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $2.16/liter</td><td>$8.17/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $2.06/liter</td><td>$7.80/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $2.02/liter</td><td>$7.65/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $1.98/liter</td><td>$7.49/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.85/liter</td><td>$7.00/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Goat Milk growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 22%</td></tr>
<tr><td>Bangladesh </td><td> 10%</td></tr>
<tr><td>Sudan </td><td> 7%</td></tr>
<tr><td>Pakistan </td><td> 6%</td></tr>
<tr><td>Ethiopia </td><td> 5%</td></tr>
<tr><td>Mali </td><td> 4%</td></tr>
<tr><td>Nigeria </td><td> 4%</td></tr>
<tr><td>Somalia </td><td> 3%</td></tr>
<tr><td>China </td><td> 3%</td></tr>
<tr><td>Tanzania </td><td> 3%</td></tr>
<tr><td>Kenya </td><td> 3%</td></tr>
<tr><td>Algeria </td><td> 2%</td></tr>
<tr><td>Afghanistan </td><td> 2%</td></tr>
<tr><td>Morocco </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Yemen </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Iraq </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Goat Milk</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Sudan </td><td> 100%</td></tr>
<tr><td>Somalia </td><td> 95%</td></tr>
<tr><td>Yemen </td><td> 95%</td></tr>
<tr><td>Ethiopia </td><td> 75%</td></tr>
<tr><td>Mali </td><td> 61%</td></tr>
<tr><td>Niger </td><td> 58%</td></tr>
<tr><td>Mauritania </td><td> 50%</td></tr>
<tr><td>Afghanistan </td><td> 48%</td></tr>
<tr><td>Bangladesh </td><td> 44%</td></tr>
<tr><td>Burkina Faso </td><td> 44%</td></tr>
<tr><td>Pakistan </td><td> 39%</td></tr>
<tr><td>Guinea</td><td>Bissau </td><td> 35%</td></tr>
<tr><td>Togo </td><td> 32%</td></tr>
<tr><td>Nigeria </td><td> 31%</td></tr>
<tr><td>Eritrea </td><td> 31%</td></tr>
<tr><td>Senegal </td><td> 28%</td></tr>
<tr><td>Chad </td><td> 27%</td></tr>
<tr><td>Gambia </td><td> 25%</td></tr>
<tr><td>Djibouti </td><td> 22%</td></tr>
<tr><td>Cameroon </td><td> 22%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Goat Milk<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> less than 0.01%</td></tr>
<tr><td>Canada </td><td> less than 0.01%</td></tr>
<tr><td>UK </td><td> less than 0.01%</td></tr>
<tr><td>Germany </td><td> less than 0.01%</td></tr>
<tr><td>Australia </td><td> less than 0.01%</td></tr>
<tr><td>France </td><td> less than 0.01%</td></tr>
<tr><td>Italy </td><td> less than 0.01%</td></tr>
<tr><td>Japan </td><td> less than 0.01%</td></tr>
<tr><td>South Korea </td><td> less than 0.01%</td></tr>
<tr><td>Netherlands </td><td> less than 0.01%</td></tr>
<tr><td>Belgium </td><td> less than 0.01%</td></tr>
<tr><td>Spain </td><td> less than 0.01%</td></tr>
<tr><td>Denmark </td><td> less than 0.01%</td></tr>
<tr><td>Greece </td><td> less than 0.01%</td></tr>
<tr><td>Switzerland </td><td> less than 0.01%</td></tr>
<tr><td>Portugal </td><td> less than 0.01%</td></tr>
<tr><td>Sweden </td><td> less than 0.01%</td></tr>
<tr><td>Finland </td><td> less than 0.01%</td></tr>
<tr><td>Norway </td><td> less than 0.01%</td></tr>
<tr><td>New Zealand </td><td> less than 0.01%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Goat Milk Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 26%</td></tr>
<tr><td>Bangladesh </td><td> 10%</td></tr>
<tr><td>Sudan </td><td> 6%</td></tr>
<tr><td>Pakistan </td><td> 5%</td></tr>
<tr><td>China </td><td> 5%</td></tr>
<tr><td>European Union </td><td> 5%</td></tr>
<tr><td>Mali </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 3%</td></tr>
<tr><td>Nigeria </td><td> 3%</td></tr>
<tr><td>Somalia </td><td> 3%</td></tr>
<tr><td>Yemen </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Afghanistan </td><td> 2%</td></tr>
<tr><td>Algeria </td><td> 2%</td></tr>
<tr><td>Niger </td><td> 2%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Goat Milk Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>China National Chemical Corporation </td><td>China</td></tr>
<tr><td>Olam International </td><td>Singapore</td></tr>
<tr><td>Nestle S.A. </td><td>Switzerland</td></tr>
<tr><td>Danone S.A. </td><td>France</td></tr>
<tr><td>Arla Foods </td><td>Denmark</td></tr>
<tr><td>FrieslandCampina </td><td>Netherlands</td></tr>
<tr><td>Dean Foods </td><td>USA</td></tr>
<tr><td>Parmalat S.p.A. </td><td>Italy</td></tr>
<tr><td>Lactalis </td><td>France</td></tr>
<tr><td>Saputo Inc. </td><td>Canada</td></tr>
<tr><td>Dairy Farmers of America </td><td>USA</td></tr>
<tr><td>Fonterra Co-Group Limited </td><td>New Zealand</td></tr>
<tr><td>Royal Friesland Foods </td><td>Netherlands</td></tr>
<tr><td>Yili Group </td><td>China</td></tr>
<tr><td>Mengniu Dairy Co. Ltd. </td><td>China</td></tr>
<tr><td>Inner Mongolia Yili Industrial Group Co., Ltd. </td><td>China</td></tr>
<tr><td>Murray Goulburn Co-operative Co. Limited </td><td>Australia</td></tr>
<tr><td>Kraft Foods Group, Inc. </td><td>USA</td></tr>
<tr><td>Goodman Fielder </td><td>Australia</td></tr>
<tr><td>Unilever </td><td>Netherlands</td></tr>
</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Goat Milk Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dairy Goat Co-operative </td><td>New Zealand</td></tr>
<tr><td>Emmi AG </td><td>Switzerland</td></tr>
<tr><td>Meyenberg Goat Milk Products </td><td>USA</td></tr>
<tr><td>Laibach Vineyards </td><td>South Africa</td></tr>
<tr><td>Bio-Mil Ltd </td><td>Israel</td></tr>
<tr><td>Bubs Australia Limited </td><td>Australia</td></tr>
<tr><td>Dairy Concepts Ireland Ltd </td><td>Ireland</td></tr>
<tr><td>Bettinehoeve Geitenkaas BV </td><td>Netherlands</td></tr>
<tr><td>Hay Dairies Pte Ltd </td><td>Singapore</td></tr>
<tr><td>Kabrita </td><td>Netherlands</td></tr>
<tr><td>Hellenic Dairies S.A. </td><td>Greece</td></tr>
<tr><td>Tirol Milch KG </td><td>Austria</td></tr>
<tr><td>St Helen's Farm </td><td>UK</td></tr>
<tr><td>The Goat Milk Company </td><td>New Zealand</td></tr>
<tr><td>Redwood Hill Farm & Creamery, Inc. </td><td>USA</td></tr>
<tr><td>Al Manhal </td><td>Saudi Arabia</td></tr>
<tr><td>Meyerpark Dairy </td><td>South Africa</td></tr>
<tr><td>Modilon Fresh Limited </td><td>Papua New Guinea</td></tr>
<tr><td>Tnuva Group </td><td>Israel</td></tr>
<tr><td>Dairy Fresh Farm GmbH </td><td>Germany</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Goat Milk Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: Global demand for goat milk is increasing, driven by its perceived health benefits and its use in high-value dairy products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Europe: Europe is the largest producer and consumer of goat milk, with Spain, France, and Greece being the largest producers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New Zealand: New Zealand is the largest exporter of goat milk, with significant demand from China and the United States.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the goat milk market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as Asia and Africa are showing increased demand for goat milk, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed goat milk products, such as cheese and yogurt, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Goat milk is considered a more sustainable dairy source than cow milk, and some countries are exploring its potential as an alternative.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Consumer preferences: Consumer preferences for goat milk products can vary widely between countries, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulation: The goat milk market is subject to strict regulations, which can affect its import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Branding and marketing: Effective branding and marketing strategies can help to increase the demand for imported goat milk and its products in certain markets.</div>
</div>

</div>

</body>
</html>

