<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("milk-min.jpg"),:size => "100x100" %>
         
           <h4>Milk</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $614 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 246 billion gallons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Milk consumption is generally considered safe when proper food safety protocols are followed during production, processing, and preparation. However, there are also risks associated with its consumption, particularly related to foodborne illnesses such as Salmonella and E. coli. In addition, some people may be allergic to milk or have difficulty digesting it. Another factor driving the demand for milk is its potential as a sustainable and environmentally-friendly dairy product. Many producers are implementing sustainable and environmentally-friendly production methods, such as organic and grass-fed dairy farming, to reduce the impact of milk production on the environment. Producers who can promote the environmental benefits of milk production may be able to capture a larger share of the global market for milk.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Milk Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 10.7%</td></tr>
<tr><td>USA </td><td> 7.5%</td></tr>
<tr><td>Russia </td><td> 6.1%</td></tr>
<tr><td>Japan </td><td> 5.3%</td></tr>
<tr><td>Mexico </td><td> 3.9%</td></tr>
<tr><td>Philippines </td><td> 3.6%</td></tr>
<tr><td>Malaysia </td><td> 3.2%</td></tr>
<tr><td>Vietnam </td><td> 3.2%</td></tr>
<tr><td>Indonesia </td><td> 3.1%</td></tr>
<tr><td>Algeria </td><td> 2.6%</td></tr>
<tr><td>Egypt </td><td> 2.4%</td></tr>
<tr><td>Thailand </td><td> 2.4%</td></tr>
<tr><td>South Korea </td><td> 2.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 2.0%</td></tr>
<tr><td>UAE </td><td> 1.9%</td></tr>
<tr><td>Morocco </td><td> 1.8%</td></tr>
<tr><td>Singapore </td><td> 1.6%</td></tr>
<tr><td>Iraq </td><td> 1.6%</td></tr>
<tr><td>Peru </td><td> 1.5%</td></tr>
<tr><td>Canada </td><td> 1.5%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Milk Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>New Zealand </td><td> 32.7%</td></tr>
<tr><td>European Union </td><td> 29.1%</td></tr>
<tr><td>USA </td><td> 8.8%</td></tr>
<tr><td>Australia </td><td> 5.5%</td></tr>
<tr><td>Belarus </td><td> 4.4%</td></tr>
<tr><td>Argentina </td><td> 2.4%</td></tr>
<tr><td>Brazil </td><td> 2.2%</td></tr>
<tr><td>Ukraine </td><td> 1.6%</td></tr>
<tr><td>Uruguay </td><td> 1.3%</td></tr>
<tr><td>Chile </td><td> 1.2%</td></tr>
<tr><td>Canada </td><td> 1.1%</td></tr>
<tr><td>Turkey </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 0.9%</td></tr>
<tr><td>Mexico </td><td> 0.8%</td></tr>
<tr><td>Switzerland </td><td> 0.7%</td></tr>
<tr><td>Norway </td><td> 0.6%</td></tr>
<tr><td>Serbia </td><td> 0.6%</td></tr>
<tr><td>South Africa </td><td> 0.5%</td></tr>
<tr><td>Moldova </td><td> 0.5%</td></tr>
<tr><td>China </td><td> 0.5%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Milk Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td>$0.27/liter</td><td>$1.02/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td>$0.31/liter</td><td>$1.17/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td>$0.45/liter</td><td>$1.70/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td>$0.53/liter</td><td>$2.01/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td>$0.62/liter</td><td>$2.35/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td>$0.67/liter</td><td>$2.54/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td>$0.71/liter</td><td>$2.68/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td>$0.79/liter</td><td>$2.99/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td>$0.80/liter</td><td>$3.03/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td>$0.81/liter</td><td>$3.07/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td>$0.84/liter</td><td>$3.19/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td>$0.84/liter</td><td>$3.19/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td>$0.88/liter</td><td>$3.33/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td>$0.93/liter</td><td>$3.53/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td>$0.94/liter</td><td>$3.56/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td>$0.97/liter</td><td>$3.67/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td>$1.05/liter</td><td>$3.98/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td>$1.08/liter</td><td>$4.09/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td>$1.13/liter</td><td>$4.27/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td>$1.22/liter</td><td>$4.62/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Milk price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Canada </td><td>$2.93/liter</td><td>$11.08/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td>$2.75/liter</td><td>$10.41/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td>$2.54/liter</td><td>$9.62/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td>$2.44/liter</td><td>$9.23/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td>$1.99/liter</td><td>$7.53/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td>$1.75/liter</td><td>$6.63/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td>$1.74/liter</td><td>$6.58/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td>$1.72/liter</td><td>$6.51/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td>$1.70/liter</td><td>$6.44/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td>$1.66/liter</td><td>$6.28/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td>$1.64/liter</td><td>$6.22/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td>$1.60/liter</td><td>$6.06/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td>$1.56/liter</td><td>$5.90/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td>$1.51/liter</td><td>$5.71/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td>$1.49/liter</td><td>$5.64/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td>$1.44/liter</td><td>$5.45/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td>$1.38/liter</td><td>$5.23/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td>$1.34/liter</td><td>$5.08/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td>$1.29/liter</td><td>$4.89/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td>$1.17/liter</td><td>$4.43/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">
<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Milk Produce countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 21.7%</td></tr>
<tr><td>USA </td><td> 12.5%</td></tr>
<tr><td>China </td><td> 7.1%</td></tr>
<tr><td>Brazil </td><td> 5.5%</td></tr>
<tr><td>Russia </td><td> 4.2%</td></tr>
<tr><td>Germany </td><td> 3.5%</td></tr>
<tr><td>France </td><td> 3.4%</td></tr>
<tr><td>New Zealand </td><td> 3.1%</td></tr>
<tr><td>Turkey </td><td> 3.1%</td></tr>
<tr><td>UK </td><td> 3.0%</td></tr>
<tr><td>Poland </td><td> 2.9%</td></tr>
<tr><td>Italy </td><td> 2.5%</td></tr>
<tr><td>Argentina </td><td> 2.2%</td></tr>
<tr><td>Australia </td><td> 2.0%</td></tr>
<tr><td>Ukraine </td><td> 1.8%</td></tr>
<tr><td>Mexico </td><td> 1.7%</td></tr>
<tr><td>Belarus </td><td> 1.6%</td></tr>
<tr><td>Netherlands </td><td> 1.6%</td></tr>
<tr><td>Spain </td><td> 1.5%</td></tr>
<tr><td>Japan </td><td> 1.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Milk</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 17.7%</td></tr>
<tr><td>USA </td><td> 8.8%</td></tr>
<tr><td>China </td><td> 5.5%</td></tr>
<tr><td>Brazil </td><td> 4.5%</td></tr>
<tr><td>Russia </td><td> 3.7%</td></tr>
<tr><td>Germany </td><td> 3.4%</td></tr>
<tr><td>France </td><td> 3.3%</td></tr>
<tr><td>Pakistan </td><td> 3.0%</td></tr>
<tr><td>Mexico </td><td> 2.8%</td></tr>
<tr><td>UK </td><td> 2.5%</td></tr>
<tr><td>Iran </td><td> 2.4%</td></tr>
<tr><td>Turkey </td><td> 2.4%</td></tr>
<tr><td>Poland </td><td> 2.2%</td></tr>
<tr><td>Italy </td><td> 2.2%</td></tr>
<tr><td>Argentina </td><td> 2.2%</td></tr>
<tr><td>Spain </td><td> 2.0%</td></tr>
<tr><td>Ukraine </td><td> 1.9%</td></tr>
<tr><td>South Africa </td><td> 1.7%</td></tr>
<tr><td>Canada </td><td> 1.7%</td></tr>
<tr><td>Australia </td><td> 1.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Milk<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Madagascar </td><td> 0.03%</td></tr>
<tr><td>Liberia </td><td> 0.05%</td></tr>
<tr><td>Malawi </td><td> 0.06%</td></tr>
<tr><td>Burundi </td><td> 0.06%</td></tr>
<tr><td>Guinea Bissau </td><td> 0.07%</td></tr>
<tr><td>Sierra Leone </td><td> 0.08%</td></tr>
<tr><td>Niger </td><td> 0.08%</td></tr>
<tr><td>Mozambique </td><td> 0.08%</td></tr>
<tr><td>Somalia </td><td> 0.09%</td></tr>
<tr><td>Central African Republic </td><td> 0.10%</td></tr>
<tr><td>Afghanistan </td><td> 0.11%</td></tr>
<tr><td>Chad </td><td> 0.11%</td></tr>
<tr><td>Congo (Brazzaville) </td><td> 0.11%</td></tr>
<tr><td>Mali </td><td> 0.12%</td></tr>
<tr><td>Congo (Kinshasa) </td><td> 0.12%</td></tr>
<tr><td>Eritrea </td><td> 0.13%</td></tr>
<tr><td>Myanmar </td><td> 0.14%</td></tr>
<tr><td>Ethiopia </td><td> 0.16%</td></tr>
<tr><td>Bangladesh </td><td> 0.16%</td></tr>
<tr><td>Cambodia </td><td> 0.17%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Milk Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 68.7%</td></tr>
<tr><td>USA </td><td> 17.1%</td></tr>
<tr><td>China </td><td> 4.6%</td></tr>
<tr><td>Russia </td><td> 4.4%</td></tr>
<tr><td>Brazil </td><td> 3.7%</td></tr>
<tr><td>Germany </td><td> 3.5%</td></tr>
<tr><td>France </td><td> 3.2%</td></tr>
<tr><td>Pakistan </td><td> 2.8%</td></tr>
<tr><td>Mexico </td><td> 2.3%</td></tr>
<tr><td>UK </td><td> 2.3%</td></tr>
<tr><td>Iran </td><td> 2.1%</td></tr>
<tr><td>Turkey </td><td> 1.9%</td></tr>
<tr><td>Poland </td><td> 1.9%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>Argentina </td><td> 1.8%</td></tr>
<tr><td>Spain </td><td> 1.6%</td></tr>
<tr><td>Ukraine </td><td> 1.5%</td></tr>
<tr><td>South Africa </td><td> 1.5%</td></tr>
<tr><td>Canada </td><td> 1.4%</td></tr>
<tr><td>Australia </td><td> 1.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Milk Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Lactalis </td><td> France</td></tr>
<tr><td>Nestle </td><td> Switzerland</td></tr>
<tr><td>Danone </td><td> France</td></tr>
<tr><td>Fonterra </td><td> New Zealand</td></tr>
<tr><td>Arla Foods </td><td> Denmark</td></tr>
<tr><td>Dairy Farmers of America </td><td> USA</td></tr>
<tr><td>Saputo </td><td> Canada</td></tr>
<tr><td>Yili Group </td><td> China</td></tr>
<tr><td>FrieslandCampina </td><td> Netherlands</td></tr>
<tr><td>Muller </td><td> Germany</td></tr>
<tr><td>Sodiaal </td><td> France</td></tr>
<tr><td>Dairy Crest </td><td> UK</td></tr>
<tr><td>Agropur </td><td> Canada</td></tr>
<tr><td>Meiji Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Dean Foods </td><td> USA</td></tr>
<tr><td>Murray Goulburn Co-Operative Co. Limited </td><td> Australia</td></tr>
<tr><td>California Dairies, Inc. </td><td> USA</td></tr>
<tr><td>Milkiland N.V. </td><td> Netherlands</td></tr>
<tr><td>Clover Industries Ltd. </td><td> South Africa</td></tr>
<tr><td>Parmalat S.p.A. </td><td> Italy</td></tr>
</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Milk Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Fonterra </td><td> New Zealand</td></tr>
<tr><td>Dairy Farmers of America </td><td> USA</td></tr>
<tr><td>Arla Foods </td><td> Denmark</td></tr>
<tr><td>Lactalis </td><td> France</td></tr>
<tr><td>Nestle </td><td> Switzerland</td></tr>
<tr><td>Muller </td><td> Germany</td></tr>
<tr><td>Sodiaal </td><td> France</td></tr>
<tr><td>FrieslandCampina </td><td> Netherlands</td></tr>
<tr><td>Saputo </td><td> Canada</td></tr>
<tr><td>Yili Group </td><td> China</td></tr>
<tr><td>Agropur </td><td> Canada</td></tr>
<tr><td>Murray Goulburn Co-Operative Co. Limited </td><td> Australia</td></tr>
<tr><td>Clover Industries Ltd. </td><td> South Africa</td></tr>
<tr><td>Dean Foods </td><td> USA</td></tr>
<tr><td>California Dairies, Inc. </td><td> USA</td></tr>
<tr><td>Milkiland N.V. </td><td> Netherlands</td></tr>
<tr><td>Parmalat S.p.A. </td><td> Italy</td></tr>
<tr><td>Savencia Fromage & Dairy </td><td> France</td></tr>
<tr><td>Meggle Group </td><td> Germany</td></tr>
<tr><td>Bongrain </td><td> France</td></tr>


</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Milk Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: The global demand for milk is increasing, driven by population growth and rising incomes in many countries.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Europe: Europe is the largest producer and consumer of milk, with countries such as Germany, France, and the Netherlands being major producers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New Zealand: New Zealand is the largest exporter of milk, accounting for over 30% of the world's production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Sustainable dairy production methods, such as reducing water usage and greenhouse gas emissions, are becoming increasingly important to consumers, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed milk products, such as cheese and yogurt, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emerging markets: Emerging markets such as China and India are showing increased demand for milk, creating new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the milk market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Competition: Milk faces competition from other dairy products such as goat milk, plant-based milk alternatives, and other beverages, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health concerns: Health concerns such as the presence of antibiotic residues in milk can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements: Trade agreements such as the Comprehensive and Progressive Agreement for Trans-Pacific Partnership (CPTPP) and the United States-Mexico-Canada Agreement (USMCA) can impact the import/export of milk.</div>
</div>

</div>

</body>
</html>

