<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("olive_oil-min.jpg"),:size => "100x100" %>
         
           <h4>Olive Oil</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $12.90 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.9%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 6.8 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The olive oil market faces several risks, including climate change, disease outbreaks, and quality control issues. Climate change can affect olive tree growth and yield, while disease outbreaks such as the olive fruit fly can cause significant losses for olive oil producers. Quality control issues, such as the presence of contaminants or adulteration, can also pose a risk to the reputation and consumer confidence in olive oil products.

Despite these risks, the potential for olive oil exports offers strategic value for producers. The global market for olive oil is growing, with increasing demand for high-quality and authentic olive oil products. The potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Olive Oil Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 14.3%</td></tr>
<tr><td>Italy </td><td> 11.5%</td></tr>
<tr><td>Spain </td><td> 10.7%</td></tr>
<tr><td>Greece </td><td> 9.5%</td></tr>
<tr><td>UK </td><td> 6.1%</td></tr>
<tr><td>France </td><td> 4.2%</td></tr>
<tr><td>Canada </td><td> 3.6%</td></tr>
<tr><td>Japan </td><td> 3.1%</td></tr>
<tr><td>Australia </td><td> 2.4%</td></tr>
<tr><td>Germany </td><td> 2.2%</td></tr>
<tr><td>Belgium </td><td> 2.1%</td></tr>
<tr><td>Netherlands </td><td> 1.9%</td></tr>
<tr><td>China </td><td> 1.8%</td></tr>
<tr><td>Switzerland </td><td> 1.6%</td></tr>
<tr><td>Russia </td><td> 1.4%</td></tr>
<tr><td>South Korea </td><td> 1.3%</td></tr>
<tr><td>Portugal </td><td> 1.2%</td></tr>
<tr><td>Sweden </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Denmark </td><td> 0.8%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Olive Oil Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 28.9%</td></tr>
<tr><td>Italy </td><td> 25.3%</td></tr>
<tr><td>Greece </td><td> 14.7%</td></tr>
<tr><td>Tunisia </td><td> 6.9%</td></tr>
<tr><td>Turkey </td><td> 4.8%</td></tr>
<tr><td>Portugal </td><td> 4.6%</td></tr>
<tr><td>Syria </td><td> 2.7%</td></tr>
<tr><td>Morocco </td><td> 2.4%</td></tr>
<tr><td>Argentina </td><td> 2.2%</td></tr>
<tr><td>Lebanon </td><td> 1.4%</td></tr>
<tr><td>Egypt </td><td> 1.3%</td></tr>
<tr><td>Algeria </td><td> 1.3%</td></tr>
<tr><td>Jordan </td><td> 1.2%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Chile </td><td> 0.9%</td></tr>
<tr><td>Croatia </td><td> 0.8%</td></tr>
<tr><td>Cyprus </td><td> 0.7%</td></tr>
<tr><td>Israel </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Olive Oil Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Tunisia </td><td> $3.57/liter</td><td> $13.50/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $3.75/liter</td><td> $14.20/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $3.78/liter</td><td> $14.30/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $3.81/liter</td><td> $14.43/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $3.83/liter</td><td> $14.50/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $4.03/liter</td><td> $15.28/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $4.05/liter</td><td> $15.34/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $4.08/liter</td><td> $15.46/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Syria </td><td> $4.19/liter</td><td> $15.84/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Lebanon </td><td> $4.21/liter</td><td> $15.94/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $4.31/liter</td><td> $16.32/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $4.35/liter</td><td> $16.46/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $4.36/liter</td><td> $16.50/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $4.39/liter</td><td> $16.63/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $4.45/liter</td><td> $16.84/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.47/liter</td><td> $16.92/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $4.54/liter</td><td> $17.19/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $4.60/liter</td><td> $17.39/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $4.70/liter</td><td> $17.79/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $4.74/liter</td><td> $17.95/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Olive Oil price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/L</th>
        <th>USD/G</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> $27.70/liter</td><td> $104.79/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $21.26/liter</td><td> $80.44/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $19.32/liter</td><td> $73.11/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $18.52/liter</td><td> $70.12/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $18.02/liter</td><td> $68.24/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $17.81/liter</td><td> $67.36/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $17.69/liter</td><td> $66.96/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $16.96/liter</td><td> $64.23/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $16.95/liter</td><td> $64.18/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $16.60/liter</td><td> $62.84/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $15.83/liter</td><td> $59.96/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $15.52/liter</td><td> $58.76/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $15.09/liter</td><td> $57.12/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $14.73/liter</td><td> $55.74/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $14.31/liter</td><td> $54.16/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $13.70/liter</td><td> $51.86/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $13.67/liter</td><td> $51.75/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $13.42/liter</td><td> $50.75/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $13.28/liter</td><td> $50.27/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $12.81/liter</td><td> $48.47/gallon</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Olive Oil growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 45.9%</td></tr>
<tr><td>Italy </td><td> 20.0%</td></tr>
<tr><td>Greece </td><td> 15.0%</td></tr>
<tr><td>Turkey </td><td> 5.1%</td></tr>
<tr><td>Tunisia </td><td> 2.9%</td></tr>
<tr><td>Morocco </td><td> 2.2%</td></tr>
<tr><td>Syria </td><td> 1.4%</td></tr>
<tr><td>Portugal </td><td> 1.3%</td></tr>
<tr><td>Algeria </td><td> 1.1%</td></tr>
<tr><td>Egypt </td><td> 0.7%</td></tr>
<tr><td>Lebanon </td><td> 0.6%</td></tr>
<tr><td>Argentina </td><td> 0.5%</td></tr>
<tr><td>Jordan </td><td> 0.4%</td></tr>
<tr><td>Libya </td><td> 0.4%</td></tr>
<tr><td>Croatia </td><td> 0.3%</td></tr>
<tr><td>France </td><td> 0.3%</td></tr>
<tr><td>Iran </td><td> 0.3%</td></tr>
<tr><td>Cyprus </td><td> 0.3%</td></tr>
<tr><td>USA </td><td> 0.2%</td></tr>
<tr><td>Australia </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Olive Oil</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 33.5%</td></tr>
<tr><td>Italy </td><td> 19.0%</td></tr>
<tr><td>Greece </td><td> 17.5%</td></tr>
<tr><td>Tunisia </td><td> 8.0%</td></tr>
<tr><td>Syria </td><td> 4.5%</td></tr>
<tr><td>Portugal </td><td> 3.5%</td></tr>
<tr><td>Morocco </td><td> 3.0%</td></tr>
<tr><td>Turkey </td><td> 2.5%</td></tr>
<tr><td>Algeria </td><td> 2.0%</td></tr>
<tr><td>Lebanon </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1.0%</td></tr>
<tr><td>Argentina </td><td> 0.5%</td></tr>
<tr><td>Chile </td><td> 0.5%</td></tr>
<tr><td>France </td><td> 0.5%</td></tr>
<tr><td>Iran </td><td> 0.5%</td></tr>
<tr><td>Israel </td><td> 0.5%</td></tr>
<tr><td>Jordan </td><td> 0.5%</td></tr>
<tr><td>Libya </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>
<tr><td>USA </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Olive Oil<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 1.5%</td></tr>
<tr><td>South Africa </td><td> 1.0%</td></tr>
<tr><td>Croatia </td><td> 0.5%</td></tr>
<tr><td>Cyprus </td><td> 0.5%</td></tr>
<tr><td>Georgia </td><td> 0.5%</td></tr>
<tr><td>Hungary </td><td> 0.5%</td></tr>
<tr><td>Japan </td><td> 0.5%</td></tr>
<tr><td>Montenegro </td><td> 0.5%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Serbia </td><td> 0.5%</td></tr>
<tr><td>Slovenia </td><td> 0.5%</td></tr>
<tr><td>Albania </td><td> 0.3%</td></tr>
<tr><td>Argentina </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>Bulgaria </td><td> 0.3%</td></tr>
<tr><td>Egypt </td><td> 0.3%</td></tr>
<tr><td>Lebanon </td><td> 0.3%</td></tr>
<tr><td>Libya </td><td> 0.3%</td></tr>
<tr><td>USA </td><td> 0.3%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Olive Oil Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 62.0%</td></tr>
<tr><td>USA </td><td> 10.0%</td></tr>
<tr><td>Brazil </td><td> 4.0%</td></tr>
<tr><td>Japan </td><td> 3.5%</td></tr>
<tr><td>Russia </td><td> 3.0%</td></tr>
<tr><td>Australia </td><td> 2.0%</td></tr>
<tr><td>Canada </td><td> 2.0%</td></tr>
<tr><td>China </td><td> 2.0%</td></tr>
<tr><td>Argentina </td><td> 1.5%</td></tr>
<tr><td>Iran </td><td> 1.5%</td></tr>
<tr><td>Mexico </td><td> 1.5%</td></tr>
<tr><td>South Korea </td><td> 1.0%</td></tr>
<tr><td>Ukraine </td><td> 1.0%</td></tr>
<tr><td>Algeria </td><td> 0.5%</td></tr>
<tr><td>Egypt </td><td> 0.5%</td></tr>
<tr><td>India </td><td> 0.5%</td></tr>
<tr><td>Israel </td><td> 0.5%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Turkey </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Olive Oil Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Salov SpA </td><td>Italy</td></tr>
<tr><td>Agroindustrias Aib S.L. </td><td>Spain</td></tr>
<tr><td>Deoleo S.A. </td><td>Spain</td></tr>
<tr><td>Sovena Group </td><td>Portugal</td></tr>
<tr><td>Grupo Ybarra Alimentación S.L. </td><td>Spain</td></tr>
<tr><td>Oleificio Zucchi SpA </td><td>Italy</td></tr>
<tr><td>Mueloliva Y S. A. </td><td>Spain</td></tr>
<tr><td>Carapelli Firenze S.p.A. </td><td>Italy</td></tr>
<tr><td>Kirlangic Zeytinyagi </td><td>Turkey</td></tr>
<tr><td>The Food Source International Inc. </td><td>USA</td></tr>
<tr><td>Agro Sevilla Aceitunas S.Coop.And. </td><td>Spain</td></tr>
<tr><td>Sarl Traidunion </td><td>France</td></tr>
<tr><td>Geos Commodities Limited </td><td>Hong Kong</td></tr>
<tr><td>Sovena USA </td><td>USA</td></tr>
<tr><td>Azienda Agricola Belfiore Srl </td><td>Italy</td></tr>
<tr><td>Chalhoub Group </td><td>UAE</td></tr>
<tr><td>Aristoil </td><td>Greece</td></tr>
<tr><td>Piancone & C. Srl </td><td>Italy</td></tr>
<tr><td>Hellenic Fine Oils S.A. </td><td>Greece</td></tr>
<tr><td>De Smet Commodities </td><td>Belgium</td></tr>

</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Olive Oil Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Agro Sevilla Exportadora Andaluza S.A.</td><td> Spain</td></tr>
<tr><td>Aceitunas Guadalquivir S.A. </td><td>Spain</td></tr>
<tr><td>Bell Carter Foods, Inc. </td><td>USA</td></tr>
<tr><td>Carbonell </td><td>Spain</td></tr>
<tr><td>Borges International Group </td><td>Spain</td></tr>
<tr><td>DEOLEO </td><td>Spain</td></tr>
<tr><td>Hellenic Fine Oils S.A. </td><td>Greece</td></tr>
<tr><td>Ybarra Alimentación </td><td>Spain</td></tr>
<tr><td>Azienda Agricola Belfiore Srl </td><td>Italy</td></tr>
<tr><td>Ulker Gida Sanayi Ve Ticaret AS </td><td>Turkey</td></tr>
<tr><td>The Food Source International Inc. </td><td>USA</td></tr>
<tr><td>Filippo Berio UK Ltd </td><td>UK</td></tr>
<tr><td>Salov SpA </td><td>Italy</td></tr>
<tr><td>Sovena USA </td><td>USA</td></tr>
<tr><td>Grupo Romero Polo </td><td>Chile</td></tr>
<tr><td>Monini S.p.A. </td><td>Italy</td></tr>
<tr><td>A L'Olivier SAS </td><td>France</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>Elaia Zait Israel</td></tr>
<tr><td>Kolossos Hellenic Products </td><td>Greece</td></tr>

</table>
</div>
</div>
<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Olive Oil Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand for organic and extra-virgin olive oil: Consumers are becoming more health-conscious and are seeking out high-quality olive oil products, leading to a rise in organic and extra-virgin olive oil imports and exports.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of regional olive oils: Consumers are increasingly seeking out regional olive oils from specific countries or regions, leading to a rise in import and export of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Online marketplaces and e-commerce platforms: The rise of online marketplaces and e-commerce platforms has made it easier for importers and exporters to connect with buyers and expand their reach.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of olive oil sources: Importers and exporters are diversifying their sources of olive oil to reduce their reliance on a single supplier or region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">New product innovations: Companies are investing in new product innovations to differentiate themselves from competitors and appeal to consumers, including flavored olive oil, infused olive oil, and organic olive oil.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on fair trade and ethical sourcing: Companies are investing in fair trade and ethical sourcing practices to ensure the social and economic well-being of olive oil farmers and communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health benefits: Olive oil is known for its various health benefits, including its high levels of monounsaturated fats and antioxidants, leading to increased demand for olive oil products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulatory changes and trade policies: Changes in trade policies and regulations can have a significant impact on the import-export olive oil business, leading to shifts in supply and demand for certain types of olive oil products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increase in private label and customized products: Companies are increasingly offering private label and customized olive oil products to meet the specific needs of buyers and markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new olive oil processing technologies: New olive oil processing technologies are emerging, leading to the development of new olive oil products and production methods.</div>
</div>

</div>


</body>
</html>

