<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("oysters-min.jpg"),:size => "100x100" %>
         
           <h4>Oyster</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.3 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 9.3 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Oyster market faces several risks, including overfishing, pollution, and disease outbreaks. Overfishing can deplete Oyster populations and disrupt marine ecosystems, while pollution can impact the safety and quality of Oysters. Furthermore, disease outbreaks such as Ostreid herpesvirus-1 can cause significant losses for Oyster producers. Despite these risks, the potential for Oyster exports offers strategic value for producers. Oysters are highly valued in international markets, and the potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers. To maximize the potential for export opportunities, producers need to focus on producing high-quality Oysters, complying with international standards and regulations, and developing effective marketing strategies that highlight the safety and sustainability of their products.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Oyster Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 31%</td></tr>
<tr><td>France </td><td> 21%</td></tr>
<tr><td>China </td><td> 11%</td></tr>
<tr><td>Japan </td><td> 10%</td></tr>
<tr><td>UK </td><td> 5%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Hong Kong </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Singapore </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Ireland </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Taiwan </td><td> 0.5%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Oyster Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>France </td><td> 36%</td></tr>
<tr><td>USA </td><td> 26%</td></tr>
<tr><td>Japan </td><td> 7%</td></tr>
<tr><td>China </td><td> 6%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>South Korea </td><td> 3%</td></tr>
<tr><td>UK </td><td> 2%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 0.5%</td></tr>
<tr><td>Ireland </td><td> 0.5%</td></tr>
<tr><td>Taiwan </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
<tr><td>Hong Kong </td><td> 0.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Oyster Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td> $7/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $9/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $10/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $10/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $11/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $11/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $12/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $13/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $13/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $13/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $13/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $14/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $14/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $14/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $14/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $15/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $15/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $15/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $15/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uruguay </td><td> $16/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Oyster price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Singapore </td><td> $45/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $42/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $37/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $37/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $35/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $34/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $34/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $33/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $32/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $29/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $27/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $27/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $27/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $26/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $26/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $25/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $25/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $24/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $22/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $20/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $20/kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Oyster Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 73%</td></tr>
<tr><td>Japan </td><td> 14%</td></tr>
<tr><td>South Korea </td><td> 3%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 0.5%</td></tr>
<tr><td>UK </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>Philippines </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>
<tr><td>Italy </td><td> 0.5%</td></tr>
<tr><td>Ireland </td><td> 0.5%</td></tr>
<tr><td>Portugal </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Oyster</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 29%</td></tr>
<tr><td>France </td><td> 22%</td></tr>
<tr><td>USA </td><td> 14%</td></tr>
<tr><td>China </td><td> 12%</td></tr>
<tr><td>South Korea </td><td> 6%</td></tr>
<tr><td>UK </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Hong Kong </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Oyster<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iraq </td><td> 0.0001%</td></tr>
<tr><td>Mauritania </td><td> 0.0001%</td></tr>
<tr><td>Eritrea </td><td> 0.0001%</td></tr>
<tr><td>Bhutan </td><td> 0.0001%</td></tr>
<tr><td>Lesotho </td><td> 0.0001%</td></tr>
<tr><td>San Marino </td><td> 0.0001%</td></tr>
<tr><td>Burundi </td><td> 0.0001%</td></tr>
<tr><td>Comoros </td><td> 0.0001%</td></tr>
<tr><td>Liechtenstein </td><td> 0.0001%</td></tr>
<tr><td>Andorra </td><td> 0.0001%</td></tr>
<tr><td>Seychelles </td><td> 0.0001%</td></tr>
<tr><td>Guinea Bissau </td><td> 0.0001%</td></tr>
<tr><td>São Tomé and Príncipe </td><td> 0.0001%</td></tr>
<tr><td>Tuvalu </td><td> 0.0001%</td></tr>
<tr><td>Marshall Islands </td><td> 0.0001%</td></tr>
<tr><td>Kiribati </td><td> 0.0001%</td></tr>
<tr><td>Palau </td><td> 0.0001%</td></tr>
<tr><td>Federated States of Micronesia </td><td> 0.0001%</td></tr>
<tr><td>Nauru </td><td> 0.0001%</td></tr>
<tr><td>Cook Islands </td><td> 0.0001%</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Oyster Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 30%</td></tr>
<tr><td>France </td><td> 23%</td></tr>
<tr><td>USA </td><td> 14%</td></tr>
<tr><td>China </td><td> 12%</td></tr>
<tr><td>South Korea </td><td> 5%</td></tr>
<tr><td>UK </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Hong Kong </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Oyster Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Country</th>
        <th>Company Name</th>
      </tr>
    </thead>
<tr><td>Pacific Seafood Group </td><td> USA</td></tr>
<tr><td>Clearwater Seafoods </td><td> Canada</td></tr>
<tr><td>Lery Seafood Group </td><td> France</td></tr>
<tr><td>Tsukiji Foods Trading </td><td> Japan</td></tr>
<tr><td>Lee Fish Europe </td><td> Netherlands</td></tr>
<tr><td>Austevoll Seafood </td><td> Norway</td></tr>
<tr><td>Deutsche See GmbH </td><td> Germany</td></tr>
<tr><td>Kingfish Zeeland </td><td> Netherlands</td></tr>
<tr><td>Nippon Suisan Kaisha, Ltd. </td><td> Japan</td></tr>
<tr><td>Fishermen's Finest </td><td> USA</td></tr>
<tr><td>Maruha Nichiro Corporation </td><td> Japan</td></tr>
<tr><td>Albion Fisheries Ltd. </td><td> Canada</td></tr>
<tr><td>Sea Delight LLC </td><td> USA</td></tr>
<tr><td>Caviar Russe </td><td> USA</td></tr>
<tr><td>Zhanjiang Guolian Aquatic Products Co., Ltd. </td><td> China</td></tr>
<tr><td>Luxe Seafood B.V. </td><td> Netherlands</td></tr>
<tr><td>Ralston Foods </td><td> USA</td></tr>
<tr><td>Meridian Salmon Group </td><td> Scotland</td></tr>
<tr><td>Les Viviers De Keroman </td><td> France</td></tr>
<tr><td>Tri Marine International </td><td> USA</td></tr>

</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Oyster Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Country</th>
        <th>Company Name</th>
      </tr>
    </thead>
<tr><td>Blue Island Oyster Co. </td><td> USA</td></tr>
<tr><td>Brittany Shellfish </td><td> France</td></tr>
<tr><td>Huitres Cadoret </td><td> France</td></tr>
<tr><td>Zeeland's Roem </td><td> Netherlands</td></tr>
<tr><td>St James Oyster Company </td><td> UK</td></tr>
<tr><td>Huitres Le Divenah </td><td> France</td></tr>
<tr><td>Tio Juan's Margaritas </td><td> Mexico</td></tr>
<tr><td>Rodney's Oyster House </td><td> Canada</td></tr>
<tr><td>G. F. Oyster </td><td> Thailand</td></tr>
<tr><td>Fanny Bay Oysters </td><td> Canada</td></tr>
<tr><td>Hama Hama Oysters </td><td> USA</td></tr>
<tr><td>Far East Seafood </td><td> China</td></tr>
<tr><td>Pacific Seafood </td><td> USA</td></tr>
<tr><td>Johnson Sea Products </td><td> USA</td></tr>
<tr><td>The Oyster Company of Virginia </td><td> USA</td></tr>
<tr><td>Rich Products Corporation </td><td> USA</td></tr>
<tr><td>Sydney Oyster Supply </td><td> Australia</td></tr>
<tr><td>Bluewater Oysters </td><td> Canada</td></tr>
<tr><td>Pangea Shellfish </td><td> USA</td></tr>
<tr><td>Kibun Foods Inc. </td><td> Japan</td></tr>


</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Oyster Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability and responsible farming: Consumers and businesses are increasingly seeking oyster products from sustainable and responsible sources, leading to a growing demand for aquaculture and eco-friendly farming practices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Traceability and transparency: Customers and regulators expect greater traceability and transparency in the supply chain, ensuring food safety, quality, and compliance with sustainability standards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health-conscious consumers: The nutritional benefits of oysters, including their high levels of zinc, iron, and other essential nutrients, are driving demand from health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growth of e-commerce: The rise of e-commerce has provided opportunities for direct-to-consumer sales and expanded access to global markets, making it easier for smaller businesses to enter the import-export market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Premiumization: There is increasing demand for high-quality, premium oyster products as consumers become more discerning and willing to pay for unique and superior experiences.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Value-added products: Demand for ready-to-eat and other value-added oyster products, such as oyster sauces and canned oysters, is growing as consumers seek convenient options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements and regulations: Changes in trade agreements, tariffs, and regulations can impact the import-export oyster product business, creating both opportunities and challenges.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emphasis on quality and safety: Food safety concerns and consumer expectations have led to stricter regulations and a greater focus on quality assurance in the oyster industry.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of markets: Companies are exploring new and emerging markets to expand their reach and reduce dependence on traditional markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change and environmental challenges: Climate change, pollution, and other environmental challenges can impact oyster populations and the overall oyster product industry, necessitating adaptive strategies and responsible practices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Please note that these trends may have evolved since my knowledge was last updated in 2021. To get the most up-to-date information, it is recommended to consult current industry reports and news sources.</div>
</div>

</div>

</body>
</html>

