<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("sea_weed-min.jpg"),:size => "100x100" %>
         
           <h4>Seaweed</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $12.3 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 11.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 68 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Seaweed faces several risks, including pollution, climate change, and harvesting practices. Pollution can impact the safety and quality of Seaweed, while climate change can impact the availability and quality of Seaweed habitats. Furthermore, unsustainable harvesting practices can deplete Seaweed populations and harm marine ecosystems. Despite these risks, the potential for Seaweed exports offers strategic value for producers. Seaweed is a natural and sustainable source of nutrition and functional ingredients that is highly valued in industries such as food, cosmetics, and agriculture. The potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers. To maximize the potential for export opportunities, producers need to focus on producing high-quality Seaweed, complying with international standards and regulations, and developing effective marketing strategies that highlight the unique properties and sustainability of their products.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Seaweed Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 38%</td></tr>
<tr><td>USA </td><td> 12%</td></tr>
<tr><td>Japan </td><td> 11%</td></tr>
<tr><td>France </td><td> 6%</td></tr>
<tr><td>South Korea </td><td> 5%</td></tr>
<tr><td>Netherlands </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Germany </td><td> 3%</td></tr>
<tr><td>UK </td><td> 2%</td></tr>
<tr><td>Thailand </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Seaweed Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 31%</td></tr>
<tr><td>Indonesia </td><td> 22%</td></tr>
<tr><td>Philippines </td><td> 13%</td></tr>
<tr><td>South Korea </td><td> 5%</td></tr>
<tr><td>Japan </td><td> 4%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>Chile </td><td> 3%</td></tr>
<tr><td>USA </td><td> 3%</td></tr>
<tr><td>Vietnam </td><td> 3%</td></tr>
<tr><td>Norway </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Ireland </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Seaweed Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>China </td><td>$0.85/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td>$1.25/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td>$1.40/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td>$1.70/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td>$1.80/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td>$2.10/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td>$2.40/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td>$2.50/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td>$2.80/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td>$2.90/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cameroon </td><td>$3.10/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td>$3.20/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td>$3.50/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar </td><td>$3.60/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td>$3.90/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td>$4.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td>$4.20/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td>$4.50/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td>$4.60/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td>$4.80/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Seaweed price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td>$53.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td>$49.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td>$45.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td>$38.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td>$36.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td>$34.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td>$31.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td>$28.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td>$25.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td>$22.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td>$20.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td>$17.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td>$15.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td>$14.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td>$12.50/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td>$11.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td>$9.80/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td>$8.40/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td>$7.00/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td>$5.60/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td>$4.20/Kg</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Seaweed Production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 60%</td></tr>
<tr><td>Indonesia </td><td> 23%</td></tr>
<tr><td>South Korea </td><td> 4%</td></tr>
<tr><td>Philippines </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>North Korea </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>India </td><td> 0.5%</td></tr>
<tr><td>Tanzania </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Seaweed</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 30%</td></tr>
<tr><td>South Korea </td><td> 23%</td></tr>
<tr><td>China </td><td> 21%</td></tr>
<tr><td>Taiwan </td><td> 7%</td></tr>
<tr><td>USA </td><td> 4%</td></tr>
<tr><td>Philippines </td><td> 3%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Malaysia </td><td> 2%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Denmark </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Seaweed<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Chad </td><td> 0.1%</td></tr>
<tr><td>Burkina Faso </td><td> 0.1%</td></tr>
<tr><td>Mali </td><td> 0.1%</td></tr>
<tr><td>Niger </td><td> 0.2%</td></tr>
<tr><td>Ethiopia </td><td> 0.2%</td></tr>
<tr><td>Guinea </td><td> 0.2%</td></tr>
<tr><td>Togo </td><td> 0.3%</td></tr>
<tr><td>Tanzania </td><td> 0.3%</td></tr>
<tr><td>Congo </td><td> 0.3%</td></tr>
<tr><td>Uganda </td><td> 0.3%</td></tr>
<tr><td>Eritrea </td><td> 0.3%</td></tr>
<tr><td>Central African Republic </td><td> 0.3%</td></tr>
<tr><td>Madagascar </td><td> 0.3%</td></tr>
<tr><td>Cameroon </td><td> 0.3%</td></tr>
<tr><td>Mozambique </td><td> 0.4%</td></tr>
<tr><td>Senegal </td><td> 0.4%</td></tr>
<tr><td>Benin </td><td> 0.4%</td></tr>
<tr><td>Kenya </td><td> 0.5%</td></tr>
<tr><td>Zambia </td><td> 0.5%</td></tr>
<tr><td>Zimbabwe </td><td> 0.5%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Seaweed Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 40%</td></tr>
<tr><td>Japan </td><td> 29%</td></tr>
<tr><td>South Korea </td><td> 14%</td></tr>
<tr><td>Taiwan </td><td> 5%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Philippines </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Denmark </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Seaweed Import Companies</div></th></tr>
      <tr class="w3-green">       
        <th>Country</th>
        <th>Company Name</th>
      </tr>
    </thead>
<tr><td>China </td><td> Shandong Lidao Oceanic Technology</td></tr>
<tr><td>USA </td><td> Maine Coast Sea Vegetables</td></tr>
<tr><td>Japan </td><td> Ise Ebi</td></tr>
<tr><td>South Korea </td><td> Korean Sea Farm</td></tr>
<tr><td>France </td><td> Algues de Bretagne</td></tr>
<tr><td>Netherlands </td><td> Acadian Seaplants Limited</td></tr>
<tr><td>Spain </td><td> Conservas de Cambados, S.A.U.</td></tr>
<tr><td>UK </td><td> Scottish Seaweed</td></tr>
<tr><td>Canada </td><td> Acadian Seaplants Limited</td></tr>
<tr><td>Italy </td><td> Mediterranea Seaweed S.r.l.</td></tr>
<tr><td>Australia </td><td> Tasmanian Seafoods Pty Ltd.</td></tr>
<tr><td>Belgium </td><td> Seaharvest Europe BV</td></tr>
<tr><td>Germany </td><td> Aromex Industry GmbH</td></tr>
<tr><td>Singapore </td><td> Zhanjiang Guolian Aquatic Products</td></tr>
<tr><td>Malaysia </td><td> Greenyarn</td></tr>
<tr><td>Thailand </td><td> Thai Royal Frozen Food</td></tr>
<tr><td>Vietnam </td><td> Kim Minh Exim</td></tr>
<tr><td>Portugal </td><td> Conservas Pinhais & Cia, Lda</td></tr>
<tr><td>Norway </td><td> Snøhetta Mat AS</td></tr>
<tr><td>Russia </td><td> Far Eastern Trading House</td></tr>

</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Seaweed Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Country</th>
        <th>Company Name</th>
      </tr>
    </thead>
<tr><td>China </td><td> Dalian Gaishi Health Food</td></tr>
<tr><td>Indonesia </td><td> PT. Dua Kelinci</td></tr>
<tr><td>Philippines </td><td> Seaweed Energy Solutions Inc.</td></tr>
<tr><td>South Korea </td><td> Wando Ecotopia</td></tr>
<tr><td>Japan </td><td> Ocean Harvest</td></tr>
<tr><td>France </td><td> Algues de Bretagne</td></tr>
<tr><td>Chile </td><td> Algas Marinas S.A.</td></tr>
<tr><td>USA </td><td> Maine Coast Sea Vegetables</td></tr>
<tr><td>Vietnam </td><td> Kim Minh Exim</td></tr>
<tr><td>Norway </td><td> Seaweed Energy Solutions AS</td></tr>
<tr><td>Canada </td><td> Acadian Seaplants Limited</td></tr>
<tr><td>Spain </td><td> Conservas de Cambados, S.A.U.</td></tr>
<tr><td>Thailand </td><td> Thai Royal Frozen Food</td></tr>
<tr><td>UK </td><td> Seaweed & Co.</td></tr>
<tr><td>Malaysia </td><td> Greenyarn</td></tr>
<tr><td>Australia </td><td> Tasmanian Seafoods Pty Ltd.</td></tr>
<tr><td>Mexico </td><td> Alimentos Naturales Seaweed</td></tr>
<tr><td>Ireland </td><td> Arramara Teoranta</td></tr>
<tr><td>Peru </td><td> Algas Marinas SAC</td></tr>
<tr><td>Taiwan </td><td> Taiwan Chlorella Manufacturing</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Seaweed Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability and responsible farming: Increasing awareness about the environment and marine ecosystems has driven demand for sustainably harvested and responsibly farmed seaweed products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health-conscious consumers: The nutritional benefits of seaweeds, such as their high content of vitamins, minerals, and dietary fibers, are attracting health-conscious consumers, driving demand for seaweed-based products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-based and vegan trends: The rising popularity of plant-based diets and veganism has increased the demand for seaweed products as a versatile and nutritious alternative to animal-based products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growth of e-commerce: The rise of e-commerce has provided opportunities for direct-to-consumer sales and expanded access to global markets, making it easier for smaller businesses to enter the import-export market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Value-added and innovative products: There is growing demand for value-added and innovative seaweed products, such as snacks, seasonings, beverages, and personal care products, offering convenience and variety to consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Traceability and transparency: Customers and regulators expect greater traceability and transparency in the supply chain, ensuring food safety, quality, and compliance with sustainability standards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade agreements and regulations: Changes in trade agreements, tariffs, and regulations can impact the import-export seaweed product business, creating both opportunities and challenges.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emphasis on quality and safety: Food safety concerns and consumer expectations have led to stricter regulations and a greater focus on quality assurance in the seaweed industry.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Biotechnology and seaweed applications: The development of biotechnology and the discovery of novel applications for seaweeds in various industries, such as pharmaceuticals, textiles, and biofuels, are driving growth and innovation in the seaweed product business.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of markets: Companies are exploring new and emerging markets to expand their reach and reduce dependence on traditional markets.</div>
</div>

</div>

</body>
</html>

