<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("squid-min.jpg"),:size => "100x100" %>
         
           <h4>Squid</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $6 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced  8.6 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The Squid market faces several risks, including overfishing, habitat degradation, and climate change. Overfishing can deplete Squid populations and disrupt marine ecosystems, while habitat degradation can impact the availability and quality of Squid habitats. Furthermore, climate change can impact the distribution and productivity of Squid. Despite these risks, the potential for Squid exports offers strategic value for producers. Squid is highly valued in international markets, and the potential for export opportunities can help producers diversify their customer base and increase their revenue streams. However, access to international markets can be challenging, and exporters may face barriers such as tariffs, regulations, and competition from established suppliers. To maximize the potential for export opportunities, producers need to focus on producing high-quality Squid, complying with international standards and regulations, and developing effective marketing strategies that highlight the safety and sustainability of their products.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Squid Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 22%</td></tr>
<tr><td>Japan </td><td> 21%</td></tr>
<tr><td>South Korea </td><td> 10%</td></tr>
<tr><td>Spain </td><td> 7%</td></tr>
<tr><td>Italy </td><td> 6%</td></tr>
<tr><td>Thailand </td><td> 5%</td></tr>
<tr><td>Taiwan </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Malaysia </td><td> 2%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Portugal </td><td> 2%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Squid Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 21%</td></tr>
<tr><td>Peru </td><td> 15%</td></tr>
<tr><td>Japan </td><td> 14%</td></tr>
<tr><td>Spain </td><td> 12%</td></tr>
<tr><td>Argentina </td><td> 8%</td></tr>
<tr><td>United States </td><td> 4%</td></tr>
<tr><td>South Korea </td><td> 3%</td></tr>
<tr><td>Thailand </td><td> 2%</td></tr>
<tr><td>Chile </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Ecuador </td><td> 1%</td></tr>
<tr><td>Uruguay </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Squid Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $2.50/kg</td><td> $1.14/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $3.00/kg</td><td> $1.36/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $3.50/kg</td><td> $1.59/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $3.80/kg</td><td> $1.73/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $4.00/kg</td><td> $1.82/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $4.50/kg</td><td> $2.05/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $5.00/kg</td><td> $2.27/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $5.50/kg</td><td> $2.50/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $6.00/kg</td><td> $2.73/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $6.50/kg</td><td> $2.95/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $7.00/kg</td><td> $3.18/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $7.50/kg</td><td> $3.41/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $8.00/kg</td><td> $3.64/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $8.50/kg</td><td> $3.86/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $9.00/kg</td><td> $4.09/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $9.50/kg</td><td> $4.32/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uruguay </td><td> $10.00/kg</td><td> $4.55/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $10.50/kg</td><td> $4.77/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $11.00/kg</td><td> $5.00/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $11.50/kg</td><td> $5.23/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Squid price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $22.00/kg</td><td> $10.00/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $20.00/kg</td><td> $9.09/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $18.50/kg</td><td> $8.41/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $18.00/kg</td><td> $8.18/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $17.50/kg</td><td> $7.95/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $17.00/kg</td><td> $7.73/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $16.50/kg</td><td> $7.50/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $16.00/kg</td><td> $7.27/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $15.50/kg</td><td> $7.05/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $15.00/kg</td><td> $6.82/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $14.50/kg</td><td> $6.59/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $14.00/kg</td><td> $6.36/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $13.50/kg</td><td> $6.14/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $13.00/kg</td><td> $5.91/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $12.50/kg</td><td> $5.68/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $12.00/kg</td><td> $5.45/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $11.50/kg</td><td> $5.23/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $11.00/kg</td><td> $5.00/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iceland </td><td> $10.50/kg</td><td> $4.77/per</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Squid production countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 53%</td></tr>
<tr><td>Peru </td><td> 16%</td></tr>
<tr><td>Japan </td><td> 10%</td></tr>
<tr><td>Chile </td><td> 5%</td></tr>
<tr><td>Argentina </td><td> 3%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Morocco </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Squid</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 30%</td></tr>
<tr><td>Japan </td><td> 25%</td></tr>
<tr><td>South Korea </td><td> 10%</td></tr>
<tr><td>United States </td><td> 6%</td></tr>
<tr><td>Spain </td><td> 5%</td></tr>
<tr><td>Italy </td><td> 4%</td></tr>
<tr><td>Taiwan </td><td> 3%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>France </td><td> 1.5%</td></tr>
<tr><td>Portugal </td><td> 1.5%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>
<tr><td>Philippines </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Squid<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Belgium </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>Croatia </td><td> 0.3%</td></tr>
<tr><td>Cyprus </td><td> 0.3%</td></tr>
<tr><td>Denmark </td><td> 0.3%</td></tr>
<tr><td>Germany </td><td> 0.3%</td></tr>
<tr><td>Ireland </td><td> 0.3%</td></tr>
<tr><td>Israel </td><td> 0.3%</td></tr>
<tr><td>Malta </td><td> 0.3%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Netherlands </td><td> 0.3%</td></tr>
<tr><td>Norway </td><td> 0.3%</td></tr>
<tr><td>Peru </td><td> 0.3%</td></tr>
<tr><td>Poland </td><td> 0.3%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.3%</td></tr>
<tr><td>South Africa </td><td> 0.3%</td></tr>
<tr><td>Sweden </td><td> 0.3%</td></tr>
<tr><td>Switzerland </td><td> 0.3%</td></tr>
<tr><td>Turkey </td><td> 0.3%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Squid Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 30%</td></tr>
<tr><td>Japan </td><td> 25%</td></tr>
<tr><td>South Korea </td><td> 10%</td></tr>
<tr><td>United States </td><td> 6%</td></tr>
<tr><td>Spain </td><td> 5%</td></tr>
<tr><td>Italy </td><td> 4%</td></tr>
<tr><td>Taiwan </td><td> 3%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>France </td><td> 1.5%</td></tr>
<tr><td>Portugal </td><td> 1.5%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>
<tr><td>Philippines </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Singapore </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Squid Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Country</th>
        <th>Company Name</th>
      </tr>
    </thead>
<tr><td>China </td><td> Zhanjiang Guolian Aquatic Products Co., Ltd.</td></tr>
<tr><td>Japan </td><td> Maruha Nichiro Corporation</td></tr>
<tr><td>South Korea </td><td> CJ CheilJedang Corp.</td></tr>
<tr><td>Spain </td><td> Frigoríficos Costa Brava</td></tr>
<tr><td>United States </td><td> Boston Sword & Tuna</td></tr>
<tr><td>Italy </td><td> Kingfisher Seafoods SRL</td></tr>
<tr><td>Taiwan </td><td> Far Eastern Seafood</td></tr>
<tr><td>Thailand </td><td> Thai Union Group</td></tr>
<tr><td>Greece </td><td> Selonda Aquaculture S.A.</td></tr>
<tr><td>France </td><td> Oceanic Développement</td></tr>
<tr><td>Portugal </td><td> Brasmar</td></tr>
<tr><td>Australia </td><td> Kailis Bros Pty Ltd</td></tr>
<tr><td>Canada </td><td> Canadian Fishing Company</td></tr>
<tr><td>United Kingdom </td><td> New England Seafood International</td></tr>
<tr><td>Indonesia </td><td> Lucky Union Foods Co., Ltd.</td></tr>
<tr><td>Malaysia </td><td> Lee Fish (M) Sdn Bhd</td></tr>
<tr><td>Vietnam </td><td> Binh Dinh Fishery Joint Stock Company</td></tr>
<tr><td>Argentina </td><td> Daniel Chavez & Asociados</td></tr>
<tr><td>Peru </td><td> Asegúrese</td></tr>
<tr><td>Chile </td><td> Landes Trading S.A.</td></tr>
</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Squid Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>China </td><td> Zhangzidao Fishery Group</td></tr>
<tr><td>Peru </td><td> TASA</td></tr>
<tr><td>Japan </td><td> Kyokuyo Co., Ltd.</td></tr>
<tr><td>Spain </td><td> Grupo Profand</td></tr>
<tr><td>Argentina </td><td> FIPES</td></tr>
<tr><td>United States </td><td> The Town Dock</td></tr>
<tr><td>South Korea </td><td> Kukje Fisheries Co., Ltd.</td></tr>
<tr><td>Thailand </td><td> Thai Union Group</td></tr>
<tr><td>Chile </td><td> Landes Trading S.A.</td></tr>
<tr><td>Mexico </td><td> Productos Pesqueros De Guaymas SA de CV</td></tr>
<tr><td>India </td><td> Surat Seafood Exim Pvt. Ltd.</td></tr>
<tr><td>Italy </td><td> Pama & Co.</td></tr>
<tr><td>New Zealand </td><td> Sanford Limited</td></tr>
<tr><td>Malaysia </td><td> Mabar (M) Sdn Bhd</td></tr>
<tr><td>Vietnam </td><td> Nha Trang Seaproduct Company</td></tr>
<tr><td>Philippines </td><td> Aqua Culture Technologies</td></tr>
<tr><td>Indonesia </td><td> PT. Bali Maya Permai</td></tr>
<tr><td>Canada </td><td> High Liner Foods</td></tr>
<tr><td>Ecuador </td><td> Expalsa</td></tr>
<tr><td>Uruguay </td><td> Atlántica Pesca S.A.</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Squid Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for fresh and frozen squid products, particularly in markets with a high demand for seafood, such as Japan and South Korea.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of sustainable fishing and aquaculture practices to ensure the long-term viability of squid populations and meet the growing demand for squid products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of new technologies such as IoT (Internet of Things) sensors and RFID (Radio-Frequency Identification) tags to track squid products through the supply chain and ensure quality and safety.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing popularity of squid meat as a healthy protein source, leading to increased consumption in markets around the world.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of the market for squid products beyond traditional markets in Asia to emerging markets in North America and Europe.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in value-added squid products, such as breaded calamari, squid ink pasta, and dried squid snacks, which offer convenience and variety for consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of social media and digital marketing to reach new customers and promote the culinary versatility and health benefits of squid products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of strict food safety and quality control measures to ensure that squid products meet regulatory standards and customer expectations.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on product differentiation and branding to stand out in the highly competitive squid market, including unique packaging and labeling.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Collaboration and partnerships between squid producers, distributors, and retailers to create new distribution channels and expand market reach.</div>
</div>

</div>


</body>
</html>

