<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
      }
.textline{
    white-space: pre-wrap;
       display: inline-block;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("barley.jpg"),:size => "100x100" %>
         
           <h4>Barley Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $8.04 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 57 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Barley crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, barley is vulnerable to drought, excessive moisture, and temperature extremes, which can reduce yields and quality. Pests such as aphids, mites, and thrips can also damage barley crops, impacting both yield and quality. Additionally, diseases such as powdery mildew and net blotch can reduce the yield and quality of barley.

From a strategic standpoint, the potential export opportunities for barley can be significant for producers. Exporting barley products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting barley can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for barley is expected to grow due to increasing demand for healthy and sustainable food options, with some estimates suggesting that the global barley market could reach over $28 billion by 2027, representing a growth of over 4% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Barley Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td>21.1%</td></tr>
<tr><td>Saudi Arabia</td><td>8.4%</td></tr>
<tr><td>Spain</td><td>6.2%</td></tr>
<tr><td>Iran</td><td>5.7%</td></tr>
<tr><td>Japan</td><td>4.7%</td></tr>
<tr><td>Belgium</td><td>3.9%</td></tr>
<tr><td>Algeria</td><td>3.3%</td></tr>
<tr><td>Netherlands</td><td>3.3%</td></tr>
<tr><td>South Korea</td><td>3.2%</td></tr>
<tr><td>United Arab Emirates</td><td>2.7%</td></tr>
<tr><td>Tunisia</td><td>2.5%</td></tr>
<tr><td>Libya</td><td>2.2%</td></tr>
<tr><td>Turkey</td><td>2.1%</td></tr>
<tr><td>Portugal</td><td>1.8%</td></tr>
<tr><td>Morocco</td><td>1.7%</td></tr>
<tr><td>Italy</td><td>1.7%</td></tr>
<tr><td>Greece</td><td>1.6%</td></tr>
<tr><td>Jordan</td><td>1.6%</td></tr>
<tr><td>Qatar</td><td>1.3%</td></tr>
<tr><td>Yemen</td><td>1.2%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Barley Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia</td><td>29.8%</td></tr>
<tr><td>France</td><td>17.9%</td></tr>
<tr><td>Ukraine</td><td>15.8%</td></tr>
<tr><td>Germany</td><td>8.1%</td></tr>
<tr><td>Canada</td><td>4.4%</td></tr>
<tr><td>Australia</td><td>4.2%</td></tr>
<tr><td>United Kingdom</td><td>2.7%</td></tr>
<tr><td>Denmark</td><td>2.4%</td></tr>
<tr><td>United States</td><td>2.3%</td></tr>
<tr><td>Argentina</td><td>1.9%</td></tr>
<tr><td>Kazakhstan</td><td>1.8%</td></tr>
<tr><td>Czech Republic</td><td>1.4%</td></tr>
<tr><td>Latvia</td><td>1.2%</td></tr>
<tr><td>Lithuania</td><td>1.2%</td></tr>
<tr><td>Poland</td><td>1.2%</td></tr>
<tr><td>Belarus</td><td>1.1%</td></tr>
<tr><td>Romania</td><td>1.0%</td></tr>
<tr><td>Bulgaria</td><td>0.8%</td></tr>
<tr><td>Hungary</td><td>0.8%</td></tr>
<tr><td>Sweden</td><td>0.6%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>



<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Barley Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Russia</td> <td>$0.10/kg</td> <td>$0.045/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine</td> <td>$0.11/kg</td> <td>$0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td> <td>$0.16/kg</td> <td>$0.073/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td> <td>$0.16/kg</td> <td>$0.073/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td> <td>$0.17/kg</td> <td>$0.077/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td> <td>$0.18/kg</td> <td>$0.082/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td> <td>$0.19/kg</td> <td>$0.086/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td> <td>$0.19/kg</td> <td>$0.086/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td> <td>$0.19/kg</td> <td>$0.086/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td> <td>$0.21/kg</td> <td>$0.095/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td> <td>$0.22/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic</td> <td>$0.22/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus</td> <td>$0.23/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan</td> <td>$0.23/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland</td> <td>$0.24/kg</td> <td>$0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td> <td>$0.26/kg</td> <td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td> <td>$0.27/kg</td> <td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td> <td>$0.27/kg</td> <td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td> <td>$0.28/kg</td> <td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td> <td>$0.28/kg</td> <td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Barley Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United Kingdom</td> <td>$0.54/kg</td> <td>$0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td> <td>$0.53/kg</td> <td>$0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td> <td>$0.49/kg</td> <td>$0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td> <td>$0.48/kg</td> <td>$0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td> <td>$0.47/kg</td> <td>$0.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td> <td>$0.46/kg</td> <td>$0.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td> <td>$0.45/kg</td> <td>$0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td> <td>$0.43/kg</td> <td>$0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td> <td>$0.42/kg</td> <td>$0.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td> <td>$0.41/kg</td> <td>$0.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td> <td>$0.40/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td> <td>$0.40/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td> <td>$0.39/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td> <td>$0.39/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td> <td>$0.38/kg</td> <td>$0.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td> <td>$0.37/kg</td> <td>$0.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td> <td>$0.36/kg</td> <td>$0.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td> <td>$0.34/kg</td> <td>$0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td> <td>$0.33/kg</td> <td>$0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td> <td>$0.32/kg</td> <td>$0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Barley Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia</td><td>19.4%</td></tr>
<tr><td>Germany</td><td>13.4%</td></tr>
<tr><td>France</td><td>12.5%</td></tr>
<tr><td>Ukraine</td><td>11.1%</td></tr>
<tr><td>Canada</td><td>9.2%</td></tr>
<tr><td>Australia</td><td>7.9%</td></tr>
<tr><td>Turkey</td><td>3.7%</td></tr>
<tr><td>United Kingdom</td><td>2.5%</td></tr>
<tr><td>Spain</td><td>1.9%</td></tr>
<tr><td>Denmark</td><td>1.7%</td></tr>
<tr><td>Poland</td><td>1.5%</td></tr>
<tr><td>United States</td><td>1.5%</td></tr>
<tr><td>Kazakhstan</td><td>1.3%</td></tr>
<tr><td>Czech Republic</td><td>1.2%</td></tr>
<tr><td>Romania</td><td>1.1%</td></tr>
<tr><td>Belarus</td><td>0.9%</td></tr>
<tr><td>Hungary</td><td>0.9%</td></tr>
<tr><td>Bulgaria</td><td>0.8%</td></tr>
<tr><td>Sweden</td><td>0.7%</td></tr>
<tr><td>Italy</td><td>0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Barley Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>Russia</td><td>June to September</td></tr>
<tr><td>Germany</td><td>April to August</td></tr>
<tr><td>France</td><td>March to July</td></tr>
<tr><td>Canada</td><td>May to September</td></tr>
<tr><td>Ukraine</td><td>May to September</td></tr>
<tr><td>Australia</td><td>April to October</td></tr>
<tr><td>Turkey</td><td>November to April</td></tr>
<tr><td>United Kingdom</td><td>April to September</td></tr>
<tr><td>United States</td><td>September to December</td></tr>
<tr><td>Spain</td><td>November to May</td></tr>
<tr><td>Kazakhstan</td><td>April to October</td></tr>
<tr><td>Argentina</td><td>September to January</td></tr>
<tr><td>Denmark</td><td>August to September</td></tr>
<tr><td>China</td><td>March to June</td></tr>
<tr><td>Czech Republic</td><td>April to August</td></tr>
<tr><td>Poland</td><td>April to August</td></tr>
<tr><td>Iran</td><td>November to May</td></tr>
<tr><td>Hungary</td><td>April to August</td></tr>
<tr><td>Sweden</td><td>July to August</td></tr>
<tr><td>Finland</td><td>June to August</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Barley Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia</td><td>16.1%</td></tr>
<tr><td>Germany</td><td>9.9%</td></tr>
<tr><td>France</td><td>8.1%</td></tr>
<tr><td>Canada</td><td>7.3%</td></tr>
<tr><td>Ukraine</td><td>6.3%</td></tr>
<tr><td>Australia</td><td>5.6%</td></tr>
<tr><td>Turkey</td><td>5.5%</td></tr>
<tr><td>United Kingdom</td><td>5.2%</td></tr>
<tr><td>United States</td><td>4.7%</td></tr>
<tr><td>Spain</td><td>4.2%</td></tr>
<tr><td>Kazakhstan</td><td>3.4%</td></tr>
<tr><td>Argentina</td><td>2.6%</td></tr>
<tr><td>Denmark</td><td>1.9%</td></tr>
<tr><td>China</td><td>1.7%</td></tr>
<tr><td>Czech Republic</td><td>1.6%</td></tr>
<tr><td>Poland</td><td>1.6%</td></tr>
<tr><td>Iran</td><td>1.4%</td></tr>
<tr><td>Hungary</td><td>1.3%</td></tr>
<tr><td>Sweden</td><td>1.2%</td></tr>
<tr><td>Finland</td><td>1.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Barley Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bahamas</td><td><0.1%</td></tr>
<tr><td>Belize</td><td><0.1%</td></tr>
<tr><td>Comoros</td><td><0.1%</td></tr>
<tr><td>Cuba</td><td><0.1%</td></tr>
<tr><td>Djibouti</td><td><0.1%</td></tr>
<tr><td>Dominica</td><td><0.1%</td></tr>
<tr><td>Eritrea</td><td><0.1%</td></tr>
<tr><td>Gambia</td><td><0.1%</td></tr>
<tr><td>Grenada</td><td><0.1%</td></tr>
<tr><td>Guinea-Bissau</td><td><0.1%</td></tr>
<tr><td>Kiribati</td><td><0.1%</td></tr>
<tr><td>Lesotho</td><td><0.1%</td></tr>
<tr><td>Maldives</td><td><0.1%</td></tr>
<tr><td>Marshall Islands</td><td><0.1%</td></tr>
<tr><td>Mauritius</td><td><0.1%</td></tr>
<tr><td>Micronesia</td><td><0.1%</td></tr>
<tr><td>Nauru</td><td><0.1%</td></tr>
<tr><td>Palau</td><td><0.1%</td></tr>
<tr><td>Saint Kitts and Nevis</td><td><0.1%</td></tr>
<tr><td>San Marino</td><td><0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Barley Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td>23.8%</td></tr>
<tr><td>European Union</td><td>21.9%</td></tr>
<tr><td>Russia</td><td>5.5%</td></tr>
<tr><td>Iran</td><td>5.2%</td></tr>
<tr><td>Saudi Arabia</td><td>4.9%</td></tr>
<tr><td>Canada</td><td>3.8%</td></tr>
<tr><td>Turkey</td><td>3.6%</td></tr>
<tr><td>Ukraine</td><td>3.3%</td></tr>
<tr><td>Japan</td><td>2.9%</td></tr>
<tr><td>United States</td><td>2.8%</td></tr>
<tr><td>Morocco</td><td>2.5%</td></tr>
<tr><td>Mexico</td><td>2.3%</td></tr>
<tr><td>Algeria</td><td>2.2%</td></tr>
<tr><td>Syria</td><td>1.9%</td></tr>
<tr><td>Egypt</td><td>1.8%</td></tr>
<tr><td>Australia</td><td>1.6%</td></tr>
<tr><td>Kazakhstan</td><td>1.4%</td></tr>
<tr><td>Brazil</td><td>1.3%</td></tr>
<tr><td>India</td><td>1.3%</td></tr>
<tr><td>Tunisia</td><td>1.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Barley Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cargill</td> <td>USA</td></tr>
<tr><td>Archer Daniels Midland Company</td> <td>USA</td></tr>
<tr><td>GrainCorp</td> <td>Australia</td></tr>
<tr><td>Bunge Limited</td> <td>USA</td></tr>
<tr><td>Glencore Agriculture</td> <td>Switzerland</td></tr>
<tr><td>CHS Inc.</td> <td>USA</td></tr>
<tr><td>COFCO International</td> <td>China</td></tr>
<tr><td>Louis Dreyfus Company</td> <td>Netherlands</td></tr>
<tr><td>Agrium Inc.</td> <td>Canada</td></tr>
<tr><td>Nidera</td> <td>Netherlands</td></tr>
<tr><td>Viterra</td> <td>Canada</td></tr>
<tr><td>Zen-Noh Grain Corporation</td> <td>Japan</td></tr>
<tr><td>The Scoular Company</td> <td>USA</td></tr>
<tr><td>Toepfer International</td> <td>Germany</td></tr>
<tr><td>Marubeni Corporation</td> <td>Japan</td></tr>
<tr><td>Mitsui & Co.</td> <td>Japan</td></tr>
<tr><td>J.D. Heiskell & Co.</td> <td>USA</td></tr>
<tr><td>Lansing Trade Group</td> <td>USA</td></tr>
<tr><td>Dunavant Enterprises</td> <td>USA</td></tr>
<tr><td>ETG Commodities</td> <td>UAE</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Barley Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>France Export Cereales</td> <td>France</td></tr>
<tr><td>GrainCorp</td> <td>Australia</td></tr>
<tr><td>Soufflet Group</td> <td>France</td></tr>
<tr><td>Archer Daniels Midland Company</td> <td>USA</td></tr>
<tr><td>Ameropa</td> <td>Switzerland</td></tr>
<tr><td>Cofco International</td> <td>China</td></tr>
<tr><td>Glencore Agriculture</td> <td>Switzerland</td></tr>
<tr><td>Boortmalt</td> <td>Belgium</td></tr>
<tr><td>Malteurop Groupe</td> <td>France</td></tr>
<tr><td>SABMiller</td> <td>UK</td></tr>
<tr><td>Bunge Limited</td> <td>USA</td></tr>
<tr><td>China National Complete Plant Import and Export Corporation</td> <td>China</td></tr>
<tr><td>Weyermann Specialty Malting Company</td> <td>Germany</td></tr>
<tr><td>Simpsons Malt Limited</td> <td>UK</td></tr>
<tr><td>Harboes Bryggeri A/S</td> <td>Denmark</td></tr>
<tr><td>Canadex Commodities</td> <td>Canada</td></tr>
<tr><td>Crisp Malting Group</td> <td>UK</td></tr>
<tr><td>Grain Millers</td> <td>USA</td></tr>
<tr><td>Briess Malt & Ingredients Co.</td> <td>USA</td></tr>
<tr><td>Evergrain</td> <td>USA</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Barley Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change: Unpredictable weather patterns resulting from climate change are affecting barley production. Extreme events such as droughts, floods, and storms can lead to reduced yields and impact the global supply chain, causing price fluctuations.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Growing Demand for Craft Beer: The craft beer industry has experienced significant growth in recent years, increasing the demand for malted barley used in brewing. This trend is driving the import and export of high-quality malting barley.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Diets: As more people adopt plant-based diets for health and environmental reasons, the demand for plant-based protein sources, including barley, is expected to rise. This growing demand may lead to increased barley production and trade.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture: There is a growing emphasis on adopting sustainable agricultural practices to reduce environmental impacts. Barley is considered a sustainable crop due to its relatively low water and nutrient requirements, making it an attractive option for both producers and consumers.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Advances in Crop Breeding: Scientific advancements in crop breeding have led to the development of barley varieties with improved yield, resistance to diseases and pests, and better adaptation to various environmental conditions. This progress can boost barley production and make it more resilient to the challenges posed by climate change.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Market Volatility: The barley market is influenced by global geopolitical factors, trade disputes, and tariffs. These factors can lead to market volatility, which may affect the overall barley trade and prices.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Alternative Uses of Barley: Research into alternative uses of barley, such as using barley straw for biofuel production or incorporating barley into biodegradable packaging materials, is gaining traction. These alternative applications have the potential to diversify the barley market and create new opportunities for growth.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Barley: With growing concerns about the use of genetically modified organisms (GMOs) and the environmental impact of conventional farming practices, there is a rising demand for organic and non-GMO barley. This trend could create new opportunities for producers and exporters focusing on organic and non-GMO barley products.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Digitalization and Precision Agriculture: The adoption of digital technologies and precision agriculture practices is becoming more prevalent in the barley industry. These advancements help farmers optimize inputs, increase efficiency, and reduce their environmental impact. As a result, the use of digital tools and data-driven farming techniques is likely to play an increasingly important role in barley production and trade.</div>
</div>


</div>



</body>
</html>
