<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("carary.jpg"),:size => "100x100" %>
         
           <h4>Canary Seed Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $202.7 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 610,000 hectares</p>
        </div>
        </div>
        </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
<p><i></i>Canary seed crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, canary seed is vulnerable to drought, excessive moisture, and temperature extremes, which can reduce yields and quality. Pests such as aphids, grasshoppers, and cutworms can also damage canary seed crops, impacting both yield and quality. Additionally, diseases such as Fusarium head blight and black point can reduce the yield and quality of canary seed.

From a strategic standpoint, the potential export opportunities for canary seed can be significant for producers. Exporting canary seed products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting canary seed can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for canary seed is expected to grow due to increasing demand for healthy and allergen-free food options, with some estimates suggesting that the global canary seed market could reach over $350 million by 2027, representing a growth of over 4% per year.</p>

         
         
        </div>
      </div>
      </div>
<br>
</div>  
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Canary Seed Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico</td><td>25.5%</td></tr>
<tr><td>United States</td><td>19.1%</td></tr>
<tr><td>Japan</td><td>14.5%</td></tr>
<tr><td>Canada</td><td>10.9%</td></tr>
<tr><td>Colombia</td><td>7.5%</td></tr>
<tr><td>Belgium</td><td>3.1%</td></tr>
<tr><td>Germany</td><td>2.9%</td></tr>
<tr><td>Spain</td><td>2.3%</td></tr>
<tr><td>Peru</td><td>1.8%</td></tr>
<tr><td>Guatemala</td><td>1.4%</td></tr>
<tr><td>Netherlands</td><td>1.4%</td></tr>
<tr><td>Costa Rica</td><td>1.1%</td></tr>
<tr><td>France</td><td>0.9%</td></tr>
<tr><td>United Kingdom</td><td>0.8%</td></tr>
<tr><td>Italy</td><td>0.6%</td></tr>
<tr><td>Panama</td><td>0.6%</td></tr>
<tr><td>Honduras</td><td>0.6%</td></tr>
<tr><td>El Salva</td><td>0.5%</td></tr>
<tr><td>Sweden</td><td>0.4%</td></tr>
<tr><td>Denmark</td><td>0.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Canary Seed Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada</td><td>54.2%</td></tr>
<tr><td>United States</td><td>24.1%</td></tr>
<tr><td>Mexico</td><td>5.5%</td></tr>
<tr><td>Peru</td><td>3.1%</td></tr>
<tr><td>Colombia</td><td>2.9%</td></tr>
<tr><td>Bolivia</td><td>2.2%</td></tr>
<tr><td>Argentina</td><td>1.7%</td></tr>
<tr><td>Spain</td><td>1.5%</td></tr>
<tr><td>Germany</td><td>1.3%</td></tr>
<tr><td>Chile</td><td>0.9%</td></tr>
<tr><td>Ecua</td><td>0.8%</td></tr>
<tr><td>France</td><td>0.5%</td></tr>
<tr><td>United Kingdom</td><td>0.5%</td></tr>
<tr><td>Netherlands</td><td>0.4%</td></tr>
<tr><td>Australia</td><td>0.4%</td></tr>
<tr><td>Sweden</td><td>0.3%</td></tr>
<tr><td>Costa Rica</td><td>0.3%</td></tr>
<tr><td>Belgium</td><td>0.3%</td></tr>
<tr><td>Italy</td><td>0.3%</td></tr>
<tr><td>Brazil</td><td>0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>


<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Canary Seed Crop price in countries</div></th></tr>
        <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Argentina</td><td>$0.30/kg</td><td>$0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td>$0.35/kg</td><td>$0.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td>$0.38/kg</td><td>$0.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td>$0.45/kg</td><td>$0.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td>$0.48/kg</td><td>$0.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td>$0.50/kg</td><td>$0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine</td><td>$0.54/kg</td><td>$0.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bolivia</td><td>$0.55/kg</td><td>$0.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia</td><td>$0.56/kg</td><td>$0.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan</td><td>$0.57/kg</td><td>$0.26/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td>$0.58/kg</td><td>$0.26/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Paraguay</td><td>$0.60/kg</td><td>$0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uruguay</td><td>$0.62/kg</td><td>$0.28/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile</td><td>$0.65/kg</td><td>$0.29/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hungary</td><td>$0.67/kg</td><td>$0.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td>$0.70/kg</td><td>$0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria</td><td>$0.73/kg</td><td>$0.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa</td><td>$0.75/kg</td><td>$0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td>$0.80/kg</td><td>$0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td>$0.83/kg</td><td>$0.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most increased Canary Seed Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
  <tr><td>Japan</td><td>$7.20/kg</td><td>$3.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td>$5.90/kg</td><td>$2.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan</td><td>$5.00/kg</td><td>$2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td>$4.50/kg</td><td>$2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td>$4.00/kg</td><td>$1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td>$3.80/kg</td><td>$1.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td>$3.50/kg</td><td>$1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td>$3.20/kg</td><td>$1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td>$3.00/kg</td><td>$1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td>$2.90/kg</td><td>$1.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td>$2.80/kg</td><td>$1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td>$2.70/kg</td><td>$1.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td>$2.60/kg</td><td>$1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td>$2.50/kg</td><td>$1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td>$2.40/kg</td><td>$1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td>$2.30/kg</td><td>$1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td><td>$2.20/kg</td><td>$1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td>$2.10/kg</td><td>$0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td>$2.00/kg</td><td>$0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td><td>$1.90/kg</td><td>$0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Topmost Canary Seed Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada</td><td>43.3%</td></tr>
<tr><td>United States</td><td>29.6%</td></tr>
<tr><td>Mexico</td><td>11.1%</td></tr>
<tr><td>Argentina</td><td>5.8%</td></tr>
<tr><td>Bolivia</td><td>2.9%</td></tr>
<tr><td>Chile</td><td>1.5%</td></tr>
<tr><td>Peru</td><td>1.3%</td></tr>
<tr><td>Australia</td><td>0.9%</td></tr>
<tr><td>Russia</td><td>0.6%</td></tr>
<tr><td>Spain</td><td>0.5%</td></tr>
<tr><td>China</td><td>0.5%</td></tr>
<tr><td>Ukraine</td><td>0.5%</td></tr>
<tr><td>France</td><td>0.4%</td></tr>
<tr><td>Kazakhstan</td><td>0.4%</td></tr>
<tr><td>United Kingdom</td><td>0.4%</td></tr>
<tr><td>Turkey</td><td>0.3%</td></tr>
<tr><td>Germany</td><td>0.3%</td></tr>
<tr><td>Italy</td><td>0.3%</td></tr>
<tr><td>Portugal</td><td>0.3%</td></tr>
<tr><td>Czech Republic</td><td>0.3%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Canary Seed Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada</td><td>July to August</td></tr>
<tr><td>Mexico</td><td>December to February</td></tr>
<tr><td>United States</td><td>July to September</td></tr>
<tr><td>Argentina</td><td>November to December</td></tr>
<tr><td>Australia</td><td>October to November</td></tr>
<tr><td>Chile</td><td>October to January</td></tr>
<tr><td>Kazakhstan</td><td>July to August</td></tr>
<tr><td>China</td><td>June to July</td></tr>
<tr><td>Russia</td><td>August to September</td></tr>
<tr><td>Spain</td><td>April to May</td></tr>
<tr><td>Ukraine</td><td>July to August</td></tr>
<tr><td>France</td><td>May to June</td></tr>
<tr><td>Germany</td><td>May to June</td></tr>
<tr><td>United Kingdom</td><td>May to June</td></tr>
<tr><td>Hungary</td><td>June to July</td></tr>
<tr><td>Romania</td><td>June to July</td></tr>
<tr><td>Bulgaria</td><td>June to July</td></tr>
<tr><td>Serbia</td><td>June to July</td></tr>
<tr><td>Poland</td><td>July to August</td></tr>
<tr><td>Czech Republic</td><td>June to July</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Canary Seed Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada</td><td>55%</td></tr>
<tr><td>Ukraine</td><td>19%</td></tr>
<tr><td>Russia</td><td>9%</td></tr>
<tr><td>Kazakhstan</td><td>5%</td></tr>
<tr><td>Argentina</td><td>4%</td></tr>
<tr><td>Australia</td><td>3%</td></tr>
<tr><td>United States</td><td>2%</td></tr>
<tr><td>Turkey</td><td>1%</td></tr>
<tr><td>China</td><td>0.5%</td></tr>
<tr><td>Peru</td><td>0.4%</td></tr>
<tr><td>Belarus</td><td>0.3%</td></tr>
<tr><td>Czechia</td><td>0.2%</td></tr>
<tr><td>Poland</td><td>0.2%</td></tr>
<tr><td>France</td><td>0.1%</td></tr>
<tr><td>Hungary</td><td>0.1%</td></tr>
<tr><td>Romania</td><td>0.1%</td></tr>
<tr><td>Spain</td><td>0.1%</td></tr>
<tr><td>United Kingdom</td><td>0.1%</td></tr>
<tr><td>Bulgaria</td><td>0.1%</td></tr>
<tr><td>Italy</td><td>0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Canary Seed Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States</td><td>0.01%</td></tr>
<tr><td>United Kingdom</td><td>0.01%</td></tr>
<tr><td>Russia</td><td>0.01%</td></tr>
<tr><td>Germany</td><td>0.01%</td></tr>
<tr><td>France</td><td>0.01%</td></tr>
<tr><td>Spain</td><td>0.01%</td></tr>
<tr><td>Italy</td><td>0.01%</td></tr>
<tr><td>Canada</td><td>0.01%</td></tr>
<tr><td>Australia</td><td>0.01%</td></tr>
<tr><td>Brazil</td><td>0.01%</td></tr>
<tr><td>South Africa</td><td>0.01%</td></tr>
<tr><td>Argentina</td><td>0.02%</td></tr>
<tr><td>Chile</td><td>0.02%</td></tr>
<tr><td>Peru</td><td>0.02%</td></tr>
<tr><td>Colombia</td><td>0.02%</td></tr>
<tr><td>Mexico</td><td>0.02%</td></tr>
<tr><td>Indonesia</td><td>0.02%</td></tr>
<tr><td>Japan</td><td>0.02%</td></tr>
<tr><td>South Korea</td><td>0.02%</td></tr>
<tr><td>Turkey</td><td>0.02%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Canary Seed Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico</td><td>21.5%</td></tr>
<tr><td>Argentina</td><td>16.3%</td></tr>
<tr><td>Peru</td><td>11.7%</td></tr>
<tr><td>Canada</td><td>7.8%</td></tr>
<tr><td>Spain</td><td>7.3%</td></tr>
<tr><td>Colombia</td><td>5.9%</td></tr>
<tr><td>Bolivia</td><td>3.7%</td></tr>
<tr><td>Chile</td><td>3.5%</td></tr>
<tr><td>Paraguay</td><td>2.5%</td></tr>
<tr><td>Ecuador</td><td>2.2%</td></tr>
<tr><td>United States</td><td>1.8%</td></tr>
<tr><td>Brazil</td><td>1.5%</td></tr>
<tr><td>Venezuela</td><td>1.4%</td></tr>
<tr><td>Germany</td><td>1.1%</td></tr>
<tr><td>United Kingdom</td><td>1%</td></tr>
<tr><td>Italy</td><td>0.9%</td></tr>
<tr><td>France</td><td>0.8%</td></tr>
<tr><td>Netherlands</td><td>0.7%</td></tr>
<tr><td>Portugal</td><td>0.6%</td></tr>
<tr><td>Belgium</td><td>0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Canary Seed crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Batory Foods</td><td>USA</td></tr>
<tr><td>Bay State Milling Company</td><td>USA</td></tr>
<tr><td>Viterra</td><td>Canada</td></tr>
<tr><td>S.A. de Alimentos Dos en Uno</td><td>Mexico</td></tr>
<tr><td>Wilmar International</td><td>Singapore</td></tr>
<tr><td>Omega Foods</td><td>Greece</td></tr>
<tr><td>Ecosana</td><td>Peru</td></tr>
<tr><td>ECO-CROP</td><td>Turkey</td></tr>
<tr><td>Comercializadora Fito Landa</td><td>Mexico</td></tr>
<tr><td>Diverse Group</td><td>USA</td></tr>
<tr><td>Backs BV</td><td>Netherlands</td></tr>
<tr><td>Health Connection Wholefoods</td><td>UK</td></tr>
<tr><td>G. & C. Export Import</td><td>Germany</td></tr>
<tr><td>Hefei Yamei International</td><td>China</td></tr>
<tr><td>Sun Impex</td><td>India</td></tr>
<tr><td>Oliyar</td><td>Ukraine</td></tr>
<tr><td>Inna-Chito International</td><td>Spain</td></tr>
<tr><td>Sun Wah Foods</td><td>Hong Kong</td></tr>
<tr><td>Gustav Heess</td><td>Germany</td></tr>
<tr><td>Phoenix Overseas</td><td>India</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Canary Seed crop Export companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Suntava</td><td>USA</td></tr>
<tr><td>CanMar Grain Products</td><td>Canada</td></tr>
<tr><td>The Canadian Grain Commission</td><td>Canada</td></tr>
<tr><td>Agrofirm Krasnodar</td><td>Russia</td></tr>
<tr><td>Terravita</td><td>Canada</td></tr>
<tr><td>CanMar Foods</td><td>Canada</td></tr>
<tr><td>Graine de Vie</td><td>France</td></tr>
<tr><td>Ranis</td><td>Germany</td></tr>
<tr><td>Fairhaven Organic Flour Mill</td><td>USA</td></tr>
<tr><td>C&M Seeds</td><td>Canada</td></tr>
<tr><td>Superior Seed Producers</td><td>USA</td></tr>
<tr><td>Purely Bulk</td><td>Canada</td></tr>
<tr><td>Delecto Foods</td><td>India</td></tr>
<tr><td>Avi Grain Products</td><td>India</td></tr>
<tr><td>AELAN Agroindustrial</td><td>Chile</td></tr>
<tr><td>A. Vogel Bioforce AG</td><td>Switzerland</td></tr>
<tr><td>FALK & Ross Group</td><td>Germany</td></tr>
<tr><td>VKP Mlini</td><td>Serbia</td></tr>
<tr><td>Agroseedex</td><td>Peru</td></tr>
<tr><td>Blue Lake Milling</td><td>Australia</td></tr>

<tr><td>Hodgson Mill</td><td>USA</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cotton Crop Current Trend</h3></div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition Benefits: Canary seeds are gaining attention for their health benefits, particularly in the form of canary seed milk (leche de alpiste). They are rich in protein, fiber, and antioxidants, making them an attractive choice for health-conscious consumers. This trend is driving increased demand for canary seeds and related products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gluten-Free Diets: With the rising prevalence of gluten intolerance and celiac disease, as well as the growing popularity of gluten-free diets for health reasons, the demand for gluten-free grains like canary seeds is on the rise. This trend is likely to boost the production and trade of canary seeds globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Canary Seeds: Consumers are increasingly concerned about the environmental impact of conventional farming practices and the use of genetically modified organisms (GMOs). As a result, there is a growing demand for organic and non-GMO canary seed products, creating new opportunities for producers and exporters.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Canary Seed Products: With growing consumer interest in canary seeds, there is potential for further diversification of canary seed-based products, such as flours, snacks, and beverages. This trend could create new opportunities for growth within the canary seed market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Volatility: The canary seed market can be influenced by various factors, such as weather conditions, global geopolitical factors, and trade disputes. These factors can lead to market volatility and affect the overall canary seed trade and prices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture: Canary seeds are a relatively low-input crop that can be grown in diverse climates and conditions. The focus on sustainable agriculture practices could make canary seeds an attractive option for both producers and consumers, driving demand for this crop.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of Production Regions: As the demand for canary seeds grows, there is potential for the expansion of production regions beyond traditional growing areas. This could lead to greater geographic diversification in the market, reducing the risk of supply disruptions due to local weather or geopolitical factors.</div>

</div>
<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Digitalization and Precision Agriculture: The adoption of digital technologies and precision agriculture practices is becoming more prevalent in the canary seed industry. These advancements can help farmers optimize inputs, increase efficiency, and reduce their environmental impact, shaping the future of canary seed production and trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Research and Development: There is a growing interest in research and development to improve canary seed varieties, focusing on aspects such as yield, disease resistance, and adaptability to various environmental conditions. These advancements can help boost canary seed production and make it more resilient to the challenges posed by climate change.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Interest in Ancient Grains: Canary seeds are part of a broader trend in the food industry toward ancient grains, which are perceived as healthier and more sustainable alternatives to modern, highly processed grains. As interest in ancient grains continues to grow, the canary seed market may benefit from this broader trend, attracting more consumers and driving increased demand.</div>

</div>
</div>


</body>
</html>


