<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cotton.jpg"),:size => "100x100" %>
         
           <h4>Cotten Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $52.4 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.7%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 83.2 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Cotton crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, cotton is vulnerable to drought, excessive moisture, and temperature extremes, which can reduce yields and quality. Pests such as bollworms, stink bugs, and aphids can also damage cotton crops, impacting both yield and quality. Additionally, diseases such as Fusarium wilt and Verticillium wilt can reduce the yield and quality of cotton.

From a strategic standpoint, the potential export opportunities for cotton can be significant for producers. Exporting cotton products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting cotton can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for cotton is expected to grow due to increasing demand for textile products, with some estimates suggesting that the global cotton market could reach over $80 billion by 2027, representing a growth of over 4% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Cotten Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td>29%</td></tr>
<tr><td>Bangladesh</td><td>13%</td></tr>
<tr><td>Vietnam</td><td>9%</td></tr>
<tr><td>Turkey</td><td>7%</td></tr>
<tr><td>Indonesia</td><td>5%</td></tr>
<tr><td>Pakistan</td><td>4%</td></tr>
<tr><td>Thailand</td><td>4%</td></tr>
<tr><td>South Korea</td><td>3%</td></tr>
<tr><td>Mexico</td><td>2%</td></tr>
<tr><td>Malaysia</td><td>2%</td></tr>
<tr><td>Italy</td><td>1%</td></tr>
<tr><td>Germany</td><td>1%</td></tr>
<tr><td>Spain</td><td>1%</td></tr>
<tr><td>Belgium</td><td>1%</td></tr>
<tr><td>Japan</td><td>1%</td></tr>
<tr><td>Poland</td><td>1%</td></tr>
<tr><td>Netherlands</td><td>1%</td></tr>
<tr><td>France</td><td>1%</td></tr>
<tr><td>Egypt</td><td>1%</td></tr>
<tr><td>Portugal</td><td>1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cotten Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA</td><td>28%</td></tr>
<tr><td>India</td><td>21%</td></tr>
<tr><td>Brazil</td><td>12%</td></tr>
<tr><td>Australia</td><td>6%</td></tr>
<tr><td>Uzbekistan</td><td>3%</td></tr>
<tr><td>Pakistan</td><td>3%</td></tr>
<tr><td>West Africa</td><td>3%</td></tr>
<tr><td>Greece</td><td>2%</td></tr>
<tr><td>Turkmenistan</td><td>2%</td></tr>
<tr><td>Turkey</td><td>2%</td></tr>
<tr><td>Benin</td><td>1%</td></tr>
<tr><td>Mali</td><td>1%</td></tr>
<tr><td>Burkina Faso</td><td>1%</td></tr>
<tr><td>Cote d'Ivoire</td><td>1%</td></tr>
<tr><td>Cameroon</td><td>1%</td></tr>
<tr><td>Tajikistan</td><td>1%</td></tr>
<tr><td>Tanzania</td><td>1%</td></tr>
<tr><td>Senegal</td><td>1%</td></tr>
<tr><td>Zambia</td><td>1%</td></tr>
<tr><td>Paraguay</td><td>1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Cotten Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India</td><td> $0.93/kg</td><td> $0.42/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Pakistan</td><td> $1.00/kg</td><td> $0.45/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Brazil</td><td> $1.05/kg</td><td> $0.48/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Uzbekistan</td><td> $1.09/kg</td><td> $0.50/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Turkey</td><td> $1.14/kg</td><td> $0.52/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Australia</td><td> $1.16/kg</td><td> $0.53/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Greece</td><td> $1.18/kg</td><td> $0.54/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>USA</td><td> $1.22/kg</td><td> $0.55/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Syria</td><td> $1.25/kg</td><td> $0.57/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Turkmenistan</td><td> $1.28/kg</td><td> $0.58/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Tanzania</td><td> $1.30/kg</td><td> $0.59/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Egypt</td><td> $1.31/kg</td><td> $0.60/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Benin</td><td> $1.33/kg</td><td> $0.61/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Burkina Faso</td><td> $1.34/kg</td><td> $0.61/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Mali</td><td> $1.36/kg</td><td> $0.62/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Zambia</td><td> $1.38/kg</td><td> $0.63/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Cameroon</td><td> $1.39/kg</td><td> $0.63/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Sudan</td><td> $1.41/kg</td><td> $0.64/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Chad</td><td> $1.44/kg</td><td> $0.65/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Nigeria</td><td> $1.46/kg</td><td> $0.67/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>

</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Cotten Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Egypt</td><td> $3.60/kg</td><td> $1.63/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Sudan</td><td> $3.24/kg</td><td> $1.47/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>USA</td><td> $2.99/kg</td><td> $1.36/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Australia</td><td> $2.94/kg</td><td> $1.33/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Greece</td><td> $2.81/kg</td><td> $1.28/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Turkey</td><td> $2.78/kg</td><td> $1.26/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Mali</td><td> $2.73/kg</td><td> $1.24/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Burkina Faso</td><td> $2.72/kg</td><td> $1.23/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Brazil</td><td> $2.65/kg</td><td> $1.20/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Tajikistan</td><td> $2.59/kg</td><td> $1.18/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Uzbekistan</td><td> $2.52/kg</td><td> $1.14/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>China</td><td> $2.47/kg</td><td> $1.12/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Pakistan</td><td> $2.42/kg</td><td> $1.10/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Turkmenistan</td><td> $2.40/kg</td><td> $1.09/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Kazakhstan</td><td> $2.34/kg</td><td> $1.06/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Tajikistan</td><td> $2.30/kg</td><td> $1.05/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Nigeria</td><td> $2.26/kg</td><td> $1.02/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Azerbaijan</td><td> $2.22/kg</td><td> $1.01/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Mali</td><td> $2.20/kg</td><td> $1.00/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>
<tr><td>Tajikistan</td><td> $2.16/kg</td><td> $0.98/lb.<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Cotten Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td>26%</td></tr>
<tr><td>India</td><td>22%</td></tr>
<tr><td>USA</td><td>8%</td></tr>
<tr><td>Pakistan</td><td>7%</td></tr>
<tr><td>Brazil</td><td>6%</td></tr>
<tr><td>Uzbekistan</td><td>3%</td></tr>
<tr><td>Turkey</td><td>3%</td></tr>
<tr><td>Australia</td><td>3%</td></tr>
<tr><td>Turkmenistan</td><td>2%</td></tr>
<tr><td>Mali</td><td>2%</td></tr>
<tr><td>Tajikistan</td><td>2%</td></tr>
<tr><td>Mexico</td><td>1%</td></tr>
<tr><td>Burkina Faso</td><td>1%</td></tr>
<tr><td>Egypt</td><td>1%</td></tr>
<tr><td>Iran</td><td>1%</td></tr>
<tr><td>Sudan</td><td>1%</td></tr>
<tr><td>Syria</td><td>1%</td></tr>
<tr><td>Tanzania</td><td>1%</td></tr>
<tr><td>Greece</td><td>1%</td></tr>
<tr><td>Argentina</td><td>1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Cotten Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>China</td><td>March - Sept</td></tr>
<tr><td>India</td><td>Jun - Oct</td></tr>
<tr><td>USA</td><td>May - Sept</td></tr>
<tr><td>Pakistan</td><td>May - August</td></tr>
<tr><td>Brazil</td><td>Nov - Apr</td></tr>
<tr><td>Uzbekistan</td><td>Apr - Sept</td></tr>
<tr><td>Turkey</td><td>Apr - Sept</td></tr>
<tr><td>Australia</td><td>Oct - Feb</td></tr>
<tr><td>Turkmenistan</td><td>May - Sept</td></tr>
<tr><td>Mali</td><td>May - Sept</td></tr>
<tr><td>Tajikistan</td><td>May - Sept</td></tr>
<tr><td>Mexico</td><td>July - Nov</td></tr>
<tr><td>Burkina Faso</td><td>May - Sept</td></tr>
<tr><td>Egypt</td><td>March - Sept</td></tr>
<tr><td>Iran</td><td>Apr - July</td></tr>
<tr><td>Sudan</td><td>Jun - Oct</td></tr>
<tr><td>Syria</td><td>Apr - Jun and Oct - Dec</td></tr>
<tr><td>Tanzania</td><td>Jun - Oct</td></tr>
<tr><td>Greece</td><td>May - Sept</td></tr>
<tr><td>Argentina</td><td>Nov - Apr</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Cotten Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td>26.7%</td></tr>
<tr><td>China </td><td>18.4%</td></tr>
<tr><td>USA </td><td>6.5%</td></tr>
<tr><td>Pakistan </td><td>6.0%</td></tr>
<tr><td>Brazil </td><td>5.2%</td></tr>
<tr><td>Uzbekistan </td><td>3.1%</td></tr>
<tr><td>Turkey </td><td>2.8%</td></tr>
<tr><td>Australia </td><td>2.5%</td></tr>
<tr><td>Turkmenistan </td><td>2.1%</td></tr>
<tr><td>Mali </td><td>1.7%</td></tr>
<tr><td>Greece </td><td>1.5%</td></tr>
<tr><td>Argentina </td><td>1.4%</td></tr>
<tr><td>Syria </td><td>1.3%</td></tr>
<tr><td>Egypt </td><td>1.3%</td></tr>
<tr><td>Mexico </td><td>1.2%</td></tr>
<tr><td>Sudan </td><td>1.2%</td></tr>
<tr><td>Burkina Faso </td><td>1.1%</td></tr>
<tr><td>Tajikistan </td><td>1.1%</td></tr>
<tr><td>Iran </td><td>1.0%</td></tr>
<tr><td>Zimbabwe </td><td>0.9%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Cotten Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iceland </td><td>0%</td></tr>
<tr><td>Greenland </td><td>0%</td></tr>
<tr><td>Liechtenstein </td><td>0%</td></tr>
<tr><td>Monaco </td><td>0%</td></tr>
<tr><td>San Marino </td><td>0%</td></tr>
<tr><td>Andorra </td><td>0%</td></tr>
<tr><td>Vatican City </td><td>0%</td></tr>
<tr><td>Bhutan </td><td>0%</td></tr>
<tr><td>Brunei </td><td>0%</td></tr>
<tr><td>East Timor </td><td>0%</td></tr>
<tr><td>Maldives </td><td>0%</td></tr>
<tr><td>Marshall Islands </td><td>0%</td></tr>
<tr><td>Nauru </td><td>0%</td></tr>
<tr><td>Palau </td><td>0%</td></tr>
<tr><td>Samoa </td><td>0%</td></tr>
<tr><td>Solomon Islands </td><td>0%</td></tr>
<tr><td>Tonga </td><td>0%</td></tr>
<tr><td>Tuvalu </td><td>0%</td></tr>
<tr><td>Vanuatu </td><td>0%</td></tr>
<tr><td>Western Sahara </td><td>0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cotten Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td>34.0%</td><tr>
<tr><td>India </td><td>23.0%</td><tr>
<tr><td>Bangladesh </td><td>6.5%</td><tr>
<tr><td>Pakistan </td><td>6.0%</td><tr>
<tr><td>Turkey </td><td>3.0%</td><tr>
<tr><td>Vietnam </td><td>2.9%</td><tr>
<tr><td>Indonesia </td><td>2.4%</td><tr>
<tr><td>Thailand </td><td>2.3%</td><tr>
<tr><td>South Korea </td><td>2.2%</td><tr>
<tr><td>Brazil </td><td>2.0%</td><tr>
<tr><td>Mexico </td><td>1.7%</td><tr>
<tr><td>Egypt </td><td>1.5%</td><tr>
<tr><td>Uzbekistan </td><td>1.5%</td><tr>
<tr><td>Japan </td><td>1.4%</td><tr>
<tr><td>Iran </td><td>1.3%</td><tr>
<tr><td>Malaysia </td><td>1.2%</td><tr>
<tr><td>USA </td><td>1.2%</td><tr>
<tr><td>Germany </td><td>1.1%</td><tr>
<tr><td>Italy </td><td>1.1%</td><tr>
<tr><td>France </td><td>1.0%</td><tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Cotten crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International lmd </td><td>Singapore</td></tr>
<tr><td>Cargill, Inc. </td><td>USA</td></tr>
<tr><td>Louis Dreyfus </td><td>Netherlands</td></tr>
<tr><td>Aditya Birla Group </td><td>India</td></tr>
<tr><td>Itochu Corporation </td><td>Japan</td></tr>
<tr><td>Sinochem Group </td><td>China</td></tr>
<tr><td>Ecom Agroin Corp Limd </td><td>Switzerland</td></tr>
<tr><td>Mitsui & Co, Ltd. </td><td>Japan</td></tr>
<tr><td>Noble Group </td><td>Hong Kong</td></tr>
<tr><td>Amaggi </td><td>Brazil</td></tr>
<tr><td>Plexus Cotton </td><td>USA</td></tr>
<tr><td>Dunavant Enterprises </td><td>USA</td></tr>
<tr><td>Paul Reinhart, Inc. </td><td>USA</td></tr>
<tr><td>Allenberg Cotton Co. </td><td>USA</td></tr>
<tr><td>Starcom Cotton Services </td><td>USA</td></tr>
<tr><td>Plains Cotton Cooperative  </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company LLC </td><td>USA</td></tr>
<tr><td>ECOM USA </td><td>USA</td></tr>
<tr><td>Staple Cotton Cooperative  </td><td>USA</td></tr>
<tr><td>Farmers Cooperative Compress </td><td>USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel col-md-4 w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Cotten crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cotton Corporation of India Limited </td><td>India</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Sateri Holdings Limited </td><td>China</td></tr>
<tr><td>Welspun India Limited </td><td>India</td></tr>
<tr><td>Vardhman Textiles Limited </td><td>India</td></tr>
<tr><td>Weiqiao Textile Company Limited </td><td>China</td></tr>
<tr><td>Xinjiang Production and Construction Corps (XPCC) </td><td>China</td></tr>
<tr><td>Indo Count Industries Limited </td><td>India</td></tr>
<tr><td>Nishat Mills Limited </td><td>Pakistan</td></tr>
<tr><td>KPR Mill Limited </td><td>India</td></tr>
<tr><td>Pacific Textiles Holdings Limited </td><td>Hong Kong</td></tr>
<tr><td>Shandong Ruyi Technology Group Co. Ltd. </td><td>China</td></tr>
<tr><td>Asutex </td><td>Spain</td></tr>
<tr><td>Daewoo International Corporation </td><td>South Korea</td></tr>
<tr><td>China National Cotton Group Corporation </td><td>China</td></tr>
<tr><td>Loyal Textile Mills Limited </td><td>India</td></tr>
<tr><td>The Rajlakshmi Cotton Mills Private Limited </td><td>India</td></tr>
<tr><td>Luthai Textile Co., Ltd. </td><td>China</td></tr>
<tr><td>Gujarat Ambuja Exports Limited </td><td>India</td></tr>
<tr><td>Nisshinbo Holdings Inc. </td><td>Japan</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cotton Crop Current Trend</h3></div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability and Environmental Concerns: With growing concerns about the environmental impact of conventional cotton farming practices, there is an increasing demand for sustainably produced and organic cotton. This trend is driving the adoption of eco-friendly farming practices, such as reduced water and pesticide usage, and creating new opportunities for sustainable cotton producers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Biotechnology and Genetically Modified Cotton: The use of biotechnology in cotton production has led to the development of genetically modified (GM) cotton varieties that offer improved resistance to pests, diseases, and drought conditions. This technology has the potential to increase cotton yield and reduce the use of chemical inputs, but it also raises concerns about the environmental and health implications of GM crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Digitalization and Precision Agriculture: The adoption of digital technologies and precision agriculture practices is becoming more prevalent in the cotton industry. These advancements help farmers optimize inputs, increase efficiency, and reduce their environmental impact, shaping the future of cotton production and trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Volatility: The cotton market can be influenced by various factors, such as weather conditions, global geopolitical factors, and trade disputes. These factors can lead to market volatility and affect the overall cotton trade and prices</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Demand for High-Quality Cotton: There is an increasing demand for high-quality cotton fibers, particularly for use in premium clothing and textile products. This trend is likely to encourage producers to focus on improving the quality of their cotton crops and create new opportunities for high-quality cotton exporters.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Slow Fashion and Eco-Friendly Textiles: As consumers become more environmentally conscious, there is a growing interest in slow fashion and eco-friendly textiles. This trend is driving the demand for sustainable and ethically produced cotton, as well as alternative fibers like organic cotton, recycled cotton, and other plant-based materials.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Fair Trade and Social Responsibility: Consumers are increasingly concerned about the working conditions and fair treatment of farmers and laborers in the cotton supply chain. This concern has led to greater demand for Fair Trade certified cotton, which ensures that producers receive a fair price for their products and adhere to social and environmental standards. This trend may encourage more cotton producers to adopt Fair Trade practices and increase transparency in the cotton supply chain.</div>

</div>
<div class="w3-container w3-col m16 w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">Cotton Substitutes and Competition: The cotton industry faces competition from synthetic fibers and alternative natural fibers, such as hemp and bamboo. These substitutes are gaining popularity due to their environmental and performance benefits, which may impact the demand for traditional cotton.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Circular Economy and Textile Recycling: As awareness of the environmental impact of textile waste grows, the concept of a circular economy is gaining traction in the cotton industry. This trend encourages the recycling and repurposing of cotton products, reducing waste and conserving resources. It also drives demand for recycled cotton, which can be used to create new textiles and garments.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to the cotton industry, as extreme weather events and changing weather patterns can impact cotton production. This trend is driving research and development efforts to create cotton varieties that are more resistant to drought, pests, and diseases, as well as farming practices that are better suited to changing climate conditions.</div>




</div>
</div>



</body>
</html>

