<!DOCTYPE html>
<html>
<head>
<title>eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("fonio.jpg"),:size => "100x100" %>
         
           <h4>Fonio Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $107 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 100,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Fonio crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, fonio is a drought-resistant crop that can tolerate low soil fertility, but excessive rainfall can damage the crop. Pests such as grasshoppers, crickets, and termites can also damage fonio crops, impacting both yield and quality. Additionally, diseases such as leaf blight and smut can reduce the yield and quality of fonio.

From a strategic standpoint, the potential export opportunities for fonio can be significant for producers. Exporting fonio products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting fonio can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for fonio is expected to grow due to increasing demand for healthy and sustainable food options, with some estimates suggesting that the global fonio market could reach over $1 billion by 2025, representing a growth of over 4% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Fonio Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 36.4%</td></tr>
<tr><td>Benin </td><td> 18.5%</td></tr>
<tr><td>Togo </td><td> 16.3%</td></tr>
<tr><td>Mali </td><td> 12.9%</td></tr>
<tr><td>Burkina Faso </td><td> 8.7%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 1.8%</td></tr>
<tr><td>Senegal </td><td> 1.7%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>United States </td><td> 0.5%</td></tr>
<tr><td>Ghana </td><td> 0.3%</td></tr>
<tr><td>United Kingdom </td><td> 0.3%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Netherlands </td><td> 0.2%</td></tr>
<tr><td>Italy </td><td> 0.2%</td></tr>
<tr><td>China </td><td> 0.2%</td></tr>
<tr><td>Japan </td><td> 0.1%</td></tr>
<tr><td>Belgium </td><td> 0.1%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>Switzerland </td><td> 0.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Fonio Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mali </td><td> 63.4%</td></tr>
<tr><td>Burkina Faso </td><td> 14.4%</td></tr>
<tr><td>Guinea </td><td> 4.2%</td></tr>
<tr><td>Niger </td><td> 2.7%</td></tr>
<tr><td>Senegal </td><td> 2.4%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 1.7%</td></tr>
<tr><td>Nigeria </td><td> 1.5%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>Ghana </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.6%</td></tr>
<tr><td>United States </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>United Kingdom </td><td> 0.3%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Italy </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Netherlands </td><td> 0.1%</td></tr>
<tr><td>Japan </td><td> 0.1%</td></tr>
<tr><td>Switzerland </td><td> 0.1%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Fonio Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Senegal </td><td> $1.50/kg</td><td> $0.68/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Mali </td><td> $1.60/kg</td><td> $0.73/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Guinea </td><td> $1.70/kg</td><td> $0.77/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Burkina Faso </td><td> $1.80/kg</td><td> $0.82/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Gambia </td><td> $1.90/kg</td><td> $0.86/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Togo </td><td> $2.00/kg</td><td> $0.91/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Benin </td><td> $2.10/kg</td><td> $0.95/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $2.20/kg</td><td> $1.00/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Cameroon </td><td> $2.30/kg</td><td> $1.05/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Niger </td><td> $2.40/kg</td><td> $1.09/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $2.50/kg</td><td> $1.14/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ivory Coast </td><td> $2.60/kg</td><td> $1.18/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $2.70/kg</td><td> $1.23/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $2.80/kg</td><td> $1.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $2.90/kg</td><td> $1.32/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $3.00/kg</td><td> $1.36/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Rwanda </td><td> $3.10/kg</td><td> $1.41/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Mozambique </td><td> $3.20/kg</td><td> $1.45/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Zimbabwe </td><td> $3.30/kg</td><td> $1.50/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Malawi </td><td> $3.40/kg</td><td> $1.55/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>

</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Fonio Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States </td><td> $18.00/kg</td><td> $8.18/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> $17.00/kg</td><td> $7.73/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $16.00/kg</td><td> $7.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $15.00/kg</td><td> $6.82/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $14.00/kg</td><td> $6.36/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $13.00/kg</td><td> $5.91/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $12.00/kg</td><td> $5.45/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $11.00/kg</td><td> $5.00/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $10.00/kg</td><td> $4.55/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $9.00/kg</td><td> $4.09/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $8.50/kg</td><td> $3.86/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $8.00/kg</td><td> $3.64/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $7.50/kg</td><td> $3.41/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $7.00/kg</td><td> $3.18/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $6.50/kg</td><td> $2.95/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $6.00/kg</td><td> $2.73/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $5.50/kg</td><td> $2.50/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $5.00/kg</td><td> $2.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.50/kg</td><td> $2.05/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $4.00/kg</td><td> $1.82/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Fonio Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Guinea </td><td> 24.9%</td></tr>
<tr><td>Mali </td><td> 24.3%</td></tr>
<tr><td>Burkina Faso </td><td> 16.2%</td></tr>
<tr><td>Nigeria </td><td> 8.9%</td></tr>
<tr><td>Sierra Leone </td><td> 5.5%</td></tr>
<tr><td>Senegal </td><td> 5.1%</td></tr>
<tr><td>Benin </td><td> 3.6%</td></tr>
<tr><td>Togo </td><td> 2.9%</td></tr>
<tr><td>Ivory Coast </td><td> 2.6%</td></tr>
<tr><td>Gambia </td><td> 1.7%</td></tr>
<tr><td>Ghana </td><td> 1.7%</td></tr>
<tr><td>Liberia </td><td> 1.1%</td></tr>
<tr><td>Niger </td><td> 0.8%</td></tr>
<tr><td>Cameroon </td><td> 0.4%</td></tr>
<tr><td>Chad </td><td> 0.4%</td></tr>
<tr><td>Ethiopia </td><td> 0.4%</td></tr>
<tr><td>Mauritania </td><td> 0.4%</td></tr>
<tr><td>Sudan </td><td> 0.4%</td></tr>
<tr><td>Uganda </td><td> 0.4%</td></tr>
<tr><td>Central African Republic</td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Fonio Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Senegal </td><td> June - September</td></tr>
<tr><td>Mali </td><td> July - October </td></tr>
<tr><td>Guinea </td><td> May - August </td></tr>
<tr><td>Burkina Faso </td><td> July - October </td></tr>
<tr><td>Nigeria </td><td> May - August</td></tr>
<tr><td>Togo </td><td> May - August </td></tr>
<tr><td>Ghana </td><td> June - September </td></tr>
<tr><td>Benin </td><td> May - August </td></tr>
<tr><td>Ivory Coast </td><td> June - September</td></tr>
<tr><td>Niger </td><td> June - September </td></tr>
<tr><td>Cameroon </td><td> May - August </td></tr>
<tr><td>Chad </td><td> July - October </td></tr>
<tr><td>Gambia </td><td> May - August </td></tr>
<tr><td>Sierra Leone </td><td> June - September </td></tr>
<tr><td>Central African Republic </td><td> July - October </td></tr>
<tr><td>Liberia </td><td> June - September</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Fonio Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mali </td><td> 49%</td></tr>
<tr><td>Burkina Faso </td><td> 24%</td></tr>
<tr><td>Guinea </td><td> 6%</td></tr>
<tr><td>Senegal </td><td> 6%</td></tr>
<tr><td>Nigeria </td><td> 3%</td></tr>
<tr><td>Côte d'Ivoire </td><td> 3%</td></tr>
<tr><td>Ghana </td><td> 2%</td></tr>
<tr><td>Togo </td><td> 1%</td></tr>
<tr><td>Benin </td><td> 1%</td></tr>
<tr><td>Sierra Leone </td><td> 1%</td></tr>
<tr><td>Gambia </td><td> 0.5%</td></tr>
<tr><td>Niger </td><td> 0.4%</td></tr>
<tr><td>Cameroon </td><td> 0.2%</td></tr>
<tr><td>Liberia </td><td> 0.1%</td></tr>
<tr><td>Mauritania </td><td> 0.1%</td></tr>
<tr><td>Chad </td><td> 0.1%</td></tr>
<tr><td>Central African Republic </td><td> 0.1%</td></tr>
<tr><td>Congo </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Fonio Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>North America </td><td> 0.002%</td></tr>
<tr><td>Europe </td><td> 0.002%</td></tr>
<tr><td>Asia </td><td> 0.002%</td></tr>
<tr><td>Oceania </td><td> 0.001%</td></tr>
<tr><td>South America </td><td> 0.001%</td></tr>
<tr><td>Middle East </td><td> 0.001%</td></tr>
<tr><td>Russia </td><td> 0.001%</td></tr>
<tr><td>South Africa </td><td> 0.0007%</td></tr>
<tr><td>Mexico </td><td> 0.0005%</td></tr>
<tr><td>Australia </td><td> 0.0005%</td></tr>
<tr><td>Brazil </td><td> 0.0004%</td></tr>
<tr><td>Argentina </td><td> 0.0003%</td></tr>
<tr><td>Indonesia </td><td> 0.0003%</td></tr>
<tr><td>Ukraine </td><td> 0.0003%</td></tr>
<tr><td>Egypt </td><td> 0.0003%</td></tr>
<tr><td>Pakistan </td><td> 0.0002%</td></tr>
<tr><td>Kazakhstan </td><td> 0.0002%</td></tr>
<tr><td>Colombia </td><td> 0.0002%</td></tr>
<tr><td>Iran </td><td> 0.0002%</td></tr>
<tr><td>Turkey </td><td> 0.0002%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Fonio Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mali </td><td> 48%</td></tr>
<tr><td>Burkina Faso </td><td> 23%</td></tr>
<tr><td>Guinea </td><td> 7%</td></tr>
<tr><td>Senegal </td><td> 6%</td></tr>
<tr><td>Nigeria </td><td> 3%</td></tr>
<tr><td>Côte d'Ivoire </td><td> 3%</td></tr>
<tr><td>Ghana </td><td> 2%</td></tr>
<tr><td>Togo </td><td> 1%</td></tr>
<tr><td>Benin </td><td> 1%</td></tr>
<tr><td>Sierra Leone </td><td> 1%</td></tr>
<tr><td>Gambia </td><td> 0.5%</td></tr>
<tr><td>Niger </td><td> 0.4%</td></tr>
<tr><td>Cameroon </td><td> 0.2%</td></tr>
<tr><td>Liberia </td><td> 0.1%</td></tr>
<tr><td>Mauritania </td><td> 0.1%</td></tr>
<tr><td>Chad </td><td> 0.1%</td></tr>
<tr><td>Central African Republic </td><td> 0.1%</td></tr>
<tr><td>Congo </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Fonio crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Ethical Foods</td><td>USA</td></tr>
<tr><td>New Roots Cooperative Farm</td><td>USA</td></tr>
<tr><td>The Grain Collective</td><td>USA</td></tr>
<tr><td>The Grain Shed</td><td>USA</td></tr>
<tr><td>Terra Ingredients</td><td>USA</td></tr>
<tr><td>Le Bon Grain</td><td>France</td></tr>
<tr><td>Salinen Austria AG</td><td>Austria</td></tr>
<tr><td>Orkla Foods Norge</td><td>Norway</td></tr>
<tr><td>Biofarm</td><td>Italy</td></tr>
<tr><td>Wessanen</td><td>Netherlands</td></tr>
<tr><td>Birkamidon </td><td>Germany</td></tr>
<tr><td>BATA Food</td><td>Switzerland</td></tr>
<tr><td>Riviana Foods</td><td>Australia</td></tr>
<tr><td>Ameur Graines</td><td>Morocco</td></tr>
<tr><td>AGT Food and Ingredients</td><td>Canada</td></tr>
<tr><td>Simatech Shipping</td><td>Dubai</td></tr>
<tr><td>Essentia Group</td><td>South Africa</td></tr>
<tr><td>Global Superfoods</td><td>Canada</td></tr>
<tr><td>Shri Bankey Bihari Ji Dall</td><td>India</td></tr>
<tr><td>Al Rifai Roastery</td><td>Lebanon</td></tr>

</table>
</div>
</div>




<div class="w3-row">
<div class="w3-container w3-panel col-md-4 w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Fonio crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Yolélé Foods</td><td>USA</td></tr>
<tr><td>La Maison du Fonio</td><td>France</td></tr>
<tr><td>Société Céréalière du Mali</td><td>Mali</td></tr>
<tr><td>Star Microfoods</td><td>India</td></tr>
<tr><td>Nafaso</td><td>Burkina Faso</td></tr>
<tr><td>Africa Organics</td><td>South Africa</td></tr>
<tr><td>The African Rice Company</td><td>USA</td></tr>
<tr><td>Fonio Pilgrims</td><td>Nigeria</td></tr>
<tr><td>FONIOCO</td><td>Senegal</td></tr>
<tr><td>Glo Foods</td><td>Nigeria</td></tr>
<tr><td>Dounia Féminine</td><td>Senegal</td></tr>
<tr><td>Cérélia Afrique</td><td>Senegal</td></tr>
<tr><td>Société de Transfert de Technologies</td><td>Mali</td></tr>
<tr><td>Berhan Grains</td><td>Ethiopia</td></tr>
<tr><td>Essential Trading Cooperative</td><td>UK</td></tr>
<tr><td>Agro Ouvrié</td><td>Togo</td></tr>
<tr><td>Kalimba Farms</td><td>Kenya</td></tr>
<tr><td>Nioko Bok</td><td>Mali</td></tr>
<tr><td>Grand-Mère Minotière</td><td>Canada</td></tr>
<tr><td>Sosei Foods</td><td>Japan</td></tr>

</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Fonio Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition Benefits: Fonio, a small-grain cereal from West Africa, is gaining popularity due to its rich nutritional profile. It is gluten-free, high in fiber, and contains essential amino acids, vitamins, and minerals. This trend is driving increased demand for Fonio and Fonio-based products, particularly among health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gluten-Free Diets: With the rising prevalence of gluten intolerance and celiac disease, as well as the growing popularity of gluten-free diets for health reasons, the demand for gluten-free grains like Fonio is on the rise. This trend is likely to boost the production and trade of Fonio globally.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Ancient Grains Revival: Fonio is part of a broader trend in the food industry toward ancient grains, which are perceived as healthier and more sustainable alternatives to modern, highly processed grains. As interest in ancient grains continues to grow, the Fonio market may benefit from this broader trend, attracting more consumers and driving increased demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture: Fonio is considered a sustainable crop, as it can grow in poor or marginal soils and has a relatively low water requirement. This focus on sustainability can make Fonio an attractive option for both producers and consumers, driving demand for this crop.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Expansion and Export Potential: As awareness of Fonio's nutritional benefits grows, there is potential for the expansion of the Fonio market beyond its traditional growing regions in West Africa. This could create new opportunities for producers and exporters, as well as contribute to the development of a more diversified global food system.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Research and Development: There is a growing interest in research and development to improve Fonio varieties, focusing on aspects such as yield, disease resistance, and adaptability to various environmental conditions. These advancements can help boost Fonio production and make it more resilient to the challenges posed by climate change.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Fonio Products: With growing consumer interest in Fonio, there is potential for further diversification of Fonio-based products, such as flours, snacks, and beverages. This trend could create new opportunities for growth within the Fonio market.</div>

</div>
<div class="w3-container w3-col m16 w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">Food Security and Climate Resilience: As climate change continues to pose challenges to global food security, the cultivation of resilient and drought-tolerant crops like Fonio is becoming increasingly important. Fonio's ability to thrive in harsh conditions with minimal inputs makes it a valuable crop for ensuring food security in vulnerable regions, particularly in West Africa.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Fair Trade and Ethical Sourcing: With increasing consumer interest in the ethical sourcing of food products, there is potential for the development of fair trade and ethically certified Fonio. This trend may encourage more Fonio producers to adopt fair trade practices, ensuring that farmers receive a fair price for their products and adhere to social and environmental standards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Demand for Plant-Based Protein: As the demand for plant-based protein sources grows, Fonio's high protein content and essential amino acid profile make it an attractive option for consumers seeking alternatives to animal protein. This trend could further increase demand for Fonio and contribute to the development of new Fonio-based protein products.</div>

<div>
</div>


</body>
</html>





