<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>

</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>

<body id="myPage">

<div class="sign-up-fluid w3-container w3-content" style="max-width:1400px;margin-top:40px"> 

<div class="col-md-12 col-sm-12 w3-light-grey">
<div class="row">

<h4 class="w3-center w3-text-red"><b><%=@homes.count%><b></h4>
<div class="w3-panel w3-card w3-responsive">
<%@homes.each do |home|%>
<div class="col-md-4 col-sm-4">
<div class="w3-panel w3-card w3-responsive">
<div class="w3-container w3-padding">
<p><%=home.name%></p>
<p><%=home.email%></p>
<p><%=home.country%></p>
<p><%=home.Phone_number%></p>
<p><%=home.message%></p>
</div>
</div>
</div>
<%end%>
</div>
</div>
</div>

</div>

</body>
</html>
