<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("corn.jpg"),:size => "100x100" %>
         
           <h4>Maize Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $323.98 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 192 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Maize crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, maize is vulnerable to drought, excessive moisture, and temperature extremes, which can reduce yields and quality. Pests such as fall armyworm, stem borer, and corn earworm can also damage maize crops, impacting both yield and quality. Additionally, diseases such as Northern corn leaf blight and southern rust can reduce the yield and quality of maize.

From a strategic standpoint, the potential export opportunities for maize can be significant for producers. Exporting maize products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting maize can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for maize is expected to grow due to increasing demand for animal feed and biofuels, with some estimates suggesting that the global maize market could reach over $265 billion by 2027, representing a growth of over 3% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Maize Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 25.3%</td></tr>
<tr><td>Mexico </td><td> 9.1%</td></tr>
<tr><td>Japan </td><td> 6.2%</td></tr>
<tr><td>South Korea </td><td> 4.8%</td></tr>
<tr><td>Spain </td><td> 4.2%</td></tr>
<tr><td>Colombia </td><td> 3.8%</td></tr>
<tr><td>Taiwan </td><td> 3.7%</td></tr>
<tr><td>Egypt </td><td> 3.6%</td></tr>
<tr><td>Vietnam </td><td> 3.4%</td></tr>
<tr><td>Netherlands </td><td> 2.5%</td></tr>
<tr><td>Italy </td><td> 2.5%</td></tr>
<tr><td>Iran </td><td> 2.4%</td></tr>
<tr><td>Malaysia </td><td> 2.4%</td></tr>
<tr><td>Saudi Arabia </td><td> 2.1%</td></tr>
<tr><td>Thailand </td><td> 1.9%</td></tr>
<tr><td>United Kingdom </td><td> 1.8%</td></tr>
<tr><td>Turkey </td><td> 1.7%</td></tr>
<tr><td>Germany </td><td> 1.7%</td></tr>
<tr><td>Algeria </td><td> 1.6%</td></tr>
<tr><td>Belgium </td><td> 1.5%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Maize Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 31.9%</td></tr>
<tr><td>Brazil </td><td> 19.8%</td></tr>
<tr><td>Argentina </td><td> 18.7%</td></tr>
<tr><td>Ukraine </td><td> 7.2%</td></tr>
<tr><td>Russia </td><td> 3.3%</td></tr>
<tr><td>South Africa </td><td> 2.3%</td></tr>
<tr><td>Canada </td><td> 2.2%</td></tr>
<tr><td>France </td><td> 1.7%</td></tr>
<tr><td>Serbia </td><td> 1.5%</td></tr>
<tr><td>Hungary </td><td> 1.2%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Bulgaria </td><td> 1.0%</td></tr>
<tr><td>Paraguay </td><td> 0.9%</td></tr>
<tr><td>India </td><td> 0.8%</td></tr>
<tr><td>Mexico </td><td> 0.7%</td></tr>
<tr><td>Croatia </td><td> 0.7%</td></tr>
<tr><td>Belarus </td><td> 0.6%</td></tr>
<tr><td>Slovenia </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Moldova </td><td> 0.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Maize Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Zambia </td><td> $0.13/kg </td><td> £0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $0.16/kg </td><td> £0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Zimbabwe </td><td> $0.18/kg </td><td> £0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $0.19/kg </td><td> £0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Malawi </td><td> $0.19/kg </td><td> £0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $0.20/kg </td><td> £0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.20/kg </td><td> £0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.21/kg </td><td> £0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $0.21/kg </td><td> £0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.22/kg </td><td> £0.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.23/kg </td><td> £0.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.24/kg </td><td> £0.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.24/kg </td><td> £0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.24/kg </td><td> £0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.25/kg </td><td> £0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.26/kg </td><td> £0.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.27/kg </td><td> £0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Paraguay </td><td> $0.27/kg </td><td> £0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $0.28/kg </td><td> £0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.31/kg </td><td> £0.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Maize Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $0.69/kg </td><td> £0.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $0.68/kg </td><td> £0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $0.57/kg </td><td> £0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $0.56/kg </td><td> £0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.55/kg </td><td> £0.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $0.54/kg </td><td> £0.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $0.53/kg </td><td> £0.38/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> $0.52/kg </td><td> £0.38/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.51/kg </td><td> £0.37/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $0.50/kg </td><td> £0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $0.48/kg </td><td> £0.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Jordan </td><td> $0.47/kg </td><td> £0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $0.46/kg </td><td> £0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $0.45/kg </td><td> £0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $0.44/kg </td><td> £0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $0.43/kg </td><td> £0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $0.42/kg </td><td> £0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $0.41/kg </td><td> £0.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $0.40/kg </td><td> £0.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $0.39/kg </td><td> £0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Maize Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 34.5%</td></tr>
<tr><td>China </td><td> 21.3%</td></tr>
<tr><td>Brazil </td><td> 9.5%</td></tr>
<tr><td>Argentina </td><td> 4.9%</td></tr>
<tr><td>India </td><td> 2.8%</td></tr>
<tr><td>Ukraine </td><td> 2.7%</td></tr>
<tr><td>Indonesia </td><td> 2.5%</td></tr>
<tr><td>Mexico </td><td> 2.3%</td></tr>
<tr><td>South Africa </td><td> 1.8%</td></tr>
<tr><td>Russia </td><td> 1.8%</td></tr>
<tr><td>France </td><td> 1.7%</td></tr>
<tr><td>Canada </td><td> 1.5%</td></tr>
<tr><td>Turkey </td><td> 1.4%</td></tr>
<tr><td>Nigeria </td><td> 1.3%</td></tr>
<tr><td>Italy </td><td> 1.2%</td></tr>
<tr><td>Vietnam </td><td> 1.1%</td></tr>
<tr><td>Philippines </td><td> 1.1%</td></tr>
<tr><td>Spain </td><td> 1.0%</td></tr>
<tr><td>Thailand </td><td> 0.9%</td></tr>
<tr><td>Ethiopia </td><td> 0.8%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Maize Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States</td><td>May to September</td></tr>
<tr><td>China</td><td>April to October</td></tr>
<tr><td>Brazil</td><td>September to April</td></tr>
<tr><td>Argentina</td><td>October to March</td></tr>
<tr><td>India</td><td>July to October</td></tr>
<tr><td>Mexico</td><td>June to October</td></tr>
<tr><td>Indonesia</td><td>September to December</td></tr>
<tr><td>Ukraine</td><td>April to October</td></tr>
<tr><td>South Africa</td><td>October to April</td></tr>
<tr><td>Russia</td><td>May to September</td></tr>
<tr><td>Nigeria</td><td>March to August</td></tr>
<tr><td>Turkey</td><td>May to September</td></tr>
<tr><td>Tanzania</td><td>December to March</td></tr>
<tr><td>Ethiopia</td><td>June to September</td></tr>
<tr><td>Colombia</td><td>April to June, and August</td></tr>
<tr><td>France</td><td>March to August</td></tr>
<tr><td>Kenya</td><td>March to May, and October</td></tr>
<tr><td>Canada</td><td>May to September</td></tr>
<tr><td>Italy</td><td>May to September</td></tr>
<tr><td>Spain</td><td>April to October</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Maize Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>	United States	</td><td>34.1%</td></tr>
<tr><td>	China	</td><td>26.5%</td></tr>
<tr><td>	Brazil	</td><td>7.3%</td></tr>
<tr><td>	Argentina	</td><td>3.5%</td></tr>
<tr><td>	India	</td><td>3.3%</td></tr>
<tr><td>	Mexico	</td><td>3.0%</td></tr>
<tr><td>	Ukraine	</td><td>2.7%</td></tr>
<tr><td>	Indonesia	</td><td>2.2%</td></tr>
<tr><td>	South Africa	</td><td>1.7%</td></tr>
<tr><td>	Russia	</td><td>1.5%</td></tr>
<tr><td>	Nigeria	</td><td>1.4%</td></tr>
<tr><td>	Turkey	</td><td>1.4%</td></tr>
<tr><td>	Tanzania	</td><td>1.3%</td></tr>
<tr><td>	Ethiopia	</td><td>1.2%</td></tr>
<tr><td>	Colombia	</td><td>1.1%</td></tr>
<tr><td>	France	</td><td>1.0%</td></tr>
<tr><td>	Kenya	</td><td>0.9%</td></tr>
<tr><td>	Canada	</td><td>0.8%</td></tr>
<tr><td>	Italy	</td><td>0.8%</td></tr>
<tr><td>	Spain	</td><td>0.8%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Maize Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>	Japan</td><td>0.4%</td></tr>
<tr><td>	Chile	</td><td>0.3%</td></tr>
<tr><td>	Philippines	</td><td>0.2%</td></tr>
<tr><td>	Thailand	</td><td>0.2%</td></tr>
<tr><td>	Egypt	</td><td>0.2%</td></tr>
<tr><td>	Peru	</td><td>0.2%</td></tr>
<tr><td>	South Korea	</td><td>0.2%</td></tr>
<tr><td>	Myanmar/Burma	</td><td>0.1%</td></tr>
<tr><td>	Pakistan	</td><td>0.1%</td></tr>
<tr><td>	Vietnam	</td><td>0.1%</td></tr>
<tr><td>	Australia	</td><td>0.1%</td></tr>
<tr><td>	Sudan	</td><td>0.1%</td></tr>
<tr><td>	Uzbekistan	</td><td>0.1%</td></tr>
<tr><td>	Bangladesh	</td><td>0.1%</td></tr>
<tr><td>	Iran	</td><td>0.1%</td></tr>
<tr><td>	Kazakhstan	</td><td>0.1%</td></tr>
<tr><td>	Mozambique	</td><td>0.1%</td></tr>
<tr><td>	Zimbabwe	</td><td>0.1%</td></tr>
<tr><td>	Mali	</td><td>0.1%</td></tr>
<tr><td>	Burkina Faso</td><td>0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Maize Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>	China</td>	<td>	26.3%</td></tr>
<tr><td>	United States</td>	<td>23.4%</td></tr>
<tr><td>	Brazil</td>	<td>5.5%</td></tr>
<tr><td>	Mexico</td>	<td>4.0%</td></tr>
<tr><td>	Indonesia</td>	<td>3.3%</td></tr>
<tr><td>	Argentina</td>	<td>3.1%</td></tr>
<tr><td>	India</td>	<td>2.9%</td></tr>
<tr><td>	South Africa</td>	<td>2.2%</td></tr>
<tr><td>	EU</td>	<td>1.9%</td></tr>
<tr><td>	Ukraine</td>	<td>1.9%</td></tr>
<tr><td>	Canada</td>	<td>1.6%</td></tr>
<tr><td>	Egypt</td>	<td>1.6%</td></tr>
<tr><td>	Vietnam</td>	<td>1.5%</td></tr>
<tr><td>	Russia</td>	<td>1.3%</td></tr>
<tr><td>	Japan</td>	<td>1.2%</td></tr>
<tr><td>	Iran</td>	<td>1.1%</td></tr>
<tr><td>	South Korea</td>	<td>1.0%</td></tr>
<tr><td>	Colombia</td>	<td>0.9%</td></tr>
<tr><td>	Turkey</td>	<td>0.9%</td></tr>
<tr><td>	Nigeria</td>	<td>0.8%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Maize crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Archer Daniels Midland </td><td>USA</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Cargill </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>COFCO International </td><td>China</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>Dreyfus Commodities </td><td>Switzerland</td></tr>
<tr><td>Glencore Agriculture </td><td>Switzerland</td></tr>
<tr><td>Sodrugestvo Group </td><td>Switzerland</td></tr>
<tr><td>Noble Group </td><td>Hong Kong</td></tr>
<tr><td>Phoenix Commodities Ltd. </td><td>India</td></tr>
<tr><td>Agrocorp International Pte Ltd. </td><td>Singapore</td></tr>
<tr><td>Al Ghurair Resources LLC </td><td>UAE</td></tr>
<tr><td>Ameropa AG </td><td>Switzerland</td></tr>
<tr><td>GrainCorp Limited </td><td>Australia</td></tr>
<tr><td>C. Steinweg Group </td><td>Netherlands</td></tr>
<tr><td>J&J Group </td><td>China</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Toepfer International GmbH </td><td>Germany</td></tr>
<tr><td>Starcom Commodities DMCC </td><td>UAE</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel col-md-4 w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Maize crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cargill </td><td>USA</td></tr>
<tr><td>ADM </td><td>USA</td></tr>
<tr><td>Bunge </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>COFCO International </td><td>China</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>Noble Group </td><td>Hong Kong</td></tr>
<tr><td>Sodrugestvo Group </td><td>Switzerland</td></tr>
<tr><td>Agrocorp International Pte Ltd. </td><td>Singapore</td></tr>
<tr><td>Al Ghurair Resources LLC </td><td>UAE</td></tr>
<tr><td>Ameropa AG </td><td>Switzerland</td></tr>
<tr><td>GrainCorp Limited </td><td>Australia</td></tr>
<tr><td>J&J Group </td><td>China</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Toepfer International GmbH </td><td>Germany</td></tr>
<tr><td>Starcom Commodities DMCC </td><td>UAE</td></tr>
<tr><td>Ardent Mills </td><td>USA</td></tr>
<tr><td>Parrish and Heimbecker </td><td>Canada</td></tr>
<tr><td>Viterra </td><td>Canada</td></tr>
<tr><td>AWB Limited </td><td>Australia</td></tr>

</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Maize Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Biofuel Demand: The increasing demand for biofuels, particularly ethanol, has led to a significant rise in maize production, as maize is one of the primary feedstocks used for ethanol production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Genetically Modified (GM) Maize: The adoption of GM maize varieties with traits such as pest resistance, herbicide tolerance, and drought tolerance has increased, contributing to higher yields and reduced input costs for farmers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: As climate change impacts weather patterns and growing conditions, researchers and farmers are focusing on developing maize varieties that can withstand extreme weather events, such as droughts and floods, to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Precision Agriculture: The adoption of digital technologies and precision agriculture practices is becoming more prevalent in the maize industry. These advancements help farmers optimize inputs, increase efficiency, and reduce their environmental impact, shaping the future of maize production and trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: With growing concerns about the environmental impact of conventional farming practices, there is a shift towards more sustainable agriculture practices in maize cultivation, such as conservation tillage, crop rotation, and integrated pest management.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Food Trends: As the demand for plant-based foods grows, maize-based products like cornmeal, cornstarch, and corn syrup are becoming increasingly popular as ingredients in various food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Volatility: The maize market can be influenced by various factors, such as weather conditions, global geopolitical factors, and trade disputes. These factors can lead to market volatility and affect the overall maize trade and prices.</div>
</div>


<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Food Security and Nutrition: Maize is a staple food for many populations around the world, and efforts are being made to improve its nutritional quality through biofortification and breeding programs, ensuring better food security and nutrition.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Value-Added Products: There is a growing interest in the development of value-added maize products, such as fortified foods, functional foods, and specialty maize varieties with specific nutritional or culinary attributes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the maize market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
</div>
</div>



</body>
</html>



</body>
</html>




