<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("oat.jpg"),:size => "100x100" %>
         
           <h4>Oats Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.3 Billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 8.4 Million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Oats crop risk can be influenced by several factors, including weather conditions, pests, and diseases. For example, heavy rainfall during the growing season can cause oats to sprout prematurely, which reduces the quality and yield of the crop. Pests such as aphids, mites, and armyworms can also damage oats crops, impacting both yield and quality. However, oats are generally considered a hardy crop that can withstand a variety of growing conditions.

From a strategic perspective, the potential export opportunities for oats can be significant for producers. Exporting oats products to other countries can help diversify a producer's customer base, reducing reliance on domestic markets. Additionally, exporting oats can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for oats is expected to grow due to increasing demand for healthy and convenient food options. The potential export value of oats products can vary depending on the specific product and target market, but some estimates suggest that global oat exports could reach $3 billion by 2025, representing a growth of over 5% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Oats Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 9.6%</td></tr>
<tr><td>United States </td><td> 8.7%</td></tr>
<tr><td>Japan </td><td> 8.1%</td></tr>
<tr><td>Canada </td><td> 7.6%</td></tr>
<tr><td>Netherlands </td><td> 4.4%</td></tr>
<tr><td>Germany </td><td> 4.2%</td></tr>
<tr><td>China </td><td> 4.1%</td></tr>
<tr><td>Belgium </td><td> 3.4%</td></tr>
<tr><td>United Kingdom </td><td> 3.3%</td></tr>
<tr><td>France </td><td> 3.1%</td></tr>
<tr><td>South Korea </td><td> 2.7%</td></tr>
<tr><td>Italy </td><td> 2.6%</td></tr>
<tr><td>Spain </td><td> 2.5%</td></tr>
<tr><td>Indonesia </td><td> 2.3%</td></tr>
<tr><td>Turkey </td><td> 1.9%</td></tr>
<tr><td>Philippines </td><td> 1.7%</td></tr>
<tr><td>Malaysia </td><td> 1.5%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.5%</td></tr>
<tr><td>Vietnam </td><td> 1.5%</td></tr>
<tr><td>Taiwan </td><td> 1.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Oats Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 39.9%</td></tr>
<tr><td>Australia </td><td> 22.5%</td></tr>
<tr><td>Finland </td><td> 6.1%</td></tr>
<tr><td>Poland </td><td> 5.9%</td></tr>
<tr><td>Russia </td><td> 4.1%</td></tr>
<tr><td>Sweden </td><td> 3.3%</td></tr>
<tr><td>Denmark </td><td> 2.7%</td></tr>
<tr><td>Germany </td><td> 2.4%</td></tr>
<tr><td>United States </td><td> 1.8%</td></tr>
<tr><td>Lithuania </td><td> 1.4%</td></tr>
<tr><td>Latvia </td><td> 1.3%</td></tr>
<tr><td>Estonia </td><td> 1.2%</td></tr>
<tr><td>United Kingdom </td><td> 0.9%</td></tr>
<tr><td>France </td><td> 0.8%</td></tr>
<tr><td>Ukraine </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.6%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>Czech Republic </td><td> 0.5%</td></tr>
<tr><td>Italy </td><td> 0.5%</td></tr>
<tr><td>Netherlands </td><td> 0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Oats Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> $0.20/kg</td><td> $0.09/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.22/kg</td><td> $0.10/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.25/kg</td><td> $0.11/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $0.28/kg</td><td> $0.13/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.30/kg</td><td> $0.14/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.35/kg</td><td> $0.16/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.40/kg</td><td> $0.18/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> $0.45/kg</td><td> $0.20/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $0.50/kg</td><td> $0.23/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $0.55/kg</td><td> $0.25/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $0.60/kg</td><td> $0.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.65/kg</td><td> $0.30/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.70/kg</td><td> $0.32/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $0.75/kg</td><td> $0.34/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td> $0.80/kg</td><td> $0.36/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.85/kg</td><td> $0.39/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.90/kg</td><td> $0.41/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.95/kg</td><td> $0.43/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>China </td><td> $1.00/kg</td><td> $0.45/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $1.05/kg</td><td> $0.48/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>


</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Oats Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $3.50/kg</td><td> $1.59/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $3.00/kg</td><td> $1.36/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $2.50/kg</td><td> $1.14/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.00/kg</td><td> $0.91/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $1.80/kg</td><td> $0.82/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.70/kg</td><td> $0.77/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.60/kg</td><td> $0.73/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.50/kg</td><td> $0.68/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $1.40/kg</td><td> $0.64/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $1.30/kg</td><td> $0.59/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $1.20/kg</td><td> $0.55/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $1.10/kg</td><td> $0.50/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $1.00/kg</td><td> $0.45/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $0.90/kg</td><td> $0.41/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.80/kg</td><td> $0.36/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $0.70/kg</td><td> $0.32/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td> $0.60/kg</td><td> $0.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Slovakia </td><td> $0.50/kg</td><td> $0.23/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $0.40/kg</td><td> $0.18/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Hungary </td><td> $0.30/kg</td><td> $0.14/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Oats Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 17.6%</td></tr>
<tr><td>Canada </td><td> 14.3%</td></tr>
<tr><td>Poland </td><td> 9.4%</td></tr>
<tr><td>Australia </td><td> 8.4%</td></tr>
<tr><td>Finland </td><td> 6.0%</td></tr>
<tr><td>Sweden </td><td> 4.8%</td></tr>
<tr><td>Germany </td><td> 4.6%</td></tr>
<tr><td>United States </td><td> 4.3%</td></tr>
<tr><td>Spain </td><td> 3.3%</td></tr>
<tr><td>Denmark </td><td> 2.9%</td></tr>
<tr><td>United Kingdom </td><td> 2.8%</td></tr>
<tr><td>France </td><td> 2.7%</td></tr>
<tr><td>China </td><td> 2.6%</td></tr>
<tr><td>Belarus </td><td> 2.5%</td></tr>
<tr><td>Ukraine </td><td> 2.4%</td></tr>
<tr><td>Czech Republic </td><td> 2.2%</td></tr>
<tr><td>Lithuania </td><td> 1.9%</td></tr>
<tr><td>Latvia </td><td> 1.8%</td></tr>
<tr><td>Switzerland </td><td> 1.6%</td></tr>
<tr><td>Norway </td><td> 1.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Oats Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> August to September</td></tr>
<tr><td>Canada </td><td> July to August</td></tr>
<tr><td>United States </td><td> June to August</td></tr>
<tr><td>Australia </td><td> June to September</td></tr>
<tr><td>Ukraine </td><td> August to September</td></tr>
<tr><td>China </td><td> July to August</td></tr>
<tr><td>Poland </td><td> July to August</td></tr>
<tr><td>Germany </td><td> July to August</td></tr>
<tr><td>France </td><td> July to August</td></tr>
<tr><td>United Kingdom </td><td> June to July</td></tr>
<tr><td>Argentina </td><td> September to December</td></tr>
<tr><td>Spain </td><td> April to June</td></tr>
<tr><td>Sweden </td><td> July to August</td></tr>
<tr><td>Finland </td><td> July to August</td></tr>
<tr><td>Turkey </td><td> May to June</td></tr>
<tr><td>Kazakhstan </td><td> August to September</td></tr>
<tr><td>Brazil </td><td> April to June</td></tr>
<tr><td>Hungary </td><td> July to August</td></tr>
<tr><td>Czech Republic </td><td> July to August</td></tr>
<tr><td>Italy </td><td> May to June</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Oats Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 16%</td></tr>
<tr><td>Russia </td><td> 13%</td></tr>
<tr><td>Australia </td><td> 11%</td></tr>
<tr><td>United States </td><td> 10%</td></tr>
<tr><td>Poland </td><td> 4%</td></tr>
<tr><td>Finland </td><td> 3%</td></tr>
<tr><td>Sweden </td><td> 3%</td></tr>
<tr><td>Ukraine </td><td> 3%</td></tr>
<tr><td>Germany </td><td> 3%</td></tr>
<tr><td>United Kingdom </td><td> 3%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 2%</td></tr>
<tr><td>Kazakhstan </td><td> 2%</td></tr>
<tr><td>Czech Republic </td><td> 2%</td></tr>
<tr><td>Hungary </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Oats Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Nigeria </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 1%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Colombia </td><td> 1%</td></tr>
<tr><td>Venezuela </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Sudan </td><td> 1%</td></tr>
<tr><td>Algeria </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Oats Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 17%</td></tr>
<tr><td>Canada </td><td> 15%</td></tr>
<tr><td>Poland </td><td> 8%</td></tr>
<tr><td>Australia </td><td> 6%</td></tr>
<tr><td>United States </td><td> 6%</td></tr>
<tr><td>Germany </td><td> 6%</td></tr>
<tr><td>United Kingdom </td><td> 4%</td></tr>
<tr><td>France </td><td> 4%</td></tr>
<tr><td>China </td><td> 4%</td></tr>
<tr><td>Ukraine </td><td> 3%</td></tr>
<tr><td>Sweden </td><td> 3%</td></tr>
<tr><td>Finland </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Kazakhstan </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 2%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Oats crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cargill</td><td> USA</td></tr>
<tr><td>Archer Daniels Midland</td><td> USA</td></tr>
<tr><td>Bunge Limited</td><td> USA</td></tr>
<tr><td>Louis Dreyfus Company</td><td> Netherlands</td></tr>
<tr><td>COFCO Corporation</td><td> China</td></tr>
<tr><td>Glencore International AG</td><td> Switzerland</td></tr>
<tr><td>Toepfer International</td><td> Germany</td></tr>
<tr><td>CHS Inc.</td><td> USA</td></tr>
<tr><td>Sodrugestvo Group</td><td> Switzerland</td></tr>
<tr><td>Marubeni Corporation</td><td> Japan</td></tr>
<tr><td>Nisshin Seifun Group Inc.</td><td> Japan</td></tr>
<tr><td>Olam International</td><td> Singapore</td></tr>
<tr><td>Coface SA</td><td> France</td></tr>
<tr><td>Noble Group</td><td> Hong Kong</td></tr>
<tr><td>Amaggi</td><td> Brazil</td></tr>
<tr><td>AGT Foods</td><td> Canada</td></tr>
<tr><td>Vilmorin & Cie</td><td> France</td></tr>
<tr><td>Viterra</td><td> Canada</td></tr>
<tr><td>ETG Commodities</td><td> South Africa</td></tr>
<tr><td>Scoular Company</td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Oats crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Quaker Oats Company</td><td> USA</td></tr>
<tr><td>Kellogg Company</td><td> USA</td></tr>
<tr><td>Nestle SA</td><td> Switzerland</td></tr>
<tr><td>General Mills</td><td> USA</td></tr>
<tr><td>PepsiCo</td><td> USA</td></tr>
<tr><td>Post Holdings</td><td> USA</td></tr>
<tr><td>Bob's Red Mill</td><td> USA</td></tr>
<tr><td>The Hain Celestial Group</td><td> USA</td></tr>
<tr><td>Weetabix Limited</td><td> UK</td></tr>
<tr><td>Jordans and Ryvita Company</td><td> UK</td></tr>
<tr><td>Fazer Group</td><td> Finland</td></tr>
<tr><td>Farmer Direct Co-operative</td><td> Canada</td></tr>
<tr><td>Nature's Path Foods</td><td> Canada</td></tr>
<tr><td>Pinnacle Foods Group LLC</td><td> USA</td></tr>
<tr><td>Grain Millers Inc.</td><td> USA</td></tr>
<tr><td>Hodgson Mill</td><td> USA</td></tr>
<tr><td>Dr. August Oetker Nahrungsmittel KG</td><td> Germany</td></tr>
<tr><td>Glanbia plc</td><td> Ireland</td></tr>
<tr><td>Goodness! Nutritious Foods</td><td> Australia</td></tr>
<tr><td>Freedom Foods Group Limited</td><td> Australia</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Oats Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition Benefits: Oats are known for their high fiber content, particularly beta-glucan, which has been linked to various health benefits, such as reducing cholesterol levels and improving digestion. This is driving increased demand for oats and oat-based products among health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gluten-Free Diets: Although oats are naturally gluten-free, they are often processed in facilities that handle other gluten-containing grains, leading to cross-contamination. However, the growing demand for gluten-free products has led to the production of certified gluten-free oats, catering to those with gluten intolerance or celiac disease.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Food Trends: With the rising popularity of plant-based diets, oats are becoming a popular ingredient in various food products, such as plant-based milk alternatives (oat milk), snacks, and bakery items.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: Oats are considered a sustainable crop, as they can grow in a variety of climates and soil types, and often require fewer chemical inputs compared to other cereal crops. This focus on sustainability is driving demand for oats among environmentally conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Oat Products: The growing consumer interest in oats has led to the diversification of oat-based products, such as granola bars, oat-based yogurts, and even skincare products using oat extracts.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: As consumers become more interested in organic and non-GMO food products, the demand for organically grown and non-GMO oats is increasing, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Oat Milk Boom: The rapid growth of oat milk as a popular plant-based milk alternative has driven increased demand for oats, creating new opportunities for oat producers and processors.</div>
</div>
<div class="w3-container w3-col m16 w3-center">

<div class="w3-panel w3-card w3-white w3-padding-16">Research and Development: There is ongoing research and development to improve oat varieties, focusing on aspects such as yield, disease resistance, and nutritional content. These advancements can help boost oat production and make it more resilient to the challenges posed by climate change.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Expansion and Export Potential: As the popularity of oats continues to grow, there is potential for the expansion of the oat market beyond its traditional growing regions in North America and Europe. This could create new opportunities for producers and exporters, as well as contribute to the development of a more diversified global food system.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Animal Feed and Industrial Uses: In addition to their use in human food products, oats are also used as animal feed and in various industrial applications. As demand for sustainable feed alternatives grows, oats may become an increasingly important feed ingredient for livestock.</div>
</div>
</div>

</body>
</html>




