<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("quinoa.jpg"),:size => "100x100" %>
         
           <h4>Quinoa Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $834.97 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 7.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 240,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Quinoa crop risk can be influenced by various factors, such as pests, diseases, and weather conditions. Insects like aphids, cutworms, and flea beetles can damage quinoa plants, and diseases like powdery mildew can also impact yields. Moreover, extreme weather events such as drought or frost can significantly impact quinoa crop production, as quinoa is a drought-tolerant crop that does not tolerate frost.

From a strategic standpoint, the potential export opportunities for quinoa can be significant for producers. Exporting quinoa products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting quinoa can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for quinoa is expected to grow significantly due to increasing demand for healthy and sustainable food options, with some estimates suggesting that the global quinoa market could reach over $1.2 billion by 2026, representing a growth of over 8% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Quinoa Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 27%</td></tr>
<tr><td>Netherlands </td><td> 13%</td></tr>
<tr><td>Canada </td><td> 10%</td></tr>
<tr><td>France </td><td> 6%</td></tr>
<tr><td>Germany </td><td> 6%</td></tr>
<tr><td>United Kingdom </td><td> 4%</td></tr>
<tr><td>Belgium </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 1%</td></tr>
<tr><td>Ireland </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Quinoa Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Peru </td><td> 47%</td></tr>
<tr><td>Bolivia </td><td> 40%</td></tr>
<tr><td>Ecuador </td><td> 7%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>France </td><td> <1%</td></tr>
<tr><td>United Kingdom </td><td> <1%</td></tr>
<tr><td>Germany </td><td> <1%</td></tr>
<tr><td>Belgium </td><td> <1%</td></tr>
<tr><td>Australia </td><td> <1%</td></tr>
<tr><td>Spain </td><td> <1%</td></tr>
<tr><td>Italy </td><td> <1%</td></tr>
<tr><td>Switzerland </td><td> <1%</td></tr>
<tr><td>Sweden </td><td> <1%</td></tr>
<tr><td>Denmark </td><td> <1%</td></tr>
<tr><td>Japan </td><td> <1%</td></tr>
<tr><td>South Korea </td><td> <1%</td></tr>
<tr><td>Norway </td><td> <1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Quinoa Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Bolivia </td><td> $1.50/kg</td><td> $0.68/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $1.80/kg</td><td> $0.82/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $2.00/kg</td><td> $0.91/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $2.20/kg</td><td> $1.00/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $2.50/kg</td><td> $1.14/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $2.70/kg</td><td> $1.23/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $3.00/kg</td><td> $1.36/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $3.50/kg</td><td> $1.59/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $3.80/kg</td><td> $1.73/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.00/kg</td><td> $1.82/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $4.20/kg</td><td> $1.91/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $4.50/kg</td><td> $2.05/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $4.70/kg</td><td> $2.14/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $5.00/kg</td><td> $2.27/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $5.30/kg</td><td> $2.41/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $5.50/kg</td><td> $2.50/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $6.00/kg</td><td> $2.73/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $6.50/kg</td><td> $2.95/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>China </td><td> $7.00/kg</td><td> $3.18/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $7.50/kg</td><td> $3.41/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>



</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Quinoa Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
    <tr><td>Japan </td><td> $25.00/kg</td><td> $11.36/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $22.00/kg</td><td> $10.00/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $20.00/kg</td><td> $9.09/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>China </td><td> $18.00/kg</td><td> $8.18/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $16.00/kg</td><td> $7.27/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $14.00/kg</td><td> $6.36/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $12.00/kg</td><td> $5.45/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $10.00/kg</td><td> $4.55/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $9.00/kg</td><td> $4.09/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> $8.00/kg</td><td> $3.64/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $7.00/kg</td><td> $3.18/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $6.50/kg</td><td> $2.95/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $6.00/kg</td><td> $2.73/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $5.50/kg</td><td> $2.50/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $5.00/kg</td><td> $2.27/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $4.50/kg</td><td> $2.05/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $4.00/kg</td><td> $1.82/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $3.50/kg</td><td> $1.59/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $3.00/kg</td><td> $1.36/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $2.50/kg</td><td> $1.14/lb<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Quinoa Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Peru </td><td> 46%</td></tr>
<tr><td>Bolivia </td><td> 38%</td></tr>
<tr><td>Ecuador </td><td> 8%</td></tr>
<tr><td>Colombia </td><td> 3%</td></tr>
<tr><td>Chile </td><td> 2%</td></tr>
<tr><td>United States </td><td> <1%</td></tr>
<tr><td>Canada </td><td> <1%</td></tr>
<tr><td>France </td><td> <1%</td></tr>
<tr><td>Germany </td><td> <1%</td></tr>
<tr><td>Spain </td><td> <1%</td></tr>
<tr><td>United Kingdom </td><td> <1%</td></tr>
<tr><td>Italy </td><td> <1%</td></tr>
<tr><td>Sweden </td><td> <1%</td></tr>
<tr><td>Australia </td><td> <1%</td></tr>
<tr><td>Denmark </td><td> <1%</td></tr>
<tr><td>Switzerland </td><td> <1%</td></tr>
<tr><td>Netherlands </td><td> <1%</td></tr>
<tr><td>Austria </td><td> <1%</td></tr>
<tr><td>South Africa </td><td> <1%</td></tr>
<tr><td>China </td><td> <1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Quinoa Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Peru </td><td> March to July</td></tr>
<tr><td>Bolivia </td><td> November to January</td></tr>
<tr><td>Ecuador </td><td> January to April</td></tr>
<tr><td>Colombia </td><td> June to September</td></tr>
<tr><td>Chile </td><td> November to March</td></tr>
<tr><td>United States </td><td> June to September</td></tr>
<tr><td>Canada </td><td> June to September</td></tr>
<tr><td>France </td><td> June to September</td></tr>
<tr><td>Germany </td><td> June to September</td></tr>
<tr><td>Spain </td><td> June to September</td></tr>
<tr><td>United Kingdom </td><td> June to September</td></tr>
<tr><td>Italy </td><td> June to September</td></tr>
<tr><td>Sweden </td><td> June to September</td></tr>
<tr><td>Australia </td><td> August to December</td></tr>
<tr><td>Denmark </td><td> June to September</td></tr>
<tr><td>Switzerland </td><td> June to September</td></tr>
<tr><td>Netherlands </td><td> June to September</td></tr>
<tr><td>Austria </td><td> June to September</td></tr>
<tr><td>South Africa </td><td> August to December</td></tr>
<tr><td>China </td><td> June to September</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Quinoa Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Peru </td><td> 34%</td></tr>
<tr><td>Bolivia </td><td> 30%</td></tr>
<tr><td>United States </td><td> 7%</td></tr>
<tr><td>Canada </td><td> 6%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>Australia </td><td> 3%</td></tr>
<tr><td>Chile </td><td> 2%</td></tr>
<tr><td>Ecuador </td><td> 2%</td></tr>
<tr><td>United Kingdom </td><td> 1.5%</td></tr>
<tr><td>Germany </td><td> 1.5%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 0.9%</td></tr>
<tr><td>Spain </td><td> 0.8%</td></tr>
<tr><td>Denmark </td><td> 0.6%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.4%</td></tr>
<tr><td>China </td><td> 0.3%</td></tr>
<tr><td>Japan </td><td> 0.3%</td></tr>
<tr><td>South Korea </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Quinoa Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Saudi Arabia </td><td> 0.02%</td></tr>
<tr><td>UAE </td><td> 0.02%</td></tr>
<tr><td>Qatar </td><td> 0.01%</td></tr>
<tr><td>Kuwait </td><td> 0.01%</td></tr>
<tr><td>Oman </td><td> 0.01%</td></tr>
<tr><td>Bahrain </td><td> 0.01%</td></tr>
<tr><td>Jordan </td><td> 0.01%</td></tr>
<tr><td>Lebanon </td><td> 0.01%</td></tr>
<tr><td>Cyprus </td><td> 0.01%</td></tr>
<tr><td>Yemen </td><td> 0.01%</td></tr>
<tr><td>Iraq </td><td> 0.01%</td></tr>
<tr><td>Iran </td><td> 0.01%</td></tr>
<tr><td>Syria </td><td> 0.01%</td></tr>
<tr><td>Egypt </td><td> 0.03%</td></tr>
<tr><td>Libya </td><td> 0.01%</td></tr>
<tr><td>Sudan </td><td> 0.01%</td></tr>
<tr><td>Tunisia </td><td> 0.01%</td></tr>
<tr><td>Algeria </td><td> 0.02%</td></tr>
<tr><td>Morocco </td><td> 0.03%</td></tr>
<tr><td>Mauritania </td><td> 0.01%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Quinoa Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 36%</td></tr>
<tr><td>Canada </td><td> 8%</td></tr>
<tr><td>France </td><td> 7%</td></tr>
<tr><td>United Kingdom </td><td> 6%</td></tr>
<tr><td>Australia </td><td> 5%</td></tr>
<tr><td>Germany </td><td> 4%</td></tr>
<tr><td>Netherlands </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Sweden </td><td> 2%</td></tr>
<tr><td>Denmark </td><td> 2%</td></tr>
<tr><td>Switzerland </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>South Africa </td><td> 1.5%</td></tr>
<tr><td>Japan </td><td> 1.5%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 0.8%</td></tr>
<tr><td>Brazil </td><td> 0.7%</td></tr>
<tr><td>Argentina </td><td> 0.6%</td></tr>
<tr><td>Chile </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Quinoa crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Ethical Foods</td><td>USA</td></tr>
<tr><td>New Roots Cooperative Farm</td><td>USA</td></tr>
<tr><td>The Grain Collective</td><td>USA</td></tr>
<tr><td>The Grain Shed</td><td>USA</td></tr>
<tr><td>Terra Ingredients</td><td>USA</td></tr>
<tr><td>Le Bon Grain</td><td>France</td></tr>
<tr><td>Salinen Austria AG</td><td>Austria</td></tr>
<tr><td>Orkla Foods Norge</td><td>Norway</td></tr>
<tr><td>Biofarm</td><td>Italy</td></tr>
<tr><td>Wessanen</td><td>Netherlands</td></tr>
<tr><td>Birkamidon Rohsto</td><td>Germany</td></tr>
<tr><td>BATA Food</td><td>Switzerland</td></tr>
<tr><td>Riviana Foods</td><td>Australia</td></tr>
<tr><td>Ameur Graines</td><td>Morocco</td></tr>
<tr><td>AGT Food and Ingredients</td><td>Canada</td></tr>
<tr><td>Simatech Shipping</td><td>Dubai</td></tr>
<tr><td>Essentia Group</td><td>South Africa</td></tr>
<tr><td>Global Superfoods</td><td>Canada</td></tr>
<tr><td>Shri Bankey Bihari Ji Dall</td><td>India</td></tr>
<tr><td>Al Rifai Roastery</td><td>Lebanon</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel col-md-4 w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Quinoa crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Yolélé Foods</td><td>USA</td></tr>
<tr><td>La Maison du Quinoa</td><td>France</td></tr>
<tr><td>Société Céréalière du Mali</td><td>Mali</td></tr>
<tr><td>Star Microfoods</td><td>India</td></tr>
<tr><td>Nafaso</td><td>Burkina Faso</td></tr>
<tr><td>Africa Organics</td><td>South Africa</td></tr>
<tr><td>The African Rice Company</td><td>USA</td></tr>
<tr><td>Quinoa Pilgrims</td><td>Nigeria</td></tr>
<tr><td>QuinoaCO</td><td>Senegal</td></tr>
<tr><td>Glo Foods</td><td>Nigeria</td></tr>
<tr><td>Dounia Féminine</td><td>Senegal</td></tr>
<tr><td>Cérélia Afrique</td><td>Senegal</td></tr>
<tr><td>Société de Transfert de Technologies du Mali</td><td>Mali</td></tr>
<tr><td>Berhan Grains</td><td>Ethiopia</td></tr>
<tr><td>Essential Trading Cooperative</td><td>UK</td></tr>
<tr><td>Agro Ouvrié</td><td>Togo</td></tr>
<tr><td>Kalimba Farms</td><td>Kenya</td></tr>
<tr><td>Nioko Bok</td><td>Mali</td></tr>
<tr><td>Grand-Mère Minotière</td><td>Canada</td></tr>
<tr><td>Sosei Foods</td><td>Japan</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Quinoa Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition Benefits: Quinoa is known for its high protein content and complete amino acid profile, making it an attractive option for health-conscious consumers. Its high fiber content and various essential nutrients have also contributed to its popularity.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gluten-Free Diets: Quinoa is a naturally gluten-free grain, making it a popular choice for those with gluten intolerance, celiac disease, or following a gluten-free diet for other reasons.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Ancient Grains Revival: Quinoa is part of the broader trend in the food industry towards ancient grains, which are perceived as healthier and more sustainable alternatives to modern, highly processed grains. This trend is driving increased demand for quinoa and quinoa-based products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: Quinoa is considered a sustainable crop, as it can grow in a variety of climates and soil types, often with minimal water and chemical inputs. This focus on sustainability is driving demand for quinoa among environmentally conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Food Trends: With the increasing popularity of plant-based diets, quinoa is becoming a popular ingredient in various food products, such as veggie burgers, salads, and plant-based protein bars.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: As consumers become more interested in organic and non-GMO food products, the demand for organically grown and non-GMO quinoa is increasing, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Quinoa Products: The growing consumer interest in quinoa has led to the diversification of quinoa-based products, such as breakfast cereals, pasta, and ready-to-eat meals.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Research and Development: There is ongoing research and development to improve quinoa varieties, focusing on aspects such as yield, disease resistance, and adaptability to various environmental conditions. These advancements can help boost quinoa production and make it more resilient to the challenges posed by climate change.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Market Expansion and Export Potential: The popularity of quinoa has led to an expansion of the quinoa market beyond its traditional growing regions in South America. This creates new opportunities for producers and exporters, as well as contributes to the development of a more diversified global food system.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Food Security and Rural Development: Quinoa plays a crucial role in ensuring food security and supporting rural livelihoods in many developing countries, particularly in the Andean region of South America. Efforts to promote quinoa cultivation and consumption can contribute to improved food security, nutrition, and economic development in these regions.</div>
</div>
</div>


</body>
</html>




