<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("rye.jpg"),:size => "100x100" %>
         
           <h4>Rye Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value 13.3 Million metric tons</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 4.7 Million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Rye crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, rye is a cold-tolerant crop that can be planted in the fall and grown through the winter months. However, prolonged periods of freezing weather can damage the crop. Additionally, pests such as aphids, mites, and root maggots can damage rye crops, impacting both yield and quality. Diseases such as ergot can also reduce the yield and quality of rye.

From a strategic standpoint, the potential export opportunities for rye can be significant for producers. Exporting rye products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting rye can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for rye is expected to grow due to increasing demand for healthy and sustainable food options, with some estimates suggesting that the global rye market could reach over $6 billion by 2027, representing a growth of over 3% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Rye Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 13.7%</td></tr>
<tr><td>Germany </td><td> 13.2%</td></tr>
<tr><td>Poland </td><td> 10.3%</td></tr>
<tr><td>Spain </td><td> 9.8%</td></tr>
<tr><td>Belgium </td><td> 7.1%</td></tr>
<tr><td>Netherlands </td><td> 5.5%</td></tr>
<tr><td>Denmark </td><td> 4.2%</td></tr>
<tr><td>Italy </td><td> 3.6%</td></tr>
<tr><td>France </td><td> 3.4%</td></tr>
<tr><td>United States </td><td> 3.4%</td></tr>
<tr><td>United Kingdom </td><td> 2.8%</td></tr>
<tr><td>China </td><td> 2.3%</td></tr>
<tr><td>Sweden </td><td> 2.3%</td></tr>
<tr><td>Czech Republic </td><td> 2.2%</td></tr>
<tr><td>Russia </td><td> 1.7%</td></tr>
<tr><td>Canada </td><td> 1.6%</td></tr>
<tr><td>Lithuania </td><td> 1.4%</td></tr>
<tr><td>Latvia </td><td> 1.2%</td></tr>
<tr><td>Finland </td><td> 1.2%</td></tr>
<tr><td>Switzerland </td><td> 1.1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Rye Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 35.8%</td></tr>
<tr><td>Germany </td><td> 18.2%</td></tr>
<tr><td>Poland </td><td> 11.9%</td></tr>
<tr><td>Belarus </td><td> 6.5%</td></tr>
<tr><td>Denmark </td><td> 3.3%</td></tr>
<tr><td>Czech Republic </td><td> 3.3%</td></tr>
<tr><td>Latvia </td><td> 2.5%</td></tr>
<tr><td>Lithuania </td><td> 2.4%</td></tr>
<tr><td>Sweden </td><td> 2.2%</td></tr>
<tr><td>Ukraine </td><td> 2.2%</td></tr>
<tr><td>Netherlands </td><td> 1.6%</td></tr>
<tr><td>Finland </td><td> 1.3%</td></tr>
<tr><td>Belgium </td><td> 1.3%</td></tr>
<tr><td>Estonia </td><td> 1.3%</td></tr>
<tr><td>France </td><td> 1.2%</td></tr>
<tr><td>United States </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.8%</td></tr>
<tr><td>United Kingdom </td><td> 0.7%</td></tr>
<tr><td>Austria </td><td> 0.7%</td></tr>
<tr><td>Italy </td><td> 0.6%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>


</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Rye Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>India </td><td> $0.40/kg</td><td> $0.18/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.48/kg</td><td> $0.22/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.51/kg</td><td> $0.23/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.53/kg</td><td> $0.24/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Cambodia </td><td> $0.54/kg</td><td> $0.24/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td> $0.56/kg</td><td> $0.25/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.58/kg</td><td> $0.26/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.59/kg</td><td> $0.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.60/kg</td><td> $0.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.61/kg</td><td> $0.28/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.64/kg</td><td> $0.29/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.68/kg</td><td> $0.31/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $0.70/kg</td><td> $0.32/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.71/kg</td><td> $0.32/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $0.74/kg</td><td> $0.34/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.75/kg</td><td> $0.34/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.77/kg</td><td> $0.35/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $0.78/kg</td><td> $0.35/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Uruguay </td><td> $0.80/kg</td><td> $0.36/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.81/kg</td><td> $0.37/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>


</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Rye Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Japan </td><td> $8.40/kg</td><td> $3.81/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.68/kg</td><td> $2.12/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $4.16/kg</td><td> $1.89/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $3.90/kg</td><td> $1.77/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $3.87/kg</td><td> $1.76/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $3.31/kg</td><td> $1.50/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $3.15/kg</td><td> $1.43/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $3.09/kg</td><td> $1.40/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $3.03/kg</td><td> $1.38/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $2.88/kg</td><td> $1.31/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $2.79/kg</td><td> $1.27/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $2.56/kg</td><td> $1.16/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Jordan </td><td> $2.45/kg</td><td> $1.11/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Lebanon </td><td> $2.30/kg</td><td> $1.04/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Libya </td><td> $2.16/kg</td><td> $0.98/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Maldives </td><td> $2.07/kg</td><td> $0.94/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Seychelles </td><td> $1.96/kg</td><td> $0.89/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Mauritius </td><td> $1.94/kg</td><td> $0.88/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Bahamas </td><td> $1.92/kg</td><td> $0.87/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Bermuda </td><td> $1.90/kg</td><td> $0.86/lb.</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Rye Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 36.3%</td></tr>
<tr><td>Poland </td><td> 21.4%</td></tr>
<tr><td>Germany </td><td> 12.4%</td></tr>
<tr><td>Belarus </td><td> 8.2%</td></tr>
<tr><td>Ukraine </td><td> 5.7%</td></tr>
<tr><td>Denmark </td><td> 2.2%</td></tr>
<tr><td>Czech Republic </td><td> 1.9%</td></tr>
<tr><td>Kazakhstan </td><td> 1.6%</td></tr>
<tr><td>Sweden </td><td> 1.5%</td></tr>
<tr><td>Lithuania </td><td> 1.2%</td></tr>
<tr><td>Latvia </td><td> 1.2%</td></tr>
<tr><td>Estonia </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.8%</td></tr>
<tr><td>Finland </td><td> 0.7%</td></tr>
<tr><td>United States </td><td> 0.6%</td></tr>
<tr><td>Norway </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.5%</td></tr>
<tr><td>Hungary </td><td> 0.4%</td></tr>
<tr><td>France </td><td> 0.4%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Rye Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> May to August</td></tr>
<tr><td>Ukraine </td><td> May to August</td></tr>
<tr><td>Poland </td><td> May to August</td></tr>
<tr><td>Germany </td><td> May to August</td></tr>
<tr><td>Belarus </td><td> May to August</td></tr>
<tr><td>Kazakhstan </td><td> May to September</td></tr>
<tr><td>France </td><td> June to August</td></tr>
<tr><td>Lithuania </td><td> May to August</td></tr>
<tr><td>Latvia </td><td> May to August</td></tr>
<tr><td>Canada </td><td> May to September</td></tr>
<tr><td>United States </td><td> May to September</td></tr>
<tr><td>Hungary </td><td> May to August</td></tr>
<tr><td>Romania </td><td> May to August</td></tr>
<tr><td>Czech Republic </td><td> May to August</td></tr>
<tr><td>Bulgaria </td><td> May to August</td></tr>
<tr><td>Sweden </td><td> May to August</td></tr>
<tr><td>Estonia </td><td> May to August</td></tr>
<tr><td>Slovakia </td><td> May to August</td></tr>
<tr><td>Denmark </td><td> June to August</td></tr>
<tr><td>Austria </td><td> June to August</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Rye Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 29.3%</td></tr>
<tr><td>Poland </td><td> 23.2%</td></tr>
<tr><td>Germany </td><td> 13.2%</td></tr>
<tr><td>Ukraine </td><td> 9.8%</td></tr>
<tr><td>Belarus </td><td> 7.7%</td></tr>
<tr><td>France </td><td> 5.1%</td></tr>
<tr><td>Denmark </td><td> 2.9%</td></tr>
<tr><td>Sweden </td><td> 2.6%</td></tr>
<tr><td>Lithuania </td><td> 2.4%</td></tr>
<tr><td>Latvia </td><td> 2.3%</td></tr>
<tr><td>Canada </td><td> 1.8%</td></tr>
<tr><td>Estonia </td><td> 1.6%</td></tr>
<tr><td>Finland </td><td> 1.2%</td></tr>
<tr><td>Czech Republic </td><td> 1.0%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Hungary </td><td> 0.8%</td></tr>
<tr><td>United States </td><td> 0.6%</td></tr>
<tr><td>Norway </td><td> 0.4%</td></tr>
<tr><td>Slovakia </td><td> 0.4%</td></tr>
<tr><td>Switzerland </td><td> 0.3%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Rye Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Brazil </td><td> 0.002%</td></tr>
<tr><td>China </td><td> 0.003%</td></tr>
<tr><td>India </td><td> 0.009%</td></tr>
<tr><td>Indonesia </td><td> 0.01%</td></tr>
<tr><td>Nigeria </td><td> 0.01%</td></tr>
<tr><td>Egypt </td><td> 0.01%</td></tr>
<tr><td>Bangladesh </td><td> 0.02%</td></tr>
<tr><td>Vietnam </td><td> 0.02%</td></tr>
<tr><td>Pakistan </td><td> 0.03%</td></tr>
<tr><td>Philippines </td><td> 0.03%</td></tr>
<tr><td>Thailand </td><td> 0.05%</td></tr>
<tr><td>Mexico </td><td> 0.07%</td></tr>
<tr><td>Turkey </td><td> 0.08%</td></tr>
<tr><td>Argentina </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.2%</td></tr>
<tr><td>Myanmar </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Rye Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 25.3 kg per capita</td></tr>
<tr><td>Belarus </td><td> 15.5 kg per capita</td></tr>
<tr><td>Poland </td><td> 11.5 kg per capita</td></tr>
<tr><td>Denmark </td><td> 9.9 kg per capita</td></tr>
<tr><td>Germany </td><td> 7.4 kg per capita</td></tr>
<tr><td>Lithuania </td><td> 5.5 kg per capita</td></tr>
<tr><td>Latvia </td><td> 5.2 kg per capita</td></tr>
<tr><td>Estonia </td><td> 4.8 kg per capita</td></tr>
<tr><td>Sweden </td><td> 4.1 kg per capita</td></tr>
<tr><td>Ukraine </td><td> 3.3 kg per capita</td></tr>
<tr><td>Finland </td><td> 2.9 kg per capita</td></tr>
<tr><td>Norway </td><td> 2.8 kg per capita</td></tr>
<tr><td>Czech Republic </td><td> 2.3 kg per capita</td></tr>
<tr><td>Hungary </td><td> 2.2 kg per capita</td></tr>
<tr><td>Canada </td><td> 2.1 kg per capita</td></tr>
<tr><td>Austria </td><td> 2.0 kg per capita</td></tr>
<tr><td>France </td><td> 1.9 kg per capita</td></tr>
<tr><td>United States </td><td> 1.4 kg per capita</td></tr>
<tr><td>Switzerland </td><td> 1.1 kg per capita</td></tr>
<tr><td>Slovakia </td><td> 0.7 kg per capita</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Rye crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>

<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>Ebro Foods </td><td> Spain</td></tr>
<tr><td>KRBL Limited </td><td> India</td></tr>
<tr><td>Mars Food </td><td> United States</td></tr>
<tr><td>Bunge Limited </td><td> United States</td></tr>
<tr><td>LT Foods </td><td> India</td></tr>
<tr><td>Asia Golden Rice </td><td> Vietnam</td></tr>
<tr><td>Louis Dreyfus Company </td><td> Netherlands</td></tr>
<tr><td>Siam Indica </td><td> Thailand</td></tr>
<tr><td>Shinmei Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Esarco Exim Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Tilda Rice </td><td> United Kingdom</td></tr>
<tr><td>Ameropa AG </td><td> Switzerland</td></tr>
<tr><td>Oryza Commodities Pte Ltd </td><td> Singapore</td></tr>
<tr><td>Western Rice Mills </td><td> Canada</td></tr>
<tr><td>RiceTec AG </td><td> Switzerland</td></tr>
<tr><td>TH Group </td><td> Vietnam</td></tr>
<tr><td>Ake Rice Mill Co. Ltd. </td><td> Thailand</td></tr>
<tr><td>Manishankar Oils Pvt. Ltd. </td><td> India</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel col-md-4 w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Rye crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>The Rice Company </td><td> United States</td></tr>
<tr><td>Daawat </td><td> India</td></tr>
<tr><td>KRBL Limited </td><td> India</td></tr>
<tr><td>Tilda </td><td> United Kingdom</td></tr>
<tr><td>SunRice </td><td> Australia</td></tr>
<tr><td>Ebro Foods </td><td> Spain</td></tr>
<tr><td>Uncle Ben's </td><td> United States</td></tr>
<tr><td>AkashiTai Sake Brewery </td><td> Japan</td></tr>
<tr><td>Lassonde Specialties </td><td> Canada</td></tr>
<tr><td>Nishiki </td><td> United States</td></tr>
<tr><td>Hinode Rice </td><td> United States</td></tr>
<tr><td>VeeTee </td><td> United Kingdom</td></tr>
<tr><td>Lundberg Family Farms </td><td> United States</td></tr>
<tr><td>Mars Food </td><td> United States</td></tr>
<tr><td>East End Foods </td><td> United Kingdom</td></tr>
<tr><td>Riviana Foods </td><td> United States</td></tr>
<tr><td>Shinmei Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Amira Nature Foods Ltd. </td><td> United Arab Emirates</td></tr>
<tr><td>Iberia Foods </td><td> United States</td></tr>
<tr><td>RiceSelect </td><td> United States</td></tr>
</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Rye Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition Benefits: Rye is gaining popularity due to its high fiber content and various essential nutrients, which have been linked to improved digestion, reduced risk of type 2 diabetes, and other health benefits. This is driving increased demand for rye and rye-based products among health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16"> Trend: As consumers become more aware of the health benefits of whole grains, there is a growing demand for whole grain rye products, such as rye bread, crackers, and cereals.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gluten-Free Alternatives: Although rye contains gluten, it is often used in combination with other gluten-free grains to create alternative baked goods for those following a gluten-free diet or looking for new flavors and textures.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: Rye is considered a sustainable crop, as it can grow in a variety of climates and soil types, often with minimal water and chemical inputs. It can also act as a cover crop, helping to prevent soil erosion and suppress weeds. This focus on sustainability is driving demand for rye among environmentally conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Craft Beverage Industry: The craft beverage industry, particularly craft beer and whiskey, is increasingly using rye as an ingredient due to its distinct flavor profile and unique characteristics.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO rye is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Food Security and Rural Development: Rye plays a role in ensuring food security and supporting rural livelihoods in many developing countries, particularly in colder climates where other grains might struggle to grow. Efforts to promote rye cultivation and consumption can contribute to improved food security, nutrition, and economic development in these regions.</div>

</div>
<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Diversification of Rye Products: The growing consumer interest in rye has led to the diversification of rye-based products, such as ready-to-eat meals, snack foods, and even pet foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Research and Development: There is ongoing research and development to improve rye varieties, focusing on aspects such as yield, disease resistance, and adaptability to various environmental conditions. These advancements can help boost rye production and make it more resilient to the challenges posed by climate change.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Expansion and Export Potential: As the popularity of rye continues to grow, there is potential for the expansion of the rye market beyond its traditional growing regions in North America and Europe. This could create new opportunities for producers and exporters, as well as contribute to the development of a more diversified global food system.</div>
</div>
</div>

</body>
</html>


