<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("wheat.jpg"),:size => "100x100" %>
         
           <h4>Wheat Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value 176.8 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area  220 million hectares (543 million acres)</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Wheat crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, wheat is vulnerable to frost, drought, and heat stress, which can reduce yields and quality. Pests such as aphids, thrips, and Hessian flies can also damage wheat crops, impacting both yield and quality. Additionally, diseases such as Fusarium head blight and wheat rust can reduce the yield and quality of wheat.

From a strategic standpoint, the potential export opportunities for wheat can be significant for producers. Exporting wheat products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting wheat can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for wheat is expected to grow due to increasing demand for staple food options, with some estimates suggesting that the global wheat market could reach over $250 billion by 2027, representing a growth of over 3% per year.</p>
     
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Wheat Crop Import countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Egypt </td><td> 12.5%</td></tr>
<tr><td>Indonesia </td><td> 10.7%</td></tr>
<tr><td>Algeria </td><td> 7.5%</td></tr>
<tr><td>Bangladesh </td><td> 7.2%</td></tr>
<tr><td>Nigeria </td><td> 6.1%</td></tr>
<tr><td>Philippines </td><td> 5.8%</td></tr>
<tr><td>Turkey </td><td> 5.3%</td></tr>
<tr><td>Japan </td><td> 3.5%</td></tr>
<tr><td>Sudan </td><td> 2.7%</td></tr>
<tr><td>Brazil </td><td> 2.5%</td></tr>
<tr><td>Mexico </td><td> 2.4%</td></tr>
<tr><td>Iran </td><td> 2.4%</td></tr>
<tr><td>Morocco </td><td> 2.1%</td></tr>
<tr><td>South Korea </td><td> 2.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 2%</td></tr>
<tr><td>Iraq </td><td> 1.9%</td></tr>
<tr><td>Thailand </td><td> 1.7%</td></tr>
<tr><td>UAE </td><td> 1.6%</td></tr>
<tr><td>Yemen </td><td> 1.4%</td></tr>
<tr><td>China </td><td> 1.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Wheat Crop Export countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 22.7%</td></tr>
<tr><td>Canada </td><td> 15.1%</td></tr>
<tr><td>United States </td><td> 14.6%</td></tr>
<tr><td>Australia </td><td> 12.8%</td></tr>
<tr><td>France </td><td> 5.1%</td></tr>
<tr><td>Ukraine </td><td> 4.3%</td></tr>
<tr><td>Argentina </td><td> 3.2%</td></tr>
<tr><td>Kazakhstan </td><td> 2.7%</td></tr>
<tr><td>Germany </td><td> 2.5%</td></tr>
<tr><td>Romania </td><td> 1.9%</td></tr>
<tr><td>United Kingdom </td><td> 1.8%</td></tr>
<tr><td>Hungary </td><td> 1.7%</td></tr>
<tr><td>Bulgaria </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.6%</td></tr>
<tr><td>Lithuania </td><td> 1.5%</td></tr>
<tr><td>Latvia </td><td> 1.3%</td></tr>
<tr><td>Czech Republic </td><td> 1.2%</td></tr>
<tr><td>Denmark </td><td> 1.2%</td></tr>
<tr><td>Italy </td><td> 1.2%</td></tr>
<tr><td>Belgium </td><td> 1.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most reasonable Wheat Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Kazakhstan </td><td> 0.14USD/kg </td><td>0.06USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> 0.14USD/kg </td><td>0.06USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> 0.14USD/kg </td><td>0.06USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> 0.16USD/kg </td><td>0.07USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United States </td><td> 0.18USD/kg </td><td>0.08USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> 0.19USD/kg </td><td>0.09USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> 0.22USD/kg </td><td>0.10USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> 0.23USD/kg </td><td>0.11USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>India </td><td> 0.24USD/kg </td><td>0.11USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> 0.25USD/kg </td><td>0.11USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> 0.27USD/kg </td><td>0.12USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Romania </td><td> 0.27USD/kg </td><td>0.12USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Bulgaria </td><td> 0.28USD/kg </td><td>0.13USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> 0.28USD/kg </td><td>0.13USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> 0.28USD/kg </td><td>0.13USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> 0.29USD/kg </td><td>0.13USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> 0.29USD/kg </td><td>0.13USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Hungary </td><td> 0.30USD/kg </td><td>0.14USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> 0.32USD/kg </td><td>0.14USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> 0.35USD/kg </td><td>0.16USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>


</table>
</div>



<div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most increased Wheat Crop price in countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Bahrain </td><td> 2.26USD/kg </td><td>1.03USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> 1.41USD/kg </td><td>0.64USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> 1.25USD/kg </td><td>0.57USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> 1.09USD/kg </td><td>0.50USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> 0.99USD/kg </td><td>0.45USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> 0.97USD/kg </td><td>0.44USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> 0.94USD/kg </td><td>0.43USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> 0.94USD/kg </td><td>0.43USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> 0.93USD/kg </td><td>0.42USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> 0.92USD/kg </td><td>0.42USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> 0.92USD/kg </td><td>0.42USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> 0.91USD/kg </td><td>0.41USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> 0.89USD/kg </td><td>0.41USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> 0.87USD/kg </td><td>0.40USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> 0.86USD/kg </td><td>0.39USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> 0.85USD/kg </td><td>0.39USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> 0.84USD/kg </td><td>0.38USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> 0.83USD/kg </td><td>0.38USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> 0.83USD/kg </td><td>0.38USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>
<tr><td>France </td><td> 0.82USD/kg </td><td>0.37USD/lbs</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= "#{value}%" %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= "#{value}%"%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Wheat Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>China </td><td> 18.9%</td></tr>
<tr><td>India </td><td> 12.4%</td></tr>
<tr><td>Russia </td><td> 8.4%</td></tr>
<tr><td>United States </td><td> 7.9%</td></tr>
<tr><td>Canada </td><td> 4.3%</td></tr>
<tr><td>France </td><td> 3.3%</td></tr>
<tr><td>Australia </td><td> 3.2%</td></tr>
<tr><td>Germany </td><td> 2.7%</td></tr>
<tr><td>Turkey </td><td> 2.6%</td></tr>
<tr><td>Ukraine </td><td> 2.5%</td></tr>
<tr><td>Pakistan </td><td> 2.3%</td></tr>
<tr><td>Kazakhstan </td><td> 2.2%</td></tr>
<tr><td>Argentina </td><td> 1.8%</td></tr>
<tr><td>United Kingdom </td><td> 1.7%</td></tr>
<tr><td>Iran </td><td> 1.7%</td></tr>
<tr><td>Poland </td><td> 1.5%</td></tr>
<tr><td>Spain </td><td> 1.5%</td></tr>
<tr><td>Italy </td><td> 1.5%</td></tr>
<tr><td>Brazil </td><td> 1.3%</td></tr>
<tr><td>Mexico </td><td> 1.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The season for Fresh Wheat Crop growing in countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> Oct to June</td></tr>
<tr><td>India </td><td> Oct to April</td></tr>
<tr><td>Russia </td><td> Aug to Sep - May to June</td></tr>
<tr><td>United States </td><td> Sep to Oct - May to June</td></tr>
<tr><td>Canada </td><td> May to Sep</td></tr>
<tr><td>France </td><td> Sep to July</td></tr>
<tr><td>Australia </td><td> May to Oct</td></tr>
<tr><td>Germany </td><td> Sep to July</td></tr>
<tr><td>Turkey </td><td> Oct to July</td></tr>
<tr><td>Ukraine </td><td> Sep to Oct - June to July</td></tr>
<tr><td>Pakistan </td><td> Nov to April</td></tr>
<tr><td>Kazakhstan </td><td> Sep to Oct - June to July</td></tr>
<tr><td>Argentina </td><td> May to Dec</td></tr>
<tr><td>UK</td><td> Sep to July</td></tr>
<tr><td>Iran </td><td> Nov to May</td></tr>
<tr><td>Poland </td><td> Sep to July</td></tr>
<tr><td>Spain </td><td> Sep to July</td></tr>
<tr><td>Italy </td><td> Sep to July</td></tr>
<tr><td>Brazil </td><td> May to Aug</td></tr>
<tr><td>Mexico </td><td> Nov to May</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost popular countries for Wheat Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 17.8%</td></tr>
<tr><td>India </td><td> 12.3%</td></tr>
<tr><td>Russia </td><td> 8.7%</td></tr>
<tr><td>United States </td><td> 7.4%</td></tr>
<tr><td>France </td><td> 4.9%</td></tr>
<tr><td>Australia </td><td> 4.4%</td></tr>
<tr><td>Canada </td><td> 4.1%</td></tr>
<tr><td>Germany </td><td> 2.8%</td></tr>
<tr><td>Turkey </td><td> 2.7%</td></tr>
<tr><td>Ukraine </td><td> 2.7%</td></tr>
<tr><td>Pakistan </td><td> 2.3%</td></tr>
<tr><td>Kazakhstan </td><td> 2.3%</td></tr>
<tr><td>United Kingdom </td><td> 1.8%</td></tr>
<tr><td>Argentina </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.5%</td></tr>
<tr><td>Spain </td><td> 1.5%</td></tr>
<tr><td>Iran </td><td> 1.5%</td></tr>
<tr><td>Italy </td><td> 1.4%</td></tr>
<tr><td>Brazil </td><td> 1.3%</td></tr>
<tr><td>Mexico </td><td> 1.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular countries for Wheat Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Yemen </td><td> 0.2%</td></tr>
<tr><td>Luxembourg </td><td> 0.2%</td></tr>
<tr><td>Liberia </td><td> 0.2%</td></tr>
<tr><td>Djibouti </td><td> 0.1%</td></tr>
<tr><td>Saint Lucia </td><td> 0.1%</td></tr>
<tr><td>Andorra </td><td> 0.1%</td></tr>
<tr><td>San Marino </td><td> 0.1%</td></tr>
<tr><td>Dominica </td><td> 0.1%</td></tr>
<tr><td>Marshall Islands </td><td> 0.1%</td></tr>
<tr><td>Tonga </td><td> 0.1%</td></tr>
<tr><td>Micronesia </td><td> 0.1%</td></tr>
<tr><td>Kiribati </td><td> 0.1%</td></tr>
<tr><td>Palau </td><td> 0.1%</td></tr>
<tr><td>Vanuatu </td><td> 0.1%</td></tr>
<tr><td>Nauru </td><td> 0.1%</td></tr>
<tr><td>Tuvalu </td><td> 0.1%</td></tr>
<tr><td>Cook Islands </td><td> 0.1%</td></tr>
<tr><td>Niue </td><td> 0.1%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0.1%</td></tr>
<tr><td>Monaco </td><td> 0.1%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Wheat Crop consuming countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 17.7%</td></tr>
<tr><td>India </td><td> 12.3%</td></tr>
<tr><td>European Union </td><td> 10.3%</td></tr>
<tr><td>Russia </td><td> 8.3%</td></tr>
<tr><td>United States </td><td> 7.3%</td></tr>
<tr><td>Iran </td><td> 3.3%</td></tr>
<tr><td>Egypt </td><td> 2.9%</td></tr>
<tr><td>Turkey </td><td> 2.7%</td></tr>
<tr><td>Pakistan </td><td> 2.6%</td></tr>
<tr><td>Algeria </td><td> 2.2%</td></tr>
<tr><td>Brazil </td><td> 2.1%</td></tr>
<tr><td>Indonesia </td><td> 1.9%</td></tr>
<tr><td>Japan </td><td> 1.6%</td></tr>
<tr><td>Mexico </td><td> 1.6%</td></tr>
<tr><td>Bangladesh </td><td> 1.5%</td></tr>
<tr><td>Morocco </td><td> 1.4%</td></tr>
<tr><td>Iraq </td><td> 1.3%</td></tr>
<tr><td>Nigeria </td><td> 1.3%</td></tr>
<tr><td>Philippines </td><td> 1.3%</td></tr>
<tr><td>Ethiopia </td><td> 1.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Wheat crop Import companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Archer Daniels Midland </td><td>USA</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Cargill Inc. </td><td>USA</td></tr>
<tr><td>Glencore </td><td>Switzerland</td></tr>
<tr><td>COFCO Corporation </td><td>China</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>Richardson International Limited </td><td>Canada</td></tr>
<tr><td>China National Complete</td><td>China</td></tr>
<tr><td>GrainCorp Limited </td><td>Australia</td></tr>
<tr><td>Mitsui & Co. Ltd. </td><td>Japan</td></tr>
<tr><td>Olam International </td><td>Singapore</td></tr>
<tr><td>ZenNoh Grain Corp</td><td>Japan</td></tr>
<tr><td>Viterra Inc. </td><td>Canada</td></tr>
<tr><td>Noble Group </td><td>Hong Kong</td></tr>
<tr><td>CHS Inc. </td><td>USA</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>Toepfer </td><td>Germany</td></tr>
<tr><td>Nidera </td><td>Netherlands</td></tr>
<tr><td>Sumitomo Corporation </td><td>Japan</td></tr>
<tr><td>Agrocorp International </td><td>Singapore</td></tr>



</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel col-md-4 w3-center">
  <table class="w3-table-all">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Wheat crop Export companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cargill Inc. </td><td>USA</td></tr>
<tr><td>Archer Daniels Midland </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>COFCO Corporation </td><td>China</td></tr>
<tr><td>Glencore </td><td>Switzerland</td></tr>
<tr><td>Richardson International Limd</td><td>Canada</td></tr>
<tr><td>Viterra Inc. </td><td>Canada</td></tr>
<tr><td>ADM Trading </td><td>Switzerland</td></tr>
<tr><td>Toepfer International </td><td>Germany</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>CHS Inc. </td><td>USA</td></tr>
<tr><td>Nidera </td><td>Netherlands</td></tr>
<tr><td>Sierentz Global Merchants </td><td>Switzerland</td></tr>
<tr><td>Gavilon Group LLC </td><td>USA</td></tr>
<tr><td>Agrium Inc. </td><td>Canada</td></tr>
<tr><td>Noble Group </td><td>Hong Kong</td></tr>
<tr><td>Dangote Industries Limited </td><td>Nigeria</td></tr>
<tr><td>Olam International </td><td>Singapore</td></tr>
<tr><td>Sumitomo Corporation </td><td>Japan</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Wheat Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition Awareness: As consumers become more health-conscious, there is a growing demand for healthier wheat varieties and products, such as whole grain wheat, ancient grains like spelt and einkorn, and high-fiber wheat options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Gluten-Free Diets: With the rise in gluten sensitivity, celiac disease, and health-conscious consumers, there is a growing market for gluten-free alternatives. This trend has impacted wheat consumption, driving the development of alternative grains and gluten-free products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in wheat cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to wheat production, including increased frequency of droughts, flooding, and extreme temperatures. Researchers and farmers are working to develop wheat varieties that can withstand these challenges to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Genetically Modified (GM) Wheat: Research and development in genetically modified wheat varieties continue to progress, focusing on traits such as pest resistance, herbicide tolerance, and improved nutritional content. However, the adoption of GM wheat remains limited due to regulatory and public perception challenges.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO wheat is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the wheat market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Precision Agriculture: The adoption of digital technologies and precision agriculture practices is becoming more prevalent in the wheat industry. These advancements help farmers optimize inputs, increase efficiency, and reduce their environmental impact, shaping the future of wheat production and trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Market Volatility: The wheat market can be influenced by various factors, such as weather conditions, global geopolitical factors, and trade disputes. These factors can lead to market volatility and affect overall wheat trade and prices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Food Security and Nutrition: Wheat is a staple food for many people around the world, and efforts are being made to improve its nutritional quality through biofortification and breeding programs, ensuring better food security and nutrition.</div>

</div>
</div>

</body>
</html>


