<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}

.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("broccoli-min.jpg"),:size => "100x100" %>
         
           <h4>Broccoli Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $26.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 100 thousands hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i>Broccoli crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, broccoli is vulnerable to frost, heat stress, and water stress, which can reduce yields and quality. Pests such as aphids, cabbage worms, and diamondback moths can also damage broccoli crops, impacting both yield and quality. Additionally, diseases such as clubroot and black rot can reduce the yield and quality of broccoli.
From a strategic standpoint, the potential export opportunities for broccoli can be significant for producers. Exporting broccoli products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting broccoli can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for broccoli is expected to grow due to increasing demand for healthy and nutritious food options, with some estimates suggesting that the global broccoli market could reach over $5 billion by 2027, representing a growth of over 6% per year.
</i>
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Broccoli Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 21.6%</td></tr>
<tr><td>Japan </td><td> 11.8%</td></tr>
<tr><td>South Korea </td><td> 8.1%</td></tr>
<tr><td>Germany </td><td> 7.3%</td></tr>
<tr><td>UK</td><td> 6.2%</td></tr>
<tr><td>Canada </td><td> 5.7%</td></tr>
<tr><td>Netherlands </td><td> 4.9%</td></tr>
<tr><td>France </td><td> 4.6%</td></tr>
<tr><td>Belgium </td><td> 2.8%</td></tr>
<tr><td>Spain </td><td> 2.5%</td></tr>
<tr><td>Italy </td><td> 2.1%</td></tr>
<tr><td>Switzerland </td><td> 1.6%</td></tr>
<tr><td>Australia </td><td> 1.4%</td></tr>
<tr><td>Russia </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.1%</td></tr>
<tr><td>Sweden </td><td> 1.0%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Czech Republic </td><td> 0.9%</td></tr>
<tr><td>Denmark </td><td> 0.8%</td></tr>
<tr><td>Norway </td><td> 0.7%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Broccoli Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 23.8%</td></tr>
<tr><td>Spain </td><td> 12.3%</td></tr>
<tr><td>USA </td><td> 9.9%</td></tr>
<tr><td>Netherlands </td><td> 9.3%</td></tr>
<tr><td>France </td><td> 8.1%</td></tr>
<tr><td>Italy </td><td> 6.7%</td></tr>
<tr><td>China </td><td> 4.4%</td></tr>
<tr><td>UK</td><td> 4.1%</td></tr>
<tr><td>Canada </td><td> 3.4%</td></tr>
<tr><td>Belgium </td><td> 2.4%</td></tr>
<tr><td>Germany </td><td> 2.1%</td></tr>
<tr><td>Peru </td><td> 1.8%</td></tr>
<tr><td>Chile </td><td> 1.7%</td></tr>
<tr><td>Guatemala </td><td> 1.3%</td></tr>
<tr><td>Costa Rica </td><td> 1.2%</td></tr>
<tr><td>Honduras </td><td> 1.2%</td></tr>
<tr><td>Dominican Republic </td><td> 1.2%</td></tr>
<tr><td>Ecuador </td><td> 1.1%</td></tr>
<tr><td>Panama </td><td> 1.1%</td></tr>
<tr><td>El Salvador </td><td> 1.0%</td></tr>
</table>
</div>
 

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>


</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Broccoli Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> $0.53/kg</td><td> £0.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.56/kg</td><td> £0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.58/kg</td><td> £0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.59/kg</td><td> £0.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.60/kg</td><td> £0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.60/kg</td><td> £0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.62/kg</td><td> £0.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.63/kg</td><td> £0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $0.63/kg</td><td> £0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $0.65/kg</td><td> £0.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.66/kg</td><td> £0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.66/kg</td><td> £0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $0.67/kg</td><td> £0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $0.68/kg</td><td> £0.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $0.70/kg</td><td> £0.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.71/kg</td><td> £0.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.72/kg</td><td> £0.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.75/kg</td><td> £0.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.77/kg</td><td> £0.56/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $0.79/kg</td><td> £0.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Broccoli Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $3.63/kg</td><td> £2.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $2.75/kg</td><td> £2.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $2.27/kg</td><td> £1.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.12/kg</td><td> £1.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.87/kg</td><td> £1.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.76/kg</td><td> £1.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.68/kg</td><td> £1.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $1.63/kg</td><td> £1.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $1.55/kg</td><td> £1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $1.49/kg</td><td> £1.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $1.42/kg</td><td> £1.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.35/kg</td><td> £0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $1.28/kg</td><td> £0.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $1.20/kg</td><td> £0.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $1.14/kg</td><td> £0.83/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $1.09/kg</td><td> £0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $1.05/kg</td><td> £0.76/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.00/kg</td><td> £0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $0.94/kg</td><td> £0.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $0.87/kg</td><td> £0.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Broccoli Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 45.5%</td></tr>
<tr><td>India </td><td> 9.2%</td></tr>
<tr><td>USA </td><td> 3.3%</td></tr>
<tr><td>Spain </td><td> 3.1%</td></tr>
<tr><td>Italy </td><td> 2.9%</td></tr>
<tr><td>Mexico </td><td> 2.4%</td></tr>
<tr><td>France </td><td> 2.4%</td></tr>
<tr><td>Turkey </td><td> 2.1%</td></tr>
<tr><td>Iran </td><td> 2.0%</td></tr>
<tr><td>Japan </td><td> 1.7%</td></tr>
<tr><td>South Korea </td><td> 1.7%</td></tr>
<tr><td>Egypt </td><td> 1.5%</td></tr>
<tr><td>Ukraine </td><td> 1.5%</td></tr>
<tr><td>Australia </td><td> 1.5%</td></tr>
<tr><td>Russia </td><td> 1.3%</td></tr>
<tr><td>Poland </td><td> 1.3%</td></tr>
<tr><td>Morocco </td><td> 1.2%</td></tr>
<tr><td>UK</td><td> 1.1%</td></tr>
<tr><td>Indonesia </td><td> 1.0%</td></tr>
<tr><td>Peru </td><td> 0.9%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Broccoli Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> Sep to Nov-Feb to May</td></tr>
<tr><td>China </td><td> Oct to Nov-Apr to June</td></tr>
<tr><td>India </td><td> October to February</td></tr>
<tr><td>Spain </td><td> October to June</td></tr>
<tr><td>Italy </td><td> October to May</td></tr>
<tr><td>Mexico </td><td> October to April</td></tr>
<tr><td>France </td><td> June to September</td></tr>
<tr><td>Turkey </td><td> October to April</td></tr>
<tr><td>Iran </td><td> October to May</td></tr>
<tr><td>South Korea </td><td> April to May-Sep to Nov</td></tr>
<tr><td>Ukraine </td><td> June to July</td></tr>
<tr><td>Egypt </td><td> October to April</td></tr>
<tr><td>Australia </td><td> Aug to Oct-Mar to May</td></tr>
<tr><td>UK</td><td> June to August</td></tr>
<tr><td>Russia </td><td> June to August</td></tr>
<tr><td>Canada </td><td> June to October</td></tr>
<tr><td>Poland </td><td> June to July</td></tr>
<tr><td>Germany </td><td> June to October</td></tr>
<tr><td>Argentina </td><td> October to April</td></tr>
<tr><td>Japan </td><td> Sep to Nov-Feb to May</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Broccoli Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 47.6%</td></tr>
<tr><td>India </td><td> 6.8%</td></tr>
<tr><td>USA </td><td> 4.9%</td></tr>
<tr><td>Spain </td><td> 4.1%</td></tr>
<tr><td>Mexico </td><td> 3.9%</td></tr>
<tr><td>Italy </td><td> 3.8%</td></tr>
<tr><td>Turkey </td><td> 2.9%</td></tr>
<tr><td>France </td><td> 2.6%</td></tr>
<tr><td>Iran </td><td> 2.4%</td></tr>
<tr><td>Egypt </td><td> 2.3%</td></tr>
<tr><td>Australia </td><td> 1.8%</td></tr>
<tr><td>UK</td><td> 1.7%</td></tr>
<tr><td>Japan </td><td> 1.5%</td></tr>
<tr><td>Poland </td><td> 1.4%</td></tr>
<tr><td>South Korea </td><td> 1.2%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Germany </td><td> 0.9%</td></tr>
<tr><td>Indonesia </td><td> 0.8%</td></tr>
<tr><td>Thailand </td><td> 0.7%</td></tr>
<tr><td>Russia </td><td> 0.6%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Broccoli Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>South Africa </td><td> 0.5%</td></tr>
<tr><td>Canada </td><td> 0.5%</td></tr>
<tr><td>Ukraine </td><td> 0.5%</td></tr>
<tr><td>Argentina </td><td> 0.4%</td></tr>
<tr><td>Chile </td><td> 0.4%</td></tr>
<tr><td>Morocco </td><td> 0.4%</td></tr>
<tr><td>Peru </td><td> 0.4%</td></tr>
<tr><td>Brazil </td><td> 0.4%</td></tr>
<tr><td>Pakistan </td><td> 0.4%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.3%</td></tr>
<tr><td>Uzbekistan </td><td> 0.3%</td></tr>
<tr><td>Tunisia </td><td> 0.3%</td></tr>
<tr><td>Kazakhstan </td><td> 0.3%</td></tr>
<tr><td>Vietnam </td><td> 0.3%</td></tr>
<tr><td>Myanmar </td><td> 0.3%</td></tr>
<tr><td>Algeria </td><td> 0.2%</td></tr>
<tr><td>Colombia </td><td> 0.2%</td></tr>
<tr><td>Philippines </td><td> 0.2%</td></tr>
<tr><td>Syria </td><td> 0.2%</td></tr>
<tr><td>Sudan </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Broccoli Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 44%</td></tr>
<tr><td>India </td><td> 10%</td></tr>
<tr><td>USA </td><td> 8%</td></tr>
<tr><td>Japan </td><td> 4%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>Germany </td><td> 3%</td></tr>
<tr><td>UK</td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Broccoli Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company</td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce</td><td>USA</td></tr>
<tr><td>Chiquita Brands International</td><td>USA</td></tr>
<tr><td>The Fresh Market</td><td>USA</td></tr>
<tr><td>Fresh Express</td><td>USA</td></tr>
<tr><td>Tesco</td><td>UK/td></tr>
<tr><td>Sainsbury's</td><td>UK/td></tr>
<tr><td>Marks & Spencer</td><td>UK/td></tr>
<tr><td>Carrefour</td><td>France</td></tr>
<tr><td>Auchan Retail</td><td>France</td></tr>
<tr><td>Lidl</td><td>Germany</td></tr>
<tr><td>Aldi</td><td>Germany</td></tr>
<tr><td>Metro AG</td><td>Germany</td></tr>
<tr><td>Coles Group</td><td>Australia</td></tr>
<tr><td>Woolworths Group</td><td>Australia</td></tr>
<tr><td>Migros</td><td>Switzerland</td></tr>
<tr><td>Coop Schweiz</td><td>Switzerland</td></tr>
<tr><td>Superunie</td><td>Netherlands</td></tr>
<tr><td>Ahold Delhaize</td><td>Netherlands</td></tr>
<tr><td>ICA Gruppen</td><td>Sweden</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Broccoli Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company</td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce</td><td>USA</td></tr>
<tr><td>Chiquita Brands International</td><td>USA</td></tr>
<tr><td>Green Giant</td><td>USA</td></tr>
<tr><td>Ocean Mist Farms</td><td>USA</td></tr>
<tr><td>Pacific Farms</td><td>USA</td></tr>
<tr><td>Royal Ridge Fruits</td><td>USA</td></tr>
<tr><td>Coastline Family Farms</td><td>USA</td></tr>
<tr><td>Pure Flavor Farms</td><td>Canada</td></tr>
<tr><td>SunSelect Produce</td><td>Canada</td></tr>
<tr><td>Tanimura & Antle</td><td>Mexico</td></tr>
<tr><td>Ecoripe Tropicals</td><td>Mexico</td></tr>
<tr><td>Camposol Fresh USA</td><td>Peru</td></tr>
<tr><td>Agrícola Athos</td><td>Peru</td></tr>
<tr><td>Apofruit Italia</td><td>Italy</td></tr>
<tr><td>The Greenery</td><td>Netherlands</td></tr>
<tr><td>Total Produce</td><td>Ireland</td></tr>
<tr><td>Costa Group</td><td>Australia</td></tr>
<tr><td>Fresh Select</td><td>Australia</td></tr>
<tr><td>D'Arrigo Brothers</td><td>Australia</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Broccoli Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health Benefits: Broccoli is rich in vitamins, minerals, and antioxidants, which contribute to its growing popularity among health-conscious consumers who seek nutrient-dense foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO broccoli is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Convenience Foods: The demand for convenient, pre-packaged, and ready-to-eat broccoli products, such as frozen broccoli, pre-cut florets, and bagged salads, is increasing as consumers seek healthier and time-saving food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: The culinary versatility of broccoli is inspiring chefs and home cooks to incorporate it into various dishes, driving demand for the vegetable. This includes traditional recipes and innovative fusion dishes, appealing to a broader range of consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-based Diets: The growing popularity of plant-based diets, such as veganism and vegetarianism, is boosting the demand for nutrient-rich vegetables like broccoli, as consumers seek alternatives to animal-based protein sources.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Functional Foods: Broccoli's health benefits have led to its inclusion in various functional food products, such as supplements and powders, which aim to deliver targeted health benefits to consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in broccoli cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical Farming: Advances in vertical farming technologies are enabling the cultivation of broccoli in controlled environments, optimizing growth conditions and reducing the reliance on natural resources, potentially making broccoli production more sustainable and efficient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to broccoli production, including increased frequency of droughts, flooding, and extreme temperatures. Researchers and farmers are working to develop broccoli varieties that can withstand these challenges to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the broccoli market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
</div>

</div>


</body>
</html>


