<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}

.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cabbages-min.jpg"),:size => "100x100" %>
         
           <h4>Cabbage Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $31.9 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.9%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 23,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Cabbage crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, cabbage is vulnerable to frost, heat stress, and water stress, which can reduce yields and quality. Pests such as aphids, diamondback moths, and flea beetles can also damage cabbage crops, impacting both yield and quality. Additionally, diseases such as black rot and clubroot can reduce the yield and quality of cabbage.
From a strategic standpoint, the potential export opportunities for cabbage can be significant for producers. Exporting cabbage products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting cabbage can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for cabbage is expected to grow due to increasing demand for healthy and nutritious food options, with some estimates suggesting that the global cabbage market could reach over $9 billion by 2027, representing a growth of over 4% per year.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Cabbage Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 14.3%</td></tr>
<tr><td>Germany </td><td> 10.3%</td></tr>
<tr><td>United Kingdom </td><td> 9.1%</td></tr>
<tr><td>France </td><td> 8.3%</td></tr>
<tr><td>Netherlands </td><td> 6.7%</td></tr>
<tr><td>Spain </td><td> 6.2%</td></tr>
<tr><td>Italy </td><td> 5.6%</td></tr>
<tr><td>Poland </td><td> 4.1%</td></tr>
<tr><td>Belgium </td><td> 3.8%</td></tr>
<tr><td>Canada </td><td> 3.4%</td></tr>
<tr><td>Switzerland </td><td> 2.4%</td></tr>
<tr><td>Sweden </td><td> 2.1%</td></tr>
<tr><td>Russia </td><td> 2.0%</td></tr>
<tr><td>Czech Republic </td><td> 1.8%</td></tr>
<tr><td>Norway </td><td> 1.7%</td></tr>
<tr><td>Denmark </td><td> 1.7%</td></tr>
<tr><td>Austria </td><td> 1.6%</td></tr>
<tr><td>Finland </td><td> 1.3%</td></tr>
<tr><td>Greece </td><td> 1.1%</td></tr>
<tr><td>Ireland </td><td> 1.0%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cabbage Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 25.6%</td></tr>
<tr><td>India </td><td> 9.9%</td></tr>
<tr><td>South Korea </td><td> 6.8%</td></tr>
<tr><td>Mexico </td><td> 6.2%</td></tr>
<tr><td>Spain </td><td> 5.6%</td></tr>
<tr><td>United States </td><td> 5.5%</td></tr>
<tr><td>Netherlands </td><td> 4.3%</td></tr>
<tr><td>Poland </td><td> 3.6%</td></tr>
<tr><td>Germany </td><td> 3.3%</td></tr>
<tr><td>France </td><td> 2.8%</td></tr>
<tr><td>United Kingdom </td><td> 2.5%</td></tr>
<tr><td>Canada </td><td> 2.3%</td></tr>
<tr><td>Turkey </td><td> 1.9%</td></tr>
<tr><td>Italy </td><td> 1.7%</td></tr>
<tr><td>Brazil </td><td> 1.5%</td></tr>
<tr><td>Russia </td><td> 1.4%</td></tr>
<tr><td>Japan </td><td> 1.2%</td></tr>
<tr><td>Ukraine </td><td> 1.2%</td></tr>
<tr><td>Belgium </td><td> 1.1%</td></tr>
<tr><td>Australia </td><td> 1.0%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Cabbage Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Russia</td> <td>$0.10/kg</td> <td>$0.045/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine</td> <td>$0.11/kg</td> <td>$0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td> <td>$0.16/kg</td> <td>$0.073/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td> <td>$0.16/kg</td> <td>$0.073/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td> <td>$0.17/kg</td> <td>$0.077/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td> <td>$0.18/kg</td> <td>$0.082/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td> <td>$0.19/kg</td> <td>$0.086/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td> <td>$0.19/kg</td> <td>$0.086/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td> <td>$0.19/kg</td> <td>$0.086/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td> <td>$0.21/kg</td> <td>$0.095/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td> <td>$0.22/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic</td> <td>$0.22/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus</td> <td>$0.23/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan</td> <td>$0.23/kg</td> <td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland</td> <td>$0.24/kg</td> <td>$0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td> <td>$0.26/kg</td> <td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td> <td>$0.27/kg</td> <td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td> <td>$0.27/kg</td> <td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td> <td>$0.28/kg</td> <td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td> <td>$0.28/kg</td> <td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Cabbage Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United Kingdom</td> <td>$0.54/kg</td> <td>$0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td> <td>$0.53/kg</td> <td>$0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td> <td>$0.49/kg</td> <td>$0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td> <td>$0.48/kg</td> <td>$0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td> <td>$0.47/kg</td> <td>$0.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td> <td>$0.46/kg</td> <td>$0.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td> <td>$0.45/kg</td> <td>$0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td> <td>$0.43/kg</td> <td>$0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td> <td>$0.42/kg</td> <td>$0.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td> <td>$0.41/kg</td> <td>$0.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td> <td>$0.40/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td> <td>$0.40/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td> <td>$0.39/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td> <td>$0.39/kg</td> <td>$0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td> <td>$0.38/kg</td> <td>$0.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td> <td>$0.37/kg</td> <td>$0.17/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td> <td>$0.36/kg</td> <td>$0.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td> <td>$0.34/kg</td> <td>$0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td> <td>$0.33/kg</td> <td>$0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td> <td>$0.32/kg</td> <td>$0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Cabbage Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 47.9%</td></tr>
<tr><td>India </td><td> 14.8%</td></tr>
<tr><td>South Korea </td><td> 5.5%</td></tr>
<tr><td>Russia </td><td> 2.7%</td></tr>
<tr><td>Japan </td><td> 2.4%</td></tr>
<tr><td>Indonesia </td><td> 1.9%</td></tr>
<tr><td>Turkey </td><td> 1.8%</td></tr>
<tr><td>United States </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1.4%</td></tr>
<tr><td>Spain </td><td> 1.4%</td></tr>
<tr><td>Iran </td><td> 1.2%</td></tr>
<tr><td>Ukraine </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.1%</td></tr>
<tr><td>Mexico </td><td> 1.0%</td></tr>
<tr><td>Uzbekistan </td><td> 0.9%</td></tr>
<tr><td>Italy </td><td> 0.9%</td></tr>
<tr><td>Germany </td><td> 0.9%</td></tr>
<tr><td>Romania </td><td> 0.8%</td></tr>
<tr><td>Vietnam </td><td> 0.7%</td></tr>
<tr><td>Philippines </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Cabbage Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> Sep to Nov</td></tr>
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>South Korea </td><td> May to July-Sep to Nov</td></tr>
<tr><td>Russia </td><td> May to Augu</td></tr>
<tr><td>Japan </td><td> April to June-Sep to Nov</td></tr>
<tr><td>Indonesia </td><td> Year round</td></tr>
<tr><td>Turkey </td><td> April to June-Sep to Nov</td></tr>
<tr><td>United States </td><td> Year round</td></tr>
<tr><td>Egypt </td><td> Sep to January</td></tr>
<tr><td>Spain </td><td> Oct to Feb</td></tr>
<tr><td>Iran </td><td> Sep to Nov-Mar to May</td></tr>
<tr><td>Ukraine </td><td> Augu to Sep</td></tr>
<tr><td>Poland </td><td> May to Sep</td></tr>
<tr><td>Mexico </td><td> Oct to April</td></tr>
<tr><td>Uzbekistan </td><td> Year round</td></tr>
<tr><td>Italy </td><td> Oct to Feb</td></tr>
<tr><td>Germany </td><td> July to Oct</td></tr>
<tr><td>Romania </td><td> June to Augu</td></tr>
<tr><td>Vietnam </td><td> Nov to Feb</td></tr>
<tr><td>Philippines </td><td> Sep to Dec-Jan to Apr</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Cabbage Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 47.6%</td></tr>
<tr><td>India </td><td> 15.8%</td></tr>
<tr><td>Russia </td><td> 3.4%</td></tr>
<tr><td>South Korea </td><td> 3.3%</td></tr>
<tr><td>Japan </td><td> 2.9%</td></tr>
<tr><td>Indonesia </td><td> 2.6%</td></tr>
<tr><td>Turkey </td><td> 2.2%</td></tr>
<tr><td>United States </td><td> 2.0%</td></tr>
<tr><td>Egypt </td><td> 1.8%</td></tr>
<tr><td>Spain </td><td> 1.5%</td></tr>
<tr><td>Iran </td><td> 1.3%</td></tr>
<tr><td>Ukraine </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.2%</td></tr>
<tr><td>Mexico </td><td> 1.1%</td></tr>
<tr><td>Uzbekistan </td><td> 1.0%</td></tr>
<tr><td>Italy </td><td> 0.9%</td></tr>
<tr><td>Germany </td><td> 0.8%</td></tr>
<tr><td>Romania </td><td> 0.8%</td></tr>
<tr><td>Vietnam </td><td> 0.8%</td></tr>
<tr><td>Philippines </td><td> 0.7%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Cabbage Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 0.6%</td></tr>
<tr><td>United Kingdom </td><td> 0.5%</td></tr>
<tr><td>France </td><td> 0.4%</td></tr>
<tr><td>Argentina </td><td> 0.4%</td></tr>
<tr><td>Brazil </td><td> 0.4%</td></tr>
<tr><td>Australia </td><td> 0.4%</td></tr>
<tr><td>Peru </td><td> 0.3%</td></tr>
<tr><td>Chile </td><td> 0.3%</td></tr>
<tr><td>Colombia </td><td> 0.3%</td></tr>
<tr><td>Thailand </td><td> 0.3%</td></tr>
<tr><td>South Africa </td><td> 0.3%</td></tr>
<tr><td>Greece </td><td> 0.2%</td></tr>
<tr><td>Portugal </td><td> 0.2%</td></tr>
<tr><td>Kenya </td><td> 0.2%</td></tr>
<tr><td>Nigeria </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Sweden </td><td> 0.2%</td></tr>
<tr><td>Norway </td><td> 0.1%</td></tr>
<tr><td>Denmark </td><td> 0.1%</td></tr>
<tr><td>Switzerland </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cabbage Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 45%</td></tr>
<tr><td>India </td><td> 9%</td></tr>
<tr><td>Russia </td><td> 7%</td></tr>
<tr><td>South Korea </td><td> 4%</td></tr>
<tr><td>Japan </td><td> 3%</td></tr>
<tr><td>Indonesia </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Germany </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Ukraine </td><td> 2%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Cabbage Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cargill</td> <td>USA</td></tr>
<tr><td>Archer Daniels Midland Company</td> <td>USA</td></tr>
<tr><td>GrainCorp</td> <td>Australia</td></tr>
<tr><td>Bunge Limited</td> <td>USA</td></tr>
<tr><td>Glencore Agriculture</td> <td>Switzerland</td></tr>
<tr><td>CHS Inc.</td> <td>USA</td></tr>
<tr><td>COFCO International</td> <td>China</td></tr>
<tr><td>Louis Dreyfus Company</td> <td>Netherlands</td></tr>
<tr><td>Agrium Inc.</td> <td>Canada</td></tr>
<tr><td>Nidera</td> <td>Netherlands</td></tr>
<tr><td>Viterra</td> <td>Canada</td></tr>
<tr><td>Zen-Noh Grain Corporation</td> <td>Japan</td></tr>
<tr><td>The Scoular Company</td> <td>USA</td></tr>
<tr><td>Toepfer International</td> <td>Germany</td></tr>
<tr><td>Marubeni Corporation</td> <td>Japan</td></tr>
<tr><td>Mitsui & Co.</td> <td>Japan</td></tr>
<tr><td>J.D. Heiskell & Co.</td> <td>USA</td></tr>
<tr><td>Lansing Trade Group</td> <td>USA</td></tr>
<tr><td>Dunavant Enterprises</td> <td>USA</td></tr>
<tr><td>ETG Commodities</td> <td>UAE</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Cabbage Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>France Export Cereales</td> <td>France</td></tr>
<tr><td>GrainCorp</td> <td>Australia</td></tr>
<tr><td>Soufflet Group</td> <td>France</td></tr>
<tr><td>Archer Daniels Midland Company</td> <td>USA</td></tr>
<tr><td>Ameropa</td> <td>Switzerland</td></tr>
<tr><td>Cofco International</td> <td>China</td></tr>
<tr><td>Glencore Agriculture</td> <td>Switzerland</td></tr>
<tr><td>Boortmalt</td> <td>Belgium</td></tr>
<tr><td>Malteurop Groupe</td> <td>France</td></tr>
<tr><td>SABMiller</td> <td>UK</td></tr>
<tr><td>Bunge Limited</td> <td>USA</td></tr>
<tr><td>China National Complete Plant Import and Export Corporation</td> <td>China</td></tr>
<tr><td>Weyermann Specialty Malting Company</td> <td>Germany</td></tr>
<tr><td>Simpsons Malt Limited</td> <td>UK</td></tr>
<tr><td>Harboes Bryggeri A/S</td> <td>Denmark</td></tr>
<tr><td>Canadex Commodities</td> <td>Canada</td></tr>
<tr><td>Crisp Malting Group</td> <td>UK</td></tr>
<tr><td>Grain Millers</td> <td>USA</td></tr>
<tr><td>Briess Malt & Ingredients Co.</td> <td>USA</td></tr>
<tr><td>Evergrain</td> <td>USA</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cabbage Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health Benefits: Cabbage is rich in vitamins, minerals, and antioxidants, which contribute to its growing popularity among health-conscious consumers who seek nutrient-dense foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO cabbage is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Convenience Foods: The demand for convenient, pre-packaged, and ready-to-eat cabbage products, such as bagged slaw mixes, pre-cut cabbage, and sauerkraut, is increasing as consumers seek healthier and time-saving food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: The culinary versatility of cabbage is inspiring chefs and home cooks to incorporate it into various dishes, driving demand for the vegetable. This includes traditional recipes and innovative fusion dishes, appealing to a broader range of consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Fermented Foods: The popularity of fermented foods, such as sauerkraut and kimchi, is growing due to their probiotic properties and unique flavors, driving demand for cabbage, which is a key ingredient in these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-based Diets: The growing popularity of plant-based diets, such as veganism and vegetarianism, is boosting the demand for nutrient-rich vegetables like cabbage, as consumers seek alternatives to animal-based protein sources.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in cabbage cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in cabbage cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to cabbage production, including increased frequency of droughts, flooding, and extreme temperatures. Researchers and farmers are working to develop cabbage varieties that can withstand these challenges to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical Farming: Advances in vertical farming technologies are enabling the cultivation of cabbage in controlled environments, optimizing growth conditions and reducing the reliance on natural resources, potentially making cabbage production more sustainable and efficient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the cabbage market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>

</div>


</div>

</body>
</html>


