<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}

.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("capsicums-min.jpg"),:size => "100x100" %>
         
           <h4>Capsicum Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $42.4 billion  USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 21,000 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Capsicum crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, capsicum is vulnerable to frost, heat stress, and water stress, which can reduce yields and quality. Pests such as aphids, spider mites, and thrips can also damage capsicum crops, impacting both yield and quality. Additionally, diseases such as bacterial spot and powdery mildew can reduce the yield and quality of capsicum.
From a strategic standpoint, the potential export opportunities for capsicum can be significant for producers. Exporting capsicum products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting capsicum can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for capsicum is expected to grow due to increasing demand for spicy and flavorful food options, with some estimates suggesting that the global capsicum market could reach over $55 billion by 2025, representing a growth of over 5% per year..</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Capsicum Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 11.2%</td></tr>
<tr><td>Germany </td><td> 6.8%</td></tr>
<tr><td>UK </td><td> 6.6%</td></tr>
<tr><td>France </td><td> 5.5%</td></tr>
<tr><td>Netherlands </td><td> 5.0%</td></tr>
<tr><td>Canada </td><td> 3.5%</td></tr>
<tr><td>Belgium </td><td> 2.9%</td></tr>
<tr><td>Italy </td><td> 2.9%</td></tr>
<tr><td>Spain </td><td> 2.8%</td></tr>
<tr><td>Switzerland </td><td> 2.5%</td></tr>
<tr><td>Japan </td><td> 2.1%</td></tr>
<tr><td>Poland </td><td> 1.9%</td></tr>
<tr><td>Sweden </td><td> 1.7%</td></tr>
<tr><td>Denmark </td><td> 1.5%</td></tr>
<tr><td>Austria </td><td> 1.3%</td></tr>
<tr><td>Australia </td><td> 1.3%</td></tr>
<tr><td>Norway </td><td> 1.2%</td></tr>
<tr><td>Finland </td><td> 1.1%</td></tr>
<tr><td>South Korea </td><td> 1.1%</td></tr>
<tr><td>China </td><td> 1.0%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Capsicum Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 16.7%</td></tr>
<tr><td>Mexico </td><td> 11.2%</td></tr>
<tr><td>Netherlands </td><td> 9.0%</td></tr>
<tr><td>China </td><td> 8.5%</td></tr>
<tr><td>Turkey </td><td> 6.6%</td></tr>
<tr><td>Morocco </td><td> 4.4%</td></tr>
<tr><td>Peru </td><td> 4.3%</td></tr>
<tr><td>Israel </td><td> 3.7%</td></tr>
<tr><td>India </td><td> 3.6%</td></tr>
<tr><td>Belgium </td><td> 3.5%</td></tr>
<tr><td>Uganda </td><td> 3.0%</td></tr>
<tr><td>Kenya </td><td> 2.5%</td></tr>
<tr><td>France </td><td> 2.5%</td></tr>
<tr><td>Zimbabwe </td><td> 2.2%</td></tr>
<tr><td>USA </td><td> 2.1%</td></tr>
<tr><td>Poland </td><td> 2.0%</td></tr>
<tr><td>Guatemala </td><td> 1.9%</td></tr>
<tr><td>Thailand </td><td> 1.8%</td></tr>
<tr><td>Egypt </td><td> 1.7%</td></tr>
<tr><td>South Africa </td><td> 1.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Capsicum Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.46/kilo</td><td> $0.21<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.67/kilo</td><td> $0.30<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.72/kilo</td><td> $0.33<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.75/kilo</td><td> $0.34<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.84/kilo</td><td> $0.38<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.85/kilo</td><td> $0.39<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.89/kilo</td><td> $0.40<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.92/kilo</td><td> $0.42<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.95/kilo</td><td> $0.43<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $0.96/kilo</td><td> $0.44<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.98/kilo</td><td> $0.44<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $1.01/kilo</td><td> $0.46<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $1.08/kilo</td><td> $0.49<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $1.10/kilo</td><td> $0.50<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $1.12/kilo</td><td> $0.51<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.17/kilo</td><td> $0.53<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $1.18/kilo</td><td> $0.54<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $1.25/kilo</td><td> $0.57<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $1.26/kilo</td><td> $0.57<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $1.29/kilo</td><td> $0.59<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Capsicum Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland </td><td> $8.90/kilo</td><td> $4.04<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $7.22/kilo</td><td> $3.28<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $7.05/kilo</td><td> $3.20<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $6.97/kilo</td><td> $3.16<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $6.87/kilo</td><td> $3.12<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $6.73/kilo</td><td> $3.06<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $6.69/kilo</td><td> $3.04<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $6.43/kilo</td><td> $2.92<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $6.17/kilo</td><td> $2.80<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $5.98/kilo</td><td> $2.72<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $5.86/kilo</td><td> $2.66<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $5.70/kilo</td><td> $2.59<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $5.52/kilo</td><td> $2.51<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $5.35/kilo</td><td> $2.43<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $5.23/kilo</td><td> $2.38<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $5.14/kilo</td><td> $2.34<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $5.02/kilo</td><td> $2.28<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $4.89/kilo</td><td> $2.22<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $4.65/kilo</td><td> $2.11<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $4.43/kilo</td><td> $2.01<td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Capsicum Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 48.2%</td></tr>
<tr><td>Mexico </td><td> 8.4%</td></tr>
<tr><td>Turkey </td><td> 4.9%</td></tr>
<tr><td>Indonesia </td><td> 3.7%</td></tr>
<tr><td>Spain </td><td> 3.2%</td></tr>
<tr><td>India </td><td> 2.9%</td></tr>
<tr><td>Vietnam </td><td> 2.6%</td></tr>
<tr><td>Egypt </td><td> 2.3%</td></tr>
<tr><td>Peru </td><td> 1.9%</td></tr>
<tr><td>Iran </td><td> 1.9%</td></tr>
<tr><td>Morocco </td><td> 1.8%</td></tr>
<tr><td>Nigeria </td><td> 1.7%</td></tr>
<tr><td>USA </td><td> 1.6%</td></tr>
<tr><td>Pakistan </td><td> 1.6%</td></tr>
<tr><td>Thailand </td><td> 1.5%</td></tr>
<tr><td>Brazil </td><td> 1.4%</td></tr>
<tr><td>Bangladesh </td><td> 1.2%</td></tr>
<tr><td>Italy </td><td> 1.2%</td></tr>
<tr><td>Russia </td><td> 1.1%</td></tr>
<tr><td>Japan </td><td> 1.0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Capsicum Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>India </td><td> Dec to March</td></tr>
<tr><td>Mexico </td><td> Oct to April</td></tr>
<tr><td>China </td><td> June to Nov</td></tr>
<tr><td>Spain </td><td> June to Oct</td></tr>
<tr><td>Turkey </td><td> May to Oct</td></tr>
<tr><td>Indonesia </td><td> All year round</td></tr>
<tr><td>USA </td><td> May to Nov</td></tr>
<tr><td>Egypt </td><td> Oct to April</td></tr>
<tr><td>Iran </td><td> May to Oct</td></tr>
<tr><td>Brazil </td><td> Sep to Jan</td></tr>
<tr><td>Italy </td><td> May to Oct</td></tr>
<tr><td>Morocco </td><td> Sep to Dec</td></tr>
<tr><td>Pakistan </td><td> Oct to March</td></tr>
<tr><td>Bangladesh </td><td> All year round</td></tr>
<tr><td>Russia </td><td> June to Sep</td></tr>
<tr><td>Thailand </td><td> Jan to April-Aug to Nov</td></tr>
<tr><td>Philippines </td><td> All year round</td></tr>
<tr><td>Vietnam </td><td> All year round</td></tr>
<tr><td>Japan </td><td> May to Oct</td></tr>
<tr><td>Ukraine </td><td> June to Sep</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Capsicum Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 38.5%</td></tr>
<tr><td>Mexico </td><td> 15.3%</td></tr>
<tr><td>Indonesia </td><td> 5.9%</td></tr>
<tr><td>Turkey </td><td> 3.8%</td></tr>
<tr><td>Spain </td><td> 3.5%</td></tr>
<tr><td>USA </td><td> 2.9%</td></tr>
<tr><td>India </td><td> 2.6%</td></tr>
<tr><td>Italy </td><td> 2.4%</td></tr>
<tr><td>Peru </td><td> 2.2%</td></tr>
<tr><td>Iran </td><td> 1.9%</td></tr>
<tr><td>Egypt </td><td> 1.8%</td></tr>
<tr><td>Morocco </td><td> 1.4%</td></tr>
<tr><td>Vietnam </td><td> 1.4%</td></tr>
<tr><td>Netherlands </td><td> 1.1%</td></tr>
<tr><td>Colombia </td><td> 1.0%</td></tr>
<tr><td>Uzbekistan </td><td> 0.9%</td></tr>
<tr><td>Pakistan </td><td> 0.9%</td></tr>
<tr><td>Brazil </td><td> 0.8%</td></tr>
<tr><td>Greece </td><td> 0.7%</td></tr>
<tr><td>Israel </td><td> 0.7%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Capsicum Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bahamas</td><td><0.1%</td></tr>
<tr><td>Japan </td><td> 0.6%</td></tr>
<tr><td>South Korea </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Taiwan </td><td> 0.4%</td></tr>
<tr><td>Thailand </td><td> 0.4%</td></tr>
<tr><td>Philippines </td><td> 0.4%</td></tr>
<tr><td>France </td><td> 0.3%</td></tr>
<tr><td>Argentina </td><td> 0.3%</td></tr>
<tr><td>Chile </td><td> 0.3%</td></tr>
<tr><td>Poland </td><td> 0.3%</td></tr>
<tr><td>Canada </td><td> 0.3%</td></tr>
<tr><td>Algeria </td><td> 0.3%</td></tr>
<tr><td>Romania </td><td> 0.2%</td></tr>
<tr><td>South Africa </td><td> 0.2%</td></tr>
<tr><td>Ukraine </td><td> 0.2%</td></tr>
<tr><td>Bulgaria </td><td> 0.2%</td></tr>
<tr><td>Nigeria </td><td> 0.2%</td></tr>
<tr><td>Hungary </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Capsicum Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 38.5%</td></tr>
<tr><td>Mexico </td><td> 15.3%</td></tr>
<tr><td>USA </td><td> 7.1%</td></tr>
<tr><td>Indonesia </td><td> 5.9%</td></tr>
<tr><td>Spain </td><td> 3.5%</td></tr>
<tr><td>Turkey </td><td> 2.8%</td></tr>
<tr><td>Italy </td><td> 2.4%</td></tr>
<tr><td>India </td><td> 2.2%</td></tr>
<tr><td>France </td><td> 1.4%</td></tr>
<tr><td>Japan </td><td> 1.3%</td></tr>
<tr><td>Germany </td><td> 1.1%</td></tr>
<tr><td>UK </td><td> 1.1%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Netherlands </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.8%</td></tr>
<tr><td>Brazil </td><td> 0.8%</td></tr>
<tr><td>Iran </td><td> 0.7%</td></tr>
<tr><td>South Korea </td><td> 0.6%</td></tr>
<tr><td>Egypt </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Capsicum Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Brightway Exports </td><td> India</td></tr>
<tr><td>Tuan Phat Import Export Co. Ltd. </td><td> Vietnam</td></tr>
<tr><td>Greenbelt Overseas Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Sun Impex </td><td> UAE</td></tr>
<tr><td>Fuyo Trading Co., Ltd. </td><td> Japan</td></tr>
<tr><td>Elite Exim </td><td> India</td></tr>
<tr><td>Jinxiang Luteng Trading Co.,. </td><td> China</td></tr>
<tr><td>JM International </td><td> India</td></tr>
<tr><td>Grand Trust International Ltd. </td><td> Hong Kong</td></tr>
<tr><td>Greenco Agro International </td><td> India</td></tr>
<tr><td>Alfa Traders </td><td> India</td></tr>
<tr><td>Hometrade International LLC </td><td> USA</td></tr>
<tr><td>JNJ International Limited </td><td> UK</td></tr>
<tr><td>LNF Trade & Services </td><td> Singapore</td></tr>
<tr><td>Pawan Exports </td><td> India</td></tr>
<tr><td>S. A. S. International </td><td> India</td></tr>
<tr><td>SEPTA TRADING COMPANY  </td><td> Thailand</td></tr>
<tr><td>SR Exim </td><td> India</td></tr>
<tr><td>Tahiti Fruits SAS </td><td> France</td></tr>
<tr><td>YAKUP AGRI PRODUCTS </td><td> Turkey</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Capsicum Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Limex Global </td><td> Mexico</td></tr>
<tr><td>Mirchi.com </td><td> India</td></tr>
<tr><td>Driscoll's </td><td> USA</td></tr>
<tr><td>Paithrika </td><td> India</td></tr>
<tr><td>Uni President Enterprises Corp. </td><td> Taiwan</td></tr>
<tr><td>Dalena Farms </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>Montana Specialty Produce </td><td> USA</td></tr>
<tr><td>Caityln Farms </td><td> USA</td></tr>
<tr><td>Mastronardi Produce </td><td> Canada</td></tr>
<tr><td>Red Sun Farms </td><td> Canada</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>SanLucar Fruit </td><td> Austria</td></tr>
<tr><td>Flavorite </td><td> Australia</td></tr>
<tr><td>Monaghan Mushrooms </td><td> Ireland</td></tr>
<tr><td>AgroFair </td><td> Netherlands</td></tr>
<tr><td>Ortofrutta Italia </td><td> Italy</td></tr>
<tr><td>Delassus Group </td><td> France</td></tr>
<tr><td>Best Fresh Group </td><td> Netherlands</td></tr>
<tr><td>FresHuelva </td><td> Spain</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Capsicum Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health Benefits: Capsicum is rich in vitamins, minerals, and antioxidants, which contribute to its growing popularity among health-conscious consumers who seek nutrient-dense foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO capsicum is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Convenience Foods: The demand for convenient, pre-packaged, and ready-to-eat capsicum products, such as frozen peppers, pre-cut pepper strips, and stuffed peppers, is increasing as consumers seek healthier and time-saving food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: The culinary versatility of capsicum is inspiring chefs and home cooks to incorporate it into various dishes, driving demand for the vegetable. This includes traditional recipes and innovative fusion dishes, appealing to a broader range of consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Spicy Food Trend: The growing popularity of spicy foods and global cuisines is driving demand for hot capsicum varieties such as chili peppers, which are used to add heat and flavor to dishes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-based Diets: The growing popularity of plant-based diets, such as veganism and vegetarianism, is boosting the demand for nutrient-rich vegetables like capsicum, as consumers seek alternatives to animal-based protein sources.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in capsicum cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to capsicum production, including increased frequency of droughts, flooding, and extreme temperatures. Researchers and farmers are working to develop capsicum varieties that can withstand these challenges to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical Farming: Advances in vertical farming technologies are enabling the cultivation of capsicum in controlled environments, optimizing growth conditions and reducing the reliance on natural resources, potentially making capsicum production more sustainable and efficient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the capsicum market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>

</div>


</div>



</body>
</html>



