<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}

.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("carrot-min.jpg"),:size => "100x100" %>
         
           <h4>Carrot Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $8.9 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 63,000 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Carrot crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, carrots are vulnerable to drought, excessive moisture, and temperature extremes, which can reduce yields and quality. Pests such as carrot flies, aphids, and leafhoppers can also damage carrot crops, impacting both yield and quality. Additionally, diseases such as alternaria leaf spot and cavity spot can reduce the yield and quality of carrots.
From a strategic standpoint, the potential export opportunities for carrots can be significant for producers. Exporting carrot products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting carrots can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for carrots is expected to grow due to increasing demand for healthy and natural food options, with some estimates suggesting that the global carrot market could reach over $4 billion by 2027, representing a growth of over 4% per year.
</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Carrot Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td>21.1%</td></tr>
<tr><td>United States </td><td> 15.2%</td></tr>
<tr><td>United Kingdom </td><td> 8.7%</td></tr>
<tr><td>Netherlands </td><td> 8.1%</td></tr>
<tr><td>Germany </td><td> 7.3%</td></tr>
<tr><td>Canada </td><td> 6.9%</td></tr>
<tr><td>France </td><td> 5.1%</td></tr>
<tr><td>Spain </td><td> 4.2%</td></tr>
<tr><td>Belgium </td><td> 3.9%</td></tr>
<tr><td>Italy </td><td> 3.6%</td></tr>
<tr><td>Switzerland </td><td> 2.2%</td></tr>
<tr><td>Japan </td><td> 1.9%</td></tr>
<tr><td>Austria </td><td> 1.7%</td></tr>
<tr><td>Russia </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.5%</td></tr>
<tr><td>Sweden </td><td> 1.5%</td></tr>
<tr><td>Denmark </td><td> 1.4%</td></tr>
<tr><td>Czech Republic </td><td> 1.4%</td></tr>
<tr><td>Ireland </td><td> 1.3%</td></tr>
<tr><td>China </td><td> 1.2%</td></tr>
<tr><td>Norway </td><td> 1.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Carrot Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 24.2%</td></tr>
<tr><td>United States </td><td> 12.3%</td></tr>
<tr><td>Spain </td><td> 10.3%</td></tr>
<tr><td>Netherlands </td><td> 7.9%</td></tr>
<tr><td>Mexico </td><td> 7.4%</td></tr>
<tr><td>France </td><td> 4.4%</td></tr>
<tr><td>Belgium </td><td> 4.3%</td></tr>
<tr><td>Poland </td><td> 3.9%</td></tr>
<tr><td>Germany </td><td> 3.7%</td></tr>
<tr><td>United Kingdom </td><td> 2.7%</td></tr>
<tr><td>Canada </td><td> 1.9%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>South Africa </td><td> 1.6%</td></tr>
<tr><td>Turkey </td><td> 1.3%</td></tr>
<tr><td>Egypt </td><td> 1.3%</td></tr>
<tr><td>Australia </td><td> 1.1%</td></tr>
<tr><td>Israel </td><td> 1.0%</td></tr>
<tr><td>Morocco </td><td> 0.9%</td></tr>
<tr><td>New Zealand </td><td> 0.8%</td></tr>
<tr><td>Chile </td><td> 0.8%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Carrot Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Iran </td><td> $0.14/kilo</td><td>$0.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td> $0.15/kilo</td><td>$0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.16/kilo</td><td>$0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.17/kilo</td><td>$0.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $0.19/kilo</td><td>$0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $0.19/kilo</td><td>$0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kyrgyzstan </td><td> $0.19/kilo</td><td>$0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Moldova </td><td> $0.21/kilo</td><td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia </td><td> $0.21/kilo</td><td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Azerbaijan </td><td> $0.22/kilo</td><td>$0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.23/kilo</td><td>$0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.24/kilo</td><td>$0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $0.24/kilo</td><td>$0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $0.24/kilo</td><td>$0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td> $0.26/kilo</td><td>$0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.28/kilo</td><td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.28/kilo</td><td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.29/kilo</td><td>$0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.30/kilo</td><td>$0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.32/kilo</td><td>$0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Carrot Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Switzerland </td><td> $3.09/kilo</td><td>$1.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $2.77/kilo</td><td>$1.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $2.76/kilo</td><td>$1.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $2.73/kilo</td><td>$1.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $2.71/kilo</td><td>$1.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $2.68/kilo</td><td>$1.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $2.67/kilo</td><td>$1.21/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.63/kilo</td><td>$1.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $2.60/kilo</td><td>$1.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $2.55/kilo</td><td>$1.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $2.52/kilo</td><td>$1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $2.49/kilo</td><td>$1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $2.44/kilo</td><td>$1.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $2.37/kilo</td><td>$1.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $2.34/kilo</td><td>$1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $2.24/kilo</td><td>$1.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $2.15/kilo</td><td>$0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $1.90/kilo</td><td>$0.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.73/kilo</td><td>$0.79/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.54/kilo</td><td>$0.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Carrot Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 50.2%</td></tr>
<tr><td>Uzbekistan </td><td> 5.6%</td></tr>
<tr><td>Russia </td><td> 4.8%</td></tr>
<tr><td>United States </td><td> 3.3%</td></tr>
<tr><td>Ukraine </td><td> 3.0%</td></tr>
<tr><td>India </td><td> 2.7%</td></tr>
<tr><td>Iran </td><td> 2.2%</td></tr>
<tr><td>Egypt </td><td> 1.8%</td></tr>
<tr><td>Poland </td><td> 1.6%</td></tr>
<tr><td>Turkey </td><td> 1.5%</td></tr>
<tr><td>Japan </td><td> 1.5%</td></tr>
<tr><td>United Kingdom </td><td> 1.5%</td></tr>
<tr><td>France </td><td> 1.4%-<tr><td>Spain </td><td> 1.2%</td></tr>
<tr><td>Germany </td><td> 1.1%</td></tr>
<tr><td>Italy </td><td> 1.0%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Brazil </td><td> 0.8%</td></tr>
<tr><td>South Korea </td><td> 0.7%</td></tr>
<tr><td>Netherlands </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Carrot Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States</td><td> June-November</td></tr>
<tr><td>China</td><td> October-April</td></tr>
<tr><td>Uzbekistan</td><td> March-June</td></tr>
<tr><td>Russia</td><td> May-August</td></tr>
<tr><td>Ukraine</td><td> August-November</td></tr>
<tr><td>Poland</td><td> May-July</td></tr>
<tr><td>United Kingdom</td><td> June-October</td></tr>
<tr><td>Turkey</td><td> November-April</td></tr>
<tr><td>Germany</td><td> June-August</td></tr>
<tr><td>France</td><td> June-October</td></tr>
<tr><td>Canada</td><td> June-October</td></tr>
<tr><td>Italy</td><td> October-March</td></tr>
<tr><td>Spain</td><td> September-May</td></tr>
<tr><td>Mexico</td><td> August-February</td></tr>
<tr><td>Australia</td><td> March-September</td></tr>
<tr><td>Brazil</td><td> May-September</td></tr>
<tr><td>Egypt</td><td> October-February</td></tr>
<tr><td>South Africa</td><td> February-August</td></tr>
<tr><td>India</td><td> October-February</td></tr>
<tr><td>Japan</td><td> April-November</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Carrot Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td> 47%</td></tr>
<tr><td>Uzbekistan</td><td> 7%</td></tr>
<tr><td>Russia</td><td> 6%</td></tr>
<tr><td>United States</td><td> 3%</td></tr>
<tr><td>Ukraine</td><td> 3%</td></tr>
<tr><td>Poland</td><td> 3%</td></tr>
<tr><td>Iran</td><td> 2%</td></tr>
<tr><td>Turkey</td><td> 2%</td></tr>
<tr><td>India</td><td> 2%</td></tr>
<tr><td>Egypt</td><td> 1%</td></tr>
<tr><td>Spain</td><td> 1%</td></tr>
<tr><td>Japan</td><td> 1%</td></tr>
<tr><td>Mexico</td><td> 1%</td></tr>
<tr><td>South Korea</td><td> 1%</td></tr>
<tr><td>Germany</td><td> 1%</td></tr>
<tr><td>Belarus</td><td> 1%</td></tr>
<tr><td>France</td><td> 1%</td></tr>
<tr><td>Italy</td><td> 1%</td></tr>
<tr><td>Canada</td><td> 1%</td></tr>
<tr><td>Netherlands</td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Carrot Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Kenya</td><td> 0.9%</td></tr>
<tr><td>Zimbabwe</td><td> 0.8%</td></tr>
<tr><td>Argentina</td><td> 0.7%</td></tr>
<tr><td>Chile</td><td> 0.7%</td></tr>
<tr><td>Australia</td><td> 0.7%</td></tr>
<tr><td>United Kingdom</td><td> 0.6%</td></tr>
<tr><td>Romania</td><td> 0.6%</td></tr>
<tr><td>Bulgaria</td><td> 0.6%</td></tr>
<tr><td>Hungary</td><td> 0.5%</td></tr>
<tr><td>Serbia</td><td> 0.5%</td></tr>
<tr><td>Portugal</td><td> 0.4%</td></tr>
<tr><td>Belgium</td><td> 0.4%</td></tr>
<tr><td>New Zealand</td><td> 0.4%</td></tr>
<tr><td>Czech Republic</td><td> 0.4%</td></tr>
<tr><td>Austria</td><td> 0.4%</td></tr>
<tr><td>Denmark</td><td> 0.3%</td></tr>
<tr><td>Slovakia</td><td> 0.3%</td></tr>
<tr><td>Sweden</td><td> 0.3%</td></tr>
<tr><td>Switzerland</td><td> 0.3%</td></tr>
<tr><td>Norway</td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Carrot Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia</td><td> 13.4%</td></tr>
<tr><td>United Kingdom</td><td> 7.6%</td></tr>
<tr><td>Germany</td><td> 7.1%</td></tr>
<tr><td>Poland</td><td> 6.7%</td></tr>
<tr><td>United States</td><td> 6.4%</td></tr>
<tr><td>Ukraine</td><td> 4.4%</td></tr>
<tr><td>Turkey</td><td> 4.1%</td></tr>
<tr><td>France</td><td> 3.7%</td></tr>
<tr><td>Italy</td><td> 3.4%</td></tr>
<tr><td>China</td><td> 2.7%</td></tr>
<tr><td>Japan</td><td> 2.7%</td></tr>
<tr><td>Canada</td><td> 2.4%</td></tr>
<tr><td>South Korea</td><td> 2.3%</td></tr>
<tr><td>Spain</td><td> 2.2%</td></tr>
<tr><td>Brazil</td><td> 1.6%</td></tr>
<tr><td>Mexico</td><td> 1.6%</td></tr>
<tr><td>Netherlands</td><td> 1.6%</td></tr>
<tr><td>Australia</td><td> 1.3%</td></tr>
<tr><td>Iran</td><td> 1.3%</td></tr>
<tr><td>Romania</td><td> 1.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Carrot Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Chiquita Brands International, Inc. </td><td> USA</td></tr>
<tr><td>Del Monte Foods, Inc. </td><td> USA</td></tr>
<tr><td>Total Produce PLC </td><td> Ireland</td></tr>
<tr><td>D'Arrigo Bros. Co. of California </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td> USA</td></tr>
<tr><td>Capespan Group Limited </td><td> South Africa</td></tr>
<tr><td>Costa Group Holdings Lmd </td><td> Australia</td></tr>
<tr><td>Fyffes PLC </td><td> Ireland</td></tr>
<tr><td>The Giumarra Companies </td><td> USA</td></tr>
<tr><td>Jaguar Fruit Co. Ltd. </td><td> Thailand</td></tr>
<tr><td>Premier Fruit Company </td><td> USA</td></tr>
<tr><td>Ciruli Brothers, LLC </td><td> USA</td></tr>
<tr><td>Compagnie Fruitière SA </td><td> France</td></tr>
<tr><td>Oppy </td><td> USA</td></tr>
<tr><td>Produce World Group  </td><td> UK</td></tr>
<tr><td>Quebec Distributing  </td><td> Canada</td></tr>
<tr><td>Robinson Fresh </td><td> USA</td></tr>
<tr><td>The Sholl Group </td><td> Australia</td></tr>
<tr><td>Wonderful Citrus </td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Carrot Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Grimmway Farms </td><td> USA</td></tr>
<tr><td>Bolthouse Farms </td><td> USA</td></tr>
<tr><td>Cal Organic Farms </td><td> USA</td></tr>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td> USA</td></tr>
<tr><td>Tanimura & Antle </td><td> USA</td></tr>
<tr><td>Greenyard NV </td><td> Belgium</td></tr>
<tr><td>Hebei Agrilinks Imp. & Exp. Co., Ltd. </td><td> China</td></tr>
<tr><td>HZPC Holland BV </td><td> Netherlands</td></tr>
<tr><td>Kultana Orchards Pty Ltd </td><td> Australia</td></tr>
<tr><td>La Garenne </td><td> France</td></tr>
<tr><td>Mann Packing Co., Inc. </td><td> USA</td></tr>
<tr><td>McCain Foods Limited </td><td> Canada</td></tr>
<tr><td>Moderna Agri Industries Limited </td><td> India</td></tr>
<tr><td>Nantong Jiafeng Foods Co., Ltd. </td><td> China</td></tr>
<tr><td>Pinguin N.V. </td><td> Belgium</td></tr>
<tr><td>Shanxi Qinghe Trading Co., Ltd. </td><td> China</td></tr>
<tr><td>Sinokrot Global Group </td><td> Palestine</td></tr>
<tr><td>The Pictsweet Company </td><td> USA</td></tr>
<tr><td>Wm. Bolthouse Farms, Inc. </td><td> USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Carrot Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health Benefits: Carrots are rich in vitamins, minerals, and antioxidants, which contribute to their growing popularity among health-conscious consumers who seek nutrient-dense foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO carrots is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Convenience Foods: The demand for convenient, pre-packaged, and ready-to-eat carrot products, such as baby carrots, pre-cut carrot sticks, and shredded carrots, is increasing as consumers seek healthier and time-saving food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: The culinary versatility of carrots is inspiring chefs and home cooks to incorporate them into various dishes, driving demand for the vegetable. This includes traditional recipes and innovative fusion dishes, appealing to a broader range of consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Baby Carrots and Snacking: The popularity of baby carrots as a healthy snack option is driving demand for this segment of the carrot market, particularly in Western countries.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-based Diets: The growing popularity of plant-based diets, such as veganism and vegetarianism, is boosting the demand for nutrient-rich vegetables like carrots, as consumers seek alternatives to animal-based protein sources.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in carrot cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to carrot production, including increased frequency of droughts, flooding, and extreme temperatures. Researchers and farmers are working to develop carrot varieties that can withstand these challenges to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical Farming: Advances in vertical farming technologies are enabling the cultivation of carrots in controlled environments, optimizing growth conditions and reducing the reliance on natural resources, potentially making carrot production more sustainable and efficient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the carrot market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>

</div>


</div>

</body>
</html>


