<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}

.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cassava-min.jpg"),:size => "100x100" %>
         
           <h4>Barley Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $40 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 18.6 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Cassava crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, cassava is vulnerable to drought, pests such as cassava mealybug and spider mites, and diseases such as cassava mosaic and brown streak virus, which can reduce yields and quality. Additionally, cassava processing is complex and can be subject to issues such as cyanide poisoning if not done correctly, which can impact the safety and quality of cassava products.
From a strategic standpoint, the potential export opportunities for cassava can be significant for producers. Exporting cassava products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, cassava is a versatile crop that can be used in a variety of applications, including food, animal feed, and industrial use, providing multiple opportunities for export growth. For example, the global market for cassava is expected to grow due to increasing demand for cassava-based products such as starch and flour, with some estimates suggesting that the global cassava market could reach over $50 billion by 2027, representing a growth of over 5% per year.
</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Barley Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 12.8%</td></tr>
<tr><td>Netherlands </td><td> 9.1%</td></tr>
<tr><td>Belgium </td><td> 8.6%</td></tr>
<tr><td>Spain </td><td> 7.3%</td></tr>
<tr><td>Germany </td><td> 6.1%</td></tr>
<tr><td>United States </td><td> 5.6%</td></tr>
<tr><td>Italy </td><td> 4.9%</td></tr>
<tr><td>Japan </td><td> 3.8%</td></tr>
<tr><td>France </td><td> 3.2%</td></tr>
<tr><td>United Kingdom </td><td> 3.1%</td></tr>
<tr><td>Thailand </td><td> 2.5%</td></tr>
<tr><td>Malaysia </td><td> 2.4%</td></tr>
<tr><td>Poland </td><td> 1.8%</td></tr>
<tr><td>Vietnam </td><td> 1.6%</td></tr>
<tr><td>Canada </td><td> 1.5%</td></tr>
<tr><td>South Korea </td><td> 1.4%</td></tr>
<tr><td>Russia </td><td> 1.4%</td></tr>
<tr><td>Portugal </td><td> 1.3%</td></tr>
<tr><td>Mexico </td><td> 1.3%</td></tr>
<tr><td>India </td><td> 1.2%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Barley Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Thailand </td><td> 22.1%</td></tr>
<tr><td>Nigeria </td><td> 16.8%</td></tr>
<tr><td>Brazil </td><td> 14.9%</td></tr>
<tr><td>Cambodia </td><td> 4.4%</td></tr>
<tr><td>Indonesia </td><td> 4.1%</td></tr>
<tr><td>Vietnam </td><td> 3.8%</td></tr>
<tr><td>Ghana </td><td> 3.4%</td></tr>
<tr><td>Colombia </td><td> 2.9%</td></tr>
<tr><td>Costa Rica </td><td> 2.4%</td></tr>
<tr><td>Paraguay </td><td> 2.1%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Tanzania </td><td> 1.8%</td></tr>
<tr><td>Uganda </td><td> 1.7%</td></tr>
<tr><td>India </td><td> 1.7%</td></tr>
<tr><td>Ecuador </td><td> 1.6%</td></tr>
<tr><td>Peru </td><td> 1.5%</td></tr>
<tr><td>Malaysia </td><td> 1.5%</td></tr>
<tr><td>Angola </td><td> 1.4%</td></tr>
<tr><td>Mexico </td><td> 1.3%</td></tr>
<tr><td>Madagascar </td><td> 1.2%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Barley Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Democratic Republic of Congo</td><td> $0.15/kg</td><td> $0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania</td><td> $0.17/kg</td><td> $0.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $0.16/kg</td><td> $0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mozambique</td><td> $0.25/kg</td><td> $0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $0.20/kg</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana</td><td> $0.25/kg</td><td> $0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda</td><td> $0.26/kg</td><td> $0.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Benin</td><td> $0.19/kg</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia</td><td> $0.30/kg</td><td> $0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam</td><td> $0.20/kg</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia</td><td> $0.28/kg</td><td> $0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.25/kg</td><td> $0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $0.20/kg</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines</td><td> $0.30/kg</td><td> $0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $0.22/kg</td><td> $0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cameroon</td><td> $0.33/kg</td><td> $0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Angola</td><td> $0.40/kg</td><td> $0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Rwanda</td><td> $0.28/kg</td><td> $0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar</td><td> $0.33/kg</td><td> $0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $0.30/kg</td><td> $0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Barley Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States</td><td> $2.50/kg</td><td> $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $2.20/kg</td><td> $1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $1.85/kg</td><td> $0.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $2.40/kg</td><td> $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $2.50/kg</td><td> $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $2.50/kg</td><td> $1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $2.20/kg</td><td> $1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $2.00/kg</td><td> $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $2.20/kg</td><td> $1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $2.40/kg</td><td> $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $2.30/kg</td><td> $1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $2.00/kg</td><td> $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $2.00/kg</td><td> $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $1.20/kg</td><td> $0.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $0.22/kg</td><td> $0.10/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.25/kg</td><td> $0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $0.20/kg</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia</td><td> $0.28/kg</td><td> $0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia</td><td> $0.30/kg</td><td> $0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar</td><td> $0.33/kg</td><td> $0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Barley Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 20.6%</td></tr>
<tr><td>Thailand </td><td> 14.7%</td></tr>
<tr><td>Indonesia </td><td> 9.1%</td></tr>
<tr><td>Brazil </td><td> 7.4%</td></tr>
<tr><td>Congo </td><td> 4.4%</td></tr>
<tr><td>Angola </td><td> 4.1%</td></tr>
<tr><td>Ghana </td><td> 3.5%</td></tr>
<tr><td>Tanzania </td><td> 3.1%</td></tr>
<tr><td>Mozambique </td><td> 2.7%</td></tr>
<tr><td>Cambodia </td><td> 2.5%</td></tr>
<tr><td>India </td><td> 2.3%</td></tr>
<tr><td>Vietnam </td><td> 2.3%</td></tr>
<tr><td>Uganda </td><td> 1.8%</td></tr>
<tr><td>Colombia </td><td> 1.8%</td></tr>
<tr><td>Madagascar </td><td> 1.6%</td></tr>
<tr><td>Ivory Coast </td><td> 1.5%</td></tr>
<tr><td>Rwanda </td><td> 1.4%</td></tr>
<tr><td>Benin </td><td> 1.4%</td></tr>
<tr><td>Malawi </td><td> 1.4%</td></tr>
<tr><td>Philippines </td><td> 1.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Barley Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> January to December</td></tr>
<tr><td>Thailand </td><td> June to February</td></tr>
<tr><td>Indonesia </td><td> Year-round</td></tr>
<tr><td>Brazil </td><td> Year-round</td></tr>
<tr><td>Congo </td><td> Year-round</td></tr>
<tr><td>Ghana </td><td> Feb to Aug-Oct to Dec</td></tr>
<tr><td>Angola </td><td> Year-round</td></tr>
<tr><td>Tanzania </td><td> Year-round</td></tr>
<tr><td>Madagascar </td><td> Year-round</td></tr>
<tr><td>Uganda </td><td> Apr to June-Aug to Dec</td></tr>
<tr><td>Mozambique </td><td> Year-round</td></tr>
<tr><td>Cambodia </td><td> January to December</td></tr>
<tr><td>Vietnam </td><td> Year-round</td></tr>
<tr><td>Colombia </td><td> Year-round</td></tr>
<tr><td>India </td><td> Year-round</td></tr>
<tr><td>Kenya </td><td> Year-round</td></tr>
<tr><td>Sierra Leone </td><td> Year-round</td></tr>
<tr><td>Rwanda </td><td> Year-round</td></tr>
<tr><td>Guinea </td><td> Year-round</td></tr>
<tr><td>Philippines </td><td> Year-round</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Barley Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 18.3%</td></tr>
<tr><td>Thailand </td><td> 12.4%</td></tr>
<tr><td>Democratic Republic of the Congo </td><td> 7.2%</td></tr>
<tr><td>Indonesia </td><td> 6.8%</td></tr>
<tr><td>Brazil </td><td> 5.9%</td></tr>
<tr><td>Angola </td><td> 4.7%</td></tr>
<tr><td>Ghana </td><td> 3.4%</td></tr>
<tr><td>Tanzania </td><td> 3.3%</td></tr>
<tr><td>Mozambique </td><td> 3.2%</td></tr>
<tr><td>Cambodia </td><td> 2.6%</td></tr>
<tr><td>Madagascar </td><td> 2.4%</td></tr>
<tr><td>Colombia </td><td> 2.3%</td></tr>
<tr><td>India </td><td> 1.9%</td></tr>
<tr><td>Peru </td><td> 1.7%</td></tr>
<tr><td>Vietnam </td><td> 1.7%</td></tr>
<tr><td>Uganda </td><td> 1.5%</td></tr>
<tr><td>Rwanda </td><td> 1.4%</td></tr>
<tr><td>Cameroon </td><td> 1.2%</td></tr>
<tr><td>Myanmar </td><td> 1.1%</td></tr>
<tr><td>China </td><td> 0.9%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Barley Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>New Zealand </td><td> 0.001%</td></tr>
<tr><td>United States </td><td> 0.002%</td></tr>
<tr><td>Australia </td><td> 0.003%</td></tr>
<tr><td>Japan </td><td> 0.007%</td></tr>
<tr><td>Canada </td><td> 0.008%</td></tr>
<tr><td>United Kingdom </td><td> 0.01%</td></tr>
<tr><td>Spain </td><td> 0.01%</td></tr>
<tr><td>Italy </td><td> 0.01%</td></tr>
<tr><td>France </td><td> 0.01%</td></tr>
<tr><td>Germany </td><td> 0.02%</td></tr>
<tr><td>South Korea </td><td> 0.03%</td></tr>
<tr><td>Netherlands </td><td> 0.03%</td></tr>
<tr><td>Belgium </td><td> 0.04%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.04%</td></tr>
<tr><td>Israel </td><td> 0.04%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.04%</td></tr>
<tr><td>Switzerland </td><td> 0.05%</td></tr>
<tr><td>Austria </td><td> 0.05%</td></tr>
<tr><td>Kuwait </td><td> 0.06%</td></tr>
<tr><td>Singapore </td><td> 0.06%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Barley Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 20.2%</td></tr>
<tr><td>Democratic Republic of the Congo </td><td> 6.3%</td></tr>
<tr><td>Indonesia </td><td> 5.5%</td></tr>
<tr><td>Thailand </td><td> 4.6%</td></tr>
<tr><td>Brazil </td><td> 4.4%</td></tr>
<tr><td>Ghana </td><td> 4.2%</td></tr>
<tr><td>Angola </td><td> 4.1%</td></tr>
<tr><td>Mozambique </td><td> 3.7%</td></tr>
<tr><td>Tanzania </td><td> 3.6%</td></tr>
<tr><td>Uganda </td><td> 2.7%</td></tr>
<tr><td>Rwanda </td><td> 2.5%</td></tr>
<tr><td>Cameroon </td><td> 2.4%</td></tr>
<tr><td>Madagascar </td><td> 2.1%</td></tr>
<tr><td>Kenya </td><td> 1.8%</td></tr>
<tr><td>China </td><td> 1.7%</td></tr>
<tr><td>Vietnam </td><td> 1.6%</td></tr>
<tr><td>Benin </td><td> 1.4%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 1.3%</td></tr>
<tr><td>India </td><td> 1.3%</td></tr>
<tr><td>Haiti </td><td> 1.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Barley Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Ltd </td><td> Singapore</td></tr>
<tr><td>Archer Daniels Midland </td><td> USA</td></tr>
<tr><td>Cargill Inc. </td><td> USA</td></tr>
<tr><td>Glencore International AG </td><td> Switzerland</td></tr>
<tr><td>Louis Dreyfus Company </td><td> Netherlands</td></tr>
<tr><td>Wilmar International </td><td> Singapore</td></tr>
<tr><td>Bunge Limited </td><td> USA</td></tr>
<tr><td>Sumitomo Corporation </td><td> Japan</td></tr>
<tr><td>Sodrugestvo Group S.A. </td><td> Luxembourg</td></tr>
<tr><td>Dangote Industries Limited </td><td> Nigeria</td></tr>
<tr><td>Barry Callebaut AG </td><td> Switzerland</td></tr>
<tr><td>COFCO International </td><td> Netherlands</td></tr>
<tr><td>Marubeni Corporation </td><td> Japan</td></tr>
<tr><td>GrainCorp Limited </td><td> Australia</td></tr>
<tr><td>Noble Group Limited </td><td> Hong Kong</td></tr>
<tr><td>Mitsui & Co. Ltd </td><td> Japan</td></tr>
<tr><td>Al Dahra ACX Global </td><td> UAE</td></tr>
<tr><td>Richardson International Limited </td><td> Canada</td></tr>
<tr><td>ECOM Agroindustrial Corp. Ltd </td><td> Switzerland</td></tr>
<tr><td>Toyota Tsusho Corporation </td><td> Japan</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Barley Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Felda Global Ventures </td><td> Malaysia</td></tr>
<tr><td>Guangxi Fengtai Agriculture Development Co. Ltd </td><td> China</td></tr>
<tr><td>Thai Wah Public Company Limited </td><td> Thailand</td></tr>
<tr><td>GrainCorp Limited </td><td> Australia</td></tr>
<tr><td>Comet Feeds Limited </td><td> Nigeria</td></tr>
<tr><td>Tapioca Development Corporation of Thailand </td><td> Thailand</td></tr>
<tr><td>Afritec Seeds Limited </td><td> Kenya</td></tr>
<tr><td>Dangote Industries Limited </td><td> Nigeria</td></tr>
<tr><td>DADTCO </td><td> Netherlands</td></tr>
<tr><td>Sharaf Group </td><td> UAE</td></tr>
<tr><td>Menon Renewable Products </td><td> India</td></tr>
<tr><td>Yamato Green Co. Ltd </td><td> Japan</td></tr>
<tr><td>Peacock Allied Products Pvt. Ltd </td><td> India</td></tr>
<tr><td>Guangxi Beihai Tapioca Flour Factory </td><td> China</td></tr>
<tr><td>Alvan Blanch Development Company Limited </td><td> UK</td></tr>
<tr><td>Mitra Agro Equipments Private Limited </td><td> India</td></tr>
<tr><td>Guangxi Qiubei County Tapioca Starch Factory </td><td> China</td></tr>
<tr><td>Jiangsu Zhongliang Machinery Co. Ltd </td><td> China</td></tr>
<tr><td>Qingdao Hantone International Trading Corporation </td><td> China</td></tr>
<tr><td>Asia Pacific Tropical Agriculture and Rural Training Center </td><td> Philippines</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Barley Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Staple Food Demand: As a primary source of calories in many African, Latin American, and Asian countries, cassava remains an essential staple food. The growing population in these regions drives the demand for cassava.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Animal Feed: Cassava is increasingly being used as an ingredient in animal feed, particularly for poultry, swine, and aquaculture, due to its high starch content and relatively low cost compared to other feed ingredients.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Biofuel Production: Cassava is gaining traction as a biofuel feedstock, particularly for ethanol production, due to its high starch content, rapid growth, and adaptability to various climates and soil conditions.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Industrial Applications: Cassava starch is used in various industrial applications, including food processing, pharmaceuticals, textiles, and paper industries, driving demand for the crop.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Cassava is considered a climate-resilient crop due to its ability to withstand drought and poor soil conditions. As climate change impacts agricultural systems globally, the importance of cassava in ensuring food security is expected to increase.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Farming Practices: There is a growing emphasis on sustainable farming practices in cassava cultivation, such as intercropping, conservation agriculture, and integrated pest management.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Disease and Pest Resistance: Researchers and breeders are working to develop disease-resistant and pest-resistant cassava varieties to mitigate the impacts of pests and diseases on cassava production and ensure food security.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Genetic Improvement: Advances in biotechnology and plant breeding are helping to develop improved cassava varieties with higher yields, better nutritional content, and enhanced resistance to diseases and pests.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Value-Added Products: There is a growing interest in developing value-added products from cassava, such as fortified flour, gluten-free flour, and snack foods, which can increase the crop's market value and consumer appeal.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the cassava market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
</div>


</div>

</body>
</html>

