<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}

.newsdata {
height: 850px;
overflow-y: scroll;
}

</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cauliflower-min.jpg"),:size => "100x100" %>
         
           <h4>Cauliflower Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $29.4 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 13 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Cauliflower crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, cauliflower is vulnerable to heat stress, moisture stress, and pests such as aphids, flea beetles, and cabbage worms, which can reduce yields and quality. Additionally, diseases such as black rot and clubroot can reduce the yield and quality of cauliflower.
From a strategic standpoint, the potential export opportunities for cauliflower can be significant for producers. Exporting cauliflower products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, exporting cauliflower can provide access to new markets, potentially increasing revenue and profitability. For example, the global market for cauliflower is expected to grow due to increasing demand for healthy and nutritious food options, with some estimates suggesting that the global cauliflower market could reach over $9 billion by 2027, representing a growth of over 7% per year.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Cauliflower Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td>9.5%</td></tr>
<tr><td>United Kingdom </td><td>8.5%</td></tr>
<tr><td>France </td><td>7.2%</td></tr>
<tr><td>Netherlands </td><td>6.1%</td></tr>
<tr><td>Belgium </td><td>5.3%</td></tr>
<tr><td>Spain </td><td>5.2%</td></tr>
<tr><td>Italy </td><td>4.6%</td></tr>
<tr><td>Canada </td><td>4.2%</td></tr>
<tr><td>Poland </td><td>2.8%</td></tr>
<tr><td>Russia </td><td>2.6%</td></tr>
<tr><td>Switzerland </td><td>2.5%</td></tr>
<tr><td>Sweden </td><td>1.9%</td></tr>
<tr><td>Austria </td><td>1.9%</td></tr>
<tr><td>Czech Republic </td><td>1.8%</td></tr>
<tr><td>Denmark </td><td>1.7%</td></tr>
<tr><td>Norway </td><td>1.3%</td></tr>
<tr><td>Japan </td><td>1.3%</td></tr>
<tr><td>Hungary </td><td>1.3%</td></tr>
<tr><td>Finland </td><td>1.2%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cauliflower Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td>11.5%</td></tr>
<tr><td>United States </td><td>10.2%</td></tr>
<tr><td>Netherlands </td><td>9.7%</td></tr>
<tr><td>China </td><td>6.8%</td></tr>
<tr><td>Italy </td><td>4.6%</td></tr>
<tr><td>France </td><td>4.5%</td></tr>
<tr><td>Turkey </td><td>3.7%</td></tr>
<tr><td>India </td><td>3.5%</td></tr>
<tr><td>United Kingdom </td><td>2.9%</td></tr>
<tr><td>Belgium </td><td>2.7%</td></tr>
<tr><td>Morocco </td><td>2.5%</td></tr>
<tr><td>Germany </td><td>2.3%</td></tr>
<tr><td>Egypt </td><td>1.8%</td></tr>
<tr><td>Canada </td><td>1.7%</td></tr>
<tr><td>Jordan </td><td>1.2%</td></tr>
<tr><td>Thailand </td><td>1.1%</td></tr>
<tr><td>Pakistan </td><td>1.1%</td></tr>
<tr><td>Tunisia </td><td>1.0%</td></tr>
<tr><td>Iran </td><td>0.9%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Cauliflower Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India</td><td> $0.53/kg</td><td> $0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $0.56/kg</td><td> $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $0.58/kg</td><td> $0.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal</td><td> $0.61/kg</td><td> $0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka</td><td> $0.70/kg</td><td> $0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines</td><td> $0.84/kg</td><td> $0.38/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam</td><td> $0.93/kg</td><td> $0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $0.96/kg</td><td> $0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $1.08/kg</td><td> $0.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya</td><td> $1.16/kg</td><td> $0.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia</td><td> $1.19/kg</td><td> $0.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $1.22/kg</td><td> $0.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia</td><td> $1.25/kg</td><td> $0.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador</td><td> $1.28/kg</td><td> $0.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $1.28/kg</td><td> $0.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $1.32/kg</td><td> $0.60/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $1.37/kg</td><td> $0.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td><td> $1.40/kg</td><td> $0.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa</td><td> $1.40/kg</td><td> $0.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $1.41/kg</td><td> $0.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Cauliflower Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Norway</td><td> $7.82/kg</td><td> $3.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $7.28/kg</td><td> $3.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates</td><td> $6.91/kg</td><td> $3.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td> $6.53/kg</td><td> $2.97/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $6.50/kg</td><td> $2.96/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar</td><td> $6.45/kg</td><td> $2.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td> $6.31/kg</td><td> $2.87/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $6.20/kg</td><td> $2.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td><td> $5.98/kg</td><td> $2.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $5.95/kg</td><td> $2.71/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $5.75/kg</td><td> $2.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td> $5.72/kg</td><td> $2.60/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $5.69/kg</td><td> $2.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait</td><td> $5.66/kg</td><td> $2.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $5.62/kg</td><td> $2.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $5.60/kg</td><td> $2.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman</td><td> $5.59/kg</td><td> $2.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain</td><td> $5.54/kg</td><td> $2.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $5.48/kg</td><td> $2.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $5.45/kg</td><td> $2.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Cauliflower Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 48.1%</td></tr>
<tr><td>India </td><td> 10.2%</td></tr>
<tr><td>Spain </td><td> 7.2%</td></tr>
<tr><td>Italy </td><td> 6.1%</td></tr>
<tr><td>Turkey </td><td> 4.4%</td></tr>
<tr><td>United States </td><td> 2.8%</td></tr>
<tr><td>Iran </td><td> 2.1%</td></tr>
<tr><td>France </td><td> 1.8%</td></tr>
<tr><td>Egypt </td><td> 1.6%</td></tr>
<tr><td>Ukraine </td><td> 1.3%</td></tr>
<tr><td>Mexico </td><td> 1.3%</td></tr>
<tr><td>South Korea </td><td> 1.2%</td></tr>
<tr><td>Uzbekistan </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.1%</td></tr>
<tr><td>Morocco </td><td> 1.0%</td></tr>
<tr><td>Russia </td><td> 0.9%</td></tr>
<tr><td>Bangladesh </td><td> 0.8%</td></tr>
<tr><td>Japan </td><td> 0.7%</td></tr>
<tr><td>Algeria </td><td> 0.7%</td></tr>
<tr><td>Romania </td><td> 0.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Cauliflower Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>China </td><td> August to Oct</td></tr>
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>Spain </td><td> Sep to Dec</td></tr>
<tr><td>Italy </td><td> Sep to Dec</td></tr>
<tr><td>Turkey </td><td> Oct to May</td></tr>
<tr><td>United States </td><td> June to Oct</td></tr>
<tr><td>Iran </td><td> Oct to Feb</td></tr>
<tr><td>France </td><td> August to Oct</td></tr>
<tr><td>Egypt </td><td> Oct to Feb</td></tr>
<tr><td>Ukraine </td><td> June to Sep</td></tr>
<tr><td>Mexico </td><td> November to April</td></tr>
<tr><td>South Korea </td><td> Apr to June-Sep to Nov</td></tr>
<tr><td>Uzbekistan </td><td> May to Sep</td></tr>
<tr><td>Poland </td><td> July to Oct</td></tr>
<tr><td>Morocco </td><td> Sep to Dec</td></tr>
<tr><td>Russia </td><td> June to Sep</td></tr>
<tr><td>Bangladesh </td><td> Oct to Feb</td></tr>
<tr><td>Japan </td><td> Sep to Nov-Feb to Apr</td></tr>
<tr><td>Algeria </td><td> Sep to Dec</td></tr>
<tr><td>Romania </td><td> June to Sep</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Cauliflower Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 27.5%</td></tr>
<tr><td>China </td><td> 23.1%</td></tr>
<tr><td>Spain </td><td> 5.9%</td></tr>
<tr><td>Italy </td><td> 4.2%</td></tr>
<tr><td>Turkey </td><td> 3.8%</td></tr>
<tr><td>Iran </td><td> 3.6%</td></tr>
<tr><td>United States </td><td> 3.4%</td></tr>
<tr><td>Egypt </td><td> 2.4%</td></tr>
<tr><td>France </td><td> 2.3%</td></tr>
<tr><td>Uzbekistan </td><td> 1.9%</td></tr>
<tr><td>Ukraine </td><td> 1.6%</td></tr>
<tr><td>Morocco </td><td> 1.4%</td></tr>
<tr><td>South Korea </td><td> 1.3%</td></tr>
<tr><td>Russia </td><td> 1.2%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.9%</td></tr>
<tr><td>Pakistan </td><td> 0.9%</td></tr>
<tr><td>Mexico </td><td> 0.8%</td></tr>
<tr><td>Algeria </td><td> 0.8%</td></tr>
<tr><td>Poland </td><td> 0.7%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Cauliflower Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bhutan </td><td> 0.04%</td></tr>
<tr><td>Suriname </td><td> 0.03%</td></tr>
<tr><td>Montenegro </td><td> 0.02%</td></tr>
<tr><td>Luxembourg </td><td> 0.02%</td></tr>
<tr><td>Cape Verde </td><td> 0.02%</td></tr>
<tr><td>San Marino </td><td> 0.02%</td></tr>
<tr><td>Andorra </td><td> 0.01%</td></tr>
<tr><td>Belize </td><td> 0.01%</td></tr>
<tr><td>Maldives </td><td> 0.01%</td></tr>
<tr><td>Liechtenstein </td><td> 0.01%</td></tr>
<tr><td>Monaco </td><td> 0.01%</td></tr>
<tr><td>Nauru </td><td> 0.01%</td></tr>
<tr><td>Dominica </td><td> 0.01%</td></tr>
<tr><td>Seychelles </td><td> 0.01%</td></tr>
<tr><td>Samoa </td><td> 0.01%</td></tr>
<tr><td>Tonga </td><td> 0.01%</td></tr>
<tr><td>Micronesia </td><td> 0.01%</td></tr>
<tr><td>Marshall Islands </td><td> 0.01%</td></tr>
<tr><td>Kiribati </td><td> 0.01%</td></tr>
<tr><td>Palau </td><td> 0.01%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cauliflower Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 28.4%</td></tr>
<tr><td>China </td><td> 25.4%</td></tr>
<tr><td>United States </td><td> 5.6%</td></tr>
<tr><td>Spain </td><td> 4.1%</td></tr>
<tr><td>Italy </td><td> 3.8%</td></tr>
<tr><td>Turkey </td><td> 2.7%</td></tr>
<tr><td>Iran </td><td> 2.6%</td></tr>
<tr><td>France </td><td> 2.3%</td></tr>
<tr><td>Egypt </td><td> 1.8%</td></tr>
<tr><td>Uzbekistan </td><td> 1.3%</td></tr>
<tr><td>South Korea </td><td> 1.2%</td></tr>
<tr><td>Ukraine </td><td> 1.1%</td></tr>
<tr><td>Mexico </td><td> 1.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 0.9%</td></tr>
<tr><td>Poland </td><td> 0.9%</td></tr>
<tr><td>Thailand </td><td> 0.8%</td></tr>
<tr><td>United Kingdom </td><td> 0.8%</td></tr>
<tr><td>Japan </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Cauliflower Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td> USA</td></tr>
<tr><td>The Kraft Heinz Company </td><td> USA</td></tr>
<tr><td>Chiquita Brands International </td><td> USA</td></tr>
<tr><td>Conagra Brands, Inc. </td><td> USA</td></tr>
<tr><td>The Hain Celestial Group, Inc. </td><td> USA</td></tr>
<tr><td>McCormick & Company, Incorporated </td><td> USA</td></tr>
<tr><td>Nestlé S.A. </td><td> Switzerland</td></tr>
<tr><td>Tyson Foods, Inc. </td><td> USA</td></tr>
<tr><td>Cargill, Inc. </td><td> USA</td></tr>
<tr><td>Sunkist Growers, Inc. </td><td> USA</td></tr>
<tr><td>Olam International Limited </td><td> Singapore</td></tr>
<tr><td>BRF S.A. </td><td> Brazil</td></tr>
<tr><td>Bunge Limited </td><td> USA</td></tr>
<tr><td>COFCO Corporation </td><td> China</td></tr>
<tr><td>Sumitomo Corporation </td><td> Japan</td></tr>
<tr><td>Louis Dreyfus Company B.V. </td><td> Netherlands</td></tr>
<tr><td>Archer Daniels Midland  </td><td> USA</td></tr>
<tr><td>Marubeni Corporation </td><td> Japan</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Cauliflower Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Fresh Del Monte Produce Inc. </td><td> USA</td></tr>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Bonduelle SCA </td><td> France</td></tr>
<tr><td>Chiquita Brands International </td><td> USA</td></tr>
<tr><td>United Farm Workers of America </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Total Produce PLC </td><td> Ireland</td></tr>
<tr><td>Driscoll's </td><td> USA</td></tr>
<tr><td>Village Farms International Inc. </td><td> Canada</td></tr>
<tr><td>Nature's Pride </td><td> Netherlands</td></tr>
<tr><td>Ardo NV </td><td> Belgium</td></tr>
<tr><td>Westfalia Fruit </td><td> South Africa</td></tr>
<tr><td>Calavo Growers Inc. </td><td> USA</td></tr>
<tr><td>SunOpta Inc. </td><td> Canada</td></tr>
<tr><td>Groupe Soufflet SAS </td><td> France</td></tr>
<tr><td>Grimmway Farms </td><td> USA</td></tr>
<tr><td>Bakkavor Group </td><td> UK</td></tr>
<tr><td>BerryWorld Group </td><td> UK</td></tr>
<tr><td>Grupo Altex </td><td> Mexico</td></tr>
<tr><td>Birtes </td><td> Turkey</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cauliflower Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Health Benefits: Cauliflower is a nutrient-dense vegetable, rich in vitamins, minerals, and antioxidants. The growing awareness of its health benefits is driving demand for the vegetable.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Diets: The popularity of plant-based diets, such as veganism and vegetarianism, is boosting the demand for nutrient-rich vegetables like cauliflower, as consumers seek alternatives to animal-based protein sources.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: The culinary versatility of cauliflower is inspiring chefs and home cooks to incorporate it into various dishes, driving demand for the vegetable. This includes traditional recipes and innovative fusion dishes, appealing to a broader range of consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO cauliflower is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Cauliflower Rice: The popularity of cauliflower rice as a low-carb, gluten-free alternative to traditional rice is increasing, leading to the development of various cauliflower rice products and recipes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Frozen and Processed Foods: The demand for convenient, pre-packaged, and ready-to-eat cauliflower products, such as frozen cauliflower rice, pre-cut cauliflower florets, and cauliflower-based pizza crusts, is growing as consumers seek healthier and time-saving food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a shift towards more sustainable agriculture practices in cauliflower cultivation, such as conservation tillage, precision farming, and integrated pest management. These practices aim to reduce water usage, decrease chemical inputs, and improve soil health.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Climate change poses significant challenges to cauliflower production, including increased frequency of droughts, flooding, and extreme temperatures. Researchers and farmers are working to develop cauliflower varieties that can withstand these challenges to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical Farming: Advances in vertical farming technologies are enabling the cultivation of cauliflower in controlled environments, optimizing growth conditions and reducing the reliance on natural resources, potentially making cauliflower production more sustainable and efficient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the cauliflower market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>

</div>


</div>

</body>
</html>

