<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("chicory-min.jpg"),:size => "100x100" %>
         
           <h4>Chicory Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $220 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 10,000 thousands hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Chicory crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, chicory is vulnerable to frost, excessive moisture, and pests such as aphids and flea beetles, which can reduce yields and quality. Additionally, diseases such as downy mildew and fusarium wilt can reduce the yield and quality of chicory.
From a strategic standpoint, the potential export opportunities for chicory can be significant for producers. Exporting chicory products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, chicory is a versatile crop that can be used in a variety of applications, including food, beverage, and dietary supplement, providing multiple opportunities for export growth. For example, the global market for chicory is expected to grow due to increasing demand for natural and functional food ingredients, with some estimates suggesting that the global chicory market could reach over $2.8 billion by 2026, representing a growth of over 4% per year.
</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Chicory Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 15.6%</td></tr>
<tr><td>Germany </td><td> 13.2%</td></tr>
<tr><td>France </td><td> 11.8%</td></tr>
<tr><td>Netherlands </td><td> 9.4%</td></tr>
<tr><td>UK </td><td> 6.7%</td></tr>
<tr><td>Belgium </td><td> 6.1%</td></tr>
<tr><td>Italy </td><td> 4.8%</td></tr>
<tr><td>Japan </td><td> 3.6%</td></tr>
<tr><td>Switzerland </td><td> 3.2%</td></tr>
<tr><td>Spain </td><td> 2.5%</td></tr>
<tr><td>Russia </td><td> 2.1%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 1.9%</td></tr>
<tr><td>Poland </td><td> 1.6%</td></tr>
<tr><td>Sweden </td><td> 1.5%</td></tr>
<tr><td>Austria </td><td> 1.4%</td></tr>
<tr><td>Czech Republic </td><td> 1.3%</td></tr>
<tr><td>Denmark </td><td> 1.2%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 0.9%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Chicory Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Netherlands </td><td> 25.7%</td></tr>
<tr><td>France </td><td> 20.3%</td></tr>
<tr><td>Belgium </td><td> 15.8%</td></tr>
<tr><td>Germany </td><td> 10.9%</td></tr>
<tr><td>China </td><td> 8.2%</td></tr>
<tr><td>USA </td><td> 4.6%</td></tr>
<tr><td>UK </td><td> 2.9%</td></tr>
<tr><td>Italy </td><td> 2.8%</td></tr>
<tr><td>Spain </td><td> 1.6%</td></tr>
<tr><td>Denmark </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Czech Republic </td><td> 0.8%</td></tr>
<tr><td>Russia </td><td> 0.8%</td></tr>
<tr><td>Switzerland </td><td> 0.7%</td></tr>
<tr><td>Poland </td><td> 0.7%</td></tr>
<tr><td>Canada </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.6%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>
<tr><td>Hungary </td><td> 0.4%</td></tr>
<tr><td>Slovakia </td><td> 0.4%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>


</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Chicory Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Argentina </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $1.90/kg</td><td> $0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $2.30/kg</td><td> $1.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.40/kg</td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $2.50/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Chicory Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $2.50/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.40/kg</td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $2.30/kg</td><td> $1.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $1.90/kg</td><td> $0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Chicory Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Belgium </td><td> 45.3%</td></tr>
<tr><td>France </td><td> 23.9%</td></tr>
<tr><td>Netherlands </td><td> 16.8%</td></tr>
<tr><td>Germany </td><td> 5.5%</td></tr>
<tr><td>Poland </td><td> 1.8%</td></tr>
<tr><td>China </td><td> 1.5%</td></tr>
<tr><td>USA </td><td> 0.8%</td></tr>
<tr><td>Italy </td><td> 0.8%</td></tr>
<tr><td>Czech Republic </td><td> 0.6%</td></tr>
<tr><td>UK </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.4%</td></tr>
<tr><td>Russia </td><td> 0.3%</td></tr>
<tr><td>Hungary </td><td> 0.3%</td></tr>
<tr><td>Denmark </td><td> 0.3%</td></tr>
<tr><td>Sweden </td><td> 0.3%</td></tr>
<tr><td>Slovakia </td><td> 0.3%</td></tr>
<tr><td>Australia </td><td> 0.2%</td></tr>
<tr><td>Romania </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Chicory Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Belgium</td><td> Oct to Feb</td></tr>
<tr><td>France</td><td> Sep to Mar</td></tr>
<tr><td>Italy</td><td> Sep to Feb</td></tr>
<tr><td>Netherlands</td><td> Oct to Feb</td></tr>
<tr><td>Spain</td><td> Sep to Feb</td></tr>
<tr><td>USA</td><td> Aug to Dec</td></tr>
<tr><td>UK</td><td> Oct to Feb</td></tr>
<tr><td>Germany</td><td> Oct to Feb</td></tr>
<tr><td>Poland</td><td> Aug to Sep-Mar to Apr</td></tr>
<tr><td>Austria</td><td> Sep to Feb</td></tr>
<tr><td>Czech Republic</td><td> Aug to Sep-Mar to Apr</td></tr>
<tr><td>Denmark</td><td> Sep to Feb</td></tr>
<tr><td>Slovakia</td><td> Aug to Sep-Mar to Apr</td></tr>
<tr><td>Switzerland</td><td> Sep to Feb</td></tr>
<tr><td>Sweden</td><td> Sep to Feb</td></tr>
<tr><td>Hungary</td><td> Aug to Sep-Mar to Apr</td></tr>
<tr><td>Canada</td><td> Aug to Dec</td></tr>
<tr><td>Romania</td><td> Aug to Sep-Mar to Apr</td></tr>
<tr><td>Ukraine</td><td> Aug to Sep-Mar to Apr</td></tr>
<tr><td>Serbia</td><td> Aug to Sep-Mar to Apr</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Chicory Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>Belgium </td><td> 45%</td></tr>
<tr><td>France </td><td> 19%</td></tr>
<tr><td>Netherlands </td><td> 18%</td></tr>
<tr><td>Italy </td><td> 6%</td></tr>
<tr><td>Germany </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Slovenia </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.5%</td></tr>
<tr><td>Austria </td><td> 0.4%</td></tr>
<tr><td>Portugal </td><td> 0.4%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>
<tr><td>Hungary </td><td> 0.2%</td></tr>
<tr><td>Greece </td><td> 0.2%</td></tr>
<tr><td>Bulgaria </td><td> 0.2%</td></tr>
<tr><td>Croatia </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Chicory Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Thailand </td><td> 0.06%</td></tr>
<tr><td>India </td><td> 0.07%</td></tr>
<tr><td>Brazil </td><td> 0.08%</td></tr>
<tr><td>Turkey </td><td> 0.10%</td></tr>
<tr><td>Indonesia </td><td> 0.12%</td></tr>
<tr><td>Malaysia </td><td> 0.13%</td></tr>
<tr><td>Pakistan </td><td> 0.15%</td></tr>
<tr><td>Egypt </td><td> 0.19%</td></tr>
<tr><td>Nigeria </td><td> 0.22%</td></tr>
<tr><td>Philippines </td><td> 0.23%</td></tr>
<tr><td>Vietnam </td><td> 0.27%</td></tr>
<tr><td>Iran </td><td> 0.30%</td></tr>
<tr><td>Mexico </td><td> 0.30%</td></tr>
<tr><td>South Africa </td><td> 0.32%</td></tr>
<tr><td>Argentina </td><td> 0.36%</td></tr>
<tr><td>Colombia </td><td> 0.40%</td></tr>
<tr><td>Peru </td><td> 0.45%</td></tr>
<tr><td>Venezuela </td><td> 0.48%</td></tr>
<tr><td>Chile </td><td> 0.52%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.57%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Chicory Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>France </td><td> 31.6%</td></tr>
<tr><td>Belgium </td><td> 24.3%</td></tr>
<tr><td>Netherlands </td><td> 14.2%</td></tr>
<tr><td>Italy </td><td> 8.1%</td></tr>
<tr><td>Germany </td><td> 5.9%</td></tr>
<tr><td>Spain </td><td> 4.3%</td></tr>
<tr><td>USA </td><td> 1.7%</td></tr>
<tr><td>UK </td><td> 1.3%</td></tr>
<tr><td>Switzerland </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Denmark </td><td> 0.6%</td></tr>
<tr><td>Czech Republic </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.4%</td></tr>
<tr><td>Finland </td><td> 0.4%</td></tr>
<tr><td>Australia </td><td> 0.4%</td></tr>
<tr><td>Norway </td><td> 0.3%</td></tr>
<tr><td>Japan </td><td> 0.3%</td></tr>
<tr><td>Ireland </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Chicory Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Farm Brothers </td><td> Netherlands</td></tr>
<tr><td>Leroux </td><td> France</td></tr>
<tr><td>Beneo </td><td> Germany</td></tr>
<tr><td>Belchim Crop Protection </td><td> Belgium</td></tr>
<tr><td>Cosucra </td><td> Belgium</td></tr>
<tr><td>Diederik Ingredients </td><td> Netherlands</td></tr>
<tr><td>FrieslandCampina Kievit </td><td> Netherlands</td></tr>
<tr><td>Nutriag </td><td> Canada</td></tr>
<tr><td>Martin Bauer Group </td><td> Germany</td></tr>
<tr><td>Bayliss Ingredients </td><td> UK</td></tr>
<tr><td>BioActor </td><td> Netherlands</td></tr>
<tr><td>Van der Plas Sprouts </td><td> Netherlands</td></tr>
<tr><td>Qiagen </td><td> Germany</td></tr>
<tr><td>Jan Dekker International </td><td> Netherlands</td></tr>
<tr><td>Tate & Lyle </td><td> UK</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Omega Ingredients </td><td> UK</td></tr>
<tr><td>Indigo Herbs </td><td> UK</td></tr>
<tr><td>Merck </td><td> Germany</td></tr>
<tr><td>Atacama Bio Natural Products </td><td> Chile</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Chicory Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Cosucra Groupe Warcoing </td><td> Belgium</td></tr>
<tr><td>Sensus B.V. </td><td> Netherlands</td></tr>
<tr><td>BeneOrafti S.A. </td><td> Belgium</td></tr>
<tr><td>Leroux </td><td> France</td></tr>
<tr><td>Farm Brothers </td><td> Netherlands</td></tr>
<tr><td>Tierra Farm </td><td> USA</td></tr>
<tr><td>Bayliss Ingredients </td><td> UK</td></tr>
<tr><td>Roquette Frères </td><td> France</td></tr>
<tr><td>Martin Bauer Group </td><td> Germany</td></tr>
<tr><td>Belchim Crop Protection </td><td> Belgium</td></tr>
<tr><td>Jan Dekker International </td><td> Netherlands</td></tr>
<tr><td>Givaudan </td><td> Switzerland</td></tr>
<tr><td>Florin AG </td><td> Switzerland</td></tr>
<tr><td>Indigo Herbs </td><td> UK</td></tr>
<tr><td>Van der Plas Sprouts </td><td> Netherlands</td></tr>
<tr><td>Naturex </td><td> France</td></tr>
<tr><td>S.A. SVZ </td><td> Netherlands</td></tr>
<tr><td>Biorigin </td><td> Brazil</td></tr>
<tr><td>Novagreen </td><td> France</td></tr>
<tr><td>Herbs Egypt </td><td> Egypt</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Chicory Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Coffee Substitute: The growing demand for natural and healthier alternatives to coffee has led to an increased interest in chicory, which is often used as a caffeine-free coffee substitute.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Prebiotic Fiber: Chicory root is a rich source of inulin, a prebiotic fiber that supports digestive health. The growing awareness of the importance of gut health is driving demand for chicory as a functional ingredient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Ingredients: As the demand for plant-based and natural ingredients in the food and beverage industry grows, chicory is being increasingly used in various applications, including bakery products, dairy alternatives, and functional beverages.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: With the increasing consumer interest in organic and non-GMO food products, the demand for organically grown and non-GMO chicory is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Functional Foods and Beverages: Chicory's potential health benefits are leading to its incorporation into a growing range of functional foods and beverages, such as energy bars, probiotic drinks, and meal replacement shakes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: Chefs and home cooks are experimenting with chicory leaves in salads and other dishes, while chicory root is being used in syrups and sweeteners for cooking and baking applications.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a growing emphasis on sustainable farming practices in chicory cultivation, such as crop rotation, intercropping, and integrated pest management, to improve soil health and reduce the environmental impact of farming.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Researchers and farmers are working to develop chicory varieties that can withstand the challenges posed by climate change, such as drought, flooding, and extreme temperatures, to ensure food security and maintain production levels.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">Vertical Farming: Advances in vertical farming technologies are enabling the cultivation of chicory in controlled environments, optimizing growth conditions and reducing the reliance on natural resources, potentially making chicory production more sustainable and efficient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the chicory market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
</div>


</div>


</body>
</html>

