<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cucumber-min.jpg"),:size => "100x100" %>
         
           <h4>Cucumber Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $7.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.7%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.8 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Cucumber crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, cucumbers are vulnerable to high temperatures, excessive moisture, and pests such as aphids and spider mites, which can reduce yields and quality. Additionally, diseases such as downy mildew and powdery mildew can reduce the yield and quality of cucumbers.
From a strategic standpoint, the potential export opportunities for cucumbers can be significant for producers. Exporting cucumber products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, cucumbers are a versatile crop that can be used in a variety of applications, including fresh produce, pickles, and salad dressings, providing multiple opportunities for export growth. For example, the global market for cucumbers is expected to grow due to increasing demand for healthy and convenient food options, with some estimates suggesting that the global cucumber market could reach over $60 billion by 2027, representing a growth of over 4% per year.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Cucumber Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 12.3%</td></tr>
<tr><td>Germany </td><td> 10.8%</td></tr>
<tr><td>UK </td><td> 7.2%</td></tr>
<tr><td>France </td><td> 6.9%</td></tr>
<tr><td>Netherlands </td><td> 6.1%</td></tr>
<tr><td>Canada </td><td> 5.2%</td></tr>
<tr><td>Belgium </td><td> 4.9%</td></tr>
<tr><td>Spain </td><td> 3.7%</td></tr>
<tr><td>Italy </td><td> 3.3%</td></tr>
<tr><td>Sweden </td><td> 2.7%</td></tr>
<tr><td>Switzerland </td><td> 2.6%</td></tr>
<tr><td>Poland </td><td> 2.4%</td></tr>
<tr><td>Denmark </td><td> 2.2%</td></tr>
<tr><td>Austria </td><td> 1.9%</td></tr>
<tr><td>Norway </td><td> 1.6%</td></tr>
<tr><td>Finland </td><td> 1.5%</td></tr>
<tr><td>Czech Republic </td><td> 1.5%</td></tr>
<tr><td>Ireland </td><td> 1.4%</td></tr>
<tr><td>Portugal </td><td> 1.2%</td></tr>
<tr><td>Greece </td><td> 1.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cucumber Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 17.5%</td></tr>
<tr><td>Netherlands </td><td> 17.4%</td></tr>
<tr><td>Mexico </td><td> 11.1%</td></tr>
<tr><td>Belgium </td><td> 8.6%</td></tr>
<tr><td>USA </td><td> 6.1%</td></tr>
<tr><td>Canada </td><td> 5.7%</td></tr>
<tr><td>Turkey </td><td> 4.6%</td></tr>
<tr><td>France </td><td> 3.5%</td></tr>
<tr><td>Germany </td><td> 3.3%</td></tr>
<tr><td>China </td><td> 2.9%</td></tr>
<tr><td>Israel </td><td> 2.1%</td></tr>
<tr><td>UK </td><td> 1.8%</td></tr>
<tr><td>Poland </td><td> 1.6%</td></tr>
<tr><td>Morocco </td><td> 1.5%</td></tr>
<tr><td>Italy </td><td> 1.4%</td></tr>
<tr><td>Egypt </td><td> 1.2%</td></tr>
<tr><td>Japan </td><td> 1.0%</td></tr>
<tr><td>Greece </td><td> 0.9%</td></tr>
<tr><td>Lithuania </td><td> 0.9%</td></tr>
<tr><td>Russia </td><td> 0.8%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Cucumber Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Turkey </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Jordan </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $1.20/kg</td><td> $0.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Serbia </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Moldova </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia </td><td> $1.90/kg</td><td> $0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $2.10/kg</td><td> $0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Cucumber Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $6.00/kg</td><td> $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $4.00/kg</td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $3.20/kg</td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $2.80/kg</td><td> $1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $2.70/kg</td><td> $1.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $2.60/kg</td><td> $1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $2.40/kg</td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.30/kg</td><td> $1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.10/kg</td><td> $0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $1.90/kg</td><td> $0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Cucumber Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 56.5%</td></tr>
<tr><td>Iran </td><td> 5.1%</td></tr>
<tr><td>Turkey </td><td> 3.5%</td></tr>
<tr><td>Russia </td><td> 2.5%</td></tr>
<tr><td>Ukraine </td><td> 2.1%</td></tr>
<tr><td>Spain </td><td> 1.8%</td></tr>
<tr><td>Egypt </td><td> 1.7%</td></tr>
<tr><td>Mexico </td><td> 1.5%</td></tr>
<tr><td>USA </td><td> 1.3%</td></tr>
<tr><td>Indonesia </td><td> 1.1%</td></tr>
<tr><td>Uzbekistan </td><td> 0.9%</td></tr>
<tr><td>India </td><td> 0.9%</td></tr>
<tr><td>Japan </td><td> 0.8%</td></tr>
<tr><td>Pakistan </td><td> 0.8%</td></tr>
<tr><td>South Korea </td><td> 0.8%</td></tr>
<tr><td>Italy </td><td> 0.7%</td></tr>
<tr><td>Poland </td><td> 0.7%</td></tr>
<tr><td>Turkey </td><td> 0.6%</td></tr>
<tr><td>Brazil </td><td> 0.6%</td></tr>
<tr><td>Vietnam </td><td> 0.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Cucumber Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> May to Sep</td></tr>
<tr><td>China </td><td> April to Oct</td></tr>
<tr><td>Iran </td><td> April to Sep</td></tr>
<tr><td>Turkey </td><td> April to Sep</td></tr>
<tr><td>Russia </td><td> June to Sep</td></tr>
<tr><td>Japan </td><td> June to Aug</td></tr>
<tr><td>Spain </td><td> June to Sep</td></tr>
<tr><td>Ukraine </td><td> June to Sep</td></tr>
<tr><td>Egypt </td><td> Feb to May-Sep to Nov</td></tr>
<tr><td>Indonesia </td><td> Oct to Dec-May to July</td></tr>
<tr><td>Mexico </td><td> March to Aug-Oct to Dec</td></tr>
<tr><td>USA </td><td> June to Aug</td></tr>
<tr><td>Uzbekistan </td><td> June to Sep</td></tr>
<tr><td>Pakistan </td><td> March to Aug</td></tr>
<tr><td>Brazil </td><td> Sep to Dec-Jan to May</td></tr>
<tr><td>South Korea </td><td> June to Aug</td></tr>
<tr><td>Thailand </td><td> Nov to Feb-May to Aug</td></tr>
<tr><td>Nigeria </td><td> March to June-Aug to Nov</td></tr>
<tr><td>Italy </td><td> May to Sep</td></tr>
<tr><td>Vietnam </td><td> Dec to April-July to Sep.</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Cucumber Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 31.7%</td></tr>
<tr><td>Turkey </td><td> 9.3%</td></tr>
<tr><td>Iran </td><td> 8.2%</td></tr>
<tr><td>Russia </td><td> 6.1%</td></tr>
<tr><td>Ukraine </td><td> 3.9%</td></tr>
<tr><td>Spain </td><td> 3.6%</td></tr>
<tr><td>Egypt </td><td> 3.1%</td></tr>
<tr><td>USA </td><td> 2.9%</td></tr>
<tr><td>Uzbekistan </td><td> 2.5%</td></tr>
<tr><td>India </td><td> 2.1%</td></tr>
<tr><td>Mexico </td><td> 2.0%</td></tr>
<tr><td>Japan </td><td> 1.9%</td></tr>
<tr><td>Indonesia </td><td> 1.8%</td></tr>
<tr><td>Italy </td><td> 1.7%</td></tr>
<tr><td>South Korea </td><td> 1.6%</td></tr>
<tr><td>Morocco </td><td> 1.4%</td></tr>
<tr><td>Poland </td><td> 1.3%</td></tr>
<tr><td>Vietnam </td><td> 1.3%</td></tr>
<tr><td>Serbia </td><td> 1.2%</td></tr>
<tr><td>Pakistan </td><td> 1.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Cucumber Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Albania </td><td> 0.01%</td></tr>
<tr><td>Angola </td><td> 0.01%</td></tr>
<tr><td>Belize </td><td> 0.01%</td></tr>
<tr><td>Botswana </td><td> 0.01%</td></tr>
<tr><td>Burundi </td><td> 0.01%</td></tr>
<tr><td>Cabo Verde </td><td> 0.01%</td></tr>
<tr><td>Chad </td><td> 0.01%</td></tr>
<tr><td>Comoros </td><td> 0.01%</td></tr>
<tr><td>Djibouti </td><td> 0.01%</td></tr>
<tr><td>Equatorial Guinea </td><td> 0.01%</td></tr>
<tr><td>Eritrea </td><td> 0.01%</td></tr>
<tr><td>Gambia </td><td> 0.01%</td></tr>
<tr><td>Guinea Bissau </td><td> 0.01%</td></tr>
<tr><td>Kiribati </td><td> 0.01%</td></tr>
<tr><td>Lesotho </td><td> 0.01%</td></tr>
<tr><td>Maldives </td><td> 0.01%</td></tr>
<tr><td>Marshall Islands </td><td> 0.01%</td></tr>
<tr><td>Nauru </td><td> 0.01%</td></tr>
<tr><td>Palau </td><td> 0.01%</td></tr>
<tr><td>São Tomé and Príncipe </td><td> 0.01%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cucumber Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 24.5%</td></tr>
<tr><td>Turkey </td><td> 8.3%</td></tr>
<tr><td>Iran </td><td> 6.5%</td></tr>
<tr><td>Russia </td><td> 5.6%</td></tr>
<tr><td>Ukraine </td><td> 3.9%</td></tr>
<tr><td>Egypt </td><td> 3.7%</td></tr>
<tr><td>USA </td><td> 3.6%</td></tr>
<tr><td>Spain </td><td> 3.4%</td></tr>
<tr><td>Japan </td><td> 2.7%</td></tr>
<tr><td>South Korea </td><td> 2.6%</td></tr>
<tr><td>Indonesia </td><td> 2.3%</td></tr>
<tr><td>Italy </td><td> 2.2%</td></tr>
<tr><td>Uzbekistan </td><td> 2.1%</td></tr>
<tr><td>Mexico </td><td> 1.9%</td></tr>
<tr><td>Morocco </td><td> 1.7%</td></tr>
<tr><td>India </td><td> 1.5%</td></tr>
<tr><td>Vietnam </td><td> 1.3%</td></tr>
<tr><td>Thailand </td><td> 1.2%</td></tr>
<tr><td>Pakistan </td><td> 1.1%</td></tr>
<tr><td>Poland </td><td> 1.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Cucumber Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Chiquita Brands International, Inc. </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>SunMoon Food Company Limited </td><td> Singapore</td></tr>
<tr><td>Sunkist Growers, Inc. </td><td> USA</td></tr>
<tr><td>Naturipe Farms </td><td> USA</td></tr>
<tr><td>Wonderful Citrus </td><td> USA</td></tr>
<tr><td>Maersk </td><td> Denmark</td></tr>
<tr><td>Walmart </td><td> USA</td></tr>
<tr><td>Tesco </td><td> UK</td></tr>
<tr><td>Carrefour </td><td> France</td></tr>
<tr><td>Aldi </td><td> Germany</td></tr>
<tr><td>Lidl </td><td> Germany</td></tr>
<tr><td>Metro AG </td><td> Germany</td></tr>
<tr><td>Aeon Co., Ltd. </td><td> Japan</td></tr>
<tr><td>Woolworths Group </td><td> Australia</td></tr>
<tr><td>Coles Group </td><td> Australia</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Cucumber Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>

<tr><td>G's Group </td><td> UK</td></tr>
<tr><td>Mastronardi Produce </td><td> Canada</td></tr>
<tr><td>Village Farms International </td><td> Canada</td></tr>
<tr><td>Houweling's Group </td><td> USA</td></tr>
<tr><td>NatureSweet </td><td> USA</td></tr>
<tr><td>Pure Flavor </td><td> Canada</td></tr>
<tr><td>Bejo Zaden B.V. </td><td> Netherlands</td></tr>
<tr><td>Sakata Seed Corporation </td><td> Japan</td></tr>
<tr><td>Rijk Zwaan </td><td> Netherlands</td></tr>
<tr><td>Syngenta AG </td><td> Switzerland</td></tr>
<tr><td>Enza Zaden </td><td> Netherlands</td></tr>
<tr><td>Takii Seed </td><td> Japan</td></tr>
<tr><td>Seminis </td><td> USA</td></tr>
<tr><td>Monsanto Company </td><td> USA</td></tr>
<tr><td>VoloAgri Group, Inc. </td><td> USA</td></tr>
<tr><td>Syngenta Vegetable Seeds </td><td> Netherlands</td></tr>
<tr><td>East-West Seed </td><td> Thailand</td></tr>
<tr><td>Bayer AG </td><td> Germany</td></tr>
<tr><td>Limagrain </td><td> France</td></tr>
<tr><td>Seed Co Limited </td><td> Zimbabwe</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cucumber Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Health Benefits: The growing awareness of the health benefits of cucumbers, such as their high water content, vitamins, and minerals, is driving demand for this versatile vegetable.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Greenhouse and Vertical Farming: Advances in greenhouse and vertical farming technologies are enabling the cultivation of cucumbers in controlled environments, optimizing growth conditions, and potentially increasing yield and efficiency.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: As consumer interest in organic and non-GMO food products grows, the demand for organically grown and non-GMO cucumbers is on the rise, driving growth in this segment of the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Food and Beverage Industry: Cucumbers are being increasingly used as an ingredient in various food and beverage products, such as pickles, salads, cold soups, and flavored waters.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: Chefs and home cooks are experimenting with new ways to incorporate cucumbers into their recipes, resulting in a wider variety of dishes that feature this versatile vegetable.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Locally Grown Produce: The growing interest in locally grown and sourced produce is driving demand for cucumbers, as consumers seek out fresh, high-quality vegetables from their local communities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture Practices: There is a growing emphasis on sustainable farming practices in cucumber cultivation, such as crop rotation, intercropping, and integrated pest management, to improve soil health and reduce the environmental impact of farming.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Adaptation: Researchers and farmers are working to develop cucumber varieties that can withstand the challenges posed by climate change, such as drought, flooding, and extreme temperatures, to ensure food security and maintain production levels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Seedless and Miniature Varieties: The development of seedless and miniature cucumber varieties is growing in popularity due to their ease of consumption and enhanced visual appeal, providing new opportunities for growers and the food industry.</div>

<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the cucumber market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
</div>

</div>

</body>
</html>
