<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("drumstick1-min.jpg"),:size => "100x100" %>
         
           <h4>Drumstick Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 9.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 100 thousands hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Drumstick crop risk can be influenced by various factors, such as weather conditions, pests, and diseases. For example, drumsticks are vulnerable to high temperatures, drought, and pests such as aphids and leafhoppers, which can reduce yields and quality. Additionally, diseases such as fusarium wilt and powdery mildew can reduce the yield and quality of drumsticks.
From a strategic standpoint, the potential export opportunities for drumsticks can be significant for producers. Exporting drumstick products to other countries can help diversify a producer's customer base, reducing dependence on domestic markets. Additionally, drumsticks are a unique crop that has traditional medicinal and culinary values, providing a niche opportunity for export growth. For example, drumsticks are commonly used in Indian and Southeast Asian cuisine, and have been found to have various medicinal properties, such as anti-inflammatory and antibacterial effects.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Drumstick Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United Arab Emirates </td><td> 29.4%</td></tr>
<tr><td>Saudi Arabia </td><td> 21.9%</td></tr>
<tr><td>Oman </td><td> 10.6%</td></tr>
<tr><td>Qatar </td><td> 9.8%</td></tr>
<tr><td>Bahrain </td><td> 6.2%</td></tr>
<tr><td>Kuwait </td><td> 5.5%</td></tr>
<tr><td>UK </td><td> 3.5%</td></tr>
<tr><td>Singapore </td><td> 2.1%</td></tr>
<tr><td>Australia </td><td> 1.9%</td></tr>
<tr><td>Yemen </td><td> 1.6%</td></tr>
<tr><td>USA </td><td> 1.2%</td></tr>
<tr><td>Sri Lanka </td><td> 1.1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Germany </td><td> 0.8%</td></tr>
<tr><td>France </td><td> 0.7%</td></tr>
<tr><td>Jordan </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.4%</td></tr>
<tr><td>Switzerland </td><td> 0.3%</td></tr>
<tr><td>Japan </td><td> 0.2%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Drumstick Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 93.4%</td></tr>
<tr><td>Sri Lanka </td><td> 2.8%</td></tr>
<tr><td>Nepal </td><td> 1.2%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.4%</td></tr>
<tr><td>Oman </td><td> 0.3%</td></tr>
<tr><td>Malaysia </td><td> 0.3%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.2%</td></tr>
<tr><td>USA </td><td> 0.1%</td></tr>
<tr><td>Singapore </td><td> 0.1%</td></tr>
<tr><td>UK </td><td> 0.1%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>Qatar </td><td> 0.1%</td></tr>
<tr><td>Kuwait </td><td> 0.1%</td></tr>
<tr><td>Mauritius </td><td> 0.1%</td></tr>
<tr><td>Bahrain </td><td> 0.1%</td></tr>
<tr><td>Japan </td><td> 0%</td></tr>
<tr><td>Yemen </td><td> 0%</td></tr>
<tr><td>Germany </td><td> 0%</td></tr>
<tr><td>Jordan </td><td> 0%</td></tr>
<tr><td>Hong Kong </td><td> 0%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Drumstick Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>India </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $1.20/kg</td><td> $0.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.40/kg</td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $2.60/kg</td><td> $1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $2.80/kg</td><td> $1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Laos </td><td> $3.20/kg</td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $3.40/kg</td><td> $1.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $3.60/kg</td><td> $1.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $3.80/kg</td><td> $1.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $4.00/kg</td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $4.20/kg</td><td> $1.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $4.40/kg</td><td> $2.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $4.60/kg</td><td> $2.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $4.80/kg</td><td> $2.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Drumstick Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United Arab Emirates </td><td> $11.90/kg</td><td> $5.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $11.10/kg</td><td> $5.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $10.70/kg</td><td> $4.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $9.80/kg</td><td> $4.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $9.20/kg</td><td> $4.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $8.80/kg</td><td> $4.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $8.50/kg</td><td> $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $8.20/kg</td><td> $3.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $8.00/kg</td><td> $3.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $7.50/kg</td><td> $3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $7.20/kg</td><td> $3.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $6.80/kg</td><td> $3.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $6.50/kg</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $6.20/kg</td><td> $2.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $5.90/kg</td><td> $2.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $5.60/kg</td><td> $2.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $5.30/kg</td><td> $2.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $4.70/kg</td><td> $2.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.40/kg</td><td> $2.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Drumstick Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 77.2%</td></tr>
<tr><td>Thailand </td><td> 7.6%</td></tr>
<tr><td>Philippines </td><td> 4.8%</td></tr>
<tr><td>Indonesia </td><td> 2.9%</td></tr>
<tr><td>Nigeria </td><td> 1.8%</td></tr>
<tr><td>Brazil </td><td> 1.7%</td></tr>
<tr><td>Myanmar </td><td> 1.3%</td></tr>
<tr><td>Ethiopia </td><td> 0.7%</td></tr>
<tr><td>Ghana </td><td> 0.5%</td></tr>
<tr><td>Tanzania </td><td> 0.4%</td></tr>
<tr><td>China </td><td> 0.4%</td></tr>
<tr><td>Uganda </td><td> 0.4%</td></tr>
<tr><td>Mexico </td><td> 0.4%</td></tr>
<tr><td>Cameroon </td><td> 0.4%</td></tr>
<tr><td>Benin </td><td> 0.3%</td></tr>
<tr><td>Vietnam </td><td> 0.3%</td></tr>
<tr><td>Madagascar </td><td> 0.2%</td></tr>
<tr><td>Kenya </td><td> 0.2%</td></tr>
<tr><td>Congo Republic </td><td> 0.2%</td></tr>
<tr><td>Angola </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Drumstick Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> Mar to July-Oct to Jan</td></tr>
<tr><td>Indonesia </td><td> All year round</td></tr>
<tr><td>Philippines </td><td> All year round</td></tr>
<tr><td>Thailand </td><td> Apr to June-Sep to Nov</td></tr>
<tr><td>China </td><td> All year round</td></tr>
<tr><td>Pakistan </td><td> July to Sep</td></tr>
<tr><td>Vietnam </td><td> All year round</td></tr>
<tr><td>Myanmar </td><td> May to Aug</td></tr>
<tr><td>Bangladesh </td><td> July to Nov</td></tr>
<tr><td>Nigeria </td><td> Mar to May-Aug to Oct</td></tr>
<tr><td>Brazil </td><td> Sep to Nov-Mar to May</td></tr>
<tr><td>Mexico </td><td> All year round</td></tr>
<tr><td>Uganda </td><td> All year round</td></tr>
<tr><td>Tanzania </td><td> All year round</td></tr>
<tr><td>Ghana </td><td> Mar to May-Aug to Oct</td></tr>
<tr><td>Kenya </td><td> All year round</td></tr>
<tr><td>Sri Lanka </td><td> Apr to Sep</td></tr>
<tr><td>Ethiopia </td><td> All year round</td></tr>
<tr><td>Madagascar </td><td> All year round</td></tr>
<tr><td>Cambodia </td><td> June to Aug</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Drumstick Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 80%</td></tr>
<tr><td>Thailand </td><td> 5%</td></tr>
<tr><td>Philippines </td><td> 4%</td></tr>
<tr><td>Indonesia </td><td> 3%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Myanmar </td><td> 1%</td></tr>
<tr><td>Sri Lanka </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 0.5%</td></tr>
<tr><td>Nigeria </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>Cambodia </td><td> 0.5%</td></tr>
<tr><td>Laos </td><td> 0.5%</td></tr>
<tr><td>Egypt </td><td> 0.3%</td></tr>
<tr><td>Guatemala </td><td> 0.3%</td></tr>
<tr><td>Ethiopia </td><td> 0.3%</td></tr>
<tr><td>Ghana </td><td> 0.3%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Drumstick Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Slovenia </td><td> <0.01%</td></tr>
<tr><td>Croatia </td><td> <0.01%</td></tr>
<tr><td>Bulgaria </td><td> <0.01%</td></tr>
<tr><td>Slovakia </td><td> <0.01%</td></tr>
<tr><td>Lithuania </td><td> <0.01%</td></tr>
<tr><td>Latvia </td><td> <0.01%</td></tr>
<tr><td>Estonia </td><td> <0.01%</td></tr>
<tr><td>Uruguay </td><td> <0.01%</td></tr>
<tr><td>Iceland </td><td> <0.01%</td></tr>
<tr><td>Cyprus </td><td> <0.01%</td></tr>
<tr><td>Luxembourg </td><td> <0.01%</td></tr>
<tr><td>Malta </td><td> <0.01%</td></tr>
<tr><td>Andorra </td><td> <0.01%</td></tr>
<tr><td>Monaco </td><td> <0.01%</td></tr>
<tr><td>Liechtenstein </td><td> <0.01%</td></tr>
<tr><td>San Marino </td><td> <0.01%</td></tr>
<tr><td>Vatican City </td><td> <0.01%</td></tr>
<tr><td>Gibraltar </td><td> <0.01%</td></tr>
<tr><td>Isle of Man </td><td> <0.01%</td></tr>
<tr><td>Jersey </td><td> <0.01%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Drumstick Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 95%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 0.5%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.5%</td></tr>
<tr><td>Sri Lanka </td><td> 0.3%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.3%</td></tr>
<tr><td>Qatar </td><td> 0.2%</td></tr>
<tr><td>Oman </td><td> 0.2%</td></tr>
<tr><td>Kuwait </td><td> 0.2%</td></tr>
<tr><td>USA </td><td> 0.1%</td></tr>
<tr><td>UK </td><td> 0.1%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>Australia </td><td> 0.1%</td></tr>
<tr><td>Malaysia </td><td> 0.1%</td></tr>
<tr><td>Singapore </td><td> 0.1%</td></tr>
<tr><td>Bahrain </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Mauritius </td><td> 0.1%</td></tr>
<tr><td>New Zealand </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Drumstick Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Wonderful Citrus </td><td> USA</td></tr>
<tr><td>SunMoon Food Company Limited </td><td> Singapore</td></tr>
<tr><td>Chiquita Brands International, Inc. </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>Naturipe Farms </td><td> USA</td></tr>
<tr><td>Tesco </td><td> UK</td></tr>
<tr><td>Carrefour </td><td> France</td></tr>
<tr><td>Walmart </td><td> USA</td></tr>
<tr><td>Aldi </td><td> Germany</td></tr>
<tr><td>Lidl </td><td> Germany</td></tr>
<tr><td>Metro AG </td><td> Germany</td></tr>
<tr><td>Woolworths Group </td><td> Australia</td></tr>
<tr><td>Coles Group </td><td> Australia</td></tr>
<tr><td>Aeon Co., Ltd. </td><td> Japan</td></tr>
<tr><td>Migros </td><td> Switzerland</td></tr>
<tr><td>Sainsbury's </td><td> UK</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Drumstick Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>African Tropical Fruits </td><td> Kenya</td></tr>
<tr><td>AGB Invest </td><td> Poland</td></tr>
<tr><td>AgroFair </td><td> Netherlands</td></tr>
<tr><td>Asda </td><td> UK</td></tr>
<tr><td>Berryworld </td><td> UK</td></tr>
<tr><td>Capespan </td><td> South Africa</td></tr>
<tr><td>Chiquita Brands International, Inc. </td><td> USA</td></tr>
<tr><td>Coles Group </td><td> Australia</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Dole Food Company, Inc. </td><td> USA</td></tr>
<tr><td>Fresh Direct </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>G's Group </td><td> UK</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>Houweling's Group </td><td> USA</td></tr>
<tr><td>J.O. Sims Ltd. </td><td> UK</td></tr>
<tr><td>Maersk </td><td> Denmark</td></tr>
<tr><td>Nature's Pride </td><td> Netherlands</td></tr>
<tr><td>Pure Flavor </td><td> Canada</td></tr>
<tr><td>Village Farms International </td><td> Canada</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Drumstick Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Nutritional Awareness: As consumers become more health-conscious, there is a growing demand for nutrient-dense foods like Moringa, which is rich in vitamins, minerals, and protein.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Superfood Status: Moringa's reputation as a superfood is driving interest in its consumption and usage across various industries, including food and beverages, supplements, and cosmetics.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-Based Diets: The increasing popularity of plant-based diets has led to a surge in demand for plant-based proteins, with Moringa being recognized as an important source of protein, particularly for vegans and vegetarians.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Pharmaceutical Applications: Moringa's potential medicinal properties, such as its anti-inflammatory, antioxidant, and antimicrobial effects, have garnered interest in its use in traditional medicine and pharmaceutical applications.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Cosmetic Industry: Moringa oil, derived from its seeds, is gaining traction in the cosmetic industry due to its moisturizing, antioxidant, and anti-aging properties, making it an attractive ingredient for skincare and haircare products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Drought Resistance: Moringa is a drought-resistant plant, making it an attractive option for cultivation in arid and semi-arid regions affected by climate change and water scarcity.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture: Moringa cultivation can contribute to sustainable agriculture practices, as it can be grown with minimal water and fertilizer inputs, and its leaves can be harvested multiple times a year.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Animal Feed: Moringa leaves and seeds are being explored as a sustainable and nutritious animal feed alternative, particularly in the poultry and aquaculture industries.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Biofuel Potential: Moringa seeds have been identified as a potential feedstock for biodiesel production due to their high oil content, which could offer an alternative to traditional fossil fuels.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Government and NGO Support: Governments and NGOs in drumstick-producing countries are increasingly promoting Moringa cultivation and usage due to its potential economic, health, and environmental benefits.</div>
</div>

</div>

</body>
</html>
