<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("ginger-min.jpg"),:size => "100x100" %>
         
           <h4>Ginger Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $2.1 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 800,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Ginger crop faces various risks, including pests and diseases, weather fluctuations, and market volatility. Pests such as shoot borers, scales, and thrips can damage the crop, leading to reduced yield, while diseases such as rhizome rot, bacterial wilt, and fusarium wilt can also affect the quality and yield of the crop. Weather conditions such as droughts, heavy rains, or frost can impact the production and quality of the crop. Market volatility can also pose a risk to ginger growers, as sudden changes in demand, prices, or regulations can impact the profitability of the crop.

Despite the risks involved, the strategic value of ginger's potential export opportunities is high. Ginger is a popular spice consumed worldwide, and the demand for it continues to grow due to the increasing popularity of healthy eating habits and herbal medicine. According to the latest available data, the top five ginger exporting countries are China, Thailand, the Netherlands, Indonesia, and India, which collectively account for over 80% of global ginger exports.</p>
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Ginger Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 12.9%</td></tr>
<tr><td>Netherlands </td><td> 10.3%</td></tr>
<tr><td>Germany </td><td> 8.5%</td></tr>
<tr><td>Japan </td><td> 7.1%</td></tr>
<tr><td>UK </td><td> 5.9%</td></tr>
<tr><td>France </td><td> 5.5%</td></tr>
<tr><td>Canada </td><td> 4.4%</td></tr>
<tr><td>Belgium </td><td> 4.1%</td></tr>
<tr><td>Spain </td><td> 3.6%</td></tr>
<tr><td>Italy </td><td> 3.3%</td></tr>
<tr><td>Poland </td><td> 3.0%</td></tr>
<tr><td>China </td><td> 2.9%</td></tr>
<tr><td>Switzerland </td><td> 2.6%</td></tr>
<tr><td>Denmark </td><td> 2.5%</td></tr>
<tr><td>Sweden </td><td> 2.1%</td></tr>
<tr><td>Austria </td><td> 1.9%</td></tr>
<tr><td>Norway </td><td> 1.8%</td></tr>
<tr><td>Czech Republic </td><td> 1.7%</td></tr>
<tr><td>Ireland </td><td> 1.5%</td></tr>
<tr><td>Hungary </td><td> 1.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Ginger Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 29.1%</td></tr>
<tr><td>Netherlands </td><td> 10.6%</td></tr>
<tr><td>Peru </td><td> 8.3%</td></tr>
<tr><td>Thailand </td><td> 6.9%</td></tr>
<tr><td>India </td><td> 6.1%</td></tr>
<tr><td>Vietnam </td><td> 5.7%</td></tr>
<tr><td>Nepal </td><td> 3.6%</td></tr>
<tr><td>Germany </td><td> 3.2%</td></tr>
<tr><td>Indonesia </td><td> 2.4%</td></tr>
<tr><td>Brazil </td><td> 2.4%</td></tr>
<tr><td>Japan </td><td> 2.4%</td></tr>
<tr><td>Sri Lanka </td><td> 2.3%</td></tr>
<tr><td>Malaysia </td><td> 2.0%</td></tr>
<tr><td>Ecuador </td><td> 1.7%</td></tr>
<tr><td>France </td><td> 1.5%</td></tr>
<tr><td>South Africa </td><td> 1.5%</td></tr>
<tr><td>UK </td><td> 1.5%</td></tr>
<tr><td>Belgium </td><td> 1.3%</td></tr>
<tr><td>USA </td><td> 1.3%</td></tr>
<tr><td>Bangladesh </td><td> 1.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Ginger Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $3.10/kg</td><td> $1.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $3.80/kg</td><td> $1.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $4.20/kg</td><td> $1.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $4.70/kg</td><td> $2.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $5.50/kg</td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $6.20/kg</td><td> $2.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $7.00/kg</td><td> $3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $7.50/kg</td><td> $3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $8.20/kg</td><td> $3.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $9.50/kg</td><td> $4.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $11.30/kg</td><td> $5.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $13.00/kg</td><td> $5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Ginger Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>USA </td><td> $23.50/kg</td><td> $10.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $21.70/kg</td><td> $9.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $19.60/kg</td><td> $8.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $17.40/kg</td><td> $7.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $16.80/kg</td><td> $7.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $15.90/kg</td><td> $7.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $14.60/kg</td><td> $6.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $13.80/kg</td><td> $6.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $12.90/kg</td><td> $5.87/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $11.60/kg</td><td> $5.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $10.90/kg</td><td> $4.96/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $9.80/kg</td><td> $4.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $8.70/kg</td><td> $3.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $7.60/kg</td><td> $3.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $6.50/kg</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $5.40/kg</td><td> $2.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $4.30/kg</td><td> $1.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $3.20/kg</td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $2.10/kg</td><td> $0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Ginger Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 33.2%</td></tr>
<tr><td>China </td><td> 20.0%</td></tr>
<tr><td>Nepal </td><td> 6.3%</td></tr>
<tr><td>Indonesia </td><td> 5.6%</td></tr>
<tr><td>Thailand </td><td> 5.5%</td></tr>
<tr><td>Nigeria </td><td> 4.8%</td></tr>
<tr><td>Bangladesh </td><td> 4.5%</td></tr>
<tr><td>Japan </td><td> 2.8%</td></tr>
<tr><td>Philippines </td><td> 2.2%</td></tr>
<tr><td>Brazil </td><td> 1.7%</td></tr>
<tr><td>Sri Lanka </td><td> 1.6%</td></tr>
<tr><td>Malaysia </td><td> 1.4%</td></tr>
<tr><td>Taiwan </td><td> 1.4%</td></tr>
<tr><td>Vietnam </td><td> 1.4%</td></tr>
<tr><td>Jamaica </td><td> 1.3%</td></tr>
<tr><td>Ethiopia </td><td> 1.3%</td></tr>
<tr><td>Madagascar </td><td> 1.2%</td></tr>
<tr><td>Cameroon </td><td> 1.2%</td></tr>
<tr><td>Congo </td><td> 1.1%</td></tr>
<tr><td>Guinea </td><td> 1.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Ginger Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>India </td><td> Nov to Jan</td></tr>
<tr><td>China </td><td> July to Sep</td></tr>
<tr><td>Thailand </td><td> Oct to Feb</td></tr>
<tr><td>Vietnam </td><td> Sep to Dec</td></tr>
<tr><td>Nigeria </td><td> June to Sep</td></tr>
<tr><td>Indonesia </td><td> Year-round</td></tr>
<tr><td>Peru </td><td> May to Oct</td></tr>
<tr><td>Brazil </td><td> April to Sep</td></tr>
<tr><td>Bangladesh </td><td> Oct to Feb</td></tr>
<tr><td>Ecuador </td><td> Year-round</td></tr>
<tr><td>Philippines </td><td> Sep to Jan</td></tr>
<tr><td>Sri Lanka </td><td> Sep to March</td></tr>
<tr><td>Mexico </td><td> Sep to Dec</td></tr>
<tr><td>Colombia </td><td> Year-round</td></tr>
<tr><td>Ethiopia </td><td> August to Nov</td></tr>
<tr><td>Uganda </td><td> August to Dec</td></tr>
<tr><td>Tanzania </td><td> Year-round</td></tr>
<tr><td>Kenya </td><td> July to Nov</td></tr>
<tr><td>Nepal </td><td> March to MaY-Sep to Nov</td></tr>
<tr><td>Madagascar </td><td> May to August</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Ginger Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 30%</td></tr>
<tr><td>China </td><td> 20%</td></tr>
<tr><td>Nepal </td><td> 10%</td></tr>
<tr><td>Thailand </td><td> 8%</td></tr>
<tr><td>Nigeria </td><td> 6%</td></tr>
<tr><td>Indonesia </td><td> 4%</td></tr>
<tr><td>Bangladesh </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Philippines </td><td> 2%</td></tr>
<tr><td>Brazil </td><td> 2%</td></tr>
<tr><td>Vietnam </td><td> 1.5%</td></tr>
<tr><td>Sri Lanka </td><td> 1.5%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Papua New Guinea </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 0.5%</td></tr>
<tr><td>Madagascar </td><td> 0.5%</td></tr>
<tr><td>Tanzania </td><td> 0.5%</td></tr>
<tr><td>Myanmar </td><td> 0.5%</td></tr>
<tr><td>Ghana </td><td> 0.5%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Ginger Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bahrain </td><td> 0.001%</td></tr>
<tr><td>Malta </td><td> 0.001%</td></tr>
<tr><td>Estonia </td><td> 0.002%</td></tr>
<tr><td>Belize </td><td> 0.002%</td></tr>
<tr><td>Cyprus </td><td> 0.003%</td></tr>
<tr><td>Luxembourg </td><td> 0.003%</td></tr>
<tr><td>Iceland </td><td> 0.004%</td></tr>
<tr><td>Latvia </td><td> 0.004%</td></tr>
<tr><td>Brunei </td><td> 0.005%</td></tr>
<tr><td>Liechtenstein </td><td> 0.005%</td></tr>
<tr><td>Andorra </td><td> 0.005%</td></tr>
<tr><td>Monaco </td><td> 0.006%</td></tr>
<tr><td>San Marino </td><td> 0.006%</td></tr>
<tr><td>Gibraltar </td><td> 0.006%</td></tr>
<tr><td>Antigua and Barbuda </td><td> 0.007%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0.008%</td></tr>
<tr><td>Dominica </td><td> 0.008%</td></tr>
<tr><td>Vanuatu </td><td> 0.009%</td></tr>
<tr><td>Micronesia </td><td> 0.01%</td></tr>
<tr><td>Tonga </td><td> 0.01%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Ginger Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 40%</td></tr>
<tr><td>Indonesia </td><td> 12%</td></tr>
<tr><td>Bangladesh </td><td> 7%</td></tr>
<tr><td>Nigeria </td><td> 6%</td></tr>
<tr><td>Thailand </td><td> 5%</td></tr>
<tr><td>Philippines </td><td> 4%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Brazil </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Sri Lanka </td><td> 1.5%</td></tr>
<tr><td>Malaysia </td><td> 1.5%</td></tr>
<tr><td>Vietnam </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>United Arab Emirates </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Yemen </td><td> 0.5%</td></tr>
<tr><td>Sudan </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Ginger Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>

<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>Archer Daniels Midland </td><td> USA</td></tr>
<tr><td>Buderim Group Limited </td><td> Australia</td></tr>
<tr><td>McCormick & Company, Incorporated </td><td> USA</td></tr>
<tr><td>Charoen Pokphand Foods Public</td><td> Thailand</td></tr>
<tr><td>Hain Celestial Group, Inc. </td><td> USA</td></tr>
<tr><td>Mountain Rose Herbs </td><td> USA</td></tr>
<tr><td>Jain Farm Fresh Foods Ltd </td><td> India</td></tr>
<tr><td>Sabinsa Corporation </td><td> USA</td></tr>
<tr><td>Marudhar Foods Private</td><td> India</td></tr>
<tr><td>Pacific Spice Company, Inc. </td><td> USA</td></tr>
<tr><td>Eden Foods, Inc. </td><td> USA</td></tr>
<tr><td>The Ginger People </td><td> USA</td></tr>
<tr><td>Terra Firma Botanicals </td><td> USA</td></tr>
<tr><td>Tattva's Herbs </td><td> USA</td></tr>
<tr><td>Pure Indian Foods </td><td> USA</td></tr>
<tr><td>Indigo Herbs of Glastonbury </td><td> UK</td></tr>
<tr><td>Vital Health Foods </td><td> South Africa</td></tr>
<tr><td>Kerala Ayurveda Limited </td><td> India</td></tr>
<tr><td>The Spice House </td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Ginger Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Buderim Group Limited </td><td> Australia</td></tr>
<tr><td>Archer Daniels Midland </td><td> USA</td></tr>
<tr><td>Charoen Pokphand Foods Public </td><td> Thailand</td></tr>
<tr><td>McCormick & Company, Incorp </td><td> USA</td></tr>
<tr><td>Jain Farm Fresh Foods Ltd </td><td> India</td></tr>
<tr><td>Kerry Group </td><td> Ireland</td></tr>
<tr><td>Nestle SA </td><td> Switzerland</td></tr>
<tr><td>Ajinomoto Co., Inc. </td><td> Japan</td></tr>
<tr><td>Givaudan SA </td><td> Switzerland</td></tr>
<tr><td>Sensient Technologies Corp</td><td> USA</td></tr>
<tr><td>Dohler Group </td><td> Germany</td></tr>
<tr><td>Firmenich International SA </td><td> Switzerland</td></tr>
<tr><td>Frutarom Industries Ltd. </td><td> Israel</td></tr>
<tr><td>Symrise AG </td><td> Germany</td></tr>
<tr><td>Takasago International Corp </td><td> Japan</td></tr>
<tr><td>Robertet Group </td><td> France</td></tr>
<tr><td>Mane SA </td><td> France</td></tr>
<tr><td>International Flavors & Fragrances Inc. </td><td> USA</td></tr>
<tr><td>T. Hasegawa Co., Ltd. </td><td> Japan</td></tr>
<tr><td>Kerry Taste & Nutrition </td><td> UK</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Ginger Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Health and Wellness Awareness: As consumers become more health-conscious, there is a growing demand for natural and plant-based remedies, driving the popularity of ginger as a functional food and supplement.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Innovation: Ginger's unique flavor profile and versatility in different cuisines are driving culinary innovation and new product development, particularly in the beverage industry.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Demand: The demand for organic and non-GMO ginger is on the rise, driven by consumer preferences for clean-label, natural, and sustainable food products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture: Ginger cultivation can contribute to sustainable agriculture practices, as it requires minimal water and fertilizer inputs, and can be grown using intercropping or agroforestry methods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">International Trade and Policies: International trade and policies play a crucial role in the ginger market, with trade agreements, tariffs, and subsidies influencing global production, prices, and trade flows.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Drought Resistance: Ginger is a drought-resistant crop, making it an attractive option for cultivation in arid and semi-arid regions affected by climate change and water scarcity.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Traditional Medicine: Ginger has been used for centuries in traditional medicine to treat various ailments, and its potential medicinal properties are driving interest in its use as an alternative therapy.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Digital Technology: The adoption of digital technologies, such as precision farming, data analytics, and blockchain, is improving the efficiency and traceability of ginger production and supply chains.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">COVID-19 Impact: The COVID-19 pandemic has disrupted global supply chains, affecting the production, transportation, and consumption of ginger worldwide, and is expected to have long-lasting effects on the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Export Opportunities: Ginger is an important export crop in many countries, and its potential for value addition and product diversification is driving interest in expanding its export opportunities to new markets.</div>

</div>

</div>

</body>
</html>


