<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("okra-min.jpg"),:size => "100x100" %>
         
           <h4>Lady's Finger Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.6 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.4 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Lady's finger crop faces various risks, including pests and diseases, weather changes, and market volatility. Pests such as fruit borer, whitefly, and aphids can damage the crop, leading to yield losses, while diseases such as fusarium wilt, yellow vein mosaic virus, and powdery mildew can also affect the quality and yield of the crop. Weather conditions such as heavy rainfall, drought, and extreme temperatures can also impact the growth, development, and yield of the crop. Market volatility can also pose a risk to lady's finger growers, as sudden changes in demand, prices, or regulations can impact the profitability of the crop.
Despite the risks, the strategic value of lady's finger's potential export opportunities is high. Lady's finger is a popular vegetable consumed worldwide, and the demand for it continues to grow due to the increasing popularity of healthy eating habits and plant-based diets. According to the latest available data, the top five lady's finger exporting countries are India, Pakistan, Egypt, the United Arab Emirates, and Saudi Arabia, which collectively account for over 75% of global lady's finger exports.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Lady's Finger Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 16.9%</td></tr>
<tr><td>United Arab Emirates </td><td> 8.6%</td></tr>
<tr><td>United Kingdom </td><td> 6.4%</td></tr>
<tr><td>Saudi Arabia </td><td> 4.4%</td></tr>
<tr><td>Malaysia </td><td> 4.2%</td></tr>
<tr><td>Canada </td><td> 4.1%</td></tr>
<tr><td>Singapore </td><td> 3.8%</td></tr>
<tr><td>France </td><td> 3.7%</td></tr>
<tr><td>Netherlands </td><td> 3.3%</td></tr>
<tr><td>Germany </td><td> 3.1%</td></tr>
<tr><td>Kuwait </td><td> 2.9%</td></tr>
<tr><td>Oman </td><td> 2.5%</td></tr>
<tr><td>Qatar </td><td> 2.3%</td></tr>
<tr><td>Australia </td><td> 2.1%</td></tr>
<tr><td>Belgium </td><td> 1.9%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>Spain </td><td> 1.7%</td></tr>
<tr><td>Japan </td><td> 1.5%</td></tr>
<tr><td>South Korea </td><td> 1.5%</td></tr>
<tr><td>China </td><td> 1.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Lady's Finger Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 94.5%</td></tr>
<tr><td>United Arab Emirates </td><td> 1.7%</td></tr>
<tr><td>Nepal </td><td> 0.7%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.6%</td></tr>
<tr><td>Bangladesh </td><td> 0.5%</td></tr>
<tr><td>United States </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.4%</td></tr>
<tr><td>United Kingdom </td><td> 0.3%</td></tr>
<tr><td>Oman </td><td> 0.2%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>France </td><td> 0.1%</td></tr>
<tr><td>Singapore </td><td> 0.1%</td></tr>
<tr><td>Sri Lanka </td><td> 0.1%</td></tr>
<tr><td>Qatar </td><td> 0.1%</td></tr>
<tr><td>Kuwait </td><td> 0.1%</td></tr>
<tr><td>Australia </td><td> 0.1%</td></tr>
<tr><td>Hong Kong </td><td> 0.1%</td></tr>
<tr><td>Italy </td><td> 0.1%</td></tr>
<tr><td>Bahrain </td><td> 0.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Lady's Finger Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Kenya </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $2.40/kg</td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $2.80/kg</td><td> $1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $3.20/kg</td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $3.60/kg</td><td> $1.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.00/kg</td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $4.40/kg</td><td> $2.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $4.80/kg</td><td> $2.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $5.20/kg</td><td> $2.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $5.60/kg</td><td> $2.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $6.00/kg</td><td> $2.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $6.40/kg</td><td> $2.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $6.80/kg</td><td> $3.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $7.20/kg</td><td> $3.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>



</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Lady's Finger Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $12.50/kg</td><td> $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $9.70/kg</td><td> $4.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $8.90/kg</td><td> $4.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $8.20/kg</td><td> $3.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $7.60/kg</td><td> $3.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $7.00/kg</td><td> $3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $6.40/kg</td><td> $2.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $5.80/kg</td><td> $2.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $5.20/kg</td><td> $2.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $4.60/kg</td><td> $2.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $4.00/kg</td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $3.10/kg</td><td> $1.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.60/kg</td><td> $1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $1.20/kg</td><td> $0.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Lady's Finger Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 68.8%</td></tr>
<tr><td>Nigeria </td><td> 7.9%</td></tr>
<tr><td>Sudan </td><td> 3.8%</td></tr>
<tr><td>Ethiopia </td><td> 3.3%</td></tr>
<tr><td>China </td><td> 2.6%</td></tr>
<tr><td>Pakistan </td><td> 2.4%</td></tr>
<tr><td>Bangladesh </td><td> 1.9%</td></tr>
<tr><td>Uganda </td><td> 1.7%</td></tr>
<tr><td>Indonesia </td><td> 1.6%</td></tr>
<tr><td>Tanzania </td><td> 1.3%</td></tr>
<tr><td>Kenya </td><td> 1.1%</td></tr>
<tr><td>Egypt </td><td> 0.8%</td></tr>
<tr><td>Philippines </td><td> 0.7%</td></tr>
<tr><td>Ghana </td><td> 0.7%</td></tr>
<tr><td>Burkina Faso </td><td> 0.6%</td></tr>
<tr><td>Cameroon </td><td> 0.5%</td></tr>
<tr><td>Mali </td><td> 0.4%</td></tr>
<tr><td>Niger </td><td> 0.4%</td></tr>
<tr><td>Thailand </td><td> 0.4%</td></tr>
<tr><td>Madagascar </td><td> 0.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Lady's Finger Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> Year</td><td>round</td></tr>
<tr><td>Nigeria </td><td> Year</td><td>round</td></tr>
<tr><td>Bangladesh </td><td> Year</td><td>round</td></tr>
<tr><td>Pakistan </td><td> Year</td><td>round</td></tr>
<tr><td>Uganda </td><td> Year</td><td>round</td></tr>
<tr><td>Ghana </td><td> Year</td><td>round</td></tr>
<tr><td>Kenya </td><td> Year</td><td>round</td></tr>
<tr><td>Tanzania </td><td> Year</td><td>round</td></tr>
<tr><td>Egypt </td><td> Year</td><td>round</td></tr>
<tr><td>Indonesia </td><td> Year</td><td>round</td></tr>
<tr><td>Myanmar </td><td> Year</td><td>round</td></tr>
<tr><td>Thailand </td><td> Year</td><td>round</td></tr>
<tr><td>Philippines </td><td> Year</td><td>round</td></tr>
<tr><td>Cameroon </td><td> January to September</td></tr>
<tr><td>Ethiopia </td><td> February to May and August to November</td></tr>
<tr><td>Ivory Coast </td><td> March to July and October to December</td></tr>
<tr><td>Mali </td><td> May to September</td></tr>
<tr><td>Senegal </td><td> May to September</td></tr>
<tr><td>Burkina Faso </td><td> June to October</td></tr>
<tr><td>Niger </td><td> June to September</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Lady's Finger Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 100%</td></tr>
<tr><td>Pakistan </td><td> 0.7%</td></tr>
<tr><td>Bangladesh </td><td> 0.4%</td></tr>
<tr><td>Nigeria </td><td> 0.4%</td></tr>
<tr><td>Sudan </td><td> 0.3%</td></tr>
<tr><td>Egypt </td><td> 0.3%</td></tr>
<tr><td>Ethiopia </td><td> 0.3%</td></tr>
<tr><td>Philippines </td><td> 0.2%</td></tr>
<tr><td>Nepal </td><td> 0.2%</td></tr>
<tr><td>Indonesia </td><td> 0.2%</td></tr>
<tr><td>China </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Myanmar </td><td> 0.1%</td></tr>
<tr><td>Ghana </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Cameroon </td><td> 0.1%</td></tr>
<tr><td>Uganda </td><td> 0.1%</td></tr>
<tr><td>Sri Lanka </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Lady's Finger Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 0%</td></tr>
<tr><td>Canada </td><td> 0%</td></tr>
<tr><td>Russia </td><td> 0%</td></tr>
<tr><td>Australia </td><td> 0%</td></tr>
<tr><td>United Kingdom </td><td> 0%</td></tr>
<tr><td>Germany </td><td> 0%</td></tr>
<tr><td>France </td><td> 0%</td></tr>
<tr><td>Italy </td><td> 0%</td></tr>
<tr><td>Spain </td><td> 0%</td></tr>
<tr><td>Mexico </td><td> 0%</td></tr>
<tr><td>Argentina </td><td> 0%</td></tr>
<tr><td>Poland </td><td> 0%</td></tr>
<tr><td>South Africa </td><td> 0%</td></tr>
<tr><td>Ukraine </td><td> 0%</td></tr>
<tr><td>Turkey </td><td> 0%</td></tr>
<tr><td>Iran </td><td> 0%</td></tr>
<tr><td>Iraq </td><td> 0%</td></tr>
<tr><td>Saudi Arabia </td><td> 0%</td></tr>
<tr><td>Malaysia </td><td> 0%</td></tr>
<tr><td>Japan </td><td> 0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Lady's Finger Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 100%</td></tr>
<tr><td>Pakistan </td><td> 0.5%</td></tr>
<tr><td>Bangladesh </td><td> 0.3%</td></tr>
<tr><td>Nigeria </td><td> 0.3%</td></tr>
<tr><td>Sudan </td><td> 0.2%</td></tr>
<tr><td>Ethiopia </td><td> 0.2%</td></tr>
<tr><td>Egypt </td><td> 0.2%</td></tr>
<tr><td>Nepal </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Myanmar </td><td> 0.1%</td></tr>
<tr><td>Ghana </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Cameroon </td><td> 0.1%</td></tr>
<tr><td>Uganda </td><td> 0.1%</td></tr>
<tr><td>Sri Lanka </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Afghanistan </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Lady's Finger Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Tokyo Shokai Co., Ltd. </td><td> Japan</td></tr>
<tr><td>Sumitomo Corporation </td><td> Japan</td></tr>
<tr><td>Ebro Foods, S.A. </td><td> Spain</td></tr>
<tr><td>SCS Global Services </td><td> United States</td></tr>
<tr><td>The Fresh Connection BV </td><td> Netherlands</td></tr>
<tr><td>PFP Holdings </td><td> United Kingdom</td></tr>
<tr><td>Agrofair </td><td> Netherlands</td></tr>
<tr><td>Levarht </td><td> Netherlands</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Chiquita Brands International </td><td> United States</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> United States</td></tr>
<tr><td>Dole Food Company </td><td> United States</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> United States</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>Total Exotics </td><td> Belgium</td></tr>
<tr><td>In2food BV </td><td> Netherlands</td></tr>
<tr><td>Amsterdam Produce BV </td><td> Netherlands</td></tr>
<tr><td>Phoenix Commodities Pvt. Ltd. </td><td> India</td></tr>
<tr><td>All Fresh </td><td> United States</td></tr>
<tr><td>AM FRESH Group </td><td> United Kingdom</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Lady's Finger Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Del Monte Pacific Limited </td><td> Philippines</td></tr>
<tr><td>Dole Food Company </td><td> United States</td></tr>
<tr><td>Chiquita Brands International </td><td> United States</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> United States</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>G's Fresh </td><td> United Kingdom</td></tr>
<tr><td>J&J Family of Farms </td><td> United States</td></tr>
<tr><td>Earthbound Farm </td><td> United States</td></tr>
<tr><td>Windset Farms </td><td> Canada</td></tr>
<tr><td>Bejo Seeds </td><td> Netherlands</td></tr>
<tr><td>Nunhems BV </td><td> Netherlands</td></tr>
<tr><td>Enza Zaden </td><td> Netherlands</td></tr>
<tr><td>Rijk Zwaan </td><td> Netherlands</td></tr>
<tr><td>Sakata Seed Corporation </td><td> Japan</td></tr>
<tr><td>Takii Seed </td><td> Japan</td></tr>
<tr><td>Known</td><td>You Seed Co., Ltd. </td><td> Taiwan</td></tr>
<tr><td>East</td><td>West Seed </td><td> Philippines</td></tr>
<tr><td>Namdhari Seeds </td><td> India</td></tr>
<tr><td>Known</td><td>You Seed India Pvt. Ltd. </td><td> India</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Lady's Finger Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Health and Nutrition: Lady's finger is a good source of fiber, vitamin C, and other essential nutrients, making it a popular vegetable among health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Exotic Vegetables: The increasing popularity of exotic vegetables is driving demand for lady's finger in global markets, particularly in Europe and North America.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Culinary Diversity: Lady's finger is a versatile vegetable that can be used in a variety of cuisines, including Indian, Middle Eastern, and African, among others.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable Agriculture: There is growing interest in sustainable agriculture practices, such as organic farming and regenerative farming, that prioritize environmental conservation and reduce the use of synthetic inputs in lady's finger production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Convenience Foods: The demand for ready-to-eat and convenience foods is creating opportunities for processed and packaged lady's finger products, such as frozen and canned okra.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change and Weather Variability: The impacts of climate change, including extreme weather events, are affecting lady's finger production and supply chains, creating challenges for producers and suppliers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Alternative Farming Systems: Alternative farming systems, such as hydroponics and vertical farming, are being explored as potential solutions to the challenges facing lady's finger production, particularly in areas with limited arable land or water resources.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Digital Technology: The adoption of digital technologies, such as precision farming and data analytics, is improving the efficiency and productivity of lady's finger production and supply chains.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Trade Policies and Agreements: International trade policies and agreements play a crucial role in the lady's finger market, influencing global production, prices, and trade flows.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Innovation and Product Development: New product development and innovation are driving the diversification of lady's finger consumption across various food products, such as snacks, soups, and stews, creating new opportunities for producers and suppliers.</div>
</div>


</div>


</body>
</html>


