<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("lettuce-min.jpg"),:size => "100x100" %>
         
           <h4>Lettuce Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $22.8 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 7.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 5.2 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, lettuce production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. However, lettuce is generally considered a low-risk crop due to its short growing cycle, adaptability to various growing conditions, and high demand in both domestic and export markets.
Growth rate of lettuce crop by last year: The global lettuce market is projected to grow at a compound annual growth rate (CAGR) of around 7.2% between 2021 and 2028. Factors such as the increasing health awareness, the growth of the food and beverage industry, and the rising trend of home gardening are driving this growth.
</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Lettuce Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td>24.6%</td></tr>
<tr><td>Canada </td><td>7.6%</td></tr>
<tr><td>Mexico </td><td>6.9%</td></tr>
<tr><td>United Kingdom </td><td>5.6%</td></tr>
<tr><td>Japan </td><td>4.3%</td></tr>
<tr><td>Germany </td><td>3.8%</td></tr>
<tr><td>France </td><td>3.7%</td></tr>
<tr><td>Spain </td><td>3.4%</td></tr>
<tr><td>Netherlands </td><td>3.2%</td></tr>
<tr><td>Belgium </td><td>2.5%</td></tr>
<tr><td>Hong Kong </td><td>2.3%</td></tr>
<tr><td>Italy </td><td>2.1%</td></tr>
<tr><td>Saudi Arabia </td><td>1.8%</td></tr>
<tr><td>United Arab Emirates </td><td>1.5%</td></tr>
<tr><td>Switzerland </td><td>1.5%</td></tr>
<tr><td>Sweden </td><td>1.4%</td></tr>
<tr><td>China </td><td>1.4%</td></tr>
<tr><td>Norway </td><td>1.2%</td></tr>
<tr><td>Austria </td><td>1.2%</td></tr>
<tr><td>Australia </td><td>1.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Lettuce Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td>15.3%</td></tr>
<tr><td>United States </td><td>14.8%</td></tr>
<tr><td>Mexico </td><td>9.7%</td></tr>
<tr><td>Netherlands </td><td>8.2%</td></tr>
<tr><td>Belgium </td><td>7.6%</td></tr>
<tr><td>Italy </td><td>6.9%</td></tr>
<tr><td>France </td><td>6.1%</td></tr>
<tr><td>Canada </td><td>4.6%</td></tr>
<tr><td>United Kingdom </td><td>3.8%</td></tr>
<tr><td>Germany </td><td>2.9%</td></tr>
<tr><td>Poland </td><td>2.4%</td></tr>
<tr><td>Portugal </td><td>2.2%</td></tr>
<tr><td>China </td><td>1.9%</td></tr>
<tr><td>Australia </td><td>1.7%</td></tr>
<tr><td>Sweden </td><td>1.6%</td></tr>
<tr><td>Czech Republic </td><td>1.3%</td></tr>
<tr><td>Greece </td><td>1.2%</td></tr>
<tr><td>Turkey </td><td>1.2%</td></tr>
<tr><td>Denmark </td><td>1.2%</td></tr>
<tr><td>Switzerland </td><td>1.0%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Lettuce Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.42/kilo</td><td>$0.19/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.53/kilo</td><td>$0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.60/kilo</td><td>$0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.61/kilo</td><td>$0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.71/kilo</td><td>$0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $0.77/kilo</td><td>$0.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.78/kilo</td><td>$0.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.80/kilo</td><td>$0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.81/kilo</td><td>$0.37/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.85/kilo</td><td>$0.38/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $0.88/kilo</td><td>$0.40/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $0.91/kilo</td><td>$0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.93/kilo</td><td>$0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $0.93/kilo</td><td>$0.42/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.94/kilo</td><td>$0.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.96/kilo</td><td>$0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.98/kilo</td><td>$0.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $0.99/kilo</td><td>$0.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zimbabwe </td><td> $1.02/kilo</td><td>$0.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $1.03/kilo</td><td>$0.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Lettuce Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $4.15/kilo</td><td>$1.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $3.95/kilo</td><td>$1.80/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $3.84/kilo</td><td>$1.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $3.69/kilo</td><td>$1.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $3.56/kilo</td><td>$1.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $3.54/kilo</td><td>$1.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $3.51/kilo</td><td>$1.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $3.49/kilo</td><td>$1.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $3.47/kilo</td><td>$1.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $3.43/kilo</td><td>$1.56/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $3.37/kilo</td><td>$1.53/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $3.33/kilo</td><td>$1.51/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $3.30/kilo</td><td>$1.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.28/kilo</td><td>$1.49/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $3.25/kilo</td><td>$1.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $3.23/kilo</td><td>$1.47/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $3.21/kilo</td><td>$1.46/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $3.18/kilo</td><td>$1.44/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $3.16/kilo</td><td>$1.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $3.14/kilo</td><td>$1.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Lettuce Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td>28.5%</td></tr>
<tr><td>United States </td><td>19.3%</td></tr>
<tr><td>India </td><td>6.3%</td></tr>
<tr><td>Spain </td><td>5.3%</td></tr>
<tr><td>Italy </td><td>4.7%</td></tr>
<tr><td>Egypt </td><td>3.8%</td></tr>
<tr><td>Turkey </td><td>2.9%</td></tr>
<tr><td>Iran </td><td>2.6%</td></tr>
<tr><td>Japan </td><td>2.4%</td></tr>
<tr><td>South Korea </td><td>2.2%</td></tr>
<tr><td>Mexico </td><td>2.0%</td></tr>
<tr><td>Brazil </td><td>1.7%</td></tr>
<tr><td>Indonesia </td><td>1.4%</td></tr>
<tr><td>Australia </td><td>1.3%</td></tr>
<tr><td>Russia </td><td>1.3%</td></tr>
<tr><td>France </td><td>1.2%</td></tr>
<tr><td>Uzbekistan </td><td>1.1%</td></tr>
<tr><td>Israel </td><td>1.1%</td></tr>
<tr><td>Saudi Arabia </td><td>1.1%</td></tr>
<tr><td>Ukraine </td><td>1.0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Lettuce Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> April to October</td></tr>
<tr><td>China </td><td> October to April</td></tr>
<tr><td>Spain </td><td> September to May</td></tr>
<tr><td>Italy </td><td> September to May</td></tr>
<tr><td>Mexico </td><td> October to May</td></tr>
<tr><td>France </td><td> September to May</td></tr>
<tr><td>Turkey </td><td> October to June</td></tr>
<tr><td>Egypt </td><td> September to May</td></tr>
<tr><td>Iran </td><td> October to April</td></tr>
<tr><td>Brazil </td><td> September to May</td></tr>
<tr><td>Australia </td><td> April to November</td></tr>
<tr><td>United Kingdom </td><td> April to October</td></tr>
<tr><td>Germany </td><td> April to October</td></tr>
<tr><td>Poland </td><td> April to October</td></tr>
<tr><td>Ukraine </td><td> April to October</td></tr>
<tr><td>Russia </td><td> April to October</td></tr>
<tr><td>Canada </td><td> May to September</td></tr>
<tr><td>South Africa </td><td> March to October</td></tr>
<tr><td>Argentina </td><td> September to May</td></tr>
<tr><td>Chile </td><td> September to May</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Lettuce Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 28.6%</td></tr>
<tr><td>Spain </td><td> 14.5%</td></tr>
<tr><td>Italy </td><td> 8.2%</td></tr>
<tr><td>United Kingdom </td><td> 6.7%</td></tr>
<tr><td>France </td><td> 5.9%</td></tr>
<tr><td>Germany </td><td> 5.3%</td></tr>
<tr><td>China </td><td> 3.5%</td></tr>
<tr><td>Japan </td><td> 3.1%</td></tr>
<tr><td>Canada </td><td> 2.5%</td></tr>
<tr><td>Mexico </td><td> 2.2%</td></tr>
<tr><td>Netherlands </td><td> 1.8%</td></tr>
<tr><td>Poland </td><td> 1.7%</td></tr>
<tr><td>Australia </td><td> 1.5%</td></tr>
<tr><td>Turkey </td><td> 1.2%</td></tr>
<tr><td>Belgium </td><td> 1.1%</td></tr>
<tr><td>Portugal </td><td> 0.9%</td></tr>
<tr><td>Greece </td><td> 0.8%</td></tr>
<tr><td>Chile </td><td> 0.7%</td></tr>
<tr><td>South Korea </td><td> 0.6%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Lettuce Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Russia </td><td> 0.4%</td></tr>
<tr><td>Kazakhstan </td><td> 0.4%</td></tr>
<tr><td>Ukraine </td><td> 0.4%</td></tr>
<tr><td>Algeria </td><td> 0.4%</td></tr>
<tr><td>Argentina </td><td> 0.4%</td></tr>
<tr><td>Uzbekistan </td><td> 0.3%</td></tr>
<tr><td>Iran </td><td> 0.3%</td></tr>
<tr><td>Morocco </td><td> 0.3%</td></tr>
<tr><td>Sudan </td><td> 0.3%</td></tr>
<tr><td>Iraq </td><td> 0.3%</td></tr>
<tr><td>Egypt </td><td> 0.3%</td></tr>
<tr><td>Peru </td><td> 0.2%</td></tr>
<tr><td>Syria </td><td> 0.2%</td></tr>
<tr><td>Tunisia </td><td> 0.2%</td></tr>
<tr><td>Colombia </td><td> 0.2%</td></tr>
<tr><td>Turkmenistan </td><td> 0.2%</td></tr>
<tr><td>Myanmar </td><td> 0.2%</td></tr>
<tr><td>Tanzania </td><td> 0.2%</td></tr>
<tr><td>Ethiopia </td><td> 0.2%</td></tr>
<tr><td>Thailand </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Lettuce Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 30.6%</td></tr>
<tr><td>European Union </td><td> 26.4%</td></tr>
<tr><td>China </td><td> 8.4%</td></tr>
<tr><td>Japan </td><td> 4.6%</td></tr>
<tr><td>Canada </td><td> 4.4%</td></tr>
<tr><td>Australia </td><td> 2.8%</td></tr>
<tr><td>South Korea </td><td> 2.6%</td></tr>
<tr><td>Mexico </td><td> 2.5%</td></tr>
<tr><td>Russia </td><td> 1.9%</td></tr>
<tr><td>Brazil </td><td> 1.5%</td></tr>
<tr><td>Turkey </td><td> 1.2%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.0%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.9%</td></tr>
<tr><td>Egypt </td><td> 0.8%</td></tr>
<tr><td>Thailand </td><td> 0.8%</td></tr>
<tr><td>Iran </td><td> 0.7%</td></tr>
<tr><td>South Africa </td><td> 0.6%</td></tr>
<tr><td>Vietnam </td><td> 0.5%</td></tr>
<tr><td>Israel </td><td> 0.5%</td></tr>
<tr><td>Ukraine </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Lettuce Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Fresh Express Inc. </td><td>USA</td></tr>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>Taylor Farms </td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td>USA</td></tr>
<tr><td>Bonduelle Group </td><td>France</td></tr>
<tr><td>Earthbound Farm </td><td>USA</td></tr>
<tr><td>Apio Inc. </td><td>USA</td></tr>
<tr><td>Ready Pac Foods </td><td>USA</td></tr>
<tr><td>Tanimura & Antle </td><td>USA</td></tr>
<tr><td>Grimmway Farms </td><td>USA</td></tr>
<tr><td>Salinas Valley </td><td>USA</td></tr>
<tr><td>Giumarra Companies </td><td>USA</td></tr>
<tr><td>Mann Packing Co. </td><td>USA</td></tr>
<tr><td>Driscoll’s Inc. </td><td>USA</td></tr>
<tr><td>Murakami Produce Company </td><td>USA</td></tr>
<tr><td>Sunkist Growers Inc. </td><td>USA</td></tr>
<tr><td>A.V. Thomas Produce </td><td>India</td></tr>
<tr><td>Naturipe Farms </td><td>USA</td></tr>
<tr><td>C.H. Robinson </td><td>USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Lettuce Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td>USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td>USA</td></tr>
<tr><td>Bonduelle Group </td><td>France</td></tr>
<tr><td>Earthbound Farm </td><td>USA</td></tr>
<tr><td>Apio Inc. </td><td>USA</td></tr>
<tr><td>Ready Pac Foods </td><td>USA</td></tr>
<tr><td>Tanimura & Antle </td><td>USA</td></tr>
<tr><td>Grimmway Farms </td><td>USA</td></tr>
<tr><td>Giumarra Companies </td><td>USA</td></tr>
<tr><td>Mann Packing Co. </td><td>USA</td></tr>
<tr><td>Driscoll’s Inc. </td><td>USA</td></tr>
<tr><td>Murakami Produce Company </td><td>USA</td></tr>
<tr><td>Sunkist Growers Inc. </td><td>USA</td></tr>
<tr><td>Naturipe Farms </td><td>USA</td></tr>
<tr><td>Taylor Farms </td><td>USA</td></tr>
<tr><td>Salinas Valley </td><td>USA</td></tr>
<tr><td>A.V. Thomas Produce </td><td>India</td></tr>
<tr><td>C.H. Robinson </td><td>USA</td></tr>
<tr><td>Chiquita Brands International </td><td>USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Lettuce Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased Demand for Fresh Produce: The demand for fresh produce, including lettuce, is on the rise due to increasing health awareness and the growing trend of healthy eating.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Popularity of Plant-Based Diets: The popularity of plant-based diets, including vegan and vegetarian diets, is driving demand for lettuce as a versatile and healthy ingredient in various dishes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased Focus on Food Safety: Food safety concerns are driving changes in the lettuce industry, including the adoption of new technologies and best practices to ensure the safety and quality of lettuce products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Local and Sustainable Agriculture: Consumers are increasingly interested in locally grown and sustainably produced lettuce, leading to the growth of small-scale and urban farming operations.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Technology and Innovation: Technology is playing an increasing role in the lettuce industry, from precision farming techniques to new packaging and storage technologies that help to maintain the freshness and quality of lettuce products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Varietal Diversity: The lettuce market is becoming more diverse, with new and unique varieties of lettuce gaining popularity among consumers and growers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic and Non-GMO Production: Organic and non-GMO lettuce production is becoming more popular as consumers seek out healthier and more environmentally friendly food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Alternative Growing Systems: Alternative growing systems, such as hydroponics and vertical farming, are being explored as potential solutions to the challenges facing lettuce production, particularly in urban areas with limited space.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change and Weather Variability: The impacts of climate change and weather variability are affecting lettuce production and supply chains, creating challenges for producers and suppliers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Marketing and Branding: Successful marketing and branding strategies are becoming increasingly important in the lettuce industry, as growers and suppliers seek to differentiate themselves in a crowded market and appeal to changing consumer preferences.</div>
</div>


</div>

</body>
</html>

