<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("okra-min.jpg"),:size => "100x100" %>
         
           <h4>Okra Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.3 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 640,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, okra production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Okra is a relatively resilient crop, but it can be susceptible to pests such as aphids, whiteflies, and fruit borers, which can reduce yields and quality.
Growth rate of okra crop by last year: The global okra market witnessed a growth rate of around 5% in 2020. This growth was driven by increasing demand from the food and beverage industry, as well as the use of okra in traditional medicine practices.
</p>
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Okra Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td>25%</td></tr>
<tr><td>United Kingdom </td><td>8%</td></tr>
<tr><td>United Arab Emirates </td><td>7%</td></tr>
<tr><td>Saudi Arabia </td><td>5%</td></tr>
<tr><td>Canada </td><td>4%</td></tr>
<tr><td>France </td><td>4%</td></tr>
<tr><td>Germany </td><td>3%</td></tr>
<tr><td>Netherlands </td><td>3%</td></tr>
<tr><td>Australia </td><td>3%</td></tr>
<tr><td>Belgium </td><td>2%</td></tr>
<tr><td>Spain </td><td>2%</td></tr>
<tr><td>Italy </td><td>2%</td></tr>
<tr><td>Japan </td><td>2%</td></tr>
<tr><td>Kuwait </td><td>2%</td></tr>
<tr><td>Qatar </td><td>2%</td></tr>
<tr><td>Singapore </td><td>1%</td></tr>
<tr><td>Hong Kong </td><td>1%</td></tr>
<tr><td>Bahrain </td><td>1%</td></tr>
<tr><td>Sweden </td><td>1%</td></tr>
<tr><td>Switzerland </td><td>1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Okra Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td>33%</td></tr>
<tr><td>Mexico </td><td>13%</td></tr>
<tr><td>Netherlands </td><td>8%</td></tr>
<tr><td>Belgium </td><td>5%</td></tr>
<tr><td>Spain </td><td>4%</td></tr>
<tr><td>United States </td><td>3%</td></tr>
<tr><td>Malaysia </td><td>3%</td></tr>
<tr><td>Germany </td><td>3%</td></tr>
<tr><td>France </td><td>2%</td></tr>
<tr><td>United Kingdom </td><td>2%</td></tr>
<tr><td>Canada </td><td>2%</td></tr>
<tr><td>Saudi Arabia </td><td>2%</td></tr>
<tr><td>United Arab Emirates </td><td>2%</td></tr>
<tr><td>Japan </td><td>1%</td></tr>
<tr><td>Singapore </td><td>1%</td></tr>
<tr><td>Hong Kong </td><td>1%</td></tr>
<tr><td>Thailand </td><td>1%</td></tr>
<tr><td>Italy </td><td>1%</td></tr>
<tr><td>South Korea </td><td>1%</td></tr>
<tr><td>Taiwan </td><td>1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Okra Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.34/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $0.37/kg</td><td> $0.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.39/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $0.47/kg</td><td> $0.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.51/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $0.56/kg</td><td> $0.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $0.57/kg</td><td> $0.26/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $0.58/kg</td><td> $0.26/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $0.63/kg</td><td> $0.29/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zambia </td><td> $0.64/kg</td><td> $0.29/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mozambique </td><td> $0.66/kg</td><td> $0.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.67/kg</td><td> $0.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malawi </td><td> $0.69/kg</td><td> $0.31/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Senegal </td><td> $0.71/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Benin </td><td> $0.71/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cote d'Ivoire </td><td> $0.75/kg</td><td> $0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mali </td><td> $0.77/kg</td><td> $0.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Niger </td><td> $0.78/kg</td><td> $0.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Burkina Faso </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Okra Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States </td><td> $5.99/kg</td><td> $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $5.86/kg</td><td> $2.66/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $5.34/kg</td><td> $2.43/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $5.13/kg</td><td> $2.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $4.93/kg</td><td> $2.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $4.57/kg</td><td> $2.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $4.28/kg</td><td> $1.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.94/kg</td><td> $1.79/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $3.75/kg</td><td> $1.71/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $3.68/kg</td><td> $1.67/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $3.53/kg</td><td> $1.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $3.39/kg</td><td> $1.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $3.19/kg</td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $2.99/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $2.94/kg</td><td> $1.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $2.87/kg</td><td> $1.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $2.74/kg</td><td> $1.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Jordan </td><td> $2.68/kg</td><td> $1.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $2.57/kg</td><td> $1.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Lebanon </td><td> $2.49/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Okra Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td>60%</td></tr>
<tr><td>Nigeria </td><td>9%</td></tr>
<tr><td>Sudan </td><td>6%</td></tr>
<tr><td>Pakistan </td><td>4%</td></tr>
<tr><td>Ethiopia </td><td>3%</td></tr>
<tr><td>Kenya </td><td>2%</td></tr>
<tr><td>Turkey </td><td>2%</td></tr>
<tr><td>Egypt </td><td>2%</td></tr>
<tr><td>Ghana </td><td>1%</td></tr>
<tr><td>Cameroon </td><td>1%</td></tr>
<tr><td>Indonesia </td><td>1%</td></tr>
<tr><td>Tanzania </td><td>1%</td></tr>
<tr><td>China </td><td>1%</td></tr>
<tr><td>Uganda </td><td>1%</td></tr>
<tr><td>Mexico </td><td>1%</td></tr>
<tr><td>Iran </td><td>1%</td></tr>
<tr><td>Bangladesh </td><td>1%</td></tr>
<tr><td>Brazil </td><td>1%</td></tr>
<tr><td>Philippines </td><td>1%</td></tr>
<tr><td>Myanmar </td><td>1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Okra Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> April to Sep</td></tr>
<tr><td>Pakistan </td><td> May to Sep</td></tr>
<tr><td>Bangladesh </td><td> May to Sep</td></tr>
<tr><td>Nigeria </td><td> Mar to Aug</td></tr>
<tr><td>Sudan </td><td> June to Oct</td></tr>
<tr><td>Uganda </td><td> Mar to May-Aug to Oct</td></tr>
<tr><td>Ghana </td><td> April to Aug</td></tr>
<tr><td>Kenya </td><td> Jan to May-Aug to Nov</td></tr>
<tr><td>Burkina Faso </td><td> May to Oct</td></tr>
<tr><td>Egypt </td><td> Mar to June</td></tr>
<tr><td>Tanzania </td><td> Mar to May-Sep to Nov</td></tr>
<tr><td>Mali </td><td> May to Oct</td></tr>
<tr><td>Niger </td><td> May to Oct</td></tr>
<tr><td>Senegal </td><td> May to Nov</td></tr>
<tr><td>Ethiopia </td><td> Jan to Mar, May to Sep</td></tr>
<tr><td>Côte d'Ivoire </td><td> April to Aug</td></tr>
<tr><td>Togo </td><td> Mar to Sep</td></tr>
<tr><td>Benin </td><td> Mar to Sep</td></tr>
<tr><td>Cameroon </td><td> Mar to Sep</td></tr>
<tr><td>Zimbabwe </td><td> Oct to Dec-Feb to May</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Okra Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 57%</td></tr>
<tr><td>Nigeria </td><td> 9%</td></tr>
<tr><td>Sudan </td><td> 7%</td></tr>
<tr><td>Egypt </td><td> 3%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Cameroon </td><td> 2%</td></tr>
<tr><td>Ghana </td><td> 2%</td></tr>
<tr><td>Bangladesh </td><td> 2%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Mali </td><td> 1%</td></tr>
<tr><td>Niger </td><td> 1%</td></tr>
<tr><td>Burkina Faso </td><td> 1%</td></tr>
<tr><td>Senegal </td><td> 1%</td></tr>
<tr><td>Kenya </td><td> 1%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 1%</td></tr>
<tr><td>Benin </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Togo </td><td> 1%</td></tr>
<tr><td>Guinea </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Okra Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 0.01%</td></tr>
<tr><td>Canada </td><td> 0.02%</td></tr>
<tr><td>South Korea </td><td> 0.03%</td></tr>
<tr><td>United Kingdom </td><td> 0.04%</td></tr>
<tr><td>Belgium </td><td> 0.05%</td></tr>
<tr><td>France </td><td> 0.06%</td></tr>
<tr><td>Germany </td><td> 0.07%</td></tr>
<tr><td>Netherlands </td><td> 0.08%</td></tr>
<tr><td>Italy </td><td> 0.09%</td></tr>
<tr><td>United States </td><td> 0.10%</td></tr>
<tr><td>Spain </td><td> 0.11%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.12%</td></tr>
<tr><td>Australia </td><td> 0.13%</td></tr>
<tr><td>Singapore </td><td> 0.14%</td></tr>
<tr><td>Malaysia </td><td> 0.15%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.16%</td></tr>
<tr><td>Hong Kong </td><td> 0.17%</td></tr>
<tr><td>Thailand </td><td> 0.18%</td></tr>
<tr><td>Taiwan </td><td> 0.19%</td></tr>
<tr><td>China </td><td> 0.20%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Okra Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 65%</td></tr>
<tr><td>Nigeria </td><td> 10%</td></tr>
<tr><td>Sudan </td><td> 4%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Bangladesh </td><td> 2%</td></tr>
<tr><td>Cameroon </td><td> 1%</td></tr>
<tr><td>Ghana </td><td> 1%</td></tr>
<tr><td>Kenya </td><td> 1%</td></tr>
<tr><td>Mali </td><td> 1%</td></tr>
<tr><td>Niger </td><td> 1%</td></tr>
<tr><td>Burkina Faso </td><td> 1%</td></tr>
<tr><td>Senegal </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
<tr><td>Togo </td><td> 1%</td></tr>
<tr><td>Benin </td><td> 1%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Okra Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>

<tr><td>Fresh Fruits Company </td><td> UAE</td></tr>
<tr><td>Big India Farms </td><td> USA</td></tr>
<tr><td>House of Spices </td><td> USA</td></tr>
<tr><td>Thuan Phat Supermarket </td><td> USA</td></tr>
<tr><td>Euro-Asia Fruits Group </td><td> Netherlands</td></tr>
<tr><td>Kibsons International </td><td> UAE</td></tr>
<tr><td>Geewin Exim </td><td> India</td></tr>
<tr><td>Rehmat Rice Mills </td><td> Pakistan</td></tr>
<tr><td>Shan Foods Pvt. Ltd. </td><td> Pakistan</td></tr>
<tr><td>R&G FRESH HERBS </td><td> UK</td></tr>
<tr><td>Sky Group FZE </td><td> UAE</td></tr>
<tr><td>The Greenery </td><td> Netherlands</td></tr>
<tr><td>ESSAR EXPORTS </td><td> India</td></tr>
<tr><td>Unicorn Global Trading </td><td> UAE</td></tr>
<tr><td>DRC Trading </td><td> USA</td></tr>
<tr><td>SAS Export Corporation </td><td> India</td></tr>
<tr><td>Tasty Bite </td><td> USA</td></tr>
<tr><td>Gopalan Enterprises </td><td> India</td></tr>
<tr><td>Fozan Fruits Company </td><td> Saudi Arabia</td></tr>
<tr><td>Tomex Foods </td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Okra Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Monsanto </td><td> USA</td></tr>
<tr><td>Syngenta </td><td> Switzerland</td></tr>
<tr><td>Bayer </td><td> Germany</td></tr>
<tr><td>Dow AgroSciences </td><td> USA</td></tr>
<tr><td>DuPont </td><td> USA</td></tr>
<tr><td>Limagrain </td><td> France</td></tr>
<tr><td>Land O'Lakes </td><td> USA</td></tr>
<tr><td>KWS Saat </td><td> Germany</td></tr>
<tr><td>Sakata </td><td> Japan</td></tr>
<tr><td>Takii </td><td> Japan</td></tr>
<tr><td>Rijk Zwaan </td><td> Netherlands</td></tr>
<tr><td>Enza Zaden </td><td> Netherlands</td></tr>
<tr><td>East-West Seed </td><td> Thailand</td></tr>
<tr><td>Bejo Zaden </td><td> Netherlands</td></tr>
<tr><td>Nunhems </td><td> Netherlands</td></tr>
<tr><td>VoloAgri </td><td> USA</td></tr>
<tr><td>Known-You Seed </td><td> Taiwan</td></tr>
<tr><td>Sakata Vegetables Europe </td><td> Spain</td></tr>
<tr><td>Seminis </td><td> USA</td></tr>
<tr><td>Gautam Seeds </td><td> India</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Okra Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Growing Demand for Okra in the Food Industry: There is an increasing demand for okra in the food industry, particularly in countries where it is a traditional vegetable. It is used in various dishes, including stews, soups, and curries.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Interest in Okra as a Superfood: Okra is high in fiber, vitamins, and minerals, making it a popular choice among health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in Cultivation Techniques: Advances in cultivation techniques are helping to increase the yield and quality of okra, while also reducing production costs.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising Popularity of Ethnic Foods: Okra is a staple ingredient in many ethnic cuisines, such as African and Southern American, and the rising popularity of these cuisines is driving demand for okra.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of New Okra Varieties: New varieties of okra are being developed, with different colors, flavors, and textures, to meet changing consumer preferences and demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Interest in Sustainable Agriculture: There is an increasing focus on sustainable agriculture, which is driving changes in the way okra is grown and harvested.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of Okra-Related Industries: The growth of the okra industry is leading to the development of related industries, such as okra processing and packaging.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Research into Health Benefits: There is growing research into the potential health benefits of okra, including its anti-inflammatory and anti-diabetic properties.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Demand for Organic Okra: There is a growing demand for organic okra due to increasing awareness about the health and environmental benefits of organic products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Shifts in Okra Trade Patterns: The global trade patterns of okra are shifting, with changes in demand and supply from different regions and countries.</div>
</div>


</div>


</body>
</html>



