<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("onion-min.png"),:size => "100x100" %>
         
           <h4>Onion Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $5.7 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 5.4 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, onion production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Onions can be affected by various pests and diseases, such as onion maggots, thrips, and downy mildew, which can reduce yields and quality.
Growth rate of onion crop by last year: The global onion market witnessed a growth rate of around 4% in 2020. This growth was driven by increasing demand from the food industry, particularly in developing countries.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Onion Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 10%</td></tr>
<tr><td>Germany </td><td> 7%</td></tr>
<tr><td>Indonesia </td><td> 5%</td></tr>
<tr><td>United Kingdom </td><td> 5%</td></tr>
<tr><td>Russia </td><td> 4%</td></tr>
<tr><td>Bangladesh </td><td> 4%</td></tr>
<tr><td>Japan </td><td> 4%</td></tr>
<tr><td>Malaysia </td><td> 3%</td></tr>
<tr><td>Philippines </td><td> 3%</td></tr>
<tr><td>France </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>United Arab Emirates </td><td> 2%</td></tr>
<tr><td>Singapore </td><td> 2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2%</td></tr>
<tr><td>Thailand </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Onion Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Netherlands </td><td> 22%</td></tr>
<tr><td>India </td><td> 16%</td></tr>
<tr><td>China </td><td> 8%</td></tr>
<tr><td>Spain </td><td> 7%</td></tr>
<tr><td>Mexico </td><td> 5%</td></tr>
<tr><td>Peru </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Egypt </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 3%</td></tr>
<tr><td>New Zealand </td><td> 2%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Onion Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.17/kg</td><td> $0.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.26/kg</td><td> $0.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.27/kg</td><td> $0.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $0.32/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.35/kg</td><td> $0.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.37/kg</td><td> $0.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $0.39/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $0.42/kg</td><td> $0.19/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $0.44/kg</td><td> $0.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.44/kg</td><td> $0.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia </td><td> $0.47/kg</td><td> $0.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Serbia </td><td> $0.48/kg</td><td> $0.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Moldova </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.51/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.52/kg</td><td> $0.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Onion Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Norway </td><td> $2.97/kg</td><td> $1.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.44/kg</td><td> $1.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iceland </td><td> $2.38/kg</td><td> $1.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $2.21/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $2.12/kg</td><td> $0.96/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $2.02/kg</td><td> $0.92/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Luxembourg </td><td> $1.98/kg</td><td> $0.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $1.97/kg</td><td> $0.89/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $1.89/kg</td><td> $0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $1.85/kg</td><td> $0.84/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $1.78/kg</td><td> $0.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $1.75/kg</td><td> $0.79/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $1.68/kg</td><td> $0.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.66/kg</td><td> $0.75/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $1.64/kg</td><td> $0.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.63/kg</td><td> $0.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.59/kg</td><td> $0.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.57/kg</td><td> $0.71/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.55/kg</td><td> $0.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Onion Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 22%</td></tr>
<tr><td>India </td><td> 15%</td></tr>
<tr><td>Egypt </td><td> 6%</td></tr>
<tr><td>Iran </td><td> 5%</td></tr>
<tr><td>Turkey </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Russia </td><td> 3%</td></tr>
<tr><td>Brazil </td><td> 3%</td></tr>
<tr><td>Bangladesh </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Ukraine </td><td> 2%</td></tr>
<tr><td>Ethiopia </td><td> 2%</td></tr>
<tr><td>Sudan </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Nigeria </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Onion Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>China </td><td> Sep to Nov</td></tr>
<tr><td>Egypt </td><td> Sep to Dec</td></tr>
<tr><td>Iran </td><td> Oct to April</td></tr>
<tr><td>Turkey </td><td> April to July</td></tr>
<tr><td>United States </td><td> May to Aug</td></tr>
<tr><td>Pakistan </td><td> Nov to April</td></tr>
<tr><td>Brazil </td><td> Sep to Dec</td></tr>
<tr><td>Mexico </td><td> Oct to Jan</td></tr>
<tr><td>Russia </td><td> June to Aug</td></tr>
<tr><td>Spain </td><td> Sep to Nov</td></tr>
<tr><td>Italy </td><td> May to July</td></tr>
<tr><td>France </td><td> June to Aug</td></tr>
<tr><td>Argentina </td><td> Sep to Feb</td></tr>
<tr><td>Ukraine </td><td> June to Aug</td></tr>
<tr><td>Germany </td><td> June to Aug</td></tr>
<tr><td>Netherlands </td><td> June to Aug</td></tr>
<tr><td>United Kingdom </td><td> June to Aug</td></tr>
<tr><td>Poland </td><td> July to Sep</td></tr>
<tr><td>Canada </td><td> July to Sep</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Onion Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 22.6%</td></tr>
<tr><td>China </td><td> 12.8%</td></tr>
<tr><td>United States </td><td> 7.4%</td></tr>
<tr><td>Iran </td><td> 4.7%</td></tr>
<tr><td>Egypt </td><td> 4.4%</td></tr>
<tr><td>Turkey </td><td> 4.0%</td></tr>
<tr><td>Russia </td><td> 3.8%</td></tr>
<tr><td>Pakistan </td><td> 3.4%</td></tr>
<tr><td>Brazil </td><td> 2.8%</td></tr>
<tr><td>Spain </td><td> 2.7%</td></tr>
<tr><td>Mexico </td><td> 2.4%</td></tr>
<tr><td>Japan </td><td> 2.3%</td></tr>
<tr><td>South Korea </td><td> 1.9%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>France </td><td> 1.6%</td></tr>
<tr><td>Ukraine </td><td> 1.5%</td></tr>
<tr><td>Ethiopia </td><td> 1.4%</td></tr>
<tr><td>Indonesia </td><td> 1.3%</td></tr>
<tr><td>Bangladesh </td><td> 1.2%</td></tr>
<tr><td>Nigeria </td><td> 1.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Onion Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iceland </td><td> 0.002%</td></tr>
<tr><td>Luxembourg </td><td> 0.003%</td></tr>
<tr><td>Malta </td><td> 0.004%</td></tr>
<tr><td>Liechtenstein </td><td> 0.006%</td></tr>
<tr><td>Monaco </td><td> 0.008%</td></tr>
<tr><td>San Marino </td><td> 0.009%</td></tr>
<tr><td>Andorra </td><td> 0.01%</td></tr>
<tr><td>Seychelles </td><td> 0.02%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0.03%</td></tr>
<tr><td>Dominica </td><td> 0.04%</td></tr>
<tr><td>Tonga </td><td> 0.05%</td></tr>
<tr><td>Vanuatu </td><td> 0.05%</td></tr>
<tr><td>Saint Vincent and the Grenadines </td><td> 0.06%</td></tr>
<tr><td>Grenada </td><td> 0.08%</td></tr>
<tr><td>Solomon Islands </td><td> 0.09%</td></tr>
<tr><td>Saint Lucia </td><td> 0.1%</td></tr>
<tr><td>Micronesia </td><td> 0.1%</td></tr>
<tr><td>Marshall Islands </td><td> 0.1%</td></tr>
<tr><td>Kiribati </td><td> 0.2%</td></tr>
<tr><td>Palau </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Onion Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 25.8%</td></tr>
<tr><td>China </td><td> 20.6%</td></tr>
<tr><td>United States </td><td> 8.2%</td></tr>
<tr><td>Iran </td><td> 4.4%</td></tr>
<tr><td>Turkey </td><td> 4.1%</td></tr>
<tr><td>Egypt </td><td> 3.7%</td></tr>
<tr><td>Russia </td><td> 3.3%</td></tr>
<tr><td>Pakistan </td><td> 3.1%</td></tr>
<tr><td>Brazil </td><td> 2.2%</td></tr>
<tr><td>Spain </td><td> 2.0%</td></tr>
<tr><td>Japan </td><td> 1.9%</td></tr>
<tr><td>South Korea </td><td> 1.8%</td></tr>
<tr><td>Mexico </td><td> 1.7%</td></tr>
<tr><td>Italy </td><td> 1.5%</td></tr>
<tr><td>France </td><td> 1.4%</td></tr>
<tr><td>Ukraine </td><td> 1.3%</td></tr>
<tr><td>Ethiopia </td><td> 1.1%</td></tr>
<tr><td>Indonesia </td><td> 1.0%</td></tr>
<tr><td>Bangladesh </td><td> 0.9%</td></tr>
<tr><td>Nigeria </td><td> 0.9%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Onion Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>

<tr><td>Agrofair </td><td> Netherlands</td></tr>
<tr><td>Arysta Lifescience </td><td> Japan</td></tr>
<tr><td>Camet Trading </td><td> USA</td></tr>
<tr><td>Danespo </td><td> Denmark</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>Joy Wing Mau Group </td><td> China</td></tr>
<tr><td>Mastronardi Produce </td><td> Canada</td></tr>
<tr><td>Naturipe Farms </td><td> USA</td></tr>
<tr><td>Organto Foods </td><td> Canada</td></tr>
<tr><td>Sol Fruit </td><td> Spain</td></tr>
<tr><td>Sun World International </td><td> USA</td></tr>
<tr><td>T&G Global </td><td> New Zealand</td></tr>
<tr><td>The Greenery </td><td> Netherlands</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>UNIVEG </td><td> Belgium</td></tr>
<tr><td>Westfalia Fruit </td><td> South Africa</td></tr>
<tr><td>Wonderful Citrus </td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Onion Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>A.V. Thomas Produce </td><td> India</td></tr>
<tr><td>A.F. Suter & Co </td><td> UK</td></tr>
<tr><td>Agrícola y Comercial Santa María </td><td> Mexico</td></tr>
<tr><td>Allenberg Cotton </td><td> USA</td></tr>
<tr><td>Bonduelle </td><td> France</td></tr>
<tr><td>Chiquita Brands </td><td> USA</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> USA</td></tr>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>G’s Fresh </td><td> UK</td></tr>
<tr><td>Golden State Foods </td><td> USA</td></tr>
<tr><td>Greenyard </td><td> Belgium</td></tr>
<tr><td>Inverafrut </td><td> Chile</td></tr>
<tr><td>Limoneira </td><td> USA</td></tr>
<tr><td>Naturipe Farms </td><td> USA</td></tr>
<tr><td>New Zealand Gourmet </td><td> New Zealand</td></tr>
<tr><td>T&G Global </td><td> New Zealand</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>UNIVEG </td><td> Belgium</td></tr>
<tr><td>Wonderful Citrus </td><td> USA</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Onion Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Demand for Fresh Onions: There is a growing demand for fresh onions, driven by their use in various cuisines and dishes around the world.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising Demand for Dehydrated Onions: There is also an increasing demand for dehydrated onions, which are used in a range of food products such as seasonings, soups, and sauces.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of New Varieties: The development of new onion varieties, including those with higher yields and resistance to pests and diseases, is driving growth in the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in Farming Techniques: Advances in farming techniques, such as precision agriculture and vertical farming, are helping to increase the efficiency and sustainability of onion production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Interest in Organic Onions: There is a growing interest in organic onions due to increasing awareness about the health and environmental benefits of organic products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Use of Onions in the Food Industry: Onions are used in a wide range of food products, from snacks to ready meals, and their use in the food industry is growing.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Changes in Trade Patterns: Changes in trade patterns, including tariffs and regulations, are affecting the global onion market and driving shifts in production and consumption patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Focus on Sustainability and Environmental Impact: There is a growing focus on sustainability and reducing the environmental impact of onion production, which is driving changes in farming practices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Demand in Emerging Markets: Emerging markets, particularly in Asia and Africa, are driving growth in the onion market, as demand for onions in these regions continues to increase.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Use of Onions in Medical Applications: Onions have been found to have medicinal properties, including anti-inflammatory and antioxidant effects, which is driving interest in their use in medical applications.</div>
</div>

</div>

</body>
</html>

