<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("pulses-min.jpg"),:size => "100x100" %>
         
           <h4>Pulse Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $71.04 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 78.3 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Pulses refer to a group of crops that include lentils, chickpeas, beans, and peas, among others. Like any crop, pulse production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Pulses can be affected by various pests and diseases, such as root rots, fungal diseases, and insects, which can reduce yields and quality.
Growth rate of pulses crop by last year: The global pulses market witnessed a growth rate of around 3.5% in 2020. This growth was driven by increasing demand from the food industry, particularly in developing countries.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Pulse Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 18%</td></tr>
<tr><td>China </td><td> 12%</td></tr>
<tr><td>Turkey </td><td> 6%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Bangladesh </td><td> 4%</td></tr>
<tr><td>Pakistan </td><td> 4%</td></tr>
<tr><td>Algeria </td><td> 3%</td></tr>
<tr><td>USA </td><td> 3%</td></tr>
<tr><td>Morocco </td><td> 3%</td></tr>
<tr><td>Iran </td><td> 3%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2%</td></tr>
<tr><td>United Arab Emirates </td><td> 2%</td></tr>
<tr><td>Tunisia </td><td> 2%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Yemen </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pulse Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 24%</td></tr>
<tr><td>Myanmar </td><td> 19%</td></tr>
<tr><td>Australia </td><td> 11%</td></tr>
<tr><td>USA </td><td> 9%</td></tr>
<tr><td>Russia </td><td> 5%</td></tr>
<tr><td>China </td><td> 4%</td></tr>
<tr><td>Ukraine </td><td> 4%</td></tr>
<tr><td>Ethiopia </td><td> 3%</td></tr>
<tr><td>Kazakhstan </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 2%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Pulse Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Sudan </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $4.00/kg</td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $4.50/kg</td><td> $2.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Pulse Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $4.50/kg</td><td> $2.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $4.00/kg</td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sudan </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Pulse Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 24%</td></tr>
<tr><td>Canada </td><td> 17%</td></tr>
<tr><td>Myanmar </td><td> 11%</td></tr>
<tr><td>China </td><td> 10%</td></tr>
<tr><td>Brazil </td><td> 6%</td></tr>
<tr><td>USA </td><td> 5%</td></tr>
<tr><td>Australia </td><td> 3%</td></tr>
<tr><td>Russia </td><td> 3%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Ethiopia </td><td> 2%</td></tr>
<tr><td>Kazakhstan </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Pulse Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> Oct to Mar</td></tr>
<tr><td>Canada </td><td> June to Aug</td></tr>
<tr><td>Myanmar </td><td> Oct to Feb</td></tr>
<tr><td>China </td><td> Sep to Nov</td></tr>
<tr><td>Brazil </td><td> Sep to Nov</td></tr>
<tr><td>USA </td><td> June to Sep</td></tr>
<tr><td>Australia </td><td> May to Sep</td></tr>
<tr><td>Russia </td><td> June to Sep</td></tr>
<tr><td>Mexico </td><td> Nov to Mar</td></tr>
<tr><td>Argentina </td><td> Nov to Feb</td></tr>
<tr><td>Turkey </td><td> May to June-Sep to Oct</td></tr>
<tr><td>Ethiopia </td><td> Sep to Nov</td></tr>
<tr><td>Kazakhstan </td><td> Aug to Sep</td></tr>
<tr><td>Ukraine </td><td> July to Aug</td></tr>
<tr><td>Tanzania </td><td> Nov to Feb</td></tr>
<tr><td>Uganda </td><td> Apr to May-Aug to Nov</td></tr>
<tr><td>France </td><td> June to Aug</td></tr>
<tr><td>Chile </td><td> Sep to Nov</td></tr>
<tr><td>Spain </td><td> June to Aug</td></tr>
<tr><td>UK </td><td> June to Aug</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Pulse Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 58%</td></tr>
<tr><td>Canada </td><td> 38%</td></tr>
<tr><td>USA  </td><td>26%</td></tr>
<tr><td>Australia  </td><td>25%</td></tr>
<tr><td>Turkey  </td><td>21%</td></tr>
<tr><td>Myanmar  </td><td>19%</td></tr>
<tr><td>Russia  </td><td>18%</td></tr>
<tr><td>China </td><td>16%</td></tr>
<tr><td>Ethiopia</td><td>16%</td></tr>
<tr><td>Brazil</td><td>14%</td></tr>
<tr><td>Argentina</td><td>14%</td></tr>
<tr><td>Spain</td><td>14%</td></tr>
<tr><td>Mexico</td><td>13%</td></tr>
<tr><td>France</td><td>12%</td></tr>
<tr><td>Morocco</td><td>12%</td></tr>
<tr><td>Kazakhstan</td><td>11%</td></tr>
<tr><td>Ukraine</td><td>10%</td></tr>
<tr><td>Iran </td><td>10%</td></tr>
<tr><td>Pakistan</td><td>9%</td></tr>
<tr><td>Egypt </td><td>8%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Pulse Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td>3%</td></tr>
<tr><td>Canada </td><td>3%</td></tr>
<tr><td>USA </td><td>3%</td></tr>
<tr><td>Russia </td><td>3%</td></tr>
<tr><td>Turkey </td><td>3%</td></tr>
<tr><td>Ethiopia </td><td>2%</td></tr>
<tr><td>Argentina </td><td>2%</td></tr>
<tr><td>Brazil </td><td>2%</td></tr>
<tr><td>France  </td><td>2%</td></tr>
<tr><td>Kazakhstan </td><td>2%</td></tr>
<tr><td>Spain </td><td>2%</td></tr>
<tr><td>India </td><td>2%</td></tr>
<tr><td>Ukraine</td><td>1%</td></tr>
<tr><td>Morocco </td><td>1%</td></tr>
<tr><td>Mexico</td><td>1%</td></tr>
<tr><td>China</td><td>1%</td></tr>
<tr><td>Myanmar </td><td>1%</td></tr>
<tr><td>Egypt</td><td>1%</td></tr>
<tr><td>Pakistan </td><td>1%</td></tr>
<tr><td>Iran </td><td>1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Pulse Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 27%</td></tr>
<tr><td>China </td><td> 23%</td></tr>
<tr><td>Ethiopia </td><td> 5%</td></tr>
<tr><td>Pakistan </td><td> 5%</td></tr>
<tr><td>Myanmar </td><td> 3%</td></tr>
<tr><td>Brazil </td><td> 3%</td></tr>
<tr><td>Bangladesh </td><td> 3%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Sudan </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Nigeria </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Algeria </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Pulse Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>Cargill, Inc. </td><td>USA</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>Toepfer International GmbH </td><td>Germany</td></tr>
<tr><td>Dreyfus Company </td><td>USA</td></tr>
<tr><td>Vicentin S.A.I.C. </td><td>Argentina</td></tr>
<tr><td>Noble Group Limited </td><td>Hong Kong</td></tr>
<tr><td>Al Ghurair Resources LLC </td><td>UAE</td></tr>
<tr><td>Concord Grain </td><td>Canada</td></tr>
<tr><td>Mitsui & Co., Ltd. </td><td>Japan</td></tr>
<tr><td>Copersucar S.A. </td><td>Brazil</td></tr>
<tr><td>Glencore Agriculture Limited </td><td>Switzerland</td></tr>
<tr><td>ADM Trading </td><td>UK</td></tr><tr><td> Limited </td><td>UK</td></tr>
<tr><td>Viterra Inc. </td><td>Canada</td></tr>
<tr><td>Marubeni Europe plc </td><td>UK</td></tr>
<tr><td>Nidera B.V. </td><td>Netherlands</td></tr>
<tr><td>The Scoular Company </td><td>USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Pulse Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>Cargill, Inc. </td><td>USA</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Louis Dreyfus Company </td><td>Netherlands</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>Toepfer International GmbH </td><td>Germany</td></tr>
<tr><td>Vicentin S.A.I.C. </td><td>Argentina</td></tr>
<tr><td>Noble Group Limited </td><td>Hong Kong</td></tr>
<tr><td>The Scoular Company </td><td>USA</td></tr>
<tr><td>GrainCorp Limited </td><td>Australia</td></tr>
<tr><td>Richardson International Limited </td><td>Canada</td></tr>
<tr><td>Glencore Agriculture Limited </td><td>Switzerland</td></tr>
<tr><td>Al Ghurair Resources LLC </td><td>UAE</td></tr>
<tr><td>Concord Grain </td><td>Canada</td></tr>
<tr><td>Mitsui & Co., Ltd. </td><td>Japan</td></tr>
<tr><td>Copersucar S.A. </td><td>Brazil</td></tr>
<tr><td>Viterra Inc. </td><td>Canada</td></tr>
<tr><td>Nidera B.V. </td><td>Netherlands</td></tr>
<tr><td>The Andersons, Inc. </td><td>USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Pulse Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Demand for Plant-Based Protein: Pulses, such as chickpeas, lentils, and beans, are an excellent source of plant-based protein and are increasingly popular among consumers looking for healthier and more sustainable food options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Interest in Sustainable Agriculture: Pulses are a sustainable crop that can help improve soil health and reduce the need for chemical fertilizers and pesticides, making them a popular choice among farmers and consumers alike.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising Demand for Convenience Foods: Pulses are a popular ingredient in many convenience foods, such as canned soups and ready-to-eat meals, as they provide a good source of protein and fiber.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing Demand in Developing Countries: As incomes rise in developing countries, demand for pulses as a protein source is increasing, particularly in Asia and Africa.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing Interest in Non-GMO and Organic Pulses: There is a growing demand for non-GMO and organic pulses as consumers become more aware of the health and environmental benefits of these products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Technological Advances in Pulses Processing: Advances in technology are making it easier and more efficient to process pulses, which is driving growth in the market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Innovation in Pulses-Based Products: Innovation in pulses-based products, such as using pulse flours as a substitute for wheat flour, is driving growth in the market as consumers seek healthier and more sustainable options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Government Support for Pulses Production: Many governments are providing support for pulses production as part of their efforts to promote sustainable agriculture and improve food security.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Climate Change Impact on Pulses Production: Climate change is affecting the production of pulses, with unpredictable weather patterns leading to reduced yields in some regions.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade Disputes Impacting Pulses Exports: Trade disputes, such as tariffs and regulations, are affecting the global pulses market and driving shifts in production and consumption patterns.</div>
</div>

</div>

</body>
</html>




