<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("radish-min.jpg"),:size => "100x100" %>
         
           <h4>Radish Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $6.04 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.7 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, radish production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Radishes can be affected by various pests and diseases, such as flea beetles, root maggots, and clubroot, which can reduce yields and quality.
Radishes have some strategic value in terms of their export opportunities. However, the export potential of radishes is relatively limited compared to other crops due to their perishable nature and regional consumer preferences. Radishes are mainly consumed in Asia, Europe, and North America, and their export markets are primarily focused on fresh and processed products, such as pickles and relishes.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Radish Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States</td><td> 12.5%</td></tr>
<tr><td>Japan</td><td> 11.9%</td></tr>
<tr><td>Hong Kong</td><td> 7.4%</td></tr>
<tr><td>Canada</td><td> 6.8%</td></tr>
<tr><td>United Kingdom</td><td> 4.4%</td></tr>
<tr><td>Singapore</td><td> 4.1%</td></tr>
<tr><td>Germany</td><td> 3.3%</td></tr>
<tr><td>Netherlands</td><td> 3.2%</td></tr>
<tr><td>Malaysia</td><td> 2.9%</td></tr>
<tr><td>France</td><td> 2.7%</td></tr>
<tr><td>Spain</td><td> 2.3%</td></tr>
<tr><td>United Arab Emirates</td><td> 1.9%</td></tr>
<tr><td>Belgium</td><td> 1.8%</td></tr>
<tr><td>Saudi Arabia</td><td> 1.7%</td></tr>
<tr><td>Thailand</td><td> 1.5%</td></tr>
<tr><td>Switzerland</td><td> 1.4%</td></tr>
<tr><td>Kuwait</td><td> 1.3%</td></tr>
<tr><td>China</td><td> 1.2%</td></tr>
<tr><td>South Korea</td><td> 1.2%</td></tr>
<tr><td>Australia</td><td> 1.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Radish Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td> 43.8%</td></tr>
<tr><td>Mexico</td><td> 10.2%</td></tr>
<tr><td>South Korea</td><td> 9.5%</td></tr>
<tr><td>United States</td><td> 5.8%</td></tr>
<tr><td>Japan</td><td> 3.7%</td></tr>
<tr><td>Spain</td><td> 3.3%</td></tr>
<tr><td>Netherlands</td><td> 3.1%</td></tr>
<tr><td>United Kingdom</td><td> 2.6%</td></tr>
<tr><td>Canada</td><td> 1.9%</td></tr>
<tr><td>Vietnam</td><td> 1.7%</td></tr>
<tr><td>France</td><td> 1.6%</td></tr>
<tr><td>Germany</td><td> 1.4%</td></tr>
<tr><td>Thailand</td><td> 1.4%</td></tr>
<tr><td>Belgium</td><td> 1.2%</td></tr>
<tr><td>Malaysia</td><td> 0.8%</td></tr>
<tr><td>Russia</td><td> 0.8%</td></tr>
<tr><td>Singapore</td><td> 0.7%</td></tr>
<tr><td>Hong Kong</td><td> 0.6%</td></tr>
<tr><td>Australia</td><td> 0.6%</td></tr>
<tr><td>Italy</td><td> 0.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Radish Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.00/kg</td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Radish Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.00/kg</td><td> $1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Radish Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td> 70%</td></tr>
<tr><td>South Korea</td><td> 11%</td></tr>
<tr><td>Japan</td><td> 5%</td></tr>
<tr><td>United States</td><td> 2%</td></tr>
<tr><td>Mexico</td><td> 2%</td></tr>
<tr><td>Spain</td><td> 1%</td></tr>
<tr><td>Turkey</td><td> 1%</td></tr>
<tr><td>Iran</td><td> 1%</td></tr>
<tr><td>Egypt</td><td> 1%</td></tr>
<tr><td>India</td><td> 1%</td></tr>
<tr><td>Italy</td><td> 1%</td></tr>
<tr><td>Uzbekistan</td><td> 1%</td></tr>
<tr><td>Russia</td><td> 1%</td></tr>
<tr><td>Ukraine</td><td> 1%</td></tr>
<tr><td>Poland</td><td> 1%</td></tr>
<tr><td>Vietnam</td><td> 1%</td></tr>
<tr><td>Indonesia</td><td> 1%</td></tr>
<tr><td>Philippines</td><td> 1%</td></tr>
<tr><td>Thailand</td><td> 1%</td></tr>
<tr><td>Argentina</td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Radish Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> Apr to Nov</td></tr>
<tr><td>Canada </td><td> May to Sep</td></tr>
<tr><td>Mexico </td><td> Oct to Mar</td></tr>
<tr><td>China </td><td> Sep to May</td></tr>
<tr><td>India </td><td> Oct to Mar</td></tr>
<tr><td>Japan </td><td> Apr to June-Sep to Nov</td></tr>
<tr><td>South Korea </td><td> Mar to Nov</td></tr>
<tr><td>Russia </td><td> May to Oct</td></tr>
<tr><td>Ukraine </td><td> Apr to Nov</td></tr>
<tr><td>United Kingdom </td><td> Mar to July-Sep to Dec</td></tr>
<tr><td>Germany </td><td> Mar to July-Aug to Nov</td></tr>
<tr><td>France </td><td> Apr to Oct</td></tr>
<tr><td>Italy </td><td> Oct to May</td></tr>
<tr><td>Spain </td><td> Oct to June</td></tr>
<tr><td>Turkey </td><td> Oct to May</td></tr>
<tr><td>Egypt </td><td> Nov to Feb</td></tr>
<tr><td>South Africa </td><td> Mar to July</td></tr>
<tr><td>Australia </td><td> Mar to Oct</td></tr>
<tr><td>Brazil </td><td> Ma-Aug-Sep to Dec</td></tr>
<tr><td>Argentina </td><td> Oct to Apr</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Radish Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 60%</td></tr>
<tr><td>Japan </td><td> 10%</td></tr>
<tr><td>South Korea </td><td> 5%</td></tr>
<tr><td>United States </td><td> 5%</td></tr>
<tr><td>Mexico </td><td> 3%</td></tr>
<tr><td>India </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 0.5%</td></tr>
<tr><td>Italy </td><td> 0.5%</td></tr>
<tr><td>Pakistan </td><td> 0.5%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Radish Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 0.3%</td></tr>
<tr><td>Australia </td><td> 0.2%</td></tr>
<tr><td>France </td><td> 0.2%</td></tr>
<tr><td>Argentina </td><td> 0.2%</td></tr>
<tr><td>United Kingdom </td><td> 0.1%</td></tr>
<tr><td>New Zealand </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Netherlands </td><td> 0.1%</td></tr>
<tr><td>Belgium </td><td> 0.1%</td></tr>
<tr><td>Malaysia </td><td> 0.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.1%</td></tr>
<tr><td>Venezuela </td><td> 0.1%</td></tr>
<tr><td>Greece </td><td> 0.1%</td></tr>
<tr><td>Portugal </td><td> 0.1%</td></tr>
<tr><td>Czech Republic </td><td> 0.1%</td></tr>
<tr><td>Hungary </td><td> 0.1%</td></tr>
<tr><td>Austria </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Radish Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 55%</td></tr>
<tr><td>Japan </td><td> 12%</td></tr>
<tr><td>South Korea </td><td> 5%</td></tr>
<tr><td>United States </td><td> 4%</td></tr>
<tr><td>Mexico </td><td> 3%</td></tr>
<tr><td>India </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 0.5%</td></tr>
<tr><td>Italy </td><td> 0.5%</td></tr>
<tr><td>Pakistan </td><td> 0.5%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Radish Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>

<tr><td>BRF S.A. </td><td>Brazil</td></tr>
<tr><td>Nomad Foods Europe Lmd </td><td>UK</td></tr>
<tr><td>Seara Alimentos S.A. </td><td>Brazil</td></tr>
<tr><td>McCain Foods Lmd </td><td>Canada</td></tr>
<tr><td>Lamb Weston Holdings, Inc. </td><td>USA</td></tr>
<tr><td>Hormel Foods Corp </td><td>USA</td></tr>
<tr><td>Conagra Brands, Inc. </td><td>USA</td></tr>
<tr><td>Ajinomoto Co., Inc. </td><td>Japan</td></tr>
<tr><td>Simplot Australia Pty Ltd </td><td>Australia</td></tr>
<tr><td>Bonduelle Group </td><td>France</td></tr>
<tr><td>Del Monte Pacific Lmd </td><td>Singapore</td></tr>
<tr><td>Dole Food Company, Inc. </td><td>USA</td></tr>
<tr><td>Princes Lmd </td><td>UK</td></tr>
<tr><td>Seneca Foods Corp </td><td>USA</td></tr>
<tr><td>Pacific Coast Producers </td><td>USA</td></tr>
<tr><td>Nestlé S.A. </td><td>Switzerland</td></tr>
<tr><td>Weirich Farms, Inc. </td><td>USA</td></tr>
<tr><td>China National Chemical Corp </td><td>China</td></tr>
<tr><td>AGRANA Beteiligungs AG </td><td>Austria</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Radish Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Sysco Corp </td><td>USA</td></tr>
<tr><td>Hormel Foods Corp </td><td>USA</td></tr>
<tr><td>Conagra Brands, Inc. </td><td>USA</td></tr>
<tr><td>Ajinomoto Co., Inc. </td><td>Japan</td></tr>
<tr><td>Bonduelle Group </td><td>France</td></tr>
<tr><td>Dole Food Company, Inc. </td><td>USA</td></tr>
<tr><td>Princes Lmd </td><td>UK</td></tr>
<tr><td>Seneca Foods Corp </td><td>USA</td></tr>
<tr><td>Pacific Coast Producers </td><td>USA</td></tr>
<tr><td>Nestlé S.A. </td><td>Switzerland</td></tr>
<tr><td>Weirich Farms, Inc. </td><td>USA</td></tr>
<tr><td>China National Chemical Corp </td><td>China</td></tr>
<tr><td>AGRANA Beteiligungs-AG </td><td>Austria</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>Zhejiang Huasheng Technology</td><td>China</td></tr>
<tr><td>Heinz Kraft Foods Company </td><td>USA</td></tr>
<tr><td>Kraft Heinz Canada ULC </td><td>Canada</td></tr>
<tr><td>The Kraft Heinz Company </td><td>USA</td></tr>
<tr><td>F&N Foods Pte Ltd. </td><td>Singapore</td></tr>
<tr><td>Seneca Foods LLC </td><td>USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Radish Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and locally grown radishes due to increased consumer awareness about healthy eating and environmental concerns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing popularity of specialty radish varieties, such as daikon and watermelon radishes, which are prized for their unique flavors and textures.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in radish breeding and genetics leading to the development of new varieties that offer improved yield, disease resistance, and other desirable traits.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in using radishes as cover crops in agriculture to improve soil health and reduce erosion.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of vertical farming and hydroponic systems for growing radishes in urban areas, where space is limited.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on sustainable agriculture practices in the radish farming industry, including reducing water usage and minimizing the use of synthetic fertilizers and pesticides.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of precision agriculture technologies, such as GPS mapping and drone technology, to optimize radish production and reduce costs.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing use of radishes in the food industry as an ingredient in salads, sandwiches, and other dishes, as well as in pickling and fermenting.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased competition in the radish market due to the entry of new players, particularly from emerging economies such as India and China.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Changing weather patterns and environmental conditions affecting radish production and causing supply chain disruptions, which can impact market prices and availability.</div>
</div>

</div>


</body>
</html>



