<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("rapeseed_canola-min.jpg"),:size => "100x100" %>
         
           <h4>RapeSeed Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $19.04 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 33 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, rapeseed (canola) production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Rapeseed is susceptible to various pests and diseases, such as flea beetles, blackleg, and clubroot, which can reduce yields and quality.
Growth rate of rapeseed canola crop by last year: The global rapeseed (canola) market witnessed a growth rate of around 4% in 2020. This growth was driven by increasing demand for healthy cooking oils and increasing demand for biodiesel as a renewable energy source.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top RapeSeed Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td>19.5%</td></tr>
<tr><td>European Union </td><td>16.5%</td></tr>
<tr><td>Mexico </td><td>8.9%</td></tr>
<tr><td>Japan </td><td>7.7%</td></tr>
<tr><td>United States </td><td>7.2%</td></tr>
<tr><td>South Korea </td><td>5.3%</td></tr>
<tr><td>Pakistan </td><td>3.3%</td></tr>
<tr><td>Thailand </td><td>2.8%</td></tr>
<tr><td>Turkey </td><td>2.6%</td></tr>
<tr><td>Taiwan </td><td>2.3%</td></tr>
<tr><td>Iran </td><td>2.2%</td></tr>
<tr><td>Malaysia </td><td>1.8%</td></tr>
<tr><td>Morocco </td><td>1.5%</td></tr>
<tr><td>Indonesia </td><td>1.4%</td></tr>
<tr><td>Canada </td><td>1.2%</td></tr>
<tr><td>Egypt </td><td>1.2%</td></tr>
<tr><td>Bangladesh </td><td>1.2%</td></tr>
<tr><td>United Arab Emirates </td><td>1.1%</td></tr>
<tr><td>Russia </td><td>1%</td></tr>
<tr><td>Vietnam </td><td>0.9%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top RapeSeed Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td>34.1%</td></tr>
<tr><td>European Union </td><td>22.3%</td></tr>
<tr><td>Australia </td><td>10.8%</td></tr>
<tr><td>Ukraine </td><td>6.3%</td></tr>
<tr><td>Russia </td><td>5.3%</td></tr>
<tr><td>United States </td><td>4.7%</td></tr>
<tr><td>Kazakhstan </td><td>2.9%</td></tr>
<tr><td>Belarus </td><td>1.8%</td></tr>
<tr><td>China </td><td>1.5%</td></tr>
<tr><td>United Arab Emirates </td><td>1.4%</td></tr>
<tr><td>Pakistan </td><td>1.2%</td></tr>
<tr><td>Chile </td><td>1.1%</td></tr>
<tr><td>Mexico </td><td>1.1%</td></tr>
<tr><td>Paraguay </td><td>0.9%</td></tr>
<tr><td>Norway </td><td>0.8%</td></tr>
<tr><td>Switzerland </td><td>0.7%</td></tr>
<tr><td>Japan </td><td>0.7%</td></tr>
<tr><td>South Korea </td><td>0.7%</td></tr>
<tr><td>Turkey </td><td>0.6%</td></tr>
<tr><td>Indonesia </td><td>0.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable RapeSeed Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Romania </td><td> $0.12/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $0.13/kg</td><td> $0.06/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.14/kg</td><td> $0.06/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hungary </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.16/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $0.17/kg</td><td> $0.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $0.18/kg</td><td> $0.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $0.19/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td> $0.21/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.22/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.23/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.24/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $0.25/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.26/kg</td><td> $0.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.27/kg</td><td> $0.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $0.31/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $0.32/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $0.35/kg</td><td> $0.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased RapeSeed Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> $0.35/kg</td><td> $0.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $0.32/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $0.31/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $0.27/kg</td><td> $0.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $0.26/kg</td><td> $0.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Poland </td><td> $0.25/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.24/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $0.23/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $0.22/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic </td><td> $0.21/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $0.19/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $0.18/kg</td><td> $0.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $0.17/kg</td><td> $0.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $0.16/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hungary </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $0.14/kg</td><td> $0.06/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $0.13/kg</td><td> $0.06/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania </td><td> $0.12/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost RapeSeed Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td>20.9%</td></tr>
<tr><td>China </td><td>19.8%</td></tr>
<tr><td>European Union </td><td>17.7%</td></tr>
<tr><td>India </td><td>12.7%</td></tr>
<tr><td>Australia </td><td>7.2%</td></tr>
<tr><td>Ukraine </td><td>3.8%</td></tr>
<tr><td>Russia </td><td>3.1%</td></tr>
<tr><td>United States </td><td>2.9%</td></tr>
<tr><td>Kazakhstan </td><td>1.8%</td></tr>
<tr><td>Pakistan </td><td>1.3%</td></tr>
<tr><td>Turkey </td><td>1.1%</td></tr>
<tr><td>Iran </td><td>1%</td></tr>
<tr><td>France </td><td>0.8%</td></tr>
<tr><td>Germany </td><td>0.7%</td></tr>
<tr><td>United Kingdom </td><td>0.6%</td></tr>
<tr><td>Poland </td><td>0.6%</td></tr>
<tr><td>Brazil </td><td>0.5%</td></tr>
<tr><td>Argentina </td><td>0.4%</td></tr>
<tr><td>Czech Republic </td><td>0.3%</td></tr>
<tr><td>Belarus </td><td>0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh RapeSeed Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada</td><td> April to August</td></tr>
<tr><td>China</td><td> September to October</td></tr>
<tr><td>India</td><td> October to February</td></tr>
<tr><td>France</td><td> September to March</td></tr>
<tr><td>Germany</td><td> September to February</td></tr>
<tr><td>United Kingdom</td><td> September to March</td></tr>
<tr><td>Australia</td><td> May to August</td></tr>
<tr><td>United States</td><td> March to August</td></tr>
<tr><td>Poland</td><td> August to February</td></tr>
<tr><td>Ukraine</td><td> September to October</td></tr>
<tr><td>Russia</td><td> July to August</td></tr>
<tr><td>Czech Republic</td><td> August to February</td></tr>
<tr><td>Romania</td><td> September to October</td></tr>
<tr><td>Belarus</td><td> July to August</td></tr>
<tr><td>Denmark</td><td> August to February</td></tr>
<tr><td>Sweden</td><td> July to August</td></tr>
<tr><td>Hungary</td><td> August to February</td></tr>
<tr><td>Finland</td><td> July to August</td></tr>
<tr><td>Slovakia</td><td> August to February</td></tr>
<tr><td>Bulgaria</td><td> September to October</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for RapeSeed Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 45.4%</td></tr>
<tr><td>China </td><td> 15.8%</td></tr>
<tr><td>European Union </td><td> 13.7%</td></tr>
<tr><td>India </td><td> 8.6%</td></tr>
<tr><td>Australia </td><td> 3.9%</td></tr>
<tr><td>Ukraine </td><td> 2.9%</td></tr>
<tr><td>United States </td><td> 2.5%</td></tr>
<tr><td>Russia </td><td> 1.8%</td></tr>
<tr><td>Pakistan </td><td> 0.8%</td></tr>
<tr><td>Japan </td><td> 0.7%</td></tr>
<tr><td>Mexico </td><td> 0.6%</td></tr>
<tr><td>Chile </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.4%</td></tr>
<tr><td>Belarus </td><td> 0.4%</td></tr>
<tr><td>Argentina </td><td> 0.3%</td></tr>
<tr><td>New Zealand </td><td> 0.3%</td></tr>
<tr><td>Turkey </td><td> 0.2%</td></tr>
<tr><td>Brazil </td><td> 0.2%</td></tr>
<tr><td>Morocco </td><td> 0.2%</td></tr>
<tr><td>Kazakhstan </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for RapeSeed Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 2.2%</td></tr>
<tr><td>Iran </td><td> 2.1%</td></tr>
<tr><td>Thailand </td><td> 1.4%</td></tr>
<tr><td>South Korea </td><td> 1.4%</td></tr>
<tr><td>Egypt </td><td> 1.3%</td></tr>
<tr><td>Vietnam </td><td> 1.3%</td></tr>
<tr><td>Taiwan </td><td> 1.1%</td></tr>
<tr><td>Malaysia </td><td> 1.0%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.9%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.7%</td></tr>
<tr><td>Algeria </td><td> 0.7%</td></tr>
<tr><td>Tunisia </td><td> 0.6%</td></tr>
<tr><td>Israel </td><td> 0.6%</td></tr>
<tr><td>Philippines </td><td> 0.6%</td></tr>
<tr><td>Colombia </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Jordan </td><td> 0.5%</td></tr>
<tr><td>Kenya </td><td> 0.4%</td></tr>
<tr><td>Ethiopia </td><td> 0.4%</td></tr>
<tr><td>Syria </td><td> 0.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top RapeSeed Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 37.2%</td></tr>
<tr><td>China </td><td> 22.3%</td></tr>
<tr><td>Canada </td><td> 11.3%</td></tr>
<tr><td>India </td><td> 10.8%</td></tr>
<tr><td>Japan </td><td> 3.9%</td></tr>
<tr><td>Mexico </td><td> 2.8%</td></tr>
<tr><td>United States </td><td> 2.7%</td></tr>
<tr><td>Pakistan </td><td> 1.7%</td></tr>
<tr><td>South Korea </td><td> 1.1%</td></tr>
<tr><td>Australia </td><td> 0.9%</td></tr>
<tr><td>Turkey </td><td> 0.8%</td></tr>
<tr><td>Russia </td><td> 0.7%</td></tr>
<tr><td>Indonesia </td><td> 0.7%</td></tr>
<tr><td>Thailand </td><td> 0.7%</td></tr>
<tr><td>Vietnam </td><td> 0.6%</td></tr>
<tr><td>Egypt </td><td> 0.6%</td></tr>
<tr><td>Iran </td><td> 0.5%</td></tr>
<tr><td>Malaysia </td><td> 0.5%</td></tr>
<tr><td>South Africa </td><td> 0.4%</td></tr>
<tr><td>Philippines </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">RapeSeed Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Archer Daniels Midland </td><td>USA</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>CHS Inc. </td><td>USA</td></tr>
<tr><td>Bunge Lmd </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company B.V. </td><td>Netherlands</td></tr>
<tr><td>Toepfer International GmbH </td><td>Germany</td></tr>
<tr><td>COFCO Corporation </td><td>China</td></tr>
<tr><td>Wilmar International Lmd </td><td>Singapore</td></tr>
<tr><td>Nidera B.V. </td><td>Netherlands</td></tr>
<tr><td>Ag Processing Inc </td><td>USA</td></tr>
<tr><td>Richardson International Lmd </td><td>Canada</td></tr>
<tr><td>AGRANA Beteiligungs AG </td><td>Austria</td></tr>
<tr><td>United Raw Material Solutions, Inc. </td><td>USA</td></tr>
<tr><td>Paterson Grain </td><td>Canada</td></tr>
<tr><td>Vicentin S.A.I.C. </td><td>Argentina</td></tr>
<tr><td>Hakan Agro DMCC </td><td>UAE</td></tr>
<tr><td>Cefetra B.V. </td><td>Netherlands</td></tr>
<tr><td>ADM Trading </td><td>Ukraine</td></tr>
<tr><td>J.D. Heiskell & Co. </td><td>USA</td></tr>
<tr><td>Noble Group Lmd </td><td>Hong Kong</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">RapeSeed Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>CHS Inc. </td><td>USA</td></tr>
<tr><td>Bunge Lmd </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company B.V. </td><td>Netherlands</td></tr>
<tr><td>Toepfer International GmbH </td><td>Germany</td></tr>
<tr><td>COFCO Corporation </td><td>China</td></tr>
<tr><td>Wilmar International Lmd </td><td>Singapore</td></tr>
<tr><td>Nidera B.V. </td><td>Netherlands</td></tr>
<tr><td>Ag Processing Inc </td><td>USA</td></tr>
<tr><td>Richardson International Lmd </td><td>Canada</td></tr>
<tr><td>AGRANA Beteiligungs AG </td><td>Austria</td></tr>
<tr><td>United Raw Material Sol</td><td>USA</td></tr>
<tr><td>Paterson Grain </td><td>Canada</td></tr>
<tr><td>Vicentin S.A.I.C. </td><td>Argentina</td></tr>
<tr><td>Hakan Agro DMCC </td><td>UAE</td></tr>
<tr><td>Cefetra B.V. </td><td>Netherlands</td></tr>
<tr><td>ADM Trading </td><td>Ukraine</td></tr>
<tr><td>J.D. Heiskell & Co. </td><td>USA</td></tr>
<tr><td>Noble Group Lmd </td><td>Hong Kong</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>RapeSeed Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for vegetable oils: With the rise in health consciousness among consumers, there has been a growing demand for healthier cooking oils such as rapeseed (canola) oil.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for biodiesel: Rapeseed (canola) oil is also used as a feedstock for biodiesel, which is a renewable energy source. As governments aim to reduce their carbon footprint, the demand for biodiesel is expected to increase, driving the growth of the rapeseed (canola) market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change impacts: Climate change has affected the yield of rapeseed (canola) crops in some regions. Droughts and heatwaves have impacted production in Canada, the world's largest producer of rapeseed (canola).</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Technological advancements: The use of advanced technologies in farming, such as precision agriculture and genetic modification, has improved the productivity and yield of rapeseed (canola) crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Trade policies: Changes in trade policies, such as import tariffs, can affect the global market demand and price of rapeseed (canola) crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Pests and diseases: Pest and disease outbreaks can significantly impact rapeseed (canola) crop yield and production.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Shifting consumer preferences: Changes in consumer preferences, such as increased demand for organic products, can affect the demand for rapeseed (canola) crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing use in animal feed: Rapeseed (canola) meal, a by-product of oil extraction, is used as a protein-rich animal feed. As demand for meat and dairy products increases, so does the demand for rapeseed (canola) meal.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Competition from other oilseed crops: Competition from other oilseed crops such as soybean and palm oil can affect the global market demand and price of rapeseed (canola).</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Government support: Government policies and support, such as subsidies and incentives, can have a significant impact on the growth of the rapeseed (canola) market in certain regions.</div>
</div>

</div>

</body>
</html>



