<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("sesame-min.jpg"),:size => "100x100" %>
         
           <h4>Sesame Seed Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $8.05 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 10 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, sesame production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Sesame can be affected by various pests and diseases, such as leaf spots, root-knot nematodes, and stem blight, which can reduce yields and quality.
Sesame has significant strategic value in terms of its export opportunities. According to the Food and Agriculture Organization of the United Nations, the global export value of sesame seeds was USD 2.8 billion in 2022, with the top five exporting countries being Ethiopia, India, Sudan, Nigeria, and Myanmar. Sesame seeds are widely used for various purposes, such as cooking oil, bakery products, and tahini, which creates opportunities for sesame producers to expand their export markets and increase their profitability.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Sesame Seed Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> 16.8%</td></tr>
<tr><td>China </td><td> 13.3%</td></tr>
<tr><td>Turkey </td><td> 8.1%</td></tr>
<tr><td>South Korea </td><td> 7.6%</td></tr>
<tr><td>Israel </td><td> 5.6%</td></tr>
<tr><td>Netherlands </td><td> 5.5%</td></tr>
<tr><td>Egypt </td><td> 4.9%</td></tr>
<tr><td>United States </td><td> 4.8%</td></tr>
<tr><td>Belgium </td><td> 4.5%</td></tr>
<tr><td>Germany </td><td> 3.8%</td></tr>
<tr><td>Canada </td><td> 3.6%</td></tr>
<tr><td>Saudi Arabia </td><td> 3.3%</td></tr>
<tr><td>France </td><td> 2.7%</td></tr>
<tr><td>United Kingdom </td><td> 2.3%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>Taiwan </td><td> 1.4%</td></tr>
<tr><td>Hong Kong </td><td> 1.1%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Thailand </td><td> 0.9%</td></tr>
<tr><td>Australia </td><td> 0.8%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sesame Seed Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 22.2%</td></tr>
<tr><td>Ethiopia </td><td> 11.4%</td></tr>
<tr><td>Myanmar </td><td> 10.4%</td></tr>
<tr><td>Sudan </td><td> 8.1%</td></tr>
<tr><td>Nigeria </td><td> 5.9%</td></tr>
<tr><td>Tanzania </td><td> 5.1%</td></tr>
<tr><td>Uganda </td><td> 4.5%</td></tr>
<tr><td>Mexico </td><td> 2.9%</td></tr>
<tr><td>Burkina Faso </td><td> 2.8%</td></tr>
<tr><td>Mali </td><td> 2.6%</td></tr>
<tr><td>China </td><td> 2.5%</td></tr>
<tr><td>Cameroon </td><td> 1.8%</td></tr>
<tr><td>Chad </td><td> 1.7%</td></tr>
<tr><td>Pakistan </td><td> 1.6%</td></tr>
<tr><td>Benin </td><td> 1.5%</td></tr>
<tr><td>Niger </td><td> 1.5%</td></tr>
<tr><td>Senegal </td><td> 1.5%</td></tr>
<tr><td>Togo </td><td> 1.5%</td></tr>
<tr><td>Zambia </td><td> 1.3%</td></tr>
<tr><td>Ghana </td><td> 1.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Sesame Seed Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Nepal </td><td> $0.05/kg</td><td> $0.02/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.75/kg</td><td> $0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $2.50/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.00/kg</td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $4.50/kg</td><td> $2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $5.50/kg</td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $6.00/kg</td><td> $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $6.50/kg</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $7.50/kg</td><td> $3.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $8.00/kg</td><td> $3.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Sesame Seed Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $7.50/kg</td><td> $3.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $6.50/kg</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $6.00/kg</td><td> $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $5.50/kg</td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $5.00/kg</td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $4.50/kg</td><td> $2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.00/kg</td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $2.50/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.75/kg</td><td> $0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.25/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td> $0.05/kg</td><td> $0.02/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Sesame Seed Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 26.2%</td></tr>
<tr><td>Myanmar </td><td> 13.4%</td></tr>
<tr><td>Sudan </td><td> 9.9%</td></tr>
<tr><td>Ethiopia </td><td> 8.7%</td></tr>
<tr><td>Tanzania </td><td> 7.4%</td></tr>
<tr><td>Nigeria </td><td> 5.7%</td></tr>
<tr><td>Uganda </td><td> 3.8%</td></tr>
<tr><td>China </td><td> 2.5%</td></tr>
<tr><td>Burkina Faso </td><td> 2.4%</td></tr>
<tr><td>Mali </td><td> 2.2%</td></tr>
<tr><td>Niger </td><td> 1.7%</td></tr>
<tr><td>Cameroon </td><td> 1.6%</td></tr>
<tr><td>Chad </td><td> 1.5%</td></tr>
<tr><td>Mexico </td><td> 1.4%</td></tr>
<tr><td>Senegal </td><td> 1.2%</td></tr>
<tr><td>Togo </td><td> 1.2%</td></tr>
<tr><td>Zambia </td><td> 1.0%</td></tr>
<tr><td>Ghana </td><td> 0.9%</td></tr>
<tr><td>Argentina </td><td> 0.8%</td></tr>
<tr><td>Central African Republic </td><td> 0.7%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Sesame Seed Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
    
<tr><td>Ethiopia </td><td> May to Oct</td></tr>
<tr><td>India </td><td> Apr to June</td></tr>
<tr><td>Tanzania </td><td> Jan to Mar-Oct to Dec</td></tr>
<tr><td>Sudan </td><td> June to Sep</td></tr>
<tr><td>Myanmar </td><td> Nov to Feb</td></tr>
<tr><td>Nigeria </td><td> July to Sep</td></tr>
<tr><td>Uganda </td><td> Apr to June-Oct to Dec</td></tr>
<tr><td>Niger </td><td> July to Sep</td></tr>
<tr><td>Mali </td><td> July to Sep</td></tr>
<tr><td>Burkina Faso </td><td> July to Sep</td></tr>
<tr><td>Benin </td><td> July to Sep</td></tr>
<tr><td>Senegal </td><td> July to Sep</td></tr>
<tr><td>Cameroon </td><td> Oct to Nov-Mar to Apr</td></tr>
<tr><td>Togo </td><td> July to Sep</td></tr>
<tr><td>Guinea </td><td> June to Sep</td></tr>
<tr><td>Ghana </td><td> July to Sep</td></tr>
<tr><td>Pakistan </td><td> Apr to June</td></tr>
<tr><td>Thailand </td><td> Nov to Feb</td></tr>
<tr><td>China </td><td> Apr to June</td></tr>
<tr><td>Bangladesh </td><td> Mar to May-Sep to Nov</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Sesame Seed Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 29%</td></tr>
<tr><td>China </td><td> 19%</td></tr>
<tr><td>Myanmar </td><td> 10%</td></tr>
<tr><td>Sudan </td><td> 8%</td></tr>
<tr><td>Ethiopia </td><td> 6%</td></tr>
<tr><td>Tanzania </td><td> 3%</td></tr>
<tr><td>Nigeria </td><td> 3%</td></tr>
<tr><td>Uganda </td><td> 3%</td></tr>
<tr><td>Burkina Faso </td><td> 2%</td></tr>
<tr><td>Mali </td><td> 2%</td></tr>
<tr><td>Niger </td><td> 2%</td></tr>
<tr><td>Chad </td><td> 2%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Cameroon </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Ivory Coast </td><td> 1%</td></tr>
<tr><td>Senegal </td><td> 1%</td></tr>
<tr><td>Ghana </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Sesame Seed Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>South Korea </td><td> 0.1%</td></tr>
<tr><td>Japan </td><td> 0.1%</td></tr>
<tr><td>Russia </td><td> 0.1%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.1%</td></tr>
<tr><td>Kuwait </td><td> 0.1%</td></tr>
<tr><td>Oman </td><td> 0.1%</td></tr>
<tr><td>Yemen </td><td> 0.1%</td></tr>
<tr><td>Lebanon </td><td> 0.1%</td></tr>
<tr><td>Bahrain </td><td> 0.1%</td></tr>
<tr><td>Jordan </td><td> 0.1%</td></tr>
<tr><td>Qatar </td><td> 0.1%</td></tr>
<tr><td>Malaysia </td><td> 0.1%</td></tr>
<tr><td>Singapore </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>Australia </td><td> 0.1%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>United States </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sesame Seed Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 28%</td></tr>
<tr><td>China </td><td> 19%</td></tr>
<tr><td>Japan </td><td> 7%</td></tr>
<tr><td>South Korea </td><td> 6%</td></tr>
<tr><td>Turkey </td><td> 5%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Taiwan </td><td> 3%</td></tr>
<tr><td>Germany </td><td> 2%</td></tr>
<tr><td>United Kingdom </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Sesame Seed Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company B.V. </td><td>Netherlands</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Nisshin Seifun Group Inc. </td><td>Japan</td></tr>
<tr><td>Kerry Group plc </td><td>Ireland</td></tr>
<tr><td>Wilmar International Limited </td><td>Singapore</td></tr>
<tr><td>The Hershey Company </td><td>USA</td></tr>
<tr><td>Mitsui & Co., Ltd. </td><td>Japan</td></tr>
<tr><td>Satake Corporation </td><td>Japan</td></tr>
<tr><td>SunOpta Inc. </td><td>Canada</td></tr>
<tr><td>Itochu Corporation </td><td>Japan</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>ECOM Agroindustrial Corp. Ltd. </td><td>Switzerland</td></tr>
<tr><td>Mitsubishi Corporation </td><td>Japan</td></tr>
<tr><td>Toepfer GmbH </td><td>Germany</td></tr>
<tr><td>COFCO International Ltd. </td><td>Switzerland</td></tr>
<tr><td>Glencore Agriculture Limited </td><td>Switzerland</td></tr>
<tr><td>Sumitomo Corporation </td><td>Japan</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Sesame Seed Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Archer Daniels Midland Company </td><td>USA</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Louis Dreyfus Company B.V. </td><td>Netherlands</td></tr>
<tr><td>Wilmar International Limited </td><td>Singapore</td></tr>
<tr><td>SunOpta Inc. </td><td>Canada</td></tr>
<tr><td>Kerry Group plc </td><td>Ireland</td></tr>
<tr><td>Nisshin Seifun Group Inc. </td><td>Japan</td></tr>
<tr><td>Satake Corporation </td><td>Japan</td></tr>
<tr><td>The Hershey Company </td><td>USA</td></tr>
<tr><td>Ajinomoto Co., Inc. </td><td>Japan</td></tr>
<tr><td>Musim Mas Group </td><td>Singapore</td></tr>
<tr><td>Japan Oilseeds Processors Association </td><td>Japan</td></tr>
<tr><td>Mitsui & Co., Ltd. </td><td>Japan</td></tr>
<tr><td>Marubeni Corporation </td><td>Japan</td></tr>
<tr><td>Gavilon Group, LLC </td><td>USA</td></tr>
<tr><td>COFCO Corporation </td><td>China</td></tr>
<tr><td>Sumitomo Corporation </td><td>Japan</td></tr>
<tr><td>Sesaco Corporation </td><td>USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Sesame Seed Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for sesame seeds in the food industry, particularly in the Middle East and Asia-Pacific regions.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising popularity of plant-based diets and increased usage of sesame seeds as a vegan protein source.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in organic and non-GMO sesame seeds among health-conscious consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Fluctuations in prices due to changes in weather conditions and crop yields in major producing countries like India, China, and Ethiopia.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing investment in research and development to improve the yield and quality of sesame crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing use of sesame oil in the cosmetic industry for its nourishing and moisturizing properties.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing popularity of tahini, a paste made from sesame seeds, as a condiment and ingredient in various cuisines worldwide.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of sustainable farming practices and initiatives to promote fair trade and ethical sourcing of sesame seeds.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for sesame seeds as a natural food preservative and flavor enhancer in the processed food industry.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new uses of sesame seeds in the pharmaceutical industry for their potential medicinal properties.</div>
</div>

</div>


</body>
</html>



