<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("spinach-min.jpg"),:size => "100x100" %>
         
           <h4>Spinach Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 1.5 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Spinach crop faces various risks, including pests and diseases, weather fluctuations, and market volatility. Pests such as leaf miners, aphids, and mites can damage the crop, leading to reduced yield, while diseases such as downy mildew, powdery mildew, and leaf spot can also affect the quality and yield of the crop. Weather conditions such as droughts, heavy rains, or frost can impact the production and quality of the crop. Market volatility can also pose a risk to spinach growers, as sudden changes in demand, prices, or regulations can impact the profitability of the crop.

Despite the risks involved, the strategic value of spinach's potential export opportunities is high. Spinach is a popular vegetable consumed worldwide, and the demand for it continues to grow due to the increasing popularity of healthy eating habits and the use of spinach in various food products. According to the latest available data, the top five spinach exporting countries are Spain, United States, Italy, Germany, and Belgium, which collectively account for over 50% of global spinach exports..</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Spinach Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 9.2%</td></tr>
<tr><td>Germany </td><td> 8.2%</td></tr>
<tr><td>Netherlands </td><td> 7.7%</td></tr>
<tr><td>United Kingdom </td><td> 7.4%</td></tr>
<tr><td>Belgium </td><td> 7.1%</td></tr>
<tr><td>France </td><td> 5.5%</td></tr>
<tr><td>Canada </td><td> 3.8%</td></tr>
<tr><td>Spain </td><td> 3.3%</td></tr>
<tr><td>Japan </td><td> 2.6%</td></tr>
<tr><td>Italy </td><td> 2.2%</td></tr>
<tr><td>Switzerland </td><td> 2.1%</td></tr>
<tr><td>Poland </td><td> 1.8%</td></tr>
<tr><td>Austria </td><td> 1.6%</td></tr>
<tr><td>Sweden </td><td> 1.5%</td></tr>
<tr><td>Denmark </td><td> 1.3%</td></tr>
<tr><td>Australia </td><td> 1.1%</td></tr>
<tr><td>Ireland </td><td> 1.0%</td></tr>
<tr><td>Czech Republic </td><td> 0.9%</td></tr>
<tr><td>Norway </td><td> 0.8%</td></tr>
<tr><td>Portugal </td><td> 0.7%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Spinach Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 22.2%</td></tr>
<tr><td>Spain </td><td> 14.3%</td></tr>
<tr><td>Italy </td><td> 11.8%</td></tr>
<tr><td>Netherlands </td><td> 9.9%</td></tr>
<tr><td>Belgium </td><td> 8.2%</td></tr>
<tr><td>Germany </td><td> 6.3%</td></tr>
<tr><td>France </td><td> 5.7%</td></tr>
<tr><td>United Kingdom </td><td> 4.5%</td></tr>
<tr><td>Mexico </td><td> 2.4%</td></tr>
<tr><td>Canada </td><td> 1.8%</td></tr>
<tr><td>Poland </td><td> 1.6%</td></tr>
<tr><td>Portugal </td><td> 1.5%</td></tr>
<tr><td>Greece </td><td> 1.2%</td></tr>
<tr><td>Czech Republic </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Switzerland </td><td> 0.8%</td></tr>
<tr><td>Hungary </td><td> 0.8%</td></tr>
<tr><td>Turkey </td><td> 0.7%</td></tr>
<tr><td>Latvia </td><td> 0.6%</td></tr>
<tr><td>Lithuania </td><td> 0.6%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Spinach Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India</td><td> $0.55/kilo</td><td> $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $0.60/kilo</td><td> $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $0.62/kilo</td><td> $0.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal</td><td> $0.68/kilo</td><td> $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $0.72/kilo</td><td> $0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco</td><td> $0.80/kilo</td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $0.85/kilo</td><td> $0.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $0.90/kilo</td><td> $0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $0.95/kilo</td><td> $0.43/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $1.00/kilo</td><td> $0.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran</td><td> $1.05/kilo</td><td> $0.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam</td><td> $1.10/kilo</td><td> $0.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $1.15/kilo</td><td> $0.52/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $1.20/kilo</td><td> $0.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td><td> $1.25/kilo</td><td> $0.57/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile</td><td> $1.30/kilo</td><td> $0.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $1.35/kilo</td><td> $0.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia</td><td> $1.40/kilo</td><td> $0.63/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Venezuela</td><td> $1.45/kilo</td><td> $0.66/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Spinach Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland</td><td> $11.60/kilo</td><td> $5.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td> $9.58/kilo</td><td> $4.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $7.80/kilo</td><td> $3.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $7.20/kilo</td><td> $3.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore</td><td> $6.90/kilo</td><td> $3.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $6.50/kilo</td><td> $2.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $6.20/kilo</td><td> $2.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $5.90/kilo</td><td> $2.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $5.60/kilo</td><td> $2.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $5.30/kilo</td><td> $2.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $5.00/kilo</td><td> $2.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $4.70/kilo</td><td> $2.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td> $4.40/kilo</td><td> $2.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $4.10/kilo</td><td> $1.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $3.80/kilo</td><td> $1.72/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $3.50/kilo</td><td> $1.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $3.20/kilo</td><td> $1.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td><td> $2.90/kilo</td><td> $1.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td> $2.60/kilo</td><td> $1.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland</td><td> $2.30/kilo</td><td> $1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Spinach Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China</td><td> 91.4%</td></tr>
<tr><td>United States</td><td> 1.5%</td></tr>
<tr><td>Turkey</td><td> 1.2%</td></tr>
<tr><td>Iran</td><td> 0.9%</td></tr>
<tr><td>Japan</td><td> 0.6%</td></tr>
<tr><td>Indonesia</td><td> 0.6%</td></tr>
<tr><td>Egypt</td><td> 0.5%</td></tr>
<tr><td>South Korea</td><td> 0.5%</td></tr>
<tr><td>Italy</td><td> 0.5%</td></tr>
<tr><td>India</td><td> 0.5%</td></tr>
<tr><td>Spain</td><td> 0.5%</td></tr>
<tr><td>Mexico</td><td> 0.4%</td></tr>
<tr><td>Uzbekistan</td><td> 0.4%</td></tr>
<tr><td>Russia</td><td> 0.4%</td></tr>
<tr><td>Ukraine</td><td> 0.3%</td></tr>
<tr><td>France</td><td> 0.3%</td></tr>
<tr><td>Syria</td><td> 0.3%</td></tr>
<tr><td>Pakistan</td><td> 0.3%</td></tr>
<tr><td>Morocco</td><td> 0.2%</td></tr>
<tr><td>Vietnam</td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Spinach Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>China </td><td> March to May-Sep to Nov</td></tr>
<tr><td>United States </td><td> March to May-Aug to Oct</td></tr>
<tr><td>Turkey </td><td> Oct to May</td></tr>
<tr><td>Iran </td><td> Sep to Nov-Feb to May</td></tr>
<tr><td>Egypt </td><td> Oct to April</td></tr>
<tr><td>Spain </td><td> Oct to May</td></tr>
<tr><td>Italy </td><td> Oct to May</td></tr>
<tr><td>Japan </td><td> Oct to May</td></tr>
<tr><td>South Korea </td><td> April to May-Sep to Nov</td></tr>
<tr><td>Mexico </td><td> Oct to March</td></tr>
<tr><td>Uzbekistan </td><td> April to June-Sep to Nov</td></tr>
<tr><td>Ukraine </td><td> April to June-Sep to Nov</td></tr>
<tr><td>Pakistan </td><td> Sep to Feb</td></tr>
<tr><td>Russia </td><td> April to June-Aug to Oct</td></tr>
<tr><td>Bangladesh </td><td> Nov to Feb</td></tr>
<tr><td>Indonesia </td><td> Oct to March</td></tr>
<tr><td>Thailand </td><td> Nov to Feb-June to Sep</td></tr>
<tr><td>Philippines </td><td> Nov to Feb-June to Sep</td></tr>
<tr><td>Vietnam </td><td> Nov to Feb-June to Sep</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Spinach Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 34.3%</td></tr>
<tr><td>United States </td><td> 10.8%</td></tr>
<tr><td>Japan </td><td> 6.5%</td></tr>
<tr><td>Turkey </td><td> 4.1%</td></tr>
<tr><td>South Korea </td><td> 3.8%</td></tr>
<tr><td>Iran </td><td> 3.5%</td></tr>
<tr><td>India </td><td> 2.8%</td></tr>
<tr><td>Spain </td><td> 2.6%</td></tr>
<tr><td>Indonesia </td><td> 2.2%</td></tr>
<tr><td>Egypt </td><td> 1.7%</td></tr>
<tr><td>Italy </td><td> 1.7%</td></tr>
<tr><td>Mexico </td><td> 1.6%</td></tr>
<tr><td>Ukraine </td><td> 1.3%</td></tr>
<tr><td>Uzbekistan </td><td> 1.2%</td></tr>
<tr><td>Russia </td><td> 1.2%</td></tr>
<tr><td>Thailand </td><td> 1.1%</td></tr>
<tr><td>Vietnam </td><td> 1.0%</td></tr>
<tr><td>Argentina </td><td> 0.9%</td></tr>
<tr><td>France </td><td> 0.9%</td></tr>
<tr><td>Bangladesh </td><td> 0.9%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Spinach Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iceland </td><td> 0.3%</td></tr>
<tr><td>Fiji </td><td> 0.3%</td></tr>
<tr><td>Liechtenstein </td><td> 0.3%</td></tr>
<tr><td>San Marino </td><td> 0.3%</td></tr>
<tr><td>Dominica </td><td> 0.3%</td></tr>
<tr><td>Tonga </td><td> 0.3%</td></tr>
<tr><td>Kiribati </td><td> 0.3%</td></tr>
<tr><td>Andorra </td><td> 0.3%</td></tr>
<tr><td>Marshall Islands </td><td> 0.3%</td></tr>
<tr><td>Monaco </td><td> 0.3%</td></tr>
<tr><td>Palau </td><td> 0.3%</td></tr>
<tr><td>Nauru </td><td> 0.3%</td></tr>
<tr><td>Tuvalu </td><td> 0.3%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0.3%</td></tr>
<tr><td>Saint Vincent and the Grenadines </td><td> 0.3%</td></tr>
<tr><td>Grenada </td><td> 0.3%</td></tr>
<tr><td>Saint Lucia </td><td> 0.3%</td></tr>
<tr><td>Federated States of Micronesia </td><td> 0.3%</td></tr>
<tr><td>Seychelles </td><td> 0.3%</td></tr>
<tr><td>Vanuatu </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Spinach Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>China </td><td> 38.5%</td></tr>
<tr><td>United States </td><td> 16.2%</td></tr>
<tr><td>Japan </td><td> 10.3%</td></tr>
<tr><td>Turkey </td><td> 5.5%</td></tr>
<tr><td>Indonesia </td><td> 3.7%</td></tr>
<tr><td>South Korea </td><td> 3.6%</td></tr>
<tr><td>Iran </td><td> 2.9%</td></tr>
<tr><td>Spain </td><td> 2.7%</td></tr>
<tr><td>Italy </td><td> 2.2%</td></tr>
<tr><td>Egypt </td><td> 1.8%</td></tr>
<tr><td>Ukraine </td><td> 1.5%</td></tr>
<tr><td>Russia </td><td> 1.4%</td></tr>
<tr><td>Thailand </td><td> 1.3%</td></tr>
<tr><td>Mexico </td><td> 1.1%</td></tr>
<tr><td>France </td><td> 1.0%</td></tr>
<tr><td>Germany </td><td> 1.0%</td></tr>
<tr><td>Vietnam </td><td> 0.9%</td></tr>
<tr><td>United Kingdom </td><td> 0.9%</td></tr>
<tr><td>Canada </td><td> 0.8%</td></tr>
<tr><td>Philippines </td><td> 0.8%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Spinach Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td> United States</td></tr>
<tr><td>Chiquita Brands International </td><td> United States</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> United States</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> United States</td></tr>
<tr><td>Sunkist Growers </td><td> United States</td></tr>
<tr><td>Wonderful Citrus </td><td> United States</td></tr>
<tr><td>Driscoll's </td><td> United States</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Freshmax </td><td> Australia</td></tr>
<tr><td>Zespri </td><td> New Zealand</td></tr>
<tr><td>IG International </td><td> India</td></tr>
<tr><td>Carrefour </td><td> France</td></tr>
<tr><td>Tesco </td><td> United Kingdom</td></tr>
<tr><td>Aldi </td><td> Germany</td></tr>
<tr><td>Lidl </td><td> Germany</td></tr>
<tr><td>Metro AG </td><td> Germany</td></tr>
<tr><td>Migros </td><td> Switzerland</td></tr>
<tr><td>Coop </td><td> Switzerland</td></tr>
<tr><td>Walmart </td><td> United States</td></tr>
<tr><td>Amazon </td><td> United States</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Spinach Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td> United States</td></tr>
<tr><td>Chiquita Brands International </td><td> United States</td></tr>
<tr><td>Del Monte Fresh Produce </td><td> United States</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> United States</td></tr>
<tr><td>Sunkist Growers </td><td> United States</td></tr>
<tr><td>Wonderful Citrus </td><td> United States</td></tr>
<tr><td>Driscoll's </td><td> United States</td></tr>
<tr><td>Total Produce </td><td> Ireland</td></tr>
<tr><td>Freshmax </td><td> Australia</td></tr>
<tr><td>Zespri </td><td> New Zealand</td></tr>
<tr><td>IG International </td><td> India</td></tr>
<tr><td>SanLucar Fruit </td><td> Austria</td></tr>
<tr><td>Camposol </td><td> Peru</td></tr>
<tr><td>Capespan </td><td> South Africa</td></tr>
<tr><td>BerryWorld </td><td> United Kingdom</td></tr>
<tr><td>The Greenery </td><td> Netherlands</td></tr>
<tr><td>Nature's Pride </td><td> Netherlands</td></tr>
<tr><td>Sun World International </td><td> United States</td></tr>
<tr><td>Oppy </td><td> Canada</td></tr>
<tr><td>T&G Global </td><td> New Zealand</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Spinach Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for organic spinach due to health benefits and sustainable farming practices</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of baby spinach as a convenient and nutritious ingredient in salads and smoothies</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Shift towards hydroponic cultivation to ensure consistent year-round supply and better quality control</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of advanced technology such as precision farming and AI-based sensors to optimize crop growth and yield</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing export market for spinach, particularly to European and North American countries</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of new spinach varieties with improved disease resistance and higher nutritional content</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising concerns over spinach safety due to potential contamination by harmful bacteria such as E. coli and salmonella</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing trend towards locally sourced and sustainably grown spinach to reduce carbon footprint and support local farmers</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing adoption of vertical farming for spinach cultivation in urban areas with limited land availability</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of value-added spinach products such as frozen spinach puree and dehydrated spinach powder for use in various food applications.</div>
</div>
</div>

</body>
</html>





