<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("sunflower-min.jpg"),:size => "100x100" %>
         
           <h4>Sunflower Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $28.05 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 26 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, sunflower production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Sunflowers can be affected by various pests and diseases, such as stem weevils, downy mildew, and rust, which can reduce yields and quality.
The growth rate of sunflower crop production varies by country, but in general, the global growth rate was around 2% in 2020 compared to the previous year.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Sunflower Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td>29.1%</td></tr>
<tr><td>Turkey </td><td>7.4%</td></tr>
<tr><td>Egypt </td><td>5.4%</td></tr>
<tr><td>Iran </td><td>4.9%</td></tr>
<tr><td>Iraq </td><td>4.1%</td></tr>
<tr><td>China </td><td>3.8%</td></tr>
<tr><td>Tunisia </td><td>2.9%</td></tr>
<tr><td>Saudi Arabia </td><td>2.8%</td></tr>
<tr><td>Syria </td><td>2.7%</td></tr>
<tr><td>Pakistan </td><td>2.6%</td></tr>
<tr><td>United States </td><td>2.5%</td></tr>
<tr><td>Algeria </td><td>2.3%</td></tr>
<tr><td>Japan </td><td>2.2%</td></tr>
<tr><td>Malaysia </td><td>2.2%</td></tr>
<tr><td>United Kingdom </td><td>1.8%</td></tr>
<tr><td>Netherlands </td><td>1.6%</td></tr>
<tr><td>South Korea </td><td>1.5%</td></tr>
<tr><td>United Arab Emirates </td><td>1.4%</td></tr>
<tr><td>Canada </td><td>1.4%</td></tr>
<tr><td>Italy </td><td>1.2%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sunflower Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td>53.2%</td></tr>
<tr><td>Russia </td><td>17.2%</td></tr>
<tr><td>Argentina </td><td>9.2%</td></tr>
<tr><td>European Union </td><td>4.8%</td></tr>
<tr><td>Kazakhstan </td><td>4.5%</td></tr>
<tr><td>Turkey </td><td>2.8%</td></tr>
<tr><td>China </td><td>1.6%</td></tr>
<tr><td>United States </td><td>1.2%</td></tr>
<tr><td>Moldova </td><td>1.1%</td></tr>
<tr><td>Paraguay </td><td>1.0%</td></tr>
<tr><td>Uruguay </td><td>0.8%</td></tr>
<tr><td>Belarus </td><td>0.6%</td></tr>
<tr><td>Bulgaria </td><td>0.5%</td></tr>
<tr><td>South Africa </td><td>0.4%</td></tr>
<tr><td>India </td><td>0.3%</td></tr>
<tr><td>Canada </td><td>0.3%</td></tr>
<tr><td>Australia </td><td>0.3%</td></tr>
<tr><td>Hungary </td><td>0.2%</td></tr>
<tr><td>Romania </td><td>0.2%</td></tr>
<tr><td>Serbia </td><td>0.2%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Sunflower Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Nepal </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $0.25/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.75/kg</td><td> $0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.25/kg</td><td> $0.57/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.75/kg</td><td> $0.79/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.25/kg</td><td> $1.02/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $2.50/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $2.75/kg</td><td> $1.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.25/kg</td><td> $1.47/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $3.75/kg</td><td> $1.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.00/kg</td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $4.50/kg</td><td> $2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Sunflower Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $4.50/kg</td><td> $2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $4.00/kg</td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $3.75/kg</td><td> $1.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.25/kg</td><td> $1.47/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $2.75/kg</td><td> $1.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $2.50/kg</td><td> $1.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $2.25/kg</td><td> $1.02/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $1.75/kg</td><td> $0.79/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.25/kg</td><td> $0.57/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $0.75/kg</td><td> $0.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $0.25/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $0.15/kg</td><td> $0.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Sunflower Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td>24.6%</td></tr>
<tr><td>Russia </td><td>22.7%</td></tr>
<tr><td>European Union </td><td>15.9%</td></tr>
<tr><td>Argentina </td><td>13.7%</td></tr>
<tr><td>Turkey </td><td>3.3%</td></tr>
<tr><td>China </td><td>2.3%</td></tr>
<tr><td>United States </td><td>2.0%</td></tr>
<tr><td>Romania </td><td>1.8%</td></tr>
<tr><td>Bulgaria </td><td>1.5%</td></tr>
<tr><td>Moldova </td><td>1.4%</td></tr>
<tr><td>Hungary </td><td>1.4%</td></tr>
<tr><td>France </td><td>1.2%</td></tr>
<tr><td>Serbia </td><td>1.0%</td></tr>
<tr><td>India </td><td>1.0%</td></tr>
<tr><td>South Africa </td><td>0.8%</td></tr>
<tr><td>Brazil </td><td>0.7%</td></tr>
<tr><td>Tanzania </td><td>0.7%</td></tr>
<tr><td>Spain </td><td>0.6%</td></tr>
<tr><td>Zimbabwe </td><td>0.5%</td></tr>
<tr><td>Mali </td><td>0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Sunflower Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Argentina </td><td> April to June</td></tr>
<tr><td>Russia </td><td> August to September</td></tr>
<tr><td>Ukraine </td><td> July to September</td></tr>
<tr><td>Hungary </td><td> July to August</td></tr>
<tr><td>Turkey </td><td> June to August</td></tr>
<tr><td>France </td><td> August to September</td></tr>
<tr><td>Romania </td><td> June to August</td></tr>
<tr><td>Bulgaria </td><td> June to August</td></tr>
<tr><td>Serbia </td><td> July to August</td></tr>
<tr><td>China </td><td> August to October</td></tr>
<tr><td>India </td><td> October to November</td></tr>
<tr><td>United States </td><td> September to October</td></tr>
<tr><td>South Africa </td><td> March to June</td></tr>
<tr><td>Brazil </td><td> December to February</td></tr>
<tr><td>Spain </td><td> August to September</td></tr>
<tr><td>Italy </td><td> August to September</td></tr>
<tr><td>Kazakhstan </td><td> July to August</td></tr>
<tr><td>Canada </td><td> September to October</td></tr>
<tr><td>Australia </td><td> September to November</td></tr>
<tr><td>Mexico </td><td> November to January</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Sunflower Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td> 24%</td></tr>
<tr><td>Russia </td><td> 19%</td></tr>
<tr><td>European Union </td><td> 13%</td></tr>
<tr><td>Argentina </td><td> 10%</td></tr>
<tr><td>China </td><td> 5%</td></tr>
<tr><td>Turkey </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>India </td><td> 3%</td></tr>
<tr><td>Romania </td><td> 2%</td></tr>
<tr><td>Bulgaria </td><td> 2%</td></tr>
<tr><td>Hungary </td><td> 2%</td></tr>
<tr><td>Kazakhstan </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
<tr><td>Zimbabwe </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Serbia </td><td> 1%</td></tr>
<tr><td>Moldova </td><td> 1%</td></tr>
<tr><td>Paraguay </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Sunflower Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>Japan </td><td> 0.4%</td></tr>
<tr><td>Chile </td><td> 0.3%</td></tr>
<tr><td>Colombia </td><td> 0.3%</td></tr>
<tr><td>New Zealand </td><td> 0.2%</td></tr>
<tr><td>South Korea </td><td> 0.2%</td></tr>
<tr><td>Israel </td><td> 0.2%</td></tr>
<tr><td>Taiwan </td><td> 0.2%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Egypt </td><td> 0.1%</td></tr>
<tr><td>Singapore </td><td> 0.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.1%</td></tr>
<tr><td>Malaysia </td><td> 0.1%</td></tr>
<tr><td>Hong Kong </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Philippines </td><td> 0.1%</td></tr>
<tr><td>Pakistan </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sunflower Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 32%</td></tr>
<tr><td>China </td><td> 20%</td></tr>
<tr><td>Russia </td><td> 11%</td></tr>
<tr><td>Ukraine </td><td> 10%</td></tr>
<tr><td>Turkey </td><td> 4%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 2%</td></tr>
<tr><td>United States </td><td> 2%</td></tr>
<tr><td>India </td><td> 2%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
<tr><td>Algeria </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Sunflower Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>ADM International Sarl </td><td>Switzerland</td></tr>
<tr><td>Cargill, Incorporated </td><td>USA</td></tr>
<tr><td>Bunge Limited </td><td>USA</td></tr>
<tr><td>Kernel Holding S.A. </td><td>Luxembourg</td></tr>
<tr><td>Wilmar International Limited </td><td>Singapore</td></tr>
<tr><td>Louis Dreyfus Company B.V. </td><td>Netherlands</td></tr>
<tr><td>COFCO International Ltd. </td><td>Switzerland</td></tr>
<tr><td>Glencore Agriculture Limited </td><td>Switzerland</td></tr>
<tr><td>ECOM Agroindustrial Corp. Ltd. </td><td>Switzerland</td></tr>
<tr><td>Nidera B.V. </td><td>Netherlands</td></tr>
<tr><td>Sumitomo Corporation </td><td>Japan</td></tr>
<tr><td>Toepfer GmbH </td><td>Germany</td></tr>
<tr><td>RCMA Commodities Asia Pte Ltd </td><td>Singapore</td></tr>
<tr><td>Hakan Agro DMCC </td><td>UAE</td></tr>
<tr><td>Oils & Grains, LLC </td><td>USA</td></tr>
<tr><td>AGT Foods </td><td>Canada</td></tr>
<tr><td>Agrocorp International Pte Ltd </td><td>Singapore</td></tr>
<tr><td>Marico Limited </td><td>India</td></tr>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>EPIC Group </td><td>USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Sunflower Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Monsanto Company </td><td>USA</td></tr>
<tr><td>Syngenta AG </td><td>Switzerland</td></tr>
<tr><td>Limagrain </td><td>France</td></tr>
<tr><td>Sakata Seed Corp</td><td>Japan</td></tr>
<tr><td>Bayer AG </td><td>Germany</td></tr>
<tr><td>Bejo Zaden BV </td><td>Netherlands</td></tr>
<tr><td>Groupe Limagrain Holding </td><td>France</td></tr>
<tr><td>Mahyco Seeds Company Limited </td><td>India</td></tr>
<tr><td>Known-You Seed Co. Ltd. </td><td>Taiwan</td></tr>
<tr><td>Takii & Co., Ltd. </td><td>Japan</td></tr>
<tr><td>Rijk Zwaan Zaadteelt en Zaadhandel B.V. </td><td>Netherlands</td></tr>
<tr><td>East-West Seed International Ltd. </td><td>Thailand</td></tr>
<tr><td>VoloAgri Group, Inc. </td><td>USA</td></tr>
<tr><td>Johnny's Selected Seeds </td><td>USA</td></tr>
<tr><td>PanAmerican Seed Co. </td><td>USA</td></tr>
<tr><td>Harris Seeds </td><td>USA</td></tr>
<tr><td>Burpee Seeds and Plants </td><td>USA</td></tr>
<tr><td>Seminis Vegetable Seeds, Inc. </td><td>USA</td></tr>
<tr><td>Enza Zaden Beheer B.V. </td><td>Netherlands</td></tr>
<tr><td>S&W Seed Company </td><td>USA</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Sunflower Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Sunflower oil consumption is on the rise, especially in the food industry, due to its high nutritional value and versatility.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">There is a growing demand for non-GMO sunflower products, particularly in Europe, as consumers become more conscious of their food choices and look for natural and sustainable options.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of hybrid sunflower seeds is becoming more popular among farmers due to their higher yield potential and improved resistance to pests and diseases.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate change is affecting sunflower crops in some regions, with droughts and extreme weather events causing lower yields and lower quality crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The sunflower market is expected to continue to grow over the next few years, driven by increasing demand for vegetable oils and animal feed, particularly in developing countries.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sunflower oil is increasingly being used as a biofuel, with many countries investing in sunflower crop cultivation for this purpose.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The COVID-19 pandemic has had an impact on the sunflower market, with disruptions in supply chains and changes in consumer behavior leading to fluctuations in demand and prices.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">In some countries, such as Ukraine and Russia, sunflower crops are a major export commodity, making them vulnerable to fluctuations in global markets and geopolitical tensions.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">There is a trend towards sustainable sunflower production practices, with some farmers using organic farming methods and implementing conservation practices to improve soil health and reduce environmental impact.</div>

</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Research is being conducted to develop new sunflower varieties with improved traits such as higher yield potential, disease resistance, and improved nutritional value.</div>
</div>

</div>

</body>
</html>





