<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("sunflower_seed-min.jpg"),:size => "100x100" %>
         
           <h4>Sunflower Seed Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $20 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year -2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 30 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Sunflower seed crop faces various risks, including pests and diseases, weather fluctuations, and market volatility. Pests such as aphids, leaf beetles, and stink bugs can damage the crop, leading to reduced yield, while diseases such as downy mildew, rust, and leaf spot can also affect the quality and yield of the crop. Weather conditions such as droughts, heavy rains, or frost can impact the production and quality of the crop. Market volatility can also pose a risk to sunflower seed growers, as sudden changes in demand, prices, or regulations can impact the profitability of the crop.

Despite the risks involved, the strategic value of sunflower seed's potential export opportunities is high. Sunflower seed is a popular commodity consumed worldwide, and the demand for it continues to grow due to its various uses, including food products, cooking oil, and animal feed. According to the latest available data, the top five sunflower seed exporting countries are Ukraine, Russia, Argentina, Turkey, and Bulgaria, which collectively account for over 80% of global sunflower seed exports.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Sunflower Seed Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td>34.1%</td></tr>
<tr><td>China </td><td>10.9%</td></tr>
<tr><td>Turkey </td><td>7.4%</td></tr>
<tr><td>Egypt </td><td>4.4%</td></tr>
<tr><td>Tunisia </td><td>4.2%</td></tr>
<tr><td>Iran </td><td>3.9%</td></tr>
<tr><td>Syria </td><td>3.3%</td></tr>
<tr><td>Algeria </td><td>3.2%</td></tr>
<tr><td>India </td><td>2.9%</td></tr>
<tr><td>Saudi Arabia </td><td>2.5%</td></tr>
<tr><td>Iraq </td><td>2.1%</td></tr>
<tr><td>South Africa </td><td>1.9%</td></tr>
<tr><td>Jordan </td><td>1.9%</td></tr>
<tr><td>Lebanon </td><td>1.8%</td></tr>
<tr><td>Morocco </td><td>1.7%</td></tr>
<tr><td>USA </td><td>1.7%</td></tr>
<tr><td>Malaysia </td><td>1.6%</td></tr>
<tr><td>Pakistan </td><td>1.6%</td></tr>
<tr><td>UAE </td><td>1.4%</td></tr>
<tr><td>Thailand </td><td>1.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sunflower Seed Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td>51.8%</td></tr>
<tr><td>Russia </td><td>16.9%</td></tr>
<tr><td>Argentina </td><td>10.8%</td></tr>
<tr><td>Turkey </td><td>3.7%</td></tr>
<tr><td>Romania </td><td>2.8%</td></tr>
<tr><td>Bulgaria </td><td>2.7%</td></tr>
<tr><td>France </td><td>2.1%</td></tr>
<tr><td>USA </td><td>1.8%</td></tr>
<tr><td>Hungary </td><td>1.8%</td></tr>
<tr><td>Kazakhstan </td><td>1.7%</td></tr>
<tr><td>Moldova </td><td>1.2%</td></tr>
<tr><td>China </td><td>1.1%</td></tr>
<tr><td>Serbia </td><td>0.8%</td></tr>
<tr><td>Paraguay </td><td>0.7%</td></tr>
<tr><td>Czech Republic </td><td>0.6%</td></tr>
<tr><td>Canada </td><td>0.5%</td></tr>
<tr><td>Slovakia </td><td>0.4%</td></tr>
<tr><td>Belgium </td><td>0.4%</td></tr>
<tr><td>Netherlands </td><td>0.3%</td></tr>
<tr><td>Brazil </td><td>0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Sunflower Seed Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Russia</td><td> $0.08/kilo</td><td> $0.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine</td><td> $0.12/kilo</td><td> $0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td><td> $0.16/kilo</td><td> $0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.20/kilo</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $0.24/kilo</td><td> $0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $0.28/kilo</td><td> $0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $0.32/kilo</td><td> $0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $0.36/kilo</td><td> $0.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $0.40/kilo</td><td> $0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania</td><td> $0.44/kilo</td><td> $0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia</td><td> $0.48/kilo</td><td> $0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan</td><td> $0.52/kilo</td><td> $0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan</td><td> $0.56/kilo</td><td> $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $0.60/kilo</td><td> $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kyrgyzstan</td><td> $0.64/kilo</td><td> $0.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $0.68/kilo</td><td> $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Georgia</td><td> $0.72/kilo</td><td> $0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Moldova</td><td> $0.76/kilo</td><td> $0.34/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Azerbaijan</td><td> $0.80/kilo</td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus</td><td> $0.84/kilo</td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Sunflower Seed Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $0.80/kilo</td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td> $0.72/kilo</td><td> $0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $0.68/kilo</td><td> $0.31/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $0.64/kilo</td><td> $0.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $0.60/kilo</td><td> $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $0.56/kilo</td><td> $0.25/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $0.52/kilo</td><td> $0.24/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $0.48/kilo</td><td> $0.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $0.44/kilo</td><td> $0.20/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $0.40/kilo</td><td> $0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $0.36/kilo</td><td> $0.16/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia</td><td> $0.32/kilo</td><td> $0.15/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine</td><td> $0.28/kilo</td><td> $0.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina</td><td> $0.24/kilo</td><td> $0.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.20/kilo</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $0.16/kilo</td><td> $0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $0.12/kilo</td><td> $0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $0.08/kilo</td><td> $0.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $0.04/kilo</td><td> $0.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $0.02/kilo</td><td> $0.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Sunflower Seed Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td>29.7%</td></tr>
<tr><td>Russia </td><td>26.8%</td></tr>
<tr><td>European Union </td><td>10.2%</td></tr>
<tr><td>Argentina </td><td>8.9%</td></tr>
<tr><td>Turkey </td><td>5.5%</td></tr>
<tr><td>China </td><td>2.2%</td></tr>
<tr><td>Romania </td><td>1.9%</td></tr>
<tr><td>Bulgaria </td><td>1.8%</td></tr>
<tr><td>Tanzania </td><td>1.4%</td></tr>
<tr><td>Hungary </td><td>1.3%</td></tr>
<tr><td>Serbia </td><td>1.3%</td></tr>
<tr><td>Moldova </td><td>1.2%</td></tr>
<tr><td>Spain </td><td>1.2%</td></tr>
<tr><td>France </td><td>1.1%</td></tr>
<tr><td>South Africa </td><td>0.9%</td></tr>
<tr><td>Egypt </td><td>0.9%</td></tr>
<tr><td>USA </td><td>0.8%</td></tr>
<tr><td>India </td><td>0.7%</td></tr>
<tr><td>Paraguay </td><td>0.7%</td></tr>
<tr><td>Brazil </td><td>0.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Sunflower Seed Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td> June to September</td></tr>
<tr><td>Russia </td><td> June to September</td></tr>
<tr><td>Argentina </td><td> October to May</td></tr>
<tr><td>Kazakhstan </td><td> June to September</td></tr>
<tr><td>Bulgaria </td><td> May to August</td></tr>
<tr><td>Romania </td><td> June to September</td></tr>
<tr><td>Moldova </td><td> June to September</td></tr>
<tr><td>Serbia </td><td> June to September</td></tr>
<tr><td>Hungary </td><td> June to August</td></tr>
<tr><td>Turkey </td><td> June to September</td></tr>
<tr><td>India </td><td> October to March</td></tr>
<tr><td>China </td><td> June to August</td></tr>
<tr><td>USA </td><td> August to October</td></tr>
<tr><td>Canada </td><td> August to October</td></tr>
<tr><td>France </td><td> June to August</td></tr>
<tr><td>Spain </td><td> June to August</td></tr>
<tr><td>Italy </td><td> June to August</td></tr>
<tr><td>Germany </td><td> June to August</td></tr>
<tr><td>Brazil </td><td> March to August</td></tr>
<tr><td>South Africa </td><td> October to March</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Sunflower Seed Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ukraine </td><td> 27.3%</td></tr>
<tr><td>Russia </td><td> 22.2%</td></tr>
<tr><td>European Union </td><td> 18.6%</td></tr>
<tr><td>Argentina </td><td> 11.2%</td></tr>
<tr><td>Turkey </td><td> 6.8%</td></tr>
<tr><td>USA </td><td> 3.6%</td></tr>
<tr><td>China </td><td> 2.5%</td></tr>
<tr><td>Kazakhstan </td><td> 1.7%</td></tr>
<tr><td>Canada </td><td> 1.5%</td></tr>
<tr><td>Iran </td><td> 0.9%</td></tr>
<tr><td>Moldova </td><td> 0.8%</td></tr>
<tr><td>Serbia </td><td> 0.8%</td></tr>
<tr><td>Australia </td><td> 0.6%</td></tr>
<tr><td>South Africa </td><td> 0.6%</td></tr>
<tr><td>Romania </td><td> 0.5%</td></tr>
<tr><td>Bulgaria </td><td> 0.4%</td></tr>
<tr><td>Paraguay </td><td> 0.4%</td></tr>
<tr><td>Hungary </td><td> 0.4%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>Zimbabwe </td><td> 0.3%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Sunflower Seed Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ghana </td><td> 0.1%</td></tr>
<tr><td>Liberia </td><td> 0.1%</td></tr>
<tr><td>Yemen </td><td> 0.1%</td></tr>
<tr><td>Togo </td><td> 0.2%</td></tr>
<tr><td>Sierra Leone </td><td> 0.2%</td></tr>
<tr><td>Guinea </td><td> 0.2%</td></tr>
<tr><td>Niger </td><td> 0.3%</td></tr>
<tr><td>Burkina Faso </td><td> 0.3%</td></tr>
<tr><td>Mauritania </td><td> 0.3%</td></tr>
<tr><td>Gambia </td><td> 0.4%</td></tr>
<tr><td>Central African Republic </td><td> 0.4%</td></tr>
<tr><td>Eritrea </td><td> 0.4%</td></tr>
<tr><td>Guinea-Bissau </td><td> 0.5%</td></tr>
<tr><td>Djibouti </td><td> 0.6%</td></tr>
<tr><td>Comoros </td><td> 0.7%</td></tr>
<tr><td>Sao Tome and Principe </td><td> 0.7%</td></tr>
<tr><td>Bhutan </td><td> 0.7%</td></tr>
<tr><td>Lesotho </td><td> 0.8%</td></tr>
<tr><td>Seychelles </td><td> 0.8%</td></tr>
<tr><td>Vanuatu </td><td> 0.8%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Sunflower Seed Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 36.5%</td></tr>
<tr><td>China </td><td> 14.3%</td></tr>
<tr><td>Russia </td><td> 9.9%</td></tr>
<tr><td>Ukraine </td><td> 6.4%</td></tr>
<tr><td>Turkey </td><td> 4.1%</td></tr>
<tr><td>Egypt </td><td> 2.9%</td></tr>
<tr><td>Argentina </td><td> 2.5%</td></tr>
<tr><td>India </td><td> 2.3%</td></tr>
<tr><td>Iran </td><td> 2.3%</td></tr>
<tr><td>Morocco </td><td> 1.9%</td></tr>
<tr><td>USA </td><td> 1.6%</td></tr>
<tr><td>Tunisia </td><td> 1.2%</td></tr>
<tr><td>Japan </td><td> 1.0%</td></tr>
<tr><td>Algeria </td><td> 1.0%</td></tr>
<tr><td>South Africa </td><td> 0.9%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.8%</td></tr>
<tr><td>Pakistan </td><td> 0.7%</td></tr>
<tr><td>Brazil </td><td> 0.7%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Canada </td><td> 0.6%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Sunflower Seed Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Bunge </td><td> USA</td></tr>
<tr><td>Archer Daniels Midland </td><td> USA</td></tr>
<tr><td>Louis Dreyfus Company </td><td> Netherlands</td></tr>
<tr><td>Cargill </td><td> USA</td></tr>
<tr><td>Glencore Agriculture </td><td> Switzerland</td></tr>
<tr><td>COFCO International </td><td> Switzerland</td></tr>
<tr><td>Wilmar International </td><td> Singapore</td></tr>
<tr><td>ADM Agri-Industries Company </td><td> Canada</td></tr>
<tr><td>Ag Processing Inc AGP</td><td> USA</td></tr>
<tr><td>Agroindustrias AIB S.A. </td><td> Peru</td></tr>
<tr><td>BayWa </td><td> Germany</td></tr>
<tr><td>Hakan Agro </td><td> Dubai</td></tr>
<tr><td>Vicentin </td><td> Argentina</td></tr>
<tr><td>MHP </td><td> Ukraine</td></tr>
<tr><td>Nidera </td><td> Netherlands</td></tr>
<tr><td>Noble Group </td><td> Hong Kong</td></tr>
<tr><td>Nisshin Oillio Group </td><td> Japan</td></tr>
<tr><td>Soufflet Group </td><td> France</td></tr>
<tr><td>Triton International </td><td> United Kingdom</td></tr>
<tr><td>Toepfer International </td><td> Germany</td></tr>


</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Sunflower Seed Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Kernel Holding S.A. </td><td> Ukraine</td></tr>
<tr><td>Cargill </td><td> USA</td></tr>
<tr><td>Archer Daniels Midland </td><td> USA</td></tr>
<tr><td>Bunge </td><td> USA</td></tr>
<tr><td>Louis Dreyfus Company </td><td> Netherlands</td></tr>
<tr><td>Glencore Agriculture </td><td> Switzerland</td></tr>
<tr><td>Wilmar International </td><td> Singapore</td></tr>
<tr><td>AgroGeneration </td><td> France</td></tr>
<tr><td>Al Dahra ACX Global </td><td> UAE</td></tr>
<tr><td>AGT Food and Ingredients </td><td> Canada</td></tr>
<tr><td>Agrokor </td><td> Croatia</td></tr>
<tr><td>Hellenic Agro Commodities </td><td> Greece</td></tr>
<tr><td>Nisshin Oillio Group </td><td> Japan</td></tr>
<tr><td>Nidera </td><td> Netherlands</td></tr>
<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>Sodrugestvo Group </td><td> Luxembourg</td></tr>
<tr><td>Kernel Group </td><td> Ukraine</td></tr>
<tr><td>BayWa </td><td> Germany</td></tr>
<tr><td>Nuseed </td><td> Australia</td></tr>
<tr><td>Soufflet Group </td><td> France</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Sunflower Seed Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Increasing global demand: Sunflower seed is a popular commodity consumed worldwide, and the demand for it continues to grow due to its various uses, including food products, cooking oil, and animal feed.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Technological advancements: Technological advancements in farming practices, such as precision agriculture, automation, and data analytics, are enabling sunflower seed growers to optimize their operations and increase their productivity.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Organic farming: There is an increasing trend towards organic farming practices, as consumers are becoming more aware of the health and environmental benefits of organic produce.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Climate-smart agriculture: Climate-smart agriculture practices, such as crop rotation, cover cropping, and water conservation, are becoming more popular in sunflower seed farming, as they help to reduce greenhouse gas emissions and enhance crop resilience.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Hybrid varieties: The development of new hybrid varieties of sunflower seed is enabling growers to increase their yields, improve the quality of their crop, and enhance resistance to pests and diseases.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable packaging: There is an increasing trend towards sustainable packaging solutions for sunflower seed, such as biodegradable and compostable packaging materials, as consumers become more environmentally conscious.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Export markets: Sunflower seed is an important crop for many countries that export it to international markets, and there is a growing trend towards expanding into new export markets.</div>


</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Innovative food products: There is an increasing trend towards the development of innovative food products made from sunflower seed, such as plant-based meat alternatives and sunflower seed-based snacks and appetizers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical farming: Vertical farming is becoming more popular in sunflower seed cultivation, as it enables growers to maximize their production in limited spaces and reduce their water and pesticide use.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Genetic engineering: The development of genetically engineered sunflower seed varieties is enabling growers to enhance the crop's resistance to pests and diseases and increase its nutritional value.</div>
</div>

</div>

</body>
</html>


