<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("tomato-min.jpg"),:size => "100x100" %>
         
           <h4>Tomato Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $60 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 5 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Tomato crop faces various risks, including pests and diseases, weather fluctuations, and market volatility. Pests such as aphids, spider mites, and whiteflies can damage the crop, leading to reduced yield, while diseases such as bacterial spot, late blight, and tomato yellow leaf curl virus can also affect the quality and yield of the crop. Weather conditions such as droughts, heavy rains, or frost can impact the production and quality of the crop. Market volatility can also pose a risk to tomato growers, as sudden changes in demand, prices, or regulations can impact the profitability of the crop.

Despite the risks involved, the strategic value of tomato's potential export opportunities is high. Tomato is a widely consumed commodity consumed worldwide, and the demand for it continues to grow due to its various uses, including food products, cooking oil, and animal feed. According to the latest available data, the top five tomato exporting countries are Mexico, the Netherlands, Spain, Turkey, and China, which collectively account for over 50% of global tomato exports</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Tomato Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 11.9%</td></tr>
<tr><td>Germany </td><td> 6.7%</td></tr>
<tr><td>Uzbekistan </td><td> 6.3%</td></tr>
<tr><td>France </td><td> 5.6%</td></tr>
<tr><td>Netherlands </td><td> 4.4%</td></tr>
<tr><td>Canada </td><td> 4.2%</td></tr>
<tr><td>Russia </td><td> 3.9%</td></tr>
<tr><td>Spain </td><td> 3.6%</td></tr>
<tr><td>Poland </td><td> 3.2%</td></tr>
<tr><td>Belgium </td><td> 2.7%</td></tr>
<tr><td>Italy </td><td> 2.6%</td></tr>
<tr><td>Japan </td><td> 2.1%</td></tr>
<tr><td>Sweden </td><td> 1.9%</td></tr>
<tr><td>Denmark </td><td> 1.9%</td></tr>
<tr><td>Norway </td><td> 1.8%</td></tr>
<tr><td>Austria </td><td> 1.6%</td></tr>
<tr><td>Switzerland </td><td> 1.5%</td></tr>
<tr><td>Australia </td><td> 1.3%</td></tr>
<tr><td>Czech Republic </td><td> 1.3%</td></tr>
<tr><td>China </td><td> 1.2%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Tomato Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Netherlands </td><td> 23.7%</td></tr>
<tr><td>Spain </td><td> 16.6%</td></tr>
<tr><td>Mexico </td><td> 11.2%</td></tr>
<tr><td>Belgium </td><td> 6.1%</td></tr>
<tr><td>Canada </td><td> 4.7%</td></tr>
<tr><td>Morocco </td><td> 3.8%</td></tr>
<tr><td>Italy </td><td> 3.4%</td></tr>
<tr><td>Turkey </td><td> 2.9%</td></tr>
<tr><td>China </td><td> 2.7%</td></tr>
<tr><td>France </td><td> 2.5%</td></tr>
<tr><td>Greece </td><td> 2.3%</td></tr>
<tr><td>USA </td><td> 1.7%</td></tr>
<tr><td>Poland </td><td> 1.5%</td></tr>
<tr><td>Uzbekistan </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1.4%</td></tr>
<tr><td>Germany </td><td> 1.3%</td></tr>
<tr><td>Israel </td><td> 1.2%</td></tr>
<tr><td>Portugal </td><td> 1.2%</td></tr>
<tr><td>Chile </td><td> 1.2%</td></tr>
<tr><td>Jordan </td><td> 1.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Tomato Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>

<tr><td>Ethiopia</td><td> $0.02/kilo</td><td> $0.009/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya</td><td> $0.03/kilo</td><td> $0.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $0.04/kilo</td><td> $0.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.05/kilo</td><td> $0.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $0.06/kilo</td><td> $0.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $0.07/kilo</td><td> $0.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $0.08/kilo</td><td> $0.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $0.09/kilo</td><td> $0.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $0.10/kilo</td><td> $0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $0.11/kilo</td><td> $0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $0.12/kilo</td><td> $0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $0.13/kilo</td><td> $0.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $0.14/kilo</td><td> $0.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $0.15/kilo</td><td> $0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $0.16/kilo</td><td> $0.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $0.17/kilo</td><td> $0.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $0.18/kilo</td><td> $0.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td> $0.19/kilo</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan</td><td> $0.20/kilo</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $0.21/kilo</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Tomato Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $1.20/kilo</td><td> $0.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan</td><td> $1.10/kilo</td><td> $0.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td> $1.00/kilo</td><td> $0.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $0.90/kilo</td><td> $0.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $0.80/kilo</td><td> $0.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $0.70/kilo</td><td> $0.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $0.60/kilo</td><td> $0.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $0.50/kilo</td><td> $0.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $0.40/kilo</td><td> $0.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $0.30/kilo</td><td> $0.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $0.20/kilo</td><td> $0.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $0.10/kilo</td><td> $0.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $0.09/kilo</td><td> $0.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $0.08/kilo</td><td> $0.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $0.07/kilo</td><td> $0.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $0.06/kilo</td><td> $0.03/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $0.05/kilo</td><td> $0.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $0.04/kilo</td><td> $0.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya</td><td> $0.03/kilo</td><td> $0.01/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia</td><td> $0.02/kilo</td><td> $0.009/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Tomato Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 31.7%</td></tr>
<tr><td>India </td><td> 10.4%</td></tr>
<tr><td>USA </td><td> 4.5%</td></tr>
<tr><td>Turkey </td><td> 4.2%</td></tr>
<tr><td>Egypt </td><td> 4.0%</td></tr>
<tr><td>Iran </td><td> 3.4%</td></tr>
<tr><td>Italy </td><td> 3.1%</td></tr>
<tr><td>Spain </td><td> 2.7%</td></tr>
<tr><td>Brazil </td><td> 2.7%</td></tr>
<tr><td>Mexico </td><td> 2.5%</td></tr>
<tr><td>Uzbekistan </td><td> 2.3%</td></tr>
<tr><td>Russia </td><td> 2.3%</td></tr>
<tr><td>Ukraine </td><td> 2.2%</td></tr>
<tr><td>Turkey </td><td> 2.2%</td></tr>
<tr><td>Pakistan </td><td> 1.8%</td></tr>
<tr><td>Nigeria </td><td> 1.7%</td></tr>
<tr><td>Indonesia </td><td> 1.6%</td></tr>
<tr><td>Korea </td><td> 1.6%</td></tr>
<tr><td>Algeria </td><td> 1.4%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Tomato Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Argentina </td><td> January to May</td></tr>
<tr><td>Australia </td><td> November to March</td></tr>
<tr><td>Brazil </td><td> August to February</td></tr>
<tr><td>Canada </td><td> June to September</td></tr>
<tr><td>China </td><td> May to October</td></tr>
<tr><td>Egypt </td><td> November to April</td></tr>
<tr><td>India </td><td> December to April</td></tr>
<tr><td>Indonesia </td><td> June to October</td></tr>
<tr><td>Iran </td><td> May to August</td></tr>
<tr><td>Italy </td><td> June to September</td></tr>
<tr><td>Japan </td><td> May to September</td></tr>
<tr><td>Mexico </td><td> September to June</td></tr>
<tr><td>Pakistan </td><td> October to May</td></tr>
<tr><td>Russia </td><td> May to September</td></tr>
<tr><td>Spain </td><td> May to October</td></tr>
<tr><td>Turkey </td><td> June to October</td></tr>
<tr><td>Ukraine </td><td> June to September</td></tr>
<tr><td>USA </td><td> June to October</td></tr>
<tr><td>Uzbekistan </td><td> April to September</td></tr>
<tr><td>Vietnam </td><td> November to May</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Tomato Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 32.8%</td></tr>
<tr><td>India </td><td> 10.3%</td></tr>
<tr><td>USA </td><td> 3.5%</td></tr>
<tr><td>Turkey </td><td> 3.4%</td></tr>
<tr><td>Egypt </td><td> 2.9%</td></tr>
<tr><td>Iran </td><td> 2.4%</td></tr>
<tr><td>Italy </td><td> 2.4%</td></tr>
<tr><td>Brazil </td><td> 2.1%</td></tr>
<tr><td>Spain </td><td> 1.9%</td></tr>
<tr><td>Mexico </td><td> 1.8%</td></tr>
<tr><td>Uzbekistan </td><td> 1.7%</td></tr>
<tr><td>Russia </td><td> 1.5%</td></tr>
<tr><td>Ukraine </td><td> 1.4%</td></tr>
<tr><td>Nigeria </td><td> 1.4%</td></tr>
<tr><td>Pakistan </td><td> 1.4%</td></tr>
<tr><td>Morocco </td><td> 1.2%</td></tr>
<tr><td>Bangladesh </td><td> 1.2%</td></tr>
<tr><td>Indonesia </td><td> 1.1%</td></tr>
<tr><td>Syria </td><td> 1.0%</td></tr>
<tr><td>Algeria </td><td> 0.9%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Tomato Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Palau </td><td> 0.01%</td></tr>
<tr><td>Marshall Islands </td><td> 0.01%</td></tr>
<tr><td>Kiribati </td><td> 0.01%</td></tr>
<tr><td>Tuvalu </td><td> 0.01%</td></tr>
<tr><td>Nauru </td><td> 0.01%</td></tr>
<tr><td>San Marino </td><td> 0.1%</td></tr>
<tr><td>Andorra </td><td> 0.1%</td></tr>
<tr><td>Monaco </td><td> 0.1%</td></tr>
<tr><td>Liechtenstein </td><td> 0.1%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0.2%</td></tr>
<tr><td>Saint Vincent and the Grenadines </td><td> 0.2%</td></tr>
<tr><td>Grenada </td><td> 0.3%</td></tr>
<tr><td>Dominica </td><td> 0.3%</td></tr>
<tr><td>Belize </td><td> 0.4%</td></tr>
<tr><td>Saint Lucia </td><td> 0.5%</td></tr>
<tr><td>Cape Verde </td><td> 0.001%</td></tr>
<tr><td>Comoros </td><td> 0.001%</td></tr>
<tr><td>Samoa </td><td> 0.001%</td></tr>
<tr><td>São Tomé and Príncipe </td><td> 0.001%</td></tr>
<tr><td>Vanuatu </td><td> 0.001%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Tomato Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 26.3%</td></tr>
<tr><td>India </td><td> 18.7%</td></tr>
<tr><td>European Union </td><td> 12.4%</td></tr>
<tr><td>USA </td><td> 9.4%</td></tr>
<tr><td>Russia </td><td> 4.8%</td></tr>
<tr><td>Brazil </td><td> 3.6%</td></tr>
<tr><td>Turkey </td><td> 2.6%</td></tr>
<tr><td>Iran </td><td> 2.2%</td></tr>
<tr><td>Egypt </td><td> 2.2%</td></tr>
<tr><td>Mexico </td><td> 1.8%</td></tr>
<tr><td>Indonesia </td><td> 1.5%</td></tr>
<tr><td>Japan </td><td> 1.3%</td></tr>
<tr><td>Ukraine </td><td> 1.2%</td></tr>
<tr><td>Nigeria </td><td> 1.0%</td></tr>
<tr><td>South Korea </td><td> 0.9%</td></tr>
<tr><td>Bangladesh </td><td> 0.8%</td></tr>
<tr><td>Pakistan </td><td> 0.8%</td></tr>
<tr><td>Philippines </td><td> 0.7%</td></tr>
<tr><td>Algeria </td><td> 0.7%</td></tr>
<tr><td>Vietnam </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Tomato Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Chiquita Brands International </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>Del Monte Pacific Limited </td><td> Philippines</td></tr>
<tr><td>Maersk Line </td><td> Denmark</td></tr>
<tr><td>Mediterranean Shipping Company-MSC</td><td> Switzerland</td></tr>
<tr><td>Hamburg Süd </td><td> Germany</td></tr>
<tr><td>Evergreen Marine </td><td> Taiwan</td></tr>
<tr><td>ZIM Integrated Shipping Services </td><td> Israel</td></tr>
<tr><td>K Line </td><td> Japan</td></tr>
<tr><td>Hapag-Lloyd </td><td> Germany</td></tr>
<tr><td>Mitsui O.S.K. Lines MOL</td><td>Japan</td></tr>
<tr><td>CMA CGM Group </td><td> France</td></tr>
<tr><td>China Shipping Container Lines </td><td> China</td></tr>
<tr><td>Hanjin Shipping </td><td> South Korea</td></tr>
<tr><td>Yang Ming Marine Transport</td><td> Taiwan</td></tr>
<tr><td>COSCO Shipping Lines </td><td> China</td></tr>
<tr><td>Mediterranean Shipping Company-MSC</td><td>Switzerland</td></tr>
<tr><td>Cargill </td><td> USA</td></tr>
<tr><td>Archer Daniels Midland </td><td> USA</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Tomato Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company </td><td> USA</td></tr>
<tr><td>Chiquita Brands International </td><td> USA</td></tr>
<tr><td>Fresh Del Monte Produce </td><td> USA</td></tr>
<tr><td>ConAgra Foods </td><td> USA</td></tr>
<tr><td>Del Monte Pacific Limited </td><td> Philippines</td></tr>
<tr><td>Bonduelle </td><td> France</td></tr>
<tr><td>La Doria </td><td> Italy</td></tr>
<tr><td>Conserve Italia </td><td> Italy</td></tr>
<tr><td>Kikkoman Corporation </td><td> Japan</td></tr>
<tr><td>Kagome Co., Ltd. </td><td> Japan</td></tr>
<tr><td>Chelmer Foods </td><td> Uzbekistan</td></tr>
<tr><td>Ardo </td><td> Belgium</td></tr>
<tr><td>Wernsing Feinkost GmbH </td><td> Germany</td></tr>
<tr><td>Toma-Terra </td><td> Spain</td></tr>
<tr><td>La Selva </td><td> Italy</td></tr>
<tr><td>Cirio </td><td> Italy</td></tr>
<tr><td>Mutti </td><td> Italy</td></tr>
<tr><td>HAK </td><td> Netherlands</td></tr>
<tr><td>Hengstenberg GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>Heinz </td><td> USA</td></tr>
</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Tomato Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Sustainable farming practices: There is a growing trend towards sustainable farming practices in tomato crop production, such as organic farming, crop rotation, and integrated pest management.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Hydroponic farming: Hydroponic farming is becoming more popular in tomato cultivation, as it allows growers to maximize their yield and reduce their water use.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Vertical farming: Vertical farming is becoming more popular in tomato cultivation, as it enables growers to maximize their production in limited spaces and reduce their water and pesticide use.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Innovative packaging: There is an increasing trend towards innovative packaging solutions for tomatoes, such as biodegradable and compostable packaging materials, as consumers become more environmentally conscious.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Heirloom and specialty varieties: There is a growing trend towards the cultivation of heirloom and specialty tomato varieties, which are often favored for their unique flavor and appearance.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Plant-based diets: The increasing popularity of plant-based diets is driving demand for tomatoes, as they are a popular ingredient in many vegan and vegetarian dishes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health and wellness: Tomatoes are a rich source of vitamins and minerals, and there is growing interest in their health and wellness benefits.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Local and regional markets: There is a growing trend towards the cultivation and sale of tomatoes in local and regional markets, as consumers increasingly value locally sourced produce.</div>
</div>

<div class="w3-container w3-col m16 w3-center">
<div class="w3-panel w3-card w3-white w3-padding-16">Automation and robotics: Automation and robotics are becoming more prevalent in tomato farming, as they enable growers to increase their efficiency and reduce labor costs.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Genetic engineering: The development of genetically engineered tomato varieties is enabling growers to enhance the crop's resistance to pests and diseases, increase its nutritional value, and improve its shelf life.</div>
</div>

</div>

</body>
</html>


