<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("turnip-min.jpg"),:size => "100x100" %>
         
           <h4>Turnip Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $33 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area  170,000 hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, turnip production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Turnips can be affected by various pests and diseases, such as flea beetles, clubroot, and black rot, which can reduce yields and quality.
Turnips have limited strategic value in terms of their export opportunities. Turnips are mainly grown and consumed in North America, Europe, and Asia, with China, Japan, and the United States being the largest producers. However, the vast majority of the crop is consumed domestically, and there is little information available on the export of turnips.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Turnip Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 19.1%</td></tr>
<tr><td>Japan </td><td> 15.2%</td></tr>
<tr><td>South Korea </td><td> 9.3%</td></tr>
<tr><td>Canada </td><td> 8.1%</td></tr>
<tr><td>United Kingdom </td><td> 7.8%</td></tr>
<tr><td>Germany </td><td> 5.9%</td></tr>
<tr><td>France </td><td> 5.2%</td></tr>
<tr><td>Belgium </td><td> 2.5%</td></tr>
<tr><td>Spain </td><td> 2.4%</td></tr>
<tr><td>Netherlands </td><td> 2.2%</td></tr>
<tr><td>Hong Kong </td><td> 1.9%</td></tr>
<tr><td>China </td><td> 1.8%</td></tr>
<tr><td>Italy </td><td> 1.7%</td></tr>
<tr><td>Switzerland </td><td> 1.2%</td></tr>
<tr><td>Sweden </td><td> 1.1%</td></tr>
<tr><td>Russia </td><td> 1.0%</td></tr>
<tr><td>Denmark </td><td> 1.0%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Ireland </td><td> 0.8%</td></tr>
<tr><td>Australia </td><td> 0.7%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Turnip Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 18.3%</td></tr>
<tr><td>United States </td><td> 11.9%</td></tr>
<tr><td>Spain </td><td> 10.8%</td></tr>
<tr><td>France </td><td> 9.1%</td></tr>
<tr><td>Netherlands </td><td> 8.0%</td></tr>
<tr><td>Mexico </td><td> 6.9%</td></tr>
<tr><td>Italy </td><td> 5.5%</td></tr>
<tr><td>United Kingdom </td><td> 2.9%</td></tr>
<tr><td>Canada </td><td> 2.5%</td></tr>
<tr><td>South Africa </td><td> 2.2%</td></tr>
<tr><td>Egypt </td><td> 1.9%</td></tr>
<tr><td>Germany </td><td> 1.8%</td></tr>
<tr><td>Belgium </td><td> 1.5%</td></tr>
<tr><td>Australia </td><td> 1.5%</td></tr>
<tr><td>Chile </td><td> 1.4%</td></tr>
<tr><td>Greece </td><td> 1.4%</td></tr>
<tr><td>New Zealand </td><td> 1.2%</td></tr>
<tr><td>Poland </td><td> 1.0%</td></tr>
<tr><td>Peru </td><td> 1.0%</td></tr>
<tr><td>Morocco </td><td> 0.9%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Turnip Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India</td><td> $0.17/kg</td><td> $0.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $0.21/kg</td><td> $0.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria</td><td> $0.25/kg</td><td> $0.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania</td><td> $0.28/kg</td><td> $0.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana</td><td> $0.29/kg</td><td> $0.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia</td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $0.32/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda</td><td> $0.33/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Burkina Faso</td><td> $0.34/kg</td><td> $0.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mali</td><td> $0.35/kg</td><td> $0.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Senegal</td><td> $0.36/kg</td><td> $0.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Benin</td><td> $0.38/kg</td><td> $0.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Niger</td><td> $0.38/kg</td><td> $0.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $0.39/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Togo</td><td> $0.39/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guinea</td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya</td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cameroon</td><td> $0.41/kg</td><td> $0.19/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mozambique</td><td> $0.43/kg</td><td> $0.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar</td><td> $0.43/kg</td><td> $0.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Turnip Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland</td><td> $2.72/kg</td><td> $1.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td> $2.32/kg</td><td> $1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td> $2.30/kg</td><td> $1.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $2.10/kg</td><td> $0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $2.05/kg</td><td> $0.93/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $1.98/kg</td><td> $0.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $1.92/kg</td><td> $0.87/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td> $1.87/kg</td><td> $0.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom</td><td> $1.78/kg</td><td> $0.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $1.72/kg</td><td> $0.78/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland</td><td> $1.63/kg</td><td> $0.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $1.59/kg</td><td> $0.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $1.55/kg</td><td> $0.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $1.53/kg</td><td> $0.69/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $1.44/kg</td><td> $0.65/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $1.39/kg</td><td> $0.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $1.34/kg</td><td> $0.61/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $1.22/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $1.18/kg</td><td> $0.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class="w3-responsive w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Turnip Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 25.4%</td></tr>
<tr><td>United States </td><td> 8.8%</td></tr>
<tr><td>Iran </td><td> 7.2%</td></tr>
<tr><td>Turkey </td><td> 5.6%</td></tr>
<tr><td>Ukraine </td><td> 4.4%</td></tr>
<tr><td>Russia </td><td> 4.3%</td></tr>
<tr><td>India </td><td> 4.2%</td></tr>
<tr><td>Egypt </td><td> 3.9%</td></tr>
<tr><td>Japan </td><td> 2.7%</td></tr>
<tr><td>South Korea </td><td> 2.2%</td></tr>
<tr><td>Poland </td><td> 1.9%</td></tr>
<tr><td>Mexico </td><td> 1.8%</td></tr>
<tr><td>Spain </td><td> 1.6%</td></tr>
<tr><td>Italy </td><td> 1.5%</td></tr>
<tr><td>France </td><td> 1.5%</td></tr>
<tr><td>Uzbekistan </td><td> 1.5%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>United Kingdom </td><td> 1.3%</td></tr>
<tr><td>Canada </td><td> 1.2%</td></tr>
<tr><td>Morocco </td><td> 1.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Turnip Crop Growing in Countries</div></th></tr>
       <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> September to December</td></tr>
<tr><td>India </td><td> September to February</td></tr>
<tr><td>Russia </td><td> May to October</td></tr>
<tr><td>United States </td><td> July to September</td></tr>
<tr><td>Turkey </td><td> September to March</td></tr>
<tr><td>Iran </td><td> November to March</td></tr>
<tr><td>Ukraine </td><td> May to October</td></tr>
<tr><td>Japan </td><td> August to October</td></tr>
<tr><td>Egypt </td><td> November to April</td></tr>
<tr><td>South Korea </td><td> September to November</td></tr>
<tr><td>Canada </td><td> August to October</td></tr>
<tr><td>Germany </td><td> July to October</td></tr>
<tr><td>Italy </td><td> October to January</td></tr>
<tr><td>Poland </td><td> August to October</td></tr>
<tr><td>France </td><td> July to October</td></tr>
<tr><td>Spain </td><td> November to March</td></tr>
<tr><td>United Kingdom </td><td> June to August</td></tr>
<tr><td>Argentina </td><td> March to June</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Turnip Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 48%</td></tr>
<tr><td>Russia </td><td> 8%</td></tr>
<tr><td>Ukraine </td><td> 6%</td></tr>
<tr><td>Uzbekistan </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 3%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Kazakhstan </td><td> 1%</td></tr>
<tr><td>Belarus </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Turnip Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 0.4%</td></tr>
<tr><td>Japan </td><td> 0.3%</td></tr>
<tr><td>Argentina </td><td> 0.2%</td></tr>
<tr><td>Brazil </td><td> 0.2%</td></tr>
<tr><td>Thailand </td><td> 0.2%</td></tr>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>Venezuela </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Australia </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>Pakistan </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>
<tr><td>Indonesia </td><td> 0.1%</td></tr>
<tr><td>Myanmar </td><td> 0.1%</td></tr>
<tr><td>Sudan </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Turnip Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 46%</td></tr>
<tr><td>Russia </td><td> 8%</td></tr>
<tr><td>Ukraine </td><td> 6%</td></tr>
<tr><td>Uzbekistan </td><td> 4%</td></tr>
<tr><td>United States </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 3%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Kazakhstan </td><td> 1%</td></tr>
<tr><td>Belarus </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>India </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Turnip Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Alvan Blanch Development Co. Ltd. </td><td>United Kingdom</td></tr>
<tr><td>Italpollina SpA </td><td>Italy</td></tr>
<tr><td>Agrofair Europe BV </td><td>Netherlands</td></tr>
<tr><td>Triferto BV </td><td>Netherlands</td></tr>
<tr><td>EuroChem Group AG </td><td>Switzerland</td></tr>
<tr><td>Agrana Beteiligungs AG </td><td>Austria</td></tr>
<tr><td>OCP Group </td><td>Morocco</td></tr>
<tr><td>Nutrien Ltd. </td><td>Canada</td></tr>
<tr><td>Yara International ASA </td><td>Norway</td></tr>
<tr><td>K+S AG </td><td>Germany</td></tr>
<tr><td>Uralkali PJSC </td><td>Russia</td></tr>
<tr><td>Mosaic Company </td><td>USA</td></tr>
<tr><td>ICL Group Ltd. </td><td>Israel</td></tr>
<tr><td>Haifa Group </td><td>Israel</td></tr>
<tr><td>Coromandel International Ltd. </td><td>India</td></tr>
<tr><td>SQM </td><td>Chile</td></tr>
<tr><td>Kynoch Fertilizer </td><td>South Africa</td></tr>
<tr><td>Nufarm Limited </td><td>Australia</td></tr>
<tr><td>Sinofert Holdings Limited </td><td>China</td></tr>
<tr><td>Nutri-Tech Solutions </td><td>New Zealand</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Turnip Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Dole Food Company, Inc. </td><td>USA</td></tr>
<tr><td>Chiquita Brands International, Inc. </td><td>USA</td></tr>
<tr><td>Del Monte Fresh Produce N.A., Inc. </td><td>USA</td></tr>
<tr><td>Fresh Del Monte Produce Inc. </td><td>USA</td></tr>
<tr><td>Naturipe Farms LLC </td><td>USA</td></tr>
<tr><td>Driscoll's, Inc. </td><td>USA</td></tr>
<tr><td>The Wonderful Company LLC </td><td>USA</td></tr>
<tr><td>Bakkavor Group </td><td>Iceland</td></tr>
<tr><td>Greenyard NV </td><td>Belgium</td></tr>
<tr><td>Total Produce PLC </td><td>Ireland</td></tr>
<tr><td>Capespan Group Limited </td><td>South Africa</td></tr>
<tr><td>Freshmax Group Pty Ltd. </td><td>Australia</td></tr>
<tr><td>Costa Group Holdings Limited </td><td>Australia</td></tr>
<tr><td>Fyffes PLC </td><td>Ireland</td></tr>
<tr><td>Westfalia Fruit </td><td>South Africa</td></tr>
<tr><td>IG International Pvt. Ltd. </td><td>India</td></tr>
<tr><td>AgroFresh Solutions, Inc. </td><td>USA</td></tr>
<tr><td>Oppy </td><td>Canada</td></tr>
<tr><td>Total Exotics LLC </td><td>USA</td></tr>
<tr><td>Eosta BV </td><td>Netherlands</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Turnip Crop Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for turnips in the foodservice industry, particularly in the preparation of healthy, plant-based meals.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The rise of turnips as a popular ingredient in fermented foods and beverages, such as kimchi and kvass.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">A growing trend of consumers seeking out locally grown and organic turnips, leading to increased production in small-scale farming operations.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advances in turnip breeding and genetics, leading to new varieties with improved disease resistance, yield, and flavor profiles.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of turnip greens as a popular superfood, rich in vitamins and antioxidants.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The use of turnips as a cover crop, helping to reduce soil erosion and improve soil health in agricultural fields.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in turnips as a sustainable and climate-friendly crop, as they require less water and fertilizer than many other crops.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of turnip production in developing countries, such as China and India, due to increasing demand and favorable growing conditions.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Innovation in turnip processing and value-added products, such as turnip chips and pickled turnips, creating new market opportunities.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of precision agriculture technologies in turnip production, such as GPS-guided machinery and drones, leading to more efficient and sustainable farming practices.</div>
</div>

</div>

</body>
</html>


