<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>

</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("beef-min.jpeg"),:size => "100x100" %>
         
           <h4>Beef Meat</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $327.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 157.9 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Beef meat is a popular food item consumed across the world. It is a good source of protein and essential nutrients, and can be prepared in a variety of ways. However, there are also risks associated with the consumption of beef meat, and producers and exporters need to be aware of these risks in order to ensure the safety and quality of their products.
One of the primary risks associated with the consumption of beef meat is the risk of heart disease. Beef meat is high in saturated fat, which can increase cholesterol levels and lead to the development of heart disease. According to the American Heart Association, people should limit their consumption of saturated fat to no more than 5-6% of their total daily caloric intake. This means that individuals who consume beef meat need to be mindful of the amount of saturated fat they are consuming, and should choose lean cuts of beef whenever possible.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Beef Meat Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 14.5%</td></tr>
<tr><td>China </td><td> 9.3%</td></tr>
<tr><td>Japan </td><td> 7.2%</td></tr>
<tr><td>South Korea </td><td> 5.8%</td></tr>
<tr><td>Hong Kong </td><td> 4.4%</td></tr>
<tr><td>Vietnam </td><td> 4.2%</td></tr>
<tr><td>Mexico </td><td> 4%</td></tr>
<tr><td>Russia </td><td> 3.7%</td></tr>
<tr><td>Philippines </td><td> 2.9%</td></tr>
<tr><td>Taiwan </td><td> 2.7%</td></tr>
<tr><td>Malaysia </td><td> 2.4%</td></tr>
<tr><td>Canada </td><td> 2.3%</td></tr>
<tr><td>Indonesia </td><td> 2.2%</td></tr>
<tr><td>Chile </td><td> 2.2%</td></tr>
<tr><td>Thailand </td><td> 1.9%</td></tr>
<tr><td>Saudi Arabia </td><td> 1.7%</td></tr>
<tr><td>UAE </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1.4%</td></tr>
<tr><td>Singapore </td><td> 1.2%</td></tr>
<tr><td>Israel </td><td> 1.1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Beef Meat Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Brazil </td><td> 19.5%</td></tr>
<tr><td>USA </td><td> 13.9%</td></tr>
<tr><td>Australia </td><td> 10.5%</td></tr>
<tr><td>India </td><td> 6.9%</td></tr>
<tr><td>New Zealand </td><td> 6.7%</td></tr>
<tr><td>Canada </td><td> 5.5%</td></tr>
<tr><td>Uruguay </td><td> 3.3%</td></tr>
<tr><td>Argentina </td><td> 3%</td></tr>
<tr><td>Paraguay </td><td> 2.5%</td></tr>
<tr><td>Mexico </td><td> 2.1%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Belarus </td><td> 1.9%</td></tr>
<tr><td>Spain </td><td> 1.8%</td></tr>
<tr><td>Netherlands </td><td> 1.7%</td></tr>
<tr><td>Ireland </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.6%</td></tr>
<tr><td>France </td><td> 1.4%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>Denmark </td><td> 1.3%</td></tr>
<tr><td>Italy </td><td> 1.2%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Beef Meat Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $3.60/kg </td><td>$1.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $4.04/kg </td><td>$1.83/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $4.41/kg </td><td>$2.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Paraguay </td><td> $4.50/kg </td><td>$2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uruguay </td><td> $4.95/kg </td><td>$2.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $5.22/kg </td><td>$2.37/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $5.50/kg </td><td>$2.49/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $5.60/kg </td><td>$2.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua </td><td> $5.67/kg </td><td>$2.57/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $5.70/kg </td><td>$2.58/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td> $5.79/kg </td><td>$2.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $5.85/kg </td><td>$2.65/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $6.50/kg </td><td>$2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $6.80/kg </td><td>$3.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $6.85/kg </td><td>$3.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $6.90/kg </td><td>$3.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kazakhstan </td><td> $6.93/kg </td><td>$3.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $7.37/kg </td><td>$3.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $7.50/kg </td><td>$3.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $7.71/kg </td><td>$3.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Beef Meat price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $43.75/kg </td><td>$19.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $32.59/kg </td><td>$14.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $24.76/kg </td><td>$11.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $22.46/kg </td><td>$10.19/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $22.05/kg </td><td>$10.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Macau </td><td> $20.46/kg </td><td>$9.29/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $18.75/kg </td><td>$8.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $18.17/kg </td><td>$8.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $17.75/kg </td><td>$8.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $17.62/kg </td><td>$7.99/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $16.74/kg </td><td>$7.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $16.35/kg </td><td>$7.42/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $15.98/kg </td><td>$7.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $14.91/kg </td><td>$6.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $14.34/kg </td><td>$6.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $12.37/kg </td><td>$5.61/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $11.56/kg </td><td>$5.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $11.21/kg </td><td>$5.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $10.36/kg </td><td>$4.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $10.25/kg </td><td>$4.65/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Beef Meat growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 18.2%</td></tr>
<tr><td>Brazil </td><td> 14.6%</td></tr>
<tr><td>European Union </td><td> 11.4%</td></tr>
<tr><td>China </td><td> 10.5%</td></tr>
<tr><td>India </td><td> 6.4%</td></tr>
<tr><td>Argentina </td><td> 4.6%</td></tr>
<tr><td>Australia </td><td> 4.5%</td></tr>
<tr><td>Mexico </td><td> 2.8%</td></tr>
<tr><td>Canada </td><td> 2.5%</td></tr>
<tr><td>Russia </td><td> 2.3%</td></tr>
<tr><td>Pakistan </td><td> 2.3%</td></tr>
<tr><td>Turkey </td><td> 2.1%</td></tr>
<tr><td>Uruguay </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 1.9%</td></tr>
<tr><td>Iran </td><td> 1.8%</td></tr>
<tr><td>South Korea </td><td> 1.7%</td></tr>
<tr><td>Kazakhstan </td><td> 1.7%</td></tr>
<tr><td>Sudan </td><td> 1.6%</td></tr>
<tr><td>Japan </td><td> 1.6%</td></tr>
<tr><td>Colombia </td><td> 1.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Beef Meat</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Argentina </td><td> 55.8%</td></tr>
<tr><td>Uruguay </td><td> 51.7%</td></tr>
<tr><td>Brazil </td><td> 47.5%</td></tr>
<tr><td>Paraguay </td><td> 42.5%</td></tr>
<tr><td>Hong Kong </td><td> 41.9%</td></tr>
<tr><td>USA </td><td> 38.9%</td></tr>
<tr><td>Kazakhstan </td><td> 36.6%</td></tr>
<tr><td>Mongolia </td><td> 33.7%</td></tr>
<tr><td>Australia </td><td> 33.1%</td></tr>
<tr><td>Canada </td><td> 32.5%</td></tr>
<tr><td>New Zealand </td><td> 31.5%</td></tr>
<tr><td>Russia </td><td> 30.1%</td></tr>
<tr><td>Chile </td><td> 29.8%</td></tr>
<tr><td>South Korea </td><td> 29.7%</td></tr>
<tr><td>Venezuela </td><td> 29.1%</td></tr>
<tr><td>Mexico </td><td> 26.4%</td></tr>
<tr><td>Ukraine </td><td> 24.4%</td></tr>
<tr><td>Belarus </td><td> 24.1%</td></tr>
<tr><td>Costa Rica </td><td> 23.9%</td></tr>
<tr><td>Peru </td><td> 22.8%</td></tr>
</table>
</div>





<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Beef Meat<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Bangladesh </td><td> 0.2%</td></tr>
<tr><td>India </td><td> 0.4%</td></tr>
<tr><td>Sri Lanka </td><td> 0.5%</td></tr>
<tr><td>Nepal </td><td> 0.7%</td></tr>
<tr><td>Ghana </td><td> 0.7%</td></tr>
<tr><td>Senegal </td><td> 0.8%</td></tr>
<tr><td>Benin </td><td> 0.9%</td></tr>
<tr><td>Ethiopia </td><td> 1.1%</td></tr>
<tr><td>Guinea </td><td> 1.1%</td></tr>
<tr><td>Gambia </td><td> 1.2%</td></tr>
<tr><td>Uganda </td><td> 1.2%</td></tr>
<tr><td>Togo </td><td> 1.2%</td></tr>
<tr><td>Sierra Leone </td><td> 1.3%</td></tr>
<tr><td>Nigeria </td><td> 1.3%</td></tr>
<tr><td>Kenya </td><td> 1.3%</td></tr>
<tr><td>Tanzania </td><td> 1.3%</td></tr>
<tr><td>Mali </td><td> 1.4%</td></tr>
<tr><td>Burkina Faso </td><td> 1.4%</td></tr>
<tr><td>Cameroon </td><td> 1.6%</td></tr>
<tr><td>Niger </td><td> 1.7%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Beef Meat Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Uruguay </td><td> 58.2%</td></tr>
<tr><td>Argentina </td><td> 55.8%</td></tr>
<tr><td>Hong Kong </td><td> 41.9%</td></tr>
<tr><td>Brazil </td><td> 39.6%</td></tr>
<tr><td>USA </td><td> 38.9%</td></tr>
<tr><td>Kazakhstan </td><td> 36.6%</td></tr>
<tr><td>Mongolia </td><td> 33.7%</td></tr>
<tr><td>Australia </td><td> 33.1%</td></tr>
<tr><td>Canada </td><td> 32.5%</td></tr>
<tr><td>New Zealand </td><td> 31.5%</td></tr>
<tr><td>Russia </td><td> 30.1%</td></tr>
<tr><td>Chile </td><td> 29.8%</td></tr>
<tr><td>South Korea </td><td> 29.7%</td></tr>
<tr><td>Venezuela </td><td> 29.1%</td></tr>
<tr><td>Mexico </td><td> 26.4%</td></tr>
<tr><td>Ukraine </td><td> 24.4%</td></tr>
<tr><td>Belarus </td><td> 24.1%</td></tr>
<tr><td>Costa Rica </td><td> 23.9%</td></tr>
<tr><td>Peru </td><td> 22.8%</td></tr>
<tr><td>Uzbekistan </td><td> 21.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Beef Meat Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>JBS S.A. </td><td> Brazil</td></tr>
<tr><td>Tyson Foods </td><td> USA</td></tr>
<tr><td>Minerva Foods </td><td> Brazil</td></tr>
<tr><td>Marfrig Global Foods </td><td> Brazil</td></tr>
<tr><td>Nipponham Group </td><td> Japan</td></tr>
<tr><td>NH Foods Ltd. </td><td> Japan</td></tr>
<tr><td>Vion Food Group </td><td> Netherlands</td></tr>
<tr><td>Tenowo Meat Processing </td><td> Germany</td></tr>
<tr><td>BRF S.A. </td><td> Brazil</td></tr>
<tr><td>Danish Crown </td><td> Denmark</td></tr>
<tr><td>Dawn Meats </td><td> Ireland</td></tr>
<tr><td>Frigorífico Concepción </td><td> Paraguay</td></tr>
<tr><td>F. Menard </td><td> Canada</td></tr>
<tr><td>Vissan Joint Stock Company </td><td> Vietnam</td></tr>
<tr><td>Beijing Hopewise Ltd. </td><td> China</td></tr>
<tr><td>Cofco Meat Holdings Limited </td><td> China</td></tr>
<tr><td>Gruppo Cremonini </td><td> Italy</td></tr>
<tr><td>Nabil Foods </td><td> Saudi Arabia</td></tr>
<tr><td>Al Islami Foods </td><td> UAE</td></tr>
<tr><td>Itoham Yonekyu Holdings </td><td> Japan</td></tr>
</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Beef Meat Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>JBS S.A. </td><td> Brazil</td></tr>
<tr><td>Tyson Foods </td><td> USA</td></tr>
<tr><td>Minerva Foods </td><td> Brazil</td></tr>
<tr><td>Marfrig Global Foods </td><td> Brazil</td></tr>
<tr><td>NH Foods Ltd. </td><td> Japan</td></tr>
<tr><td>Vion Food Group </td><td> Netherlands</td></tr>
<tr><td>Danish Crown </td><td> Denmark</td></tr>
<tr><td>Dawn Meats </td><td> Ireland</td></tr>
<tr><td>F. Menard </td><td> Canada</td></tr>
<tr><td>Tenowo Meat Processing </td><td> Germany</td></tr>
<tr><td>Gruppo Cremonini </td><td> Italy</td></tr>
<tr><td>Nabil Foods </td><td> Saudi Arabia</td></tr>
<tr><td>Al Islami Foods </td><td> UAE</td></tr>
<tr><td>Vissan Joint Stock Company </td><td> Vietnam</td></tr>
<tr><td>Cherkizovo Group </td><td> Russia</td></tr>
<tr><td>Miratorg </td><td> Russia</td></tr>
<tr><td>MHP </td><td> Ukraine</td></tr>
<tr><td>Minh Phu Seafood Corp. </td><td> Vietnam</td></tr>
<tr><td>Charoen Pokphand Foods PCL </td><td> Thailand</td></tr>
<tr><td>Atria Plc </td><td> Finland</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12 ">
<div class="w3-center  w3-white w3-panel"><h3>Beef Meat Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for grass-fed and organic beef as consumers seek more sustainable and ethical meat products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of plant-based meat alternatives, which may impact demand for traditional beef products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising demand for high-quality, premium cuts of beef, particularly in Asian markets.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in meat traceability and transparency, with consumers seeking information on the source and production methods of their beef products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Shift towards online and direct-to-consumer sales channels, with more consumers purchasing beef products through e-commerce platforms.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on animal welfare and humane treatment in beef production, with companies implementing new practices and certifications to improve their animal welfare standards.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing concern over the environmental impact of beef production, leading to increased efforts to reduce greenhouse gas emissions and improve sustainability.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of beef production in emerging markets, particularly in Asia and Africa, as incomes rise and consumer demand for meat products increases.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies in beef production, including artificial intelligence, robotics, and blockchain, to improve efficiency, reduce waste, and enhance traceability.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Impact of the COVID-19 pandemic on the beef market, with supply chain disruptions and changes in consumer behavior leading to price fluctuations and shifts in demand.</div>
</div>

</div>

</body>
</html>

