<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("duck-min.jpg"),:size => "100x100" %>
         
           <h4>Duck Meat</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $9.3 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 9.3 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Duck meat is generally considered to be a healthy source of protein and essential nutrients, but there are also risks associated with its consumption. One of the primary risks is the potential for contamination with bacteria such as Salmonella, which can cause serious illness. To minimize this risk, producers and processors need to follow strict food safety protocols and ensure that their products are free from contaminants.

Despite these risks, there is also significant strategic value in the potential export opportunities for duck meat. One of the key factors driving the demand for duck meat is the increasing popularity of Asian cuisine in many regions of the world. Duck meat is a staple in many traditional Asian dishes, such as Peking duck, and as these cuisines gain popularity in other regions, there is increasing demand for high-quality duck meat.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Duck Meat Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 22.7%</td></tr>
<tr><td>Japan </td><td> 20.1%</td></tr>
<tr><td>Hong Kong </td><td> 9.5%</td></tr>
<tr><td>USA </td><td> 8.1%</td></tr>
<tr><td>South Korea </td><td> 5.5%</td></tr>
<tr><td>Vietnam </td><td> 3.9%</td></tr>
<tr><td>Philippines </td><td> 3.5%</td></tr>
<tr><td>Taiwan </td><td> 2.8%</td></tr>
<tr><td>Canada </td><td> 2.2%</td></tr>
<tr><td>Singapore </td><td> 1.8%</td></tr>
<tr><td>Russia </td><td> 1.4%</td></tr>
<tr><td>Malaysia </td><td> 1.4%</td></tr>
<tr><td>Mexico </td><td> 1.2%</td></tr>
<tr><td>China </td><td> 1.2%</td></tr>
<tr><td>Thailand </td><td> 1.0%</td></tr>
<tr><td>UAE </td><td> 0.8%</td></tr>
<tr><td>Indonesia </td><td> 0.7%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.6%</td></tr>
<tr><td>New Zealand </td><td> 0.4%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Duck Meat Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>European Union </td><td> 40.5%</td></tr>
<tr><td>Thailand </td><td> 22.3%</td></tr>
<tr><td>China </td><td> 14.5%</td></tr>
<tr><td>USA </td><td> 5.7%</td></tr>
<tr><td>Canada </td><td> 3.5%</td></tr>
<tr><td>France </td><td> 3.3%</td></tr>
<tr><td>Hungary </td><td> 2.2%</td></tr>
<tr><td>Poland </td><td> 1.2%</td></tr>
<tr><td>Germany </td><td> 0.9%</td></tr>
<tr><td>UK </td><td> 0.7%</td></tr>
<tr><td>Denmark </td><td> 0.7%</td></tr>
<tr><td>Netherlands </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.6%</td></tr>
<tr><td>Brazil </td><td> 0.6%</td></tr>
<tr><td>Italy </td><td> 0.4%</td></tr>
<tr><td>Malaysia </td><td> 0.4%</td></tr>
<tr><td>Spain </td><td> 0.4%</td></tr>
<tr><td>Czech Republic </td><td> 0.4%</td></tr>
<tr><td>South Korea </td><td> 0.4%</td></tr>
<tr><td>Vietnam </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Duck Meat Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>China </td><td> $4.20/kg</td><td> $1.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $5.29/kg</td><td> $2.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $5.44/kg</td><td> $2.47/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $6.48/kg</td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $6.69/kg</td><td> $3.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $7.19/kg</td><td> $3.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td> $7.53/kg</td><td> $3.42/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $7.75/kg</td><td> $3.52/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $8.65/kg</td><td> $3.93/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $9.09/kg</td><td> $4.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $9.21/kg</td><td> $4.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $9.40/kg</td><td> $4.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $9.62/kg</td><td> $4.37/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $9.80/kg</td><td> $4.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $10.17/kg</td><td> $4.62/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $10.20/kg</td><td> $4.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $10.67/kg</td><td> $4.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus </td><td> $10.68/kg</td><td> $4.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $10.80/kg</td><td> $4.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $11.31/kg</td><td> $5.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Duck Meat price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>UAE </td><td> $30.77/kg</td><td> $13.98/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $26.49/kg</td><td> $12.03/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $22.31/kg</td><td> $10.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $20.85/kg</td><td> $9.47/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $18.46/kg</td><td> $8.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $17.70/kg</td><td> $8.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $16.87/kg</td><td> $7.66/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $16.39/kg</td><td> $7.44/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $15.63/kg</td><td> $7.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $15.38/kg</td><td> $6.99/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $14.85/kg</td><td> $6.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $14.49/kg</td><td> $6.58/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Israel </td><td> $14.15/kg</td><td> $6.43/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $13.99/kg</td><td> $6.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $13.61/kg</td><td> $6.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $13.46/kg</td><td> $6.11/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $13.10/kg</td><td> $5.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $13.04/kg</td><td> $5.92/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $12.67/kg</td><td> $5.75/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $12.36/kg</td><td> $5.01</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Duck Meat growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 68.4%</td></tr>
<tr><td>France </td><td> 7.5%</td></tr>
<tr><td>Vietnam </td><td> 4.8%</td></tr>
<tr><td>Indonesia </td><td> 2.9%</td></tr>
<tr><td>Thailand </td><td> 2.6%</td></tr>
<tr><td>Myanmar </td><td> 2.2%</td></tr>
<tr><td>Iran </td><td> 1.8%</td></tr>
<tr><td>USA </td><td> 1.6%</td></tr>
<tr><td>Malaysia </td><td> 1.3%</td></tr>
<tr><td>Philippines </td><td> 0.8%</td></tr>
<tr><td>India </td><td> 0.7%</td></tr>
<tr><td>South Korea </td><td> 0.5%</td></tr>
<tr><td>Taiwan </td><td> 0.5%</td></tr>
<tr><td>Japan </td><td> 0.5%</td></tr>
<tr><td>Bangladesh </td><td> 0.5%</td></tr>
<tr><td>UK </td><td> 0.3%</td></tr>
<tr><td>Italy </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.3%</td></tr>
<tr><td>Spain </td><td> 0.2%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Duck Meat</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 58.7%</td></tr>
<tr><td>Thailand </td><td> 5.5%</td></tr>
<tr><td>France </td><td> 3.9%</td></tr>
<tr><td>Indonesia </td><td> 3.5%</td></tr>
<tr><td>Vietnam </td><td> 3.3%</td></tr>
<tr><td>USA </td><td> 2.9%</td></tr>
<tr><td>Myanmar </td><td> 2.6%</td></tr>
<tr><td>South Korea </td><td> 2.4%</td></tr>
<tr><td>Philippines </td><td> 2.3%</td></tr>
<tr><td>Taiwan </td><td> 2.2%</td></tr>
<tr><td>Malaysia </td><td> 2.0%</td></tr>
<tr><td>Japan </td><td> 1.8%</td></tr>
<tr><td>Russia </td><td> 1.6%</td></tr>
<tr><td>India </td><td> 1.2%</td></tr>
<tr><td>Iran </td><td> 1.1%</td></tr>
<tr><td>Turkey </td><td> 0.7%</td></tr>
<tr><td>Cambodia </td><td> 0.6%</td></tr>
<tr><td>Germany </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.4%</td></tr>
<tr><td>UK </td><td> 0.3%</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Duck Meat<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Canada </td><td> 0.2%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Egypt </td><td> 0.2%</td></tr>
<tr><td>Hong Kong </td><td> 0.2%</td></tr>
<tr><td>Italy </td><td> 0.2%</td></tr>
<tr><td>Kuwait </td><td> 0.2%</td></tr>
<tr><td>Netherlands </td><td> 0.2%</td></tr>
<tr><td>New Zealand </td><td> 0.2%</td></tr>
<tr><td>Pakistan </td><td> 0.2%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.2%</td></tr>
<tr><td>Singapore </td><td> 0.2%</td></tr>
<tr><td>Spain </td><td> 0.2%</td></tr>
<tr><td>UAE </td><td> 0.2%</td></tr>
<tr><td>Austria </td><td> 0.1%</td></tr>
<tr><td>Bahrain </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Denmark </td><td> 0.1%</td></tr>
<tr><td>Greece </td><td> 0.1%</td></tr>
<tr><td>Ireland </td><td> 0.1%</td></tr>
<tr><td>Jordan </td><td> 0.1%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Duck Meat Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 41.7%</td></tr>
<tr><td>France </td><td> 9.6%</td></tr>
<tr><td>Thailand </td><td> 7.3%</td></tr>
<tr><td>Vietnam </td><td> 6.1%</td></tr>
<tr><td>Indonesia </td><td> 5.9%</td></tr>
<tr><td>USA </td><td> 5.5%</td></tr>
<tr><td>South Korea </td><td> 3.8%</td></tr>
<tr><td>Philippines </td><td> 2.9%</td></tr>
<tr><td>Taiwan </td><td> 2.8%</td></tr>
<tr><td>Malaysia </td><td> 2.6%</td></tr>
<tr><td>Myanmar </td><td> 1.9%</td></tr>
<tr><td>Russia </td><td> 1.8%</td></tr>
<tr><td>Japan </td><td> 1.6%</td></tr>
<tr><td>Iran </td><td> 1.2%</td></tr>
<tr><td>India </td><td> 1.2%</td></tr>
<tr><td>Turkey </td><td> 0.9%</td></tr>
<tr><td>Cambodia </td><td> 0.7%</td></tr>
<tr><td>Singapore </td><td> 0.6%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>UK </td><td> 0.4%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Duck Meat Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Sunner Development Co., Ltd. </td><td> Taiwan</td></tr>
<tr><td>C.P. Group </td><td> Thailand</td></tr>
<tr><td>Guangdong Wen's Foodstuffs </td><td> China</td></tr>
<tr><td>Fujian Yongchun Huoshan Duck</td><td> China</td></tr>
<tr><td>Cherry Valley Farms Ltd. </td><td> UK</td></tr>
<tr><td>DaChan Food (Asia) Limited </td><td> Hong Kong</td></tr>
<tr><td>Grupo Motta Internacional </td><td> Mexico</td></tr>
<tr><td>Longkou Xingji Meat Foodstuff Co., Ltd. </td><td> China</td></tr>
<tr><td>Jin Hua Global Trading Corp. </td><td> USA</td></tr>
<tr><td>Société Grimaud </td><td> France</td></tr>
<tr><td>Shanxi Fengxiangyuan  </td><td> China</td></tr>
<tr><td>Sarimelati Kencana Tbk </td><td> Indonesia</td></tr>
<tr><td>Brome Composites Inc. </td><td> Canada</td></tr>
<tr><td>THP Group Joint Stock  </td><td> Vietnam</td></tr>
<tr><td>Canard Inc. </td><td> Canada</td></tr>
<tr><td>Silver Fern Farms Limited </td><td> New Zealand</td></tr>
<tr><td>Euro Foods Group Limited </td><td> UK</td></tr>
<tr><td>Thai Duck Meat Co., Ltd. </td><td> Thailand</td></tr>
<tr><td>Multi Agro Gemilang Plantation (MAG) </td><td> Malaysia</td></tr>
<tr><td>Al Gharasi Food Industries </td><td> UAE</td></tr>
</table>
</div>



<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Duck Meat Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Maple Leaf Farms </td><td> USA</td></tr>
<tr><td>Les Canards du Lac Brome Ltée </td><td> Canada</td></tr>
<tr><td>Select Breeders Services </td><td> USA</td></tr>
<tr><td>Barbary Duck Ltd. </td><td> UK</td></tr>
<tr><td>Cuddy Farms </td><td> UK</td></tr>
<tr><td>Faccenda Foods Limited </td><td> UK</td></tr>
<tr><td>Crescent Duck Farm, Inc. </td><td> USA</td></tr>
<tr><td>Gressingham Foods </td><td> UK</td></tr>
<tr><td>Luva Duck Pty Ltd </td><td> Australia</td></tr>
<tr><td>Ducks Hill Farm </td><td> UK</td></tr>
<tr><td>Tom Barron's Pekin Ducks </td><td> UK</td></tr>
<tr><td>Rougie </td><td> France</td></tr>
<tr><td>Tsar Nicoulai Caviar </td><td> USA</td></tr>
<tr><td>Ararat Meat Exports Pty Ltd </td><td> Australia</td></tr>
<tr><td>Zhucheng Huaying Trading Co., Ltd. </td><td> China</td></tr>
<tr><td>Mediterra </td><td> France</td></tr>
<tr><td>Ivanovskaya Pticefabrika LLC </td><td> Russia</td></tr>
<tr><td>Grimaud Freres Selection </td><td> France</td></tr>
<tr><td>High Lonesome Ranch </td><td> USA</td></tr>
<tr><td>Miho International Trading BV </td><td> Netherlands</td></tr>
</table>
</div>
</div>
<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Duck Meat Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for duck meat in various cuisines around the world.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of duck-based products such as duck sausages, duck confit, and duck burgers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The rise of specialty and gourmet duck farms producing high-quality, ethically-raised ducks.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The trend towards more sustainable and organic farming practices in the duck industry.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The increasing popularity of Asian cuisine, where duck meat is a common ingredient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new markets for duck meat, such as in the Middle East and Africa.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing consumer interest in the health benefits of duck meat, which is high in protein and low in fat.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The trend towards convenience and pre-cooked duck products for busy consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of the COVID-19 pandemic on the duck meat market, with disruptions in supply chains and changes in consumer behavior.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The growing demand for duck eggs, which are used in various culinary applications and are considered a delicacy in some cultures..</div>

</div>
</div>


</body>
</html>

