<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("goose-min.jpg"),:size => "100x100" %>
         
           <h4>Goose Meat</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 2.6 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Goose meat is generally considered to be a healthy source of protein and essential nutrients, but there are also risks associated with its consumption. One of the primary risks is the potential for contamination with bacteria such as Salmonella, which can cause serious illness. To minimize this risk, producers and processors need to follow strict food safety protocols and ensure that their products are free from contaminants.

Despite these risks, there is also significant strategic value in the potential export opportunities for goose meat. One of the key factors driving the demand for goose meat is the increasing popularity of traditional European cuisine in many regions of the world. Goose meat is a staple in many traditional European dishes, such as roasted goose, and as these cuisines gain popularity in other regions, there is increasing demand for high-quality goose meat.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Goose Meat Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Hong Kong </td><td> 17.2%</td></tr>
<tr><td>Japan </td><td> 15.5%</td></tr>
<tr><td>South Korea </td><td> 14.3%</td></tr>
<tr><td>USA </td><td> 11.1%</td></tr>
<tr><td>Taiwan </td><td> 10.0%</td></tr>
<tr><td>Canada </td><td> 6.2%</td></tr>
<tr><td>Singapore </td><td> 2.8%</td></tr>
<tr><td>UK </td><td> 2.7%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>Australia </td><td> 1.1%</td></tr>
<tr><td>Italy </td><td> 0.9%</td></tr>
<tr><td>France </td><td> 0.8%</td></tr>
<tr><td>Netherlands </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.7%</td></tr>
<tr><td>UAE </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>Poland </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.4%</td></tr>
<tr><td>Austria </td><td> 0.3%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Goose Meat Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Hungary </td><td> 24.7%</td></tr>
<tr><td>Poland </td><td> 22.4%</td></tr>
<tr><td>Germany </td><td> 18.3%</td></tr>
<tr><td>France </td><td> 9.3%</td></tr>
<tr><td>Denmark </td><td> 5.6%</td></tr>
<tr><td>Netherlands </td><td> 2.7%</td></tr>
<tr><td>UK </td><td> 2.4%</td></tr>
<tr><td>Belgium </td><td> 1.9%</td></tr>
<tr><td>Spain </td><td> 1.4%</td></tr>
<tr><td>Italy </td><td> 1.3%</td></tr>
<tr><td>Austria </td><td> 1.3%</td></tr>
<tr><td>Czech Republic </td><td> 1.1%</td></tr>
<tr><td>Slovakia </td><td> 0.7%</td></tr>
<tr><td>Sweden </td><td> 0.7%</td></tr>
<tr><td>Romania </td><td> 0.5%</td></tr>
<tr><td>Estonia </td><td> 0.5%</td></tr>
<tr><td>Finland </td><td> 0.4%</td></tr>
<tr><td>Lithuania </td><td> 0.4%</td></tr>
<tr><td>Latvia </td><td> 0.3%</td></tr>
<tr><td>Portugal </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Goose Meat Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Poland</td><td> $7.80/kg</td><td>$3.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hungary</td><td> $8.50/kg</td><td>$3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine</td><td> $9.12/kg</td><td>$4.13/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belarus</td><td> $9.30/kg</td><td>$4.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia</td><td> $9.44/kg</td><td>$4.28/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $9.62/kg</td><td>$4.37/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania</td><td> $9.70/kg</td><td>$4.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria</td><td> $9.80/kg</td><td>$4.44/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Lithuania</td><td> $10.30/kg</td><td>$4.67/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Latvia</td><td> $10.50/kg</td><td>$4.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Estonia</td><td> $10.60/kg</td><td>$4.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $10.70/kg</td><td>$4.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Slovakia</td><td> $11.10/kg</td><td>$5.03/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Czech Republic</td><td> $11.20/kg</td><td>$5.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $11.80/kg</td><td>$5.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $12.20/kg</td><td>$5.53/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $12.70/kg</td><td>$5.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $13.60/kg</td><td>$6.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $14.50/kg</td><td>$6.58/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td> $15.20/kg</td><td>$6.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Goose Meat price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA</td><td> $50.80/kg</td><td>$23.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong</td><td> $47.50/kg</td><td>$21.56/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td> $44.00/kg</td><td>$19.96/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td> $43.00/kg</td><td>$19.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan</td><td> $40.50/kg</td><td>$18.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore</td><td> $36.70/kg</td><td>$16.67/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td> $34.80/kg</td><td>$15.78/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td> $31.90/kg</td><td>$14.48/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td> $28.10/kg</td><td>$12.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td> $26.90/kg</td><td>$12.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td> $25.80/kg</td><td>$11.71/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td> $24.90/kg</td><td>$11.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td> $23.40/kg</td><td>$10.61/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td> $22.90/kg</td><td>$10.39/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td> $21.80/kg</td><td>$9.89/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland</td><td> $21.70/kg</td><td>$9.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark</td><td> $21.50/kg</td><td>$9.75/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria</td><td> $20.80/kg</td><td>$9.43/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td> $20.60/kg</td><td>$9.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td> $20.40/kg</td><td>$9.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Goose Meat growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 51.9%</td></tr>
<tr><td>Egypt </td><td> 8.2%</td></tr>
<tr><td>Poland </td><td> 4.7%</td></tr>
<tr><td>France </td><td> 4.5%</td></tr>
<tr><td>Hungary </td><td> 4.4%</td></tr>
<tr><td>Ukraine </td><td> 4.3%</td></tr>
<tr><td>Germany </td><td> 3.6%</td></tr>
<tr><td>Russia </td><td> 2.5%</td></tr>
<tr><td>Romania </td><td> 2.3%</td></tr>
<tr><td>Netherlands </td><td> 1.7%</td></tr>
<tr><td>Belarus </td><td> 1.5%</td></tr>
<tr><td>Kazakhstan </td><td> 1.3%</td></tr>
<tr><td>UK </td><td> 1.2%</td></tr>
<tr><td>Spain </td><td> 1.1%</td></tr>
<tr><td>Canada </td><td> 0.9%</td></tr>
<tr><td>Bulgaria </td><td> 0.8%</td></tr>
<tr><td>Denmark </td><td> 0.6%</td></tr>
<tr><td>Italy </td><td> 0.6%</td></tr>
<tr><td>Serbia </td><td> 0.6%</td></tr>
<tr><td>Turkey </td><td> 0.5%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Goose Meat</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Hong Kong </td><td> 17.2%</td></tr>
<tr><td>Japan </td><td> 15.5%</td></tr>
<tr><td>South Korea </td><td> 14.3%</td></tr>
<tr><td>USA </td><td> 11.1%</td></tr>
<tr><td>Taiwan </td><td> 10.0%</td></tr>
<tr><td>Canada </td><td> 6.2%</td></tr>
<tr><td>Singapore </td><td> 2.8%</td></tr>
<tr><td>UK </td><td> 2.7%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>Australia </td><td> 1.1%</td></tr>
<tr><td>Italy </td><td> 0.9%</td></tr>
<tr><td>France </td><td> 0.8%</td></tr>
<tr><td>Netherlands </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.7%</td></tr>
<tr><td>UAE </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>Poland </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.4%</td></tr>
<tr><td>Austria </td><td> 0.3%</td></tr>
</table>
</div>





<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Goose Meat<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Papua New Guinea </td><td> 0.2%</td></tr>
<tr><td>Kiribati </td><td> 0.2%</td></tr>
<tr><td>Marshall Islands </td><td> 0.1%</td></tr>
<tr><td>Tonga </td><td> 0.1%</td></tr>
<tr><td>Palau </td><td> 0.1%</td></tr>
<tr><td>Solomon Islands </td><td> 0.1%</td></tr>
<tr><td>Vanuatu </td><td> 0.1%</td></tr>
<tr><td>Micronesia </td><td> 0.1%</td></tr>
<tr><td>Samoa </td><td> 0.1%</td></tr>
<tr><td>Tuvalu </td><td> 0.1%</td></tr>
<tr><td>Cook Islands </td><td> 0.1%</td></tr>
<tr><td>Niue </td><td> 0.0%</td></tr>
<tr><td>Nauru </td><td> 0.0%</td></tr>
<tr><td>Sao Tome and Principe </td><td> 0.0%</td></tr>
<tr><td>Comoros </td><td> 0.0%</td></tr>
<tr><td>Djibouti </td><td> 0.0%</td></tr>
<tr><td>Eritrea </td><td> 0.0%</td></tr>
<tr><td>Gambia </td><td> 0.0%</td></tr>
<tr><td>Guinea Bissau </td><td> 0.0%</td></tr>
<tr><td>Maldives </td><td> 0.0%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Goose Meat Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 51.9%</td></tr>
<tr><td>Hong Kong </td><td> 17.2%</td></tr>
<tr><td>Japan </td><td> 15.5%</td></tr>
<tr><td>South Korea </td><td> 14.3%</td></tr>
<tr><td>Taiwan </td><td> 10.0%</td></tr>
<tr><td>USA </td><td> 11.1%</td></tr>
<tr><td>Canada </td><td> 6.2%</td></tr>
<tr><td>Singapore </td><td> 2.8%</td></tr>
<tr><td>UK </td><td> 2.7%</td></tr>
<tr><td>Germany </td><td> 1.4%</td></tr>
<tr><td>Australia </td><td> 1.1%</td></tr>
<tr><td>Italy </td><td> 0.9%</td></tr>
<tr><td>France </td><td> 0.8%</td></tr>
<tr><td>Netherlands </td><td> 0.7%</td></tr>
<tr><td>Belgium </td><td> 0.7%</td></tr>
<tr><td>UAE </td><td> 0.5%</td></tr>
<tr><td>Poland </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.5%</td></tr>
<tr><td>Switzerland </td><td> 0.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Goose Meat Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>LuvaDuck Pty Ltd </td><td> Australia</td></tr>
<tr><td>Qingdao Uniongold Trade Co., Ltd. </td><td> China</td></tr>
<tr><td>Europastry, S.A. </td><td> Spain</td></tr>
<tr><td>Golden Valley Farms Inc. </td><td> Canada</td></tr>
<tr><td>AGROFERT, a.s. </td><td> Czech Republic</td></tr>
<tr><td>Mekeni Food Corporation </td><td> Philippines</td></tr>
<tr><td>Andina Trading </td><td> Peru</td></tr>
<tr><td>Superlink Trade Ltd. </td><td> UK</td></tr>
<tr><td>East-West International </td><td> USA</td></tr>
<tr><td>Kildaire Farms Inc. </td><td> USA</td></tr>
<tr><td>Kühne + Heitz </td><td> Netherlands</td></tr>
<tr><td>Uniprod LLC </td><td> USA</td></tr>
<tr><td>AKM Foods Pvt Ltd </td><td> India</td></tr>
<tr><td>Sun Impex B.V. </td><td> Netherlands</td></tr>
<tr><td>Cheong Hee Foods Co., Ltd. </td><td> South Korea</td></tr>
<tr><td>Marfrig Global Foods S.A. </td><td> Brazil</td></tr>
<tr><td>Agrofood Ecuador </td><td> Ecuador</td></tr>
<tr><td>Eurogroup Far East Ltd. </td><td> Hong Kong</td></tr>
<tr><td>Central Cagayan Agri & Aqua </td><td> Philippines</td></tr>
<tr><td>Siam Canadian Foods Co., Ltd. </td><td> Thailand</td></tr>
</table>
</div>


<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Goose Meat Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Charoen Pokphand Foods PCL </td><td> Thailand</td></tr>
<tr><td>Gressingham Foods </td><td> UK</td></tr>
<tr><td>Wilmar International Limited </td><td> Singapore</td></tr>
<tr><td>Grupo Vall Companys </td><td> Spain</td></tr>
<tr><td>Maple Lodge Farms Ltd. </td><td> Canada</td></tr>
<tr><td>Eversfield Organic Ltd. </td><td> UK</td></tr>
<tr><td>Tönnies Fleisch </td><td> Germany</td></tr>
<tr><td>ISECO S.r.l. </td><td> Italy</td></tr>
<tr><td>Bell Food Group </td><td> Switzerland</td></tr>
<tr><td>Faccenda Foods Ltd. </td><td> UK</td></tr>
<tr><td>JBS S.A. </td><td> Brazil</td></tr>
<tr><td>Industrias Bachoco, S.A.B. de C.V. </td><td> Mexico</td></tr>
<tr><td>Integrace (Pty) Ltd. </td><td> South Africa</td></tr>
<tr><td>Jining City Baishengyuan Organic Agri</td><td> China</td></tr>
<tr><td>Banvit </td><td> Turkey</td></tr>
<tr><td>Grimaud Farms </td><td> USA</td></tr>
<tr><td>Qingdao Xintianyang Industrial & Trading </td><td> China</td></tr>
<tr><td>Mekeni Food Corporation </td><td> Philippines</td></tr>
<tr><td>Mowi ASA </td><td> Norway</td></tr>
<tr><td>The Doux </td><td> USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Goose Meat Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for high-quality, locally-sourced goose meat.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in goose as a specialty meat for holiday and celebratory meals.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of goose meat products to include value-added items such as sausages, pates, and confit.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising popularity of organic and free-range goose meat, with consumers seeking out products from birds raised without antibiotics or hormones.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growth of online sales channels for goose meat, allowing consumers to access a wider range of products and suppliers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on animal welfare and ethical farming practices, with some producers adopting higher standards of care for their geese.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for goose meat in emerging markets, particularly in Asia and the Middle East.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising interest in traditional recipes featuring goose meat, such as German-style roasted goose or French-style foie gras.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Innovations in packaging and processing to extend the shelf life of goose meat and improve its transportability.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of the restaurant industry to include more goose meat dishes, helping to raise awareness and drive demand for the product.</div>
</div>

</div>

</body>
</html>

