<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("guinea-min.jpg"),:size => "100x100" %>
         
           <h4>Guineo fowl Meat</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $75.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 2.2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 277.8 million</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Guinea fowl meat is generally considered to be a healthy source of protein and essential nutrients, but there are also risks associated with its consumption. One of the primary risks is the potential for contamination with bacteria such as Salmonella, which can cause serious illness. To minimize this risk, producers and processors need to follow strict food safety protocols and ensure that their products are free from contaminants.

Despite these risks, there is also significant strategic value in the potential export opportunities for guinea fowl meat. One of the key factors driving the demand for guinea fowl meat is its potential as a specialty meat product. Guinea fowl meat is often considered a gourmet food item and is prized for its unique flavor and texture. As a result, there is significant demand for high-quality guinea fowl meat in certain regions of the world, particularly in Europe and North America</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Guineo fowl Meat Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>France </td><td> 18.6%</td></tr>
<tr><td>United States </td><td> 12.8%</td></tr>
<tr><td>UK </td><td> 10.6%</td></tr>
<tr><td>Belgium </td><td> 8.3%</td></tr>
<tr><td>Germany </td><td> 6.5%</td></tr>
<tr><td>Netherlands </td><td> 6.4%</td></tr>
<tr><td>Spain </td><td> 5.1%</td></tr>
<tr><td>Italy </td><td> 3.7%</td></tr>
<tr><td>Switzerland </td><td> 2.9%</td></tr>
<tr><td>Hong Kong SAR, China </td><td> 2.4%</td></tr>
<tr><td>Japan </td><td> 2.1%</td></tr>
<tr><td>Canada </td><td> 1.9%</td></tr>
<tr><td>South Korea </td><td> 1.7%</td></tr>
<tr><td>Poland </td><td> 1.5%</td></tr>
<tr><td>Denmark </td><td> 1.3%</td></tr>
<tr><td>Sweden </td><td> 1.2%</td></tr>
<tr><td>Greece </td><td> 1.1%</td></tr>
<tr><td>Portugal </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 1.0%</td></tr>
<tr><td>Ireland </td><td> 0.8%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Guineo fowl Meat Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>France </td><td> 27.4%</td></tr>
<tr><td>Belgium </td><td> 16.2%</td></tr>
<tr><td>Netherlands </td><td> 15.7%</td></tr>
<tr><td>Hungary </td><td> 5.9%</td></tr>
<tr><td>Poland </td><td> 5.1%</td></tr>
<tr><td>Germany </td><td> 3.3%</td></tr>
<tr><td>Italy </td><td> 3.2%</td></tr>
<tr><td>Spain </td><td> 3.0%</td></tr>
<tr><td>UK </td><td> 2.9%</td></tr>
<tr><td>Denmark </td><td> 2.5%</td></tr>
<tr><td>Romania </td><td> 2.4%</td></tr>
<tr><td>Bulgaria </td><td> 2.2%</td></tr>
<tr><td>Czech Republic </td><td> 1.5%</td></tr>
<tr><td>Austria </td><td> 1.4%</td></tr>
<tr><td>Slovakia </td><td> 1.1%</td></tr>
<tr><td>Sweden </td><td> 1.1%</td></tr>
<tr><td>Greece </td><td> 0.9%</td></tr>
<tr><td>Lithuania </td><td> 0.8%</td></tr>
<tr><td>Finland </td><td> 0.7%</td></tr>
<tr><td>Ireland </td><td> 0.6%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>


</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Guineo fowl Meat Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Cameroon </td><td> $2.40/kg </td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $2.90/kg </td><td> $1.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ivory Coast </td><td> $3.00/kg </td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mali </td><td> $3.50/kg </td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Benin </td><td> $3.60/kg </td><td> $1.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Burkina Faso </td><td> $3.80/kg </td><td> $1.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Togo </td><td> $4.00/kg </td><td> $1.81/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $4.20/kg </td><td> $1.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guinea </td><td> $4.50/kg </td><td> $2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Senegal </td><td> $4.70/kg </td><td> $2.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Niger </td><td> $5.00/kg </td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chad </td><td> $5.30/kg </td><td> $2.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $5.50/kg </td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $6.00/kg </td><td> $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $6.50/kg </td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Rwanda </td><td> $7.00/kg </td><td> $3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zimbabwe </td><td> $7.50/kg </td><td> $3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zambia </td><td> $8.00/kg </td><td> $3.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $8.50/kg </td><td> $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Botswana </td><td> $9.00/kg </td><td> $4.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Guineo fowl Meat price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States </td><td> $22.00/kg </td><td> $9.98/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $21.50/kg </td><td> $9.75/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $20.00/kg </td><td> $9.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $19.00/kg </td><td> $8.62/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong SAR, China </td><td> $18.00/kg </td><td> $8.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $16.50/kg </td><td> $7.48/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $16.00/kg </td><td> $7.26/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $15.50/kg </td><td> $7.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $14.50/kg </td><td> $6.58/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $14.00/kg </td><td> $6.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $13.50/kg </td><td> $6.12/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $13.00/kg </td><td> $5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $12.50/kg </td><td> $5.67/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $12.00/kg </td><td> $5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $11.50/kg </td><td> $5.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $11.00/kg </td><td> $4.99/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $10.50/kg </td><td> $4.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $10.00/kg </td><td> $4.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $9.50/kg </td><td> $4.31/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Guineo fowl Meat growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>France </td><td> 24.2%</td></tr>
<tr><td>Hungary </td><td> 13.4%</td></tr>
<tr><td>Poland </td><td> 13.1%</td></tr>
<tr><td>Belgium </td><td> 10.7%</td></tr>
<tr><td>Netherlands </td><td> 9.7%</td></tr>
<tr><td>Italy </td><td> 7.8%</td></tr>
<tr><td>Germany </td><td> 7.2%</td></tr>
<tr><td>Spain </td><td> 4.9%</td></tr>
<tr><td>UK </td><td> 2.2%</td></tr>
<tr><td>Czech Republic </td><td> 1.7%</td></tr>
<tr><td>Slovakia </td><td> 1.3%</td></tr>
<tr><td>Austria </td><td> 1.1%</td></tr>
<tr><td>Bulgaria </td><td> 0.8%</td></tr>
<tr><td>Lithuania </td><td> 0.8%</td></tr>
<tr><td>Romania </td><td> 0.7%</td></tr>
<tr><td>Greece </td><td> 0.6%</td></tr>
<tr><td>Ireland </td><td> 0.6%</td></tr>
<tr><td>Denmark </td><td> 0.6%</td></tr>
<tr><td>Sweden </td><td> 0.4%</td></tr>
<tr><td>Finland </td><td> 0.4%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Guineo fowl Meat</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Cameroon </td><td> 36.3%</td></tr>
<tr><td>Ghana </td><td> 18.5%</td></tr>
<tr><td>Ivory Coast </td><td> 9.5%</td></tr>
<tr><td>Benin </td><td> 5.5%</td></tr>
<tr><td>Burkina Faso </td><td> 4.9%</td></tr>
<tr><td>Nigeria </td><td> 4.5%</td></tr>
<tr><td>Togo </td><td> 2.5%</td></tr>
<tr><td>Guinea </td><td> 2.4%</td></tr>
<tr><td>Mali </td><td> 2.2%</td></tr>
<tr><td>Senegal </td><td> 1.5%</td></tr>
<tr><td>Niger </td><td> 1.3%</td></tr>
<tr><td>Chad </td><td> 1.1%</td></tr>
<tr><td>Congo </td><td> 0.9%</td></tr>
<tr><td>Central African Republic </td><td> 0.7%</td></tr>
<tr><td>Tanzania </td><td> 0.6%</td></tr>
<tr><td>Gabon </td><td> 0.5%</td></tr>
<tr><td>Guinea Bissau </td><td> 0.5%</td></tr>
<tr><td>Democratic Republic of the Congo </td><td> 0.5%</td></tr>
<tr><td>Kenya </td><td> 0.4%</td></tr>
<tr><td>Zambia </td><td> 0.3%</td></tr>
</table>
</div>





<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Guineo fowl Meat<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Iceland </td><td> 0.0%</td></tr>
<tr><td>North Korea </td><td> 0.0%</td></tr>
<tr><td>Greenland </td><td> 0.0%</td></tr>
<tr><td>Liechtenstein </td><td> 0.0%</td></tr>
<tr><td>Monaco </td><td> 0.0%</td></tr>
<tr><td>San Marino </td><td> 0.0%</td></tr>
<tr><td>Andorra </td><td> 0.0%</td></tr>
<tr><td>Vatican City </td><td> 0.0%</td></tr>
<tr><td>Marshall Islands </td><td> 0.0%</td></tr>
<tr><td>Palau </td><td> 0.0%</td></tr>
<tr><td>Kiribati </td><td> 0.0%</td></tr>
<tr><td>Micronesia </td><td> 0.0%</td></tr>
<tr><td>Nauru </td><td> 0.0%</td></tr>
<tr><td>Tuvalu </td><td> 0.0%</td></tr>
<tr><td>Dominica </td><td> 0.0%</td></tr>
<tr><td>Saint Kitts and Nevis </td><td> 0.0%</td></tr>
<tr><td>Saint Vincent and the Grenadines </td><td> 0.0%</td></tr>
<tr><td>Grenada </td><td> 0.0%</td></tr>
<tr><td>Saint Lucia </td><td> 0.0%</td></tr>
<tr><td>Seychelles </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Guineo fowl Meat Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Cameroon </td><td> 31.5%</td></tr>
<tr><td>Ghana </td><td> 20.2%</td></tr>
<tr><td>Ivory Coast </td><td> 8.3%</td></tr>
<tr><td>Benin </td><td> 5.0%</td></tr>
<tr><td>Burkina Faso </td><td> 4.4%</td></tr>
<tr><td>Nigeria </td><td> 4.0%</td></tr>
<tr><td>Togo </td><td> 2.2%</td></tr>
<tr><td>Guinea </td><td> 2.1%</td></tr>
<tr><td>Mali </td><td> 1.9%</td></tr>
<tr><td>Senegal </td><td> 1.3%</td></tr>
<tr><td>Niger </td><td> 1.1%</td></tr>
<tr><td>Chad </td><td> 0.9%</td></tr>
<tr><td>Congo </td><td> 0.7%</td></tr>
<tr><td>Central African Republic </td><td> 0.6%</td></tr>
<tr><td>Tanzania </td><td> 0.5%</td></tr>
<tr><td>Gabon </td><td> 0.4%</td></tr>
<tr><td>Guinea Bissau </td><td> 0.4%</td></tr>
<tr><td>Democratic Republic of the Congo </td><td> 0.3%</td></tr>
<tr><td>Kenya </td><td> 0.3%</td></tr>
<tr><td>Zambia </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Guineo fowl Meat Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>HKL Trading Ltd. </td><td> UK</td></tr>
<tr><td>Goldleaf Poultry </td><td> South Africa</td></tr>
<tr><td>Leeden National Oxygen Ltd. </td><td> Singapore</td></tr>
<tr><td>Jambo Poultry Products </td><td> Kenya</td></tr>
<tr><td>Ashrafi Foods </td><td> Pakistan</td></tr>
<tr><td>Falcon Foodstuff Trading Ltd. </td><td> UAE</td></tr>
<tr><td>Agro Group </td><td> Ukraine</td></tr>
<tr><td>Fokou Fils </td><td> Cameroon</td></tr>
<tr><td>Manuchar NV </td><td> Belgium</td></tr>
<tr><td>P.G.S. Impex </td><td> India</td></tr>
<tr><td>Prima Foods SA </td><td> Switzerland</td></tr>
<tr><td>Al Rabiah Trading Co. LLC </td><td> Oman</td></tr>
<tr><td>International Fresh Trading </td><td> Spain</td></tr>
<tr><td>Interex Group Ltd. </td><td> UK</td></tr>
<tr><td>Saudi Agricultural and Livestock(SALIC) </td><td> Saudi Arabia</td></tr>
<tr><td>Tripanzee Agro Private Limited </td><td> India</td></tr>
<tr><td>GIBEX International </td><td> France</td></tr>
<tr><td>TMT Foods Import Export Joint Stock Company </td><td> Vietnam</td></tr>
<tr><td>Butcher’s Best </td><td> USA</td></tr>
<tr><td>Namaqua Meat Centre </td><td> Namibia</td></tr>

</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Guineo fowl Meat Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Theos Food Company Limited </td><td> Ghana</td></tr>
<tr><td>UGF </td><td> South Africa</td></tr>
<tr><td>Ets SALEM </td><td> Cameroon</td></tr>
<tr><td>Mombasa Poultry Products Limited </td><td> Kenya</td></tr>
<tr><td>M.S.T. Trading Sdn Bhd </td><td> Malaysia</td></tr>
<tr><td>Mediterranean Quality Foods </td><td> Greece</td></tr>
<tr><td>New Zealand Game Meats Ltd. </td><td> New Zealand</td></tr>
<tr><td>Velder Export S.L. </td><td> Spain</td></tr>
<tr><td>Nikken Foods Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Interfood BV </td><td> Netherlands</td></tr>
<tr><td>Frigorifico Guaraní SA </td><td> Paraguay</td></tr>
<tr><td>Basso Pancotte </td><td> Brazil</td></tr>
<tr><td>Soppexcca </td><td> Nicaragua</td></tr>
<tr><td>Farms Pride </td><td> Uganda</td></tr>
<tr><td>CAPEX </td><td> Egypt</td></tr>
<tr><td>IZEX International </td><td> Turkey</td></tr>
<tr><td>Grupo Montecarlo </td><td> Mexico</td></tr>
<tr><td>Jaures Trading International </td><td> Ivory Coast</td></tr>
<tr><td>Jazaa Foods Corporation </td><td> Saudi Arabia</td></tr>
<tr><td>Premier International Foods Pty Ltd. </td><td> Australia</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Guineo fowl Meat Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Rising demand for organic and free-range guinea fowl meat</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing popularity of guinea fowl meat as a healthier alternative to chicken</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in exotic meats among consumers</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising demand for guinea fowl meat in African and European markets</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increased focus on animal welfare and sustainable farming practices</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of guinea fowl meat in the restaurant industry</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of guinea fowl meat production in developing countries</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising demand for guinea fowl meat in the pet food industry</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of innovative guinea fowl meat products such as sausages and burgers</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of technology in guinea fowl meat production for better quality and efficiency.</div>
</div>

</div>

</body>
</html>

