<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("rabbit-min.jpg"),:size => "100x100" %>
         
           <h4>Rabbit Meat</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.3 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1.7%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 2.9 billion pounds</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Rabbit meat consumption is generally considered to be a healthy source of protein and essential nutrients. However, there are also risks associated with its consumption, particularly related to foodborne illnesses such as Salmonella and E. coli. Producers and processors need to follow strict food safety protocols to minimize these risks.

Despite the risks, there is also significant strategic value in the potential export opportunities for rabbit meat. One of the key factors driving the demand for rabbit meat is its potential as a specialty meat product. Rabbit meat is often considered a gourmet food item and is prized for its unique flavor and texture. As a result, there is significant demand for high-quality rabbit meat in certain regions of the world, particularly in Europe.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Rabbit Meat Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Belgium </td><td> 12.5%</td></tr>
<tr><td>Italy </td><td> 12.2%</td></tr>
<tr><td>Spain </td><td> 10.9%</td></tr>
<tr><td>France </td><td> 9.8%</td></tr>
<tr><td>Germany </td><td> 7.5%</td></tr>
<tr><td>Netherlands </td><td> 6.1%</td></tr>
<tr><td>USA </td><td> 4.9%</td></tr>
<tr><td>Hong Kong </td><td> 3.3%</td></tr>
<tr><td>Greece </td><td> 2.8%</td></tr>
<tr><td>United Kingdom </td><td> 2.4%</td></tr>
<tr><td>Japan </td><td> 2.2%</td></tr>
<tr><td>Czech Republic </td><td> 1.9%</td></tr>
<tr><td>Poland </td><td> 1.8%</td></tr>
<tr><td>Portugal </td><td> 1.6%</td></tr>
<tr><td>Canada </td><td> 1.5%</td></tr>
<tr><td>Austria </td><td> 1.4%</td></tr>
<tr><td>Slovakia </td><td> 1.3%</td></tr>
<tr><td>Switzerland </td><td> 1.2%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Slovenia </td><td> 0.9%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Rabbit Meat Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 28.2%</td></tr>
<tr><td>France </td><td> 19.5%</td></tr>
<tr><td>Italy </td><td> 14.1%</td></tr>
<tr><td>Belgium </td><td> 10.2%</td></tr>
<tr><td>Hungary </td><td> 5.8%</td></tr>
<tr><td>Netherlands </td><td> 4.7%</td></tr>
<tr><td>Poland </td><td> 3.8%</td></tr>
<tr><td>Germany </td><td> 3.3%</td></tr>
<tr><td>United Kingdom </td><td> 2.6%</td></tr>
<tr><td>Czech Republic </td><td> 1.3%</td></tr>
<tr><td>Portugal </td><td> 1.1%</td></tr>
<tr><td>Greece </td><td> 0.8%</td></tr>
<tr><td>Austria </td><td> 0.7%</td></tr>
<tr><td>Romania </td><td> 0.6%</td></tr>
<tr><td>Slovakia </td><td> 0.5%</td></tr>
<tr><td>Denmark </td><td> 0.4%</td></tr>
<tr><td>USA </td><td> 0.3%</td></tr>
<tr><td>Croatia </td><td> 0.2%</td></tr>
<tr><td>Slovenia </td><td> 0.2%</td></tr>
<tr><td>Latvia </td><td> 0.1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Rabbit Meat Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> $2.16/kg</td><td>$0.98/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $2.32/kg</td><td>$1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $2.54/kg</td><td>$1.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td> $2.58/kg</td><td>$1.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.61/kg</td><td>$1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $2.63/kg</td><td>$1.19/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $2.68/kg</td><td>$1.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $2.80/kg</td><td>$1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $2.91/kg</td><td>$1.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $2.94/kg</td><td>$1.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $3.01/kg</td><td>$1.37/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $3.02/kg</td><td>$1.37/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $3.04/kg</td><td>$1.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $3.05/kg</td><td>$1.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $3.06/kg</td><td>$1.39/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $3.06/kg</td><td>$1.39/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $3.18/kg</td><td>$1.44/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $3.20/kg</td><td>$1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $3.26/kg</td><td>$1.48/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $3.38/kg</td><td>$1.53/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Rabbit Meat price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $25.33/kg</td><td>$11.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $17.57/kg</td><td>$7.97/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $16.16/kg</td><td>$7.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $15.10/kg</td><td>$6.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $14.89/kg</td><td>$6.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $14.72/kg</td><td>$6.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $14.33/kg</td><td>$6.49/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $14.19/kg</td><td>$6.43/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $13.76/kg</td><td>$6.24/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $13.54/kg</td><td>$6.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $13.46/kg</td><td>$6.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $13.21/kg</td><td>$6.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $13.15/kg</td><td>$5.97/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $12.98/kg</td><td>$5.89/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $12.69/kg</td><td>$5.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $12.64/kg</td><td>$5.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $12.54/kg</td><td>$5.69/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ireland </td><td> $12.52/kg</td><td>$5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $12.46/kg</td><td>$5.65/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $12.25/kg</td><td>$5.56/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Rabbit Meat growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>China </td><td> 31.5%</td></tr>
<tr><td>Spain </td><td> 17.2%</td></tr>
<tr><td>Italy </td><td> 10.5%</td></tr>
<tr><td>Egypt </td><td> 5.7%</td></tr>
<tr><td>France </td><td> 5.1%</td></tr>
<tr><td>Morocco </td><td> 3.8%</td></tr>
<tr><td>Algeria </td><td> 3.3%</td></tr>
<tr><td>Russia </td><td> 3.1%</td></tr>
<tr><td>USA </td><td> 2.9%</td></tr>
<tr><td>Brazil </td><td> 2.2%</td></tr>
<tr><td>Tunisia </td><td> 2.1%</td></tr>
<tr><td>Mexico </td><td> 1.6%</td></tr>
<tr><td>Portugal </td><td> 1.4%</td></tr>
<tr><td>Greece </td><td> 1.3%</td></tr>
<tr><td>Syria </td><td> 1.3%</td></tr>
<tr><td>Argentina </td><td> 1.2%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Turkey </td><td> 1.1%</td></tr>
<tr><td>Iran </td><td> 0.9%</td></tr>
<tr><td>Ukraine </td><td> 0.9%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Rabbit Meat</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Malta </td><td> 8.0%</td></tr>
<tr><td>Cyprus </td><td> 7.8%</td></tr>
<tr><td>Italy </td><td> 4.4%</td></tr>
<tr><td>Portugal </td><td> 4.4%</td></tr>
<tr><td>Greece </td><td> 3.7%</td></tr>
<tr><td>Spain </td><td> 3.3%</td></tr>
<tr><td>France </td><td> 2.6%</td></tr>
<tr><td>Croatia </td><td> 2.2%</td></tr>
<tr><td>Slovenia </td><td> 2.0%</td></tr>
<tr><td>Belgium </td><td> 1.6%</td></tr>
<tr><td>Hungary </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.2%</td></tr>
<tr><td>Bulgaria </td><td> 1.1%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Czech Republic </td><td> 0.9%</td></tr>
<tr><td>Netherlands </td><td> 0.8%</td></tr>
<tr><td>Denmark </td><td> 0.8%</td></tr>
<tr><td>Germany </td><td> 0.7%</td></tr>
<tr><td>Slovakia </td><td> 0.7%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Rabbit Meat<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Saudi Arabia </td><td> 0.0006%</td></tr>
<tr><td>Oman </td><td> 0.0007%</td></tr>
<tr><td>Bahrain </td><td> 0.001%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.001%</td></tr>
<tr><td>Kuwait </td><td> 0.001%</td></tr>
<tr><td>Qatar </td><td> 0.001%</td></tr>
<tr><td>India </td><td> 0.001%</td></tr>
<tr><td>Pakistan </td><td> 0.002%</td></tr>
<tr><td>Indonesia </td><td> 0.002%</td></tr>
<tr><td>Egypt </td><td> 0.002%</td></tr>
<tr><td>Bangladesh </td><td> 0.003%</td></tr>
<tr><td>Nigeria </td><td> 0.003%</td></tr>
<tr><td>Turkey </td><td> 0.003%</td></tr>
<tr><td>Philippines </td><td> 0.003%</td></tr>
<tr><td>Vietnam </td><td> 0.003%</td></tr>
<tr><td>Thailand </td><td> 0.003%</td></tr>
<tr><td>Iran </td><td> 0.003%</td></tr>
<tr><td>Brazil </td><td> 0.003%</td></tr>
<tr><td>Mexico </td><td> 0.004%</td></tr>
<tr><td>Argentina </td><td> 0.004%</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Rabbit Meat Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Malta </td><td> 8.0%</td></tr>
<tr><td>Cyprus </td><td> 7.8%</td></tr>
<tr><td>Italy </td><td> 4.4%</td></tr>
<tr><td>Portugal </td><td> 4.4%</td></tr>
<tr><td>Greece </td><td> 3.7%</td></tr>
<tr><td>Spain </td><td> 3.3%</td></tr>
<tr><td>France </td><td> 2.6%</td></tr>
<tr><td>Croatia </td><td> 2.2%</td></tr>
<tr><td>Slovenia </td><td> 2.0%</td></tr>
<tr><td>Belgium </td><td> 1.6%</td></tr>
<tr><td>Hungary </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.2%</td></tr>
<tr><td>Bulgaria </td><td> 1.1%</td></tr>
<tr><td>Romania </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 0.9%</td></tr>
<tr><td>Czech Republic </td><td> 0.9%</td></tr>
<tr><td>Netherlands </td><td> 0.8%</td></tr>
<tr><td>Denmark </td><td> 0.8%</td></tr>
<tr><td>Germany </td><td> 0.7%</td></tr>
<tr><td>Slovakia </td><td> 0.7%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Rabbit Meat Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>De Heus Voeders BV </td><td> Netherlands</td></tr>
<tr><td>Sanderson Farms, Inc. </td><td> USA</td></tr>
<tr><td>Charoen Pokphand Foods Public Company Limited </td><td> Thailand</td></tr>
<tr><td>Koninklijke Coöperatie Cosun U.A. </td><td> Netherlands</td></tr>
<tr><td>Agrifirm Group B.V. </td><td> Netherlands</td></tr>
<tr><td>Cargill, Incorporated </td><td> USA</td></tr>
<tr><td>BRF S.A. </td><td> Brazil</td></tr>
<tr><td>ForFarmers N.V. </td><td> Netherlands</td></tr>
<tr><td>Tyson Foods, Inc. </td><td> USA</td></tr>
<tr><td>Agriland FS, Inc. </td><td> USA</td></tr>
<tr><td>Nutreco N.V. </td><td> Netherlands</td></tr>
<tr><td>Nonghyup Feed Inc. </td><td> South Korea</td></tr>
<tr><td>Archer Daniels Midland Company </td><td> USA</td></tr>
<tr><td>MHP SE </td><td> Ukraine</td></tr>
<tr><td>Japfa Comfeed Indonesia Tbk PT </td><td> Indonesia</td></tr>
<tr><td>Guangdong Haid Group </td><td> China</td></tr>
<tr><td>Guangxi Yangxiang </td><td> China</td></tr>
<tr><td>Guangdong Wen's Foodstuff Group </td><td> China</td></tr>
<tr><td>Guangdong Wens Foodstuff Group </td><td> China</td></tr>
<tr><td>Guangdong Xinglian Food </td><td> China</td></tr>
</table>
</div>

<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Rabbit Meat Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Tama Trading Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Monty’s Game Meat </td><td> South Africa</td></tr>
<tr><td>Anping County Baiyi Metal Wire Mesh Products </td><td> China</td></tr>
<tr><td>EL Araby Group </td><td> Egypt</td></tr>
<tr><td>Eximpulse Services Private Limited </td><td> India</td></tr>
<tr><td>Gold and Gold Traders </td><td> Sri Lanka</td></tr>
<tr><td>Isik Et Entegre Tesisi </td><td> Turkey</td></tr>
<tr><td>Joint venture company "Agro Yantar" LLC </td><td> Ukraine</td></tr>
<tr><td>Koratfazenda </td><td> Brazil</td></tr>
<tr><td>Maravilla Meat Export S.A. </td><td> Uruguay</td></tr>
<tr><td>Nutrimax Agroindustrial S.A. </td><td> Peru</td></tr>
<tr><td>Rafferty’s Irish Fine Foods Ltd </td><td> Ireland</td></tr>
<tr><td>Sinco Alimentaria S.A. </td><td> Costa Rica</td></tr>
<tr><td>Spanish Taste Exports S.L. </td><td> Spain</td></tr>
<tr><td>Sundance Farms Inc. </td><td> Canada</td></tr>
<tr><td>Tres Mares S.A.C. </td><td> Peru</td></tr>
<tr><td>Vetanco S.A. </td><td> Argentina</td></tr>
<tr><td>Xiamen Longkingda Import & Export </td><td> China</td></tr>
<tr><td>Xiamen Xingda Trade </td><td> China</td></tr>
<tr><td>Yantai Chengsen International Trade </td><td> China</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container w3-col m12">
<div class="w3-center  w3-white w3-panel"><h3>Rabbit Meat Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increased demand: Global demand for rabbit meat is increasing, driven by its perceived health benefits and its use in gourmet cuisine.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">European market: Europe is the largest rabbit meat market, with France, Spain, and Italy being the largest producers and consumers.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Regulation: The rabbit meat market is subject to strict regulations, which can affect its import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Economic factors: Economic factors such as currency fluctuations, trade agreements, and tariffs can impact the import/export of rabbit meat.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Health concerns: There are concerns about the safety of consuming rabbit meat due to the potential presence of pathogens such as salmonella and listeria.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Sustainability: Rabbit meat is considered a more sustainable protein source than beef, pork, or chicken, and some countries are exploring its potential as an alternative.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Processing: There is growing demand for processed rabbit meat products, which can create new opportunities for import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Consumer preferences: Consumer preferences for rabbit meat products can vary widely between countries, which can impact the import/export trade.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Quality and safety standards: Meeting quality and safety standards is critical for successful import/export trade in the rabbit meat market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Competition: Rabbit meat faces competition from other meats such as chicken, beef, and pork, which can impact the import/export trade.</div>
</div>

</div>

</body>
</html>

