<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("bay_leaves-min.jpg"),:size => "100x100" %>
         
           <h4>Bay Leaves</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $14.8 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4,2%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 126,000 metric tons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The risk associated with bay leaves is relatively low. Bay leaves are considered safe for consumption, but some people may have an allergic reaction to them. Additionally, as with any agricultural product, there may be concerns about the use of pesticides or other chemicals in the growing and processing of bay leaves. However, with proper agricultural practices and quality control measures, these risks can be minimized.

In terms of export opportunities, bay leaves are in high demand in the food industry for their distinctive flavor and aroma. Countries like Turkey, India, and Morocco are significant producers of bay leaves, and their export markets are expanding. There is also growing interest in the use of bay leaves in natural medicine and aromatherapy, which could create additional export opportunities.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Bay Leaves Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 22%</td></tr>
<tr><td>Germany </td><td> 15%</td></tr>
<tr><td>UK </td><td> 10%</td></tr>
<tr><td>France </td><td> 8%</td></tr>
<tr><td>Netherlands </td><td> 5%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 3%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Switzerland </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Hungary </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Bay Leaves Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 32%</td></tr>
<tr><td>India </td><td> 14%</td></tr>
<tr><td>Spain </td><td> 9%</td></tr>
<tr><td>Egypt </td><td> 6%</td></tr>
<tr><td>Greece </td><td> 5%</td></tr>
<tr><td>Morocco </td><td> 4%</td></tr>
<tr><td>Syria </td><td> 4%</td></tr>
<tr><td>Tunisia </td><td> 3%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Albania </td><td> 2%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>Bulgaria </td><td> 2%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>
<tr><td>Cyprus </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Jordan </td><td> 1%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Bay Leaves Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey</td><td>$8.00/kg </td><td>$3.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td>$8.50/kg </td><td>$3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain</td><td>$9.00/kg </td><td>$4.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco</td><td>$9.50/kg </td><td>$4.31/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece</td><td>$10.00/kg </td><td>$4.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Albania</td><td>$10.50/kg </td><td>$4.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia</td><td>$11.00/kg </td><td>$5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria</td><td>$11.50/kg </td><td>$5.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td>$12.00/kg </td><td>$5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania</td><td>$12.50/kg </td><td>$5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Syria</td><td>$13.00/kg </td><td>$5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Lebanon</td><td>$13.50/kg </td><td>$6.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Serbia</td><td>$14.00/kg </td><td>$6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bosnia and Herzegovina</td><td>$14.50/kg </td><td>$6.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Croatia</td><td>$15.00/kg </td><td>$6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Montenegro</td><td>$15.50/kg </td><td>$7.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>North Macedonia</td><td>$16.00/kg </td><td>$7.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cyprus</td><td>$16.50/kg </td><td>$7.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Slovenia</td><td>$17.00/kg </td><td>$7.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malta</td><td>$17.50/kg </td><td>$7.96/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Bay Leaves price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Switzerland</td><td>$354.96/kg </td><td> $161.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan</td><td>$294.10/kg </td><td> $133.39/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td>$276.95/kg </td><td> $125.58/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia</td><td>$240.83/kg </td><td> $109.28/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada</td><td>$234.02/kg </td><td> $106.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea</td><td>$217.60/kg </td><td> $98.76/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE</td><td>$207.38/kg </td><td> $94.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore</td><td>$206.06/kg </td><td> $93.57/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK</td><td>$194.15/kg </td><td> $88.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany</td><td>$189.58/kg </td><td> $86.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait</td><td>$183.43/kg </td><td> $83.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong</td><td>$180.82/kg </td><td> $82.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France</td><td>$178.82/kg </td><td> $81.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands</td><td>$174.82/kg </td><td> $79.33/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy</td><td>$174.70/kg </td><td> $79.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand</td><td>$173.61/kg </td><td> $78.78/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain</td><td>$172.21/kg </td><td> $78.17/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar</td><td>$171.01/kg </td><td> $77.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium</td><td>$169.82/kg </td><td> $77.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway</td><td>$166.34/kg </td><td> $75.43/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden</td><td>$163.36/kg </td><td> $74.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Bay Leaves growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 40%</td></tr>
<tr><td>India </td><td> 22%</td></tr>
<tr><td>Morocco </td><td> 7%</td></tr>
<tr><td>Spain </td><td> 6%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Iran </td><td> 3%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Algeria </td><td> 2%</td></tr>
<tr><td>Tunisia </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Guatemala </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Bay Leaves Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Turkey </td><td> May to July</td></tr>
<tr><td>India </td><td> Nov to Dec</td></tr>
<tr><td>Morocco </td><td> Sep to Oct</td></tr>
<tr><td>Spain </td><td> Sep to Nov</td></tr>
<tr><td>Egypt </td><td> Oct to Dec</td></tr>
<tr><td>Syria </td><td> April to May</td></tr>
<tr><td>Algeria </td><td> Oct to Nov</td></tr>
<tr><td>Tunisia </td><td> Sep to Oct</td></tr>
<tr><td>Pakistan </td><td> Nov to Dec</td></tr>
<tr><td>Greece </td><td> May to Jun</td></tr>
<tr><td>China </td><td> Sep to Nov</td></tr>
<tr><td>Peru </td><td> Oct to Dec</td></tr>
<tr><td>Portugal </td><td> July to Aug</td></tr>
<tr><td>Chile </td><td> Oct to Dec</td></tr>
<tr><td>Guatemala </td><td> Oct to Dec</td></tr>
<tr><td>Mexico </td><td> Oct to Dec</td></tr>
<tr><td>USA </td><td> Jun to Aug</td></tr>
<tr><td>Italy </td><td> Jun to Aug</td></tr>
<tr><td>France </td><td> Jun to July</td></tr>
<tr><td>Germany </td><td> Jun to Aug</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Bay Leaves</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> 40%</td></tr>
<tr><td>India </td><td> 22%</td></tr>
<tr><td>Morocco </td><td> 7%</td></tr>
<tr><td>Spain </td><td> 6%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Iran </td><td> 3%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Algeria </td><td> 2%</td></tr>
<tr><td>Tunisia </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Guatemala </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>

</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Bay Leaves<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Poland </td><td> 0.2%</td></tr>
<tr><td>Bulgaria </td><td> 0.2%</td></tr>
<tr><td>Albania </td><td> 0.1%</td></tr>
<tr><td>Cyprus </td><td> 0.1%</td></tr>
<tr><td>Lebanon </td><td> 0.1%</td></tr>
<tr><td>Jordan </td><td> 0.1%</td></tr>
<tr><td>Romania </td><td> 0.1%</td></tr>
<tr><td>Lithuania </td><td> 0.1%</td></tr>
<tr><td>Latvia </td><td> 0.1%</td></tr>
<tr><td>Estonia </td><td> 0.1%</td></tr>
<tr><td>Croatia </td><td> 0.1%</td></tr>
<tr><td>Slovenia </td><td> 0.1%</td></tr>
<tr><td>Moldova </td><td> 0.1%</td></tr>
<tr><td>Serbia </td><td> 0.1%</td></tr>
<tr><td>Montenegro </td><td> 0.0%</td></tr>
<tr><td>Bosnia and Herzegovina </td><td> 0.0%</td></tr>
<tr><td>North Macedonia </td><td> 0.0%</td></tr>
<tr><td>Andorra </td><td> 0.0%</td></tr>
<tr><td>San Marino </td><td> 0.0%</td></tr>
<tr><td>Liechtenstein </td><td> 0.0%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Bay Leaves Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 22%</td></tr>
<tr><td>Germany </td><td> 15%</td></tr>
<tr><td>UK </td><td> 10%</td></tr>
<tr><td>France </td><td> 8%</td></tr>
<tr><td>Netherlands </td><td> 5%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 3%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Switzerland </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Hungary </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Bay Leaves Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam Spices </td><td> USA</td></tr>
<tr><td>McCormick & Company, Inc. </td><td> USA</td></tr>
<tr><td>The Food Source International Inc. </td><td> Canada</td></tr>
<tr><td>Pudumjee Agro Industries Ltd </td><td> India</td></tr>
<tr><td>The Spice House </td><td> USA</td></tr>
<tr><td>European Spice Services </td><td> Germany</td></tr>
<tr><td>Global Harvest Foods Limited </td><td> UK</td></tr>
<tr><td>Pacific Spice Company Inc. </td><td> USA</td></tr>
<tr><td>Food Specialties Trading Co LLC </td><td>UAE</td></tr>
<tr><td>Virdhara International </td><td> India</td></tr>
<tr><td>Santa Cruz Chili & Spice Co </td><td> USA</td></tr>
<tr><td>Vkrb Agriculture Private Limited </td><td> India</td></tr>
<tr><td>Pacific Basin Partnership Inc. </td><td> USA</td></tr>
<tr><td>Gourmet Trading Company </td><td> USA</td></tr>
<tr><td>Shah Trading Company </td><td> Canada</td></tr>
<tr><td>Raps GmbH & Co. KG </td><td> Germany</td></tr>
<tr><td>Momtaz Enterprise </td><td> Bangladesh</td></tr>
<tr><td>Ramdev Food Products Pvt. Ltd. </td><td> India</td></tr>
<tr><td>Mountain Rose Herbs </td><td> USA</td></tr>
<tr><td>The French Farm </td><td> USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Bay Leaves Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Acme Agrovet And Beverages Ltd. </td><td> India</td></tr>
<tr><td>Green Valley Spices Pvt Ltd </td><td> India</td></tr>
<tr><td>Huda International Exports </td><td> India</td></tr>
<tr><td>Jmd Enterprises </td><td> India</td></tr>
<tr><td>Shah Trading Company </td><td> Canada</td></tr>
<tr><td>Pure International </td><td> India</td></tr>
<tr><td>World Trade Impex </td><td> India</td></tr>
<tr><td>Beloorbayir Biotech Limited </td><td> India</td></tr>
<tr><td>Royal Spices International </td><td> India</td></tr>
<tr><td>High Hill Agriventures Inc. </td><td> Philippines</td></tr>
<tr><td>Nature's Agro Products Lanka Co </td><td> Sri Lanka</td></tr>
<tr><td>Marudhar Impex </td><td> India</td></tr>
<tr><td>Salt Marsh Trading Group </td><td> USA</td></tr>
<tr><td>Inno Gialuron </td><td> Russia</td></tr>
<tr><td>HANBAEK CO., LTD. </td><td> South Korea</td></tr>
<tr><td>Al Mazroui Trading and General Services </td><td>UAE</td></tr>
<tr><td>Vilina Krpa </td><td> Serbia</td></tr>
<tr><td>B J Exporters </td><td> India</td></tr>
<tr><td>Aswathy Corporation </td><td> India</td></tr>
<tr><td>GLH Exports </td><td> India</td></tr>
</table>
</div>


<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Bay Leaves Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Bay leaves in the food and beverage industry, particularly in the USA, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Bay leaves as a natural flavoring agent in soups, stews, and sauces.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Bay leaves due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Bay leaves.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Bay leaves in a variety of products, including spice blends, tea, and condiments.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Bay leaves yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Bay leaves production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Bay leaves market, such as Turkey and Greece.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Bay leaves supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the potential health benefits of Bay leaves, including their anti-inflammatory and antioxidant properties.</div>
</div>

</div>

</body>
</html>

