<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cardamom-min.jpg"),:size => "100x100" %>
         
           <h4>Cardamom</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $3.8 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 540,000 metric tons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>The production of cardamom is vulnerable to various risks, including climate change, pests, and diseases, which can impact the yield and quality of the crop. In addition, political instability and economic uncertainty in producing countries can also affect the supply chain and prices of cardamom.
Despite these risks, cardamom has significant strategic value in the global market, especially in the food and beverage industry. Cardamom is used in various culinary applications, including spices, teas, and baked goods, and has a unique flavor and aroma that is highly sought after. The demand for cardamom is expected to continue growing, especially in developing countries with a growing middle class and a preference for high-quality and unique food products.
Furthermore, the export opportunities for cardamom are significant, with major importers including the USA, Saudi Arabia, and the UAE.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Cardamom Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>UAE </td><td> 14.6%</td></tr>
<tr><td>Saudi Arabia </td><td> 11.9%</td></tr>
<tr><td>USA </td><td> 10.8%</td></tr>
<tr><td>India </td><td> 7.4%</td></tr>
<tr><td>Kuwait </td><td> 6.9%</td></tr>
<tr><td>Germany </td><td> 4.7%</td></tr>
<tr><td>Japan </td><td> 3.6%</td></tr>
<tr><td>UK </td><td> 3.5%</td></tr>
<tr><td>Qatar </td><td> 3.4%</td></tr>
<tr><td>Malaysia </td><td> 3.3%</td></tr>
<tr><td>France </td><td> 2.6%</td></tr>
<tr><td>Netherlands </td><td> 2.4%</td></tr>
<tr><td>Singapore </td><td> 2.4%</td></tr>
<tr><td>Canada </td><td> 1.9%</td></tr>
<tr><td>Italy </td><td> 1.8%</td></tr>
<tr><td>Australia </td><td> 1.5%</td></tr>
<tr><td>Belgium </td><td> 1.2%</td></tr>
<tr><td>Spain </td><td> 1.2%</td></tr>
<tr><td>Bahrain </td><td> 1.2%</td></tr>
<tr><td>Sweden </td><td> 1.1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cardamom Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Guatemala </td><td> 30.1%</td></tr>
<tr><td>India </td><td> 27.6%</td></tr>
<tr><td>Sri Lanka </td><td> 14.2%</td></tr>
<tr><td>Nepal </td><td> 4.8%</td></tr>
<tr><td>Tanzania </td><td> 4.6%</td></tr>
<tr><td>Vietnam </td><td> 4.4%</td></tr>
<tr><td>El Salvador </td><td> 2.4%</td></tr>
<tr><td>Honduras </td><td> 1.9%</td></tr>
<tr><td>Laos </td><td> 1.2%</td></tr>
<tr><td>Uganda </td><td> 1.2%</td></tr>
<tr><td>Thailand </td><td> 1.1%</td></tr>
<tr><td>Costa Rica </td><td> 1.1%</td></tr>
<tr><td>Ethiopia </td><td> 1.0%</td></tr>
<tr><td>Mexico </td><td> 0.9%</td></tr>
<tr><td>Kenya </td><td> 0.8%</td></tr>
<tr><td>Peru </td><td> 0.8%</td></tr>
<tr><td>Indonesia </td><td> 0.7%</td></tr>
<tr><td>Brazil </td><td> 0.6%</td></tr>
<tr><td>Ecuador </td><td> 0.5%</td></tr>
<tr><td>Nicaragua </td><td> 0.5%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Cardamom Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Guatemala </td><td> $5.50/kg </td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $6.00/kg </td><td> $2.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $7.00/kg </td><td> $3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td> $7.50/kg </td><td> $3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $8.00/kg </td><td> $3.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $8.50/kg </td><td> $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $9.00/kg </td><td> $4.08/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $9.50/kg </td><td> $4.31/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $10.00/kg </td><td> $4.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>El Salvador </td><td> $10.50/kg </td><td> $4.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $11.00/kg </td><td> $5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Costa Rica </td><td> $11.50/kg </td><td> $5.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $12.00/kg </td><td> $5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras </td><td> $12.50/kg </td><td> $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $13.00/kg </td><td> $5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Laos </td><td> $13.50/kg </td><td> $6.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $14.00/kg </td><td> $6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nicaragua </td><td> $14.50/kg </td><td> $6.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $15.00/kg </td><td> $6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Papua New Guinea </td><td> $15.50/kg </td><td> $7.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Cardamom price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td> $85.00/kg </td><td> $38.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $70.00/kg </td><td> $31.75/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $68.00/kg </td><td> $30.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $67.00/kg </td><td> $30.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $65.00/kg </td><td> $29.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $60.00/kg </td><td> $27.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $55.00/kg </td><td> $25.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $50.00/kg </td><td> $22.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $45.00/kg </td><td> $20.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $40.00/kg </td><td> $18.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $35.00/kg </td><td> $15.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $30.00/kg </td><td> $13.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $25.00/kg </td><td> $11.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $20.00/kg </td><td> $9.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $18.00/kg </td><td> $8.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $17.00/kg </td><td> $7.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $16.00/kg </td><td> $7.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $15.00/kg </td><td> $6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $14.00/kg </td><td> $6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Cardamom growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Guatemala </td><td> 45%</td></tr>
<tr><td>India </td><td> 27%</td></tr>
<tr><td>Sri Lanka </td><td> 16%</td></tr>
<tr><td>Tanzania </td><td> 4%</td></tr>
<tr><td>Papua New Guinea </td><td> 2%</td></tr>
<tr><td>Honduras </td><td> 2%</td></tr>
<tr><td>El Salvador </td><td> 1%</td></tr>
<tr><td>Laos </td><td> 0.8%</td></tr>
<tr><td>Nepal </td><td> 0.6%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Costa Rica </td><td> 0.5%</td></tr>
<tr><td>Mexico </td><td> 0.5%</td></tr>
<tr><td>Uganda </td><td> 0.4%</td></tr>
<tr><td>Nicaragua </td><td> 0.3%</td></tr>
<tr><td>Vietnam </td><td> 0.3%</td></tr>
<tr><td>Peru </td><td> 0.3%</td></tr>
<tr><td>Indonesia </td><td> 0.3%</td></tr>
<tr><td>Brazil </td><td> 0.2%</td></tr>
<tr><td>Ecuador </td><td> 0.1%</td></tr>
<tr><td>Cameroon </td><td> 0.1%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Cardamom Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Guatemala </td><td> November to March</td></tr>
<tr><td>India </td><td> November to February</td></tr>
<tr><td>Tanzania </td><td> September to December</td></tr>
<tr><td>Nepal </td><td> September to December</td></tr>
<tr><td>Uganda </td><td> September to November</td></tr>
<tr><td>Vietnam </td><td> January to April and August to November</td></tr>
<tr><td>Sri Lanka </td><td> November to March</td></tr>
<tr><td>Peru </td><td> May to September</td></tr>
<tr><td>Ethiopia </td><td> July to September</td></tr>
<tr><td>El Salvador </td><td> November to February</td></tr>
<tr><td>Thailand </td><td> May to July</td></tr>
<tr><td>Costa Rica </td><td> December to March</td></tr>
<tr><td>Indonesia </td><td> September to February</td></tr>
<tr><td>Honduras </td><td> October to January</td></tr>
<tr><td>Mexico </td><td> October to January</td></tr>
<tr><td>Laos </td><td> October to December</td></tr>
<tr><td>Brazil </td><td> December to February</td></tr>
<tr><td>Nicaragua </td><td> October to December</td></tr>
<tr><td>Ecuador </td><td> August to December</td></tr>
<tr><td>Papua New Guinea </td><td> August to December</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Cardamom</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Guatemala </td><td> 43%</td></tr>
<tr><td>India </td><td> 22%</td></tr>
<tr><td>Sri Lanka </td><td> 13%</td></tr>
<tr><td>Tanzania </td><td> 4%</td></tr>
<tr><td>El Salvador </td><td> 3%</td></tr>
<tr><td>Honduras </td><td> 3%</td></tr>
<tr><td>Laos </td><td> 2%</td></tr>
<tr><td>Nepal </td><td> 2%</td></tr>
<tr><td>Thailand </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Costa Rica </td><td> 1%</td></tr>
<tr><td>Papua New Guinea </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
<tr><td>Nicaragua </td><td> 0.5%</td></tr>
<tr><td>Ecuador </td><td> 0.3%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Cardamom<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> <0.1%</td></tr>
<tr><td>Belgium </td><td> <0.1%</td></tr>
<tr><td>Canada </td><td> <0.1%</td></tr>
<tr><td>China </td><td> <0.1%</td></tr>
<tr><td>Denmark </td><td> <0.1%</td></tr>
<tr><td>Finland </td><td> <0.1%</td></tr>
<tr><td>France </td><td> <0.1%</td></tr>
<tr><td>Germany </td><td> <0.1%</td></tr>
<tr><td>Greece </td><td> <0.1%</td></tr>
<tr><td>Ireland </td><td> <0.1%</td></tr>
<tr><td>Italy </td><td> <0.1%</td></tr>
<tr><td>Japan </td><td> <0.1%</td></tr>
<tr><td>Netherlands </td><td> <0.1%</td></tr>
<tr><td>New Zealand </td><td> <0.1%</td></tr>
<tr><td>Norway </td><td> <0.1%</td></tr>
<tr><td>Russia </td><td> <0.1%</td></tr>
<tr><td>South Korea </td><td> <0.1%</td></tr>
<tr><td>Spain </td><td> <0.1%</td></tr>
<tr><td>Sweden </td><td> <0.1%</td></tr>
<tr><td>Switzerland </td><td> <0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cardamom Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 70%</td></tr>
<tr><td>Saudi Arabia </td><td> 9%</td></tr>
<tr><td>UAE </td><td> 6%</td></tr>
<tr><td>Kuwait </td><td> 3%</td></tr>
<tr><td>Qatar </td><td> 3%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Oman </td><td> 1%</td></tr>
<tr><td>Bahrain </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> <1%</td></tr>
<tr><td>Singapore </td><td> <1%</td></tr>
<tr><td>Canada </td><td> <1%</td></tr>
<tr><td>Australia </td><td> <1%</td></tr>
<tr><td>Sweden </td><td> <1%</td></tr>
<tr><td>Belgium </td><td> <1%</td></tr>
<tr><td>Denmark </td><td> <1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Cardamom Import Companies</div></th></tr>
      <tr class="w3-green">
        
        <th>Country</th>
        <th>Company Name</th>
      </tr>
    </thead>
<tr><td>USA </td><td> McCormick & Company, Inc.</td></tr>
<tr><td>Germany </td><td> Fuchs Gewürze GmbH</td></tr>
<tr><td>Netherlands </td><td> Koninklijke Euroma BV</td></tr>
<tr><td>UK </td><td> Schwartz Flavour Group</td></tr>
<tr><td>Japan </td><td> S&B Foods Inc.</td></tr>
<tr><td>France </td><td> Euralis Gastronomie</td></tr>
<tr><td>Canada </td><td> Club House for Chefs</td></tr>
<tr><td>Australia </td><td> Gourmet Garden Pty Ltd</td></tr>
<tr><td>Spain </td><td> Carmencita, S.L.</td></tr>
<tr><td>Italy </td><td> Drogheria & Alimentari S.p.A.</td></tr>
<tr><td>South Korea </td><td> CJ Cheiljedang Corp.</td></tr>
<tr><td>Saudi Arabia </td><td> National Agricultural Development Co.</td></tr>
<tr><td>UAE </td><td> Al Rashidiya Flour Mills</td></tr>
<tr><td>Kuwait </td><td> The Sultan Center</td></tr>
<tr><td>Qatar </td><td> Family Food Centre</td></tr>
<tr><td>Bahrain </td><td> Jassim Al Wazzan Sons Gen. Trad. & Cont. Co. W.L.L.</td></tr>
<tr><td>Oman </td><td> Al Mudhish Trading Co. L.L.C.</td></tr>
<tr><td>Singapore </td><td> CWT Pte. Limited</td></tr>
<tr><td>Malaysia </td><td> Kumpulan Fima Berhad</td></tr>
<tr><td>Taiwan </td><td> Asia Sunrise Enterprise Co., Ltd.</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Cardamom Export Companies</div></th></tr>

      <tr class="w3-green">
         <th>Country</th>
        <th>Company Name</th>
        
      </tr>
    </thead>
<tr><td>India </td><td> MAS Enterprises</td></tr>
<tr><td>Guatemala </td><td> Exportadora Los Alpes S.A.</td></tr>
<tr><td>Sri Lanka </td><td> Srinath Spices (Private) Limited</td></tr>
<tr><td>El Salvador </td><td> AGRICORP S.A.</td></tr>
<tr><td>Honduras </td><td> Euroamericas Corporation S.A. de C.V.</td></tr>
<tr><td>Laos </td><td> Laotian Coffee Co., Ltd.</td></tr>
<tr><td>Nepal </td><td> Siddhartha Spices and Herbs Pvt. Ltd.</td></tr>
<tr><td>Tanzania </td><td> Kiboko Pre Export Co. Ltd.</td></tr>
<tr><td>Peru </td><td> Peruvian Nature SAC</td></tr>
<tr><td>Uganda </td><td> Horeb Investments Limited</td></tr>
<tr><td>Thailand </td><td> Thai Nippon Rubber Industry Co., Ltd.</td></tr>
<tr><td>Mexico </td><td> Grupo D'Gomar S.A. de C.V.</td></tr>
<tr><td>Costa Rica </td><td> Café Britt S.A.</td></tr>
<tr><td>Indonesia </td><td> PT Gading Mas Sejahtera</td></tr>
<tr><td>Ethiopia </td><td> Horizon Addis Tyre S.C.</td></tr>
<tr><td>Vietnam </td><td> VINH HIEN CO., LTD</td></tr>
<tr><td>Papua New Guinea </td><td> New Guinea Spice Company</td></tr>
<tr><td>Cameroon </td><td> MAKOUDA OIL & SPICES</td></tr>
<tr><td>Brazil </td><td> KSM Comercio de Especiarias Ltda.</td></tr>
<tr><td>Kenya </td><td> Savannah Spices Ltd.</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cardamom Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Cardamom in the food and beverage industry, particularly in the USA, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Cardamom as a natural ingredient in health supplements and functional foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Cardamom due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Cardamom.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Cardamom in a variety of products, including spice blends, teas, and baked goods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Cardamom yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Cardamom production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Cardamom market, such as Guatemala and Tanzania.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Cardamom supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the potential health benefits of Cardamom, including its ability to reduce inflammation and improve digestion.</div>
</div>

</div>

</body>
</html>

