<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("cinnamon-min.jpg"),:size => "100x100" %>
         
           <h4>Cinnamon</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.4 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5.5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 230,000 metric tons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Cinnamon is considered a low-risk commodity, with no significant health or safety risks associated with its consumption. However, some studies have suggested that excessive consumption of cinnamon could lead to liver damage or other health issues. In terms of export opportunities, cinnamon is a popular spice used in culinary applications worldwide, and its demand is expected to grow further in the coming years. Countries such as Sri Lanka, Indonesia, and Vietnam are major producers and exporters of cinnamon.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Cinnamon Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 20.6%</td></tr>
<tr><td>Mexico </td><td> 9.9%</td></tr>
<tr><td>Germany </td><td> 6.3%</td></tr>
<tr><td>UK </td><td> 5.6%</td></tr>
<tr><td>France </td><td> 5.1%</td></tr>
<tr><td>Netherlands </td><td> 4.2%</td></tr>
<tr><td>Canada </td><td> 3.9%</td></tr>
<tr><td>Spain </td><td> 3.8%</td></tr>
<tr><td>Italy </td><td> 3.5%</td></tr>
<tr><td>Belgium </td><td> 2.8%</td></tr>
<tr><td>Japan </td><td> 2.6%</td></tr>
<tr><td>Australia </td><td> 2.1%</td></tr>
<tr><td>South Korea </td><td> 1.7%</td></tr>
<tr><td>Sweden </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.4%</td></tr>
<tr><td>Denmark </td><td> 1.3%</td></tr>
<tr><td>Russia </td><td> 1.2%</td></tr>
<tr><td>Switzerland </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 1.0%</td></tr>
<tr><td>Norway </td><td> 0.9%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cinnamon Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Sri Lanka </td><td> 35.2%</td></tr>
<tr><td>Indonesia </td><td> 16.4%</td></tr>
<tr><td>China </td><td> 12.4%</td></tr>
<tr><td>Vietnam </td><td> 9.7%</td></tr>
<tr><td>India </td><td> 7.3%</td></tr>
<tr><td>Madagascar </td><td> 3.2%</td></tr>
<tr><td>Seychelles </td><td> 2.9%</td></tr>
<tr><td>Malaysia </td><td> 2.6%</td></tr>
<tr><td>Thailand </td><td> 1.7%</td></tr>
<tr><td>Guatemala </td><td> 1.3%</td></tr>
<tr><td>Uganda </td><td> 1.1%</td></tr>
<tr><td>Honduras </td><td> 1.0%</td></tr>
<tr><td>Brazil </td><td> 0.9%</td></tr>
<tr><td>Tanzania </td><td> 0.8%</td></tr>
<tr><td>Peru </td><td> 0.6%</td></tr>
<tr><td>Cameroon </td><td> 0.6%</td></tr>
<tr><td>Ethiopia </td><td> 0.5%</td></tr>
<tr><td>Grenada </td><td> 0.5%</td></tr>
<tr><td>Jamaica </td><td> 0.4%</td></tr>
<tr><td>Dominica </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Cinnamon Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Sri Lanka</td><td> $4.50/kg </td><td> $2.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $5.00/kg </td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam</td><td> $5.50/kg </td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $6.00/kg </td><td> $2.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $6.50/kg </td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar</td><td> $7.00/kg </td><td> $3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $7.50/kg </td><td> $3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia</td><td> $8.00/kg </td><td> $3.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $8.50/kg </td><td> $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $9.00/kg </td><td> $4.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala</td><td> $9.50/kg </td><td> $4.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $10.00/kg </td><td> $4.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $11.00/kg </td><td> $5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras</td><td> $12.00/kg </td><td> $5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines</td><td> $12.50/kg </td><td> $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $13.00/kg </td><td> $5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran</td><td> $13.50/kg </td><td> $6.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $14.00/kg </td><td> $6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA</td><td> $15.00/kg </td><td> $6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $16.00/kg </td><td> $7.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Cinnamon price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $48.45/KG </td><td> $22.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $39.83/KG </td><td> $18.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $37.75/KG </td><td> $17.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $35.90/KG </td><td> $16.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $32.70/KG </td><td> $14.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $32.60/KG </td><td> $14.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $32.08/KG </td><td> $14.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $31.40/KG </td><td> $14.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $31.00/KG </td><td> $14.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $30.60/KG </td><td> $13.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $30.00/KG </td><td> $13.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $29.50/KG </td><td> $13.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $29.00/KG </td><td> $13.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $28.40/KG </td><td> $12.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $28.30/KG </td><td> $12.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $28.00/KG </td><td> $12.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $27.60/KG </td><td> $12.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $27.00/KG </td><td> $12.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $26.40/KG </td><td> $12.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $26.00/KG </td><td> $11.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $25.50/KG </td><td> $11.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Cinnamon growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Indonesia </td><td> 37.2%</td></tr>
<tr><td>China </td><td> 24.2%</td></tr>
<tr><td>Sri Lanka </td><td> 8.6%</td></tr>
<tr><td>Vietnam </td><td> 7.9%</td></tr>
<tr><td>Madagascar </td><td> 4.4%</td></tr>
<tr><td>India </td><td> 4.1%</td></tr>
<tr><td>Cambodia </td><td> 2.2%</td></tr>
<tr><td>Peru </td><td> 2.0%</td></tr>
<tr><td>Guatemala </td><td> 1.3%</td></tr>
<tr><td>Philippines </td><td> 1.2%</td></tr>
<tr><td>Tanzania </td><td> 1.0%</td></tr>
<tr><td>Egypt </td><td> 0.9%</td></tr>
<tr><td>Brazil </td><td> 0.7%</td></tr>
<tr><td>Ethiopia </td><td> 0.7%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Bangladesh </td><td> 0.6%</td></tr>
<tr><td>Ecuador </td><td> 0.5%</td></tr>
<tr><td>Nigeria </td><td> 0.4%</td></tr>
<tr><td>Dominican Republic </td><td> 0.4%</td></tr>
<tr><td>Haiti </td><td> 0.3%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Cinnamon Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Sri Lanka </td><td> Jun to Oct</td></tr>
<tr><td>Indonesia </td><td> Jun to Oct</td></tr>
<tr><td>China </td><td> Aug to Nov</td></tr>
<tr><td>Vietnam </td><td> May to Oct</td></tr>
<tr><td>Madagascar </td><td> Dec to March</td></tr>
<tr><td>India </td><td> Oct to January</td></tr>
<tr><td>Brazil </td><td> Nov to February</td></tr>
<tr><td>Malaysia </td><td> May to Sep</td></tr>
<tr><td>Peru </td><td> Jun to Sep</td></tr>
<tr><td>Tanzania </td><td> Jun to Sep</td></tr>
<tr><td>Thailand </td><td> Apr to Jun-Sep to Dec</td></tr>
<tr><td>Egypt </td><td> Oct to Nov-March to Apr</td></tr>
<tr><td>Guatemala </td><td> January to March</td></tr>
<tr><td>Philippines </td><td> Jun to Aug</td></tr>
<tr><td>Colombia </td><td> Dec to March</td></tr>
<tr><td>Ethiopia </td><td> Jun to Sep</td></tr>
<tr><td>Honduras </td><td> February to Apr</td></tr>
<tr><td>Mexico </td><td> Oct to January</td></tr>
<tr><td>El Salvador </td><td> February to Apr</td></tr>
<tr><td>Papua New Guinea </td><td> Sep to Dec</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Cinnamon</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Indonesia </td><td> 41%</td></tr>
<tr><td>China </td><td> 18%</td></tr>
<tr><td>Vietnam </td><td> 16%</td></tr>
<tr><td>Sri Lanka </td><td> 8%</td></tr>
<tr><td>India </td><td> 7%</td></tr>
<tr><td>Madagascar </td><td> 4%</td></tr>
<tr><td>Seychelles </td><td> 1.5%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 0.9%</td></tr>
<tr><td>Egypt </td><td> 0.7%</td></tr>
<tr><td>Malaysia </td><td> 0.7%</td></tr>
<tr><td>Peru </td><td> 0.7%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Guatemala </td><td> 0.5%</td></tr>
<tr><td>Uganda </td><td> 0.5%</td></tr>
<tr><td>Honduras </td><td> 0.5%</td></tr>
<tr><td>Ecuador </td><td> 0.4%</td></tr>
<tr><td>Bangladesh </td><td> 0.4%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Grenada </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Cinnamon<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Denmark </td><td> 0.0%</td></tr>
<tr><td>Norway </td><td> 0.0%</td></tr>
<tr><td>Slovenia </td><td> 0.0%</td></tr>
<tr><td>Bulgaria </td><td> 0.0%</td></tr>
<tr><td>Estonia </td><td> 0.0%</td></tr>
<tr><td>Iceland </td><td> 0.0%</td></tr>
<tr><td>Latvia </td><td> 0.0%</td></tr>
<tr><td>Lithuania </td><td> 0.0%</td></tr>
<tr><td>Malta </td><td> 0.0%</td></tr>
<tr><td>Slovakia </td><td> 0.0%</td></tr>
<tr><td>Luxembourg </td><td> 0.1%</td></tr>
<tr><td>Switzerland </td><td> 0.1%</td></tr>
<tr><td>Czechia </td><td> 0.1%</td></tr>
<tr><td>Croatia </td><td> 0.1%</td></tr>
<tr><td>Portugal </td><td> 0.1%</td></tr>
<tr><td>Hungary </td><td> 0.1%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Netherlands </td><td> 0.2%</td></tr>
<tr><td>Austria </td><td> 0.2%</td></tr>
<tr><td>Ireland </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Cinnamon Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 29%</td></tr>
<tr><td>Indonesia </td><td> 13%</td></tr>
<tr><td>China </td><td> 9%</td></tr>
<tr><td>India </td><td> 8%</td></tr>
<tr><td>Sri Lanka </td><td> 7%</td></tr>
<tr><td>Vietnam </td><td> 5%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Malaysia </td><td> 3%</td></tr>
<tr><td>Germany </td><td> 3%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2%</td></tr>
<tr><td>UK </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>UAE </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Cinnamon Import Companies</div></th></tr>
      <tr class="w3-green">
        <th> Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Limited </td><td> Singapore</td></tr>
<tr><td>Nedspice Group BV </td><td> Netherlands</td></tr>
<tr><td>McCormick & , Inc. </td><td> USA</td></tr>
<tr><td>Kerry Group </td><td> Ireland</td></tr>
<tr><td>Kalsec Inc. </td><td> USA</td></tr>
<tr><td>Pacific Spice , Inc. </td><td> USA</td></tr>
<tr><td>Batory Foods </td><td> USA</td></tr>
<tr><td>Bio Foods Pvt Ltd. </td><td> Sri Lanka</td></tr>
<tr><td>Haldin Pacific Semesta, PT </td><td> Indonesia</td></tr>
<tr><td>Van der Does Spice Brokers BV </td><td> Netherlands</td></tr>
<tr><td>Asafoetida House </td><td> India</td></tr>
<tr><td>Seair Exim Solutions </td><td> India</td></tr>
<tr><td>The Good Scents  </td><td> USA</td></tr>
<tr><td>Spice Jungle, LLC </td><td> USA</td></tr>
<tr><td>Yogi Botanicals </td><td> USA</td></tr>
<tr><td>Himalayan Bio Trade Pvt. Ltd. </td><td> Nepal</td></tr>
<tr><td>Nusantara Spices </td><td> Indonesia</td></tr>
<tr><td>Amira Nature Foods Ltd. </td><td> UAE</td></tr>
<tr><td>Naturex SA </td><td> France</td></tr>
<tr><td>William E. Tunnicliffe & Sons Ltd. </td><td> UK</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Cinnamon Export Companies</div></th></tr>

      <tr class="w3-green">
        <th> Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Ceylon Spice  </td><td>Sri Lanka</td></tr>
<tr><td>Royal Spices International </td><td>India</td></tr>
<tr><td>PT. Topaz Global Mandiri </td><td>Indonesia</td></tr>
<tr><td>Organic Spices Inc. </td><td>USA</td></tr>
<tr><td>Universal Corporation</td><td>Vietnam</td></tr>
<tr><td>Albert Kohler GmbH </td><td>Germany</td></tr>
<tr><td>Dru Era Pvt Ltd </td><td>Sri Lanka</td></tr>
<tr><td>Kandula Tea  </td><td>Sri Lanka</td></tr>
<tr><td>Kanchanjangha Tea Estate</td><td>Nepal</td></tr>
<tr><td>Bio Foods Pvt Ltd </td><td>Sri Lanka</td></tr>
<tr><td>Lankem Ceylon PLC </td><td>Sri Lanka</td></tr>
<tr><td>Euro Asia Corporation </td><td>India</td></tr>
<tr><td>Sethness Greenleaf </td><td>USA</td></tr>
<tr><td>AMR Handicrafts </td><td>India</td></tr>
<tr><td>Global Spices GmbH </td><td>Germany</td></tr>
<tr><td>Nantong Changhai Food Ltd </td><td>China</td></tr>
<tr><td>The Spice Hunter, Inc. </td><td>USA</td></tr>
<tr><td>Saaraketha Holdings  </td><td>Sri Lanka</td></tr>
<tr><td>David Mason Designs</td><td>UK</td></tr>
<tr><td>Spicely Organics </td><td>USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Cinnamon Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Cinnamon in the food and beverage industry, particularly in the USA, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Cinnamon as a natural ingredient in health supplements and functional foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Cinnamon due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Cinnamon.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Cinnamon in a variety of products, including baked goods, confectionery, and beverages.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved drying and processing methods, to improve Cinnamon quality and consistency.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Cinnamon production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Cinnamon market, such as Vietnam and Indonesia.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Cinnamon supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in Cinnamon essential oil and its potential therapeutic benefits, such as improving cognitive function and reducing inflammation.</div>
</div>

</div>

</body>
</html>

