<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("coriander-min.jpg"),:size => "100x100" %>
         
           <h4>Coriander</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.15 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4.6%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 1.1 million metric tons</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Coriander is considered a low-risk crop with little to no risk associated with its cultivation, processing, and consumption. However, there may be some challenges in terms of maintaining the quality of the product during transportation and storage.

From a strategic perspective, coriander has high potential for export opportunities due to its versatility in culinary applications and its growing popularity in various cuisines worldwide. India is currently the largest producer and exporter of coriander, followed by Morocco, Russia, and Canada. There are also opportunities for coriander cultivation in regions with similar agro-climatic conditions, such as the Middle East, Southeast Asia, and Latin America.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Coriander Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 22%</td></tr>
<tr><td>Germany </td><td> 7%</td></tr>
<tr><td>Vietnam </td><td> 6%</td></tr>
<tr><td>United Kingdom </td><td> 5%</td></tr>
<tr><td>France </td><td> 5%</td></tr>
<tr><td>Netherlands </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Italy </td><td> 4%</td></tr>
<tr><td>Poland </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Sweden </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Coriander Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 44%</td></tr>
<tr><td>Russia </td><td> 7%</td></tr>
<tr><td>Ukraine </td><td> 7%</td></tr>
<tr><td>Morocco </td><td> 5%</td></tr>
<tr><td>Canada </td><td> 5%</td></tr>
<tr><td>Bulgaria </td><td> 4%</td></tr>
<tr><td>Netherlands </td><td> 3%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Pakistan </td><td> 2%</td></tr>
<tr><td>Romania </td><td> 2%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>United Arab Emirates </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Coriander Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.50/kg </td><td> $0.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $1.40/kg </td><td> $0.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Russia </td><td> $1.50/kg </td><td> $0.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ukraine </td><td> $1.55/kg </td><td> $0.70/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uzbekistan </td><td> $1.60/kg </td><td> $0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $1.65/kg </td><td> $0.75/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $1.70/kg </td><td> $0.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td> $1.80/kg </td><td> $0.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Colombia </td><td> $1.90/kg </td><td> $0.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $1.95/kg </td><td> $0.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $2.00/kg </td><td> $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $2.05/kg </td><td> $0.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bolivia </td><td> $2.10/kg </td><td> $0.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $2.15/kg </td><td> $0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td> $2.20/kg </td><td> $1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $2.25/kg </td><td> $1.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $2.30/kg </td><td> $1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $2.35/kg </td><td> $1.07/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $2.40/kg </td><td> $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $2.45/kg </td><td> $1.11/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Coriander price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>United States </td><td> $5.70/kg </td><td> $2.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $5.50/kg </td><td> $2.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $5.10/kg </td><td> $2.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $4.90/kg </td><td> $2.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $4.80/kg </td><td> $2.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $4.70/kg </td><td> $2.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $4.60/kg </td><td> $2.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $4.50/kg </td><td> $2.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $4.40/kg </td><td> $2.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $4.30/kg </td><td> $1.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $4.20/kg </td><td> $1.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $4.10/kg </td><td> $1.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $4.00/kg </td><td> $1.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $3.90/kg </td><td> $1.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $3.80/kg </td><td> $1.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $3.70/kg </td><td> $1.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $3.60/kg </td><td> $1.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $3.50/kg </td><td> $1.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $3.40/kg </td><td> $1.48/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Coriander growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 80%</td></tr>
<tr><td>Morocco </td><td> 7%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>Ukraine </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Algeria </td><td> 0.5%</td></tr>
<tr><td>Syria </td><td> 0.5%</td></tr>
<tr><td>United States </td><td> 0.5%</td></tr>
<tr><td>Argentina </td><td> 0.3%</td></tr>
<tr><td>Ethiopia </td><td> 0.3%</td></tr>
<tr><td>Uzbekistan </td><td> 0.3%</td></tr>
<tr><td>Vietnam </td><td> 0.2%</td></tr>
<tr><td>Colombia </td><td> 0.2%</td></tr>
<tr><td>Tanzania </td><td> 0.2%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Coriander Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>India </td><td> October to February</td></tr>
<tr><td>Mexico </td><td> October to March</td></tr>
<tr><td>Russia </td><td> May to June</td></tr>
<tr><td>Ukraine </td><td> June to July</td></tr>
<tr><td>Uzbekistan </td><td> May to July</td></tr>
<tr><td>Egypt </td><td> October to March</td></tr>
<tr><td>Argentina </td><td> August to December</td></tr>
<tr><td>Turkey </td><td> June to July</td></tr>
<tr><td>Colombia </td><td> April to June</td></tr>
<tr><td>Tanzania </td><td> February to June</td></tr>
<tr><td>Ethiopia </td><td> January to April</td></tr>
<tr><td>Pakistan </td><td> November to December</td></tr>
<tr><td>Bolivia </td><td> October to December</td></tr>
<tr><td>Peru </td><td> May to September</td></tr>
<tr><td>Bangladesh </td><td> October to December</td></tr>
<tr><td>Indonesia </td><td> November to December</td></tr>
<tr><td>China </td><td> September to October</td></tr>
<tr><td>Sri Lanka </td><td> January to March</td></tr>
<tr><td>Thailand </td><td> November to February</td></tr>
<tr><td>Vietnam </td><td> October to December</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Coriander</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>India </td><td> 40%</td></tr>
<tr><td>Morocco </td><td> 13%</td></tr>
<tr><td>Russia </td><td> 5%</td></tr>
<tr><td>Ukraine </td><td> 4%</td></tr>
<tr><td>Iran </td><td> 3%</td></tr>
<tr><td>Mexico </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 2%</td></tr>
<tr><td>Afghanistan </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>China </td><td> 2%</td></tr>
<tr><td>Algeria </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Uzbekistan </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Colombia </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Coriander<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Finland </td><td> 0.02%</td></tr>
<tr><td>Norway </td><td> 0.03%</td></tr>
<tr><td>Denmark </td><td> 0.03%</td></tr>
<tr><td>Sweden </td><td> 0.03%</td></tr>
<tr><td>Iceland </td><td> 0.04%</td></tr>
<tr><td>Lithuania </td><td> 0.05%</td></tr>
<tr><td>Latvia </td><td> 0.06%</td></tr>
<tr><td>Estonia </td><td> 0.06%</td></tr>
<tr><td>Ireland </td><td> 0.07%</td></tr>
<tr><td>Belgium </td><td> 0.07%</td></tr>
<tr><td>Croatia </td><td> 0.08%</td></tr>
<tr><td>Portugal </td><td> 0.09%</td></tr>
<tr><td>Switzerland </td><td> 0.09%</td></tr>
<tr><td>United Kingdom </td><td> 0.10%</td></tr>
<tr><td>Austria </td><td> 0.11%</td></tr>
<tr><td>Netherlands </td><td> 0.12%</td></tr>
<tr><td>Czech Republic </td><td> 0.13%</td></tr>
<tr><td>Slovakia </td><td> 0.14%</td></tr>
<tr><td>Poland </td><td> 0.15%</td></tr>
<tr><td>Hungary </td><td> 0.15%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Coriander Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 21%</td></tr>
<tr><td>United States </td><td> 19%</td></tr>
<tr><td>Europe </td><td> 13%</td></tr>
<tr><td>Asia Pacific </td><td> 11%</td></tr>
<tr><td>Middle East & Africa </td><td> 9%</td></tr>
<tr><td>China </td><td> 7%</td></tr>
<tr><td>Japan </td><td> 4%</td></tr>
<tr><td>Latin America </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 4%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Russia </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Coriander Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>McCormick & Company </td><td> United States</td></tr>
<tr><td>Everest Spices </td><td> India</td></tr>
<tr><td>Adams Foods </td><td> United Kingdom</td></tr>
<tr><td>Wurth Spices </td><td> Germany</td></tr>
<tr><td>Intermountain Spice & Trading Company </td><td> United States</td></tr>
<tr><td>Kamal Spice Company </td><td> India</td></tr>
<tr><td>Vandevi </td><td> India</td></tr>
<tr><td>Regal Spice </td><td> United States</td></tr>
<tr><td>Goya Foods </td><td> United States</td></tr>
<tr><td>Ajinomoto </td><td> Japan</td></tr>
<tr><td>Pacific Spice Company </td><td> United States</td></tr>
<tr><td>Rumi Spice </td><td> United States</td></tr>
<tr><td>Penzeys Spices </td><td> United States</td></tr>
<tr><td>Unilever </td><td> Netherlands</td></tr>
<tr><td>Kerry Group </td><td> Ireland</td></tr>
<tr><td>P&G Food Industries </td><td> Israel</td></tr>
<tr><td>Fuchs North America </td><td> United States</td></tr>
<tr><td>Sadaf Foods </td><td> United States</td></tr>
<tr><td>The Spice House </td><td> United States</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Coriander Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International </td><td> Singapore</td></tr>
<tr><td>McCormick & Company </td><td> United States</td></tr>
<tr><td>Everest Spices </td><td> India</td></tr>
<tr><td>Synthite Industries </td><td> India</td></tr>
<tr><td>Givaudan </td><td> Switzerland</td></tr>
<tr><td>Firmenich </td><td> Switzerland</td></tr>
<tr><td>Mane </td><td> France</td></tr>
<tr><td>Takasago International Corporation </td><td> Japan</td></tr>
<tr><td>Robertet SA </td><td> France</td></tr>
<tr><td>Symrise AG </td><td> Germany</td></tr>
<tr><td>International Flavors & Fragrances </td><td> United States</td></tr>
<tr><td>Sensient Technologies </td><td> United States</td></tr>
<tr><td>Treatt PLC </td><td> United Kingdom</td></tr>
<tr><td>Kerry Group </td><td> Ireland</td></tr>
<tr><td>Archer Daniels Midland Company </td><td> United States</td></tr>
<tr><td>Ajinomoto </td><td> Japan</td></tr>
<tr><td>Fuchs North America </td><td> United States</td></tr>
<tr><td>Naturex </td><td> France</td></tr>
<tr><td>Doehler Group </td><td> Germany</td></tr>
<tr><td>Frutarom Industries </td><td> Israel</td></tr>
</table>
</div>


<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Coriander Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Coriander in the food and beverage industry, particularly in the United States, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Coriander as a natural ingredient in health supplements and functional foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Coriander due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Coriander.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Coriander in a variety of products, including spice blends, marinades, and condiments.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Coriander yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Coriander production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Coriander market, such as India and Morocco.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Coriander supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the potential health benefits of Coriander, including its antioxidant and antimicrobial properti</div>
</div>

</div>

</body>
</html>

