<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("fenugreek-min.jpg"),:size => "100x100" %>
         
           <h4>Fenugreek</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $2.6 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 375,000 metric tons per year.</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Fenugreek is a high-value crop with a strong demand in the food and pharmaceutical industries due to its nutritional and medicinal properties. However, there are several risks associated with fenugreek production, including crop failures, pests and diseases, and adverse weather conditions. The strategic value of fenugreek lies in its potential for export opportunities to countries with growing demand for natural and organic products. For example, the USA, Germany, and the UK are major importers of fenugreek, with a growing demand for organic fenugreek. In addition, there is increasing demand for fenugreek-based products in the Middle East and Asia, particularly in the food and healthcare industries. With appropriate marketing strategies and quality control measures, there is significant potential for fenugreek exporters to capture a larger share of the global market and generate substantial revenues.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Fenugreek Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 45%</td></tr>
<tr><td>Pakistan </td><td> 12%</td></tr>
<tr><td>USA </td><td> 7%</td></tr>
<tr><td>China </td><td> 4%</td></tr>
<tr><td>United Arab Emirates </td><td> 3%</td></tr>
<tr><td>Egypt </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Germany </td><td> 2%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Singapore </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Sri Lanka </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Kuwait </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Fenugreek Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 75%</td></tr>
<tr><td>Egypt </td><td> 7%</td></tr>
<tr><td>Turkey </td><td> 5%</td></tr>
<tr><td>China </td><td> 4%</td></tr>
<tr><td>Ethiopia </td><td> 2%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Australia </td><td> 1%</td></tr>
<tr><td>United Arab Emirates </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Saudi Arabia </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Iraq </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Yemen </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Fenugreek Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td>$1.2/kg </td><td>$0.55/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td>$1.3/kg </td><td>$0.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td>$1.4/kg </td><td>$0.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sudan </td><td>$1.5/kg </td><td>$0.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey </td><td>$1.7/kg </td><td>$0.77/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Syria </td><td>$1.8/kg </td><td>$0.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td>$1.9/kg </td><td>$0.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Algeria </td><td>$2.0/kg </td><td>$0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td>$2.1/kg </td><td>$0.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nepal </td><td>$2.2/kg </td><td>$1.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Afghanistan </td><td>$2.3/kg </td><td>$1.05/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iraq </td><td>$2.4/kg </td><td>$1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td>$2.5/kg </td><td>$1.14/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td>$2.6/kg </td><td>$1.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Yemen </td><td>$2.7/kg </td><td>$1.23/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td>$2.8/kg </td><td>$1.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh </td><td>$2.9/kg </td><td>$1.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia </td><td>$3.0/kg </td><td>$1.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td>$3.1/kg </td><td>$1.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td>$3.2/kg </td><td>$1.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Fenugreek price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td>$18.6/kg </td><td>$8.45/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td>$17.9/kg </td><td>$8.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td>$17.2/kg </td><td>$7.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td>$16.5/kg </td><td>$7.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td>$15.8/kg </td><td>$7.18/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td>$15.1/kg </td><td>$6.86/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td>$14.4/kg </td><td>$6.54/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td>$13.7/kg </td><td>$6.22/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td>$13.0/kg </td><td>$5.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td>$12.3/kg </td><td>$5.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td>$11.6/kg </td><td>$5.27/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td>$10.9/kg </td><td>$4.95/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td>$10.2/kg </td><td>$4.64/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td>$9.5/kg </td><td>$4.32/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td>$8.8/kg </td><td>$4.00/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td>$8.1/kg </td><td>$3.68/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td>$7.4/kg </td><td>$3.36/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td>$6.7/kg </td><td>$3.04/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Fenugreek growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 80%</td></tr>
<tr><td>Morocco </td><td> 5%</td></tr>
<tr><td>Turkey </td><td> 3%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>Pakistan </td><td> 1%</td></tr>
<tr><td>Afghanistan </td><td> 1%</td></tr>
<tr><td>Bangladesh </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>Sudan </td><td> 1%</td></tr>
<tr><td>Ukraine </td><td> 1%</td></tr>
<tr><td>Iraq </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Algeria </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Fenugreek Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>India </td><td> September to February</td></tr>
<tr><td>Ethiopia </td><td> October to March</td></tr>
<tr><td>Pakistan </td><td> October to February</td></tr>
<tr><td>Sudan </td><td> October to March</td></tr>
<tr><td>Turkey </td><td> May to June</td></tr>
<tr><td>Syria </td><td> May to June</td></tr>
<tr><td>Morocco </td><td> June to July</td></tr>
<tr><td>Algeria </td><td> June to July</td></tr>
<tr><td>Iran </td><td> May to June</td></tr>
<tr><td>Nepal </td><td> October to November</td></tr>
<tr><td>Afghanistan </td><td> May to June</td></tr>
<tr><td>Iraq </td><td> May to June</td></tr>
<tr><td>Egypt </td><td> November to January</td></tr>
<tr><td>Tunisia </td><td> June to July</td></tr>
<tr><td>Yemen </td><td> June to July</td></tr>
<tr><td>Saudi Arabia </td><td> October to December</td></tr>
<tr><td>Bangladesh </td><td> November to January</td></tr>
<tr><td>Malaysia </td><td> Year-round</td></tr>
<tr><td>Indonesia </td><td> Year-round</td></tr>
<tr><td>Sri Lanka </td><td> Year-round</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Fenugreek</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 52.7%</td></tr>
<tr><td>Bangladesh </td><td> 7.6%</td></tr>
<tr><td>Pakistan </td><td> 4.4%</td></tr>
<tr><td>Nepal </td><td> 4.1%</td></tr>
<tr><td>Egypt </td><td> 2.4%</td></tr>
<tr><td>Sudan </td><td> 2.2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2.1%</td></tr>
<tr><td>Algeria </td><td> 1.7%</td></tr>
<tr><td>Iraq </td><td> 1.6%</td></tr>
<tr><td>Iran </td><td> 1.5%</td></tr>
<tr><td>Morocco </td><td> 1.5%</td></tr>
<tr><td>Yemen </td><td> 1.3%</td></tr>
<tr><td>Tunisia </td><td> 1.2%</td></tr>
<tr><td>Turkey </td><td> 1.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.9%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.8%</td></tr>
<tr><td>Libya </td><td> 0.7%</td></tr>
<tr><td>Syria </td><td> 0.6%</td></tr>
<tr><td>Oman </td><td> 0.6%</td></tr>
<tr><td>Qatar </td><td> 0.4%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Fenugreek<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 0.05%</td></tr>
<tr><td>Canada </td><td> 0.1%</td></tr>
<tr><td>UK </td><td> 0.2%</td></tr>
<tr><td>Australia </td><td> 0.2%</td></tr>
<tr><td>France </td><td> 0.2%</td></tr>
<tr><td>Germany </td><td> 0.2%</td></tr>
<tr><td>Italy </td><td> 0.3%</td></tr>
<tr><td>Spain </td><td> 0.3%</td></tr>
<tr><td>Japan </td><td> 0.3%</td></tr>
<tr><td>South Korea </td><td> 0.3%</td></tr>
<tr><td>Netherlands </td><td> 0.3%</td></tr>
<tr><td>Belgium </td><td> 0.3%</td></tr>
<tr><td>Switzerland </td><td> 0.3%</td></tr>
<tr><td>Austria </td><td> 0.3%</td></tr>
<tr><td>Sweden </td><td> 0.3%</td></tr>
<tr><td>Denmark </td><td> 0.3%</td></tr>
<tr><td>Norway </td><td> 0.2%</td></tr>
<tr><td>Finland </td><td> 0.2%</td></tr>
<tr><td>New Zealand </td><td> 0.1%</td></tr>
<tr><td>Ireland </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Fenugreek Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>

<tr><td>India </td><td> 80%</td></tr>
<tr><td>Pakistan </td><td> 5%</td></tr>
<tr><td>Nepal </td><td> 2%</td></tr>
<tr><td>Bangladesh </td><td> 1.5%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>China </td><td> 0.5%</td></tr>
<tr><td>Ethiopia </td><td> 0.5%</td></tr>
<tr><td>Iran </td><td> 0.5%</td></tr>
<tr><td>Turkey </td><td> 0.5%</td></tr>
<tr><td>Sudan </td><td> 0.4%</td></tr>
<tr><td>Morocco </td><td> 0.3%</td></tr>
<tr><td>Syria </td><td> 0.3%</td></tr>
<tr><td>Tunisia </td><td> 0.3%</td></tr>
<tr><td>Algeria </td><td> 0.3%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.2%</td></tr>
<tr><td>Iraq </td><td> 0.2%</td></tr>
<tr><td>Yemen </td><td> 0.2%</td></tr>
<tr><td>Libya </td><td> 0.2%</td></tr>
<tr><td>Jordan </td><td> 0.1%</td></tr>
<tr><td>United Arab Emirates </td><td> 0.1%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Fenugreek Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Everest Spices </td><td>India</td></tr>
<tr><td>McCormick & Company, Inc. </td><td>USA</td></tr>
<tr><td>Frontier Cop </td><td>USA</td></tr>
<tr><td>Great American Spice Company </td><td>USA</td></tr>
<tr><td>S&B Foods Inc. </td><td>Japan</td></tr>
<tr><td>Pacific Spice Company Inc. </td><td>USA</td></tr>
<tr><td>The Spice House </td><td>USA</td></tr>
<tr><td>Pure Indian Foods </td><td>USA</td></tr>
<tr><td>The East India Company </td><td>UK</td></tr>
<tr><td>A.S. International </td><td>India</td></tr>
<tr><td>KRBL Limited </td><td>India</td></tr>
<tr><td>Manisha International Private  </td><td>India</td></tr>
<tr><td>Asafoetida Company </td><td>India</td></tr>
<tr><td>Lion Brand Rice </td><td>India</td></tr>
<tr><td>Indian Products Private  </td><td>India</td></tr>
<tr><td>Naturevibe Botanicals </td><td>India</td></tr>
<tr><td>Dignity Foods Private Limited </td><td>India</td></tr>
<tr><td>Alchemy Foodtech Private  </td><td>Singapore</td></tr>
<tr><td>Shan Foods Private Limited </td><td>Pakistan</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Fenugreek Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International  </td><td>Singapore</td></tr>
<tr><td>Evergreen Exports </td><td>India</td></tr>
<tr><td>Agrocrops Exim Limited </td><td>India</td></tr>
<tr><td>Altrafine Gums </td><td>India</td></tr>
<tr><td>Shaanxi Jintai Biological  </td><td>China</td></tr>
<tr><td>Shreeji Expeller Industries </td><td>India</td></tr>
<tr><td>Green Earth Products </td><td>India</td></tr>
<tr><td>Madhur Industries Limited </td><td>India</td></tr>
<tr><td>PSM Spices </td><td>India</td></tr>
<tr><td>D. D. Shah Exporters </td><td>India</td></tr>
<tr><td>Gopika Exports </td><td>India</td></tr>
<tr><td>Jabs International Private  </td><td>India</td></tr>
<tr><td>Shaanxi Fuheng FH Biotechnology Co. Ltd. </td><td>China</td></tr>
<tr><td>P.C. Kannan & Co. </td><td>India</td></tr>
<tr><td>Nakoda Corporation </td><td>India</td></tr>
<tr><td>Herbs Village </td><td>India</td></tr>
<tr><td>Saipro Biotech Private  </td><td>India</td></tr>
<tr><td>Avestia Pharma </td><td>India</td></tr>
<tr><td>Yashoda Seeds Private  </td><td>India</td></tr>
<tr><td>Kiran Food Products </td><td>India</td></tr>


</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Fenugreek Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Fenugreek in the food and beverage industry, particularly in the USA, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Fenugreek as a natural ingredient in health supplements and functional foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Fenugreek due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Fenugreek.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Fenugreek in a variety of products, including spice blends, teas, and baked goods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Fenugreek yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Fenugreek production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Fenugreek market, such as Egypt and Ethiopia.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Fenugreek supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the potential health benefits of Fenugreek, including its ability to reduce inflammation and lower cholesterol levels.</div>
</div>

</div>


</body>
</html>

