<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("ginger-min.jpg"),:size => "100x100" %>
         
           <h4>Ginger</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $4.4 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 5.5%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 7.7 billion pounds.</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Ginger is considered a low-risk product with moderate potential for export opportunities. One of the main risks associated with ginger production is the vulnerability of ginger crops to fungal diseases and pests. However, with proper care and management, these risks can be mitigated. Ginger has a variety of potential export opportunities, particularly in the food and beverage industry. Ginger is commonly used in Asian cuisine and has gained popularity in Western cuisine for its health benefits and unique flavor. It is also used in the production of essential oils, cosmetics, and herbal medicines.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Ginger Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 20.6%</td></tr>
<tr><td>Mexico </td><td> 9.9%</td></tr>
<tr><td>Germany </td><td> 6.3%</td></tr>
<tr><td>United Kingdom </td><td> 5.6%</td></tr>
<tr><td>France </td><td> 5.1%</td></tr>
<tr><td>Netherlands </td><td> 4.2%</td></tr>
<tr><td>Canada </td><td> 3.9%</td></tr>
<tr><td>Spain </td><td> 3.8%</td></tr>
<tr><td>Italy </td><td> 3.5%</td></tr>
<tr><td>Belgium </td><td> 2.8%</td></tr>
<tr><td>Japan </td><td> 2.6%</td></tr>
<tr><td>Australia </td><td> 2.1%</td></tr>
<tr><td>South Korea </td><td> 1.7%</td></tr>
<tr><td>Sweden </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.4%</td></tr>
<tr><td>Denmark </td><td> 1.3%</td></tr>
<tr><td>Russia </td><td> 1.2%</td></tr>
<tr><td>Switzerland </td><td> 1.1%</td></tr>
<tr><td>Austria </td><td> 1.0%</td></tr>
<tr><td>Norway </td><td> 0.9%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Ginger Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Sri Lanka </td><td> 35.2%</td></tr>
<tr><td>Indonesia </td><td> 16.4%</td></tr>
<tr><td>China </td><td> 12.4%</td></tr>
<tr><td>Vietnam </td><td> 9.7%</td></tr>
<tr><td>India </td><td> 7.3%</td></tr>
<tr><td>Madagascar </td><td> 3.2%</td></tr>
<tr><td>Seychelles </td><td> 2.9%</td></tr>
<tr><td>Malaysia </td><td> 2.6%</td></tr>
<tr><td>Thailand </td><td> 1.7%</td></tr>
<tr><td>Guatemala </td><td> 1.3%</td></tr>
<tr><td>Uganda </td><td> 1.1%</td></tr>
<tr><td>Honduras </td><td> 1.0%</td></tr>
<tr><td>Brazil </td><td> 0.9%</td></tr>
<tr><td>Tanzania </td><td> 0.8%</td></tr>
<tr><td>Peru </td><td> 0.6%</td></tr>
<tr><td>Cameroon </td><td> 0.6%</td></tr>
<tr><td>Ethiopia </td><td> 0.5%</td></tr>
<tr><td>Grenada </td><td> 0.5%</td></tr>
<tr><td>Jamaica </td><td> 0.4%</td></tr>
<tr><td>Dominica </td><td> 0.3%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Ginger Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Sri Lanka</td><td> $4.50/kg </td><td> $2.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia</td><td> $5.00/kg </td><td> $2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam</td><td> $5.50/kg </td><td> $2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China</td><td> $6.00/kg </td><td> $2.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India</td><td> $6.50/kg </td><td> $2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar</td><td> $7.00/kg </td><td> $3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bangladesh</td><td> $7.50/kg </td><td> $3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malaysia</td><td> $8.00/kg </td><td> $3.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand</td><td> $8.50/kg </td><td> $3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil</td><td> $9.00/kg </td><td> $4.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala</td><td> $9.50/kg </td><td> $4.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico</td><td> $10.00/kg </td><td> $4.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru</td><td> $11.00/kg </td><td> $5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Honduras</td><td> $12.00/kg </td><td> $5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines</td><td> $12.50/kg </td><td> $5.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt</td><td> $13.00/kg </td><td> $5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran</td><td> $13.50/kg </td><td> $6.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Turkey</td><td> $14.00/kg </td><td> $6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States</td><td> $15.00/kg </td><td> $6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan</td><td> $16.00/kg </td><td> $7.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Ginger price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $48.45/KG </td><td> $22.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $39.83/KG </td><td> $18.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $37.75/KG </td><td> $17.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $35.90/KG </td><td> $16.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $32.70/KG </td><td> $14.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $32.60/KG </td><td> $14.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $32.08/KG </td><td> $14.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $31.40/KG </td><td> $14.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $31.00/KG </td><td> $14.10/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $30.60/KG </td><td> $13.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $30.00/KG </td><td> $13.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $29.50/KG </td><td> $13.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $29.00/KG </td><td> $13.15/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $28.40/KG </td><td> $12.90/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $28.30/KG </td><td> $12.85/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Austria </td><td> $28.00/KG </td><td> $12.70/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $27.60/KG </td><td> $12.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Finland </td><td> $27.00/KG </td><td> $12.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $26.40/KG </td><td> $12.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $26.00/KG </td><td> $11.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $25.50/KG </td><td> $11.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Ginger growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Indonesia </td><td> 37.2%</td></tr>
<tr><td>China </td><td> 24.2%</td></tr>
<tr><td>Sri Lanka </td><td> 8.6%</td></tr>
<tr><td>Vietnam </td><td> 7.9%</td></tr>
<tr><td>Madagascar </td><td> 4.4%</td></tr>
<tr><td>India </td><td> 4.1%</td></tr>
<tr><td>Cambodia </td><td> 2.2%</td></tr>
<tr><td>Peru </td><td> 2.0%</td></tr>
<tr><td>Guatemala </td><td> 1.3%</td></tr>
<tr><td>Philippines </td><td> 1.2%</td></tr>
<tr><td>Tanzania </td><td> 1.0%</td></tr>
<tr><td>Egypt </td><td> 0.9%</td></tr>
<tr><td>Brazil </td><td> 0.7%</td></tr>
<tr><td>Ethiopia </td><td> 0.7%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Bangladesh </td><td> 0.6%</td></tr>
<tr><td>Ecuador </td><td> 0.5%</td></tr>
<tr><td>Nigeria </td><td> 0.4%</td></tr>
<tr><td>Dominican Republic </td><td> 0.4%</td></tr>
<tr><td>Haiti </td><td> 0.3%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Ginger Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Sri Lanka </td><td> June to October</td></tr>
<tr><td>Indonesia </td><td> June to October</td></tr>
<tr><td>China </td><td> August to November</td></tr>
<tr><td>Vietnam </td><td> May to October</td></tr>
<tr><td>Madagascar </td><td> December to March</td></tr>
<tr><td>India </td><td> October to January</td></tr>
<tr><td>Brazil </td><td> November to February</td></tr>
<tr><td>Malaysia </td><td> May to September</td></tr>
<tr><td>Peru </td><td> June to September</td></tr>
<tr><td>Tanzania </td><td> June to September</td></tr>
<tr><td>Thailand </td><td> April to June and September to December</td></tr>
<tr><td>Egypt </td><td> October to November and March to April</td></tr>
<tr><td>Guatemala </td><td> January to March</td></tr>
<tr><td>Philippines </td><td> June to August</td></tr>
<tr><td>Colombia </td><td> December to March</td></tr>
<tr><td>Ethiopia </td><td> June to September</td></tr>
<tr><td>Honduras </td><td> February to April</td></tr>
<tr><td>Mexico </td><td> October to January</td></tr>
<tr><td>El Salvador </td><td> February to April</td></tr>
<tr><td>Papua New Guinea </td><td> September to December</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Ginger</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Indonesia </td><td> 41%</td></tr>
<tr><td>China </td><td> 18%</td></tr>
<tr><td>Vietnam </td><td> 16%</td></tr>
<tr><td>Sri Lanka </td><td> 8%</td></tr>
<tr><td>India </td><td> 7%</td></tr>
<tr><td>Madagascar </td><td> 4%</td></tr>
<tr><td>Seychelles </td><td> 1.5%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Tanzania </td><td> 0.9%</td></tr>
<tr><td>Egypt </td><td> 0.7%</td></tr>
<tr><td>Malaysia </td><td> 0.7%</td></tr>
<tr><td>Peru </td><td> 0.7%</td></tr>
<tr><td>Thailand </td><td> 0.6%</td></tr>
<tr><td>Guatemala </td><td> 0.5%</td></tr>
<tr><td>Uganda </td><td> 0.5%</td></tr>
<tr><td>Honduras </td><td> 0.5%</td></tr>
<tr><td>Ecuador </td><td> 0.4%</td></tr>
<tr><td>Bangladesh </td><td> 0.4%</td></tr>
<tr><td>Mexico </td><td> 0.3%</td></tr>
<tr><td>Grenada </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Ginger<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Denmark </td><td> 0.0%</td></tr>
<tr><td>Norway </td><td> 0.0%</td></tr>
<tr><td>Slovenia </td><td> 0.0%</td></tr>
<tr><td>Bulgaria </td><td> 0.0%</td></tr>
<tr><td>Estonia </td><td> 0.0%</td></tr>
<tr><td>Iceland </td><td> 0.0%</td></tr>
<tr><td>Latvia </td><td> 0.0%</td></tr>
<tr><td>Lithuania </td><td> 0.0%</td></tr>
<tr><td>Malta </td><td> 0.0%</td></tr>
<tr><td>Slovakia </td><td> 0.0%</td></tr>
<tr><td>Luxembourg </td><td> 0.1%</td></tr>
<tr><td>Switzerland </td><td> 0.1%</td></tr>
<tr><td>Czechia </td><td> 0.1%</td></tr>
<tr><td>Croatia </td><td> 0.1%</td></tr>
<tr><td>Portugal </td><td> 0.1%</td></tr>
<tr><td>Hungary </td><td> 0.1%</td></tr>
<tr><td>Belgium </td><td> 0.2%</td></tr>
<tr><td>Netherlands </td><td> 0.2%</td></tr>
<tr><td>Austria </td><td> 0.2%</td></tr>
<tr><td>Ireland </td><td> 0.2%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Ginger Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 29%</td></tr>
<tr><td>Indonesia </td><td> 13%</td></tr>
<tr><td>China </td><td> 9%</td></tr>
<tr><td>India </td><td> 8%</td></tr>
<tr><td>Sri Lanka </td><td> 7%</td></tr>
<tr><td>Vietnam </td><td> 5%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Malaysia </td><td> 3%</td></tr>
<tr><td>Germany </td><td> 3%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2%</td></tr>
<tr><td>United Kingdom </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>United Arab Emirates </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Ginger Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Limited </td><td> Singapore</td></tr>
<tr><td>Nedspice Group BV </td><td> Netherlands</td></tr>
<tr><td>McCormick & Company, Inc. </td><td> United States</td></tr>
<tr><td>Kerry Group </td><td> Ireland</td></tr>
<tr><td>Kalsec Inc. </td><td> United States</td></tr>
<tr><td>Pacific Spice Company, Inc. </td><td> United States</td></tr>
<tr><td>Batory Foods </td><td> United States</td></tr>
<tr><td>Bio Foods Pvt Ltd. </td><td> Sri Lanka</td></tr>
<tr><td>Haldin Pacific Semesta, PT </td><td> Indonesia</td></tr>
<tr><td>Van der Does Spice Brokers BV </td><td> Netherlands</td></tr>
<tr><td>Asafoetida House </td><td> India</td></tr>
<tr><td>Seair Exim Solutions </td><td> India</td></tr>
<tr><td>The Good Scents Company </td><td> United States</td></tr>
<tr><td>Spice Jungle, LLC </td><td> United States</td></tr>
<tr><td>Yogi Botanicals </td><td> United States</td></tr>
<tr><td>Himalayan Bio Trade Pvt. Ltd. </td><td> Nepal</td></tr>
<tr><td>Nusantara Spices </td><td> Indonesia</td></tr>
<tr><td>Amira Nature Foods Ltd. </td><td> United Arab Emirates</td></tr>
<tr><td>Naturex SA </td><td> France</td></tr>
<tr><td>William E. Tunnicliffe & Sons Ltd. </td><td> United Kingdom</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Ginger Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Ceylon Spice Company </td><td>Sri Lanka</td></tr>
<tr><td>Royal Spices International </td><td>India</td></tr>
<tr><td>PT. Topaz Global Mandiri </td><td>Indonesia</td></tr>
<tr><td>Organic Spices Inc. </td><td>USA</td></tr>
<tr><td>Universal Corporation Limited </td><td>Vietnam</td></tr>
<tr><td>Albert Kohler GmbH & Co. KG </td><td>Germany</td></tr>
<tr><td>Dru Era Pvt Ltd </td><td>Sri Lanka</td></tr>
<tr><td>Kandula Tea Company </td><td>Sri Lanka</td></tr>
<tr><td>Kanchanjangha Tea Estate and Research Center </td><td>Nepal</td></tr>
<tr><td>Bio Foods Pvt Ltd </td><td>Sri Lanka</td></tr>
<tr><td>Lankem Ceylon PLC </td><td>Sri Lanka</td></tr>
<tr><td>Euro Asia Corporation </td><td>India</td></tr>
<tr><td>Sethness Greenleaf </td><td>USA</td></tr>
<tr><td>AMR Handicrafts </td><td>India</td></tr>
<tr><td>Global Spices GmbH </td><td>Germany</td></tr>
<tr><td>Nantong Changhai Food Additive Co., Ltd </td><td>China</td></tr>
<tr><td>The Spice Hunter, Inc. </td><td>USA</td></tr>
<tr><td>Saaraketha Holdings  </td><td>Sri Lanka</td></tr>
<tr><td>David Mason Designs</td><td>UK</td></tr>
<tr><td>Spicely Organics </td><td>USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Ginger Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Ginger in the food and beverage industry, particularly in the United States, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Ginger as a natural ingredient in health supplements and functional foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Ginger due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Ginger.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Ginger in a variety of products, including teas, juices, and savory dishes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Ginger yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Ginger production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Ginger market, such as China and India.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on food safety and quality control in the Ginger supply chain, including efforts to reduce pesticide residues and improve storage and transportation.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the health benefits of Ginger, including its potential to reduce nausea and inflammation, and improve digestion.</div>
</div>

</div>


</body>
</html>

