<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}

</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("peppermint-min.jpg"),:size => "100x100" %>
         
           <h4>Peppermint</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $965 million USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced  220 million pounds.</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Peppermint risk, and the strategic value of a product's potential export opportunities with percentage 250 words:
Peppermint is a widely used herb with a variety of applications in the food, beverage, and pharmaceutical industries. Its essential oil is used in products ranging from chewing gum and toothpaste to cough drops and digestive aids. The demand for peppermint is expected to increase in the coming years, driven by the growing popularity of natural and herbal remedies.
However, there are risks associated with the production and export of peppermint. One risk is the vulnerability of peppermint crops to pests and diseases, which can impact yields and quality. Additionally, fluctuations in weather patterns and climate change can also affect production levels. Political instability in regions where peppermint is grown can also pose a risk to supply chains and exports</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Peppermint Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 20.6%</td></tr>
<tr><td>Germany </td><td> 11.9%</td></tr>
<tr><td>Japan </td><td> 6.3%</td></tr>
<tr><td>France </td><td> 6.1%</td></tr>
<tr><td>UK </td><td> 5.7%</td></tr>
<tr><td>Netherlands </td><td> 5.1%</td></tr>
<tr><td>Spain </td><td> 3.8%</td></tr>
<tr><td>Canada </td><td> 3.6%</td></tr>
<tr><td>Belgium </td><td> 3.1%</td></tr>
<tr><td>Italy </td><td> 2.7%</td></tr>
<tr><td>Russia </td><td> 2.2%</td></tr>
<tr><td>Australia </td><td> 2.1%</td></tr>
<tr><td>Switzerland </td><td> 1.9%</td></tr>
<tr><td>Sweden </td><td> 1.8%</td></tr>
<tr><td>Austria </td><td> 1.7%</td></tr>
<tr><td>Denmark </td><td> 1.6%</td></tr>
<tr><td>Norway </td><td> 1.4%</td></tr>
<tr><td>Finland </td><td> 1.2%</td></tr>
<tr><td>South Korea </td><td> 1.1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Peppermint Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 22.5%</td></tr>
<tr><td>China </td><td> 16.8%</td></tr>
<tr><td>India </td><td> 12.2%</td></tr>
<tr><td>Germany </td><td> 8.8%</td></tr>
<tr><td>France </td><td> 6.1%</td></tr>
<tr><td>UK </td><td> 4.1%</td></tr>
<tr><td>Netherlands </td><td> 3.7%</td></tr>
<tr><td>Belgium </td><td> 3.3%</td></tr>
<tr><td>Japan </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2.1%</td></tr>
<tr><td>Canada </td><td> 1.8%</td></tr>
<tr><td>Australia </td><td> 1.6%</td></tr>
<tr><td>Poland </td><td> 1.5%</td></tr>
<tr><td>Italy </td><td> 1.3%</td></tr>
<tr><td>Malaysia </td><td> 1.2%</td></tr>
<tr><td>Singapore </td><td> 0.9%</td></tr>
<tr><td>South Korea </td><td> 0.8%</td></tr>
<tr><td>Egypt </td><td> 0.8%</td></tr>
<tr><td>Morocco </td><td> 0.7%</td></tr>
<tr><td>UAE </td><td> 0.6%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Paprika price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
</thead>
<tr><td>Morocco</td><td> $11.48/kg</td><td> $5.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>India</td><td> $12.89/kg</td><td> $5.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Egypt</td><td> $13.31/kg</td><td> $6.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>China</td><td> $13.59/kg</td><td> $6.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Bulgaria</td><td> $14.51/kg</td><td> $6.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Turkey</td><td> $14.85/kg</td><td> $6.74/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Iran</td><td> $15.25/kg</td><td> $6.92/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Ukraine</td><td> $15.55/kg</td><td> $7.06/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Russia</td><td> $15.90/kg</td><td> $7.21/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Hungary</td><td> $16.11/kg</td><td> $7.31/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Spain</td><td> $16.43/kg</td><td> $7.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Serbia</td><td> $16.62/kg</td><td> $7.54/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Romania</td><td> $16.83/kg</td><td> $7.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Greece</td><td> $17.25/kg</td><td> $7.83/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>France</td><td> $17.38/kg</td><td> $7.89/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Italy</td><td> $17.71/kg</td><td> $8.03/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Tunisia</td><td> $17.95/kg</td><td> $8.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Mexico</td><td> $18.36/kg</td><td> $8.34/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Argentina</td><td> $18.69/kg</td><td> $8.48/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>USA</td><td> $19.17/kg</td><td> $8.71/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Paprika price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan</td><td> $139.35/kg</td><td> $63.20/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>UAE</td><td> $77.61/kg</td><td> $35.25/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Kuwait</td><td> $70.47/kg</td><td> $32.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Saudi Arabia</td><td> $66.76/kg</td><td> $30.30/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Bahrain</td><td> $66.48/kg</td><td> $30.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Qatar</td><td> $62.21/kg</td><td> $28.22/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Oman</td><td> $61.56/kg</td><td> $27.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Singapore</td><td> $57.90/kg</td><td> $26.28/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>South Korea</td><td> $51.43/kg</td><td> $23.35/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Australia</td><td> $49.31/kg</td><td> $22.38/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Hong Kong</td><td> $48.61/kg</td><td> $22.07/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Taiwan</td><td> $47.57/kg</td><td> $21.60/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Malaysia</td><td> $45.42/kg</td><td> $20.63/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Canada</td><td> $44.69/kg</td><td> $20.28/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>New Zealand</td><td> $44.05/kg</td><td> $19.98/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Israel</td><td> $43.60/kg</td><td> $19.80/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Switzerland</td><td> $42.71/kg</td><td> $19.40/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>UK</td><td> $41.87/kg</td><td> $19.01/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Germany</td><td> $41.15/kg</td><td> $18.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>France</td><td> $40.75/kg</td><td> $18.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
<tr><td>Netherlands</td><td> $40.49/kg</td><td> $18.39/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td><tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Peppermint growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 25.5%</td></tr>
<tr><td>China </td><td> 21.9%</td></tr>
<tr><td>USA </td><td> 12.8%</td></tr>
<tr><td>Egypt </td><td> 8.4%</td></tr>
<tr><td>Morocco </td><td> 5.5%</td></tr>
<tr><td>Bulgaria </td><td> 5.1%</td></tr>
<tr><td>Brazil </td><td> 4%</td></tr>
<tr><td>Hungary </td><td>3.3%</td></tr>
<tr><td>Argentina </td><td>3.1%</td></tr>
<tr><td>France </td><td>2%</td></tr>
<tr><td>Romania </td><td>1.8%</td></tr>
<tr><td>Iran </td><td>1.6%</td></tr>
<tr><td>Germany </td><td>1.5%</td></tr>
<tr><td>Turkey </td><td>1.3%</td></tr>
<tr><td>Paraguay </td><td>1.1%</td></tr>
<tr><td>Chile </td><td>0.9%</td></tr>
<tr><td>Australia </td><td>0.7%</td></tr>
<tr><td>Peru </td><td>0.7%</td></tr>
<tr><td>Italy </td><td>0.6%</td></tr>
<tr><td>Greece </td><td>0.5%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Peppermint Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>USA</td><td> June to Aug</td></tr>
<tr><td>China</td><td> May to Aug</td></tr>
<tr><td>India</td><td> April to June and Oct to Dec</td></tr>
<tr><td>Morocco</td><td> June to Aug</td></tr>
<tr><td>France</td><td> May to Sep</td></tr>
<tr><td>Egypt</td><td> April to June</td></tr>
<tr><td>Ukraine</td><td> July to Aug</td></tr>
<tr><td>Bulgaria</td><td> June to Aug</td></tr>
<tr><td>Iran</td><td> May to Aug</td></tr>
<tr><td>Turkey</td><td> June to Aug</td></tr>
<tr><td>Argentina</td><td> Oct to March</td></tr>
<tr><td>Russia</td><td> July to Aug</td></tr>
<tr><td>Japan</td><td> June to Aug</td></tr>
<tr><td>Spain</td><td> June to Aug</td></tr>
<tr><td>Italy</td><td> May to Aug</td></tr>
<tr><td>Romania</td><td> June to Aug</td></tr>
<tr><td>Hungary</td><td> June to Aug</td></tr>
<tr><td>Brazil</td><td> Sep to Nov</td></tr>
<tr><td>Chile</td><td> Sep to April</td></tr>
<tr><td>Mexico</td><td> April to June</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Peppermint</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 50%</td></tr>
<tr><td>China </td><td> 20%</td></tr>
<tr><td>India </td><td> 7%</td></tr>
<tr><td>Morocco </td><td> 4%</td></tr>
<tr><td>France </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Ukraine </td><td> 1.5%</td></tr>
<tr><td>Bulgaria </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 0.5%</td></tr>
<tr><td>Russia </td><td> 0.5%</td></tr>
<tr><td>Japan </td><td> 0.5%</td></tr>
<tr><td>Spain </td><td> 0.3%</td></tr>
<tr><td>Italy </td><td> 0.3%</td></tr>
<tr><td>Romania </td><td> 0.3%</td></tr>
<tr><td>Hungary </td><td> 0.2%</td></tr>
<tr><td>Brazil </td><td> 0.2%</td></tr>
<tr><td>Chile </td><td> 0.2%</td></tr>
<tr><td>Mexico </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Peppermint<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>
<tr><td>Peru </td><td> 0.1%</td></tr>
<tr><td>Vietnam </td><td> 0.1%</td></tr>
<tr><td>Pakistan </td><td> 0.1%</td></tr>
<tr><td>Nepal </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
<tr><td>Uganda </td><td> 0.1%</td></tr>
<tr><td>Colombia </td><td> 0.1%</td></tr>
<tr><td>Cameroon </td><td> 0.1%</td></tr>
<tr><td>Sri Lanka </td><td> 0.1%</td></tr>
<tr><td>Ecuador </td><td> 0.1%</td></tr>
<tr><td>Guatemala </td><td> 0.1%</td></tr>
<tr><td>Democratic Republic of Congo </td><td> 0.1%</td></tr>
<tr><td>Madagascar </td><td> 0.1%</td></tr>
<tr><td>Yemen </td><td> 0.1%</td></tr>
<tr><td>Bangladesh </td><td> 0.1%</td></tr>
<tr><td>Thailand </td><td> 0.1%</td></tr>
<tr><td>Myanmar </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Peppermint Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 30%</td></tr>
<tr><td>Germany </td><td> 20%</td></tr>
<tr><td>Japan </td><td> 10%</td></tr>
<tr><td>France </td><td> 6%</td></tr>
<tr><td>UK </td><td> 5%</td></tr>
<tr><td>Italy </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 2%</td></tr>
<tr><td>China </td><td> 1.5%</td></tr>
<tr><td>South Korea </td><td> 1.5%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Turkey </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 0.5%</td></tr>
<tr><td>Czech Republic </td><td> 0.5%</td></tr>
<tr><td>Sweden </td><td> 0.5%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Peppermint Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Fidelia Foods</td><td> USA</td></tr>
<tr><td>A. G. Industries</td><td> India</td></tr>
<tr><td>Yan'an Pharmaceutical Co.</td><td> China</td></tr>
<tr><td>HDDES Group</td><td> Egypt</td></tr>
<tr><td>Prime Herbs</td><td> India</td></tr>
<tr><td>Alen Export</td><td> India</td></tr>
<tr><td>EssenEx</td><td> Canada</td></tr>
<tr><td>Tien Thinh Co. Ltd.</td><td> Vietnam</td></tr>
<tr><td>Emilia Personal Care</td><td> UK</td></tr>
<tr><td>ZIELPOL</td><td> Poland</td></tr>
<tr><td>Starwest Botanicals</td><td> USA</td></tr>
<tr><td>Nature's Wonderland</td><td> USA</td></tr>
<tr><td>Mujezat Al Shifa Trading LLC</td><td> UAE</td></tr>
<tr><td>Aditi Naturals</td><td> India</td></tr>
<tr><td>Thymly Products</td><td> USA</td></tr>
<tr><td>ALKANATURA</td><td> Spain</td></tr>
<tr><td>Jangsu Huayuan International</td><td> China</td></tr>
<tr><td>Indus Herbs</td><td> Sri Lanka</td></tr>
<tr><td>Ceylon Spices Traders</td><td> Sri Lanka</td></tr>
<tr><td>Imperial Extracts</td><td> India</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Peppermint Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Van Rees Group B.V.</td><td> Netherlands</td></tr>
<tr><td>Aromatic Herbs Pvt. Ltd.</td><td> India</td></tr>
<tr><td>Visimex JSC</td><td> Vietnam</td></tr>
<tr><td>Middle East for Export & Import</td><td> Egypt</td></tr>
<tr><td>Hindustan Mint & Agro Products Pvt. Ltd.</td><td> India</td></tr>
<tr><td>Jayshree Chemicals Ltd.</td><td> India</td></tr>
<tr><td>The Punjab Agro Juices Ltd.</td><td> India</td></tr>
<tr><td>Shaanxi Honghao Bio Tech Co</td><td> China</td></tr>
<tr><td>SRS Aromatics Ltd.</td><td> UK</td></tr>
<tr><td>HONGBAOLAI BIOLOGICAL TEC</td><td> China</td></tr>
<tr><td>Hinterland Organics</td><td> Australia</td></tr>
<tr><td>Rakesh Sandal Industries</td><td> India</td></tr>
<tr><td>Vireo Srl</td><td> Italy</td></tr>
<tr><td>ACESUR</td><td> Spain</td></tr>
<tr><td>Kama Ayurveda Pvt. Ltd.</td><td> India</td></tr>
<tr><td>M S Exporters & Trading Co.</td><td> India</td></tr>
<tr><td>Eurofragance</td><td> Spain</td></tr>
<tr><td>Damin Foodstuff (Zhangzhou) Co.</td><td> China</td></tr>
<tr><td>Flavex Naturextrakte GmbH</td><td> Germany</td></tr>
<tr><td>The Body Shop International </td><td> UK</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Peppermint Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for natural and organic peppermint products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of peppermint as a flavoring and scent in food, beverages, cosmetics, and personal care products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising awareness of the health benefits of peppermint, including its digestive and respiratory properties.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of the aromatherapy and essential oils industry, where peppermint oil is widely used.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new markets in Asia, particularly in China and India, where peppermint is used in traditional medicine and cuisine.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advancements in technology and logistics, enabling more efficient transportation and storage of peppermint products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing competition among suppliers, leading to price fluctuations and changing market dynamics.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Greater emphasis on sustainability and ethical sourcing practices, prompting companies to seek out responsibly grown and harvested peppermint.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in natural remedies and herbal medicines, leading to higher demand for peppermint-based products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of innovative production and processing techniques, leading to the development of new and value-added peppermint products..</div>
</div>

</div>

</body>
</html>

