<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("Rosemary-min.jpg"),:size => "100x100" %>
         
           <h4>Rosemary</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.07 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 68,000 metric tons.</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
         <p><i></i>Rosemary risk and the strategic value of its potential export opportunities: The production of rosemary faces a few risks, including adverse weather conditions, pests, and diseases. However, the demand for rosemary is increasing as it is used in various industries, such as food and beverage, cosmetics, and pharmaceuticals.

Rosemary is used in the food and beverage industry as a seasoning for various dishes and as a natural preservative. The growing trend of organic and natural ingredients has increased the demand for rosemary in the food industry. In the cosmetics industry, rosemary is used as an ingredient in skincare and haircare products due to its antioxidant and anti-inflammatory properties. The pharmaceutical industry uses rosemary as a natural remedy for various ailments such as digestive disorders, muscle pain, and memory loss.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Rosemary Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 15%</td></tr>
<tr><td>Germany </td><td> 10%</td></tr>
<tr><td>France </td><td> 8%</td></tr>
<tr><td>United Kingdom </td><td> 6%</td></tr>
<tr><td>Italy </td><td> 5%</td></tr>
<tr><td>Netherlands </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 3%</td></tr>
<tr><td>Spain </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Hungary </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Rosemary Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 28%</td></tr>
<tr><td>Morocco </td><td> 18%</td></tr>
<tr><td>France </td><td> 12%</td></tr>
<tr><td>Tunisia </td><td> 10%</td></tr>
<tr><td>Portugal </td><td> 6%</td></tr>
<tr><td>Turkey </td><td> 5%</td></tr>
<tr><td>United States </td><td> 4%</td></tr>
<tr><td>Egypt </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 2%</td></tr>
<tr><td>Albania </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Bulgaria </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Cyprus </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>United Kingdom </td><td> 1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Rosemary Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> $3.50/kg </td><td>$1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $4.00/kg </td><td>$1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $4.50/kg </td><td>$2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $4.75/kg </td><td>$2.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $5.00/kg </td><td>$2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $5.50/kg </td><td>$2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $6.00/kg </td><td>$2.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $6.50/kg </td><td>$2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $7.00/kg </td><td>$3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $7.50/kg </td><td>$3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $8.00/kg </td><td>$3.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $8.50/kg </td><td>$3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $9.00/kg </td><td>$4.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $9.50/kg </td><td>$4.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $10.00/kg </td><td>$4.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $11.00/kg </td><td>$5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $12.00/kg </td><td>$5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $13.00/kg </td><td>$5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $14.00/kg </td><td>$6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $15.00/kg </td><td>$6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Rosemary price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> $3.50/kg </td><td>$1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $4.00/kg </td><td>$1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $4.50/kg </td><td>$2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $4.75/kg </td><td>$2.16/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $5.00/kg </td><td>$2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $5.50/kg </td><td>$2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $6.00/kg </td><td>$2.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $6.50/kg </td><td>$2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $7.00/kg </td><td>$3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $7.50/kg </td><td>$3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United States </td><td> $8.00/kg </td><td>$3.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Chile </td><td> $8.50/kg </td><td>$3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $9.00/kg </td><td>$4.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Africa </td><td> $9.50/kg </td><td>$4.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $10.00/kg </td><td>$4.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $11.00/kg </td><td>$5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Kingdom </td><td> $12.00/kg </td><td>$5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $13.00/kg </td><td>$5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $14.00/kg </td><td>$6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $15.00/kg </td><td>$6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Rosemary growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 45%</td></tr>
<tr><td>Tunisia </td><td> 18%</td></tr>
<tr><td>Morocco </td><td> 15%</td></tr>
<tr><td>France </td><td> 7%</td></tr>
<tr><td>Portugal </td><td> 3%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Turkey </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>United States </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.5%</td></tr>
<tr><td>China </td><td> 0.5%</td></tr>
<tr><td>India </td><td> 0.5%</td></tr>
<tr><td>Iran </td><td> 0.5%</td></tr>
<tr><td>Israel </td><td> 0.5%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Rosemary Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Spain </td><td> January to Dec</td></tr>
<tr><td>Morocco </td><td> Oct to April</td></tr>
<tr><td>Tunisia </td><td> Sep to May</td></tr>
<tr><td>Italy </td><td> June to Oct</td></tr>
<tr><td>Greece </td><td> May to Oct</td></tr>
<tr><td>Turkey </td><td> May to August</td></tr>
<tr><td>France </td><td> April to Oct</td></tr>
<tr><td>Portugal </td><td> Feb to June and Sep to Nov</td></tr>
<tr><td>Mexico </td><td> March to July</td></tr>
<tr><td>Egypt </td><td> Nov to April</td></tr>
<tr><td>Argentina </td><td> Oct to March</td></tr>
<tr><td>Chile </td><td> Nov to March</td></tr>
<tr><td>South Africa </td><td> All year round</td></tr>
<tr><td>United States </td><td> May to Sep</td></tr>
<tr><td>Australia </td><td> Nov to April</td></tr>
<tr><td>New Zealand </td><td> All year round</td></tr>
<tr><td>China </td><td> May to Oct</td></tr>
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>Iran </td><td> April to Sep</td></tr>
<tr><td>Afghanistan </td><td> June to August</td></tr>
</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Rosemary</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 32%</td></tr>
<tr><td>Morocco </td><td> 17%</td></tr>
<tr><td>Tunisia </td><td> 11%</td></tr>
<tr><td>France </td><td> 8%</td></tr>
<tr><td>Italy </td><td> 6%</td></tr>
<tr><td>Greece </td><td> 5%</td></tr>
<tr><td>Turkey </td><td> 4%</td></tr>
<tr><td>Portugal </td><td> 3%</td></tr>
<tr><td>Mexico </td><td> 2%</td></tr>
<tr><td>Egypt </td><td> 2%</td></tr>
<tr><td>Argentina </td><td> 1.5%</td></tr>
<tr><td>Chile </td><td> 1.5%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>United States </td><td> 0.5%</td></tr>
<tr><td>Australia </td><td> 0.3%</td></tr>
<tr><td>New Zealand </td><td> 0.2%</td></tr>
<tr><td>China </td><td> 0.2%</td></tr>
<tr><td>India </td><td> 0.1%</td></tr>
<tr><td>Iran </td><td> 0.1%</td></tr>
<tr><td>Afghanistan </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Rosemary<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Sweden </td><td> 0%</td></tr>
<tr><td>Norway </td><td> 0%</td></tr>
<tr><td>Finland </td><td> 0%</td></tr>
<tr><td>Denmark </td><td> 0%</td></tr>
<tr><td>Iceland </td><td> 0%</td></tr>
<tr><td>Estonia </td><td> 0%</td></tr>
<tr><td>Latvia </td><td> 0%</td></tr>
<tr><td>Lithuania </td><td> 0%</td></tr>
<tr><td>Belarus </td><td> 0%</td></tr>
<tr><td>Ukraine </td><td> 0%</td></tr>
<tr><td>Russia </td><td> 0%</td></tr>
<tr><td>Kazakhstan </td><td> 0%</td></tr>
<tr><td>Mongolia </td><td> 0%</td></tr>
<tr><td>Japan </td><td> 0%</td></tr>
<tr><td>South Korea </td><td> 0%</td></tr>
<tr><td>Philippines </td><td> 0%</td></tr>
<tr><td>Indonesia </td><td> 0%</td></tr>
<tr><td>Vietnam </td><td> 0%</td></tr>
<tr><td>Thailand </td><td> 0%</td></tr>
<tr><td>Cambodia </td><td> 0%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Rosemary Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>United States </td><td> 30%</td></tr>
<tr><td>Europe </td><td> 25%</td></tr>
<tr><td>Japan </td><td> 10%</td></tr>
<tr><td>China </td><td> 5%</td></tr>
<tr><td>Middle East </td><td> 5%</td></tr>
<tr><td>Australia </td><td> 3%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>South America </td><td> 2%</td></tr>
<tr><td>India </td><td> 2%</td></tr>
<tr><td>Africa </td><td> 2%</td></tr>
<tr><td>South Korea </td><td> 2%</td></tr>
<tr><td>Southeast Asia </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>New Zealand </td><td> 0.5%</td></tr>
<tr><td>Pakistan </td><td> 0.5%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
<tr><td>Iran </td><td> 0.5%</td></tr>
<tr><td>Turkey </td><td> 0.5%</td></tr>


</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Rosemary Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam Spices & Vegetable Ingredients </td><td>USA</td></tr>
<tr><td>Kancor Ingredients Limited </td><td>India</td></tr>
<tr><td>Pacific Spice Company </td><td>USA</td></tr>
<tr><td>McCormick & Company, Inc. </td><td>USA</td></tr>
<tr><td>Synthite Industries Ltd </td><td>India</td></tr>
<tr><td>Universal Corporation </td><td>USA</td></tr>
<tr><td>Univar Solutions Inc. </td><td>USA</td></tr>
<tr><td>Fuchs North America </td><td>USA</td></tr>
<tr><td>Allied Old English Inc. </td><td>USA</td></tr>
<tr><td>Takasago International Corporation </td><td>Japan</td></tr>
<tr><td>AGRIM Wholesale Ltd </td><td>Canada</td></tr>
<tr><td>ITC Limited </td><td>India</td></tr>
<tr><td>BCFoods </td><td>USA</td></tr>
<tr><td>Elite Spice, Inc. </td><td>USA</td></tr>
<tr><td>Kraft Heinz Ingredients </td><td>USA</td></tr>
<tr><td>Givaudan SA </td><td>Switzerland</td></tr>
<tr><td>The Food Source International, Inc. </td><td>USA</td></tr>
<tr><td>Dutch Spices </td><td>Netherlands</td></tr>
<tr><td>Sleaford Quality Foods Ltd. </td><td>UK</td></tr>
<tr><td>The Green Labs LLC </td><td>USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Rosemary Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Limited </td><td>Singapore</td></tr>
<tr><td>Firmenich SA </td><td>Switzerland</td></tr>
<tr><td>Takasago International Corporation </td><td>Japan</td></tr>
<tr><td>Mane SA </td><td>France</td></tr>
<tr><td>Givaudan SA </td><td>Switzerland</td></tr>
<tr><td>International Flavors & Fragrances Inc. </td><td>USA</td></tr>
<tr><td>Kerry Group plc </td><td>Ireland</td></tr>
<tr><td>Robertet SA </td><td>France</td></tr>
<tr><td>Symrise AG </td><td>Germany</td></tr>
<tr><td>Sensient Technologies Corporation </td><td>USA</td></tr>
<tr><td>Huabao International Holdings Limited </td><td>China</td></tr>
<tr><td>Dupont De Nemours Inc. </td><td>USA</td></tr>
<tr><td>Ajinomoto Co., Inc. </td><td>Japan</td></tr>
<tr><td>Frutarom Industries Ltd. </td><td>Israel</td></tr><tr><td>
<tr><td>Takasago International </td><td>Singapore</td></tr> 
<tr><td>McCormick & Company, Inc. </td><td>USA</td></tr>
<tr><td>Kalsec Inc. </td><td>USA</td></tr>
<tr><td>Albert Vieille SAS </td><td>France</td></tr>
<tr><td>Treatt plc </td><td>UK</td></tr>
<tr><td>Synthite Industries Ltd </td><td>India</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Rosemary Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for natural and organic rosemary products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing use of rosemary in food and beverage products, such as teas, flavorings, and seasonings.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising popularity of Mediterranean and Middle Eastern cuisines, where rosemary is a common ingredient.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing awareness of the health benefits of rosemary, including its antioxidant and anti-inflammatory properties.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of the cosmetics industry and the use of rosemary in skincare and haircare products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Emergence of new markets in Asia, particularly in China and Japan, where rosemary is used in traditional medicine and cuisine.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Advancements in technology and logistics, enabling more efficient transportation and storage of rosemary products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing competition among suppliers, leading to price fluctuations and changing market dynamics.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Greater emphasis on sustainability and ethical sourcing practices, prompting companies to seek out responsibly grown and harvested rosemary.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in natural remedies and herbal medicines, leading to higher demand for rosemary-based products..</div>
</div>

</div>

</body>
</html>

 
 
 