<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("thyme-min.jpg"),:size => "100x100" %>
         
           <h4>Thyme</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $11.7 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 3.4%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced  50,000 metric tons.</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Thyme has a relatively low risk profile as a culinary herb, as it is widely used and accepted in many different cuisines. However, there are some potential risks associated with the production and export of thyme oil, which is commonly used in the perfume and cosmetics industries. Thyme oil can cause skin irritation and should be handled carefully, and there are also concerns about the sustainability of thyme production in some regions. However, thyme oil is in high demand and has significant export potential, particularly to the cosmetics and fragrance industries. To capitalize on this potential, producers will need to ensure high quality standards, sustainable production practices, and strong marketing and distribution channels.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Thyme Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 14%</td></tr>
<tr><td>Germany </td><td> 12%</td></tr>
<tr><td>France </td><td> 11%</td></tr>
<tr><td>UK </td><td> 7%</td></tr>
<tr><td>Italy </td><td> 6%</td></tr>
<tr><td>Netherlands </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>Canada </td><td> 3%</td></tr>
<tr><td>Japan </td><td> 3%</td></tr>
<tr><td>Belgium </td><td> 3%</td></tr>
<tr><td>Switzerland </td><td> 2%</td></tr>
<tr><td>Denmark </td><td> 2%</td></tr>
<tr><td>Austria </td><td> 2%</td></tr>
<tr><td>Poland </td><td> 2%</td></tr>
<tr><td>Sweden </td><td> 2%</td></tr>
<tr><td>Czech Republic </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Russia </td><td> 1%</td></tr>

</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Thyme Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 15%</td></tr>
<tr><td>Morocco </td><td> 12%</td></tr>
<tr><td>France </td><td> 11%</td></tr>
<tr><td>Egypt </td><td> 10%</td></tr>
<tr><td>Tunisia </td><td> 7%</td></tr>
<tr><td>Turkey </td><td> 6%</td></tr>
<tr><td>China </td><td> 5%</td></tr>
<tr><td>Bulgaria </td><td> 4%</td></tr>
<tr><td>Germany </td><td> 4%</td></tr>
<tr><td>Albania </td><td> 3%</td></tr>
<tr><td>Iran </td><td> 2%</td></tr>
<tr><td>Greece </td><td> 2%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>USA </td><td> 2%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
<tr><td>Hungary </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>

</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Thyme Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Turkey </td><td> $3.20/KG</td><td>$1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Egypt </td><td> $3.30/KG</td><td>$1.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Morocco </td><td> $3.50/KG</td><td>$1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tunisia </td><td> $3.60/KG</td><td>$1.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Spain </td><td> $4.00/KG</td><td>$1.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Greece </td><td> $4.50/KG</td><td>$2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $4.80/KG</td><td>$2.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Portugal </td><td> $5.00/KG</td><td>$2.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $5.20/KG</td><td>$2.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $5.50/KG</td><td>$2.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $5.80/KG</td><td>$2.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $6.00/KG</td><td>$2.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Iran </td><td> $6.20/KG</td><td>$2.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bulgaria </td><td> $6.50/KG</td><td>$2.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $7.00/KG</td><td>$3.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hungary </td><td> $7.50/KG</td><td>$3.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Romania </td><td> $7.80/KG</td><td>$3.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Argentina </td><td> $8.00/KG</td><td>$3.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $8.50/KG</td><td>$3.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $9.00/KG</td><td>$4.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Thyme price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/lb</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Japan </td><td> $48.00/KG</td><td>$21.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $40.00/KG</td><td>$18.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $32.00/KG</td><td>$14.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $30.00/KG</td><td>$13.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Hong Kong </td><td> $27.00/KG</td><td>$12.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $24.00/KG</td><td>$10.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $23.00/KG</td><td>$10.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $22.00/KG</td><td>$10.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $21.00/KG</td><td>$9.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $20.00/KG</td><td>$9.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $19.00/KG</td><td>$8.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $18.00/KG</td><td>$8.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $17.00/KG</td><td>$7.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $16.00/KG</td><td>$7.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>USA </td><td> $15.00/KG</td><td>$6.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $14.00/KG</td><td>$6.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Norway </td><td> $13.00/KG</td><td>$5.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $12.00/KG</td><td>$5.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Denmark </td><td> $11.00/KG</td><td>$5.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sweden </td><td> $10.00/KG</td><td>$4.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Thyme growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Spain </td><td> 28%</td></tr>
<tr><td>Morocco </td><td> 23%</td></tr>
<tr><td>France </td><td> 12%</td></tr>
<tr><td>Egypt </td><td> 8%</td></tr>
<tr><td>Turkey </td><td> 5%</td></tr>
<tr><td>Tunisia </td><td> 4%</td></tr>
<tr><td>Greece </td><td> 4%</td></tr>
<tr><td>Italy </td><td> 3%</td></tr>
<tr><td>Syria </td><td> 2%</td></tr>
<tr><td>Algeria </td><td> 2%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Portugal </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Argentina </td><td> 1%</td></tr>
<tr><td>Chile </td><td> 1%</td></tr>
<tr><td>Peru </td><td> 1%</td></tr>
<tr><td>Bulgaria </td><td> 1%</td></tr>
<tr><td>Mexico </td><td> 1%</td></tr>
<tr><td>Lebanon </td><td> 1%</td></tr>

</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Thyme Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Turkey </td><td> June to August</td></tr>
<tr><td>Morocco </td><td> March to June</td></tr>
<tr><td>Tunisia </td><td> April to July</td></tr>
<tr><td>Spain </td><td> May to Sep</td></tr>
<tr><td>Greece </td><td> June to Sep</td></tr>
<tr><td>Italy </td><td> May to Sep</td></tr>
<tr><td>Portugal </td><td> May to Sep</td></tr>
<tr><td>France </td><td> May to Sep</td></tr>
<tr><td>Croatia </td><td> May to Sep</td></tr>
<tr><td>Albania </td><td> May to Sep</td></tr>
<tr><td>Bulgaria </td><td> June to August</td></tr>
<tr><td>Hungary </td><td> June to August</td></tr>
<tr><td>Romania </td><td> June to August</td></tr>
<tr><td>Serbia </td><td> June to August</td></tr>
<tr><td>Bosnia and Herzegovina </td><td> June to August</td></tr>
<tr><td>North Macedonia </td><td> June to August</td></tr>
<tr><td>Montenegro </td><td> June to August</td></tr>
<tr><td>USA </td><td> June to August</td></tr>
<tr><td>Mexico </td><td> June to Sep</td></tr>
<tr><td>South Africa </td><td> Sep to April</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Thyme</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Morocco </td><td> 33%</td></tr>
<tr><td>Spain </td><td> 13%</td></tr>
<tr><td>Turkey </td><td> 12%</td></tr>
<tr><td>France </td><td> 8%</td></tr>
<tr><td>Italy </td><td> 6%</td></tr>
<tr><td>Greece </td><td> 4%</td></tr>
<tr><td>Egypt </td><td> 4%</td></tr>
<tr><td>Mexico </td><td> 3%</td></tr>
<tr><td>Portugal </td><td> 2%</td></tr>
<tr><td>Syria </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Albania </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Israel </td><td> 1%</td></tr>
<tr><td>Tunisia </td><td> 1%</td></tr>
<tr><td>Bulgaria </td><td> 1%</td></tr>
<tr><td>Croatia </td><td> 1%</td></tr>
<tr><td>North Macedonia </td><td> 1%</td></tr>
<tr><td>Serbia </td><td> 1%</td></tr>
<tr><td>Romania </td><td> 1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Thyme<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Australia </td><td> 0.02%</td></tr>
<tr><td>New Zealand </td><td> 0.01%</td></tr>
<tr><td>Canada </td><td> 0.01%</td></tr>
<tr><td>UK </td><td> 0.01%</td></tr>
<tr><td>Germany </td><td> 0.01%</td></tr>
<tr><td>UAE </td><td> 0.01%</td></tr>
<tr><td>Japan </td><td> 0.01%</td></tr>
<tr><td>Netherlands </td><td> 0.01%</td></tr>
<tr><td>Belgium </td><td> 0.01%</td></tr>
<tr><td>Poland </td><td> 0.01%</td></tr>
<tr><td>Switzerland </td><td> 0.01%</td></tr>
<tr><td>Hong Kong </td><td> 0.01%</td></tr>
<tr><td>Singapore </td><td> 0.01%</td></tr>
<tr><td>Malaysia </td><td> 0.01%</td></tr>
<tr><td>South Korea </td><td> 0.01%</td></tr>
<tr><td>Norway </td><td> 0.01%</td></tr>
<tr><td>Denmark </td><td> 0.01%</td></tr>
<tr><td>Austria </td><td> 0.01%</td></tr>
<tr><td>Finland </td><td> 0.01%</td></tr>
<tr><td>Sweden </td><td> 0.01%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Thyme Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 29%</td></tr>
<tr><td>France </td><td> 17%</td></tr>
<tr><td>Germany </td><td> 9%</td></tr>
<tr><td>UK </td><td> 6%</td></tr>
<tr><td>Canada </td><td> 5%</td></tr>
<tr><td>Italy </td><td> 4%</td></tr>
<tr><td>Spain </td><td> 4%</td></tr>
<tr><td>Australia </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 2%</td></tr>
<tr><td>Netherlands </td><td> 2%</td></tr>
<tr><td>Belgium </td><td> 2%</td></tr>
<tr><td>Switzerland </td><td> 1%</td></tr>
<tr><td>Sweden </td><td> 1%</td></tr>
<tr><td>Denmark </td><td> 1%</td></tr>
<tr><td>Norway </td><td> 1%</td></tr>
<tr><td>Austria </td><td> 1%</td></tr>
<tr><td>Poland </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Greece </td><td> 1%</td></tr>
<tr><td>Finland </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Thyme Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>McCormick & Company </td><td>USA</td></tr>
<tr><td>Olam International </td><td>Singapore</td></tr>
<tr><td>Pacific Spice Company Inc. </td><td>USA</td></tr>
<tr><td>Royal Wessanen NV </td><td>Netherlands</td></tr>
<tr><td>W.M. Barr & Company Inc. </td><td>USA</td></tr>
<tr><td>Asafoetida Co. </td><td>India</td></tr>
<tr><td>Biova GmbH </td><td>Germany</td></tr>
<tr><td>Herbal Hills </td><td>India</td></tr>
<tr><td>Herbs Egypt </td><td>Egypt</td></tr>
<tr><td>Sidhaai Organic </td><td>India</td></tr>
<tr><td>Herbstoreusa.com </td><td>USA</td></tr>
<tr><td>Celtic Herbal Company </td><td>UK</td></tr>
<tr><td>Montana Growers </td><td>USA</td></tr>
<tr><td>Wild Earth Naturals </td><td>USA</td></tr>
<tr><td>Banyan Botanicals </td><td>USA</td></tr>
<tr><td>The Spice House </td><td>USA</td></tr>
<tr><td>Natural Spices BV </td><td>Netherlands</td></tr>
<tr><td>TEA Natura </td><td>Italy</td></tr>
<tr><td>Van Drunen Farms </td><td>USA</td></tr>
<tr><td>Daarnhouwer & Co BV </td><td>Netherlands</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Thyme Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Naturex </td><td>France</td></tr>
<tr><td>Firmenich SA </td><td>Switzerland</td></tr>
<tr><td>Robertet SA </td><td>France</td></tr>
<tr><td>Symrise AG </td><td>Germany</td></tr>
<tr><td>International Taste Solutions . </td><td>UK</td></tr>
<tr><td>Takasago International Corp. </td><td>Japan</td></tr>
<tr><td>Givaudan SA </td><td>Switzerland</td></tr>
<tr><td>Dohler GmbH </td><td>Germany</td></tr>
<tr><td>Kerry Group </td><td>Ireland</td></tr>
<tr><td>Frutarom Industries Ltd. </td><td>Israel</td></tr>
<tr><td>Sensient Technologies Corp. </td><td>USA</td></tr>
<tr><td>Mane SA </td><td>France</td></tr>
<tr><td>Bell Flavors & Fragrances GmbH </td><td>Germany</td></tr>
<tr><td>McCormick & Company </td><td>USA</td></tr>
<tr><td>Wild Flavors GmbH </td><td>Germany</td></tr>
<tr><td>Archer Daniels Midland Co. </td><td>USA</td></tr>
<tr><td>Cargill Inc. </td><td>USA</td></tr>
<tr><td>Takasago International </td><td>Singapore</td></tr>
<tr><td>Allied Biotech Corporation </td><td>Taiwan</td></tr>
<tr><td>Beijing Heronsbill Food Material Co. Ltd. </td><td>China</td></tr>
</table>
</div>

<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Thyme Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Thyme in the food and beverage industry, particularly in the USA, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Thyme as a natural flavoring agent in spice blends, marinades, and dressings.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Thyme due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Thyme.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Thyme in a variety of products, including teas, cosmetics, and household cleaning products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Thyme yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Thyme production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Thyme market, such as Turkey and Spain.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Thyme supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the potential health benefits of Thyme, including its antibacterial and antifungal properties.</div>
</div>

</div>

</body>
</html>

