<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
.newsdata {
height: 860px;
overflow-y: scroll;
}
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7201484819730179"
     crossorigin="anonymous"></script>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("turmeric-min.jpg"),:size => "100x100" %>
         
           <h4>Turmeric</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $1.5 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 9.9%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide total produced 3.3 billion pounds.</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      

         <p><i></i>Turmeric has several potential health benefits, which makes it a popular ingredient in the food and beverage industry, as well as in the nutraceutical and pharmaceutical industries. However, there are also several risks associated with the production and trade of turmeric. One of the main risks is adulteration, as there have been reports of turmeric being mixed with other substances to increase its weight and volume. This can reduce the quality of the product and potentially harm consumers. In addition, the cultivation of turmeric requires specific growing conditions, which can be impacted by climate change and other environmental factors.

Despite these risks, there are still significant export opportunities for turmeric. The demand for turmeric is expected to increase due to its various health benefits, including its anti-inflammatory and antioxidant properties.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Turmeric Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 25%</td></tr>
<tr><td>India </td><td> 22%</td></tr>
<tr><td>Vietnam </td><td> 12%</td></tr>
<tr><td>Indonesia </td><td> 7%</td></tr>
<tr><td>Bangladesh </td><td> 6%</td></tr>
<tr><td>Pakistan </td><td> 4%</td></tr>
<tr><td>UAE </td><td> 2%</td></tr>
<tr><td>Germany </td><td> 2%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>South Africa </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Belgium </td><td> 1%</td></tr>
<tr><td>Spain </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Netherlands </td><td> 1%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Turmeric Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 68%</td></tr>
<tr><td>Pakistan </td><td> 5%</td></tr>
<tr><td>Bangladesh </td><td> 4%</td></tr>
<tr><td>Peru </td><td> 4%</td></tr>
<tr><td>Sri Lanka </td><td> 4%</td></tr>
<tr><td>Myanmar </td><td> 3%</td></tr>
<tr><td>Ethiopia </td><td> 1%</td></tr>
<tr><td>Vietnam </td><td> 1%</td></tr>
<tr><td>Uganda </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> <1%</td></tr>
<tr><td>Thailand </td><td> <1%</td></tr>
<tr><td>China </td><td> <1%</td></tr>
<tr><td>Iran </td><td> <1%</td></tr>
<tr><td>USA </td><td> <1%</td></tr>
<tr><td>UAE </td><td> <1%</td></tr>
<tr><td>Malaysia </td><td> <1%</td></tr>
<tr><td>Germany </td><td> <1%</td></tr>
<tr><td>France </td><td> <1%</td></tr>
<tr><td>Spain </td><td> <1%</td></tr>
<tr><td>Canada </td><td> <1%</td></tr>
</table>
</div>

 <div class="newsdata w3-col m2 w3-hide-small w3-hide-medium">
 <div class="w3-container">
 <div class="w3-panel w3-card w3-white w3-padding-16">
 <h5 class="w3-center"><b>News</b></h5>
 <%@exportnews.each do |exportnew|%>
    <div class="w3-card w3-round w3-light-grey">
        <div class="w3-container w3-padding">
            <p class="textline"><%=exportnew.title.capitalize%></p>
            </i><%= link_to 'Source', "#{exportnew.link}",:target => '_blank', class: " w3-button w3-theme-d1 w3-margin-bottom"%></i>
        </div>
    </div>
    </br>
  <%end%>
</div>
</div>
</div>

</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Turmeric Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>India </td><td> $0.73/kg </td><td> $0.33/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $1.44/kg </td><td> $0.65/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Myanmar </td><td> $1.49/kg </td><td> $0.67/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Pakistan </td><td> $1.62/kg </td><td> $0.73/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Thailand </td><td> $1.80/kg </td><td> $0.82/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia </td><td> $2.00/kg </td><td> $0.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $2.05/kg </td><td> $0.93/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $2.16/kg </td><td> $0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $2.17/kg </td><td> $0.98/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ethiopia </td><td> $2.25/kg </td><td> $1.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $2.25/kg </td><td> $1.02/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $2.33/kg </td><td> $1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sri Lanka </td><td> $2.33/kg </td><td> $1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Madagascar </td><td> $2.33/kg </td><td> $1.06/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $2.38/kg </td><td> $1.08/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Brazil </td><td> $2.41/kg </td><td> $1.09/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Peru </td><td> $2.48/kg </td><td> $1.12/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mexico </td><td> $2.50/kg </td><td> $1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ecuador </td><td> $2.50/kg </td><td> $1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guatemala </td><td> $2.50/kg </td><td> $1.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Turmeric price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>USD/Kg</th>
        <th>USD/Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td> $31.15/kg </td><td> $14.13/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $30.00/kg </td><td> $13.61/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $24.90/kg </td><td> $11.29/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $23.15/kg </td><td> $10.50/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Netherlands </td><td> $22.67/kg </td><td> $10.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Belgium </td><td> $22.67/kg </td><td> $10.28/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $21.81/kg </td><td> $9.89/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $20.67/kg </td><td> $9.39/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Switzerland </td><td> $20.49/kg </td><td> $9.30/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $19.49/kg </td><td> $8.84/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>New Zealand </td><td> $19.00/kg </td><td> $8.62/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $18.92/kg </td><td> $8.59/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Taiwan </td><td> $18.53/kg </td><td> $8.41/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $17.63/kg </td><td> $7.99/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UAE </td><td> $16.00/kg </td><td> $7.26/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $15.00/kg </td><td> $6.81/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $14.50/kg </td><td> $6.58/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $14.00/kg </td><td> $6.35/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $13.00/kg </td><td> $5.91/pound</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Turmeric growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 78%</td></tr>
<tr><td>Bangladesh </td><td> 6%</td></tr>
<tr><td>Pakistan </td><td> 4%</td></tr>
<tr><td>Myanmar </td><td> 3%</td></tr>
<tr><td>Thailand </td><td> 1.5%</td></tr>
<tr><td>Vietnam </td><td> 1.5%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>China </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>Sri Lanka </td><td> 0.7%</td></tr>
<tr><td>Cambodia </td><td> 0.5%</td></tr>
<tr><td>Philippines </td><td> 0.5%</td></tr>
<tr><td>Peru </td><td> 0.5%</td></tr>
<tr><td>Madagascar </td><td> 0.5%</td></tr>
<tr><td>Brazil </td><td> 0.5%</td></tr>
<tr><td>Nigeria </td><td> 0.3%</td></tr>
<tr><td>Iran </td><td> 0.3%</td></tr>
<tr><td>Guatemala </td><td> 0.3%</td></tr>
<tr><td>Ethiopia </td><td> 0.3%</td></tr>
<tr><td>Ecuador </td><td> 0.3%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Turmeric Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>India </td><td> Oct to Feb</td></tr>
<tr><td>Indonesia </td><td> July to Nov</td></tr>
<tr><td>Bangladesh </td><td> Oct to Dec-Apr to May</td></tr>
<tr><td>Myanmar </td><td> Dec to Mar</td></tr>
<tr><td>Thailand </td><td> May to July-Oct to Dec</td></tr>
<tr><td>Vietnam </td><td> Feb to Apr-Aug to Nov</td></tr>
<tr><td>China </td><td> Sep to Oct</td></tr>
<tr><td>Sri Lanka </td><td> Apr to Sep</td></tr>
<tr><td>Cambodia </td><td> Mar to June-Aug to Oct</td></tr>
<tr><td>Nepal </td><td> May to July-Sep to Nov</td></tr>
<tr><td>Malaysia </td><td> Aug to Dec</td></tr>
<tr><td>Brazil </td><td> Mar to June</td></tr>
<tr><td>Peru </td><td> Apr to Sep</td></tr>
<tr><td>Ghana </td><td> Mar to June-Sep to Dec</td></tr>
<tr><td>Nigeria </td><td> May to Aug</td></tr>
<tr><td>Madagascar </td><td> Oct to Dec</td></tr>
<tr><td>Tanzania </td><td> Sep to Nov-Mar to May</td></tr>
<tr><td>Uganda </td><td> May to Aug-Nov to Dec</td></tr>
<tr><td>Kenya </td><td> Feb to Apr-Aug to Nov</td></tr>
<tr><td>Ecuador </td><td> Jan to Mar-Aug to Dec</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Turmeric</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td> 70%</td></tr>
<tr><td>Bangladesh </td><td> 10%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Sri Lanka </td><td> 2%</td></tr>
<tr><td>Indonesia </td><td> 2%</td></tr>
<tr><td>Nepal </td><td> 2%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Egypt </td><td> 1%</td></tr>
<tr><td>Morocco </td><td> 0.8%</td></tr>
<tr><td>USA </td><td> 0.7%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.5%</td></tr>
<tr><td>UAE </td><td> 0.5%</td></tr>
<tr><td>UK </td><td> 0.4%</td></tr>
<tr><td>Germany </td><td> 0.4%</td></tr>
<tr><td>France </td><td> 0.3%</td></tr>
<tr><td>Canada </td><td> 0.3%</td></tr>
<tr><td>Australia </td><td> 0.3%</td></tr>
<tr><td>Japan </td><td> 0.2%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Turmeric<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Mexico </td><td> 0.1%</td></tr>
<tr><td>Brazil </td><td> 0.1%</td></tr>
<tr><td>Argentina </td><td> 0.1%</td></tr>
<tr><td>Chile </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
<tr><td>Nigeria </td><td> 0.1%</td></tr>
<tr><td>Ethiopia </td><td> 0.1%</td></tr>
<tr><td>Ghana </td><td> 0.1%</td></tr>
<tr><td>Cameroon </td><td> 0.1%</td></tr>
<tr><td>Ivory Coast </td><td> 0.1%</td></tr>
<tr><td>Uganda </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Mozambique </td><td> 0.1%</td></tr>
<tr><td>Zimbabwe </td><td> 0.1%</td></tr>
<tr><td>Zambia </td><td> 0.1%</td></tr>
<tr><td>Malawi </td><td> 0.1%</td></tr>
<tr><td>Rwanda </td><td> 0.1%</td></tr>
<tr><td>Burundi </td><td> 0.1%</td></tr>
<tr><td>Democratic Republic of the Congo </td><td> 0.1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Turmeric Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>India </td><td>78%</td></tr>
<tr><td>Bangladesh </td><td> 4%</td></tr>
<tr><td>Pakistan </td><td> 3%</td></tr>
<tr><td>Sri Lanka </td><td> 2%</td></tr>
<tr><td>Taiwan </td><td> 1%</td></tr>
<tr><td>USA </td><td> 1%</td></tr>
<tr><td>Iran </td><td> 1%</td></tr>
<tr><td>Nepal </td><td> 1%</td></tr>
<tr><td>Japan </td><td> 1%</td></tr>
<tr><td>Malaysia </td><td> 1%</td></tr>
<tr><td>UK </td><td> 1%</td></tr>
<tr><td>South Korea </td><td> 1%</td></tr>
<tr><td>Germany </td><td> 1%</td></tr>
<tr><td>Thailand </td><td> 1%</td></tr>
<tr><td>France </td><td> 1%</td></tr>
<tr><td>Indonesia </td><td> 1%</td></tr>
<tr><td>Philippines </td><td> 1%</td></tr>
<tr><td>Brazil </td><td> 1%</td></tr>
<tr><td>Italy </td><td> 1%</td></tr>
<tr><td>Canada </td><td> 1%</td></tr>

</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Turmeric Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Ltd. </td><td> Singapore</td></tr>
<tr><td>Etti Import Export GmbH </td><td> Germany</td></tr>
<tr><td>McCormick & Company, Inc. </td><td> USA</td></tr>
<tr><td>The Elite International </td><td> India</td></tr>
<tr><td>Everest Spices </td><td> India</td></tr>
<tr><td>MDH Spices </td><td> India</td></tr>
<tr><td>Bart Ingredients Co. Ltd. </td><td> UK</td></tr>
<tr><td>J.O. Spice Company, Inc. </td><td> USA</td></tr>
<tr><td>Shah Ratanshi Khimji </td><td> India</td></tr>
<tr><td>Kanegrade Ltd. </td><td> UK</td></tr>
<tr><td>Santhosh Spices and Flavors </td><td> India</td></tr>
<tr><td>The Spice House </td><td> USA</td></tr>
<tr><td>Simply Organic </td><td> USA</td></tr>
<tr><td>Great American Spice  </td><td> USA</td></tr>
<tr><td>Fuchs North America </td><td> USA</td></tr>
<tr><td>B&G Foods, Inc. </td><td> USA</td></tr>
<tr><td>Huy Fong Foods, Inc. </td><td> USA</td></tr>
<tr><td>Frito-Lay, Inc. </td><td> USA</td></tr>
<tr><td>MTR Foods </td><td> India</td></tr>
<tr><td>Frontier Coop </td><td> USA</td></tr>
</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Turmeric Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Olam International Ltd. </td><td> Singapore</td></tr>
<tr><td>Starwest Botanicals, Inc. </td><td> USA</td></tr>
<tr><td>McCormick & Company, Inc. </td><td> USA</td></tr>
<tr><td>Silk Road Spice Merchants </td><td> Canada</td></tr>
<tr><td>Food Export Group </td><td> Turkey</td></tr>
<tr><td>Sino-Bio Tech GmbH </td><td> Germany</td></tr>
<tr><td>Spice Jungle </td><td> USA</td></tr>
<tr><td>Naturevibe Botanicals </td><td> India</td></tr>
<tr><td>Herbal Bio Solutions </td><td> India</td></tr>
<tr><td>Raja Foods LLC </td><td> USA</td></tr>
<tr><td>Bahuvida Limited </td><td> India</td></tr>
<tr><td>R. K. Trading Co. </td><td> India</td></tr>
<tr><td>Agronic Food Inc. </td><td> Canada</td></tr>
<tr><td>Global Traders </td><td> India</td></tr>
<tr><td>Sri Balaji Traders </td><td> India</td></tr>
<tr><td>Nando's </td><td> South Africa</td></tr>
<tr><td>PT Akarindo Sentra </td><td> Indonesia</td></tr>
<tr><td>Sabater Spices </td><td> Spain</td></tr>
<tr><td>D. D. Enterprises </td><td> India</td></tr>
<tr><td>ETG Commodities Inc. </td><td> Canada</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Turmeric Current Trend</h3></div> 
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing demand for Turmeric in the food and beverage industry, particularly in the USA, Europe, and Asia-Pacific region.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing popularity of Turmeric as a natural ingredient in health supplements and functional foods.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising prices for Turmeric due to limited supply and high demand.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing demand for organic and sustainably sourced Turmeric.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of Turmeric in a variety of products, including spice blends, teas, and savory dishes.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of new technologies, such as improved cultivation methods and pest control, to increase Turmeric yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The impact of climate change on Turmeric production, including the risk of extreme weather events and changes in temperature and rainfall patterns.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">The emergence of new competitors in the Turmeric market, such as Vietnam and Nigeria.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increasing focus on traceability and transparency in the Turmeric supply chain, including efforts to ensure fair labor practices and protect the environment.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in the potential health benefits of Turmeric, including its anti-inflammatory and antioxidant properties.</div>
</div>

</div>



</body>
</html>

